@CHARSET "UTF-8";

html,body,div,dl,dt,dd,ul,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td
	{
	margin: 0;
	padding: 0;
	word-wrap : break-word ;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

fieldset,img {
	border: 0;
}

address,caption,cite,code,dfn,em,strong,th,var,optgroup {
	font-style: inherit;
	font-weight: inherit;
}

del,ins {
	text-decoration: none;
}

caption,th {
	text-align: left;
}

h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
	font-weight: normal;
}

q:before,q:after {
	content: '';
}

abbr,acronym {
	border: 0;
	font-variant: normal;
}

legend {
	color: #000;
}

input,button,textarea,select,optgroup,option {
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
}

input,button,textarea,select {
	*font-size: 100%;
}

body {
	font-size: 12px;
}

select,input,button,textarea,button {
	font: 99% arial, helvetica, clean, sans-serif;
}

table {
	font-size: inherit;
	font: 100%;
}

pre,code,kbd,samp,tt {
	font-family: monospace;
	line-height: 100%;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}

.clearfix {
	display: inline-block;
}

* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}

p,pre,address,cite {
	margin: 6px 0;
	font-size: 100%;
}

body {
	width: auto;
	height: auto;
	line-height: 1.6;
	font-family: 'Microsoft YaHei', SimSun, Helvetica, Tahoma, Arial,
		sans-serif;
	font-style: normal;
	color: #222;
	margin: 0;
	background-color: #fefefe;
	-webkit-text-size-adjust: none;
}

h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
	color: #000;
}

a {
	text-decoration: none;
	color: #00608d;
}

a:visited {
	
}

a:hover {
	color: #F60;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	text-decoration: underline;
}

#wrapper {
	margin: 0 auto;
	padding: 0;
}

#header {
	position: fixed;
	_position: static;
	left: 0;
	top: 0;
	width: 100%;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	z-index: 999;
}

#global-nav {
	background-image: url(../images/bg_shadow-bottom.png) !important;
	background-position: 0 100%;
	background-repeat: repeat-x;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ccc;
	background-color: #fafafa; /*opacity:0.9;*/
}

#global-nav-inner {
	position: relative;
	margin: 0 auto;
	padding: 0 10px;
	min-width: 960px;
	max-width: 1080px;
	width: 1080px;
}

#global-nav ul,#global-nav li {
	margin: 0;
	padding: 0;
	list-style: none;
}

#global-nav li {
	float: left;
}

#global-nav li a,#global-nav li .no-anchor {
	display: block;
	padding: 10px;
	outline: none;
	color: #666;
	text-decoration: none;
	text-shadow: 0 1px 0 #fff;
}

#global-nav li .no-anchor {
	text-decoration: line-through;
}

#global-nav li a:hover,#global-nav li.focused a {
	color: #00608d;
}

#global-nav li.focused a {
	font-weight: bold;
}

.reload {
	float: left;
	width: 125px;
}

.reload a {
	display: block;
	padding: 10px;
	background-image: url(../images/logo_worker.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	text-indent: -9999px;
	overflow: hidden;
}

#search-form {
	position: absolute;
	top: 5px;
	right: 10px;
}

#search-form form {
	margin: 0;
	padding: 0;
}

#search-form input {
	padding: 5px;
	border-style: none;
	font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'メイリオ', Meiryo,
		'ＭＳ Ｐゴシック', Helvetica, Arial, sans-serif;
	color: #666;
	background-color: transparent;
	text-shadow: 0 1px 0 #fff;
}

#search-form input.focused {
	color: #333;
}

#search-form input.submit {
	float: left;
	padding: 0;
	min-width: 0;
	width: 41px;
	height: 27px;
	background-image: url(../images/magnifying_glass_alt_16x16.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	text-indent: -9999px;
	overflow: hidden;
	border-style: none;
	cursor: pointer;
}

#search-form .keyword {
	display: block;
	margin: 0;
	padding: 0;
	/*width: 160px;*/
	border: 1px solid #ddd;
	overflow: hidden;
	background-image: url(../images/bg_x-small-shadow-top.png);
	background-repeat: repeat-x;
	background-color: #fff;
	text-shadow: none;
}

#search-form .keyword:hover,#search-form .keyword:hover #s {
	color: #333;
}

#body{
	margin: 0 auto;
	padding-top: 56px;
	_padding-top: 0;
	min-width: 960px;
	max-width: 1080px;
	width: 1080px;
	padding-bottom: 30px;
	border-bottom: 1px solid #bbb;
}

#content {
	float: left;
	width: 100%;
	margin-right: -300px;
}

#content #archives,#content #article {
	padding-right: 10px;
	margin-right: 300px;
}

#content-inner {
	padding: 20px;
}

#content-inner *:first-child {
	margin-top: 0;
}

#post-topic-area {
	margin-top: -1px;
	padding: 10px 20px;
	border: 1px solid #ddd;
	background-color: #f8f8f8;
}

#post-topic {
	margin-right: 10px;
}

#post-topic a {
	padding: 5px 10px;
}

#post-topic a span {
	background-image: url(../images/icon_post-topic.png);
	background-position: 0 50%;
	background-repeat: no-repeat;
	padding-left: 21px;
}

#topics-wrapper,#readers-wrapper {
	background-color: #fff;
	padding: 0 0 1px 0;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

#readers-wrapper {
	padding-top: 10px;
}

#sidebar {
	float: left;
	width: 300px;
	margin-top: 10px;
}

.topic-section-wrapper,.reader-section-wrapper {
	
}

.comment-section-wrapper {
	margin: 0 20px;
}

.comment-section-wrapper.facebook-plugin {
	overflow: visible;
	margin-bottom: 20px;
}

.topic-section .comment-section-wrapper {
	margin: 0;
}

.topic-section {
	
}

.topic-detail,.comment-detail,.reader-detail {
	overflow: hidden;
	padding: 15px 5px 5px 5px;
}

.single .topic-detail {
	padding-bottom: 0;
	border-bottom-style: none;
}

.topic-detail,.reader-detail { /*border-bottom: 1px solid #ddd;*/
	
}

.comment-detail {
	border-top: 1px solid #ddd;
	padding: 15px 7px 25px 7px;
}

.ad .comment-detail {
	padding: 15px 0;
}

.topic-reaction .comment-detail {
	padding: 10px 7px;
}

.topic-detail-inner,.comment-detail-inner,.reader-detail-inner {
	overflow: hidden;
}

.topic-detail-inner {
	width: 47.5%;
	float: left;
	margin: 0 8px 6px 8px;
}

.topic-detail-inner ul {
	margin: 5px 0;
	padding-left: 1.5em;
}

.topic-detail-inner ul li {
	line-height: 180%;
	list-style-image: url(../images/arrow.gif);
	font-family: verdana, '宋体', arial, sans-serif;
}

.topic-detail-inner ul span {
	float: right;
	color: #999;
	font-family: Comic Sans MS, Arial, Helvetica, sans-serif;
}

.pic_show {
	margin-top: 1em;
}

.topic-friend {
	margin: 0 10px 6px 15px;
}

/* =----------------------------------- 友情链接 */
.friendlink {
	margin: 0 1em 0 1em;
	text-indent: 2em;
}

.friend {
	margin: 6px 0.5em 2em 1.5em;
	float: left;
}

.friend ul {
	list-style: none;
	padding: 0 6px 0 0px;
}

.friend ul li {
	line-height: 180%;
	list-style-image: url(../images/link.gif);
	float: left;
	width: 175px;
	font-family: verdana, '宋体', arial, sans-serif;
}

.friend ul li span {
	float: right;
	font-family: Georgia, "Times New Roman";
	color: #999;
}

.friend h2 {
	margin-bottom: 10px;
	padding: 0 3px;
}

.friend h2 a {
	display: block;
}

.reaction-section {
	padding: 5px;
}

.reaction-section.no-1 {
	border-bottom: 1px solid #ddd;
	color: #333;
}

.topic-add-comment {
	float: right;
	color: #ccc;
}

.myads {
	text-align: center;
	margin: 10px 0 15px 0;
}

#footer {
	clear: both;
	margin: 15px;
	padding: 5px 0 10px 0;
	text-align: center;
}

#footer-nav {
	margin: 2px 0 5px 10px;
}

.cpright {
	
}

#footer-nav ul,#footer-nav li {
	margin: 0;
	padding: 0;
	list-style: none;
}

#footer-nav li {
	float: left;
	padding-right: 6px;
	line-height: 1;
}

li#copyright {
	margin-top: 10px;
	border-right-style: none;
}

.sidebar-title {
	margin: 0;
	padding: 10px 0 5px 0;
}

.sidebar-title a {
	color: #000;
	padding-right: 12px;
	background-image: url(../images/new_window_8x8.png);
	background-repeat: no-repeat;
	background-position: 100% 50%;
}

.sidebar-content {
	padding: 10px;
	background-color: #fff;
	border: 1px solid #ddd;
	font-family: verdana, '宋体', arial, sans-serif;
}

.sidebar-content ul,.sidebar-content li {
	margin: 0;
	padding: 0;
	list-style: none;
}

.sidebar-content ul {
	margin-top: -5px;
}

.sidebar-content li {
	padding: 3px 0;
	border-bottom: 1px solid #ddd;
}

.sidebar-content ul li span {
	font-family: Comic Sans MS, Arial, Helvetica, sans-serif;
	color: #777;
	margin-left: 5px;
}

.sidebar-content li:last-child {
	padding-bottom: 0;
	border-style: none;
}

.sidebar-content li .nmravayar a {
	display: block;
	margin-left: 60px;
}

.sidebar-content li.no-icon a {
	padding: 0;
	background-image: none;
}

.slider img {
	display: block;
	padding: 2px;
	border: 1px solid #ccc;
	width: 40px;
}

.slider li {
	padding: 6px 0 6px 0;
	list-style-image: none !important;
	border-bottom: 1px dashed #ccc;
	overflow: hidden;
	width: 100%
}

.slider p {
	font-size: 12px;
	margin: 0;
	padding-left: 68px;
	color: #333;
	line-height: 20px;
}

.clear {
	clear: both;
}

.web_intro {
	color: #444;
	margin-bottom: 6px;
	font-family: "PT Serif", Georgia, Times, "Times New Roman", "Heiti SC",
		"Microsoft Yahei", "微软雅黑", "宋体", serif;
	line-height: 170%;
}

.w-conmt {
	padding-left: 12px !important;
}

.w-conmt li {
	float: left;
	list-style: none !important;
}

.m-clscnt li .cnt {
	padding: 0 0 10px;
}

.cnt h5 {
	padding-top: 7px;
	line-height: 17px;
	overflow: hidden;
}

.cimg img {
	width: 150px;
	border: 1px solid #D6D6D6;
}

.cimg img:hover {
	border: 1px solid #999999;
}

.academy li {
	margin: 10px 16px 10px 0;
	width: 44%;
	text-align: center;
}

#sidebar .vendor {
	width: 300px;
	height: auto;
}

#sidebar .vendor ul li {
	width: 147px;
	height: 100px;
	margin-bottom: 4px;
}

.fl {
	float: left
}

.fr {
	float: right;
}

.fr img,.fl img {
	border: 1px solid #d9d9d9;
}

.fl:hover,.fr:hover {
	-webkit-box-shadow: 0 1px 9px rgba(0, 0, 0, 0.35);
	-moz-box-shadow: 0 1px 9px rgba(0, 0, 0, 0.35);
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.35);
	-webkit-transition: all 0.35s linear !important;
	-moz-transition: all 0.35s linear !important;
	-ms-transition: all 0.35s linear !important;
	-o-transition: all 0.35s linear !important;
	transition: all 0.35s linear !important;
	z-index: 10;
}

.sidebar-section-wrapper {
	margin-bottom: 10px;
}

.google-ad.sidebar-section-wrapper {
	background-color: #f8f8f8;
}

.topic-post {
	padding: 10px 20px 10px 20px;
}

.topic-post-title {
	font-size: 15px;
	font-weight: bold;
}

.topic-post-title .hotinfo {
	font-size: 12px;
	color: #999999;
	font-weight: normal;
}

.topic-post-info {
	color: #999999;
	padding: 0px 0px 0px 0px;
}

.topic-post-info a {
	color: #999999;
}

.topic-post-desc {
	font-size: 13px;
	border-bottom: 1px solid #DDDDDD;
	padding: 5px 0px 5px 5px;
	text-indent: 26px;
}

.topic-post-desc .imgshow {
	float: left;
	margin: 0 10px 0 0;
	overflow: hidden;
	padding: 0;
	width: 54px;
	height: 54px;
}

.topic-post-desc .imgshow dt img {
	border: 1px solid #CCCCCC;
	height: 50px;
	padding: 1px;
	width: 50px;
}

.page-list {
	float: right;
	font-size: 12px;
	height: 26px;
	padding: 10px 20px;
	text-align: center;
	width: auto;
}

.page-list a,.page-list span.cur {
	border: 1px solid #CCCCCC;
	float: left;
	height: 24px;
	line-height: 24px;
	margin: 0 2px;
	padding: 2px 10px 0px 10px;
}

.page-list a:hover,.page-list span.now-page {
	background: none repeat scroll 0 0 #0692CF;
	color: #FFFFFF;
	text-decoration: none;
}

.cpost {
	padding: 20px;
}

.cpost-title {
	margin: 0px 0px 10px 0px;
}

.cpost-title h1 {
	font: 25px/30px 'Microsoft YaHei';
	font-family: 'Microsoft YaHei', Arial, "宋体";
	color: #000000;
	text-align: center;
}

.cpost-info {
	color: #999999;
}

.cpost-info a {
	color: #999999;
}

.cpost-content {
	border-bottom: 1px dashed #DDDDDD;
	border-top: 1px dashed #DDDDDD;
	height: 1%;
	margin-top: 15px;
	overflow: hidden;
	padding: 0 0 1em;
}

.cpost-content p {
	font: 12.5px 微软雅黑, Verdana, sans-serif, 宋体;
	color: #333333;
	letter-spacing: 0.5px;
	margin: 10px 0;
	line-height: 180%;
}

.cpost-content table {
	
}

#mulu li {
	
}

.l {
	float: left;
}

.r {
	float: right;
}

.cpost-relative {
	
}

.cpost-relative .crtitle {
	font-size: 13px;
	font-weight: bold; line-height : 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 20px;
}

.cpost-relative ul {
	list-style: none outside none;
}

.cpost-relative li {
	list-style: none outside none;
	font-family: verdana, '宋体', arial, sans-serif;
    padding: 3px 0;
}

em {
	color:red;
}

h1.relative-title{
	display: inline;
}

.already-fixed {
    position: fixed;
    top: 36px;
    width: 300px;
}

.syntaxhighlighter{
	clear:both;
}