body { margin:0; padding:0; font-size:12px; background:#fff url(images/body.png) repeat-x 0 105px; color:#666; font-family:"宋体";}

td { font-size:12px;}

p,ul,form,h1,h2,h3 { margin:0; padding:0; list-style:none;}

img { border:0;}



.clear { clear:both; height:0; overflow:hidden;}

.clearfix { clear:both; zoom:1;}

.clearfix:after { clear:both; display:block; content:""; height:0; overflow:hidden;}



a { text-decoration:none; color:#005FAB;}

a:hover { color:#e8641b; text-decoration:underline;}

.white,.white a { color:#fff;}

.blue,.blue a { color:#005fab;}

.red,.red a { color:#eb6100;}

.gray { color:#999;}



#wrap { width:1000px; margin:auto; }


.header {margin-bottom:5px}
.header_b { height:75px; overflow:hidden; width:1000px; margin:auto; position:relative;VERTICAL-ALIGN:middle;}

#v3_logo  { padding: 0px;float: left;vertical-align: middle;width: 237px;line-height: 75px;text-align: left;}

#logo_r{
	BACKGROUND:#fff;
	FLOAT:right;
 padding: 0px;vertical-align: middle;width: 196px;line-height: 75px;text-align: right;
} #logo_r img {vertical-align: middle;}

#logo_m{
FLOAT:left;
	BACKGROUND:#fff;
 padding: 0px;vertical-align: middle;width: 567px;line-height: 75px;text-align:center;
}#logo_m img {vertical-align: middle;}

.v3_logo_sh a { display:block; width:300px; height:90px; background:url(images/logo_sh.png); overflow:hidden; }

.v3_se { position:absolute; right:0; top:40px;}

.v3_keyword { border:#ee9513 solid 2px; height:26px; line-height:26px; padding-left:25px; width:419px; background:url(images/keyword.png); margin-right:-1px; color:#ccc; vertical-align:middle}

.v3_searchbtn { background:#ee9513; border:0; width:93px; height:32px; cursor:pointer; color:#fff; font-size:14px; font-weight:bold; vertical-align:middle;}

.v3_baidu { position:absolute; right:10px; top:7px;}





.v3_tel { position:absolute; top:8px; right:0; overflow:hidden;}

.v3_nav { height:40px; position:relative; left:220px; overflow:hidden;}

.v3_nav li { float:left; }

.v3_nav li a { color:#fff; text-decoration:none; display:block; line-height:40px; font-size:14px; font-weight:bold; padding:0 20px; background:url(images/navline.png) no-repeat right}

.v3_nav li.home { width:80px; text-align:center; margin-right:1px;}

.v3_nav li.home a,.v3_nav li a:hover { color:#fff; background:#0d4e9e; width:auto;}



#nav { background:url(images/body.png); height:44px; margin-bottom:6px;position:relative;}



.v3_navtree { top:5px; }

.v3_navtree { position:absolute; z-index:100}

.v3_navtree .v3_title { width:210px; height:35px; background:url(images/navtreetitle.png); text-indent:17px; line-height:37px; font-size:14px; color:#fff; font-weight:bold; overflow:hidden; cursor:default;}

.v3_navtree .v3_title span{ background:url(images/v2_title.png) no-repeat right center; padding-right:30px;}

.v3_navtree .v3_content { width:209px;  *overflow:hidden; border-bottom:#0047a9 solid 1px;  background:#f6fbff; display:none;}

.v3_navtree .v3_content .t { margin-bottom:8px;color:#ff4a00}

.v3_navtree .v3_content .t a { color:#015fa7; font-size:14px; font-weight:bold;}

.v3_navtree .v3_content .t a:hover { color:#e8641b}

.v3_navtree .c { line-height:18px;}

.v3_navtree .l {border-left:#0047a9 solid 1px; border-right:#0047a9 solid 1px; border-bottom:#bbd2e2 solid 1px; padding-bottom:5px; padding-left:15px; padding-right:10px; padding-top:7px; background:url(images/dot_tree.png) no-repeat 190px 15px; zoom:1; vertical-align: bottom; position:relative; }

.v3_navtree .cur { background:#fafafa; border-bottom:#005fab solid 1px; border-top:#005fab solid 1px; border-right:#0047a9 solid 1px; border-left:#f58500 solid 3px;padding-left:13px; padding-bottom:5px; padding-top:6px; width:182px; background-position:190px 13px;}

.v3_navtree .cur .t a { color:#eb6100}

.treebox { border:#0147a9 solid 1px; border-left:0; position:absolute; left:206px; width:200px; height:300px; background:#fff; display:none; padding:10px 15px; line-height:22px; overflow:hidden;}

.treebox.t1 {top:-2px;}

.treebox.t2 {top:-88px;}

.treebox.t3 {top:-174px;}

.treebox.t4 {top:-260px;}

.treebox.t5 {top:-270px;}

.treebox .t { font-size:14px; font-weight:bold; color:#eb6100; margin-bottom:5px;}

.treeboxlist li { margin-right:5px; position:relative; line-height:24px;}

.treeboxlist li span { position:absolute; right:0; top:0; color:#ec6001; font-weight:bold; font-family:Tahoma;}

.treebox ul { border-bottom:#e5e5e5 dashed 2px; padding-bottom:8px; margin-bottom:8px; width:210px;}

.treebox .g a { margin-right:10px;}







.footer { border-top:#bcd3e3 solid 2px; margin-top:10px;}



.v3_link { color:#ccc; line-height:18px; padding:15px 0 13px 0; border-bottom:#e5e5e5 solid 1px;}

.v3_link a { margin-left:10px;}

.flogo { float:left; margin-top:5px;}

.coypright51hei { padding:15px 0; position:relative;}

.flogo a { display:block; width:242px; height:56px; background:url(images/logo2.png); overflow:hidden; line-height:999px;}

.flink { float:left; line-height:22px; padding:0 0 0 20px;}

.baojing_51hei { position:absolute; background:url(images/mm3.gif); width:100px; height:40px; right:0; top:17px}

.fps { background:#f5f5f5; padding:10px; padding-bottom:7px; line-height:20px;}



.v3_tel .text { font-size:12px; font-weight:bold; color:#999}

.v3_tel .tel { color:#eb6100; font-size:19px; font-family:Arial}

.v3_tel { color:#ccc;}



.topbar {

  height: 25px;

  line-height: 25px;

  overflow: hidden;
  BACKGROUND: url(images/bg_top.png) repeat-x scroll 0px ;
}

.topbar .n {

  margin: auto;

  width: 1000px;

}

.topbar .l {

  display: block;

  float: left;

  text-indent:20px;

}

.topbar .r {

  float: right;

}

.topbar_dot a {

  background: url("images/topbar_dot.png") no-repeat scroll 0 3px transparent;

  color: #666666;

  margin-right: 5px;

  padding-left: 10px;

}



/*2012.9.23*/

#index .v3_navtree .v3_content { display: block; }

#index .v3_navtree .v3_title span { background: none; }