  .armkb_hidden {
    display: none;
  }
  .armkb_menu_hidden {
    list-style-image: none;
    list-style-type: none;
    display: none;
  }
  .armkb_shown {
    display: block;
  }
  .armkb_menu_closebar, .armkb_menu_closebar:link, .armkb_menu_closebar:active, .armkb_menu_closebar:hover, .armkb_menu_closebar:visited {
    background: #224170;
    color: white;
    font-weight: bolder;
    padding: 2px;
  }
  .armkb_menu_shown {
    list-style-image: none;
    list-style-type: none;
    position: absolute;
    border: 1px solid black;
    background: #dddddd;
    display: block;
    padding: 2px;
    margin: 1px;
  }
  ul.armkb_celldu {
    list-style-image: none;
    list-style-type: none;
    list-style-position: outside;
    padding: 0px;
    margin: 1px;
    float: left;
  }
  .armkb_celld {
    border: 1px solid #999999;
    background: #eeeeee;
    text-align: left;
    color: black;
    padding: 2px;
    margin: 0px;
    float: left;
  }
  .armkb_celldd {
    border-left: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    background: #c8d8f0;
    padding: 2px;
    margin: 0px;
    cursor: pointer;
    float: left;
  }
  a.armkb_menulink {
    color: black;
  }
  .feedbackbox {
    border: 1px solid gray;
    background: #FFFFDD;
    padding: 5px;
  }
  .feedbackslider {
    cursor: pointer;
  }

