body {
	background: white;
	color: black;
	font-family: sans-serif;
	font-size: 14px;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	text-align: justify;
}

.header {
	margin: 0;
	padding: 0;
}

.actions {
	margin: 0;
	padding: 0;
}

.actions ul {
	margin: 0;
	padding-left: 0;
	padding-bottom: .5em;
	list-style-type: none;
	text-align: right;
}

.pageheader .actions ul {
	color: gray;
	border-bottom: 1px solid black;
}

.header {
	display: none;
}

.actions li {
	display: inline;
	padding: .2em .4em;
}

.searchform {
	display: inline;
}

.searchform form {
	display: inline;
}

input#searchbox {
	background: url(wikiicons/search-bg.gif) no-repeat;
	background-position: 100% 50%;
	padding: 0;
	padding-right: 1.2em;
	width: 10em;
}

.pagefooter {
	color: gray;
	border-top: 1px solid black;
	clear: both;
	padding-top: .5em;
	text-align: right;
}

#poweredby {
	float: left;
	width: 40%;
	text-align: left;
}

h1, h2, h3, h4, h5 {
	text-align: left;
}

table {
	border: 1px solid;
	border-collapse: collapse;
	text-align: left;
}

td {
	border: 1px solid;
	padding: 4px;
}

th {
	border: 1px solid;
	padding: 4px;
}

.inlinefooter {
	clear: both;
}

#content {
	padding-top: 1em;
	padding-bottom: 1em;
	padding-right: 1em;
}

#content > :first-child {
	margin-top: 0;
}

#content pre {
	padding: 3px 5px;
	border: 1px black;
	border-style: dashed;
	overflow: auto;
}

#backlinks {
	display: none;
}

#feedlink {
	float: right;
	width: 9em;
	text-align: right;
}

.feedbutton {
	background: #ff6600;
	color: white !important;
	border-left: 1px solid #cc9966;
	border-top: 1px solid #ccaa99;
	border-right: 1px solid #993300;
	border-bottom: 1px solid #331100;
	padding: 0px 0.5em 0px 0.5em;
	font-family: sans-serif;
	font-weight: bold;
	font-size: small;
	text-decoration: none;
	margin-top: 1em;
}

.feedbutton:hover {
	color: white !important;
	background: #ff9900;
}

img {
	border: 0;
}
