html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 400;
}

@-moz-document url-prefix() {
  body {
    font-weight: lighter !important;
  }
}

body{
	font-family: Asap, Arial, sans-serif;
	background-color: #FFF;
	color: black;
	margin: 0px;
}

a.divlink {
	left: 0px;
	top: 0px;
	width: 300px;
	height: 600px;
	position: absolute;
	cursor: pointer;
	z-index:9;
}

.adSize{
	width: 300px;
	height: 600px;
}

#banner {
	position: absolute;
	background: white;
	overflow: hidden; 
	opacity: 0;
	cursor: pointer;

	background: no-repeat url("../images/bg1.jpg");
	
	border: solid 1px black;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

#replay_button{
	background: no-repeat url("../images/replay_button.png");
	position:absolute;
	width: 10.5px;
	height: 11.5px;
	right: 10px; 
	top: 10px;
	background-size: contain;	
	z-index:10;
}

#bg1{
	background: no-repeat url("../images/bg1.jpg");
	position:absolute;
	width: 300px;
	height: 600px;
	left: 0px; 
	top: 0px;
	background-size: contain;
}

#bg2{
	background: no-repeat url("../images/bg2.jpg");
	position:absolute;
	width: 300px;
	height: 600px;
	left: 0px; 
	top: 0px;
	background-size: contain;
}

#monster_FF {
    background: url(../images/monster_FF.png) no-repeat;
    position: absolute;
    background-size: contain
}

#ctaCon{
	position: absolute;
    width: 150px;
    height: 35px;
    left: 20px;
	top: 310px;
    overflow: hidden;
}

#cta{
	background: no-repeat url("../images/cta.png");
	position:absolute;
  width: 150px;
    height: 35px;
	left: 0px; 
	top: 0px;
	background-size: contain;
}

#sheen{
	background: no-repeat url("../images/sheen.png");
	position:absolute;
	width: 47px;
	height: 70px;
	left: -45px;
	top: -13px;
	background-size: contain;
}

#icon1_shadow{
	background: no-repeat url("../images/icon1_shadow.png");
	position:absolute;
	width: 244px;
	height: 35px;
	left: 27px; 
	top: 425px;
	background-size: contain;
}

#icon1{
	background: no-repeat url("../images/icon1.png");
	position:absolute;
	width: 300px;
	height: 600px;
	left: -3px; 
	top: 0px;
	background-size: contain;
}
#blur_text{
	background: no-repeat url("../images/blur.png");
	position:absolute;
	width: 300px;
	height: 250px;
	left: 0px; 
	top: 175px;
	background-size: contain;
}

#spinCon {
    position: absolute;
    width: 74px;
    height: 131px;
    left: 57px;
    top: 70px;
    overflow: hidden;
    transform: rotate(8deg);
}
#spinBlur1{
	background: no-repeat url("../images/spinBlur1.png");
	position:absolute;
	background-size: contain;
    width: 74px;
    height: 131px;
	left: -100px;
	top: -13px;
}
#spinBlur2{
	background: no-repeat url("../images/spinBlur2.png");
	position:absolute;
	background-size: contain;
    width: 74px;
    height: 131px;
	left: -100px;

}

#walk_shadow{
	background: no-repeat url("../images/monster_walk/walk_shadow.png");
	position:absolute;
	background-size: contain;
	top: 0px;
	left:0px;
	
}





#logo{
	background: no-repeat url("../images/logo.png");
	position:absolute;
	width: 300px;
	height: 600px;
	left: 0px; 
	top: 0px;
	background-size: contain;
}

#text1{
	background: no-repeat url("../images/text1.png");
	position:absolute;
	width: 300px;
	height: 600px;
	left: 0px; 
	top: 0px;
	background-size: contain;
}

#text2{
	background: no-repeat url("../images/text2.png");
	position:absolute;
	width: 300px;
	height: 600px;
	left: 0px; 
	top: -58px;
	background-size: contain;
}

#text3{
	background: no-repeat url("../images/text3.png");
	position:absolute;
	width: 300px;
	height: 600px;
	left: 0px; 
	top: 0px;
	background-size: contain;
	/* z-index:999; */
}

#text4{
	background: no-repeat url("../images/text4.png");
	position:absolute;
	width: 300px;
	height: 600px;
	left: 0px; 
	top: 0px;
	background-size: contain;
}



/* -- Chalk Holder -------------------------------------------------------------*/

#chalk_holder{
	position:absolute;
	width: 300px;
	height: 250px;
	left: -70px; 
	top: 190px;
}

#chalk_bottom{
	background: no-repeat url("../images/chalk_bottom.png");
	position:absolute;
	width: 300px;
	height: 250px;
	left: 0px; 
	top: 0px;
	background-size: contain;
}

#chalk_left{
	background: no-repeat url("../images/chalk_left.png");
	position:absolute;
	width: 300px;
	height: 250px;
	left: 0px; 
	top: 0px;
	background-size: contain;
}

#chalk_right{
	background: no-repeat url("../images/chalk_right.png");
	position:absolute;
	width: 300px;
	height: 250px;
	left: 0px; 
	top: 0px;
	background-size: contain;
}

#chalk_top{
	background: no-repeat url("../images/chalk_top.png");
	position:absolute;
	width: 300px;
	height: 250px;
	left: 0px; 
	top: 0px;
	background-size: contain;
}

#chalk_center{
	background: no-repeat url("../images/chalk_center.png");
	position:absolute;
	width: 300px;
	height: 250px;
	left: 0px; 
	top: 0px;
	background-size: contain;
}

.smoke{
	width: 10px;
	height: 10px;
	position:absolute;
	/*background-color:#00FF00;*/
	background: no-repeat;
		background-size: contain;
	/*z-index:2;*/
	/*image-rendering: inherit;*/
}

#smokes{
	position:absolute;
	width: 10px;
	height: 10px;
	left: 0px; 
	top: 0px;
	background-size: contain;
}

#chalk_shadow{
	background: no-repeat url("../images/chalk_shadow.png");
	position:absolute;
	width: 300px;
	height: 600px;
	left: 0px; 
	top: 350px;
	background-size: contain;
}

/* -- Chalk Holder -------------------------------------------------------------*/

/* -- Monster ---------------------------------------------------------- */

.spin_size {
	width: 420px;
	height: 350px;

}

#monster_holder{
	position:absolute;
	width: 300px;
	height: 600px;
	left: 0px;
	top: 0px;
	background-size: contain;
	/*background-color: blue;*/
}

.monster{
	position:absolute;
	width: 300px;
	height: 600px;
	left: 0px; 
	top: 0px;
	background-size: contain;
}

#monster{
	background: no-repeat url("../images/monster.png");
	position:absolute;
	left: 0px; 
	top: 0px;
	background-size: contain;
}

#monster_1{
	background: no-repeat url("../images/monster_walk/monster_1.jpg");
	position:absolute;
	left: 0px; 
	top: 0px;
	background-size: contain;
}

#monster_4{
	background: no-repeat url("../images/monster_walk/monster_4.png");
	position:absolute;
	left: 0px; 
	top: 0px;
	background-size: contain;
}


#monster_5{
	background: no-repeat url("../images/monster_walk/monster_5.png");
	position:absolute;
	left: 0px; 
	top: 0px;
	background-size: contain;
}
#monster_6{
	background: no-repeat url("../images/monster_walk/monster_6.png");
	position:absolute;
	left: 0px; 
	top: 0px;
	background-size: contain;
}



/* -- Monster ---------------------------------------------------------- */

.verticalAlignCenter{
	/* Internet Explorer 10 */
	display:-ms-flexbox;
	-ms-flex-pack:center;
	-ms-flex-align:center;

	/* Firefox */
	display:-moz-box;
	-moz-box-pack:center;
	-moz-box-align:center;

	/* Safari, Opera, and Chrome */
	display:-webkit-box;
	-webkit-box-pack:center;
	-webkit-box-align:center;

	/* W3C */
	display:box;
	box-pack:center;
	box-align:center;
}
#overlay{
	background: no-repeat url("../images/overlay.jpg");
	position:absolute;
	width: 300px;
	height: 250px;
	left: 0px; 
	top: 0px;
	background-size: contain;
	opacity: 0.6;
}

#popup {
	top: 236px;
	left: 19px;
	width: 79px;
	height: 9px;
	background: url(../images/popup.png) no-repeat;
	background-size: auto auto;
	background-size: contain;
	display: none;
	position: absolute;
}

#legalText {
  position: absolute;
  right: 0;
  bottom: 0px;
  color: #ffffff;
  font-family: Arial,Helvetica,sans-serif;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  width: 100%;
  padding: 15px 10px 10px;
  background-color: rgba(0,0,0,0.45);
  box-sizing: border-box;
  text-align: center;
  display: none;
}

#legalText a {
  color: white;
}

#closeLegalText {
  position: absolute;
  right: 5px;
  top: 5px;
  left: auto;
  height: 14px;
  width: 14px;
  border-radius: 7px;
  display: block;
  background: #000000;
  /*z-index: 5000;*/
  opacity: 1;
  cursor: pointer;
}

#closeLegalText:before {
  content: "";
  display: block;
  position: absolute;
  width: 10px;
  height: 2px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  top: 6px;
  left: 2px;
  background: #ffffff;
}

#closeLegalText:after {
  content: "";
  display: block;
  position: absolute;
  width: 10px;
  height: 2px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  top: 6px;
  left: 2px;
  background: #ffffff;
}

/* basic css setup for elements ⬇︎ */

/*#{
	background: no-repeat url("../images/.png");
	position:absolute;
	width: 300px;
	height: 250px;
	left: 0px; 
	top: 0px;
	background-size: contain;
}*/