/*****popbox(popbox.css 框架)*****/
/**弹出层**/
.popup .close,.popup .icon,.popup .warn {background: url(//www1.pconline.com.cn/2014/ue/login/images/popup_bg.png?t=20140806) 0 0 no-repeat;}

.popup {width: 310px; zoom:1;}
.popup-wrap {background-color:#fff; position:relative; zoom:1;}
.popup .hd {height: 39px; border-bottom:1px solid #e5e5e5;}
.popup .hd .mark {padding-left:17px; font:18px/39px Microsoft Yahei;}
.popup .close {width: 13px;height: 13px; margin: 0; background-position:-84px -17px; position:absolute; right:14px; top: 15px; font-size:0; line-height:0; overflow:hidden;}
.popup .close:hover {background-position:-84px -17px;}
.popup .bd {padding:20px 0;}
.popup .bd p{padding: 0 20px;}
.popup .btn-wrap {height: 30px; padding:10px 0 20px; overflow:hidden; text-align:center;}
.popup .btn{ padding: 0 20px; line-height:30px; margin-right:10px; border: none; cursor:pointer; font-size:14px;}

.popup .info {padding: 10px 0; text-align:center; font-size:14px;}

.popup .icon {width:40px; height: 40px; margin-right:10px; display:inline-block; vertical-align:middle;}
.popup-sucs .icon {background-position:-1px 0;}
.popup-warn .icon {background-position:-43px 0;}
.popup-warnui .icon {background-position:0 -41px;}
.popup .input,.popup select,.popup textarea {border: 1px solid #e5e5e5;}
.popup .input {height: 20px; line-height:20px;  padding: 4px 10px;}
.popup .holder {color: #999;}
.popup select {height: 30px; line-height:30px;}
.popup textarea {width: 97%; padding:5px; display:block; resize:none; overflow-x:hidden; overflow-y:auto;}
.popup .checkbox {width: 12px; height: 12px; display:inline-block; vertical-align:middle; position:relative; top: -2px; *top:0;}

.popup .btm {height: 40px; line-height:40px; padding-right:10px; background-color:#f4f4f4; text-align:right;}
.popup .btm a{color: #3c8ae0;}
.popup .form {padding: 0 20px; text-align:left; width: 460px}
.popup .form td {padding-bottom:15px; line-height:30px; vertical-align:top;}
.popup .form .col-1 {width: 90px; padding-right:10px; text-align:right; font-size:14px;}
.popup .form .col-1 .red {font-family: Simsun;}

.popup .form .line-word td {line-height: 16px;}

.popup-purc {width:500px;}
.popup-purc .bd {padding-bottom:5px;}

.popup-login {width: 500px;}
.popup-login .form .col-1 {width: 140px;}
.popup-login .input {width: 193px;}
.popup-login .btm {text-align:center;}
.popup-login .warn {display:none;}
.popup-login iframe {display:none;}
.popup .form-tit{font:normal 14px/24px "Microsoft YaHei"; margin-bottom: 12px;}
.popup .form-tit .ext{color: #0077dd; margin-left: 20px;}
.popup .warn {height: 16px; padding-left:22px; background-position:-84px 0; color: #f33; display:none; font: 14px/14px Microsoft Yahei;}

.overlay {position:fixed; top:0; left:0; width:100%; height:100%; background:#000; filter: progid:DXImageTransform.Microsoft.alpha(opacity=30);-moz-opacity: 0.3;opacity: 0.3; z-index: 999}
* html .overlay{position:absolute;bottom:auto;top:expression(eval(document.documentElement.scrollTop));right:auto;left:expression(eval(document.documentElement.scrollLeft));height:expression(eval(document.documentElement.clientHeight));}
.qgxx{width: 468px}
.qgxx input{width: 253px;}
.qgxx .form{width: 428px; }
.tips .form td{padding-bottom: 0;}
.qgxx .form .col-1{width: 105px;}
.qgxx .form-tit{padding-left: 5px;}
.qgxx #urlPlus,.qgxx #urlMove{color: #288bde; margin-left: 5px; display: inline-block; cursor: pointer; font-size: 16px;}
.qgxx #urlMove{color: #ee4446; margin-left: 7px;}