body {
    font-family: "Segoe UI", Segoe, Tahoma, Arial, Verdana, sans-serif;
    font-size: 13px;
    color: #333;
    background:#323331;
    margin: 0;
    padding:0
}

a {
    color: #333;
    text-decoration: none;
    cursor:pointer
}

a:hover {
    color:#693
}

a img {
    border:0
}

form, ul, ol, h1, h2, h3, h4, h5, dl, dt, dd {
    margin: 0;
    padding: 0;
    list-style: none;
}

.mgtop_10 {
    margin-top:10px !important
}

.mgtop_15 {
    margin-top:15px !important
}

.mgtop_16 {
    margin-top:16px !important
}

.mgtop_20 {
    margin-top:20px !important
}

.mgbot_5 {
    margin-bottom:5px !important
}

.mgbot_10 {
    margin-bottom:10px !important
}
.mgbot_20 {
    margin-bottom:20px !important
}

.ad_300_250 {
    float: left;
    width: 300px;
    height:250px
}

.ad_468_90 {
    float: left;
    width: 470px;
    height:90px
}

.ad_465_30 {
    float: left;
    width: 470px;
    height: 30px;
    line-height:30px
}

.ad_970_90 {
    text-align: center;
    width: 100%;
    height:100%
}

.hide {
    display:none
}

.btnLink {
    margin: 3px 5px;
    color: #060;
    padding: 6px 12px;
    background-color: #d1dbc4;
    border-color: #693;
    border-radius: 4px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    display:block
}

.btnLink:hover {
    text-decoration:underline
}

.vultr {
    font-size: 15px;
    margin:10px 0
}

.page-header{
  padding:20px;
  overflow:hidden;
}

@media screen and (min-width: 768px) {
    .wrapper {
        overflow:hidden
    }
    .page,.container{max-width: 1200px;margin:0 auto;}
    .page-home{
      display:flex;
      display: -ms-flexbox;
      -ms-flex-pack: justify;
      justify-content: space-between;
    }
    #footer .sitedesc .fav{line-height:151px;}
    #footer .sitedesc .follow{float:right;}
}

@media screen and (max-width: 767px) {
    .wrapper {
        overflow:hidden
    }
    .page,.container {
        max-width: 767px;
        margin:0 auto;
    }
    .page-header,.page-home,.page-home .main,.page-home .sliderbar,.right{overflow:hidden;}

    .rightitem{
      background: #E6EAD4;
      padding: 20px;
      overflow:hidden;
    }
    .sliderbar .right h2 {
      width:100%;
      margin-left:0;
      margin:0 15px 15px 0
    }

    #footer .siteinfo, #footer .sitenav {
        display:none
    }
    #footer .sitedesc .follow{float:left;}

}

#topbar {
    background: #030;
    height: 60px;
    line-height:60px
}

#header {
    background:#8c9284
}

#topbar .nav-toggle {
    float: right;
    font-size: 20px;
    color: #fff;
    text-align:right
}

#topbar .nav a {
    color: #eee;
    padding:3px 0
}

#topbar .nav a:hover {
    color:#693
}

@media screen and (min-width: 768px) {
    #logo {
        display: block;
        float: left;
        width: 160px;
        margin-right:10px
    }

    #topbar {
        border-bottom:5px solid #d1dbc4
    }

    #topbar #toplogo {
        width: 20%;
        float: left;
        display:none
    }

    #topbar #toplogo img {
        height: 30px;
        padding-right:10px
    }

    #topbar .timestr {
        float: left;
        width: 200px;
        color:#eee
    }

    #topbar .nav-toggle {
        display:none
    }

    #topbar .nav {
        display: "";
        color: #eee;
        z-index: 9999;
        position: relative;
        text-align: center;
        font-size:15px
    }

    #topbar .nav ul li, #header .nav ul li {
        float: left;
        margin: 0 10px;
        text-align:center
    }

    #topbar .nav ul li.active a {
        color:#693
    }

    #search {
        line-height: 60px;
        float: right;
        overflow: hidden;
        padding-left:10px
    }

    #search .sinput {
        border: 0;
        height: 27px;
        font: 16px arial;
        padding-left: 7px;
        background:#e6ead4
    }

    #search .sbtn {
        width: 90px;
        cursor: pointer;
        height: 29px;
        line-height: 25px;
        background-color: #060;
        color: #eee;
        font-size: 14px;
        font-weight: 500;
        border:0
    }
}

@media screen and (max-width: 767px) {
    #topbar #toplogo {
        width: 20%;
        float: left;
        display:block
    }

    #topbar #toplogo img {
        height: 60px;
        padding-right:10px
    }

    #topbar .timestr {
        float: left;
        width: 60%;
        color: #eee;
        text-align:center
    }

    #topbar .nav-toggle {
        display:block
    }

    #topbar .nav {
        display: none;
        width: 100% !important;
        height: 100% !important;
        top: 60px;
        right: 0;
        background: #030;
        z-index: 9999;
        position:absolute
    }

    #topbar .nav ul li {
        float: left;
        width: 30%;
        text-align:center
    }

    #search {
        line-height: 50px;
        float: left;
        overflow: hidden;
        width: 90%;
        margin:0 5%
    }

    #search .sinput {
        width: 70%;
        border: 0;
        height: 27px;
        font: 16px arial;
        padding-left: 7px;
        background:#e6ead4
    }

    #search .sbtn {
        width: 26%;
        cursor: pointer;
        height: 30px;
        line-height: 30px;
        background-color: #060;
        color: #eee;
        font-weight: 600;
        border:0
    }
}

#logo a {
    float: left;
    height: 60px;
    line-height: 60px;
    color: #fff;
    font-size: 1.5rem;
    font-family:Arial, Helvetica, sans-serif
}

#logo a img {
    float: left;
    display: block;
    height: 50px;
    overflow: hidden;
    margin-top: 5px;
    margin-right:5px
}

.bg1{
    background:#d1dbc4
}

.bg2 {
    background: #E6EAD4;
}

.bg3 {
    background:#030
}

.path {
    width: 100%;
    line-height: 28px;
    font-weight: 500;
    color:#888
}

.path a {
    text-decoration:underline;
    color: #333;
}

.path_bot {
    border-bottom: 3px solid #060;
    margin-bottom:10px
}

@media screen and (min-width: 1000px) {
    .path em {
        float: right;
        font-style:normal
    }
}

@media screen and (max-width: 768px) {
    .path em {
        display: none;
        float: left;
        font-style:normal
    }
}

.pagetop {
    text-align: center;
    overflow:hidden
}

.pagetop h1 {
    width: 100%;
    float: left;
    margin: 10px 0;
    color:#333;
}
#news .l_news, #news .m_news, #news .r_news {
    float:left
}

#news .l_news h3, #news .m_news h3, #news .r_news h3 {
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    color:#030
}

#news .l_news ul li div a, #news .r_news div ul li a.txt {
    float: left;
    font-size: 14px;
    background: rgba(0, 0, 0, 0.4);
    color: #ddd;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 30px;
    height:30px
}

#news .l_news .link, #news .r_news .txt {
    float: left;
    word-break: break-all;
    margin-top: -30px;
    width:100%
}

#news .m_news ul li a {
    float: left;
    height:250px
}

#news .r_news .list {
    float: left;
    padding-top:10px
}

@media screen and (min-width: 768px) {
    #news .r_news {
        float: left;
        width:300px
    }

    #news .r_news .list div {
        width:300px
    }

    #news .m_news, #news .m_news ul li, #news .m_news ul li a, #news .m_news ul li a img {
        width:580px
    }

    #news .l_news {
        width:580px
    }

    #news .l_news ul li, #news .l_news ul li a, #news .l_news ul li a img {
        width: 290px;
        height:125px
    }

    #news .l_news ul li, #news .l_news ul li a, #news .l_news ul li a img, #news .r_news ul li a img {
        float: left;
        height:125px
    }
}

@media screen and (max-width: 767px) {
    #news .m_news {
        margin-left:0
    }

    #news .r_news {
        float: left;
        width: 100%;
        display:none
    }

    #news .r_news .list div {
        width: 100%;
        display:none
    }

    #news .m_news, #news .m_news ul li, #news .m_news ul li a, #news .m_news ul li a img {
        width: 100%;
        height: 190px
    }

    #news .l_news ul li, #news .l_news ul li a, #news .l_news ul li a img {
        width: 100%;
        height:190px
    }

    #news .l_news ul li a, #news .l_news ul li a img {
        float:left
    }
}

#news .m_news .txt, #cnews .c_news .txt, #distro .rlist .txt, #game .rlist .txt, #soft .rlist .txt {
    float: left;
    width: 100%;
    margin-top: -30px;
    background: rgba(0, 0, 0, 0.4);
    color: #ddd;
    text-align: center;
    height: 30px;
    line-height: 30px;
    font-size:18px
}

.col-depgre {
    color:#030
}

.container .title {
    float: left;
    width: 100%;
    border-bottom: 3px solid #060;
    height: 35px;
    line-height:35px
}

.container .title .tab {
    height: 35px;
    display: block;
    clear:both
}

.container .title .tab li {
    float: left;
    text-align: center;
    height: 35px;
    line-height: 35px;
    clear: none;
    padding:0 8.7px
}

.container .title .tab li h3 {
    height: 35px;
    line-height:35px
}

.container .title .tab .more {
    float:right
}

.page_slider, .nav_soft {
    overflow:hidden
}

.page_slider .slider_tab, .ad_slider .slider_tab {
    clear: both;
    display: inline;
    float: left;
    position: relative;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}

.page_slider .slider_tab div, .ad_slider .slider_tab div {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    float: left;
    height: 38px;
    line-height: 38px;
    width: 50%;
    margin-bottom: 10px;
    background: #afb3aa;
    cursor: pointer;
    color:#060
}

.page_slider .slider_tab div a, .ad_slider .slider_tab div a {
    color:#060
}

.page_slider .slider_tab div.motup {
    background: #040;
    position:relative
}

.page_slider .slider_tab div.motup {
    color:#ddd
}

.page_slider .motup-green:after {
    border-bottom:10px solid #030
}

.page_slider .motup:after {
    content: '';
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: absolute;
    top: -10px;
    left: 0;
    right: 0;
    margin:0 auto
}

.ad_slider .slider_tab div.motdown {
    background: #040;
    position: relative;
    color:#ddd
}

.ad_slider .motdown-green:after {
    border-top:10px solid #030
}

.ad_slider .motdown:after {
    content: '';
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    margin:0 auto
}

@media screen and (min-width: 768px) {
    .search_form .search-input {
        padding: 0 20px 0 20px;
        width: 865px;
        height: 38px;
        font-size: 26px;
        border: 1px solid #8c9284;
        position: absolute;
        background:#d1dbc4
    }
}

@media screen and (max-width: 767px) {
    .search_form .search-input {
        padding: 0 10px;
        height: 38px;
        font-size: 26px;
        border: 1px solid #8c9284;
        position: absolute;
        background:#d1dbc4
    }
}

.search_form form .search-btn {
    float: left;
    max-width: 142px;
    font-size: 32px;
    height: 40px;
    margin-right: 10px;
    line-height: 40px;
    cursor: default;
    color:#050
}

.search_form .lform {
    height: 40px;
    line-height:40px
}

.search_form .lform button {
    height: 40px;
    width: 40px;
    background-color: #afb3aa;
    border: 0;
    outline: 0;
    cursor: pointer;
    color: #030;
    font-size: 19px;
    font-weight: 600;
    float:right
}

.search_info .info p {
    color: #030;
    font-size: 32px !important;
    line-height:36px !important
}

.ad_slider {
    width: 100%;
    float:left
}

.slider_main {
    float: left;
    position: relative;
    width: 100%;
    margin: 10px 0 0 0;
    background: #d1dbc4;
    height:100%
}

.slider_main .row {
    text-align: center;
    float: left;
    width:20%
}

.slider_main .row .row_main {
    padding: 20px 10px;
    margin: 5px;
    height:100%
}

.slider_main .row .row_main a {
    height: 90px;
    display:block
}

.slider_main .row .row_main i {
    color:#F30
}

.slider_main .row .row_main a img {
    height: 100%;
    max-width:90px
}

.slider_main .row .row_main:hover {
    background:#d1dbc4
}

.slider_main .row .row_main .name {
    margin-top: 10px;
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    font-weight:700
}

.slider_main .row .row_main .name a {
    color:#060
}

.slider_main .row .row_main .views {
    color:#888
}

@media screen and (min-width: 768px) {
    .distro_search, .search_form {
        width: 100%;
        float: left;
        padding-top:0
    }
}

.nav_group {
    width: 100%;
    overflow:hidden
}

.nav_group .slider_tab {
    clear: both;
    display: inline;
    float: left;
    position: relative;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    background:#d1dbc4
}

.nav_group .slider_tab {
    background: #afb3aa;
    width:100%
}

.nav_group .slider_tab div {
    padding: 0 7.5px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    float: left;
    height: 38px;
    line-height: 38px;
    cursor:pointer
}

.nav_group .slider_tab div a {
    color: #333;
    font-weight:600
}

.nav_group .slider_tab div:hover a {
    color:#060;
}

.nav_group .slider_tab div.motdown {
    color: #ddd;
    background: #040;
    position: relative;
    margin-right:15px
}

.nav_group .slider_tab div.motdown a {
    color:#ddd
}

.gridlist {
  overflow:hidden;
    padding:0 20px;
}

.gridlist .grid {
    float: left;
    width: 100%;
    position: relative;
    padding:20px 0;
    border-bottom:1px solid #ddd
}
.section-title .rss{
  font-size: 16px;
    border: 1px solid #060;
    display: inline;
    padding: 5px 10px;
    border-radius: 45px;
    color: #060;
}
.h2title i{color:#060;}
@media screen and (min-width: 768px) {
    .main{width:840px;}
    .sliderbar{width:340px;}
    .section-title{
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: justify;
      justify-content: space-between;
      height: 16;
      line-height: 1;
      font-size: 16;
      font-weight: 400;
      margin:20px 20px 0;
    }
    .main .h2title{font-size:24px;}
    .gridlist .grid .ico {
        float: left;
        text-align: center;
        position: relative;
        z-index: 2 !important;
        overflow:hidden
    }

    .gridlist .grid .ln {
        float: left;
        width: 70%;
        max-width: 590px;
        margin-left: 20px;
        position: relative;
        line-height: 25px;
        font-weight: bold;
        font-size:20px
    }
}

@media screen and (max-width: 767px) {
    .gridlist .grid .ico {
        float: left;
        height: 98px;
        width: 33.333333%;
        text-align: center;
        position:relative
    }

    .gridlist .grid .ln {
      margin-left:120px;
      position: relative;
      font-size:14px;
    }
}

.gridlist .grid .ln .timestr {
    width: 50%;
    display: block;
    max-width: 240px;
    float:left
}

.gridlist .grid .title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color:#030
}

.gridlist .grid .views {
    float: left;
    color: #888;
}

.gridlist .grid .timestr {
    color:#888
}

.gridlist .grid .views span {
    margin:0 0 0 20px
}

.gridlist .grid .views span i {
    margin-right: 5px;
    color:#F30
}

.gridlist .grid .views span a i {
    color:#030
}

.gridlist .grid .views span a {
    margin-right: 10px;
    color:#888
}

.gridlist .grid .views i:hover, .gridlist .grid .views a:hover {
    text-decoration:underline
}

@media screen and (min-width: 768px) {
    .gridlist .grid h2 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight:700 !important
    }

    .gridlist .grid .ico a {
        display: block;
        height: 120px;
        width: 185px;
        background:#b8c0ae
    }
}

@media screen and (max-width: 767px) {
    .gridlist .grid h2 {
        overflow: hidden;
        font-weight:400 !important;
        font-size:16px;
    }

    .gridlist .grid .ico a {
        display: block;
        height: 90px;
        width: auto;
        background:#b8c0ae
    }
}

@media screen and (min-width: 768px) {
    .gridlist .grid .excerpt {
        height:75px
    }
}

@media screen and (max-width: 767px) {
    .gridlist .grid .excerpt {
        height:0
    }
}

.gridlist .grid h2 a {
    color: #444;
}
.gridlist .grid h2 a:hover {
    color:#060;
}

.gridlist .grid .ico img {
    width: 100%;
    height:100%
}

.paginatio {
    overflow: hidden;
    clear: both;
    height: 40px;
    font-size: 16px;
    line-height: 40px;
    text-transform:uppercase
}

@media screen and (min-width: 768px) {
    .paginatio .fr-pa .prev, .paginatio .fr-pa .next {
        width:60px
    }
}

.paginatio .fr-pa a {
    text-align: center;
    float: left;
    width: 30px;
    font-weight: 600;
    color:#888
}

.paginatio .fr-pa a:hover {
    color:#060
}

.paginatio .dots {
    text-align: center;
    width: 30px;
    line-height: 30px;
    float:left
}

.paginatio .fr-pa .active {
    color:#060
}

@media screen and (min-width: 768px) {
    .paginatio .fr-pa {
        float:right
    }
}

@media screen and (max-width: 767px) {
    .cbox_r {
        min-width:300px
    }
}

.tabbar {
    width: 100%;
    height: 30px;
    width: 100%;
    color: #999;
    font-weight: 500;
}

.tabbar span {
    height: 28px;
    line-height:28px
}

.tabbar .vote {
    float:right
}

.tabbar .vote span {
    padding-left:15px
}

.article {
    font-size: 16px;
    line-height: 32px;
    color:#333;
    padding:20px;
}

.article_info .content table.dataintable {
    margin-top: 15px;
    border-collapse: collapse;
    border: 1px solid #eee;
    width:100%
}

.article .content table.dataintable th {
    vertical-align: baseline;
    padding: 3px 15px 3px 6px;
    background-color: #8c9284;
    border: 1px solid #eee;
    text-align: left;
    color:#030
}

.article .content table.dataintable td {
    vertical-align: text-top;
    padding: 3px 15px 3px 6px;
    border:1px solid #eee
}

.article .content table.dataintable tr:nth-child(odd) {
    background-color:#c4ceb7
}

.article .content table.dataintable tr:nth-child(even) {
    background-color:#d1dbc4
}

.content h3 {
    margin: 30px 0 10px 0;
    color: #333;
    border-bottom:1px solid #aaa
}

.content a {
    color:#333;
    text-decoration:underline
}

.content a:hover {
    color:#080
}

.content blockquote {
    padding: 10px;
    background: #d1dbc4;
    margin: 0;
    border-left: 5px solid #888;
    font-size: 15px;
    line-height: 28px;
    color: #888;
    border-radius:2px
}

.content blockquote p {
    margin:3px 0
}

.content ul {
    margin-left: 30px;
    margin-top:10px
}

.content ul li {
    color: #333;
    list-style-type:disc
}

@media screen and (min-width: 768px) {
    .content img {
        max-width:100%
    }

    .content iframe {
        width:680px
    }
}

@media screen and (max-width: 767px) {
    .content img {
        max-width:100%
    }
}

pre, code {
    color: #012;
    line-height: 20px;
    font-family: Courier, monospace;
    background: #d1dbc4;
    border-radius: 2px;
    word-wrap: break-word;
    font-size:14px
}

pre {
    padding: 10px;
    text-shadow: none;
    margin: 0;
    border-left: 5px solid #060;
    overflow:auto
}

code {
    padding:2px
}

.tags {
  width:100%;
    color:gray
}

.tags strong {
    color:#333;
}

.tags a {
    color:#060;
}

.tags span {
    padding:0 8px
}

.tags strong {
    padding-right:10px
}

.author {
    float: left;
    width: 100%;
    overflow: hidden;
    background-color: hsla(0, 0%, 71%, .1);
    border: 1px solid #e1e1e1;
    border-radius:4px
}

.author .authordetail {
    padding: 20px 20px 0 20px;
    min-height:47px
}

.author .authordetail p {
    color: #888;
    margin:0
}

.author .authordetail .avatar {
    float: left;
    margin-right: 10px;
    width: 60px;
    height:60px
}

.author .authordetail .avatar img {
    width: 100%;
    height: 100%;
    border: 1px solid #ddd;
    border-radius:50%
}

.author .authordetail .btn {
    float: right;
    text-align: center;
    margin-top: 4px;
    padding: 8px 0;
    width: 100px;
    font-size:16px
}

.author .authordetail .btn-success {
    border-radius: 40px;
    color: #fff;
    background-color: #693;
    border-color:#693
}

.author .authordetail .authorname {
    margin-right: 3px;
    font-size: 17px;
    line-height: 1.8;
    vertical-align:middle
}

.author .signature {
    padding: 0 20px 20px 20px;
    font-size:.9rem
}

.author .signature a {
    color: #060;
    font-size:.9rem
}
.article-url{font-size:14px;}
.article-url span{font-weight:500;}
.article-url a{color:#060;}
.wx-container{display: flex; align-items: center;float:left;width:100%;text-align:center;}
.weixin-follow{
  margin:0 auto;
  padding:20px;
  border-radius:20px;
  float:left;
  display:flex;
  background:#d1dbc4;
}
.weixin-follow img{width:120px;height:120px;}
.weixin-follow .weixin-txt{margin-left:20px;
}
.weixin-follow .weixin-txt .weixin-title{line-height:30px;}
.weixin-follow .weixin-txt .weixin-desc{line-height:1.5;font-size:14px;color:#919191;}
.nav .nav_pre, .nav .nav_next {
    text-align: left;
    font-size:14px
}

.nav_pre, .nav_next {
    float: left;
    width:100%
}

.nav .nav_pre a, .nav .nav_next a {
    font-size: 14px;
    color: #333;
    text-decoration: underline;
    width: 50%;
    overflow: hidden;
    text-overflow:ellipsis
}

.nav .nav_pre a:hover, .nav .nav_next a:hover {
    color:#333;
}

.fl{
  float:left;
}
.rel_dist ul {
    float: left;
    width:100%
}

.rel_dist h3 {
    font-size: 1.3em;
    padding: 15px 0 10px 0;
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis
}

.rel_dist ul li {
    color: #030;
    float: left;
    width: 100%;
    margin: 5px 0;
    border-bottom: 1px solid #d1dbc4
}

.rel_dist ul li strong {
    font-size: 15px;
    font-family:Georgia, serif
}

.rel_dist ul li a {
    font-size: 15px;
    text-decoration: underline;
    color: #060;
    font-weight: 400;
    height: 27px;
    line-height:27px
}

.rel_dist ul li a.avatar:hover {
    background: #c8d0be;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .2);
    transition:all, .25s, ease
}

.rel_dist ul li img {
    max-width: 100%;
    max-height:100%
}

.rel_dist ul li p {
    font-size: 14px;
    margin-left: 1em;
    padding-left: .4em;
    border-left: .4em solid #8c9284;
    line-height:26px
}

@media screen and (min-width: 768px) {
    .rel_dist .dist {
      float:left;
      width: 250px;
      height:205px;
      margin-left:25px;
    }
    .weekhots .dist:first-child,.weekhots .dist:nth-child(4){
      margin-left:0px;
    }
    .rel_dist .dist a {
      display:inline-table;
    }
    .rel_dist .dist a .txt .name{
      width: 100%;
      color: #666;
      font-weight: 600;
      font-size: 18px;
    }
    .rel_dist .dist a .txt .mark {
      display:none;
    }

    .rel_dist .dist a:hover {
        color:#060;
    }
    .rel_dist .dist a img {
        width: 246px;
        padding:0 4px 8px 0
    }
    .lastestnews, .botads, .weekhots,.googlerel {
      overflow:hidden;
      padding:20px;
      display:block
    }
}

@media screen and (max-width: 767px) {
    .h2title{width:100%;padding:5px 0; border-bottom: 1.5px solid #bbb;}
    .section-title{
      -ms-flex-pack: justify;
      justify-content: space-between;
      height: 16;
      line-height: 1;
      font-size: 16;
      font-weight: 400;
      margin:20px 20px 0;
    }
    .section-title .rss {
      display:none;
    }
    .rel_dist .dist {
        float: left;
        width: 100%;
        margin-bottom:10px
    }

    .rel_dist .dist img{
      margin-right:10px;
        width: 120px;
        height:75px;
    }

    .rel_dist .dist a {
      display:flex;
        line-height: 1.2;
        color:#060
    }
    .rel_dist .dist a .txt .name{
      width: 100%;
      font-weight: 600;
      color: #666;
      font-weight: 600;
      font-size: 14px;
    }
    .rel_dist .dist a .txt .mark {
      padding-top: 10px;
      display: flex;
      justify-content: space-between;
      color: #888;
    }

    .lastestnews, .botads, .weekhots,.googlerel {
      float:left;
      margin:20px;
    }
}

.docomment {
    cursor: pointer;
    float: left;
    width: 100%;
    height: 80px;
    text-align: center;
    line-height: 80px;
    overflow: hidden;
    background-color: hsla(0, 0%, 71%, .1);
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    color:#888
}

.comments {
    padding:20px;
    font-size:15px;
    overflow:hidden;
}

.comments abbr {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: left;
    text-decoration: none;
    border-bottom: 0;
    font-weight: normal;
    font-style: normal;
    border:0
}

.comments h3 {
    padding: 15px 0 10px 0;
    border-bottom: 1.5px solid #d1dbc4;
    color:#333;
}

.comments p {
    font-size:15px
}

.comments .comment {
    border-bottom:1px dashed #d3d3d3
}

.comments .asset-meta {
    margin:.6em 0
}

.comments .comment-header * {
    color: #2b2b2b;
    font-weight:700
}

.asset-meta {
    margin:1.5em auto 2em
}

.asset-meta p {
    margin:5px
}

.comments .comment-content {
    margin-left: 1em;
    font-size:.9em
}

.comments .comment-content p {
    margin-left:14px
}

.comments .comment-footer {
    width: 40%;
    margin-left:60%
}

.comments .comment-footer * {
    color:black
}

.comments .comment-footer p {
    font-size:13px
}

.comments a {
    text-decoration:underline
}

.comments .comment-content blockquote {
    background-color: #e0dfcc;
    padding: 2em;
    margin: 2em 2em 2em 2em;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    font-size:.9em
}

.comments .comments-post, .comments .comments-post .comments-post-text {
    float: left;
    width:100%
}

.comments-post-text p {
    margin: .2em;
    float: left;
    width:100%
}

.comments-post-text .comment-text {
    border: 1px solid #d3d3d3;
    background-color: #f5f4df;
    padding: .5em;
    width: 90%;
    font-size: 1.13em;
    flex-direction: column;
    resize: auto;
    cursor: text;
    white-space: pre-wrap;
    word-wrap: break-word;
    height:120px
}

.comments-post-text input {
    font-size: 1em;
    border: 1px solid #d3d3d3;
    margin-top: 0;
    line-height: 1.2;
    padding: .4em .3em;
    background-color:#f5f4df
}

.comments-post-text input[type=submit] {
    font-size: 1.1em;
    width: 10em;
    padding: .2em 3em;
    text-align:center
}

.upcase {
    font-size: 1.5em;
    padding: 0 0 3px 0;
    border-bottom: 1.5px solid #bbb;
    color:#060
}

.scslide b {
    color: #030;
    font-size: 14px;
    font-family:Georgia, serif
}

@media screen and (min-width: 1000px) {
    .scslide, .scslide a {
        width:300px
    }
}

.scslide, .scslide a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis
}

.scslide a {
    width: 300px;
    font-size: 14px;
    color:#060
}

.scslide .scrcount {
    width: 300px !important;
    background: #d1dbc4;
    height: 30px;
    line-height: 30px;
    font-size: 13px;
    font-weight: 700;
    text-indent: 10px;
    overflow: hidden;
    display:inline-block
}

.scslide .scrcount a {
    color:#060
}

@media screen and (min-width: 768px) {
    .sclist {
        width: 300px;
        margin:0 0 15px
    }

    .sclist_img {
        float: left;
        width: 300px;
        margin:0 0 15px
    }
}

@media screen and (max-width: 767px) {
}

.sclist i {
    color:#060
}

.sliderbar .right .top10_deepgreen {
    background:#060
}

.sliderbar .right .top10_lightgreen {
    background:#693
}

.sliderbar .right .top10_green {
    background:#396
}

.sliderbar .right .top10_brown {
    background:#963
}

.sliderbar .right .top10_green, .sliderbar .right .top10_lightgreen, .sliderbar .right .top10_deepgreen, .sliderbar .right .top10_brown {
    border-radius: 5px;
    margin-bottom:5px
}

.sliderbar .right .top10_green a, .sliderbar .right .top10_lightgreen a, .sliderbar .right .top10_deepgreen a, .sliderbar .right .top10_brown a {
    color: #fff;
    padding: 2px 10px;
    font-weight:600
}

@media screen and (min-width: 768px) {
  .sliderbar{width:340px;}
  .sliderbar .right {
      float: right;
  }

  .sliderbar .right .rightitem {
      float:left;
      padding:20px;
      width:300px;
      background:#E6EAD4;
  }
}

@media screen and (max-width: 767px) {
  .sliderbar .right {
      float: left;
      width:100%
  }
}

.sliderbar .right .rightitem {
  background: #d1dbc4;
}

.sliderbar .right h2 {
  color: #333;
  position: relative;
  height: 25px;
  line-height: 25px;
  margin-top: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}

.sliderbar .right ol.sclist li {
    float: left;
    width: 100%;
    height: 30px;
    line-height: 30px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    border-bottom:1px solid #d1dbc4
}

.sliderbar .right ol.sclist li a {
    font-size: 15px;
    color:#444
}

.sliderbar .right ol.sclist li a:hover {
    color:#080
}

.sliderbar .right .rightAD {
    float: left;
    height: 100%;
    margin:0 0 15px 0
}
.sclist_img li {
    padding: 10px 0;
    border-bottom:1px solid #ddd
}

.sclist_img li a {
    display:flex
}

.sclist_img li img {
    width: 120px;
    height: 75px;
    margin-right:10px
}

.sclist_img li .txt {
    width: 100%;
    display:inline-grid
}

.sclist_img li .txt .mark {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    color:#888
}

.sclist_img li .txt .name {
    width: 100%;
    color: #666;
    font-weight: 600;
    font-size:14px
}

.sclist_img li .txt .name:hover {
    color:#060
}

#footer {
    font-size:14px
}

@media screen and (min-width: 768px) {
    #footer .siteinfo, #footer .sitenav {
        float:left;
        text-align:center;
        width:70px;
        border-left:1px solid #7b7c7a;
        border-right:1px solid #7b7c7a;
        padding:20px 60px
    }

    .sliderbar .right h2 {
        margin:0;
        width:300px
    }
}

@media screen and (max-width: 767px) {
}

#footer .siteinfo span a, #footer .sitenav span a {
    font-weight: 500;
    color:#333
}

#footer .siteinfo span a:hover, #footer .sitenav span a:hover {
    color:#060
}

#footer .sitenav {
    border-left:0
}

#footer .sitedesc {
    float: left;
    width: 490px;
    text-align: center;
    padding: 20px 60px;
    border-right:1px solid #7b7c7a
}

.sitedesc .desc strong {
    color:#030
}

@media screen and (max-width: 767px) {
    #footer .sitedesc {
        padding:0;
        width:100%;
        border-right:0
    }
}

@media screen and (min-width: 768px) {
    #footer .sitedesc .desc {
        text-align:left;
        line-height:22px
    }
}

@media screen and (max-width: 767px) {
    #footer .sitedesc .desc {
        text-align:left;
        line-height:22px;
        padding:20px
    }
}

#footer .sitedesc .fav{float:left;width:250px;text-align:left;}
#footer .sitedesc .fav a{width:34px;height:34px;color:#ffffff;font-size:18px;margin-right:1px;}
#footer .sitedesc .follow {width:240px;line-height:151px;}

a.sina {
    background-color: #f26722;
    border: 1px solid #f26722;
    padding: 6.5px 8.5px;
    text-align:center
}

a.google {
    background-color: #cc382e;
    border: 1px solid #f26722;
    padding: 6.5px 5.5px;
    border-color: #cc382e;
    text-align:center
}

a.xxs {
    background-color: #ca1f28;
    border: 1px solid #f26722;
    padding: 6.5px 8.5px;
    border-color:#ca1f28
}

a.email {
    background-color: #2baadf;
    border-color: #2baadf;
    border: 1px solid #2baadf;
    padding:6.5px 8.5px
}

a.douban {
    background-color: #27c24c;
    border-color: #27c24c;
    border: 1px solid #27c24c;
    padding:6.5px 8.5px
}

a.sina:hover {
    background-color: #e26020;
    border-color:#e26020
}

a.google:hover {
    background-color: #be342b;
    border-color:#be342b
}

a.xxs:hover {
    background-color: #bc1d25;
    border-color:#bc1d25
}

a.email:hover {
    background-color: #28a0d2;
    border-color:#28a0d2
}

a.douban:hover {
    background-color: #5cb85c;
    border-color:#4cae4c
}

@media screen and (min-width: 768px) {
    .tg {
        float:right;
        width:100px
    }
}

@media screen and (max-width: 767px) {
    .tg {
        display:none
    }
}

#copyright {
    text-align:center
}

#copyright p, #copyright p a {
    color: #ddd
}
