@media screen and (max-width: 875px) {
	#Email_icon{
		display: none;
	}
}

@media screen and (max-width: 875px) {
	#Twitter_icon {
		display: none;
	}
}

@media screen and (max-width: 875px) {
	#RSS_icon{
		display: none;
	}
}

@media screen and (max-width: 875px) {
	#sponsor_list{
		display: none;
	}
}

@media screen and (max-width: 1165px) {
	#banner_div{
		display: none;
	}
}


#td_right_side_bar {
	height:100%;
	width:240px;
}

@media screen and (max-width: 1020px) {
	#td_right_side_bar{
		display: none;
	}
}

@media screen and (max-width: 745px) {
	#id_tree_menu_column{
		width: 0px;
		display: none;
	}
	#logo_links{
		display: none;
	}
	#SiteMap{
		line-height: 3;
	}
}

@media screen and (min-width: 746px) {
	#logo_sitemap_link{
		display: none;
	}
}

@media screen and (max-width: 540px) {
	#logo_column{
		display: none;
		width: 0px;
	}
}

@media screen and (max-width: 1125px) {
	#page_heading_larger{
		display: none;
	}
}

@media screen and (min-width: 1126px) {
	#page_heading_smaller{
		display: none;
	}
}

@media screen and (max-width: 1300px) {
	#td_right_side_bar{
	    padding-left:5px;
	}
}


A:hover { text-decoration: none; }
H3 a {color: #1a3065;} /* Required to get links blue in IE. */
H1 {color: #1a3065; font-size:27px; line-height: 30px;}
H1 small {font-size:16px;}
H2 {color: #1a3065; font-size:22px;}
H2 a {color: #1a3065;}
H3 {color: #1a3065; font-size:18px; line-height: normal;}
H3 small {color: #1a3065; font-size:14px;} /* Sizes links next to logo. */
H3 small a {color: #0000ee; font-size:14px;} /* Required to get the links next to the logo blue in IE. */
H4 {color: #1a3065;}
H4 a {color: #1a3065;}
CAPTION { font-weight: bold; }
TABLE { font-size: 14px; line-height: 1.5em; }
TABLE.text_ad { line-height: normal; }
A.qindex {}
A:visited {text-decoration: none; color: #0000ee;}
A.qindexRef {}
A.el { text-decoration: none; font-weight: bold }
A.elRef { font-weight: bold }
A.code { text-decoration: none; font-weight: normal; color: #4444ee; }
A.codeRef { font-weight: normal; color: #4444ee; }
a {text-decoration: none; color:#0000ee;}
DL.el { margin-left: -1cm; }
DIV.fragment { width: 100%; border: none; background-color: #eeeeee; }
DIV.ah { background-color: black; font-weight: bold; color: #ffffff; margin-bottom: 3px; margin-top: 3px; }
TD.md { background-color: #f2f2ff; font-weight: bold; }
TD.mdname1 { background-color: #f2f2ff; font-weight: bold; color: #602020; }
TD.mdname { background-color: #f2f2ff; font-weight: bold; color: #602020; width: 600px; }
DIV.groupHeader { margin-left: 16px; margin-top: 12px; margin-bottom: 6px; font-weight: bold }
DIV.groupText { margin-left: 16px; font-style: italic; font-size: smaller }
DIV.text_ad{ line-height: normal; }
A.text_ad{ line-height: normal; font-size: 12px; }

pre {font-size:13px; line-height:normal; font-weight: bold;}

.menu_cell_body
{
	line-height:16px;
	text-align:center;
	text-align: left;
	background-color: #b6cffe;
	border: solid 1px white;
}

h3 u {
    text-decoration: none;
    border-bottom: 1px solid;
  }​

.standard_box_shadow
{
	box-shadow: 5px 5px 5px #888888;
}

.blue_menu
{
	font-size: 85%;
	font-weight: bold;
}

.blue_menu:hover
{
    text-decoration: underline;
}

.header_links
{
	font-size: 85%;
	font-weight: bold;
}

.underline_on_hover:hover
{
    text-decoration: underline;
}

td.light_blue_table_cell
{
	color:#1a3065;
	text-align:center;
	font-weight:bold;
	background: #ffffff url(/FreeRTOS-Plus/light_blue_table_background.gif) left repeat-x;
}

BODY {
   color: #202020;
   font-family: arial, helvetica, serif;
   font-size: 14px;
   line-height: 1.5em;
   margin-top:0px;
   background: white;
   width:100%;
   max-width:1204px;
   margin-left:auto;
   margin-right:auto;
}

BODY.leftframe {
   color: #202020;
   font-family: arial, helvetica, serif;
   font-size: 14px;
   line-height: 1.5em;
   /*margin-left: 10px;*/
   margin-right: 0px;
   border-right:solid 2px silver;
}


EM.mdesc { font-size: smaller; }
TD.indexkey {
   background-color: #eeeeff;
   font-weight: bold;
   padding-right  : 10px;
   padding-top    : 2px;
   padding-left   : 10px;
   padding-bottom : 2px;
   margin-left    : 0px;
   margin-right   : 0px;
   margin-top     : 2px;
   margin-bottom  : 2px;
}
TD.indexvalue {
   background-color: #eeeeff;
   font-style: italic;
   padding-right  : 10px;
   padding-top    : 2px;
   padding-left   : 10px;
   padding-bottom : 2px;
   margin-left    : 0px;
   margin-right   : 0px;
   margin-top     : 2px;
   margin-bottom  : 2px;
}
span.keyword       { color: #008000; }
span.keywordtype   { color: #604020; }
span.keywordflow   { color: #e08000; }
span.comment       { color: #800000; }
span.preprocessor  { color: #806020; }
span.stringliteral { color: #002080; }
span.charliteral   { color: #008080; }




/* Bordered boxes. */
.round_corner_shadow_box_content, .round_corner_shadow_box_shadow
{
	position: relative;
	bottom: 4px;
	right: 4px;
}

.round_corner_shadow_box_shadow
{
	background-color: #ccc;
	border-radius: 15px;
}

.round_corner_shadow_box_content
{
	background-color: #fff;
	color: #000;
	border: 2px solid #7195d0;
	padding: 0.5em;
	border-radius: 15px;
}

.round_corner_shadow_box_container
{

}



/* Used in FreeRTOS ecosystem showcase. */
span.image_caption {
   font-weight: bold;
   font-size: smaller;
   line-height: normal;
}

span.code_comment{
	color: green;
}


/* Used on the homepage. */
#text_border{    width:auto; margin-left:10px; margin-right:10px; margin-top:10px; padding-left:30px; padding-right:30px; padding-top:10px; float:left; line-height: normal;}

/* Used on red button page. */
#text_border1, #text_border2, #text_border3{ width:auto; margin-left:10px; margin-right:10px; margin-top:5px; padding-left:30px; padding-right:30px; padding-top:5px; float:left; width:100%;}

/* Also used on the homepage. */
#text_border4{    width:auto; margin-left:10px; margin-right:10px; margin-top:10px; padding-left:30px; padding-right:30px; padding-top:10px; float:left; line-height: normal;}



#SiteMap ul { /* all lists */
   padding-bottom: 1.5em;
}



/* Used in the support forum archive. */
.PostedBy {
  font-size: 12px;
}

.PostBody {
  margin-top: 20px;
  margin-bottom: 20px;

  /*
  The sourceforge.net forums seem to preserve white space even without
  [code][/code] tags, so we need this rule to make it look like that.
  */
  white-space: pre-wrap;
}

.PostBody blockquote {
  margin: 0;
  font-style: italic;
  color: #0000ff;
}

.PostBody ul, .PostBody ol {
  margin: 0;
}

#navigation {
  margin-bottom: 20px;
  font-size: small;
}

#googleSearch {
  max-width: 500px;
}




img, embed, object, video { max-width: 100%; }

.div_tree_menu img { max-width: 180px; } /* Chrome messes up formatting of large tree view lines if img have max-width of 100%. */



#td_main_content_column{
/*	height:100%;*/
	padding:15px;
	/*
		body.max_width = 1280
	*/
	/*max-wdith:757px; */
}
