@charset "utf-8";



/************************ 重置518 4:13 **************************************/

.activ-form .input-submit{

	background-image: none;

	text-indent:0;

}

*{background-repeat: no-repeat;}

body{

	background-color:#ffffff !important;

	font-size:16px;

	width:100%;

	overflow-x:hidden;

	

}

.clearfix:before,



.clearfix:after {



	content: "";



	display: table



}



.clear{



	clear: both;



}



iframe{



	margin-top: 20px;



}



input{



	border: none;



	margin: 0;



	padding: 0;



	outline: none;



}



html,body{height: 100%;}



.clearfix:after {



	clear: both



}



.clearfix {



	*zoom: 1



}



.fl {



	float: left;



}



.fr {



	float: right;



}



p {



	margin: 0;



}



dl,



dt,



dd {



	margin: 0;



	padding: 0;



}



body {



	font-family: "微软雅黑";



	margin: 0;



	}



a {



	text-decoration: none;



}



ul,



li {



	list-style: none;



	margin: 0;



	padding: 0;



}



img {



	display: block;



	border: none;



}

a{

	color:#000000 !important;

}

a:hover{

	color:#000000 !important;

}

/*公用 */



.ad-ad{

	position: relative;

}

.ad-ad .ad-tip{

	position: absolute;

	bottom: 0;

	left: 0;

}

.ad-ad .ad-l{

	width:800px;

	height:80px;

}

.ad-ad .ad-s{

	width:360px;

	height:80px;

}

.center{



	width: 1200px;



	margin: 0 auto;



}



.mt20{



	margin-top: 20px;



}



.mt30{



	margin-top: 30px;



}



.mt40{



	margin-top: 40px;



}



.mt50{



	margin-top:50px;



}



.mt60{



	margin-top:60px;



}



.mt70{



	margin-top: 70px;



}



.mt80{



	margin-top: 80px;



}



.mt90{



	margin-top: 90px;



}



.mt10{



	margin-top: 10px;



}







.baomingbox{



	display: none;



	width: 100%;



	height: 100%;



	position: fixed;



	top: 0;



	left: 0;



	z-index: 8888;



}



.baomingbox .baoming{



	color: #444444;



	font-family: Helvetica, arial, sans-serif;



	width: 630px;



	position: absolute;



	top: 110px;



	left: 50%;



	margin-left: -315px;



	height: 468px;



	background-color: #FFFFFF;



	border-radius: 4px;



}



.baomingbox .baoming  form .table{

	display:block;

	width:550px;

	margin:auto;

	min-height:280px;

	height:280px;

	overflow-y:scroll;

	overflow-x:hidden;

}

.baomingbox .baoming  form table th{

	width:122px;

	display:block;

	text-align:right;

	line-height:30px;

}

.baomingbox .baoming  form table td{

	width:330px;

	

}

.baomingbox .baoming .guanbi{

	width:20px;

	height:20px;

	position:absolute;

	right:40px;

	top:40px;

}

.baomingbox .baoming table{

	

}

.baomingbox .baoming table em{

	color:red

	}

.baomingbox .baoming table span{

	padding:0 10px;

	display: block;

	border: 1px solid #dedede;

	height: 30px;

	line-height: 30px;

	width:310px;

}

.baomingbox .baoming table textarea{

	width:320px;

}

.baomingbox .baoming table span input{

		display:block;

		height:100%;

		width:100%;

}

.baomingbox .baoming .title{



	



	font-size: 18px;



	line-height: 40px;



	padding-top: 30px;



	width: 555px;



	margin: auto;



	border-bottom: 1px solid #dedede;



}



.baomingbox .baoming .formbox{



	width: 555px;



	margin: auto;



	height: 246px;



	overflow-y: scroll;



	font-family: ;



}



.baomingbox .baoming .formbox label{



	margin-top: 20px;



	display: block;



}



.baomingbox .baoming .formbox .key{



	float: left;



	width: 140px;



	text-align: right;



	line-height: 28px;



}



.baomingbox .baoming .formbox .value{



	padding:0 10px;



	float: left;



	width: 200px;



	margin-left: 10px;



	height: 28px;



	border: 1px solid #DEDEDE;



}



.baomingbox .baoming .formbox .value input{



	display: block;



	width: 100%;



	height: 100%;



}



.baomingbox .baoming .surebox{



	width: 555px;



	margin: auto;



	padding: 10px 0;



	



}



.baomingbox .yanzhengma input{



	margin-left: 188px;



	width: 64px;



	height: 28px;



	float: left;



	margin-right: 10px;



	display: block;



	border: 1px solid #dedede;



}



.baomingbox .yanzhengma img{



	float: left;



	margin-top: 3px;



}



.baomingbox .btn{



	width: 90px;



	height: 40px;



	line-height: 40px;



	margin-top: 20px;



	text-align: center;



	float: left;



	cursor: pointer;



}



.baomingbox .btn.sure:hover{



	background-color: #0483cc;



}



.baomingbox .btn.sure{



	background-color: #0091e4;



	margin-left: 188px;



	color: #FFFFFF;



	border-radius: 4px;

	font-size:16px;

	



}



.baomingbox .btn.close:hover{



	color: #0483cc;



}



.baomingbox .bg{



	width: 100%;



	height: 100%;



	background-color: #000000;



	opacity: 0.5;



}



























img.icon{



	display: inline;



	vertical-align: middle;



	padding: 0 5px 0 0;



	margin: -4px 0 0 0;



	border: none;



}



.public_foot{



	background-color: #F8F8F8;



	padding: 20px 0 0 0;



}



.public_foot .idcquan{



	width: 253px;



	float: left;



	border-right: 2px solid #e3e3e3;



	padding: 10px 0 20px 0;



	color: #cbcbcb;



	font-size: 12px;



}



.public_foot .idcquan .wenzi1{



	font-size: 14px;



	margin-left: 30px;



	font-weight: bold;



}



.public_foot .idcquan .wenzi1 img{



	margin-left: 10px;



}



.public_foot .idcquan .wenzi2{



	text-align: center;



	line-height: 20px;



	margin-top: 10px;



}



.public_foot .idcquan img{



	margin-left: 30px;



	



}



.public_foot .erweima{



	float:right;



	width: 90px;



	padding-top: 10px;



}



.public_foot .erweima img{



	margin: 10px auto;



}



.public_foot .erweima div{



	font-size: 14px;



	text-align: center;



	font-weight: bold;



}



.public_foot .link{



	float: left;



	font-size: 14px;



	margin-left: 40px;



	line-height: 30px;



}



.friendlink>div{



	font-weight: bold;



	color: #e86200;



}



.friendlink ul{



	width: 634px;



	margin-left: 10px;



}



.friendlink li{



	float: left;



	margin-right: 10px;



}



.friendlink li a{



	color: #383838;



}



.public_foot .footer a{



	color: #FFFFFF !important;



}



.public_foot .footer{



	color: #FFFFFF;



	margin-top: 20px;



	font-size: 14px;



	background-color: #020202;



	line-height: 40px;



}



.public_foot .copyright{



	margin-left: 20px;



	float: left;



}



.public_foot .footer .wangti{



	margin-left: 78px;



	float: left;



}



























.gotopbox{



	width: 50px;



	background-color: #000000;



	position: fixed;



	right: 0;



	bottom: 300px;



	z-index: 30;



	border: 1px solid #DEDEDE;



	border-right: none;



}



.gotopbox a img{

	width:32px;

	

	position: absolute;



	left: 50%;



	margin-left: -16px;



}



.gotopbox .weixin img{



	top: 8px;



}



.gotopbox .gotop img{



	top: 14px;



}







.gotopbox a{



	position: relative;



	display: block;



	width: 100%;



	height: 50px;



	background-color: #FFFFFF;



}



.gotopbox a:hover{



	background-color: #E5E5E5;



}



.gotopbox .gotop{

	display:none;

	border-top: 1px solid #DEDEDE;



}



.gotop_erweima{



	position: absolute;



	top: -64px;



	left: -355px;



	display: none;



}



/****************************导航栏********************************/



/*大咖页面底部背景颜色 和字体颜色*/

.daka_bg2{

	padding: 30px 0 60px 0;

	background-color: #323232 !important;

}

.daka_bg{

	background-color: #454545 !important;

}

.daka_bg a{

	color: #6f6f6f !important;

}

.daka_bg .copyright{color: #6f6f6f !important;}

/*大咖页面底部背景颜色 和字体颜色*/



/*daka页面的css*/







.daka_zhibo_banner{

	width: 100%;

	height: 500px;

	background-color: #040217;

}















.daka_zhibo_nav,.daka_zhibo_nav a{

	font-size: 16px;

	color: #FFFFFF;

	

}

.daka_bg2 .title2{

	font-size: 24px;

	line-height: 24px;

	padding-bottom: 20px;

	position: relative;

	font-weight: bold;

	border-bottom: 1px solid #838383;

	margin-top: 40px;

}

.daka_bg2 .title2 .xian{

	width: 74px;

	height: 4px;

	background-color: #0b83fd;

	position: absolute;

	bottom: -1px;

	left: 0;

}

.daka_zhibo{

	display: block;

	width: 380px;

	height: 390px;

	float: left;

	margin: 14px 10px;

}

.daka_zhibo img{

	width: 100%;

	height: 253px;

}

.daka_zhibo .p1{

	font-size: 18px;

	line-height: 80px;

	height: 80px;

	width: 96%;

	margin: auto;

	overflow: hidden;

	font-weight: bold;

	color: #fffdfe;

}

.daka_zhibo .p2{

	font-size: 14px;

	line-height: 20px;

	height: 40px;

	width: 100%;

	overflow: hidden;

	color: #cbcbcb;

}

/*daka页面的css结束*/



.navbox{



	width: 1200px;

	font-size: 18px;



	margin: 8px auto;



}



.logo{



	float: left;



}

.logo-bigdata,.logo-cloud,.logo-idc,.logo-news,.logo-public,.logo-zt,.logo-meet,.logo-daka,.logo-scroll{

	display:none;

}

.logo-cio{display:none}

.logo-blockchain{display:none}
.logo-zimeiti{display:none}

.nav{



	float: left;



	margin: 0 0 0 32px;



}



.nav dl{



	position: relative;



	cursor: pointer;



	float: left;



	padding: 0 15px;



	text-align: center;



	height: 50px;



	z-index: 888888889;



}



.nav dl dt {



	line-height: 50px;



}



.nav dl dt img{



	display: inline;



	vertical-align: middle;



}



.nav dl dt:hover{



	color: #248edf;



}



.nav dl a:hover{



	color: #248edf;



}



.nav dl dd{



	border-top:2px solid #dc1616;



	width: 146px;



	position: absolute;



	left: 50%;



	margin-left: -73px;



	top: 50px;



	display: none;



}



.nav dl a{



	color: #040404;



}



.nav dl dd a{



	display: block;



	background-color: #FFFFFF;



	font-size: 15px;



	background-color: #f9f9f9;



	line-height: 45px;



	border-bottom: #ebebeb 1px solid;



}











.loginbox{



	float: right;



	margin-top: 17px;



}







.loginbox a{



	display: block;



	width: 22px;



	height: 22px;



	float: left;



	margin: 0 10px;



	background-position: center center; 



}







.loginbox .search{



	background-image: url(http://img.idcquan.com/templates/default/images/newpage/icon-serch.png);



}



.loginbox .login{



	background-image: url(http://img.idcquan.com/templates/default/images/newpage/icon-login.png);



}



.loginbox .register{



	background-image: url(http://img.idcquan.com/templates/default/images/newpage/icon-register.png);



}

.searwamx{

	display: none;

	height:100px;

	padding:12px 0px;

}

.searwamx.current1{

	/* display:block; */

	transform: translateY(0%);

	opacity:1;

}

.searwamx.current .searchbox{

	/* display: block; */

	width:1000px;

	

}



.searchbox{



/*	display: none;*/



	overflow: hidden;



	border-radius: 12px;



	margin: 0px auto;



	width: 800px;



	height: 45px;



	border: 1px solid #DEDEDE;



	position: relative;

	top: 2px;

	z-index: 90;

	transition: all ease 0.5s;

		-webkit-transition: all ease 0.5s;

		-moz-transition: all ease 0.5s;

		-o-transition: all ease 0.5s;

}



.searchboxa{



/*      display: none;*/



        overflow: hidden;



        border-radius: 12px;



        margin: 12px auto;



        width: 800px;



        height: 40px;



        position: relative;

        top: 2px;

        z-index: 90;

        transition: all ease 0.5s;

                -webkit-transition: all ease 0.5s;

                -moz-transition: all ease 0.5s;

                -o-transition: all ease 0.5s;

}

.searchboxa a{

	color: #000000;

	font-weight: bold;

	padding: 0 9px;

}

.closese{

	position:absolute;

	right: 142px;

	width:30px;

	line-height:51px;

	font-size:22px;

	top: 136px;

	cursor: pointer;

	color:#fff;

	text-align:center;

}

.searchbox input{



	border: none;



	display: block;



	height: 45px;



	width: 656px;



	font-size: 16px;



	padding-left: 10px;

}



.searchbox .sub{



	width: 142px;



	height: 45px;



	display: block;



	position: absolute;



	background-color: transparent;



	right: 0;



	top: 0;



	background-image: url(http://img.idcquan.com/templates/default/images/newpage/form_btn.png);



}



























.body .left{



	width: 800px;



}



.body .right{



	width: 360px;



	margin-left: 40px;



	



}



.arrow {



	position: absolute;



	top: 50%;



	margin-top: -18px;



}







.arrow_left {



	left: 0;



}







.arrow_right {



	right: 0;



}



















.ppt{



	display: none;



}



.ppt .ppt_img{



	width: 800px;



	height: 430px;



}



.ppt.current{



	display: block;



}



.pptbox {



	height: 430px;



	overflow: hidden;



	position: relative;



}



.ppt_text_box {



	position: absolute;



	bottom: 0;



	width: 100%;



}







.ppt_text_bg {



	position: absolute;



	bottom: 0;



	background-color: #000000;



	opacity: 0.5;



	filter: alpha(opacity=50);



	/*IE滤镜，透明度50%*/



	-moz-opacity: 0.5;



	/*Firefox私有，透明度50%*/



	width: 100%;



	height: 74px;



}







.ppt_text {



	position: absolute;



	padding: 0 10px;



	bottom: 0;



	color: #FFFFFF;



	height: 74px;



	font-size: 27px;



	line-height: 28px;



	overflow: hidden;



}



.ppt_text .meetname{



	height: 28px;



	overflow: hidden;



	margin-top: 10px;



	font-size: 24px;



	font-weight: bold;



}



.ppt_text .meetinfo{



	height: 28px;



	overflow: hidden;



	font-size: 16px;



}



.ppt_tip{



	position: absolute;



	bottom: 85px;



	left: 20px;



	



}



.ppt_tip li{



	width: 15px;



	height: 15px;



	margin: 5px;



	float: left;



	background-color: #b5b5b5;



	cursor: pointer;



	border-radius: 50%;



}



.ppt_tip li.current{



	background-color: #d4022f;



}



/************************推荐*******************************/



.tuijianbox{



	padding: 0 20px;



	border: 1px solid #dedede;



	border-radius: 5px;



}



.tuijianbox .tuijian_title{



	line-height: 50px;



	border-bottom: 1px solid #DEDEDE;



	font-size: 22px;



	font-weight: bold;



	position: relative;



}



.tuijian_title_right{



	position: absolute;



	right: 6px;



	top: 18px;



}



.tuijian_text{



	padding: 15px 0;



}



.tuijian_text a{



	display: block;



	float: left;



	width: 348px;

	
	padding-right: 10px;



	padding-left: 20px;

	background-position:5px 16px ;



	height: 40px;



	line-height: 40px;



	overflow: hidden;



	color: #000000;



}



.tuijian_text a:hover{



	color: #000066;



}



.search_title{



	position: relative;



	background-color: #FFFFFF;



	line-height: 36px;



	z-index: 888888888;



	margin-bottom: 10px;



	width: 800px;



	line-height: 50px;



	font-weight: bold;



	



	font-size: 18px;



}



.search_title a{



	padding: 0 10px;



	cursor: pointer;



	color: #979798;



}



.search_title a.on{



	color: #000000;



	



}



.search_info{



	padding-left: 20px;



	font-size: 14px;



	margin-bottom: 5px;



}



.search_info span{



	color: #bc4042;



}







.scroll_title{



	line-height: 50px;



	font-size: 14px;



}



.scroll_title .a1{



	color: #248edf;



}







.news_title{



	



	position: relative;



	background-color: #FFFFFF;



	line-height: 36px;

	height:36px;

	overflow:hidden;

	z-index: 999;



	margin-bottom: 10px;



	width: 800px;



}



.news_title .zuixin{ 



	float:left;



	font-size: 18px;



	font-weight: bold;



}



.news_title.index a{



	padding:0 0 0 38px;



}



.news_title.cloud a{



	padding:0 0 0 42px;



}



.news_title.bigdata a{



	padding:0 0 0 42px;



}



.news_title a{



	padding:0 0 0 38px;



	color: #979798 !important;



	font-size: 18px;



	font-weight: bold;



}



.news_title a.contribute{



	color: #248edf;



	font-size: 16px;



	font-weight: normal;



	float: right;



}



.news_title a.more{



	color: #000000;



	font-size: 16px;



	float: right;



}



#public_account_detail .news{



	



}



.news .bdurl{

	position: relative;

	width: 260px;

	height: 150px;

	display: block;

	float: left;

}

.news .bdurl .tip{

	position: absolute;

	top: 0;

	left: 0;

}

.news{



	position: relative;



	border-top: 1px solid #DEDEDE;



	padding: 30px 0;



}



.news .date{



	background-color: #FFFFFF;



	position: absolute;



	top:-6px ;



	right: 0;



	font-size: 12px;



	line-height: 12px;



	color: #979798;



	padding-left: 5px;



}



.news .newsimg{



	width: 260px;



	height: 150px;



	float: left;



}



.news_nr{



	position: relative;



	width: 520px;



	height: 150px;



	float: left;



	margin-left: 20px;



}



.news_nr .d1{



	color: #000000;



	display: block;



	max-height:32px;



	overflow: hidden;



}



.news_nr .tip{



	background-color: #558ddb;



	font-size: 13px;



	padding: 5px;



	color: #FFFFFF;



	



}



.news_nr .title{



	line-height: 32px;



	font-size: 18px;



	font-weight: bold;



}



.news_nr .d2{



	font-size: 14px;



	margin-top: 7px;



	line-height: 24px;



}



.news_nr .d2 a{

	color: #bc4042 !important;

}

#article .articlebox{

	    line-height: 50px;

    font-size: 14px;

    color: #999999;

    border-bottom: 1px solid #DEDEDE;

    margin-bottom: 20px;

}

.news_nr .d3{



	width: 100%;



	position: absolute;



	bottom: 0;



	left: 0;



	height: 22px;



	line-height: 22px;



	font-size: 12px;



	color: #d2d2d2;



}

.news_nr .d3 a{

	color: #000000;

	font-weight: bold;

}



.news_nr .d3 .bdsharebuttonbox{

	position: absolute; 

	bottom: -6px; 

	right: -125px;

	z-index: 9;

	display: none;

}

.news_nr .d3 .share{

	float: left;

}

.readynum{



	margin-right: 20px;

	float: left;

}



.icon.ready{

	float: left;

	padding-right: 2px;

	margin-top: 6px;



}



.ad4{



	width: 800px;



	height: 180px;



	position: relative;



	margin-bottom: 30px;



}



.ad4 .img{



	display: none;



}



.ad4 .img.current{



	display: block;



}



.ad5{



	margin-bottom: 30px;



}



.loadmore{



	display: block;



	width: 170px;



	height: 40px;



	line-height: 40px;



	border: 1px #d2d2d2 solid;



	color: #d2d2d2 !important;



	text-align: center;



	margin: auto;



	border-radius:5px ;



}











/*大数据快报*/



.bigdata_kuaibao a{



	font-size: 15px;



	color: #000000;



	display: block;



	margin-top: 20px;



	position: relative;



}



.bigdata_kuaibao .time{



	font-size: 13px;



	margin-top: 5px;



	color: #aeadad;



}























/*企业快讯*/



#div1 {



	width: 308px;



	position: absolute;



	left: 10px;



}











#div2 {



	width: 6px;



	height: 472px;



	background-color: #FFFFFF;



	position: absolute;



	right: 20px;



	z-index: 20;



}







#div3 {



	width: 6px;



	height: 65px;



	border-radius: 3px;



	background-color: #a4a4a4;



	position: absolute;



	left: 0;



	top: 0;



	cursor: pointer;



}











.kuai_baobg{



	position: relative;



	padding: 30px 30px;



	width: 300px;



	background-color: #f5f5f5;



}



.kuai_baotitle{



	height: 18px;



	line-height: 18px;







	



}

.kuai_baotitle .more{

	display: block;

	width: 61px;

	height: 21px;

	position: absolute;

	right: 30px;

	top: 30px;

	background-image: url(http://img.idcquan.com/templates/default/images/newpage/module_more.png);

}

.kuai_baotitle .f5{



	position: absolute;



	top: 13px;



	right: 12px;



	cursor: pointer;



}



.kuai_baotitle .icon{





}



.kuai_baobox{



	position: relative;



	margin-top: 30px;



	height: 472px;



	width: 340px;



	overflow: hidden;



}



.kuai_bao{



	color: #000000;



	display: block;



	border-left: 1px solid #D2D2D2;



	padding: 0 15px 11px 15px;



	position: relative;



}



.kuai_bao .time{



	font-size: 12px;



	color: #aeadad;



}



.kuai_bao_text{



	font-size: 14px;



}



.kuai_bao .tip{



	width: 8px;



	height: 8px;



	border-radius: 50%;



	border: 1px solid #D2D2D2;



	position: absolute;



	left: -5px;



	top: 14px;



	background-color: #f5f5f5;



}



.kuai_bao .tip.current{



	border: 1px solid #248edf;



	background-color: #248edf;



	box-shadow: 0 0 3px #248edf;



}



.campbg{



	position: relative;



	padding: 40px 10px 20px 10px;



	width: 340px;



	background-color: #f5f5f5;



}



.camptitle{



	width: 100%;



	height: 50px;



	line-height: 50px;



	background-color: #dbe7f9;



	position: absolute;



	top: 0;



	left: 0;



	color: #0f1720;



	font-weight: bold;



	font-size: 18px;



}



.camptitle img{



	margin-left: 10px;



}



.campbox a{



	color: #000000;



	display: block;



	margin: 15px 0;



}



.campimg{



	width: 110px;



	height: 60px;



	float: left;



}



.campcon{



	width: 180px;



	margin-left: 10px;



	float: left;



	height: 60px;



	position: relative;



}



.campcon .title{



	font-size: 14px;



	height: 40px;



	overflow: hidden;



}



.campcon .time{



	position: absolute;



	left: 0;



	bottom: 0;



	color: #C2C2C2;



	font-size: 12px;



}



.campbg .more{



	position: absolute;



	right: 20px;



	color: #000000;



	top: 30px;



	font-size: 18px;



	font-weight: bold;



}



.tapbg{



	position: relative;



	padding: 30px 20px;



	width: 320px;



	background-color: #f5f5f5;



}



.taptitle{



	color: #f50213;



	font-weight: bold;



	font-size: 18px;



	line-height: 18px;



	vertical-align: middle;



}



.tapbox{



	margin-top: 30px;



}



.tapbox a{


display: block;
    float: left;
    padding: 5px 4px;
    font-size: 14px;
    color: #0e95f5 !important;
    border: 1px solid #0e95f5;
    border-radius: 4px;
    margin-right: 5px;
    margin-bottom: 9px;


}











.dakabg{



	position: relative;



	padding: 30px 20px;



	width: 320px;



	background-color: #f5f5f5;



}



.dakabg .more{



	position: absolute;



	right: 20px;



	color: #000000;



	top: 30px;



	font-size: 18px;



	font-weight: bold;



}



.dakatitle{



	color: #f50213;



	font-weight: bold;



	font-size: 18px;



	line-height: 18px;



	vertical-align: middle;



}



.dakabox{



	margin-top: 30px;



	display: block;



}



.daka{



	width: 300px;



	position: relative;



}



.daka img{



	width: 300px;

	height: 200px;

}



.daka .bottombg{



	position: absolute;



	bottom: 0;



	left: 0;



	width: 100%;



	background-color: #000000;



	filter:alpha(opacity=50);   



    -moz-opacity:0.5;   



    -khtml-opacity: 0.5;   



      opacity: 0.5;  



	height: 30px;



}



.daka .bottom{



	position: absolute;



	bottom: 0;



	left: 0;



	padding: 0 5px;



	color: #FFFFFF;



	font-size: 15px;



	line-height: 30px;



	height: 30px;



	overflow: hidden;



}



.report{



	font-size: 14px;



}



.report .title{



	font-weight: bold;



	margin-top: 10px;

	

	height: 20px;

    line-height: 20px;

    overflow: hidden;



}



.report img{



	width: 300px;



}



.report a{



	color: #000000;



}



.tushang {



	width: 340px;



	height: 275px;



	position: relative;



}



.tushang .img img{



	width: 100%;



}



.tushang .img{



	display: block;



	width: 100%;



	display: none;



}



.tushang .img.current{



	display: block;



}



.report  li{



	padding-left: 14px;



	background-image: url(http://img.idcquan.com/templates/default/images/newpage/icon-right.png);



	background-position: 0 9px;



	height: 30px;



	line-height: 30px;



	overflow: hidden;



}



.weixinbox .weixin{



	padding: 5px 0;



}



.weixin_tx{



	width: 58px;



	height: 58px;



	overflow: hidden;



	border-radius: 529px;



}



.weixin_tx img{



	width: 58px;



	height: 58px;



}



.weixin_name{



	color: #010101;



	font-size: 12px;



	margin: 5px 0;



	text-align: center;



}



.weixin_left{



	width: 58px;



}



.weixin_right{



	font-size: 13px;



	font-weight: bold;



	width: 232px;



	position: relative;



	height: 100px;



	margin-left: 10px;



}



.weixin_nr{

	

	margin-top:20px;



	height: 20px;



	overflow: hidden;



}



.weixin_pab{



	position: absolute;



	bottom: 0;



	right: 0;



	font-weight: normal;



	color: #D2D2D2;



}



/********************************服务商*/



.top10bg{



	position: relative;



	padding: 30px 10px;



	width: 340px;



	background-color: #f5f5f5;



}







.top10_title div{



	font-weight: bold;



	cursor: pointer;



	width: 96px;



	height: 30px;



	float: left;



	margin: 0 5px 0 0;



	line-height: 30px;



	text-align: center;



	color: #707070;



	background-color: #ededed;



}



.top10_title div.current{

	background-color: #fea85e;

	color: #FFFFFF;

}



.top10 .ul{

	display: none;

}

.top10 .ul.current{

	display: block;

}







/*************************************企业库*/



.qiyekubg{



	margin-top: 50px;



}



.qiyekubg img{



	margin-right: 30px;



	float: left;



}



.qiyekubg .qiyeku{



	float: left;



}



.qiyekubg .qiyeku li{



	position: relative;



	float: left;



	font-size: 14px;



	margin-left: 20px;



	line-height: 36px;



}



.qiyekubg .qiyeku .idc a{


	display: block;
	
	float: left;
	
	padding-right: 15px;



}



.qiyeku .idc .showmore{



	position: absolute; top: 11px; left: 572px; z-index: 5555; display: block; width: 17px; height: 17px;



	background-image: url(http://img.idcquan.com/templates/default/images/newpage/icon-more.png);



}



.qiyeku .idc .showmore1{



	background-image: url(http://img.idcquan.com/templates/default/images/newpage/icon-more1.png ) !important;



}



.qiyeku .idc.more{



	display: none;



}



 .qiyeku li a{



	color: #010101;



}



 .qiyeku li.current{



	font-size: 16px;



	font-weight: bold;



	



}



/********************合作企业**********************/



.cooperationbg{



	margin-top: 40px;



}



.cooperationbg a{



	display: block;



	width: 150px;



	height: 60px;



	float: left;



	margin: 10px 10px;



}



.cooperationbg a img{



	width: 150px;



	height: 60px;



}







/*本周热点*/



.week_hotbg{



	width: 320px;



	padding: 30px 20px;



	background-color: #f5f5f5;



}



.week_hot_title{



	color: #f50213;



	font-weight: bold;



	font-size: 18px;



	line-height: 18px;



	vertical-align: middle;



}



.week_hotbox{



	margin-top: 20px;



}



.week_hotbox a{



	display: block;



	color: #040404;



	font-size: 14px;



	height: 30px;



	line-height: 30px;



	width: 300px;



	overflow: hidden;



}



.week_hotbox a span{



	color: red;



}



.week_hotbox a:hover{



	color: red;



}











/*本周热点*/



.bigdata_casebg{



	width: 320px;



	padding: 30px 20px;



	background-color: #f5f5f5;



}



.bigdata_case_title{



	color: #f50213;



	font-weight: bold;



	font-size: 18px;



	line-height: 18px;



	vertical-align: middle;



}



.bigdata_casebox{



	margin-top: 30px;



}



.bigdata_case{



	display: block;



	margin-bottom: 20px;



}







.bigdata_case .title{



	font-size: 16px;



	height: 30px;



	line-height: 30px;



	overflow: hidden;



	color: #000000;



}



.bigdata_case .text{



	font-size: 12px;



	height: 40px;



	line-height: 20px;



	overflow: hidden;



	color: #b4b4b4;



}











/*大数据二维码*/



.erweima_bigdata{



	margin: auto;



}







/**************************************热门公众号*/







.public_account{



	width: 100px;



	float: left;



	margin-bottom: 20px;



}



.public_account img{



	width: 80px;



	height: 80px;



	margin: auto;



}



.public_account .text{



	font-size: 13px;



	width: 80%;



	margin:5px auto;



	height: 20px;



	line-height: 20px;



	overflow: hidden;



	text-align: center;



}











.modulebg{

	position: relative;

	padding:30px 30px;

	width: 300px;

	background-color: #f5f5f5;

}



.moduletitle{



	width: 300px;

	height: 18px;

	line-height: 18px;

	color: #b7151b;

	font-weight: bold;

	font-size: 18px;

}



.moduletitle img{

}



.moduletitle .f5{



	position: absolute;



	top: 13px;



	right: 12px;



	cursor: pointer;



}



.moduletitle a{

	display: block;

	width: 61px;

	height: 21px;

	position: absolute;

	right: 30px;

	top: 30px;

	background-image: url(http://img.idcquan.com/templates/default/images/newpage/module_more.png);

}





.modulebox{



	margin-top: 30px;



}



.readlist{



	height: 80px;



	line-height: 80px;



	overflow: hidden;



	margin-bottom: 30px;



}



.readlist .num{



	float: left;



	width: 14px;



	height: 14px;



	line-height: 14px;



	font-size: 12px;



	background-color: #CCCCCC;



	color: #FFFFFF;



	text-align: center;



	margin: 34px 10px 0 0;



}



.readlist .num.current{



	background-color: #f88803;



}



.readlist .img{



	width: 80px;



	height: 80px;



	



	float: left;



}



.readlist .img img{



	width: 80px;



	height: 80px;



}



.readlist .name{



	float: left;



	font-size: 16px;



	width: 104px;



	margin-left: 10px;



}

.readlist .name a{

	color:#333333;

	

}

.readlist .yueduliang{

	float: right;

    display: block;

    width: 80px;

    height: 38px;

	padding:20px 0;

    border: 1px solid #dedede;

    line-height: 19px;

    text-align: center;

    border-radius: 4px;

    

   

	

}

.readlist .yueduliang .t2{

	margin-top:6px

}

.readlist a{



#	float: right;

#

#	font-size: 14px;



#	width: 60px;



#	height: 24px;



#	line-height: 24px;



#	display: block;



#	text-align: center;



#	background-color: #db0a28;



#	color: #FFFFFF;



#	font-weight: bold;



#	border-radius: 4px;



#	margin-top: 28px;



}







/*********************************公众号详情*/



.public_infobox img{



	width: 84px;



	height: 84px;



	margin: auto;



}



.public_name{



	margin-top: 10px;



	text-align: center;



	font-size: 14px;



}



.public_info{



	width: 244px;



	margin: 30px auto 0 auto;



	text-align: center;



}



.public_info .p1{

	width: 110px;

	height: 90px;

	float: left;

	font-size: 13px;

	border: 1px solid #DEDEDE;



}

.ml20{

	margin-left: 20px;

}

.public_info .p1 .value{

	margin-top: 20px;

	font-size: 17px;

}



.public_info .p1 .key{



	margin-top: 5px;

	color:#333333;



}



.public_info .p2{



	width: 1px;



	height: 32px;



	margin-top: 6px;



	background-color: #767677;



	float: left;



}



.public_info .p1 .key{



	margin-top: 10px;



}



















/*********************热门会议*****************************/



.hotmeetbg{



	display: block;



	width: 320px;



	padding: 20px 20px 10px 20px;



	background-color: #f5f5f5;



	position: relative;



}



.hotmeetbg .more{



    position: absolute;



    right: 20px;



    color: #000000;



    top: 30px;



    font-size: 18px;



    font-weight: bold;



}



.hotmeettitle{



	color: #f50213;



	font-weight: bold;



	font-size: 18px;



	line-height: 18px;



	vertical-align: middle;



}



.hotmeetbox{



	margin-top: 18px;



}

#hotmeet .ad_meet img{

	width: 300px;



	height: 110px;

}



#hotmeet .ad_meet{



	color: #FFFFFF !important;



	display: block;



	width: 300px;



	height: 110px;



	margin: auto;



	position: relative;



	margin-bottom: 10px;



	line-height: 17px;



}



#hotmeet .ad_meet .bg{



	position: absolute;



	width: 100%;



	height: 40px;



	left: 0;



	bottom: 0;



	background-color: #000000;



	opacity: 0.5;



    filter:alpha(opacity=50);   



    -moz-opacity:0.5;   



   -khtml-opacity: 0.5;



}



#hotmeet .ad_meet .text{



	position: absolute;



	height: 40px;



	left: 0;



	bottom: -4px;



	padding:0 5px;

	font-size:13px;



}



#hotmeet .ad_meet .meetname{



	margin-top: 3px;



	height: 17px;



	overflow: hidden;



	font-size: 14px;



}



#hotmeet .ad_meet .meetdate{



	font-size: 12px;



	height: 17px;



	overflow: hidden;



}



.projectbox.current{



	display: block;



}



.projectbox{



	display: none;



	border-top: 1px solid #DEDEDE;



	padding-top: 25px;



}



.projectbox .project{



	width: 378px;



	height: 249px;



	border: 1px solid #DEDEDE;



	float: left;



	margin: 0 10px 20px 10px;



	overflow: hidden;



	position: relative;



}



.projectbox .project .img{



	width: 378px;



	height: 249px;



}



.projectbox .project .bg{



	position: absolute;



	width: 100%;



	height: 40px;



	bottom: 0;



	left: 0;



	background-color: #000000;



	filter:alpha(opacity=50); 



	-moz-opacity:0.5; 



	-khtml-opacity: 0.5; 



	opacity: 0.5; 



}



.projectbox .project .text{



	position: absolute;



	height: 40px;



	overflow: hidden;



	line-height: 40px;



	bottom: 0;



	left: 0;



	color: #FFFFFF;



	padding:0 10px;



	font-size: 16px;



}















/*************活动列表*******************************************/



.actbox.current{



	display: block;



}



.actbox{



	border-top: 1px solid #DEDEDE;



	padding-top: 25px;



	display: none;



}



.actbox .act{



	width: 378px;



	height: 249px;



	border: 1px solid #DEDEDE;



	float: left;



	margin: 0 10px 20px 10px;



	overflow: hidden;



	position: relative;



}

.actbox .act .tip{
	position: absolute;
	top:0;
}

.actbox .act .img{



	width: 378px;



	height: 249px;



}



.actbox .act .bg{



	position: absolute;



	width: 100%;



	height: 74px;



	bottom: 0;



	left: 0;



	background-color: #000000;



	filter:alpha(opacity=50); 



	-moz-opacity:0.5; 



	-khtml-opacity: 0.5; 



	opacity: 0.5; 



}







.actbox .act .hide .p2{



	margin-top: 15px;



	color: #bcbcbc;



	line-height: 20px;



}



.actbox .act .hide{



	display: none;



	width: 356px;



	height: 184px;



	margin: 10px auto;



	overflow: hidden;



	font-size: 12px;



	color: #000000;



}



.actbox .act .hide img{



	width: 176px;



	height: 110px;



	float: left;



	margin-right: 10px;



}



.actbox .act .hide .info{



	width: 170px;



	height: 110px;



	float: left;



	position: relative;



}



.actbox .act .hide .info .actname{



	font-weight: bold;



	



}



.actbox .act .hide .info .actaddr{



	margin-top: 20px;



	line-height: 20px;



}



.actbox .act .hide .info .actdate{



	position: absolute;



	left: 0;



	bottom: 0;



}



.actbox .act a{



	width: 86px;



	height: 30px;



	background-color: #248edf;



	color: #FFFFFF !important;



	border-radius: 15px;



	line-height: 30px;



	text-align: center;



	display: block;



	position: absolute;



	right: 30px;



	bottom: 15px;



}



.actbox .act .text{



	width: 230px;



	position: absolute;



	height: 74px;



	bottom: 0;



	left: 0;



	color: #FFFFFF;



	padding:0 10px;



	line-height: 20px;



}



.actbox .act .text .actname{



	height: 20px;



	overflow: hidden;



	margin-top: 8px;



	margin-top: 10px;



	font-size: 14px;



	font-weight: bold;



}



.actbox .act .text .actaddr {



	font-size: 12px;



	height: 40px;



	overflow: hidden;



}







.act_detail{



	line-height: 26px;



	border-top: 1px solid #DEDEDE;



	font-size: 15px;



	padding: 30px 0;



}



.act_detail .text{



	text-indent: 30px;



}



.act_detail .title{



	margin: 40px 0;



	font-weight: bold;



}



.act_detail img{



	margin: 50px auto;



}



/******************************分页*/



.pagebox{



	width: 596px;



	margin: 20px auto 0 auto;



}



.page{



	padding: 8px 10px;



	border: 1px solid #7f7f7f;



	font-size: 13px;



	line-height: 13px;



	display: block;



	float: left;



	color: #7f7f7f;



	margin: 0 7px;



}



.page:hover{



	background-color: #7f7f7f;



	color: #FFFFFF;



}



.page.current{



	background-color: #7f7f7f;



	color: #FFFFFF;



}







/************热门专题**********/



#hot_project{



	padding-bottom: 10px;



}



#hot_project .project{



	margin-top: 20px;



}



#hot_project  a{



	display: block;



	color: #000000;



	







	



	font-size: 14px;



	margin-bottom: 10px;



	



}



#hot_project a .on{



	background-color: #EEEEEE;



	padding: 0 10px;



	height: 35px;



	line-height: 35px;



	overflow: hidden;



}



#hot_project a .off{



	display: none;



	width: 300px;



	height: 180px;



	position: relative;



}



#hot_project a .off img{



	width: 300px;



	height: 180px;



	position: absolute;



	top: 0;



	left: 0;



}



#hot_project a .off .bg{



	width: 100%;



	height: 30px;



	background-color: #000000;



	 filter:alpha(opacity=50);   



      -moz-opacity:0.5;   



      -khtml-opacity: 0.5;   



      opacity: 0.5;



      bottom: 0;  



      position: absolute;



}



#hot_project a .off .bgtext{



	width: 100%;



	height: 30px;



	color: #FFFFFF;



	padding: 0 10px;



	 bottom: 0;  



      position: absolute;



      line-height: 30px;



}



/******项目投标*/



#toubiao .toubiao a{



	padding: 10px 0;



	font-size: 14px;



	display: block;



	color: #000000;



	height: 40px;



	line-height: 24px;



	overflow: hidden;



}



/******标准政策*/



#policy .policy a{



	font-size: 14px;



	display: block;



	color: #000000;



	height: 32px;



	line-height: 32px;



	overflow: hidden;



}



/******走进数据中心*/



#goidc .goidc a{



	font-size: 14px;



	display: block;



	color: #000000;



	height: 32px;



	line-height: 32px;



	overflow: hidden;



}



#goidc .goidc_current{



	display: block;



	font-size: 14px;



	color: #000000;



}



#goidc .goidc_current img{



	width: 110px;



	height: 60px;



	float: left;



}



#goidc .goidc_current div{



	float: left;



	width: 180px;



	height: 40px;



	overflow: hidden;



	margin-left: 10px;



	margin-top: 11px;



}







/*******************最爱者*/



#zuiai .zuiaibox{



	



}



#zuiai .zuiaibox a {



	display: block;



	color: #000000;



	font-size: 15px;



	line-height: 30px;



	height: 30px;



}



#zuiai a .num{



	float: left;



	width: 14px;



	height: 14px;



	margin-top: 8px;



	background-color: #d8d6d8;



	color: #5d5d5d;



	text-align: center;



	line-height: 14px;



	font-size: 12px;



}



#zuiai a .num.current{



	background-color: #fb7909;



	color: #FFFFFF;



}



#zuiai a .zuiai{



	float: left;



	margin-left: 10px;



	width: 276px;

	height: 30px;

	line-height: 30px;

	overflow: hidden;



}



/*首页第一焦点图*/



.focus1{width:800px;height:360px;overflow:hidden;position:relative;}



.focus1 ul{height:360px;position:absolute;}



.focus1 ul li{float:left;width:800px;height:360px;overflow:hidden;position:relative;background:#000;}



.focus1 ul li .bg{



	width: 100%;



	height: 50px;



	background-color: #000000;



	opacity: 0.6;



	position: absolute;



	bottom: 0;



	left: 0;



}

.focus1 ul li a img{

	width: 800px;

	height: 360px;

}

.focus1 ul li .bgtext{



	width: 670px;



	padding: 0 10px;



	height: 50px;



	line-height: 50px;



	overflow: hidden;



	font-size: 26px;



	position: absolute;



	color: #FFFFFF;



	bottom: 0;



	left: 0;



}



.focus1 ul li div{position:absolute;overflow:hidden;}



.focus1 .btn{position:absolute;width:108px;height:10px;padding:5px 10px;right:0;bottom:17px;text-align:center;}



.focus1 .btn span{display:inline-block;_display:inline;_zoom:1;width:13px;height:13px;_font-size:0;margin-left:5px;cursor:pointer;background:#fff;border-radius:50%;}



.focus1 .btn span.on{background:yellow;}



.focus1 .preNext{width:45px;height:100px;position:absolute;top:50%;margin-top:-50px;



background:url(http://img.idcquan.com/templates/default/images/newpage/sprite.png) no-repeat 0 0;cursor:pointer;display:none;}



.focus1 .pre{left:0;}



.focus1 .next{right:0;background-position:right top;}











/*首页第二焦点图*/



.focus2{width:800px;height:180px;margin-bottom: 10px; overflow:hidden;position:relative;}



.focus2 ul{height:180px;position:absolute;}



.focus2 ul li{float:left;width:800px;height:180px;overflow:hidden;position:relative;background:#000;}



.focus2 ul li div{position:absolute;overflow:hidden;}



.focus2 .btn{position:absolute;width:780px;height:10px;padding:5px 10px;right:0;bottom:5px;text-align:center;}



.focus2 .btn span{display:inline-block;_display:inline;_zoom:1;width:13px;height:13px;_font-size:0;margin-left:5px;cursor:pointer;background:#fff;border-radius:50%;}



.focus2 .btn span.on{background:yellow;}



.focus2 .preNext{width:45px;height:100px;position:absolute;top:50%;margin-top:-50px;



background:url(http://img.idcquan.com/templates/default/images/newpage/sprite.png) no-repeat 0 0;cursor:pointer;display:none;}



.focus2 .pre{left:0;}



.focus2 .next{right:0;background-position:right top;}















/*首页第三焦点图*/



.focus3{width:300px;height:200px;overflow:hidden;position:relative;}



.focus3 ul{height:200px;position:absolute;}



.focus3 ul li{float:left;width:300px;height:200px;overflow:hidden;position:relative;background:#000;}



.focus3 ul li a img{



	width: 300px;



	height: 200px;



}

.focus3 .info{

	width: 100%; 

	height: 30px; 

	position: absolute; 

	left: 0; 

	bottom: 0;

}

.focus3 .info .text{

	height: 30px; 

	position: absolute;

	color: #FFFFFF;

	line-height: 30px;

	overflow: hidden;

	padding: 0 10px;

}

.focus3 .info .bg{

	width: 100%; 

	height: 30px; 

	position: absolute;

	background-color: #000000;

	opacity: 0.5;

}

.focus3 ul li div{position:absolute;overflow:hidden;}



.focus3 .btn{position:absolute;height:10px;padding:5px 10px;right:0;bottom:40px;text-align:center;}



.focus3 .btn span{display:inline-block;_display:inline;_zoom:1;width:13px;height:13px;_font-size:0;margin-left:5px;cursor:pointer;background:#fff;border-radius:50%;}



.focus3 .btn span.on{background:yellow;}



.focus3 .preNext{display: none !important; width:45px;height:100px;position:absolute;top:50%;margin-top:-50px;



background:url(http://img.idcquan.com/templates/default/images/newpage/sprite.png) no-repeat 0 0;cursor:pointer;display:none;}



.focus3 .pre{left:0;}



.focus3 .next{right:0;background-position:right top;}





/*project页轮播图*/



.focus4{width:800px;height:430px;overflow:hidden;position:relative;}



.focus4 ul{height:430px;position:absolute;}



.focus4 ul li{float:left;width:800px;height:430px;overflow:hidden;position:relative;background:#000;}



.focus4 ul li .bg{



	width: 100%;



	height: 70px;



	background-color: #000000;



	opacity: 0.6;



	position: absolute;



	bottom: 0;



	left: 0;



}



.focus4 ul li .bgtext{



	padding: 0 10px;



	height: 70px;



	line-height: 70px;



	position: absolute;



	 font-size: 30px;



    font-weight: bold;



     overflow: hidden;



	color: #FFFFFF;



	bottom: 0;



	left: 0;



}



.focus4 ul li a img{



	width: 800px;



	height: 430px;



}



.focus4 ul li div{position:absolute;overflow:hidden;}



.focus4 .btn{position:absolute;width:108px;height:10px;padding:5px 10px;right:0;bottom:30px;text-align:center;}



.focus4 .btn span{display:inline-block;_display:inline;_zoom:1;width:13px;height:13px;_font-size:0;margin-left:5px;cursor:pointer;background:#fff;border-radius:50%;}



.focus4 .btn span.on{background:yellow;}



.focus4 .preNext{width:45px;height:100px;position:absolute;top:50%;margin-top:-50px;



background:url(http://img.idcquan.com/templates/default/images/newpage/sprite.png) no-repeat 0 0;cursor:pointer;display:none;}



.focus4 .pre{left:0;}



.focus4 .next{right:0;background-position:right top;}











/*activity页轮播图*/



.focus5{width:1200px;height:430px;overflow:hidden;position:relative;}



.focus5 ul{height:430px;position:absolute;}



.focus5 ul li{float:left;width:1200px;height:430px;overflow:hidden;position:relative;}







.focus5 ul li a img{



	width: 800px;



	height: 430px;



}







.focus5 .act_pptinfo{



	position: absolute;



	right: 0;



	top: 0;



	height: 430px;



	width: 400px;



	background-color: #fcfcfc;



	z-index: 6;



}



.focus5 .act_pptinfo .ul{



	width: 320px;



	margin: 20px 40px;



}



.focus5 .act_pptinfo .ul .li{



	font-size: 14px;



}



.focus5 .act_pptinfo .ul .li a{



	display: block;



	text-align: center;



	background-color: #248edf;



	color: #FFFFFF !important;



	padding: 10px 0;



	width: 136px;



	font-size: 22px;



	border-radius: 4px;



	position: absolute;

    bottom: 53px;

    right: 115px;



}



 .focus5 .act_pptinfo .ul .title{



	font-size: 18px;



	font-weight: bold;



	line-height: 26px;



	height: 26px;



	overflow: hidden;



	margin-bottom: 10px;



}



 .focus5 .act_pptinfo .ul .date{



	line-height: 26px;



	margin-bottom: 10px;



}



.focus5 .act_pptinfo .danwei .key{



	float: left;



	width: 74px;



}



.focus5 .act_pptinfo .danwei .text{



	float: left;



	width: 245px;



}















.focus5 .btn{position:absolute; width:1180px;height:10px;padding:5px 10px;right:0;bottom:5px;text-align:center;}



.focus5 .btn span{display:inline-block;_display:inline;_zoom:1;width:13px;height:13px;_font-size:0;margin-left:5px;cursor:pointer;background:#fff;border-radius:50%;}



.focus5 .btn span.on{background:yellow;}



.focus5 .preNext{width:45px; height:100px;position:absolute;z-index:7;top:50%;margin-top:-50px;



background:url(http://img.idcquan.com/templates/default/images/newpage/sprite.png) no-repeat 0 0;cursor:pointer;display:none;}



.focus5 .pre{left:0;}



.focus5 .next{right:0;background-position:right top;}















/*activity详情页轮播图*/



.focus6{width:1200px;height:430px;overflow:hidden;position:relative;}



.focus6 ul{height:430px;position:absolute;}



.focus6 ul li{float:left;width:1200px;height:430px;overflow:hidden;position:relative;}







.focus6 ul li a img{



	width: 800px;



	height: 430px;



}

.focus6 ul .tip{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}





.focus6 .act_pptinfo{



	position: absolute;



	right: 0;



	top: 0;



	height: 430px;



	width: 400px;



	background-color: #fcfcfc;



	z-index: 6;



}



.focus6 .act_pptinfo .ul{



	width: 320px;



	margin: 20px 40px;



}



.focus6 .act_pptinfo .ul .li{



	font-size: 15px;



}



.focus6 .act_pptinfo .ul .li a{

	display: block;



	text-align: center;



	background-color: #248edf;



	color: #FFFFFF !important;



	padding: 10px 0;



	width: 136px;



	font-size: 22px;



	border-radius: 4px;



	position: absolute;

    bottom: 20px;

    right: 115px;



}



 .focus6 .act_pptinfo .ul .title{



	font-size: 18px;



	font-weight: bold;



	line-height: 26px;



	height: 26px;



	overflow: hidden;



	margin-bottom: 10px;



}



.focus6 .act_pptinfo .ul .danwei{



	margin-top: 20px;



}



.focus5 .act_pptinfo .ul .danwei{



	margin-top: 20px;



}

 .focus6 .act_pptinfo .ul .date{



	line-height: 26px;



	margin-bottom: 10px;



}



.focus6 .act_pptinfo .danwei .key{



	float: left;



	width: 80px;



}



.focus6 .act_pptinfo .danwei .text{



	float: left;



	width: 240px;



}

.focus6 .act_pptinfo .danwei .text p{

	text-indent:0

}













.focus6 .btn{position:absolute; width:1180px;height:10px;padding:5px 10px;right:0;bottom:5px;text-align:center;}



.focus6 .btn span{display:inline-block;_display:inline;_zoom:1;width:13px;height:13px;_font-size:0;margin-left:5px;cursor:pointer;background:#fff;border-radius:50%;}



.focus6 .btn span.on{background:yellow;}



.focus6 .preNext{width:45px; height:100px;position:absolute;z-index:7;top:50%;margin-top:-50px;



background:url(http://img.idcquan.com/templates/default/images/newpage/sprite.png) no-repeat 0 0;cursor:pointer;display:none;}



.focus6 .pre{left:0;}



.focus6 .next{right:0;background-position:right top;}

.navbox{

	position:relative;

}



.pagebox{

	width: 596px;

	margin: 20px auto 0 auto;

}

.pagebox li{

	padding: 8px 10px;

	border: 1px solid #7f7f7f;

	font-size: 13px;

	line-height: 13px;

	display: block;

	float: left;

	color: #7f7f7f;

	margin: 0 7px;

}

.page li:hover{

	background-color: #7f7f7f;

	color: #FFFFFF;

}

.page.current{

	background-color: #7f7f7f;

	color: #FFFFFF;

}

/*处理文章页图片不居中*/

.article-content img{

	margin:auto !important;

}





.editor{

	width: 80px;

	display: block;

	float: left;

	margin: 0 10px;

	color: #000000;

	text-align: center;

	font-size: 14px;

	line-height: 30px;

}



.editor .touxiang{

	width: 80px;

	height: 80px;

	overflow: hidden;
	
	border-radius: 50%;
}

.editor .touxiang img{

	width: 80px;

	height: 80px;

}



/*自媒体 分页*/

.pagination .current{
	font-weight: normal;
	font-size: 12px;
}
.pagination span{
	cursor: default;
}
.pagination a:hover{
	color: #ffffff !important;
}
/*首页会议0522*/

.meet_index .year{
	font-size: 16px;
	clear: both;
	padding-top: 20px;
	padding-bottom: 5px;
}
.meet_index a{
	display: block;
	float: left;
	margin: 4px 1px;
}
.meet_index a img{
	width: 300px;
	height: 35px;
}