.postBody {
    border-bottom: 1px solid #ccc;
    font-family: 12px/1.125 Arial,Helvetica,sans-serif;
    color: #000;
    font-size: small;
    line-height: 1.5;
    padding: 15px 2px 5px 5px;
}
/* markdown内容样式 div="cnblogs-markdown" */
.cnblogs-markdown h3{
    padding-bottom: 2px;
    border-bottom-width: thin;
    border-bottom-color: rgb(154,154,154);
    border-bottom-style: inset;
}

#cnblogs_post_body.cnblogs-markdown p {
    margin: 5px auto;
}

/* 个人理解备注 */
.vmark, .vl_remark{
   color: #FF7D13;
}

/* 需要注意的地方*/
.vnote, .vl_note{
   color: #5f940a;
}

/* 个人理解总结重点，（相对没有疑问的总结）*/
.vce, .vl_certainty{
   color: blue;
}

/* 个人理解总结重点，（存在疑问的总结）*/
.vunce, .vl_uncertainty{
   color: red;
}

/* 网上找到的总结重点，（个人相对没有疑问的总结）*/
.wce, .web_certainty{
   color: blue;
   background-color:yellow;
}

/* 网上找到的总结重点，（个人认为有疑问的总结）*/
.wunce, .web_uncertainty{
   color: red;
   background-color:yellow;
}
/* 超链接 */
.cnblogs-markdown a,.cnblogs-markdown a:link{
   text-decoration: underline;
   color: #337FE5;
}

/* 引用样式 */
.cnblogs-markdown blockquote{
    padding-top: 0px;
    padding-bottom: 0px;
    border: 2px solid #999;
    color: #7c7c7c;
}

/* 有序or无序列表 */
.cnblogs-markdown li {
    margin-bottom: 0.2em;
}