body { font-size: 100%; background: #FFF url("/themes/user/aeros/images/default.jpg") fixed bottom / cover !important; }
#article_header { font-size: 80%; }
#article_body { font-size: 100%; }
#article_bar { font-size: 80%; }
ul { margin: 5px 0; }
#comments { font-size: 80%; line-height: 1.5em; }
code { margin: 0 0.3em; background: #ecf6fa; }
pre { border: solid 1px #ddd; padding: .2em .4em; margin: auto 1em; line-height: 1.2em; }
h1 { line-height: 1.2em; }
*:target { background-color: #dcbfff !important; }
#article_body { text-align: left; }
.ui-tabs-nav a { outline: none; }
div.syntaxhighlighter { overflow-y: hidden !important; }
.follow_him { background: url("/images/twitter.png") no-repeat scroll left center transparent !important; }
.reply_comment_box { margin: 0 0 0 15px; }
#content h1 { pointer-events: none; }
#content h2 { margin-bottom: 0.5em; }
.entry { padding: 2em 0!important; }

.storywrap, #article_wrap, #page_wrap, #guestbook_wrap {
  text-align: left !important;
}

#wrapper { width: 900px; }
#left-col { width: 675px; }
/* #content { width: 625px; border-radius: 0 0 1em 1em; } */
.post .title { width: 568px; }
.page-nav { background: rgba(66, 175, 220, 0.5); border-radius: 1em; height: 1.6em; padding: 0 0.5em; }
#footer { background: none; }
#nav {
  background-image: url("/themes/user/iTheme/stylesheets/images/content-top-bg.png"), url("/themes/user/iTheme/stylesheets/images/content-top-bg.png");
  background-repeat: no-repeat, no-repeat;
  background-position: left top, right top;
}
#sidebar a, #sidebar a:visited {
  text-decoration: none;
  color: #b1b1b1;
}
/* #tag_cloud { line-height: 100%; }
 * .tag_css1 { font-size: 0.5em !important; }
 * .tag_css2 { font-size: 0.7em !important; }
 * .tag_css3 { font-size: 1em !important; }
 * .tag_css4 { font-size: 1.5em !important; } */

a[href="http://www.51.la/?4551220"] { display: none; }
.syntaxhighlighter > .toolbar > span:last-of-type { display: none; } /* ? mark from syntaxhighligher */
.syntaxhighlighter .toolbar { background: none !important; }
#footer a { color: white !important; }

#content img {
  max-width: 90%;
}

blockquote::before {
  content: '“';
  font-size: 3em;
  color: #42afdc;
  position: relative;
  left: -0.7em;
  float: left;
  width: 0;
}
blockquote::after {
  content: '”';
  font-size: 3em;
  color: #42afdc;
  position: relative;
  top: -0.5em;
  left: 0.3em;
  float: right;
}
kbd {
  background-color: #e1f6ff;
  border-color: #45bbeb;
  border-style: outset;
  border-width: 0.2em;
  font-size: 0.8em;
  padding: 0.1em 0.2em;
  margin: 0.2em;
  white-space: nowrap;
  font-family: "Lucida Console", monospace;
}
abbr, acronym {
  cursor: help;
}

/* Vimscript 高亮 {{{ */
pre.vimscript { font-family: monospace; color: #e0e0e0; background-color: #242424; overflow: auto; margin-bottom: 15px; }
pre.vimscript::-moz-selection,pre.vimscript *::-moz-selection { background-color: #0c0c0c; }
.vimscript .lnr { color: #444444; background-color: #242424; }
.vimscript .Comment { color: #99968b; font-style: italic; }
.vimscript .Constant { color: #ffa1cf; }
.vimscript .Function { color: #ffff99; }
.vimscript .Identifier { color: #ffff99; }
.vimscript .Keyword { color: #8ac6f2; }
.vimscript .LineNr { color: #444444; background-color: #242424; padding-bottom: 1px; }
.vimscript .Normal { color: #e0e0e0; background-color: #242424; }
.vimscript .Number { color: #00ab11; }
.vimscript .PreProc { color: #008faf; }
.vimscript .Special { color: #ffddaa; }
.vimscript .Statement { color: #8ac6f2; }
.vimscript .String { color: #98ff85; font-style: italic; }
.vimscript .Type { color: #ffff99; }
/* }}} */
/* vim:se ft=css fdm=marker: */
#tag_cloud{padding:5px 20px 0px 20px;}
            .tag_css1 { font-size: 8px; }
            .tag_css2 { font-size: 12px; }
            .tag_css3 { font-size: 16px; }
            .tag_css4 { font-size: 24px; }
            