/* ajax */
#ajaxShowId{display: none!important;}
.ajax_loading, .ajax_loading_left, .ajax_loading_inline, .ajax_loading_inline_left { display: block;font-weight:bold;color: #F00; text-align: center; padding: 10px!important; margin: 0!important;}
.ajax_loading_left { text-align: left; }
.ajax_loading_inline {display: inline-block;}
.ajax_loading_inline_left {display: inline-block; text-align: left;}

/* 分页 */
.pagination li {float: left;}
.pagination select { height: 32px;margin: 0 4px;}

/* admin */
.breadcrumb li a { color: #585858; text-decoration: none; }
.breadcrumb li a:hover { color: #4b88b7; }
.input-text-sm { width: 125px; }
.cursor-default { cursor: default!important; }
.inline-block { display: inline-block; }

/* blog */
.blog-header { background: #467AA7; color: #ffffff; position: relative; }
.blog-header h1 { margin: 0; font-family: "microsoft yahei", "微软雅黑"; font-size: 18px;padding: 20px 10px 10px 12px; }
.blog-header h1 a { color: #ffffff; font-size: 27px; }
.blog-header h1 a:hover { text-decoration: none; }
.blog-header h3 { margin: 0; font-size: 13px; padding: 5px 10px 25px 12px; }
.blog-search { position: absolute; bottom: 15px; right: 12px; }
.blog-search-text { border: 0!important; border-bottom: 1px solid #ffffff!important; background-color: transparent!important; color: #ffffff!important; width: 170px; padding-right: 50px!important; }
.blog-search-submit { position: absolute; top: 0; right: -10px; ;border: 0!important; background-color: transparent!important; width: 60px!important; height: 28px!important; }
.blog-navbar { background: #578bb8; }
.blog-navbar .container { margin:0; padding:0; }
.blog-navbar .navbar-nav > li { border-color:#467AA7; }
.blog-left, .blog-right { margin: 0; padding: 0; background-color: #f2f2f2; }
.blog-left { border-right: 1px solid #e4e4e4; }
.blog-right { border-left: 1px solid #e4e4e4; }
.blog-middle, .blog-middle a { font-size: 15px; }
.blog-middle { padding: 12px 12px 0 12px;}
.blog-middle a { text-decoration: none; }
.blog-middle .pagination { margin: 10px 0; }
.blog-param { padding: 7px 0 10px 0; line-height: 20px; }
.blog-param, .blog-param a { font-size: 13px; }
.blog-title, .blog-title a { font-size: 16px; }
.blog-title { font-weight: bold; padding: 5px; background: #dfefff; border: solid 2px #47a; border-right: solid 2px #000; }

.blog-content { font-size: 16px; line-height: 1.7!important; letter-spacing: 1px; padding-bottom: 20px; }
.blog-content a { text-decoration: underline; }
.blog-content img { max-width: 100%!important; height: auto!important;border:1px solid #cccccc}
.blog-content p { margin: 0; padding: 10px 0; }
.blog-content hr { font-size: 0; border: 0; height: 7px; background: url(../../ace-admin/css/images/content-line.jpg) repeat-x 0 0; }
.blog-content br { font-size: 0; height: 0; line-height: 0; }
.blog-content table { margin: 5px 0; }
.blog-content table td, .blog-content table th { border: 1px solid #ccc; padding: 5px; }
.blog-content table th { font-weight: bold; text-align: center; background: #eeeeee; }

/* markdown-body */
.blog-content h1, .blog-content h2, .blog-content h3, .blog-content h4, .blog-content h5, .blog-content h6 { margin-top: 45px; margin-bottom: 16px; font-size: inherit; font-weight: 600; line-height: 1.25; color: #000; vertical-align: middle }
.blog-content h1 { padding-bottom: .3em; font-size: 26px; color: red; border-bottom: 3px solid #eee; display: inline-block; padding-right: 1em }
.blog-content h2 { padding-bottom: .3em; font-size: 24px; color: red; border-bottom: 3px solid #eee; display: inline-block; padding-right: 1em }
.blog-content h3 { font-size: 22px; color: #0000ff }
.blog-content h4 { font-size: 20px }
.blog-content h5 { font-size: 18px }
.blog-content h6 { font-size: 16px; color: #777 }

.blog-content h1:first-child,
.blog-content h2:first-child,
.blog-content h3:first-child {
    margin-top: 10px;
}
h1 + h2 {
    display: block !important;
    border-bottom: none !important;
    margin-top: 10px !important;
}

h1 + h3 {
     margin-top: 10px !important;
}
h2 + h3 {
     margin-top: 10px !important;
}

code { font-family: Menlo, Monaco, Consolas, "Courier New", monospace; padding: 2px 4px; color: #d14; background-color: #f7f7f9; border: 1px solid #e1e1e8; border-radius: 3px; }

.blog-prev-next { margin-top: 40px; margin-bottom: 40px; }
.blog-archives {display:inline-block;min-width: 300px;border-bottom: 1px dashed #999999;margin-left: 20px}
.blog-archives a { text-decoration: none; margin-left: 20px; }
.blog-footer { margin-top: 20px; background: #DFEFFF; border-top: 1px solid #06C; }
.blog-footer .footer-inner { text-align: center; padding: 15px 0; }

.blog-middle .syntaxhighlighter { font-size: 16px!important; margin-top: 10px!important; margin-bottom: 10px!important; }
.syntaxhighlighter code { color: #afafaf; }
.blog-middle blockquote { padding: 15px; margin: 5px 0; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; background: #E3E3E3; font-size: inherit; border: none; }
.blog-no-data{text-align: center; padding: 50px;}

/* 回到顶部 */
.btn-scroll-up {right: 18px;}

/* 小屏幕隐藏左边导航栏 */
@media (min-width: 992px) {
    .blog-right.collapse{
        display: block !important;
        visibility: visible !important;
    }
    
    .blog-middle {
        padding: 20px 20px 0 20px;
    }
    
    .navbar-collapse {
        padding-right: 20px;
        padding-left: 20px;
    }
    
    .blog-header h1 {
        padding-left: 20px;
    }
    
    .blog-header h3 {
        padding-left: 20px;
    }
    
    .blog-search {
        right: 20px;
    }
}