
/*search page */
.w3-search-input{
	height: 70px!important;
}
.w3-search-nav-shadow{
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.2)!important;
}



/* index_page diy w3 */
.w3-common-nav{
		width: 1048px!important;
		height:70px!important;
		margin: 0 auto!important;
}
.w3-common-bj{
	    box-shadow: 0 2px 2px 0 rgba(0,0,0,.2)!important;
}


/*index page*/
/*the newest tab*/
.index-logo-words{
	font-family: 'Audiowide', cursive;
	color:#ea6f5a;
}
.index-logo-words a:link{
	text-decoration: none!important;
}
.index-logo-words a:visited{
	text-decoration: none!important;
}
.index-logo-words a:hover{
	text-decoration: none!important;
}
.index-tab-wrap{
	/*margin-bottom:10px!important;
	margin-top:10!important;*/
}
.index-tab-newest{
	border: 1px solid #eee;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
	padding-left:25px!important;
	padding-right:25px!important;
	margin-right: 10px!important;

}


.index-tab-newest:hover{
	background: white!important;
	/*border-right: 1px solid #ccc!important;
	border-left: 1px solid #ccc!important;
	border-top: 1px solid #ccc!important;
	border-bottom: 1px solid white!important;*/
}
.w3-tag a:link{
	text-decoration: none!important;
}
.w3-tag a:visited{
	text-decoration: inherit;
}

.post-tag{
	border-radius:3px;
	margin-right: 10px;
} 

.common-post-tag{
	background-color: white!important;
    border: 1px solid #4caf50!important;
    color: #4caf50!important;
}

.post-tag-line-height{
	height: 25px!important;
	line-height: 25px!important;
	display: inline-block!important;
	margin-bottom: 5px;
}


.index-tag{
/*	padding:10px 0px;*/
	padding-top: 15px;
	padding-bottom: 5px;
/*	margin-bottom:5px;*/
	background: #eee;
	text-align:center; 
	min-height:45px; 
	overflow:hidden;
}

.index-class{
	padding:3px;
	margin-bottom:5px
}

.index-left{
	width:728px
}

.index-left-right{
	width:180px;
	text-align:right;
}
.index-left-right img{
	max-height: 110px!important;
}

.index-left-left{
	width:548px;
}

.index-right{
	width:300px;
	margin-left:20px;
}

.index-common-h2{
	font-size:16px;
	font-weight:700;
	padding-top:15px;
	padding-bottom:15px;
	height: 50px!important;
}

.index-hr{
	padding:0px;
	margin:0px;
	position:relative;
	top:-1px;
	z-index:-10;
	margin-bottom: 15px!important;
}

.delete-common-m-p{
	padding:0px!important;
	margin:0px!important;
}


.index-post-title{
	text-align:left;
	padding:0px;margin:0px;
	font-size:18px;
	font-weight:700;
	line-height:1.5;
}
.index-post-title a:link ,.index-hot-article a:link{
	color:#333333;
	text-decoration:none;
}

.index-post-title a:hover,.index-hot-article a:hover{
	text-decoration:underline;
}

.index-post-title a:visited,.index-hot-article a:visited{
	color:#969696;
}

.index-post-desc{
	text-align:left;
	font-size:14px;
}

.index-post-bottom-line-word{
	color:gray; 
	font-size:12px;
	margin-right: 5px;
}

.index-post-wrap{
	border-bottom:1px solid #eee;
	margin-bottom:15px;
	min-height: 120px!important;
}

.index-common-right-ads{
	margin:10px 0px;
}

.index-hot-article{
	padding:10px 0px!important;
	margin:0px!important;
	border-bottom:1px dashed #d8d7d7!important;
}

.index-qq{
	padding:10px 0px; 
	border:1px dashed #d8d7d7!important;
	margin-top:10px;
	text-align:center;
	font-weight: bold;
}


.w3-index-banner-pre{
	border-top-right-radius:3px;
	border-bottom-right-radius:3px;
	margin-top:62px;
}
.w3-index-banner-next{
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
	margin-top:62px;
}

.index-banner-name{
	margin-top:62px;
}
.pagination{
	margin-top:10px;
	margin: 0px!important;
    padding: 0px!important;
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
	margin-bottom:5px;
}
.pagination li{
	list-style:none;
	display: inline-block;
}
.pagination li a{
	border: none;
    display: inline-block;
    outline: 0;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
	padding:0 16px;
	margin-right:2px;
}

.pagination li a:hover{
	padding:0 16px;
	color: #000!important;
    background-color: #ccc!important;
}
.pagination li.active span{
	padding:0 16px;
	height:100%;
	line-height:38px;
	color: #fff!important;
    background-color: #4CAF50!important;
	display:inline-block;
}
.pagination li span{
	padding:0 6px;
}
/*post page*/

pre {
    margin: 28px 0;
    margin-left: 0;
    padding-left: 18px;
    border-left: 3px solid #74b73f;
    font-size: .9em;
    line-height: 1.5em;
    overflow: auto;
    padding-top: 8px;
    padding-bottom: 8px;
    border-right: 0;
    border-top: 0;
    border-bottom: 0;
    border-radius: 5px;
    white-space: pre!important;
    word-wrap: break-word!important;
    border: 1px dashed #2f6fab;
    background-color: #f9f9f9;
    text-align: left!important;
}
pre code {
  background-color: transparent;
  padding: 0;
  margin: 0;
  font-size: 14px;
  color: #3a3a3a
}

td.line_numbers pre {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.warning {
  background-color: #fedee1;
  white-space: normal;
  display: block;
  padding: 13px 17px;
  font-size: 15px;
  line-height: 26px;
  border-radius: 3px
}

.secondary-code-label {
  color: rgba(0,0,0,.3);
  margin-bottom: 4px;
  display: block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.code-label {
  display: block;
  padding: 0 15px;
  margin-bottom: -32px;
  font-weight: 400;
  color: #3a3a3a;
  background-color: #dedede;
  border-radius: 3px 3px 0 0;
  text-align: center;
  font-size: 14px;
  z-index: 2;
  position: relative
}

.code-label.notes-and-warnings {
  margin-bottom: -3px;
  padding: 4px 0
}

.code-label.note {
  background-color: #eae9cc
}

.code-label.notes-and-warnings {
  margin-bottom: -3px;
  padding: 4px 0
}

.code-label.warning {
  background-color: #f4d5d8
}

code {
  font-size: 15px;
  padding: 3px;
  background-color: rgba(0,0,0,.05);
  border-radius: 3px
}

span.highlight {
  background: 0;
  color: #e94849
}

.article-content .note {
  background-color: #f4f2d4;
  color: #3a3a3a;
  white-space: normal;
  display: block;
  padding: 13px 17px;
  margin-bottom: 22px;
  font-size: 15px;
  line-height: 26px;
  border-radius: 3px
}

.pure-table {
  margin-bottom: 24px;
  font-size: 16px;
  border: 1px solid #eaeaea;
  border-radius: 3px;
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show
}

.pure-table thead {
  background: #efefef;
  color: #000;
  text-align: left;
  vertical-align: bottom
}

.hljs-string {
  color: #800
}

.hljs-number {
  color: #080
}

p.command {
  padding: 1em;
  border: 1px dashed #2f6fab;
  color: black;
  background-color: #f9f9f9;
  border-radius: 4px;
  line-height: 1.1em;
  font-family: Courier New,Courier,mono;
  font-size: 12px;
  font-style: italic;
  margin-bottom: 10px;
  margin-top: 10px
}

table {
    width: 100%!important;
}
table td {
    border: 1px solid #ededed;
    padding: 2px 8px;
}


.prettyprinted{
	width: 708px!important;
	text-align: left!important;
}


.post-title-bottom-tag{
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px;
}

.post-title-bottom-tag p{
	text-align: left;
}

.w3-pre-post,.w3-new-post{
	color:#c1c1c1;
	margin: 0px!important;
}
.w3-next-wrap{
	padding:0px!important;
	margin: 25px 0px;
}
.post-post-bottom-tag{
	margin-top:15px!important;
}

.post-relation-article{
	padding-bottom: 5px!important;
	margin-bottom: 10px!important; 
}


/*nav*/

 .scrollspy-nav {
    top: 0;
    z-index: 100;
    background: #0e90d2;
    width: 100%;
    padding: 0 10px;
  }

  .scrollspy-nav ul {
    margin: 0;
    padding: 0;
  }

  .scrollspy-nav li {
    display: inline-block;
    list-style: none;
  }

  .scrollspy-nav a {
    color: #eee;
    padding: 10px 20px;
    display: inline-block;
  }

  .scrollspy-nav a.am-active {
    color: #fff;
    font-weight: bold;
  }

  .am-panel {
    margin-top: 20px;
  }
  
  /* share button */
.jiathis_share_slide{
	border-top: 1px solid rgb(203, 213, 237)!important;
    border-right: 1px solid rgb(203, 213, 237)!important;
    border-bottom: 1px solid rgb(203, 213, 237)!important;
	border-left: 1px solid rgb(203, 213, 237)!important;
}


/*post side title*/

  /* nav */
  .nav {
    padding-left: 0px;
  }
  /* all anchors */
  .nav > li > a {
    padding: 3px;
    border-left: 0px rgba(0,0,0,0);
  }
  /* first level */
  .nav li >  a {
    padding-left: 0px;
    width: 300px!important;
  }
  /* second */
  .nav .nav li >  a {
    padding-left: 0px;
    font-size:.9em;
  }
  /* third */
  .nav .nav .nav li >  a {
    padding-left: 30px;
    font-size:.8em;
  }
  /* fourth */
  .nav .nav .nav .nav li >  a {
    padding-left: 40px;
  }
  /* fifth */
  .nav .nav .nav .nav .nav li >  a {
    padding-left: 50px;
  }
  /* active link */
  li.active > a {
    font-weight:bold;
    border-left: 2px solid gray;
  }
  /* hide second level lists */
  .nav .nav {
    display:none;
  }
  /* show second-level when active */
  .nav > .active > .nav {
    display: block;
  }
/* search page */
.h50 {
    height: 50px;
}
.search-results {
    padding: 10px;
    line-height: 25px;
}

.search-results .panel-heading h3 {
    color: #696969;
    font-size: 15px;
    margin-bottom: 12px;
}

.search-results a {
    color: #333;
}

.search-results .result {
    margin-bottom: 20px;
}

.search-results .user.result {
    margin-top: 8px;
    margin-bottom: 0px;
}

.search-results .result em {
    color: #EB5424;
    font-style: normal;
}

.search-results .result .title {
    font-size: 18px;
}

.search-results .result .title .badge {
    background: #EBEDEE;
    color: #9A9DA0;
    font-weight: normal;
    font-size: 12px;
    margin-left: 4px;
}

.search-results .result .info {
    margin-bottom: 6px;
    font-size: 14px;
}

.search-results .result .info .url a {
    color: #23863F;
}

.search-results .result .info .date {
    color: #999;
    margin-left: 8px;
}

.search-results .result .desc {
    color: #666;
    font-size: 14px;
    word-break: break-all;
}

.search-results .result .desc em {
    color: #F86334;
}

.search-results .user .info {
    margin-top: 4px;
    font-size: 14px;
}

.search-results .user .info.number {
    color: #666;
    font-size: 13px;
}

.search-results em {
    color: #e07b7a;
}

.search-results .role-label {
    display: inline-block;
    position: absolute;
}

.search-results .role-label a.label {
    font-size: 85%;
    font-weight: 100;
    padding: 0.2em 1em .2em;
    position: relative;
    margin: 8px;
    color: #fff;
}

.search-results .user-info {
    padding-top: 8px;
    padding-left: 8px;
}

.search-results hr {
    margin-top: 15px;
    margin-bottom: 15px;
}

.search-results .list-panel .panel-body {
    padding: 0px;
}
.post-title-bottom-tag > *,
.post-title-bottom-tag img{
    max-width: 100%;
}


/*reponsive code*/
@media(max-width: 700px){
  .w3-common-nav{
    width: 100%!important;
  }
  .container{
    width: 100%!important;
    overflow: hidden!important;
  }
  .index-left{
    width: 100%!important;
    padding: 0 10px!important;
    overflow: hidden!important;
  }
  .index-right{
    width: 100%!important;
    padding: 0 10px!important;
    margin:0px!important;
    overflow: hidden!important;
  }
  pre{
    white-space: pre-wrap!important;
    word-wrap: break-word!important;
  }
  span,p,div{
    word-wrap: break-word!important;
    word-break: break-all!important;
  }
}