@charset "utf-8";
/* CSS Document */
.c_content{
    width:980px;
    margin:0 auto;
}
.c_content_left{
    width:700px;
    float:left;
}

.con_title{
    padding: 5px 0px;
    text-align: center;
    border-bottom: 1px dashed #999;

}
.con_title h1{
    font-size:20px;
    font-family:Microsoft Yahei;
    font-weight:700;
    margin-bottom:20px;
}
.con_title span{
    font-size: 12px;
    color: #888;
    overflow: hidden;
    font-family:Microsoft Yahei;
}
.con_con{
    margin-bottom:10px;
    overflow:hidden;
    line-height: 35px;
    word-break: break-all;
}
.con_con img {
    display: block;
    height: auto;
    max-width: 100%;
}
.con_con p{
    padding: 0;
    margin: 0;
}
.con_con a{
    text-decoration:underline;
    color:#021ffb;
    cursor:pointer
}
.con_con *{
    font-size:15px;
    line-height: 28px;
}
.con_about:after {content: "."; display: block; height:0; clear:both; visibility: hidden;}
.con_about_title{
    font-size:16px;
    border-bottom:2px solid #0C760A;
    padding-bottom:5px;
    color:#0C760A;
}
.con_about ul li{
    float:left;
    margin-right:10px;
    margin-bottom:10px;
}
.con_about ul li a:hover{
    color:#f60;
}
.con_about ul {
    padding:10px 20px;
}
.con_about_listimg img{
    width:120px;
    height:100px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px #CCC;
}
.con_about_listtitle{
    padding-top:5px;
    font-size:12px;
    display:block;
    width:120px;
    word-break:break-all;
    overflow:hidden;
    height: 32px;
}



.con_download{
    margin-bottom:20px;
}
.con_download_title{
    color:#0C760A;
    border-bottom:2px solid #0C760A;
    padding-bottom:5px;
    margin-bottom:20px;
    font-size: 16px;
}
.gaosu{
    float: left;
    width: 670px;
    margin-left:15px;
}
.gaosu div{
    float: left;
    font-size: 15px;
    color: #F00;
    line-height: 26px;
    height: 70px;
}
.gaosu li{
    width: 150px;
    display: block;
    height: 33px;
    float: left;
}
.gaosu li a{
    background: url('../images/downloadbq.png') no-repeat scroll 0px 0px transparent;
    width: 75px;
    display: block;
    height: 27px;
    line-height: 27px;
    padding-left: 42px;
    color: #FFF;
    font-size: 14px;
    float: left;
    margin-bottom: 5px;
}
.baidu{
    float: left;
    width: 670px;
    margin-left:15px;
}
.baidu div{
    float: left;
    font-size: 15px;
    color: #F00;
    line-height: 26px;
    height: 40px;
}
.baidu li{
    width: 150px;
    display: block;
    height: 33px;
    float: left;
}
.baidu li a{
    background: url('../images/downloadbq.png') no-repeat scroll 0px 0px transparent;
    width: 75px;
    display: block;
    height: 27px;
    line-height: 27px;
    padding-left: 42px;
    color: #FFF;
    font-size: 14px;
    float: left;
    margin-bottom: 5px;
}
.xunlei{
    float: left;
    width: 670px;
    margin-left:15px;
}
.xunlei div{
    float: left;
    font-size: 15px;
    color: #F00;
    line-height: 26px;
    height: 80px;
}
.xunlei li{
    width: 150px;
    display: block;
    height: 33px;
    float: left;
}
.xunlei li a{
    background: url('../images/downloadbq.png') no-repeat scroll 0px 0px transparent;
    width: 75px;
    display: block;
    height: 27px;
    line-height: 27px;
    padding-left: 42px;
    color: #FFF;
    font-size: 14px;
    float: left;
    margin-bottom: 5px;
}
.con_info ul{
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.con_info ul li{
    float: left;
    width: 50%;;
    text-align: left;
    font-size: 12px;
    margin-bottom: 10px;
}

.con_info ul li.longs{width:480px}
.soft_info_h{
    height:240px;
}
#soft_h1{
    font-size: 18px;
    text-align: left;
    float: left;
    width: 480px;
}
.xxdj5{width:68px;  background:url('../images/xxs.png') no-repeat; height:15px; background-position:0 4px;display: inline-block;}
.xxdj4{width:68px;  background:url('../images/xxs.png') no-repeat; height:15px; background-position:-14px 4px;display: inline-block;}
.xxdj3{width:68px;  background:url('../images/xxs.png') no-repeat; height:15px; background-position:-28px 4px;display: inline-block;}
.xxdj2{width:68px;  background:url('../images/xxs.png') no-repeat; height:15px; background-position:-41px 4px;display: inline-block;}
.xxdj1{ width:68px;  background:url('../images/xxs.png') no-repeat; height:15px;background-position:-55px 4px;display: inline-block;}
.ds-powered-by{display:none;}
.con_info{ width:420px; float:left;}
.c_content_left .info_tit,.con_download .info_tit{padding-left:18px;height:34px;line-height:34px;background-color:#f0f7ff;border-top:1px dashed #dedede;width:auto;font-weight:700}
.con_download .dwmfs span img{vertical-align:middle; margin-top:6px;}
.con_download .dfscnt{padding:21px 18px 3px;*zoom:1;*padding-bottom:21px}
.dlLinks {margin: 0 0 20px; width:285px;float: left;}
.dlLinks li {overflow: hidden;width:100%; height:100%;}
.dlLinks strong {color: #666666;overflow: hidden;white-space: nowrap;width: 90px;float: left;height: 24px;line-height: 24px;overflow: hidden; margin-bottom: 10px; }
.dlLinks li .aLink, .dlLinks li .aLinks {float: left;width: 285px;}
/*按钮样式 S*/
.agrdwm .btn-dl {
    background: url("../images/softspr.png")0 -84px no-repeat;
    border-radius: 5px;
    margin-right: 20px;
}
.agrdwm .btn-dr {
    background: url("../images/softspr.png") 0 0 no-repeat;
    border-radius: 5px
}
.agrdwm .downBtn {
    display: block;
    width: 200px;
    height: 72px;
    color: #fff;
    cursor: pointer;
    text-align: center;
}
.agrdwm .downBtn .suy-l{
    font-size: 28px;
    margin-top: 6px;
    line-height: 40px;
}
.agrdwm .btn-dl .suy-l{
    margin: 13px 0 0 21px !important;
}
.agrdwm .btn-dr .suy-l{
    margin: 7px 0 0 9px !important;
    text-indent: 1em;
}
.agrdwm .btn-dr .suy-r{
    margin: 0 0 0 30px !important;
    font-size: 12px;
}
/*按钮样式 E*/
/*下载地址样式 S*/
.dlLinks ul{
    overflow: hidden;
    height: 100%;
}
.dlLinks .item {
    width: 128px;
    height: 30px;
    float: left;
    margin-right: 11px;
    margin-bottom: 10px;
    text-align: center;
    line-height: 30px;
}
.dlLinks .item.full-w {
    width: 100%;
}
.dlLinks .item .ico {
    width: 18px;
    height: 18px;
    margin-right: 10px;
    margin-top: 6px;
    *margin-top: 8px;
    float: left;
    background-repeat: no-repeat;
    background-image: url("../images/sp_1.png");
}
.dlLinks .item .ico.ico-1 {
    background-position: -127px -203px;
}
.dlLinks .item .ico.ico-2 {
    background-position: -149px -203px;
}
.dlLinks .item .ico.ico-3 {
    background-position: -171px -203px;
}
.dlLinks .item .ico.ico-4 {
    background-position: -193px -203px;
}
.dlLinks .item .ico.ico-5 {
    background-position: -215px -203px;
}
.dlLinks .item a{
    display: block;
    width: 98px;
    height: 30px;
    text-align: left;
}
.dlLinks .speed a{
    padding-left: 30px;
    color: #fffdfd;
    background: url("../images/soft3322_xz.png") no-repeat;
    background-color: #f90;
    background-position: 5px 5px
}
.dlLinks .guanggao-r{
    width: 470px;
    text-align: center;
}
.dlLinks .guanggao-r a{
    display: block;
}
/*下载地址样式 E*/
.dlLinks li .aLink .aFlashget {background-position: -240px 0;width: 92px;}
.fye { padding-top:8px;margin-left:20px;width:640px; clear:both; padding-left:0px;border-top-color: #D2D2D2; border-width:1px; border-top-style:solid;}
.fye div { padding-bottom:10px;}
.gsxxq1{z-index:99;position:absolute;background:url(../images/xzqbg.gif) -2px -1px  no-repeat;width:246px;height:72px;}
.gsxxq2{z-index:99;position:absolute;background:url(../images/xzqbg.gif) -2px -1px  no-repeat;width:246px;height:72px;}
.gsxxq2{background-position:-2px -145px;}
.gsxxq1:hover{background-position:-2px -74px;}
.gsxxq2:hover{background-position:-2px -217px;}
.rad{ width:370px; float:right;margin-bottom: 20px; margin-top: 30px;}
.dad{margin: 10px 0; height: 60px;}
.ad2 {
    margin:7px 0 0 0;position:relative;height:67px;width:700px;
}
.wk_gg1{width:700px;height: 60px;background:#FFF;TEXT-ALIGN:left;text-decoration:none;float:left;margin:0 0 0 0;}
