/*
 * Announcement Widget
 */

.announcement-title {
  font-size: 14px;
  font-weight: bold;
  margin: 0 0 15px;
  text-decoration: underline;
}

.announcement-body-text {
  line-height: 1.225;
  margin: 0 0 15px;
  padding: 8px 0 3px;
}

.announcement-body-text p {
  font-size: 12px;
  font-weight: bold;
  margin: 0 0 5px;
}

/*
 * Announcement Widget - Important State
 */

.announcement.is-important .announcement-body-text {
  border: solid red 1px;
}

/*
 * Partners Widget
 */

.partners-title {
  font-size: 14px;
  font-weight: bold;
  margin: 0 0 15px;
  text-decoration: underline;
}

.partner-item {
  margin: 0 0 15px;
}

/**
 * Footer Menu
 */

.footer-menu {
  margin: 100px 0 50px;
}
