@charset "UTF-8";
.ellipsis { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.topicwrapper { width: 1100px; margin: 20px auto 0; }

.topic-relative { width: 280px; }
.topic-relative > div { border-radius: 4px; background-color: #fff; margin-top: 20px; padding: 12px 0; }
.topic-relative div:first-child { margin-top: 0px; }

.topic-relative-title span { color: #979797; font-size: 12px; }

.topic-relative-title h2 { display: inline; font-size: 18px; color: #222; font-weight: normal; margin-left: 10px; }
.topic-relative-title h2:before { content: ''; display: inline-block; height: 20px; vertical-align: text-bottom; margin-right: 6px; border-radius: 2px; width: 6px; }
.topic-relative-title h2.t1:before { background-color: #d4a0ff }
.topic-relative-title h2.t2:before { background-color: #a6e458 }
.topic-relative-title h2.t3:before { background-color: #ffb161 }

.topic-relative-box { margin: 0 16px; list-style: none; padding: 0; }

.job li { padding: 20px 0; border-top: 1px solid #f0f0f0; }
.job li:first-child { border: none; }
.jobtitle a { font-size: 14px; width: 140px; }
.job p { font-size: 14px; color: #979797; margin: 6px 0 10px; }
.job-benefit { line-height: 22px; height: 22px; overflow: hidden; font-size: 0; margin-top: 10px; }
.job-benefit span { display: inline-block; line-height: 22px; font-size: 12px; color: #3282c0; padding: 0 4px; white-space: nowrap; background-color: #e3f1ff; margin-right: 8px; }

.store { margin-top: 14px; }
.store li { overflow: hidden; padding: 10px 0; }
.store img { float: left; width: 50px; height: 50px; border-radius: 2px; margin-right: 12px; }
.store li > div { float: left; width: 186px; padding-top: 4px; }
.store h2 { font-size: 14px; font-weight: normal; margin: 0 0 6px; padding: 0; }
.store strong { font-size: 14px; color: #d1095c; }

.project li { padding: 20px 0; border-top: 1px solid #f0f0f0 }
.project li:first-child { border: none; }
.project h2 { line-height: 22px; font-size: 14px; font-weight: normal; margin: 0; }
.project p, .project span { line-height: 20px; margin: 8px 0 0 0; font-size: 14px; }
.project span { display: inline-block; color: #979797; }

.topic-box { width: 800px; }
.topic-box > div { background-color: #fff; border-radius: 4px; padding: 20px; }
.topic-box > p { line-height: 34px; font-size: 20px; margin: 20px 0; color: #222 }

.topic_type { position: absolute; right: 0; top: 0; }

.topic-meta { padding: 20px 0 30px; border-bottom: 1px solid #f0f0f0; margin-bottom: 30px; }
.userhead { width: 60px; height: 60px; border-radius: 50%; }
.topic-meta > div { width: 670px; }
.topic-meta h1 { line-height: 33px; font-size: 22px; margin: 0 60px 0 0px; font-weight: normal; color: #222; }

.topic-meta-info { list-style: none; margin: 8px 0 0 0; font-size: 0; padding: 0; }
.topic-meta-info li { display: inline-block; font-size: 14px; line-height: 1; color: #979797; padding: 0 20px; }
.topic-meta-info li:first-child { padding-left: 0; }
.topic-meta-info li:first-child + li { border-left: 1px solid #979797; border-right: 1px solid #979797; }
.topic-meta-info img { vertical-align: text-bottom; margin-right: 3px; }

.topicText{font-size: 14px; line-height: 30px; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; color: #5b5b5b; overflow: hidden}
.topicText img{max-width: 100%;}
.topicText a { color: #00a7ea }

.condition { margin-top: 20px; width: 100%; background-color: #fff; border-radius: 4px; padding: 20px; box-sizing: border-box; font-size: 14px; }
.condition ul { margin: 0; list-style: none; display: flex; flex-direction: column; justify-content: space-around; border-bottom: 1px solid #f4f4f4; padding: 10px 0; }
.condition ul li:nth-of-type(1) { display: flex; flex-direction: row; justify-content: flex-start; }
.condition ul li:nth-of-type(1) span { width: 80px; height: 25px; line-height: 25px; font-size: 14px; border-radius: 4px; display: inline-block; text-align: center; }
.condition ul li:nth-of-type(1) span.hero { color: #D51818; border: 1px solid #D51818; }
.condition ul li:nth-of-type(1) span.news { color: #12b66e; border: 1px solid #12B66E; }
.condition ul li:nth-of-type(1) span.blockchain { color: #00a7ea; border: 1px solid #00a7ea; }
.condition ul li:nth-of-type(1) span.forum { color: #d1095c; border: 1px solid #d1095c; }
.condition ul li:nth-of-type(1) span.topic { color: #ff9800; border: 1px solid #ff9800; }
.condition ul li:nth-of-type(1) span.ai { color: #C77F3F; border: 1px solid #C77F3F; }
.condition ul li:nth-of-type(1) span.bigdata { color: #3F819D; border: 1px solid #3F819D; }
.condition ul li:nth-of-type(1) h6 { color: #262626; margin: 4px 0 0 12px; color: #262626; font-size: 14px; font-weight: bold; width: 624px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.condition ul li:nth-of-type(1) h6 a { color: inherit; }
.condition ul li:nth-of-type(1) h6 a:hover { color: #4285f4; }
.condition ul li:nth-of-type(2) { color: #787878; line-height: 20px; margin: 10px 0; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; overflow: hidden; }
.condition ul li:nth-of-type(3) { display: flex; flex-direction: row; justify-content: space-between; }
.condition ul li:nth-of-type(3) span { font-size: 12px; color: #a7a7a7; }

.commentsbox { margin-top: 17px; padding-bottom: 30px; border-bottom: 1px solid #f0f0f0; }
.commentsbox img { width: 50px; height: 50px; border-radius: 50%; }
.commentsform { width: 695px; overflow: hidden; }
.commentsform textarea { display: block; width: 100%; height: 90px; background-color: #f7f7f7; border: solid 1px #e0e0e0; box-sizing: border-box; border-radius: 4px; font-size: 14px; padding: 10px; }
.commentsform button { float: right; width: 99px; height: 31px; background-color: #00a7ea; border-radius: 4px; border: solid 1px #0088bf; color: #fff; }

.commentlist { margin: 6px 0 0 0; padding: 0; list-style: none; }
.commentlist li { padding: 20px 0; overflow: hidden; }
.commentlist img { width: 50px; height: 50px; border-radius: 50%; }
.commentlist div { width: 690px; }
.commentlist span { font-size: 14px; color: #aaaaaa; }
.commentlist p { font-size: 16px; line-height: 22px; color: #222222; margin: 6px 0 0 0; }
