@charset "utf-8";

.box {
    margin-bottom: 5px;
    margin-top: 5px;
}

.grid .sidebar .box {    
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.special-list .info .info-title {
    font-size:14px;
}


.latest-reply-list .item-7 .reply-title a:before {
    content: "7. ";
}
.latest-reply-list .item-8 .reply-title a:before {
    content: "8. ";
}
.latest-reply-list .item-9 .reply-title a:before {
    content: "9. ";
}
.latest-reply-list .item-10 .reply-title a:before {
    content: "10. ";
}

.row #Summary{
    font-size:14px;
}

.blog-not-found{border:1px solid #CCC;width:530px;margin:100px auto;padding:100px 0;text-align:center;position:relative}
.blog-not-found h2{color:#777}
.blog-not-found 
.icon.icon-404{width:34px;height:29px;background:url(../images/ico_404.png) 0 0 no-repeat}
.blog-not-found .back-to-home{position:absolute;bottom:0;right:0;padding-right:0.5em;font-size:14px}


.post .title .post-recommend {
    width: 50px;
    padding: 2px 0px;
}

.post .title h1 .icon {
    top: 1px;
}


.post .content{
    padding:0.5em 0.5em;
    font-size:16px;
    line-height:32px;
    word-wrap:break-word;
}
.post .content strong, b{
    color: inherit;
}

.post .title h1 {
    line-height: 1.5em;
}

.post .info {
    color: #777;
    margin-top:0px;
}

.post .info .post-edit {
    color: #009a61 !important;
    font-weight: bold;
}


.post-list .post-record{
    width: 43px;
    padding-right: 8px;
}
.post-list .post-record .post-hits, .post-list .post-record .post-recommend {
    width: 40px;
    padding: 2px 0;
}
.post-list .post-record .post-recommend.normal {
    background: #f0f0f0;
    border: 1px solid #f0f0f0;
    color: #666;
}
.post-list .post-info .user-face{
    border:none;
    margin-right: 5px;
}
.user-list li .face img {
    border: none;
}


.person-info .icon-setting,.ico_writing {
    position: relative;
    top: 5px;
    margin-right: 5px;
}
.person-info .face img {   
    border: none;
}
ol.commentlist li.comment div.vcard img.avatar {
    border: none;
}
.post .comment-header img.avatar {
    border: none;    
}


.icon.icon-setting {
    width: 20px;
    height: 20px;
    background: url(http://mst.chinaaet.com/blog/main/images/ico_setting.png) 0 0 no-repeat;
}
.icon.ico_writing {
    width: 20px;
    height: 20px;
    background: url(http://mst.chinaaet.com/blog/main/images/ico_writing.png) 0 0 no-repeat;
}

.wrapper-setting .column-main .title .btn-createblogpost {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 90px;
    height: 25px;
    line-height: 25px;    
    background: url(http://mst.chinaaet.com/blog/main/images/ico_writing.png) 0 0 no-repeat;
    color:#27ae60;
    text-align: center;
    text-decoration: none; 
    font-size:14px;
    font-weight:800;   
}

  .validation-summary-errors{
      color:#e4393c;
      margin-top:10px;
      margin-left:100px;
  }


.post-title a{
    color:#000;
}

.user-list .bloglist {
    font-size:14px;
}
pre{
    font-size:12px;
    white-space:pre-wrap;  
    white-space:-moz-pre-wrap;  
    white-space:-pre-wrap;  
    white-space:-o-pre-wrap;  
    word-wrap:break-word; 
}

.dialog-div{
    padding:10px 30px;
}

.dialog-input{  
  height: 40px;
  border: 1px solid #CCC;
  padding-left: 10px;
  width: 260px;
  margin-top:15px;
}
.dialog-tip{  
  color:#009A61;
  margin-top:10px;
  font-size:12px;
}
.dialog-btn {
  height: 34px;
  background-color: #009A61;
  text-align: center;
  font-size: 16px;
  line-height: 34px;
  letter-spacing: 5px;
  border: none;
  color: #FFF;
  width: 100px;
  padding-left: 5px;
  margin-top:10px;
  text-decoration:none;
  cursor:pointer;
}
.dialog-reg{  
  margin-left:20px;
  font-size:12px;
}
.dialog-a {
  height: 40px;
  background-color: #009A61;
  text-align: center;
  font-size: 14px; 
  border: none;
  color: #FFF;  
  padding:5px 5px;
  text-decoration:none;
}          

.label {
    display:inline-block;
    /*width: 30px;*/
    font-weight: 400;
    font-size: 60%;
    color:white;
    /*height: 12px;*/
    padding: 1px 4px;
    /*font-size:5px;*/
    float:none;
    border-radius: 3px;
} 

.label-danger {
    background-color: #e74c3c;
}

    .label-danger[href]:focus, .label-danger[href]:hover {
        background-color: #ff5542;
    }

.label-warning {
    
    background-color: #e67e22;
}

    .label-warning[href]:focus, .label-warning[href]:hover {
        background-color: #ff8b26;
    }

.label-success {
    background-color: #27ae60;
}

    .label-success[href]:focus, .label-success[href]:hover {
        background-color: #2cc76c;
    }

.label-info {
    background-color: #2980b9;
}

    .label-info[href]:focus, .label-info[href]:hover {
        background-color: #2f92d4;
    }

.label-primary {
    background-color: #1bbae1;
}

    .label-primary[href]:focus, .label-primary[href]:hover {
        background-color: #5ac5e0;
    }

.label-default {
    background-color: #999;
}

    .label-default[href]:focus, .label-default[href]:hover {
        background-color: #777;
    } 



.nofont{
    font:14px Microsoft Yahei,Simsun,arial,sans-serif;
    /*padding-left:18px;*/
}
 

.replybtn{
    border: none;
    width: 80px;
    height: 32px;
    background-color: #009A61;
    color: #FFF;
    margin-top:15px;
    cursor:pointer;
}

.mcursor{
    cursor:pointer;
}



/*普通会员*/
.icon.ico_user_v0 {
    width: 16px;
    height: 16px;
    background: url(../images/ico_user_v0.png) 0 0 no-repeat;    
}
/*普通会员升级成认证会员*/
.icon.ico_user_renzhen {
    width: 16px;
    height: 16px;
    background: url(../images/ico_user-renzheng.png) 0 0 no-repeat; 
    padding:0px 2px;
    margin-left:2px;   
}
.icon.ico_user_v0_all {
    width: 36px;
    height: 16px;
    background: url(../images/ico_user_v0_all.png) 0 0 no-repeat;
}
/*认证会员*/
.icon.ico_user_v1 {
    width: 16px;
    height: 16px;
    background: url(../images/ico_user_v1.png) 0 0 no-repeat;    
}
/*认证会员升级VIP会员*/
.icon.ico_user-vip {
    width: 35px;
    height: 16px;
    background: url(../images/ico_user-vip.png) 0 0 no-repeat;
    padding:0px 2px;
    margin-left:2px; 
}
/*VIP会员*/
.icon.ico_user_v10 {
    width: 36px;
    height: 16px;
    background: url(../images/ico_user_v10.png) 0 0 no-repeat;
}
/*专家*/
.icon.ico_zhuan {
    width: 16px;
    height: 16px;
    background: url(../images/ico_zhuan.png) 0 0 no-repeat;
}
.icon.ico_user_v20 {
    width: 36px;
    height: 16px;
    background: url(../images/ico_user_v20.png) 0 0 no-repeat;
}
/*网站工作人员*/
.icon.ico_user_v100 {
    width: 28px;
    height: 16px;
    background: url(../images/ico_user_v100.png) 0 0 no-repeat;
}
.icon.ico_user_score {
    width: 16px;
    height: 16px;
    background: url(../images/ico_user_score.png) 0 0 no-repeat;
    vertical-align:-3px;
    margin-left:2px;
}
.ico_middle{
    vertical-align:-3px;
}

.login-panel {   
    width: 150px;   
}
.login-panel.logon a{
    text-decoration:none;
}
.login-panel.logon span {   
    width: 150px;    
}
.login-score{
    float: right;
    width:65px; 
    margin-left:10px;   
}
.login-score span{    
    font-size: 12px;
    color: #FFF;
}

.login-score a{    
    text-decoration:none;
}


.icon.icon-l-qq {
    width: 20px;
    height: 20px;
    background: url(../images/icon_l_qq.png) 0 0 no-repeat;
    margin-right:3px;
    vertical-align: -5px;
}
.icon.icon-l-wx {
    width: 20px;
    height: 20px;
    background: url(../images/icon_l_wx.png) 0 0 no-repeat;
    margin-right:3px;
    vertical-align: -5px;
}
.icon.icon-l-wb {
    width: 20px;
    height: 20px;
    background: url(../images/icon_l_wb.png) 0 0 no-repeat;
    margin-right:3px;
    vertical-align: -5px;
}

.shuang{
    text-align:center;
    margin: 0 !important;
}

.shuang .shuang_bg{
    display: inline-block;
    background: url("../images/ico_shuang.png") no-repeat;
    overflow: hidden;
    text-indent: -999px;
    width: 62px;
    height: 62px;   
}
.shuang .shuang_btn{    
    background-position: 0 0px;
}
.shuang a:hover{
    background-position: 0 -70px;
}


.post .content img{
    border:0;
    margin:0;
    padding:0;
    max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
    overflow:hidden;
}


.navbar li a:hover, .navbar li a.focus {
    color: #000000;
    font-weight: bolder;
}


/*弹窗广告样式*/
.rmtj_c{
    padding:10px;
}


.rmtj_c_img {
    width: 300px;
    margin: 0!important;
}

.rmtj_c_img a {
    width: 300px;
    float: left;
}

.rmtj_c_img img {
    float: left;
    width: 300px!important;
    height: 100px!important;
}


.rmtj_c_txt {
    width: 290px!important;
    margin: 0!important;
}

.rmtj_c_name {
    float: left;
    width: 290px;
    text-align: center;
    font-size:14px;
    font-weight:bolder;
    padding-top:5px;
}

.rmtj_c_name a {
    float: left;
    width: 290px;
    text-align: center;    
    height: 18px;
    line-height: 18px;
    overflow: hidden;
    color: #364ae4;
}


.rmtj_c_list {
    float: left;
    width: 290px;
    margin-top: 5px;
}

.rmtj_c_list li {
    float: left;
    width: 290px;
    margin-top: 5px;
    text-align: left;
    display: block;
    background: url(../images/dot_c.gif) no-repeat 6px 7px;
    padding-left: 15px;
}

.rmtj_c_list li a {
    float: left;
    font-size:14px;
    width: 290px;
    height: 18px;
    line-height: 18px;
    overflow: hidden;
}



.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}

.pagination > li {
  display: inline;
}

.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.428571429;
  text-decoration: none;
  background-color: #ffffff;
  border: 1px solid #dddddd;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  background-color: #eeeeee;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  color: #ffffff;
  cursor: default;
  background-color: #009A61;
  border-color: #009A61;
}

.pagination > .disabled > span,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #999999;
  cursor: not-allowed;
  background-color: #ffffff;
  border-color: #dddddd;
}

.pagination-lg > li > a,
.pagination-lg > li > span {
  padding: 10px 16px;
  font-size: 18px;
}

.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
}

.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
}

.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.pager {
  padding-left: 0;
  margin: 20px 0;
  text-align: center;
  list-style: none;
}

.pager:before,
.pager:after {
  display: table;
  content: " ";
}

.pager:after {
  clear: both;
}

.pager:before,
.pager:after {
  display: table;
  content: " ";
}

.pager:after {
  clear: both;
}

.pager li {
  display: inline;
}

.pager li > a,
.pager li > span {
  display: inline-block;
  padding: 5px 14px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 15px;
}

.pager li > a:hover,
.pager li > a:focus {
  text-decoration: none;
  background-color: #eeeeee;
}

.pager .next > a,
.pager .next > span {
  float: right;
}

.pager .previous > a,
.pager .previous > span {
  float: left;
}

.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
  color: #999999;
  cursor: not-allowed;
  background-color: #ffffff;
}


.login-panel .info {    
    width: 110px;    
    text-align: center;    
}