div[id^="ad_"] {
    display: none;
}
div[id$="banner"] {
    display: none;
}
div[class^="c_ad"] {
    display: none;
}
div[id^="under_post"] {
    display: none;
}

#tbCommentBody{
    width: 99.8%;
}
.commentbox_main{
width: 99.8%;
}