@CHARSET "UTF-8";
/***CSS加载后面**/
.bdsharebuttonbox .bds_weixin {
	float: left;
	font-size: 18px;
	padding-left: 32px;
	line-height: 32px;
	height: 32px;
	background-image: url(share.png);
	background-repeat: no-repeat;
	cursor: pointer;
	margin: 6px 6px 6px 0;
	background-position: -108px 0;
}
.bd_weixin_popup .bd_weixin_popup_main{
	    padding: 7px 10px;
}

.bdsharebuttonbox .bds_tsina {
	float: left;
	font-size: 18px;
	padding-left: 32px;
	line-height: 24px;
	height: 32px;
	background-image: url(share.png);
	background-repeat: no-repeat;
	cursor: pointer;
	margin: 6px 6px 6px 0;
	background-position: 0 0;
}

.bdsharebuttonbox .bds_qzone {
	float: left;
	font-size: 18px;
	padding-left: 32px;
	line-height: 32px;
	height: 32px;
	background-image: url(share.png);
	background-repeat: no-repeat;
	cursor: pointer;
	margin: 6px 6px 6px 0;
	background-position: -36px 0;
}

.bdsharebuttonbox .bds_sqq {
	float: left;
	font-size: 18px;
	padding-left: 32px;
	line-height: 32px;
	height: 32px;
	background-image: url(share.png);
	background-repeat: no-repeat;
	cursor: pointer;
	margin: 6px 6px 6px 0;
	background-position: -72px 0;
}