@CHARSET "UTF-8";
/***CSS加载后面**/
.bdsharebuttonbox .bds_weixin {
	float: left;
	font-size: 18px;
	padding-left: 24px;
	line-height: 24px;
	height: 24px;
	background-image: url(share-mini.png);
	background-repeat: no-repeat;
	cursor: pointer;
	margin: -1px 6px 0px 0;
	background-position: -81px 0;
}
.bd_weixin_popup .bd_weixin_popup_main{
	    padding: 7px 10px;
}

.bdsharebuttonbox .bds_tsina {
	float: left;
	font-size: 18px;
	padding-left: 24px;
	line-height: 24px;
	height: 24px;
	background-image: url(share-mini.png);
	background-repeat: no-repeat;
	cursor: pointer;
	margin: -1px 6px 0px 0;
	background-position: 0 0;
}

.bdsharebuttonbox .bds_qzone {
	float: left;
	font-size: 18px;
	padding-left: 24px;
	line-height: 24px;
	height: 24px;
	background-image: url(share-mini.png);
	background-repeat: no-repeat;
	cursor: pointer;
	margin: -1px 6px 0px 0;
	background-position: -27px 0;
}

.bdsharebuttonbox .bds_sqq {
	float: left;
	font-size: 18px;
	padding-left: 24px;
	line-height: 24px;
	height: 24px;
	background-image: url(share-mini.png);
	background-repeat: no-repeat;
	cursor: pointer;
	margin: -1px 6px 0px 0;
	background-position: -54px 0;
}