@CHARSET "UTF-8";
body{
	background-repeat: no-repeat;
}
.img-thumbnail{border: none;}
.contentContainer{
	margin-top: 70px;
	padding-top: 0px;
}
.blog-header{
	font-family: '微软雅黑';
	padding-right: 0px;
	padding-left: 0px !important;
	margin-bottom: 8px;
}
.blog-header h1 a{
	color: #fff;
    text-decoration: none;
	padding: 5px;
	line-height: 43px;
}
.blog-header h1 a:ACTIVE,a:HOVER,a:AFTER{
	color: #000;
}
.author{        padding-top: 5px;
	position: absolute;
	bottom: 0px;
	z-index: 22;
	background-color: #4442427d;}
.author .item{margin-right: 15px;color: #fff;}
.h1-title{
	position: absolute;
	z-index:99;
	width: 100%;
	top: 10px;
}
.h1-title h1{
	font-size: 24px;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 5px;
}
.blog-header hr{
    margin-top: 0px;
    margin-bottom: 0px;
}
.top-banner{
	position: relative;
	height: 180px;
	/*background-image: url(/assets/images/title-yellow.png);*/
	/*background-repeat: no-repeat;*/
	/*background-position: 50% 50%;*/
	/*background-size: cover;*/
	background: #42baf6;
	z-index:1;
	padding-left: 0;
    padding-right: 0;
	border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
@media screen and (max-width: 768px){
	.top-banner{
		height: 190px;
	}
	.author{font-size: 12px}
}

.top-banner:after{
    content: "";
    width:100%;
    height:100%;
    position: absolute;
    left:0;
    top:0;
    background: inherit;
    filter: blur(2px);
    z-index: 2;
}
article{padding-left: 5px !important;padding-right: 5px !important;}
.blog-content-right .blog-body{padding-left: 10px !important;}
/***博客内容内部样式 =====>start====**/
.blog-body{min-height: 430px;font-family: '微软雅黑';word-break: break-all;font-size: 16px;}
/**code***/
pre{padding: 0px;font-size: 14px;background-color: #f5f5f547;margin-top: 10px;}
pre code{word-break: break-word;}
.code-title{padding: 2px 5px 2px 5px;display: inline-block;}
blockquote::after{content:"\f071";font: normal normal normal 20px/1 FontAwesome;color: #f1067d;position: absolute;right: 0;bottom: 0;}
blockquote{font-size: 16px;font-style: normal;background-color: #ffffff;border: 5px #00aef3 solid;border-left: 5px solid #f1067d;border-top: 5px solid #f1067d;border-radius: 5px;margin: 10px 0px 10px 0px;position: relative;}
figure{text-align: center;padding: 2px;margin: 10px 0px;display: block;}
figure>figcaption{text-align: center;}
figure>figcaption:before{content: '\f03e';font: normal normal normal 16px/1 FontAwesome;color: #2eb3f5;margin-right: 5px;}
/***博客内容内部样式 =====>end====**/

.blog-footer{border: 1px solid #eee;
	margin-top: 20px;
	border-radius: 5px;}
.blog-footer .blog-next a{
text-decoration: none;
padding-top: 5px;
color: black;
}
.blog-footer .blog-next a:HOVER{
color: green;
}
#blog-comment-area{border: 1px solid #eee;
	margin-top: 20px;
	border-radius: 5px;    margin-bottom: 20px;}

.blog-pre-panel{white-space: nowrap;overflow: hidden;text-overflow: ellipsis;padding-top: 20px;padding-left: 0px;}
.blog-pre-panel > span{color:#827f7f}
.blog-pre-panel>span>a{display: inline-block;margin-left: 5px;}
.blog-next-panel{white-space: nowrap;overflow: hidden;text-overflow: ellipsis;padding-top: 20px;padding-left: 0px;padding-bottom: 40px;}
.blog-next-panel > span{color:#827f7f}
.blog-next-panel>span>a{display: inline-block;margin-left: 5px;}
.panel-body {
    padding: 3px;
    margin: 1px;
}
.panel-heading {
   font-size: 14px; 
}
.panel-body h4{
font-family: '黑体';
}
.copyright{
padding-left: 5px;
margin-bottom:5px;
margin-top:20px;
border: 0px solid #eee;
border-radius: 3px;
line-height: 24px;
padding-top: 5px;
padding-bottom: 5px;
}
.copyright a{
color: gray;
text-decoration: none;
}
.copyright a:HOVER{
}
.tag_class{display: inline-block;border: 1px solid #b3aaaa;}
.tag_class a{text-decoration: none;color: black;}
.tag_class a:HOVER{color: red;}
.tag_class span{padding: 8px;}
.tag-row{padding-top: 10px;}
.tbg{background-image: url(/assets/images/recommend.png);background-repeat: no-repeat;background-position: 100%}
#view_search_value{height: 28px;}
.blog-introduction{padding: 5px 15px 10px 15px;}
.blog-introduction h2{font-size: 1.3em !important;margin: 0.5em 0;}
.blog-content{
	padding-top: 2px;
}
.left-area{
	
}
.left-content{
	font-size: 12px;
	font-family: '微软雅黑' !important;
	padding-top: 3px;
	padding-left: 1px;
	padding-right: 1px;
}
.blog-content-right{
	border:1px solid #eee;
	border-radius: 5px;
	padding-left: 0px;
	background-color: white;
	margin-left: 0px;
        	margin-right: 0px;
	margin-top: 4px;
}
.blog-update-link{
	margin-bottom: 10px;
    padding-left: 0px;
}


.gototop{
	background-image: url("/assets/images/up_arrow.png");
	background-repeat: no-repeat;
	background-color: none;
	outline: none;
	background-color: rgba(255, 0, 0, 0);
	padding: 24px 24px;
}
.gototop:HOVER,.gototop:focus {
	background-color: rgba(255, 0, 0, 0);
}

.collection-btn{width: 150px;height: 40px;line-height: 38px;font-size: 25px;background-color: #ffffff;border-radius: 30px; padding: 0px;border: 1px solid rgb(243, 35, 5);background-color: white;margin: 5px; color: #ff0000;display: inline-block; margin: 5px auto;outline: 0;}
.collection-btn img,span{ vertical-align:middle;}
.collection-btn img{width: 30px;}
.collection-btn:hover{border: 1px solid rgb(0, 125, 247);}

.reward-btn{display: inline-block;}

.support .bdsharebuttonbox{display: inline-block;}
.ad-box-content{ display: block;}
/*当屏幕为 0-640px 时     显示   用以下样式*/
@media only screen and (min-width: 0px) and (max-width: 640px){   
 .ad-box-content{display: none;}
}
.ad-box-content{width: 260px;height: 260px;/* border: 1px solid #ccc; */background-color: #fff;position: fixed;bottom: 0px;right: 8px;}
.ad-box-close {background: #777777;color: #fff;border-radius: 12px;line-height: 20px;text-align: center; height: 20px; width: 20px;font-size: 18px; padding: 1px;}
.ad-box-close::before {content: "\2716";}
.ad-box-close {top: -10px;right: -10px;position: absolute;}

.panel-ad{margin-bottom: 20px;width: 100%;height: auto;}
.panel-default>.panel-heading{background-color: #ffffff;}
.panel-side{margin-left:2px;padding: 0;}
.panel-side-body{padding: 0px;margin: 0px;}
.panel-side-body .ad{}
.panel-body a{text-decoration: none;color:#333333;font-size: 16px;}
.panel-body a:HOVER {color: #2fb3f5;}
.panel-body .clickblogitem{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;padding: 4px 20px;}
.zz-recommend-header{background-color: #fff !important;    border-top: 5px solid #ea0587 !important;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	color: #ea0587 !important;}

.blog-resource{
	border: 1px red dashed;
    padding: 5px;
}



.blog-topic{border-bottom: #eee solid 1px;padding:10px 5px 10px 5px;}
.blog-tags{padding:10px 5px 10px 5px;}


.font14{
	font-size: 14px;
}
.ad{text-align: center;}
.blog-content-area{letter-spacing:0.5px;word-spacing:0;}
.blog-content-area ul{padding-left: 40px;}
.blog-content-area ul li{list-style: inherit;}
.blog-content-catalog{
	position: fixed;
	top: 200px;
	left: 30px;
	z-index: 999;
	background:#2a2b25bd;
	border: #ddd 1px solid;
	border-radius: 5px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space:nowrap;
	width: 240px;
	padding-left: 5px;
}
.blog-content-catalog .close-btn{
	position: relative;
	top: 0px;
	left: 209px;
	color: #FFF;
}
.blog-content-catalog.restore{
	left: -212px;
}
.blog-content-catalog ul li{
	padding: 3px 2px 3px 2px;
}
.blog-content-catalog ul li a{color:#2eb3f5;font-weight: bold;	}
.target-fix {
	position: relative;
	top: -62px;
    display: block;
	height: 0;
	overflow: hidden;}

/*评论模块*/
.comment-push-group  .publish-editor{margin-top: 5px;}
.comment-push-group .input-group-addon{background-color: #fff;}
.comment-push-group .publish-editor textarea{margin-left: 15px;margin-right: 15px;width: calc(100% - 30px);    padding-top: 30px;position: relative;}
.comment-push-group .publish-editor .insert-div{display: inline-block;position: relative;-moz-top:-147px;top:-130px;}
.comment-push-group .publish-editor .insert-div span{font-size: 20px;}
.comment-push-group .publish-editor .insert-div.img{left: 25px;}
.comment-push-group .publish-editor .insert-div.smile{left: 35px;}
.copyright-original{font-size: 16px;}
.copyright-translation{font-size: 16px;}
.copyright-reproduced{font-size: 16px;}
.comment-title{border-top: 1px #eee solid;}
.comment-title .tips{font-size: 16px;display: block;font-weight: bold;color: red;}
.comment-box{ display:inline-block; padding: 8px;border: 1px #b7afaf solid;border-radius: 5px;margin-left: 5px;width: calc(100% - 10px);margin-bottom: 5px;margin-top: 5px;}
.comment-box .comment-content{padding-left: 6px;  padding-top: 6px;padding-bottom: 5px;font-size: 16px;}
.comment-box .comment-bar{ /*border-bottom: 1px #b7afaf dashed;*/padding-top: 5px;}
.comment-bar .item{font-size: 14px;color: #adabab;}
.comment-leve1{margin-left: 40px;width: calc(100% - 40px);border: none;background-color: #eee;}
.comment-head{float: left;width: 36px;}
.comment-head img{border-radius: 50%;width: 36px}
.comment-body{float: left;width: calc(100% - 36px);}
.comment-author{background-color: blue;border-radius: 5px;padding: 0 2px 2px 2px;color: white;vertical-align: middle;}
#comment-pager{margin-top: 2px;}
.comment-header{display: inline-block;width: 36px;height: 36px;background-color: #2fb3f5;border-radius: 50%;line-height: 36px;text-align: center;font-weight: bold;color: #fff;font-size: 21px;}

.smile-image img{padding: 4px;cursor:pointer}

.blog-tags{text-align: center;}
.blog-tags label{font-size: 14px;color: #908c8c;padding-top: 5px;}
.translation-from{font-size: 14px;color: #908c8c;text-align: center;padding-bottom: 5px;}
.blog-copyright .text{
	font-size: 12px;
	color: #fff;
}
 @media (min-width: 992px) {
	 .aside-area{
		 padding-left: 45px;
	 }
}
.blog-category-path{
	font-size: 14px;
	color:#fff;
}
.blog-category-path a{color: #fff;}
.blog-category-path a:hover{color: #000;}