#div_digg{
  position:fixed;
  bottom:5px;
  width:140px;
  right:25px;
  border:2px solid #6FA833;
  padding:10px;
  background-color:#fff;
  border-radius:5px 5px 5px 5px !important;
  box-shadow:0 0 0 1px #5F5A4B, 1px 1px 6px 1px rgba(10, 10, 0, 0.5);
}

#MySignature　　{　　 border:solid 1px #E5E5E5;

　　　　　　　　　　　　　　padding:10px;

　　　　　　　　　　　　　　background:#FFFEFE url(//images.cnblogs.com/cnblogs_com/grenet/226272/o_o_o_info.png) no-repeat scroll 15px 50%;
　　　　　　　　　　　　　　padding-left:80px;}
　　#MySignature div{line-height: 25px;}