dl,
figure,
h1,
h2,
p,
pre {
    margin: 0
}

button {
    background-color: transparent;
    background-image: none;
    padding: 0
}

button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color
}

ol,
ul {
    margin: 0;
    padding: 0
}

ol,
ul {
    list-style: none
}

html {
    font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, Noto Sans, , PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
    line-height: 1.5
}

* {
    box-sizing: border-box;
    border: 0 solid #e2e8f0
}

img {
    border-style: solid
}

input:-ms-input-placeholder {
    color: #a0aec0
}

input::-ms-input-placeholder {
    color: #a0aec0
}

input::placeholder {
    color: #a0aec0
}

[role=button],
button {
    cursor: pointer
}

table {
    border-collapse: collapse
}

h1,
h2 {
    font-size: inherit;
    font-weight: inherit
}

a {
    text-decoration:underline;
	text-decoration-color:#CCC;
}

button,
input {
    padding: 0;
    line-height: inherit;
    color: inherit
}


code{
	font-family: Menlo, Monaco, Consolas, Andale Mono, lucida console, Courier New, monospace;
	font-size:16px;
	border-radius: 2px; 
	background-color:#f7f7f7;
	color:#000;
} 

pre{
	font-size: 16px;
    font-weight: 500;
	padding:5px;
	background-color:#000;
	color:#EEE;
	white-space: pre-wrap;       /* css-3 */ 
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */ 
    white-space: -pre-wrap;      /* Opera 4-6 */ 
    white-space: -o-pre-wrap;    /* Opera 7 */ 
    word-wrap: break-word;       /* Internet Explorer 5.5+ */	
    min-width: 26px;	
	border-radius: 8px; 
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .06);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .06);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;	
}
pre > code{
	background-color:#000;
	color:#EEE;
}


audio,
img,
svg {
    display: block;
    vertical-align: middle
}

img {
    max-width: 100%;
    height: auto
}

a,
address,
article,
body,
caption,
code,
div,
dl,
em,
form,
h1,
h2,
html,
img,
ins,
label,
li,
main,
nav,
ol,
p,
pre,
s,
small,
span,
sub,
table,
ul,
var {
    min-width: 0
}

html {
    font-size: 1rem;
    overflow-y: scroll
}
textarea,input{
	border: 2px solid #999;
	margin: 10px;
}
@media (min-width:576px) {
    html {
        font-size: 1rem
    }
}

body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
    color: #2d3748;
    background-color: #fff
}

body[data-theme='dark'] {
    background-color: #131217;
    color: #e2e8f0
}
h1,
h2 {
    line-height: 1.25;
    font-family: Hind, sans-serif,PingFang SC, Microsoft YaHei;
    font-weight: 600
}

h1 code,
h2 code {
    line-height: 1.25;
    font-weight: 700!important;
    font-size: inherit!important
}

a{
    color: inherit;
	text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: underline;
}
.header {
    transition: transform .3s;
    will-change: transform;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .15);
    background-color: #fff
}

@media (prefers-color-scheme: dark) {
	.header {
		background: #131217;
		color: #f7fafc
	}
}
.header-unpin {
    transform: translateY(-4rem)
}

.header-pin {
    transform: translateY(0)
}

.markdown {
    position: relative;
    font-size: 1rem;
    line-height: 1.625
}

.markdown>hr {
    border-width: 0 0 1px;
    border-color: #edf2f7
}


@media (prefers-color-scheme: dark) {
.markdown>hr {
    border-bottom-width: 1px;
    border-color: #4a5568
}
}
.markdown>.note a,
.markdown>a,
.markdown>p a,
.markdown li a,
.markdown section a,
a.markdown {
    text-decoration: none;
    transition: all .1s cubic-bezier(.4, 0, .2, 1)
}

.markdown>.note a:hover,
.markdown>a:hover,
.markdown>p a:hover,
.markdown li a:hover,
.markdown section a:hover,
a.markdown:hover {
	text-decoration: underline;
}


@media (prefers-color-scheme: dark) {
.markdown>.note a,
.markdown>a,
.markdown>p a,
.markdown li a,
.markdown section a,
a.markdown {
    color: #bee3f8
}

.markdown>.note a:hover,
.markdown>a:hover,
.markdown>p a:hover,
.markdown li a:hover,
.markdown section a:hover,
a.markdown:hover {
    color: #ebf8ff
}

}

.markdown .highlight,
.markdown figure {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: .5rem
}
@media (prefers-color-scheme: dark) {
.markdown figure {
    border-color: #1a202c
}

}

.markdown>blockquote>p,
.markdown>p,
p.markdown {
    margin-top: 1rem;
    margin-bottom: 1rem;
    line-height: 1.58
}

.markdown>blockquote {
    font-style: italic;
    border-left-width: 3px;
    border-color: #1a202c;
    padding-left: 1.5rem;
    margin-left: -1.5rem
}

.markdown>blockquote>p {
    margin-left: -3px
}


@media (prefers-color-scheme: dark) {
.markdown>blockquote {
    border-color: #e2e8f0
}
}
.markdown>h1,
h1.markdown {
    margin-bottom: .25rem;
    line-height: 1;
    font-size: 2.25rem;
    font-family: Hind, sans-serif,PingFang SC, Microsoft YaHei
}

.markdown>h2,
h2.markdown {
    margin-top: 3rem;
    margin-bottom: 1rem;
    line-height: 1;
    font-size: 1.5rem;
    font-family: Hind, sans-serif,PingFang SC, Microsoft YaHei
}

.markdown>h3 {
    margin-top: 2.5rem;
    margin-bottom: .75rem;
    line-height: 1;
    font-size: 1.25rem;
    font-family: Hind, sans-serif,PingFang SC, Microsoft YaHei
}

.markdown>h4 {
    margin-top: 2rem;
    margin-bottom: 0;
    line-height: 1;
    font-weight: 400;
    font-size: 1rem
}

.markdown>h1+p {
    margin-top: 2rem
}

.markdown ol,
.markdown ul {
    margin: 0 0 1rem
}

.markdown ul {
    list-style: disc;
    padding-left: 1.5rem
}

.markdown ol {
    list-style: none;
    counter-reset: listCounter;
    padding: 0
}

.markdown ol[start="0"] {
    counter-reset: listCounter -1
}

.markdown li {
    margin-top: .5rem;
    margin-bottom: .5rem
}

.markdown li>p {
    margin-top: 1rem;
    margin-bottom: 1rem
}

.markdown li>p:first-of-type {
    margin-top: 2rem
}

.markdown ol>li {
    padding-left: 1.75em;
    position: relative;
    counter-increment: listCounter;
    margin-bottom: 1em
}

.markdown ol>li>p:first-of-type {
    margin-top: 2rem
}

.markdown ol>li:before {
    content: counter(listCounter, decimal-leading-zero) ".";
    font-size: .85em;
    line-height: 2;
    font-weight: 700;
    color: #2a4365;
    left: 0;
    position: absolute;
    font-family: Roboto Mono, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace
}


@media (prefers-color-scheme: dark) {
 .markdown ol>li:before {
    color: #f7fafc
}
}
.markdown ul ul li {
    margin-left: 1rem
}

.markdown .note li>p:first-of-type {
    margin-top: 0;
    font-weight: 400
}

.markdown .note li>p:last-of-type {
    margin-bottom: 0
}

.markdown table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    border-bottom-width: 1px;
    border-color: #edf2f7
}


@media (prefers-color-scheme: dark) {
.markdown table {
    border-color: #1a202c
}
}
.markdown table thead th {
    font-size: .875rem;
    font-weight: 500;
    color: #2d3748;
    padding: .5rem;
    background-color: #f7fafc
}



@media (prefers-color-scheme: dark) {
.markdown table thead th {
    color: #edf2f7;
    background-color: #1a202c
}
}
.markdown table tbody {
    vertical-align: baseline
}

.markdown table tbody tr td {
    padding: .5rem;
    border-top-width: 1px;
    border-color: #edf2f7;
    font-size: .875rem;
    vertical-align: middle
}


.markdown table tbody tr:first-child td {
    border-color: #e2e8f0
}



@media (prefers-color-scheme: dark) {
	.markdown table tbody tr td {
		border-color: #1a202c
	}	
	.markdown table tbody tr:first-child td {
		border-color: #1a202c
	}
}
@media (min-width:576px) {
    .markdown {
        font-size: 1.125rem
    }
    .markdown .code-label {
        border-top-left-radius: .25rem;
        border-top-right-radius: .25rem
    }
}

@media (min-width:1280px) {
    .markdown>p:first-of-type {
        margin-top: 0
    }
}

.chroma .lntd {
    vertical-align: top;
    padding: 0;
    margin: 0;
    border: 0
}

.chroma .lntable {
    border-spacing: 0;
    padding: 0;
    margin: 0;
    border: 0;
    width: 100%;
    overflow: auto;
    display: block
}

.chroma .hl {
    background-color: #ffc;
    display: block;
    width: 100%
}

.chroma .lnt {
    display: block
}

.chroma .ln,
.chroma .lnt {
    margin-right: .4em;
    padding: 0 .4em
}

.chroma .k,
.chroma .kc,
.chroma .kd,
.chroma .kn {
    color: #007020;
    font-weight: 700
}

.chroma .kp,
.chroma .kr {
    color: #007020
}

.chroma .kr {
    font-weight: 700
}

.chroma .kt {
    color: #902000
}

.chroma .na {
    color: #4070a0
}

.chroma .nb {
    color: #007020
}

.chroma .nc {
    color: #0e84b5;
    font-weight: 700
}

.chroma .no {
    color: #60add5
}

.chroma .nd {
    color: #555;
    font-weight: 700
}

.chroma .ni {
    color: #d55537;
    font-weight: 700
}

.chroma .ne {
    color: #007020
}

.chroma .nf {
    color: #06287e
}

.chroma .nl {
    color: #002070;
    font-weight: 700
}

.chroma .nn {
    color: #0e84b5;
    font-weight: 700
}

.chroma .nt {
    color: #062873;
    font-weight: 700
}

.chroma .nv {
    color: #bb60d5
}

.chroma .dl,
.chroma .s,
.chroma .sa,
.chroma .sb,
.chroma .sc,
.chroma .sd {
    color: #4070a0
}

.chroma .sd {
    font-style: italic
}

.chroma .s2,
.chroma .se {
    color: #4070a0
}

.chroma .se {
    font-weight: 700
}

.chroma .sh {
    color: #4070a0
}

.chroma .si {
    color: #70a0d0;
    font-style: italic
}

.chroma .sx {
    color: #c65d09
}

.chroma .sr {
    color: #235388
}

.chroma .s1 {
    color: #4070a0
}

.chroma .ss {
    color: #517918
}

.chroma .il,
.chroma .m,
.chroma .mb,
.chroma .mf,
.chroma .mh,
.chroma .mi,
.chroma .mo {
    color: #40a070
}

.chroma .o {
    color: #666
}

.chroma .ow {
    color: #007020;
    font-weight: 700
}

.chroma .c,
.chroma .c1,
.chroma .ch,
.chroma .cm {
    color: #60a0b0;
    font-style: italic
}

.chroma .cs {
    color: #60a0b0;
    background-color: #fff0f0
}

.chroma .cp,
.chroma .cpf {
    color: #007020
}

.chroma .gd {
    color: #a00000
}

.chroma .ge {
    font-style: italic
}

.chroma .gr {
    color: red
}

.chroma .gh {
    color: navy;
    font-weight: 700
}

.chroma .gi {
    color: #00a000
}

.chroma .go {
    color: #888
}

.chroma .gp {
    color: #c65d09
}

.chroma .gp,
.chroma .gs,
.chroma .gu {
    font-weight: 700
}

.chroma .gu {
    color: purple
}

.chroma .gt {
    color: #04d
}

.chroma .w {
    color: #bbb
}

.lntable tbody tr td .chroma {
    margin: 0
}

.lntable tbody tr td:first-of-type {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    color: rgba(27, 31, 35, .3);
    min-width: 50px;
    text-align: right;
    user-select: none;
    white-space: nowrap;
    width: 1%
}

.lntable tbody tr td:first-of-type .chroma {
    border-right-width: 1px;
    border-color: #cbd5e0;
    padding-left: .5rem;
    padding-right: .5rem
}
@media (prefers-color-scheme: dark) {
	.chroma {
		color: #f8f8f2;
		background-color: #1a202c
	}
	
	.chroma .lntd {
		vertical-align: top;
		padding: 0;
		margin: 0;
		border: 0
	}
	
	.chroma .lntable {
		border-spacing: 0;
		padding: 0;
		margin: 0;
		border: 0;
		width: auto;
		overflow: auto;
		display: block
	}
	
	.chroma .hl {
		display: block;
		width: 100%;
		background-color: #111
	}
	
	.chroma .ln,
	.chroma .lnt {
		margin-right: .4em;
		padding: 0 .4em;
		color: #7f7f7f
	}
	
	.chroma .k,
	.chroma .kc {
		color: #ff79c6
	}
	
	.chroma .kd {
		color: #8be9fd;
		font-style: italic
	}
	
	.chroma .kn,
	.chroma .kp,
	.chroma .kr {
		color: #ff79c6
	}
	
	.chroma .kt {
		color: #8be9fd
	}
	
	.chroma .na {
		color: #50fa7b
	}
	
	.chroma .nb {
		color: #8be9fd;
		font-style: italic
	}
	
	.chroma .nc,
	.chroma .nf {
		color: #50fa7b
	}
	
	.chroma .nl {
		color: #8be9fd;
		font-style: italic
	}
	
	.chroma .nt {
		color: #ff79c6
	}
	
	.chroma .nv,
	.chroma .vc,
	.chroma .vg,
	.chroma .vi {
		color: #8be9fd;
		font-style: italic
	}
	
	.chroma .dl,
	.chroma .s,
	.chroma .s1,
	.chroma .s2,
	.chroma .sa,
	.chroma .sb,
	.chroma .sc,
	.chroma .sd,
	.chroma .se,
	.chroma .sh,
	.chroma .si,
	.chroma .sr,
	.chroma .ss,
	.chroma .sx {
		color: #f1fa8c
	}
	
	.chroma .il,
	.chroma .m,
	.chroma .mb,
	.chroma .mf,
	.chroma .mh,
	.chroma .mi,
	.chroma .mo {
		color: #bd93f9
	}
	
	.chroma .o,
	.chroma .ow {
		color: #ff79c6
	}
	
	.chroma .c,
	.chroma .c1,
	.chroma .ch,
	.chroma .cm,
	.chroma .cs {
		color: #6272a4
	}
	
	.chroma .cp,
	.chroma .cpf {
		color: #ff79c6
	}
	
	.chroma .gd {
		color: #8b080b
	}
	
	.chroma .ge {
		text-decoration: underline
	}
	
	.chroma .gh,
	.chroma .gi {
		font-weight: 700
	}
	
	.chroma .go {
		color: #44475a
	}
	
	.chroma .gu {
		font-weight: 700
	}
	
	.chroma .gl {
		text-decoration: underline
	}

}
.markdown:not([href])[id]:before {
    content: " ";
    display: block;
    height: 5rem;
    margin-top: -5rem;
    pointer-events: none;
    visibility: hidden
}

.headline-link {
    color: transparent;
    display: none;
    margin-left: 4px
}

.headline-link:focus {
    color: #718096;
    display: inline
}

@media (min-width:1280px) {
    .aside-wrapper {
        width: 0
    }
    .aside-wrapper:before {
        content: "";
        display: block;
        height: 100vh;
        margin-bottom: -100vh;
        visibility: hidden;
        width: 0
    }
    .aside-wrapper .sideblock {
        top: 5rem
    }
    .msedge .aside-wrapper aside,
    .msie .aside-wrapper aside {
        top: auto;
        position: relative
    }
}

.top-a {
    width: 320px;
    height: 100px
}

@media (min-width:500px) {
    .top-a {
        width: 468px;
        height: 60px
    }
}

@media (min-width:800px) {
    .top-a {
        width: 728px;
        height: 90px
    }
}

@media (min-width:1280px) {
    .top-a {
        width: 100%;
        max-height: 90px;
        width: 728px
    }
}

.sidebar2 ins.adsbygoogle ins:first-child,
.sidebar ins.adsbygoogle ins:first-child {
    margin-bottom: 1.5rem
}

.table-of-contents ul li {
    margin-bottom: .5rem
}

.table-of-contents ul li a {
    border-bottom: none;
    color: #4a5568;
    font-weight: 500;
    font-size: .875rem
}


.table-of-contents ul ul li {
    margin-left: .5rem
}

.table-of-contents ul ul li a {
    border-bottom: none;
    color: #4a5568;
    font-weight: 400;
    font-size: .875rem
}

.table-of-contents ul ul ul li {
    margin-left: 1rem;
    margin-bottom: 0
}

.table-of-contents ul ul ul li a {
    border-bottom: none;
    color: #4a5568;
    font-weight: 400;
    font-size: .875rem
}


.table-of-contents ul li a:hover {
    background-color: transparent;
    color: #1a202c
}


@media (prefers-color-scheme: dark) {
	.table-of-contents ul li a {
		color: #e2e8f0
	}
	.table-of-contents ul ul li a {
		color: #e2e8f0
	}
	.table-of-contents ul ul ul li a {
		color: #e2e8f0
	}	
	.table-of-contents ul li a:hover {
		color: #f7fafc
	}	
}
.table-of-contents a.is-highlight {
    color: #2b6cb0
}

.ais-Breadcrumb-list,
.ais-CurrentRefinements-list,
.ais-HierarchicalMenu-list,
.ais-Hits-list,
.ais-InfiniteHits-list,
.ais-InfiniteResults-list,
.ais-Menu-list,
.ais-NumericMenu-list,
.ais-Pagination-list,
.ais-RatingMenu-list,
.ais-RefinementList-list,
.ais-Results-list,
.ais-ToggleRefinement-list {
    margin: 0;
    padding: 0;
    list-style: none
}

.ais-ClearRefinements-button,
.ais-CurrentRefinements-delete,
.ais-CurrentRefinements-reset,
.ais-GeoSearch-redo,
.ais-GeoSearch-reset,
.ais-HierarchicalMenu-showMore,
.ais-InfiniteHits-loadMore,
.ais-InfiniteHits-loadPrevious,
.ais-InfiniteResults-loadMore,
.ais-Menu-showMore,
.ais-RangeInput-submit,
.ais-RefinementList-showMore,
.ais-SearchBox-reset,
.ais-SearchBox-submit,
.ais-VoiceSearch-button {
    padding: 0;
    overflow: visible;
    font: inherit;
    line-height: normal;
    color: inherit;
    background: none;
    border: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.ais-ClearRefinements-button::-moz-focus-inner,
.ais-CurrentRefinements-delete::-moz-focus-inner,
.ais-CurrentRefinements-reset::-moz-focus-inner,
.ais-GeoSearch-redo::-moz-focus-inner,
.ais-GeoSearch-reset::-moz-focus-inner,
.ais-HierarchicalMenu-showMore::-moz-focus-inner,
.ais-InfiniteHits-loadMore::-moz-focus-inner,
.ais-InfiniteHits-loadPrevious::-moz-focus-inner,
.ais-InfiniteResults-loadMore::-moz-focus-inner,
.ais-Menu-showMore::-moz-focus-inner,
.ais-RangeInput-submit::-moz-focus-inner,
.ais-RefinementList-showMore::-moz-focus-inner,
.ais-SearchBox-reset::-moz-focus-inner,
.ais-SearchBox-submit::-moz-focus-inner,
.ais-VoiceSearch-button::-moz-focus-inner {
    padding: 0;
    border: 0
}

.ais-Breadcrumb-item,
.ais-Breadcrumb-list,
.ais-Pagination-list,
.ais-PoweredBy,
.ais-RangeInput-form,
.ais-RatingMenu-link {
    display: flex;
    align-items: center
}

.ais-GeoSearch,
.ais-GeoSearch-map {
    height: 100%
}

.ais-HierarchicalMenu-list .ais-HierarchicalMenu-list {
    margin-left: 1em
}

.ais-PoweredBy-logo {
    display: block;
    height: 1.2em;
    width: auto
}

.ais-RatingMenu-starIcon {
    display: block;
    width: 20px;
    height: 20px
}

.ais-SearchBox-input::-ms-clear,
.ais-SearchBox-input::-ms-reveal {
    display: none;
    width: 0;
    height: 0
}

.ais-SearchBox-input::-webkit-search-cancel-button,
.ais-SearchBox-input::-webkit-search-decoration,
.ais-SearchBox-input::-webkit-search-results-button,
.ais-SearchBox-input::-webkit-search-results-decoration {
    display: none
}

.search.active,
.search:target {
    display: block!important;
    animation: slide-up-search .3s cubic-bezier(.8, -.4, .2, 1.44) 0s forwards
}

.search-input {
    outline: none;
    transition: border-color 3s ease
}

.search-algolia-logo {
    width: 100px;
    height: 17px
}

@keyframes slide-up-search {
    0% {
        transform: translateY(2em);
        opacity: 0
    }
    to {
        transform: translateY(0);
        opacity: 1
    }
}

.search-root {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom-width: 4px;
    border-color: #a0aec0;
    padding-top: .25rem;
    padding-bottom: .25rem
}

.search-root .ais-SearchBox-form {
    width: 100%;
    display: flex
}

.search-root ais-SearchBox-input {
    position: relative
}

.search-root .ais-search-box--reset-wrapper {
    width: 12px;
    height: 12px
}

.appearance-none {
    -webkit-appearance: none!important;
    -moz-appearance: none!important;
    appearance: none!important
}

.bg-transparent {
    background-color: transparent!important
}

.bg-white {
    background-color: #fff!important
}

.bg-gray-100 {
    background-color: #f7fafc!important
}

.bg-gray-200 {
    background-color: #edf2f7!important
}

.bg-orange-100 {
    background-color: #fffaf0!important
}

.bg-orange-500 {
    background-color: #ed8936!important
}

.bg-yellow-100 {
    background-color: ivory!important
}

.bg-teal-100 {
    background-color: #e6fffa!important
}

.bg-indigo-700 {
    background-color: #4c51bf!important
}


@media (prefers-color-scheme: dark) {
.dark\:bg-gray-800 {
    background-color: #2d3748!important
}

.dark\:bg-gray-900 {
    background-color: #1a202c!important
}
}
.bg-cover {
    background-size: cover!important
}

.border-transparent {
    border-color: transparent!important
}

.border-black {
    border-color: #000!important
}

.border-gray-200 {
    border-color: #edf2f7!important
}

.border-gray-300 {
    border-color: #e2e8f0!important
}

.border-gray-400 {
    border-color: #cbd5e0!important
}

.border-gray-800 {
    border-color: #2d3748!important
}

.border-yellow-400 {
    border-color: #f6e05e!important
}

.hover\:border-gray-700:hover {
    border-color: #4a5568!important
}


@media (prefers-color-scheme: dark) {
.dark\:border-gray-800 {
    border-color: #2d3748!important
}

.dark\:border-gray-900 {
    border-color: #1a202c!important
}
}
.rounded-sm {
    border-radius: .125rem!important
}

.rounded {
    border-radius: .25rem!important
}

.rounded-full {
    border-radius: 9999px!important
}

.border {
    border-width: 1px!important
}

.border-l-4 {
    border-left-width: 4px!important
}

.border-t {
    border-top-width: 1px!important
}

.border-b {
    border-bottom-width: 1px!important
}

.cursor-pointer {
    cursor: pointer!important
}

.block {
    display: block!important
}

.inline-block {
    display: inline-block!important
}

.flex {
    display: flex!important
}

.inline-flex {
    display: inline-flex!important
}

.table {
    display: table!important
}

.hidden {
    display: none!important
}

.flex-row {
    flex-direction: row!important
}

.flex-col {
    flex-direction: column!important
}

.flex-wrap {
    flex-wrap: wrap!important
}

.items-center {
    align-items: center!important
}

.justify-start {
    justify-content: flex-start!important
}

.justify-end {
    justify-content: flex-end!important
}

.justify-center {
    justify-content: center!important
}

.justify-between {
    justify-content: space-between!important
}

.content-center {
    align-content: center!important
}

.flex-1 {
    flex: 1 1 0%!important
}

.flex-grow {
    flex-grow: 1!important
}

.flex-shrink-0 {
    flex-shrink: 0!important
}

.font-sans {
    font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, Noto Sans, sans-serif,PingFang SC, Microsoft YaHei, Source Han Sans SC,Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji!important
}

.font-mono {
    font-family: Roboto Mono, Menlo, Monaco, Consolas, Liberation Mono, Courier New,PingFang SC, Microsoft YaHei, Source Han Sans SC, monospace!important
}

.font-normal {
    font-weight: 400!important
}

.font-medium {
    font-weight: 500!important
}

.font-semibold {
    font-weight: 600!important
}

.font-bold {
    font-weight: 700!important
}

.h-3 {
    height: .75rem!important
}

.h-4 {
    height: 1rem!important
}

.h-5 {
    height: 1.25rem!important
}

.h-6 {
    height: 1.5rem!important
}

.h-12 {
    height: 3rem!important
}

.h-16 {
    height: 4rem!important
}

.h-24 {
    height: 6rem!important
}

.h-full {
    height: 100%!important
}

.h-screen {
    height: 100vh!important
}

.leading-none {
    line-height: 1!important
}

.leading-normal {
    line-height: 1.5!important
}

.m-auto {
    margin: auto!important
}

.my-0 {
    margin-top: 0!important;
    margin-bottom: 0!important
}

.mx-1 {
    margin-left: .25rem!important;
    margin-right: .25rem!important
}

.mx-2 {
    margin-left: .5rem!important;
    margin-right: .5rem!important
}

.my-6 {
    margin-top: 1.5rem!important;
    margin-bottom: 1.5rem!important
}

.my-8 {
    margin-top: 2rem!important;
    margin-bottom: 2rem!important
}

.mx-auto {
    margin-left: auto!important;
    margin-right: auto!important
}

.-mx-4 {
    margin-left: -1rem!important;
    margin-right: -1rem!important
}

.-mx-6 {
    margin-left: -1.5rem!important;
    margin-right: -1.5rem!important
}

.mt-0 {
    margin-top: 0!important
}

.mr-0 {
    margin-right: 0!important
}

.mb-0 {
    margin-bottom: 0!important
}

.mr-1 {
    margin-right: .25rem!important
}

.mt-2 {
    margin-top: .5rem!important
}

.mr-2 {
    margin-right: .5rem!important
}

.mb-2 {
    margin-bottom: .5rem!important
}

.ml-2 {
    margin-left: .5rem!important
}

.mr-3 {
    margin-right: .75rem!important
}

.mb-3 {
    margin-bottom: .75rem!important
}

.ml-3 {
    margin-left: .75rem!important
}

.mt-4 {
    margin-top: 1rem!important
}

.mr-4 {
    margin-right: 1rem!important
}

.mb-4 {
    margin-bottom: 1rem!important
}

.mt-6 {
    margin-top: 1.5rem!important
}

.mr-6 {
    margin-right: 1.5rem!important
}

.mb-6 {
    margin-bottom: 1.5rem!important
}

.mt-8 {
    margin-top: 2rem!important
}

.mb-8 {
    margin-bottom: 2rem!important
}

.mt-16 {
    margin-top: 4rem!important
}

.mb-16 {
    margin-bottom: 4rem!important
}

.-mt-12 {
    margin-top: -3rem!important
}

.-mb-16 {
    margin-bottom: -4rem!important
}

.-mt-px {
    margin-top: -1px!important
}

.-mb-px {
    margin-bottom: -1px!important
}

.max-w-sm {
    max-width: 24rem!important
}

.max-w-md {
    max-width: 28rem!important
}

.max-w-lg {
    max-width: 32rem!important
}

.max-w-3xl {
    max-width: 48rem!important
}

.max-w-4xl {
    max-width: 56rem!important
}

.max-w-5xl {
    max-width: 64rem!important
}

.max-w-6xl {
    max-width: 72rem!important
}

.max-w-screen-xl {
    max-width: 1280px!important
}

.max-w-article {
    max-width: 45.5rem!important
}

.min-h-screen {
    min-height: 100vh!important
}

.min-w-0 {
    min-width: 0!important
}

.overflow-auto {
    overflow: auto!important
}

.overflow-hidden {
    overflow: hidden!important
}

.overflow-y-auto {
    overflow-y: auto!important
}

.scrolling-touch {
    -webkit-overflow-scrolling: touch!important
}

.p-2 {
    padding: .5rem!important
}

.p-4 {
    padding: 1rem!important
}

.p-6 {
    padding: 1.5rem!important
}

.p-8 {
    padding: 2rem!important
}

.py-2 {
    padding-top: .5rem!important;
    padding-bottom: .5rem!important
}

.px-2 {
    padding-left: .5rem!important;
    padding-right: .5rem!important
}

.py-3 {
    padding-top: .75rem!important;
    padding-bottom: .75rem!important
}

.py-4 {
    padding-top: 1rem!important;
    padding-bottom: 1rem!important
}

.px-4 {
    padding-left: 1rem!important;
    padding-right: 1rem!important
}

.py-6 {
    padding-top: 1.5rem!important;
    padding-bottom: 1.5rem!important
}

.px-6 {
    padding-left: 1.5rem!important;
    padding-right: 1.5rem!important
}

.py-8 {
    padding-top: 2rem!important;
    padding-bottom: 2rem!important
}

.py-10 {
    padding-top: 2.5rem!important;
    padding-bottom: 2.5rem!important
}

.py-16 {
    padding-top: 4rem!important;
    padding-bottom: 4rem!important
}

.pt-2 {
    padding-top: .5rem!important
}

.pb-2 {
    padding-bottom: .5rem!important
}

.pt-3 {
    padding-top: .75rem!important
}

.pt-4 {
    padding-top: 1rem!important
}

.pr-4 {
    padding-right: 1rem!important
}

.pb-4 {
    padding-bottom: 1rem!important
}

.pt-8 {
    padding-top: 2rem!important
}

.pb-8 {
    padding-bottom: 2rem!important
}

.pt-12 {
    padding-top: 3rem!important
}

.pt-16 {
    padding-top: 4rem!important
}

.placeholder-gray-500:-ms-input-placeholder {
    color: #a0aec0!important
}

.placeholder-gray-500::-ms-input-placeholder {
    color: #a0aec0!important
}

.placeholder-gray-500::placeholder {
    color: #a0aec0!important
}

.fixed {
    position: fixed!important
}

.absolute {
    position: absolute!important
}

.relative {
    position: relative!important
}

.sticky {
    position: -webkit-sticky!important;
    position: sticky!important
}

.inset-0 {
    top: 0!important;
    right: 0!important;
    bottom: 0!important;
    left: 0!important
}

.top-16 {
    top: 4rem!important
}

.fill-current {
    fill: currentColor!important
}

.text-center {

    text-align: center!important
}

.text-black {
    color: #000!important
}

.text-white {
    color: #fff!important
}

.text-gray-400 {
    color: #cbd5e0!important
}

.text-gray-600 {
    color: #718096!important
}

.text-gray-700 {
    color: #4a5568!important
}

.text-gray-800 {
    color: #2d3748!important
}

.text-gray-900 {
    color: #1a202c!important
}

.text-orange-100 {
    color: #fffaf0!important
}

.text-orange-800 {
    color: #9c4221!important
}

@media (prefers-color-scheme: dark) {

.dark\:text-gray-200 {
    color: #edf2f7!important
}

.dark\:text-gray-300 {
    color: #e2e8f0!important
}

.dark\:text-gray-500 {
    color: #a0aec0!important
}

.dark\:text-yellow-200 {
    color: #fefcbf!important
}

.dark-hover\:text-gray-100:hover {
    color: #f7fafc!important
}
}
.text-xs {
    font-size: .75rem!important
}

.text-sm {
    font-size: .875rem!important
}

.text-base {
    font-size: 1rem!important
}

.text-lg {
    font-size: 1.125rem!important
}

.text-xl {
    font-size: 1.25rem!important
}

.text-2xl {
    font-size: 1.5rem!important
}

.text-3xl {
    font-size: 1.875rem!important
}

.uppercase {
    text-transform: uppercase!important
}

.capitalize {
    text-transform: capitalize!important
}

.underline {
    text-decoration: underline!important
}

.no-underline {
    text-decoration: none!important
}

.tracking-tight {
    letter-spacing: -.02em!important
}

.tracking-wide {
    letter-spacing: .05em!important
}

.align-middle {
    vertical-align: middle!important
}

.visible {
    visibility: visible!important
}

.truncate {
    overflow: hidden!important;
    text-overflow: ellipsis!important;
    white-space: nowrap!important
}

.w-3 {
    width: .75rem!important
}

.w-4 {
    width: 1rem!important
}

.w-5 {
    width: 1.25rem!important
}

.w-6 {
    width: 1.5rem!important
}

.w-16 {
    width: 4rem!important
}

.w-24 {
    width: 6rem!important
}

.w-48 {
    width: 12rem!important
}

.w-full {
    width: 100%!important
}

.z-10 {
    z-index: 10!important
}

.z-40 {
    z-index: 40!important
}

.z-50 {
    z-index: 50!important
}

.z-100 {
    z-index: 100!important
}

.post-width {
    max-width: 1118px!important
}

@media (min-width:1440px) {
    .post-width {
        max-width: 1448px!important
    }
}

.top-16 {
    top: 4rem
}

@supports ((position:-webkit-sticky) or (position:sticky)) {}

#sidebar {
    flex: 0 0 300px;
    height: 200vh
}

@media (min-width:1440px) {
    #sidebar2 {
        flex: 0 0 300px
    }
}

.post-list .google-auto-placed {
    background-color: #f7fafc;
    padding-top: .75rem;
    padding-bottom: .75rem;
    border-bottom-width: 1px;
    border-color: #cbd5e0
}

.cc_container {
    background: #2f365f!important;
    font-family: inherit!important
}

.cc_container a,
.cc_container a:visited {
    border-bottom: 1px dotted hsla(0, 0%, 100%, .6);
    color: #fff!important
}

.lbl-toggle .icon {
    transition: all .25s ease-out
}

.toggle:checked+.lbl-toggle .icon {
    transform: rotate(90deg) translateX(-3px)
}

.collapsible-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height .25s ease-in-out
}

.toggle:checked+.lbl-toggle+.collapsible-content {
    max-height: 350px
}

.scrollbar-w-2::-webkit-scrollbar {
    width: .5rem!important;
    height: .5rem!important
}

.scrollbar-track-gray-lighter::-webkit-scrollbar-track {
    background-color: #e2e8f0!important
}
.scrollbar-thumb-gray::-webkit-scrollbar-thumb {
    background-color: #cbd5e0!important
}
@media (prefers-color-scheme: dark) {
.scrollbar-track-gray-lighter::-webkit-scrollbar-track {
    background-color: #2d3748!important
}	
.scrollbar-thumb-gray::-webkit-scrollbar-thumb {
    background-color: #4a5568!important
}
}
.scrollbar-thumb-rounded::-webkit-scrollbar-thumb {
    border-radius: .25rem!important
}
@media (min-width:576px) {
    .sm\:block {
        display: block!important
    }
    .sm\:flex-row {
        flex-direction: row!important
    }
    .sm\:h-8 {
        height: 2rem!important
    }
    .sm\:h-16 {
        height: 4rem!important
    }
    .sm\:h-64 {
        height: 16rem!important
    }
    .sm\:my-8 {
        margin-top: 2rem!important;
        margin-bottom: 2rem!important
    }
    .sm\:mb-0 {
        margin-bottom: 0!important
    }
    .sm\:ml-4 {
        margin-left: 1rem!important
    }
    .sm\:py-8 {
        padding-top: 2rem!important;
        padding-bottom: 2rem!important
    }
    .sm\:py-12 {
        padding-top: 3rem!important;
        padding-bottom: 3rem!important
    }
    .sm\:pt-24 {
        padding-top: 6rem!important
    }
    .sm\:text-base {
        font-size: 1rem!important
    }
    .sm\:text-2xl {
        font-size: 1.5rem!important
    }
    .sm\:w-8 {
        width: 2rem!important
    }
    .sm\:w-64 {
        width: 16rem!important
    }
    .sm\:w-auto {
        width: auto!important
    }
}

@media (min-width:768px) {
    .md\:block {
        display: block!important
    }
    .md\:flex {
        display: flex!important
    }
    .md\:flex-row {
        flex-direction: row!important
    }
    .md\:h-8 {
        height: 2rem!important
    }
    .md\:h-16 {
        height: 4rem!important
    }
    .md\:h-32 {
        height: 8rem!important
    }
    .md\:mx-0 {
        margin-left: 0!important;
        margin-right: 0!important
    }
    .md\:mb-0 {
        margin-bottom: 0!important
    }
    .md\:mb-4 {
        margin-bottom: 1rem!important
    }
    .md\:mr-6 {
        margin-right: 1.5rem!important
    }
    .md\:py-4 {
        padding-top: 1rem!important;
        padding-bottom: 1rem!important
    }
    .md\:py-6 {
        padding-top: 1.5rem!important;
        padding-bottom: 1.5rem!important
    }
    .md\:py-8 {
        padding-top: 2rem!important;
        padding-bottom: 2rem!important
    }
    .md\:pt-0 {
        padding-top: 0!important
    }
    .md\:pl-4 {
        padding-left: 1rem!important
    }
    .md\:text-left {
        text-align: left!important
    }
    .md\:text-lg {
        font-size: 1.125rem!important
    }
    .md\:text-3xl {
        font-size: 1.875rem!important
    }
    .md\:w-8 {
        width: 2rem!important
    }
    .md\:w-32 {
        width: 8rem!important
    }
    .md\:w-1\/3 {
        width: 33.333333%!important
    }
    .md\:w-2\/5 {
        width: 40%!important
    }
    .md\:w-3\/5 {
        width: 60%!important
    }
}

@media (min-width:992px) {
    .lg\:block {
        display: block!important
    }
    .lg\:inline-block {
        display: inline-block!important
    }
    .lg\:flex {
        display: flex!important
    }
    .lg\:items-center {
        align-items: center!important
    }
    .lg\:justify-end {
        justify-content: flex-end!important
    }
    .lg\:justify-between {
        justify-content: space-between!important
    }
    .lg\:flex-grow {
        flex-grow: 1!important
    }
    .lg\:mx-0 {
        margin-left: 0!important;
        margin-right: 0!important
    }
    .lg\:mt-0 {
        margin-top: 0!important
    }
    .lg\:mb-0 {
        margin-bottom: 0!important
    }
    .lg\:ml-0 {
        margin-left: 0!important
    }
    .lg\:mr-8 {
        margin-right: 2rem!important
    }
    .lg\:mr-auto {
        margin-right: auto!important
    }
    .lg\:max-h-full {
        max-height: 100%!important
    }
    .lg\:max-h-toc {
        max-height: 15rem!important
    }
    .lg\:overflow-visible {
        overflow: visible!important
    }
    .lg\:pt-0 {
        padding-top: 0!important
    }
    .lg\:pr-6 {
        padding-right: 1.5rem!important
    }
    .lg\:static {
        position: static!important
    }
    .lg\:relative {
        position: relative!important
    }
    .lg\:sticky {
        position: -webkit-sticky!important;
        position: sticky!important
    }
    .lg\:top-16 {
        top: 4rem!important
    }
    .lg\:text-left {
        text-align: left!important
    }
    .lg\:text-base {
        font-size: 1rem!important
    }
    .lg\:text-2xl {
        font-size: 1.5rem!important
    }
    .lg\:text-3xl {
        font-size: 1.875rem!important
    }
    .lg\:text-4xl {
        font-size: 2.25rem!important
    }
    .lg\:text-5xl {
        font-size: 3rem!important
    }
    .lg\:w-auto {
        width: auto!important
    }
    .lg\:w-1\/2 {
        width: 50%!important
    }
    .lg\:top-16 {
        top: 4rem
    }
}

@media (min-width:1280px) {
    .xl\:block {
        display: block!important
    }
    .xl\:flex {
        display: flex!important
    }
    .xl\:flex-row {
        flex-direction: row!important
    }
    .xl\:mx-0 {
        margin-left: 0!important;
        margin-right: 0!important
    }
    .xl\:mt-0 {
        margin-top: 0!important
    }
    .xl\:mb-8 {
        margin-bottom: 2rem!important
    }
    .xl\:-ml-52 {
        margin-left: -13rem!important
    }
    .xl\:max-w-4xl {
        max-width: 56rem!important
    }
    .xl\:absolute {
        position: absolute!important
    }
    .xl\:right-0 {
        right: 0!important
    }
    .xl\:left-0 {
        left: 0!important
    }
    .xl\:text-sm {
        font-size: .875rem!important
    }
    .xl\:text-base {
        font-size: 1rem!important
    }
    .xl\:w-40 {
        width: 10rem!important
    }
    .xl\:w-48 {
        width: 12rem!important
    }
    .xl\:w-full {
        width: 100%!important
    }
}

@media (min-width:1440px) {
    .xxl\:block {
        display: block!important
    }
    .xxl\:-ml-89 {
        margin-left: -22.25rem!important
    }
    .xxl\:px-6 {
        padding-left: 1.5rem!important;
        padding-right: 1.5rem!important
    }
    .xxl\:text-sm {
        font-size: .875rem!important
    }
    .xxl\:text-4xl {
        font-size: 2.25rem!important
    }
    .xxl\:w-75 {
        width: 18.75rem!important
    }
}
/***********************自定义********************/
