/* ---- Global ---- */

  /* ---- Desktop Large | Desktop Small (lg|md) ---- */

    /* Web */
    .sticky_header_container ~ .row-offcanvas .sidebar-offcanvas { height:calc(100vh - (65px + 84px)) !important; top:calc(65px + 84px) !important; }
    .sticky_header_container.affix ~ .row-offcanvas .sidebar-offcanvas { height:calc(100vh - 84px) !important; top:84px !important; }

    /* Doc in Product */
    #doc_header_spacer { height:1px; }    
    #doc_header_spacer ~ .sticky_header_container ~ .row-offcanvas .sidebar-offcanvas { height:calc(100vh - 84px) !important; top:84px !important; }

      /* F1 Message Bar */
      #doc_header_spacer ~ .sticky_header_container.messagebar_active ~ .row-offcanvas .sidebar-offcanvas { height:calc(100vh - (84px + 26px)) !important; top:calc(84px + 26px) !important; }
  

  /* ---- Tablet | Mobile (sm|xs) ---- */
  @media (max-width:991px) {

    /* Web */
    .sticky_header_container ~ .row-offcanvas .sidebar-offcanvas { height:calc(100vh - (45px + 84px)) !important; top:calc(45px + 84px) !important; }
    .sticky_header_container.affix ~ .row-offcanvas .sidebar-offcanvas { height:calc(100vh - 84px) !important; top:84px !important; }

    /* Doc in Product */
    #doc_header_spacer ~ .sticky_header_container.affix ~ .row-offcanvas .content_container { padding-top:84px !important; }

      /* F1 Message Bar */
      #doc_header_spacer ~ .sticky_header_container.affix.messagebar_active ~ .row-offcanvas .content_container { padding-top:calc(84px + 26px) !important; }          
    
  }


/* ---- Non-Mobile (lg, md, sm) ---- */
@media (min-width:768px) {
  .section_header { height:40px; }
  .section_header_content { width:auto; height:40px; padding:7px 17px 0 0 !important; display:block; float:left; }
  .section_header form { padding-top:5px; }
  
  .crux_nav > ul { padding-top:4px; margin-bottom:0; float:left; /*overflow:hidden;*/ }
  .crux_nav > ul > li { padding-left:0; margin-bottom:0; margin-left:2px; color:#84abcb; display:table; float:left; font-size:13px; line-height:1.00; }
  .crux_nav > ul > li:first-child { margin-left:0; }
  .crux_nav > ul > li > a { height:32px; padding:0 14px; border:1px solid transparent; border-radius:4px; color:#fff !important; display:table-cell; position:relative; text-align:center; text-decoration:none !important; vertical-align:middle; }
  .crux_nav > ul > li > a:hover { border-color:#004b87; }
  .crux_nav > ul > li.crux_nav_active > a { background:#004b87; }
  .crux_nav > ul.filterable > li.crux_nav_active > a:hover:before { content: "\e64b" !important; font-family: 'mathworks'; font-size:80%; font-style: normal; font-variant: normal; font-weight: normal; opacity:0.90; position: absolute; top:1px; right:1px; speak: none; text-decoration: none !important; text-transform: none; }
  
  .crux_nav > ul > li.divider { height:32px; border-left:1px solid #fff; display:block; }
  
  .crux_nav .crux_result_count { font-size:10px; }
  .crux_nav .crux_result_null { height:32px; padding:0 14px; display:table-cell; line-height:1.00; text-align:center; vertical-align:middle; }
  
  .sticky_header_container.affix ~ .row-offcanvas .sidebar-offcanvas .offcanvas_nav { top:84px; } 
  .sticky_header_container.affix ~ .row-offcanvas .sidebar-offcanvas { top:84px; }
  
  #responsive_offcanvas .sticky_header_container.affix ~ .row-offcanvas .content_container { padding-top:84px; }
  
  #mobile_search { width:475px; }
  #section_header_title { width:calc(100% - 475px); } 
  
  .section_header .dropdown-menu { margin-top:3px; }

  .dropdown-menu > .active > a,
  .dropdown-menu > .active > a:hover,
  .dropdown-menu > .active > a:focus { background-color:#004b87; }  
  
}
  
/* ---- Tablet (sm) ---- */
@media (min-width:768px) and (max-width:991px) {

  #mobile_search { width:330px; }
  #section_header_title { width:calc(100% - 330px); } 

  .section_header .search_scope_label { display:none; }
  .section_header .dropdown-toggle .caret { margin-right:0; }
  .section_header .btn_search_adjacent { padding-right:10px; padding-left:10px; }

}


/* ---- Mobile (xs) ---- */
@media (max-width:767px) {
  .section_header { height:40px; }
  .section_header .navbar-toggle { margin-top:-3px; }
  .section_header_content { height:40px; padding:7px 17px 0 0; vertical-align:top; }

  .section_header .btn.icon-search:not(.btn_search_adjacent) { margin-top:3px; }
  .section_header .navbar-toggle { margin-top:0; } 

  .section_header form { padding-top:3px; }
  #mobile_search { min-height:40px; }
  #mobile_search .dropdown-toggle { padding:4px 12px 3px; }
  #mobile_search .btn.icon-remove { margin-top:3px; }

  .sticky_header_container.affix ~ .row-offcanvas .sidebar-offcanvas .offcanvas_nav { top:84px; }
  .sticky_header_container.affix ~ .row-offcanvas .sidebar-offcanvas { top:84px; }   

  #mobile_subnav .navbar-collapse .subnav > li { color:#84abcb; }
  
  .crux_nav > ul > li > a { line-height:1.00; }
  .crux_nav > ul > li.crux_nav_active > a { background:#235e85; line-height:1.00; }
  .crux_nav > ul.filterable > li.crux_nav_active > a:hover:before { content: "\e64b" !important; font-family: 'mathworks'; font-size:120%; font-style: normal; font-variant: normal; font-weight: normal; opacity:0.90; position: absolute; top:5px; right:5px; speak: none; text-decoration: none !important; text-transform: none; }  
  
  .crux_nav .divider { border-top-color:#fff !important; }
  .crux_nav .divider + li { border-top:none !important; }

  .crux_nav .crux_result_count { font-size:10px; }
  .crux_nav .crux_result_null { padding: 11px 18px 11px 8px; display:block; line-height:1.00; }

}