.circuit-list .circuit-name {
  white-space: normal;
}

.circuit-box .mask {
  max-width: 189px;
  max-height: 276px;
}

.categories-modal {
  top: 95px;
}

.nav-list .dropdown-menu {
  background-color: transparent;
}

.nav-list.hasHover:hover .dropdown-menu {
  display: block;
}

.seller_rule {
  display: none;
  border: 5px solid #333333;
  width: 275px;
  z-index: 99999999;
  text-align: left;
  left: 19%;
  position: fixed;
  background: #f4f4f4;
  font-family: '微软雅黑';
}

.rule-content {
  margin: 19px 10px 22px 10px;
  font-size: 12px;
}

.rule-head {
  padding-bottom: 16px;
  border-bottom: 1px dashed #b8b8b8;
  text-align: center;
  margin-bottom: 16px;
  font-size: 16px;
}

.to_be_seller:hover .seller_rule {
  display: block;
}

.be-seller-btn {
  background-color: #efad4d!important;
  color: #ffffff;
  width: 100%;
}

.rule-footer {
  text-align: center;
  margin-top: 19px;
}

.be-seller-btn:hover {
  color: #ffffff;
}

.rule-item-info {
  color: #aaaaaa;
}

.pull-left-media {
  margin-right: 5px;
  float: left;
}

.rating.static:before,
.rating.static span:before {
  font-family: 'Glyphicons Halflings';
  content: "\e006 \e006 \e006 \e006 \e006";
  font-size: 14px;
}

.circuit-box .details2 {
  margin: 0 6px;
}

.circuit-box .details2 .count {
  font-size: 12px;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

html {
  position: relative;
  min-height: 100%;
  padding-bottom: 70px;
}

@media (max-width: 480px) {
  html {
    padding-bottom: 120px;
  }
}

.circuit-box .mask > a {
  display: inline-table;
  width: 100%;
  vertical-align: top;
}

.offical-site {
  position: absolute;
  z-index: 1;
  left: 157px;
  top: -2px;
}

.circuit-box .seller .ins-thumb-offical {
  float: left;
  margin-right: 5px;
  height: 25px;
  width: 34px;
}

.circuit-box {
  margin-left: 15px;
  margin-right: 10px;
}

@media (max-width: 480px) {
  .circuit-box {
    width: auto;
  }
}

@media (max-width: 991px) {
  .categories-modal {
    margin-left: 0;
    left: 0;
    right: 0;
    width: auto;
    height: auto !important;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch
  }

  .no-sponsors .categories-modal-left,
  .no-sponsors .categories-modal-right {
    height: auto;
    width: 100%;
  }

  .categories-modal-left a {
    width: auto;
    margin: 0 0 0 20px;
    padding: 0;
  }
}

@media (max-width: 767px) {
  .category-columns {
    float: none;
    display: inline-block;
    vertical-align: top;
    width: auto;
  }

  .categories-modal {
    bottom: 0;
  }

  .category-more {
    position: static !important;
    width: auto !important;
    right: 0 !important;
    bottom: 0 !important;
    text-align: right;
    margin-right: 15px;
  }
}

@media (max-width: 480px) {
}

.nav-list .navbar-text {
  margin-left: 15px;
  cursor: pointer;
}

.nav-list .navbar-text:hover,
.nav-list .navbar-text:focus {
  color: #fff;
}

.circuit-box .seller .ins-name {
  line-height: 1.2;
}

/* 修正导航菜单过多导致换行的问题 */
@media (min-width: 992px) and (max-width: 1200px) {
  .navbar-nav > li > a {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (min-width: 881px) and (max-width: 991px) {
  .container {
    width: 100%;
  }

  .navbar-nav > li > a {
    padding-left: 7px;
    padding-right: 7px;
  }

  .navbar-inverse .navbar-brand {
    padding-right: 0 !important;
  }

  .nav-list .navbar-text {
    margin-left: 10px;
    margin-right: 2px;
  }
}

@media (min-width: 768px) and (max-width: 880px) {
  .container {
    width: 100%;
  }

  .navbar-right {
    float: none !important;
  }

  .navbar-header,
  .nav-list .navbar-text,
  .navbar-nav,
  .navbar-nav > li {
    float: none;
  }

  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
    margin-right: -15px !important;
    margin-left: -15px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
  }

  .navbar-toggle {
    display: block;
  }

  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    box-shadow: none;
  }

  .navbar-collapse.collapse {
    max-height: 355px;
    display: none !important;
    overflow-x: visible !important;
  }

  .navbar-collapse.collapse.in {
    display: block !important;
    overflow-y: auto !important;
  }

  .navbar-nav {
    margin: 7.5px -15px;
  }

  .dropdown-menu > li > a {
    padding: 5px 15px 5px 25px;
  }

  .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
    background-color: #080808;
  }
}

@media (max-width: 880px) {
  .header-notifications .dropdown-header,
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #999 !important;
  }

  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fff !important;
    background-color: transparent;
  }

  .navbar-inverse .navbar-nav .open .header-notifications .icon,
  .navbar-inverse .navbar-nav .open .header-notifications .title {
    color: #333 !important;
  }

  .navbar-inverse .navbar-nav .open .header-notifications .unread .icon,
  .navbar-inverse .navbar-nav .open .header-notifications .unread .title {
    color: #999 !important;
  }

  .navbar-inverse .navbar-nav .open .header-notifications .unread .icon:hover,
  .navbar-inverse .navbar-nav .open .header-notifications .unread .title:hover {
    color: #fff !important;
  }

  .header-notifications li.notification .icon {
    top: 5px;
    left: 25px;
    width: 25px;
    height: 25px;
    font-size: 18px;
  }

  .header-notifications .dropdown-header {
    padding: 5px 15px 5px 25px !important;
  }

  .header-notifications li {
    border-bottom: 1px solid #080808;
  }

  .navbar-nav .open .dropdown-menu > li > a {
    line-height: 20px;
    padding: 5px 15px 5px 25px;
  }
}

.navbar-inverse .navbar-nav > li > a,
  .navbar-inverse .navbar-text {
  color: #e5e5e5;
}

.circuit-box .title {
  word-break: break-all;
}

.cndzz-user-avatar {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.cndzz-user-avatar .cndzz-user-avatar-link,
.cndzz-user-avatar .cndzz-user-avatar-link:hover {
    /*display: none;*/
    position: absolute;
    text-align: center;
    line-height: 23px;
    height: 23px;
    background: rgba(0,0,0,.4);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000, endColorstr=#66000000);
    font-size: 12px;
    color: #fff;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    border: 0;
}

/*.cndzz-user-avatar:hover .cndzz-user-avatar-link {
    display: block;
    width: 240px;
    margin-left: 0px;
}

.title_intro {
    color: #999;
    display: block;
    font-size: 12px;
}

.vcard-title {
  color: #ccc;
  float: left;
}*/

@media (max-width: 991px) {
  .cndzz-user-baseinfo {
    text-align: center;
  }
}
