/*newcss20170216*/

.entrance-mobile {
  float: right !important;
  margin-left: 0 !important;
  width: 125px !important;
  font-size: 14px !important;
}

.entrance-mobile .nav-mobile-modules-container {
  right: 0 !important;
  left: inherit !important;
}

.entrance-mobile .nav-mobile-modules-container:before, .entrance-mobile .modules-body:before {
  right: 8px;
  left: inherit !important;
}

.entrance-mobile .entrance-sub-title img {
  width: 17px;
  height: 9px;
}

.entrance-mobile .entrance-sub-title img.phone-icon {
  width: 12px;
  height: 20px;
}

.navbar-header-ef {
  height: 78px;
}

.entrance-brand {
  float: left;
  width: 100%;
  height: 44px;
  padding-top: 10px;
  position: relative;
}

.entrance-header {
  background: #fff !important;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1040;
}

.header-line {
  background: #fff !important;
  top: 0;
}

.navbar-fixed-top {
  top: 44px;
  border: none;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
  background: rgba(255, 255, 255, 0.1);
}

.nav-modules-container {
  background: transparent;
  display: block;
  left: inherit;
  right: 0;
  top: 30px;
  box-shadow: none;
  border: 0;
  margin-left: 0;
  width: 125px;
}

.nav-modules-container:before {
  content: "";
  display: none;
}

.nav-module-link:link, .nav-module-link:visited, .nav-module-link:active {
  margin-right: 6px;
  font-size: 14px;
  color: #9b9b9b;
  letter-spacing: 0;
  text-align: left;
  height: 23px;
  text-decoration: none;
}

.nav-module-link:hover, .nav-module-link.active {
  color: #333333;
  text-decoration: none;
}

.nav-module-link:last-child, .nav-module-link.last-link {
  margin-right: 0 !important;
  border-right: 0;
}

.entrance-search {
  float: right;
  margin-top: -4px;
  margin-right: 0;
  border: 1px solid #e1e0e0;
  height: 32px;
  width: 35%;
}

.ser-img {
  cursor: pointer;
  width: 30px;
  height: 30px;
  float: right;
  background: url(../img/search.png) center center no-repeat rgb(214, 10, 31);
  margin: 0px;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
}

.entrance-ser-input {
  border: none;
  outline: 0;
  height: 30px;
  line-height: 30px;
  line-height: 30px\0;
  float: left;
  box-shadow: none;
  width: 91%;
  padding-left: 2%;
  font-size: 12px;
}

.svglogo {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  width: 16px;
  height: 16px;
}

.logoeefocus {
  background: url(../img/eefocus-logo-1.png) 0 0 no-repeat\0;
  background: url(../img/eefocus-logo-1.svg) 0 0 no-repeat, none;
}

.logoeeboard {
  background: url(../img/eeboard-logo-1.png) 0 0 no-repeat\0;
  background: url(../img/eeboard-logo-1.svg) 0 0 no-repeat, none;
}

.logocirmall {
  background: url(../img/cirmall-logo-1.png) 0 0 no-repeat\0;
  background: url(../img/cirmall-logo-1.svg) 0 0 no-repeat, none;
}

.logomoore8 {
  width: 20px;
  background: url(../img/moore8-logo-1.png) 0 0 no-repeat\0;
  background: url(../img/moore8-logo-1.svg) 0 0 no-repeat, none;
}

.logobom2buy {
  background: url(../img/bom2buy-logo-1.png) 0 0 no-repeat\0;
  background: url(../img/bom2buy-logo-1.svg) 0 0 no-repeat, none;
}

.logoyl {
  background: url(../img/yinglai-logo-1.png) 0 0 no-repeat\0;
  background: url(../img/yinglai-logo-1.svg) 0 0 no-repeat, none;
}

.logod5 {
  background: url(../img/d5-logo-1.png) 0 0 no-repeat\0;
  background: url(../img/d5-logo-1.svg) 0 0 no-repeat, none;
}

.logoznczz {
  width: 45px;
  background: url(../img/znczz-logo-1.png) 0 0 no-repeat;
}

.nav-module-link:hover .logoeefocus, .nav-module-link.active .logoeefocus {
  background: url(../img/eefocus-logo-2.png) 0 0 no-repeat\0;
  background: url(../img/eefocus-logo-2.svg) 0 0 no-repeat, none;
}

.nav-module-link:hover .logoeeboard, .nav-module-link.active .logoeeboard {
  background: url(../img/eeboard-logo-2.png) 0 0 no-repeat\0;
  background: url(../img/eeboard-logo-2.svg) 0 0 no-repeat, none;
}

.nav-module-link:hover .logocirmall, .nav-module-link.active .logocirmall {
  background: url(../img/cirmall-logo-2.png) 0 0 no-repeat\0;
  background: url(../img/cirmall-logo-2.svg) 0 0 no-repeat, none;
}

.nav-module-link:hover .logomoore8, .nav-module-link.active .logomoore8 {
  background: url(../img/moore8-logo-2.png) 0 0 no-repeat\0;
  background: url(../img/moore8-logo-2.svg) 0 0 no-repeat, none;
}

.nav-module-link:hover .logobom2buy, .nav-module-link.active .logobom2buy {
  background: url(../img/bom2buy-logo-2.png) 0 0 no-repeat\0;
  background: url(../img/bom2buy-logo-2.svg) 0 0 no-repeat, none;
}

.nav-module-link:hover .logoyl, .nav-module-link.active .logoyl {
  background: url(../img/yinglai-logo-2.png) 0 0 no-repeat\0;
  background: url(../img/yinglai-logo-2.svg) 0 0 no-repeat, none;
}

.nav-module-link:hover .logod5, .nav-module-link.active .logod5 {
  background: url(../img/d5-logo-2.png) 0 0 no-repeat\0;
  background: url(../img/d5-logo-2.svg) 0 0 no-repeat, none;
}

.nav-module-link:hover .logoznczz, .nav-module-link.active .logoznczz {
  background: url(../img/znczz-logo-2.png) 0 0 no-repeat;
}

/*add小脚丫*/

.logoxjy {
  background: url("../img/icon-xjy.png") no-repeat;
}

.nav-module-link:hover .logoxjy, .nav-module-link.active .logoxjy {
  background: url("../img/icon-xjy-active.png") no-repeat;
}

.container {
  width: 1170px;
}

@media (max-width: 1200px) {
  /*原cirmall头部消失*/
  .cirmallTop {
    display: none;
  }
  /*与非网头部出现*/
  #eefocus-header {
    display: block !important;
  }
  .nav-module-link a {
    display: inline-block;
    height: 28px;
    border-right: 1px solid #ccc;
    margin: 5px 15px;
    vertical-align: middle;
  }
  .navbar-fixed-top {
    top: 92px;
  }
  .container {
    width: 100%;
  }
  .row {
    margin-right: -15px !important;
    margin-left: -15px !important;
  }
  .entrance-brand {
    height: 35px;
    background-color: #ebebeb;
    text-align: center;
    float: left;
    padding-top: 0;
  }
  .entrance-brand a {
    display: inline-block;
    height: 28px;
    border-right: 1px solid #ccc;
    margin: 5px 15px;
    vertical-align: middle;
  }
  .search {
    margin: 10px auto 10px;
    border: 1px solid #e1e0e0;
    height: 32px;
    width: 94%;
    border-radius: 5px;
  }
  .entrance-search-2 {
    margin: 45px auto 10px;
    border: 1px solid #e1e0e0;
    height: 32px;
    width: 94%;
    border-radius: 5px;
  }
  .clearfix {
    *zoom: 1;
  }
  .clearfix:before, .clearfix:after {
    display: table;
    line-height: 0;
    content: "";
  }
  .clearfix:after {
    clear: both;
  }
  .entrance-ser-input {
    border: 0 !important;
    outline: 0 !important;
    height: 30px !important;
    line-height: 30px !important;
    box-shadow: none !important;
    width: 86%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-left: 2% !important;
    padding-right: 1% !important;
    color: #999 !important;
    font-size: 12px !important;
    border-radius: 5px;
  }
  .ser-img {
    background: url(//asset.semidata.info/new.eefocus.com/theme-channel/image/search-phone.png) center center no-repeat;
    cursor: pointer;
    width: 8%;
    height: 30px;
    border: 0;
    float: left;
  }
}

@media (max-width: 1140px) {
  .navbar-nav>li.hasHover a:hover {
    color: #fff;
  }
  .categories-modal .categories-article-item {
    width: 100%;
  }
  .categories-article-item a {
    line-height: 40px;
    color: #4a4a4a;
  }
  .categories-modal.no-sponsors {
    top: 60px;
    left: 40%!important;
    height: 100%!important;
  }
  .categories-modal-left {
    padding: 10px 0;
  }
  .categories-modal h3, .categories-modal h4 {
    font-size: inherit!important;
    margin: 0!important;
  }
  .categories-modal h4 {
    margin-left: 15px!important;
  }
  .categories-modal-right {
    padding-top: 0;
    padding-bottom: 150px;
  }
  .categories-modal-right ul {
    margin-top: 10px;
  }
  .categories-modal-left a, .categories-modal-right a {
    margin-left: 15px;
    line-height: 20px;
  }
  .category-columns {
    width: 100%;
    margin-left: 0;
  }
  #d5_search_dialog {
    width: 100%!important;
    left: 0!important;
    top: 0!important;
    bottom: 0!important;
    padding: 15px;
    z-index: 100001!important;
  }
  #d5_search_dialog .d5-logo-info {
    position: static!important;
    height: auto!important;
    max-height: max-content!important;
  }
  #d5_search_dialog .d5-des {
    text-align: center;
    margin: 5px 0;
  }
  .seller_rule {
    width: auto;
    top: 60px;
    left: 40%;
    position: fixed;
  }
  .seller_rule:before {
    display: none;
  }
  .rule-head {
    font-size: 16px;
  }
  .rule-body {
    margin-left: 20px;
    margin-right: 20px;
  }
  .rule-footer {
    margin-left: 10px;
    margin-right: 10px;
  }
  .rule-footer .be-seller-btn {
    line-height: 40px;
  }
  .mobile-modal {
    display: none;
    width: 100%;
    height: 100%;
    background: #222;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
  }

  .navbar-collapse {
    height: 100%;
    min-height: 100%;
    max-height: max-content;
  }
  .html-fixed {
    width: 100%;
    height: 100%;
    position: fixed;
  }
  .body-overflow {
    overflow: hidden;
  }
  .navbar-fixed-top-position {
    top: 0;
    height: 100%;
    position: fixed!important;
  }
  .navbar-fixed-top-position > .container {
    height: 100%;
  }
}

@media (max-width: 769px) {
  body {
    padding-top: 0;
  }
  .navbar-news li a {
    color: #999;
  }
  .svglogo {
    -ms-transform: scale(1.6);
    /* IE 9 */
    -moz-transform: scale(1.6);
    /* Firefox */
    -webkit-transform: scale(1.6);
    /* Safari 和 Chrome */
    -o-transform: scale(1.6);
    transform: scale(1.6);
    margin-right: 15px;
  }
  .logoznczz {
    transform: scale(1.1);
  }
}

@media (max-width: 736px) {
  .img-margin {
    margin: 2% 0;
  }
  .svglogo {
    -ms-transform: scale(1.4);
    /* IE 9 */
    -moz-transform: scale(1.4);
    /* Firefox */
    -webkit-transform: scale(1.4);
    /* Safari 和 Chrome */
    -o-transform: scale(1.4);
    transform: scale(1.4);
    margin-right: 10px;
  }
  .entrance-brand a {
    margin: 5px 10px;
  }
}

@media (max-width: 640px) {
  .entrance-header {
    position: relative;
  }
  .news-content img {
    display: block;
    height: auto;
    max-width: 100%;
  }
  .svglogo {
    -ms-transform: scale(1.2);
    /* IE 9 */
    -moz-transform: scale(1.2);
    /* Firefox */
    -webkit-transform: scale(1.2);
    /* Safari 和 Chrome */
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }
  .logoznczz {
    transform: scale(1);
  }
  .navbar-fixed-top {
    z-index: 10000;
    position: static;
  }
  .navbar-fixed-top, .cm-title {
    margin-bottom: 0;
  }
}

@media (max-width: 480px) {
  .col-sm-3, .col-sm-9, .col-xs-6 {
    width: 100% !important;
  }
  .header-col {
    padding: 5px 15px;
  }
  .header-col div.logo-name {
    width: 40%;
  }
  .header-col div.logo-name img {
    width: 85%;
  }
  .navbar-header-ef-mobile {
    top: 10px;
  }
  .svglogo {
    -ms-transform: scale(1);
    /* IE 9 */
    -moz-transform: scale(1);
    /* Firefox */
    -webkit-transform: scale(1);
    /* Safari 和 Chrome */
    -o-transform: scale(1);
    transform: scale(1);
    margin-right: 5px;
    margin-top: 0;
  }
  .entrance-brand a {
    margin: 5px;
    height: 18px;
  }
  .header-col .col-title {
    margin-top: 6px;
    text-align: left;
  }
}

@media (max-width: 320px) {
  .header-col div, .navbar-header-ef-mobile {
    font-size: 12px;
  }
  .header-line .entrance-brand a {
    margin: 5px 2px;
  }
  .header-col div.logo-name {
    width: 55%;
  }
}

.entrance-search {
  margin-right: 155px;
}

.common-h-wx {
  position: absolute;
  top: 8px;
  right: -10px;
}

.wx-wper-con {
  top: 35px;
}