/* Upgrade at 20170221 */

html {
  padding-bottom: 200px;
}

body {
  padding-top: 95px;
  font-family: "\5FAE\8F6F\96C5\9ED1", Tahoma, "Helvetica Neue", Helvetica, Arial;
  background-color: #f7f7f7;
  color: #4a4a4a;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "\5FAE\8F6F\96C5\9ED1", Tahoma, "Helvetica Neue", Helvetica, Arial;
}

a {
  color: inherit;
}

a:active, a:focus {
  outline: 0;
  text-decoration: none;
}

a:hover, a:hover img {
  opacity: 0.9;
}

textarea {
  resize: vertical;
}

.clear {
  clear: both;
}

.entrance-ser-input {
  overflow: hidden;
}

.modal-content {
  border-radius: 0;
}

.well {
  background-color: #fafafa;
  border: 1px solid #f1f1f1;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.icon, .glyphicon {
  font-size: 12px;
}

/* Footer */

.footer {
  padding: 15px 0;
  background: #333;
  color: #797979;
  line-height: 26px;
}

.footer .area-link, .footer a:hover, .footer a:active {
  color: #05a35e;
}

.main-column>.page-header {
  margin: 0 !important;
  padding: 0 !important;
  border-bottom: 0;
}

.main-column>.page-header h3 {
  margin-top: 25px;
  font-size: 18px;
  font-weight: normal;
  line-height: 24px;
}

.main-column>.page-header h3 strong {
  font-weight: normal;
}

.main-column>.page-header h3 a, .sidebar-more a {
  color: #05a35e;
  line-height: 22px;
  vertical-align: bottom;
  display: inline-block;
  font-size: 12px;
}

.main-column>.page-header h3 a:hover, .main-column>.page-header h3 a:active, .sidebar-more a:hover, .sidebar-more a:active {
  color: #0dc273;
}

.sidebar-more {
  margin-top: 25px;
  margin-bottom: 12px;
  text-align: right;
}

/* cm-panel */

.circuit-sidebar .panel, .sidebar .panel {
  border: 0;
  padding-bottom: 1px;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.circuit-sidebar .panel>.panel-heading, .sidebar .panel>.panel-heading {
  padding: 15px;
  border: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  font-size: 18px;
  font-weight: normal;
  line-height: 24px;
  background-color: #fff;
}

.circuit-sidebar .panel>.panel-heading strong, .sidebar .panel>.panel-heading strong {
  font-weight: normal;
}

.circuit-sidebar .panel .panel-body li a, .circuit-sidebar .panel .panel-body .warning, .sidebar .panel .panel-body li a, .sidebar .panel .panel-body .warning {
  margin: 0 16px;
  border-bottom: 0;
  padding: 10px 0;
  border-top: 1px solid #e6e5e5;
  color: #333;
}

.circuit-sidebar .panel .panel-body li a:hover, .circuit-sidebar .panel .panel-body li.active a, .sidebar .panel .panel-body li a:hover, .sidebar .panel .panel-body li.active a {
  color: #05a35e;
  background: #fff;
}

.circuit-sidebar .panel .panel-body li:hover, .circuit-sidebar .panel .panel-body li.active, .sidebar .panel .panel-body li:hover, .sidebar .panel .panel-body li.active {
  border-left: 3px solid #05a35e;
}

.circuit-sidebar .panel .ranking-item-meta, .sidebar .panel .ranking-item-meta {
  margin: -4px 16px 0;
  padding: 0 8px 8px;
  color: #9b9b9b;
  font-size: 12px;
}

.circuit-sidebar .panel .panel-body li:hover a, .circuit-sidebar .panel .panel-body li:hover .ranking-item-meta, .sidebar .panel .panel-body li:hover a, .sidebar .panel .panel-body li.active a, .sidebar .panel .panel-body li:hover .ranking-item-meta {
  margin-left: 13px;
}

.circuit-sidebar .panel .panel-heading .icon-right, .sidebar .panel .panel-heading .icon-right {
  margin-right: 10px;
  vertical-align: -1px;
}

.cm-panel {}

.sidebar .cm-top-circuits>.panel-heading, .sidebar .cm-hot-sellers>.panel-heading {
  padding: 14px 16px;
}

.sidebar .cm-top-circuits .cm-panel, .sidebar .cm-hot-sellers .cm-panel {
  padding-bottom: 20px;
}

.sidebar .cm-top-circuits .ranking-list li a, .sidebar .cm-top-circuits .ranking-list .warning, .sidebar .cm-hot-sellers .ranking-list li a, .sidebar .cm-hot-sellers .ranking-list .warning {
  padding-left: 8px;
  padding-right: 8px;
}

.divider-h {
  margin: 0 15px;
}

.ranking-item-meta-user {
  display: inline-block !important;
  vertical-align: middle !important;
  width: 40% !important;
  max-width: 100px !important;
  margin: 0 !important;
  border: 0 !important;
  padding: 0 !important;
  color: #9b9b9b !important;
}

.cm-hot-sellers {
  padding-top: 10px;
  height: 314px;
}

.cm-hot-sellers .hot-padding {
  padding-top: 8px;
}

.cm-hot-sellers .media {
  margin: 10px 0;
}

.cm-hot-sellers .media img.pull-left {
  margin-right: 19px;
  border-radius: 4px;
  width: 57px;
}

.cm-hot-sellers .media-body img {
  width: 14px;
}

.cm-hot-sellers .media-heading {
  margin: -5px 0 5px;
  font-size: 14px;
  line-height: 24px;
}

.cm-hot-sellers .media-body div {
  font-size: 12px;
}

/* Carousel */

.cm-carousel-outer {
  padding-bottom: 15px;
  background: url(../img/carousel-bg.jpg) left top;
}

.cm-carousel-outer>.container {
  padding: 0;
}

.cm-title-wrap {
  padding-bottom: 0;
}

/*标签*/

.cm-title {
  margin-bottom: 10px;
  width: 100%;
  height: 35px;
  line-height: 18px;
  overflow: hidden;
  background-color: #fff;
}

.cm-title ul {
  height: 100%;
  padding: 0 20px;
  padding-right: 5px;
  overflow: hidden;
}

.cm-title ul li {
  float: left;
  height: 35px;
  padding-top: 8px;
  list-style: none;
}

.cm-title li a {
  font-size: 13px;
  color: #333;
  display: inline-block;
  padding-left: 16px;
  padding-right: 16px;
  border-left: 1px solid #000;
}

.cm-title li>.hotspot {
  font-size: 12px;
}

.hotspot~a {
  border: none!important;
}

.cm-title li a:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
  text-decoration: none;
  color: #05a35e;
}

/*轮播*/

.cm-carousel {
  float: left;
  width: 100%;
  height: 100%;
}

.cm-carousel-item {
  width: 100%;
  height: 100%;
}

.cm-carousel-item img {
  max-width: 100% !important;
  height: auto;
}

.cm-carousel-thumbnail {
  float: right;
  margin-left: 3px;
  background-color: #fff;
  height: 350px;
  width: 257px;
}

.carousel-heading {
  margin: 15px 15px 10px;
  font-size: 16px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.carousel-heading .icon-right {
  display: inline-block;
  margin-top: -5px;
}

.carousel-item ul {
  padding-left: 15px;
}

.carousel-item ul li {
  list-style: none;
  width: 230px;
}

.carousel-item .carousel-num {
  display: inline-block;
  width: 16px;
  height: 16px;
  text-align: center;
  background-color: #eee;
  margin-right: 8px;
  color: #999;
  font-size: 12px;
}

.carousel-item .numcolor1 {
  background-color: #e6251c;
  color: #fff;
}

.carousel-item .numcolor2 {
  background-color: #f78c00;
  color: #fff;
}

.carousel-item .numcolor3 {
  background-color: #3095d9;
  color: #fff;
}

.carousel-item .carousel-txt {
  margin-bottom: 9px;
  width: 100%;
  height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.carousel-item .carousel-txt a {
  font-size: 12px;
  color: #333;
}

.carousel-item .carousel-txt a:hover {
  color: #05a35e;
  text-decoration: none;
  background-color: #fff;
}

.cm-recommended-circuit {
  position: relative;
}

.cm-recommended-circuit:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 758px;
  width: 120px;
  height: 118px;
  background: url(../img/recommended-circuit.png) no-repeat 0 0;
}

.cm-recommended-circuit-xs {
  position: relative;
}

.cm-recommended-circuit-xs:after {
  content: "";
  position: absolute;
  top: -2px;
  right: -2px;
  width: 50px;
  height: 49px;
  background: url(../img/recommended-circuit-xs.png) no-repeat 0 0;
}

.cm-carousel .carousel-indicators {
  margin: 0;
  width: 100%;
  height: 0;
  max-width: 880px;
  text-align: right;
  left: 0;
  right: auto;
  bottom: 0;
  top: 3%;
  padding-right: 20px;
}

.cm-carousel .carousel-indicators li {
  vertical-align: middle;
  margin: 5px;
  background-color: #aaa;
  border: 0;
  width: 11px;
  height: 11px;
}

.cm-carousel .carousel-indicators .active {
  margin: 5px;
  width: 11px;
  height: 11px;
  background-color: #05a35e;
}

.main-container {
  margin-bottom: 50px;
}

/* circuit-box */

.circuits-wrap>ul {
  margin-left: -10px;
  margin-right: -10px;
}

.circuit-box {
  float: left;
  max-height: 310px;
  margin: 0 6px 15px;
}

@media (min-width: 1200px) {
  .circuits-wrap .circuit-box {
    margin: 0 5px 10px;
  }
  .old-circuits-list {
    margin-left: 10px;
  }
}

.circuit-box .title {
  font-size: 13px;
  color: #333;
  line-height: 21px;
  padding: 9px 10px 0;
  height: 55px;
}

.circuit-box .title:hover {
  color: #05a35e;
}

.circuit-box .details2 {
  margin: 0;
  padding: 10px 10px;
  border-top: 1px solid #e6e5e5;
  color: #aaa;
  height: 55px;
  overflow: hidden;
}

.circuit-box .mask {
  border: 0;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  max-width: 201px;
  max-height: 318px;
  position: relative;
}

.circuit-box .mask:hover {
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.mask .hackaday-label {
  position: absolute;
  top: 0;
  left: 8%;
}

.circuit-box .seller {
  border-top: 1px solid #e6e5e5;
  margin: 0;
  padding: 10px 10px;
}

.circuit-box .details2 .green {
  padding: 0;
  font-size: 13px;
  line-height: 34px;
  color: #4dba4d;
}

.red {
  color: #d94d38 !important;
}

.gray_c {
  text-decoration: line-through;
}

.nobuy, .nopay {
  color: #aca9b2 !important;
}

.nobuy {
  margin-right: 20px;
}

.nopay {
  margin-right: 0px;
}

.circuit-box .seller .ins-thumb, .circuit-box .seller .ins-thumb-offical {
  margin-right: 10px;
}

.circuit-box .seller .r {
  position: relative;
  top: -4px;
  width: 110px;
}

.circuit-box .seller .ins-name {
  font-size: 12px;
  line-height: 18px;
  color: #333;
}

.circuit-box .seller .ins-desc {
  font-size: 12px;
  line-height: 14px;
  color: #aaa;
}

.circuit-box .cover-img {
  height: 148px;
}

/* AD location */

.ad-location {
  margin-top: 0;
  margin-bottom: 40px !important;
}

.ad-location-left {
  float: left;
  width: 100%;
  max-width: 730px;
  height: auto;
  /*border: 1px solid #a3a1a2;*/
  overflow: hidden;
}

.ad-location-wrapper {
  width: 350px;
  height: 90px;
  padding-top: 10px;
  padding-bottom: 10px;
  float: right;
  border: 1px solid #e5e5e5;
  background-color: #fff;
  overflow: hidden;
}

.ad-location-right {
  padding: 0 10px 2px 10px;
  width: 350px;
  height: 70px;
  overflow: hidden;
}

.ad-location-right p {
  height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 6px;
}

.ad-location-right a {
  color: #333;
}

.ad-location-right a:hover {
  color: #47a5fc;
}

/*手册*/

.handbook {
  background-color: #fff;
  border: 1px solid #e5e5e5;
  height: auto;
  width: 98%;
  overflow: hidden;
}

/* Categories */

.article-menu {
  min-width: 80px;
}

.categories-modal {
  background: #fff;
  padding: 5px;
}

.categories-modal.no-sponsors {
  height: 492px;
  left: 55%;
}

.categories-modal.no-sponsors.article {
  left: 50.5%;
  width: auto;
  height: auto;
  text-align: center;
}

.no-sponsors.article .categories-modal-left, .no-sponsors.article .categories-modal-left a {
  width: auto;
}

.categories-modal .categories-article-item {
  padding: 8px 0 15px;
  width: 100px;
}

.article-menu .categories-modal:before {
  left: 48px;
}

.categories-article-item a {
  display: inline-block;
  width: 100%;
  line-height: 30px;
  font-size: 16px;
  color: #9b9b9b;
}

.categories-modal:before {
  position: absolute;
  top: -8px;
  left: 60px;
  display: inline-block;
  border-right: 8px solid transparent;
  border-bottom: 9px solid #fff;
  border-left: 8px solid transparent;
  content: "";
}

.categories-modal h3, .categories-modal h4 {
  margin-bottom: 14px !important;
  font-size: 18px !important;
}

.categories-modal-left li {
  height: 24px;
  line-height: 24px;
}

.categories-modal-left {
  background: #fff;
  border-right: 0;
  padding: 17px 0;
}

.categories-modal-right {
  background: none;
}

.categories-modal-left a, .categories-modal-right a {
  font-size: 12px;
  line-height: 24px;
  color: #9b9b9b;
}

.categories-modal-right a {
  padding: 0;
}

.categories-modal-left a:hover, .categories-modal-right a:hover, .categories-article-item a:hover, .cellphones a:hover h3 {
  background: #fff !important;
  color: #05a35e !important;
  text-decoration: none;
}

.seller_rule {
  border: 0;
  background: #fff;
  width: 279px;
  left: -80px;
  position: absolute;
}

.seller_rule:before {
  position: absolute;
  top: -8px;
  left: 130px;
  display: inline-block;
  border-right: 8px solid transparent;
  border-bottom: 9px solid #fff;
  border-left: 8px solid transparent;
  content: "";
}

.rule-content {
  margin: 0;
  padding: 22px 0 30px;
}

.rule-head {
  margin-bottom: 24px;
  border-bottom: 0;
  padding-bottom: 0;
  font-size: 18px;
  line-height: 24px;
}

.rule-body, .rule-footer {
  margin: 0 28px;
}

.rule-body {
  color: #9b9b9b;
}

.rule-footer {
  margin-top: 23px;
}

.rule-footer .be-seller-btn {
  background-color: #05a35e !important;
  border-radius: 0;
  padding: 0;
  width: 100%;
  font-size: 14px;
  line-height: 48px;
}

.rule-footer .be-seller-btn .icon {
  font-size: 15px;
  margin-left: 0px;
  margin-right: 0px;
}

.rule-body .pull-left-media {
  margin-right: 20px;
}

/* Circuit */

.nav-breadcrumb, .breadcrumb {
  background-color: #fff;
}

.nav-breadcrumb {
  margin-bottom: 10px;
}

.breadcrumb {
  font-size: 12px;
  line-height: 32px;
  padding: 4px 15px;
}

.breadcrumb a, .breadcrumb a:hover, .breadcrumb a:active {
  color: #05a35e;
}

.breadcrumb>.active {
  color: #333;
}

.breadcrumb>li+li:before {
  position: relative;
  top: 3px;
  padding: 0 10px;
  content: ">";
  font-family: serif;
  font-size: 18px;
  line-height: 1;
  color: #aaa;
}

.cm-body .circuit-title {
  font-size: 28px;
  font-weight: bold;
}

.cm-well {
  background: #fff;
  border: 1px solid #e6e5e5;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.circuit-sidebar .cm-panel, .circuit-sidebar .cm-well, .circuit-sidebar .table {
  margin-bottom: 26px;
  background: #fff;
}

.circuit-sidebar .table-bordered>thead>tr>td, .circuit-sidebar .table-bordered>thead>tr>th {
  border-bottom-width: 1px;
}

.circuit-sidebar .table>tbody>tr>td, .circuit-sidebar .table>tbody>tr>th, .circuit-sidebar .table>tfoot>tr>td, .circuit-sidebar .table>tfoot>tr>th, .circuit-sidebar .table>thead>tr>td, .circuit-sidebar .table>thead>tr>th {
  padding: 10px 22px;
}

.circuit-sidebar .table th {
  font-size: 16px;
  line-height: 28px;
}

.cm-well .media>.pull-left {
  margin-right: 30px;
}

.cm-well .media>.pull-left img {
  border-radius: 4px;
  width: 70px !important;
}

.cm-well .media-heading a, .cm-well .media-heading a:hover {
  font-weight: bold;
  font-size: 18px;
  color: #333;
}

.cm-well .media-body {
  overflow: visible;
}

.cm-panel .tag-cloud li, .cm-panel .tag-cloud li:hover {
  background-color: #eaf2ef;
  text-shadow: none;
  font-weight: normal;
  border-radius: 0;
  margin: 7px 3px 7px 0;
  border: 0 !important;
  padding: 4px 10px !important;
}

.cm-panel .tag-cloud a, .cm-panel .tag-cloud a:hover {
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
  color: #5c5c5c !important;
  background-color: #eaf2ef !important;
  text-decoration: none;
}

.cm-panel .tag-cloud {
  margin: 0 16px;
  border-top: 1px solid #e6e5e5;
  padding-top: 15px;
}

.cm-body .text-muted {
  color: #aaa;
}

.table-circuit-meta td {
  padding: 11px 0 !important;
  font-size: 12px !important;
  line-height: 21px !important;
}

.table-circuit-meta a {
  color: #aaa;
}

.table-circuit-meta .icon {
  font-size: 16px;
  margin-right: 6px;
}

.table-circuit-meta .rating.static:before, .table-circuit-meta .rating.static span:before {
  font-size: 16px;
}

.cm-btn-buy {
  float: none;
  margin: 0;
  width: 100%;
}

.cm-btn-buy .btn {
  padding: 17px 0 18px 0;
  font-size: 24px;
  font-weight: bold;
}

.cm-btn-buy .btn-warning {
  background-color: #d94d38;
  border-color: #d94d38;
}

.cm-btn-wish-share {
  margin-bottom: 15px;
}

.circuit-details .circuit-sidebar .cm-panel, .circuit-details .circuit-sidebar .cm-well, .circuit-details .circuit-sidebar .table {
  margin-bottom: 15px;
}

.cm-btn-wish-share .btn-group {
  width: 100%;
}

.cm-btn-wish-share .btn-default {
  width: 50%;
  color: #767676;
  background: #eee;
  padding: 0;
  font-size: 14px;
  line-height: 52px;
}

.cm-btn-wish-share .bdsharebuttonbox .bds_more {
  color: #767676;
  background: #eee;
  padding: 0;
  font-size: 14px;
  line-height: 52px;
  margin: 0;
  width: 100%;
  text-align: center;
  float: none;
  height: 52px;
  display: block;
}

.cm-btn-wish-share .btn-default a, .cm-btn-wish-share .btn-default a:hover {
  text-decoration: none;
  color: #767676;
}

.cm-btn-wish-share .btn-default .glyphicon {
  margin-right: 6px;
  font-size: 16px;
  vertical-align: -1px;
}

.nav-tabs li {
  margin: 0;
  margin-left: -1px;
  text-align: center;
}

.nav-tabs {
  border-bottom: 1px solid #e6e5e5;
}

.nav-tabs>li>a, .nav-tabs>li>a:focus, .nav-tabs>li>a:hover, .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  margin-right: 0;
  padding: 12px 10px !important;
  min-width: 130px !important;
  color: #333;
  border: 1px solid #e6e5e5;
  border-bottom-color: transparent;
}

.nav-tabs>li>a:focus, .nav-tabs>li>a:hover, .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  color: #fff;
  background-color: #05a35e;
}

.cm-equal-sign {
  overflow: hidden;
}

.cm-equal-sign:before {
  font-size: 34px;
  line-height: 1;
  font-family: serif;
  color: #aaa;
  letter-spacing: 4px;
  content: "===========================================";
}

.circuit-attachments-title {
  display: inline-block;
  position: relative;
  top: -26px;
  margin: 0 0 0 0;
  padding: 0 15px 0 0;
  font-size: 16px;
  font-weight: bold;
  background: #f7f7f7;
}

.circuit-attachments-title .text-muted {
  font-size: 12px;
  font-weight: normal;
  vertical-align: middle;
}

.circuit-attachments .circuit-info .glyphicon-asterisk {
  color: #cdcdcd;
}

.cm-body .tab-pane a, .cm-body .tab-pane a:hover, .cm-body .tab-pane a:active {
  color: #05a35e;
}

.cm-tab-review h1 {
  margin: 0 0 18px;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
}

.cm-body hr {
  border-top: 1px solid #e6e5e5;
  margin-top: 0;
  margin-bottom: 5px;
}

.cm-body .glyphicon-star {
  font-size: 14px;
}

.cm-body .ratings li.star, .cm-body .ratings li:hover {
  color: #d94d38;
}

.cm-tab-review .media {
  margin-bottom: 36px;
}

.cm-tab-review .media>.pull-left {
  margin-right: 23px;
}

.cm-tab-review .media-body {
  border: 1px solid #e6e5e5;
  padding: 12px 15px;
  background: #fff;
}

.cm-tab-review .label, .cm-tab-review .label:hover {
  margin: 8px 5px 8px 0;
  padding: 2px 15px;
  background-color: #eaf2ef;
  text-shadow: none;
  font-weight: normal;
  border-radius: 0;
  color: #595959 !important;
  text-decoration: none;
}

.cm-media-comment {
  margin-bottom: 36px;
}

.cm-media-comment>.pull-left {
  margin-right: 23px;
}

.cm-media-comment .media-body {
  border: 1px solid #e6e5e5;
  padding: 12px 15px;
  background: #fff;
}

.avatar36 {
  width: 36px;
  height: 36px;
  border-radius: 5px;
}

.avatar57 {
  width: 57px;
  height: 57px;
  border-radius: 5px;
}

.cm-tab-comment .media-heading {
  font-size: 14px;
  line-height: 24px;
}

.cm-body .cm-tab-comment a, .cm-body .cm-tab-comment a:hover, .cm-body .cm-tab-comment a:active, .cm-body .cm-tab-comment-detail a, .cm-body .cm-tab-comment-detail a:hover, .cm-body .cm-tab-comment-detail a:active {
  color: #333;
}

.cm-comment-create input {
  border: 0;
  padding: 11px 15px;
  height: 41px;
}

.cm-comment-create .form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-primary {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}

.btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
  background-color: #05a35e;
  border-color: #05a35e;
}

.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary.active {
  background-color: #05a35e;
  border-color: #05a35e;
  opacity: 0.4;
  filter: alpha(opacity=40);
}

.cm-tab-comment .btn, .cm-tab-comment-detail .btn {
  min-width: 102px;
  height: 42px;
}

#replies .media {
  margin-bottom: 28px;
}

#bx-pager a>img {
  border: 0;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

#bx-pager a:hover>img, #bx-pager a.active>img {
  opacity: 1;
  filter: alpha(opacity=100);
}

#bx-pager a.active>img {
  border: 3px solid #05a35e;
}

/* Redactor */

.redactor_toolbar {
  font-size: 23px !important;
}

.redactor_toolbar li a {
  color: #9e9e9e !important;
}

.redactor_toolbar li a.redactor-btn-image {
  width: 24px !important;
  height: 24px !important;
}

.redactor_editor blockquote, .redactor_editor div, .redactor_editor dl, .redactor_editor h1, .redactor_editor h2, .redactor_editor h3, .redactor_editor h4, .redactor_editor h5, .redactor_editor h6, .redactor_editor ol, .redactor_editor p, .redactor_editor pre, .redactor_editor table, .redactor_editor ul {
  font-family: "\5FAE\8F6F\96C5\9ED1", Arial, Helvetica, Verdana, Tahoma, sans-serif;
}

.cm-tab-file, .cm-tab-comment, .cm-tab-review, .cm-tab-comment-detail {
  margin: 0 0 0 -10px;
}

.circuit-sidebar {
  padding: 0 0 0 15px;
}

/*.dashboard-main {
  background-color: #fff;
}

body > .container > .row > .col-md-9 {
  background: #fff;
}*/

.single-image {
  margin-left: -8px;
}

.bx-wrapper .bx-viewport {
  left: -8px;
}

.single-image, .bx-wrapper .bx-viewport {
  -webkit-box-shadow: 0 0 10px #ccc;
  box-shadow: 0 0 10px #ccc;
  border: solid #e6e5e5 2px;
}

.cm-parameter-table tbody td {
  color: #555 !important;
  white-space: nowrap;
}

.circuit-description {
  font-size: 14px;
  line-height: 22px;
}

.cm-modal .modal-header h4 {
  font-size: 28px;
  color: #333;
}

.cm-body .cm-modal .glyphicon-star {
  font-size: 16px;
  line-height: 24px;
}

.cm-modal .form-group label {
  padding-top: 0;
  font-weight: normal;
  font-size: 18px;
  color: #333;
}

.cm-modal .reviel-tab-groups .label-default, .cm-modal .reviel-tab-groups .label-default:hover {
  display: inline-block;
  vertical-align: middle;
  padding: 6px 12px;
  color: #333;
  border-radius: 0;
  padding: 6px 12px;
}

.cm-modal .reviel-tab-groups .label-primary, .cm-modal .reviel-tab-groups .label-primary:hover {
  display: inline-block;
  vertical-align: middle;
  background-color: #eaf2ef;
  color: #333;
  border-radius: 0;
  padding: 6px 12px;
}

.cm-modal textarea.form-control {
  width: 100%;
  resize: none;
  background: #eee;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #333;
}

.cm-modal textarea.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.cm-modal .modal-footer {
  margin-top: 0;
  border-top: 0;
  padding: 0px 20px 30px;
  text-align: center;
}

.cm-modal .modal-footer button {
  width: 167px;
  height: 50px;
}

.cm-modal .modal-header {
  margin: 0 22px;
  padding: 18px 0;
}

.cm-modal .modal-header .close {
  margin-top: 10px;
  filter: alpha(opacity=100);
  opacity: 1;
}

.cm-modal .modal-header .close:focus {
  outline: none;
}

.cm-table-user-level {
  border-radius: 5px;
}

.cm-table-user-level th, .cm-table-user-level td {
  border-color: #fff !important;
  border-right: 1px solid #fff !important;
  padding: 0 !important;
  text-align: center !important;
  vertical-align: middle !important;
  height: 40px;
}

.cm-table-user-level th {
  height: 53px;
}

.cm-user-level-title {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: bold;
}

.cm-user-level-desc {
  padding-top: 160px;
  font-size: 14px;
  line-height: 24px;
}

.cm-modal-user-level .modal-body {
  padding: 20px 24px;
}

@media (min-width: 768px) {
  .modal-dialog {
    margin: 100px auto;
  }
  .cm-modal .modal-dialog {
    width: 728px;
  }
  .cm-modal .form-horizontal .control-label {
    padding-right: 0;
    width: 88px;
  }
  .review-textarea-wrap {
    padding-right: 0;
    width: 612px;
  }
}

@media (min-width: 1200px) {
  .cm-carousel-item img {
    width: 100% !important;
    height: 100% !important;
  }
}

@media (max-width: 1199px) {
  .carousel-inner {
    margin: 0 auto;
    width: 93%;
    min-width: 875px;
  }
  .cm-carousel {
    float: none;
    width: 100%;
  }
  /*每日精选*/
  .cm-carousel-thumbnail {
    float: none;
    width: 100%;
    border-radius: 10px;
  }
  .carousel-heading {
    padding-top: 20px;
  }
  .carousel-item ul li {
    width: 100%;
    padding-right: 10px;
  }
  .cm-carousel-item {
    width: 100%;
    height: auto;
  }
  /*编辑推荐*/
  .circuit-box {
    margin-left: 16px;
    margin-right: 20px;
    margin-bottom: 30px;
  }
  .categories-modal:before {
    left: 170px;
  }
  /*广告位*/
  .ad-location-left {
    float: none;
    max-width: 100%;
  }
  .ad-location-wrapper {
    float: none;
    width: 100%;
    margin: 20px auto 0;
  }
  .original {
    width: 455px;
    margin-left: 0;
    margin-bottom: 10px;
  }
  .original-right {
    width: 330px;
  }
  /*最新订单*/
  .order-pic {
    width: 45px !important;
    padding-right: 10px;
  }
  .order-txt {
    width: 90% !important;
  }
  .handbook {
    margin-left: 0;
    width: 100%;
  }
}

@media (max-width: 991px) {
  .cm-tab-file, .cm-tab-comment, .cm-tab-review, .cm-tab-comment-detail {
    margin: 0;
  }
  .circuit-sidebar {
    padding: 20px 15px;
  }
  .main-column {
    padding-left: 23px;
    padding-right: 23px;
  }
  .circuit-box {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 925px) {
  .cm-recommended-circuit:after {
    left: auto;
    right: -8px;
  }
  .carousel-inner {
    margin: 0;
    width: 100%;
  }
}

@media (max-width: 912px) {
  .cm-title ul {
    padding-left: 15px;
  }
  .cm-carousel-thumbnail {
    width: 99%;
    padding-right: 10px;
  }
  .carousel-inner {
    min-width: 100%;
  }
}

@media (max-width: 769px) {
  .cm-title li a {
    padding-left: 8px;
    padding-right: 8px;
  }
  .cm-user-level-desc {
    padding-top: 0;
  }
  .order-txt {
    width: 85% !important;
  }
  .handbook iframe {
    height: 115px;
  }
  .ad-wper iframe {
    height: 120px;
  }
}

@media (max-width: 737px) {
  html {
    padding-bottom: 100px;
  }
}

@media (max-width: 480px) {
  html {
    padding-bottom: 160px;
  }
}

@media (max-width: 375px) {
  .cm-title li a {
    padding-left: 5px;
    padding-right: 5px;
  }
  .ad-location-wrapper {
    width: 100%;
  }
}

/* Userbar dropdown-menu */

@media (min-width: 881px) {
  .cm-dropdown-menu-userbar {
    margin-top: 1px !important;
    border: 1px solid #e5e5e5;
    padding: 0 15px;
    min-width: 156px;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .cm-dropdown-menu-userbar:before {
    position: absolute;
    top: -10px;
    left: 50%;
    margin-left: -5px;
    display: inline-block;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    border-left: 10px solid transparent;
    content: "";
  }
  .cm-dropdown-menu-userbar>li>a {
    position: relative;
    margin: 0 -15px;
    padding: 6px 15px 6px 27px;
    font-size: 12px;
    line-height: 19px;
  }
  .cm-dropdown-menu-userbar>li>a:hover {
    color: #05a35e;
  }
  .cm-dropdown-menu-userbar>li>a:before {
    position: absolute;
    left: 16px;
    top: 50%;
    margin-top: -10px;
    content: "▪";
  }
  .cm-dropdown-menu-userbar .divider {
    margin: 0;
    background-color: #eee;
  }
}

/* Sidebar li dot */

.cm-sidebar-li-dot .panel-body li>a {
  position: relative;
  padding-left: 13px !important;
}

.cm-sidebar-li-dot .panel-body li>a:before {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -11px;
  content: "▪";
}

.sidebar.cm-sidebar-li-dot .panel .panel-body li a {
  border-top: 0;
}

.sidebar.cm-sidebar-li-dot .panel .panel-body li:first-child a {
  border-top: 1px solid #e6e5e5;
}

.col-md-9 .page-header {
  margin: 18px 0 18px;
  padding-bottom: 0;
  border-bottom: 0;
}

.col-md-9 .page-header>h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

/* Profile */

.cm-profile-wrap {
  margin-top: 75px;
  margin-bottom: 57px;
}

.cm-profile-inner {
  float: left;
  width: 100%;
  background: #eee;
  padding-bottom: 8px;
}

.cm-profile-list {
  display: table;
  table-layout: fixed;
  margin-top: -54px;
  width: 100%;
}

.cm-profile-item {
  display: table-cell;
  vertical-align: top;
}

.cm-profile-item:first-child {
  width: 221px;
}

.cm-profile-meta-avatar {
  margin-bottom: 9px;
  text-align: center;
}

.cm-profile-meta-avatar img {
  width: 128px;
  height: 128px;
}

.cm-profile-meta-follow {
  margin: auto;
  display: table;
  table-layout: fixed;
  width: 128px;
}

.cm-profile-meta-follow-item {
  display: table-cell;
  vertical-align: middle;
  width: 50%;
  height: 40px;
  border-left: 1px solid #fff;
  text-align: center;
  font-size: 12px;
  line-height: 18px;
  color: #333;
}

.cm-profile-meta-follow-item:first-child {
  border-left: 0;
  border-right: 1px solid #dcdcdc;
}

.cm-profile-meta-follow-item:hover {
  text-decoration: none;
  color: #05a35e;
}

.cm-profile-meta-follow-item>span {
  display: block;
  font-size: 18px;
  line-height: 20px;
}

.cm-profile-meta-title {
  margin-top: 10px;
  margin-bottom: 30px;
}

.cm-profile-meta-name {
  display: inline-block;
  vertical-align: middle;
  margin-right: 40px;
  font-size: 21px;
  font-weight: bold;
  color: #333;
}

.cm-profile-meta-level {
  display: inline-block;
  vertical-align: middle;
  padding: 5px 0;
  font-size: 12px;
  line-height: 17px;
  color: #d94d38;
  cursor: pointer;
}

.cm-profile-meta-level img {
  margin-right: 3px;
  width: 16px;
}

.cm-profile-meta-list {}

.cm-profile-meta-list>li {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 20px;
  width: 23%;
  min-width: 170px;
  font-size: 12px;
  line-height: 22px;
  color: #aaa;
}

.cm-profile-meta-subtitle {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

.cm-profile-meta-subtitle:after {
  content: ".";
  position: absolute;
  bottom: -14px;
  left: 50%;
  margin-left: -4px;
  font-size: 40px;
  line-height: 40px;
}

.cm-profile-meta-subtitle>span {
  display: block;
  margin: 0 auto 2px;
  font-size: 14px;
}

.cm-profile-meta-desc {
  margin-top: 7px;
  border-top: 1px dashed #aaa;
  padding-top: 7px;
  padding-right: 10px;
}

.cm-profile-follow {
  margin: 15px auto 0;
  width: 128px;
}

@media (max-width: 480px) {
  .cm-profile-item {
    display: block;
    padding-left: 30px;
    padding-right: 30px;
  }
  .cm-profile-item:first-child {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
  .cm-profile-meta-list>li {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .pull-right-md {
    float: right;
  }
}

.cm-profile-meta-list-edit {
  font-size: 12px;
  line-height: 21px;
  color: #aaa;
}

.form-control {
  border: 1px solid #dcdcdc;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.cm-form-edit-profile .help-block {
  font-size: 12px;
  color: #aaa;
}

.cm-form-edit-profile .btn {
  min-width: 102px;
  height: 42px;
}

.cndzz-user-avatar-link .glyphicon-pencil {
  position: absolute;
  right: 5px;
  top: 5px;
  color: #1f1f1f;
  font-size: 16px;
}

.follow-list {
  margin-left: -20px;
}

.follow-list .follow-list-item {
  margin-left: 20px;
  margin-right: 0;
  /*border: 1px solid #ededed;*/
  border: 0;
  padding: 12px 0;
  width: 268px;
  background: #fff;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.follow-list-item .vcard-following {
  padding-bottom: 0;
}

.follow-list-item .cm-profile-meta-level {
  margin-bottom: 2px;
  height: 32px;
  cursor: default;
}

.follow-list .gravatar {
  float: none;
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
  margin-right: 20px;
  width: 57px;
  height: 57px;
  border-radius: 5px;
}

.follow-list .follow-list-container {
  display: inline-block;
  vertical-align: middle;
  margin-left: 0;
  border-left: 1px solid #e6e5e5;
  padding-left: 17px;
  width: 146px;
  height: 121px;
}

.follow-list .follow-list-name {
  margin: 0 0 5px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.follow-list .follow-list-name a, .follow-list .follow-list-name a:hover {
  color: #333;
}

.follow-list .css-truncate.css-truncate-target {
  max-width: 100%;
}

.follow-list .follow-list-info {
  margin-bottom: 6px;
  color: #aaa;
  height: 34px;
  overflow: hidden;
}

.follow-list .btn {
  padding: 2px 12px;
  min-width: 1px;
  font-size: 12px;
}

.notification a:hover .title {
  color: #05a35e !important;
}

.circuit-item a, .circuit-item a:hover {
  color: #333;
}

.circuit-list .circuit-name {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: bold;
  line-height: 19px;
}

.circuit-list .ratings {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 2px;
}

.circuit-item .ratings li.star, .circuit-item .ratings li:hover {
  color: #d94d38;
}

.circuit-item .ratings li.star .glyphicon-star, .circuit-item .ratings li .glyphicon-star-empty {
  font-size: 15px;
}

.wish-lists a {
  color: #333;
}

.wishlist-h4 {
  font-size: 16px;
  font-weight: bold;
}

.circuit-list {
  padding-top: 30px;
}

.circuit-list>.circuit-item {
  margin-bottom: 29px;
  border-bottom: 1px dashed #e6e5e5;
  padding-left: 92px;
  padding-bottom: 29px;
}

.circuit-item>.circuit-cover-image {
  margin-left: -92px;
}

.circuit-item>.circuit-cover-image>.cover-img-outer {
  border: 0;
  padding: 0;
}

.circuit-item>.circuit-cover-image>.cover-img70 .cover-img-inner {
  width: 70px;
  height: 70px;
}

.cm-circuit-stats-count {
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #e9e9e9;
  background: #eee;
  line-height: 1.3;
}

.circuit-list .circuit-stats .p_list {
  margin-bottom: 18px;
  display: inline-block;
}

.cm-circuit-stats-count-wish {
  display: inline-block;
  vertical-align: middle;
  padding: 0 5px;
  border-right: 1px solid #e5e5e5;
}

.cm-circuit-stats-count-purchases {
  display: inline-block;
  vertical-align: middle;
  padding: 0 5px;
}

.media>.cover-img-outer {
  margin-right: 22px;
  border: 0;
  padding: 0;
}

.media>.cover-img-outer .cover-img-inner {
  width: 70px;
  height: 70px;
}

.media>.cover-img-outer+.media-body .media-heading {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: bold;
  line-height: 19px;
}

.media>.cover-img-outer+.media-body a, .media>.cover-img-outer+.media-body a:hover {
  color: #333;
}

.media>.cover-img-outer+.media-body a.btn-success, .media>.cover-img-outer+.media-body a.btn-success:hover {
  color: #fff;
}

.media>.cover-img-outer+.media-body .ratings {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 5px;
}

.media>.cover-img-outer+.media-body div {
  font-size: 12px;
}

.media>.cover-img-outer+.media-body .ratings li.star, .media>.cover-img-outer+.media-body .ratings li:hover {
  color: #d94d38;
}

.media>.cover-img-outer+.media-body .ratings li.star .glyphicon-star, .media>.cover-img-outer+.media-body .ratings li .glyphicon-star-empty {
  font-size: 15px;
}

.review-logs .media, .cm-table-media>tbody>tr>td {
  margin: 0;
  border-top: 1px dashed #e6e5e5;
  padding: 29px 8px;
}

.review-logs .media:first-child {
  border-top: 0;
  padding-top: 10px;
}

.review-logs hr {
  display: none;
}

.wishlist-tags li a, .wishlist-tags li a:hover {
  color: #fff !important;
}

/*.media > .cover-img-outer + .media-body div .wishlist-owner,*/

.media>.cover-img-outer+.media-body div .to-comment-wish-icons {
  font-size: 14px;
}

.media.wish-lists {
  border-bottom: 1px dashed #e6e5e5;
  padding: 14px 0;
}

.media.wish-lists>.cover-img-outer {
  margin-right: 7px;
}

.cm-table-media .wishlist-owner, .cm-table-media .wishlist-tags, .media.wish-lists .wishlist-owner, .media.wish-lists .wishlist-tags {
  margin-top: 0;
}

.cm-table-media .wishlist-owner {
  margin-bottom: 0;
}

.cm-table-media .media-object, .cm-table-media .cover-img-outer .cndzz-user-avatar img, .wish-lists .cover-img-outer .cndzz-user-avatar img {
  width: 70px !important;
  height: 70px !important;
  border-radius: 4px;
}

.cm-table-media .media>.pull-left {
  margin-right: 22px;
}

.header-notifications li.notification, .notifications li.notification {
  padding-left: 32px !important;
}

.header-notifications li.notification .icon, .notifications li.notification .icon {
  top: 10px;
  font-size: 16px;
}

.dashboard-notifications td.danger, .dashboard-notifications .danger>td {
  background-color: transparent !important;
  color: #aaa;
}

.ad-wrapper {
  max-width: 730px;
  text-align: left;
}

.ad-area-openx {
  overflow: hidden;
  margin: 0 0 10px;
}

@media (max-width: 1140px) {
  .ad-wrapper {
    margin: 15px;
  }
}

@media (max-width: 740px) {
  .ad-wrapper {
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
    overflow: hidden;
  }
}

/* =================================

+++++++++++ 三网合一之 +++++++++++++
+++++++爱板、电路城 201904 +++++++++
            -·v·-
==================================*/

@media(min-width: 1200px) {
  .new-container>.row>.col-lg-3 {
    width: 27%;
    padding-left: 0;
  }
  .new-container>.row>.col-lg-9 {
    width: 73%;
  }
  .eeb-banner-wrap>.eeb-banner-left {
    width: 47%;
  }
  .eeb-banner-wrap>.eeb-banner-right {
    width: 53%;
  }
  .eeb-banner-right>.eeb-half-left {
    width: 49%;
  }
  .eeb-banner-right>.eeb-half-right {
    float: right;
    max-width: 300px;
  }
}

.navbar-text a {
  padding: 15px 11px;
}

.navbar-nav>li.hasHover a:hover {
  color: #05a35e;
}

/* Banner */

.eeb-banner-wrap {
  height: 250px;
  overflow: hidden;
}

.eeb-banner-wrap>div, .eeb-banner-right>div {
  width: 50%;
  height: 100%;
  float: left;
}

.carousel-inner {
  height: 100%;
}

.carousel-inner .item-title {
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  padding: 0 15px;
  color: #fff;
  line-height: 40px;
}

.eeb-eeboard-item {
  float: left;
  width: 50%;
  margin: -1px;
  background: #fff;
  border: 1px solid #eee;
}

.eeb-eeboard-item .pic-outer {
  line-height: 95px;
  height: 95px;
  text-align: center;
}

.pic-outer img {
  max-width: 100%;
  max-height: 100%;
}

.eeb-eeboard-item .eeb-title {
  height: 30px;
  font-size: 12px;
  padding: 5px;
  color: #aaa;
}

a:hover {
  color: #05a35e;
}

.eeb-half-right {
  background: #fff;
  height: 100%;
}

.eeb-half-right .pic-outer {
  height: 260px;
}

.eeb-half-right .pic-outer img {
  height: 100%;
}

.eeb-half-right .eeb-title {
  line-height: 40px;
  font-size: 15px;
}

/* 最新文章 */

.eeb-ellipsis-2, .eeb-ellipsis-3, .eeb-ellipsis-6 {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.eeb-ellipsis-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.eeb-ellipsis-2 {
  -webkit-line-clamp: 2;
}

.eeb-ellipsis-3 {
  -webkit-line-clamp: 3;
}

.eeb-ellipsis-6 {
  -webkit-line-clamp: 6;
}

.eeb-items-box {
  padding: 0;
  margin: 0 10px;
  list-style: none;
}

.eeb-items-box li {
  float: left;
  width: 50%;
  padding: 0 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.eeb-box-outer {
  background: #fff;
  position: relative;
  padding: 20px 10px 15px;
}

.eeb-box-outer>div {
  float: left;
}

.eeb-label {
  position: absolute;
  top: -1px;
  right: 10%;
  color: #fff;
  font-size: 12px;
  width: 60px;
  height: 21px;
  line-height: 20px;
  text-align: center;
  background: #29b77f;
}

.eeb-label.label2 {
  background: #3e7ce4;
}

.eeb-label.label3 {
  background: #37dce6;
}

.eeb-label.label4 {
  background: #24e524;
}

.eeb-label.label5 {
  background: #ad4543;
}

.eeb-label.label6 {
  background: #ed7171;
}

.eeb-left {
  width: 45%;
  padding-right: 10px;
}

.eeb-left .pic {
  height: 110px;
  overflow: hidden;
}

.eeb-left .pic.sorry {
  background: #dcdcdc url("../img/eeb/sorry.png") center no-repeat;
  background-size: 30%;
  opacity: 0.4;
}

.eeb-left .pic img {
  width: 100%;
  height: 100%;
}

.eeb-left h4 {
  height: 34px;
  line-height: 1.3;
  font-size: 13px;
  overflow: hidden;
  margin-bottom: 0;
}

.eeb-left a:hover h4, .eeb-read a:hover {
  color: #05a35e;
}

.eeb-right {
  width: 55%;
  font-size: 12px;
  color: #aaa;
}

.eeb-sub {
  margin-top: 10px;
  height: 102px;
  overflow: hidden;
}

.eeb-read {
  text-align: right;
}

.eeb-read a {
  color: #47a5fc;
  padding-right: 5px;
}

.eeb-info {
  height: 21px;
  margin-top: 8px;
}

.eeb-info .comments, .eeb-info .eyes {
  display: inline-block;
  min-width: 48px;
  max-width: 60px;
  padding-left: 25px;
  position: relative;
  overflow: hidden;
}

.eeb-info .comments::before, .eeb-info .eyes::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.eeb-info .comments::before {
  background-image: url(/img/eeb/icon-comments.png);
}

.eeb-info .eyes::before {
  background-image: url(/img/eeb/icon-eyes.png);
}

.eeb-info .dates {
  float: right;
  padding: 0;
  margin: 0;
}

/* 热门标签 */

.eeb-hot-tag-box {
  padding: 2em 1em;
  background: #fff;
  text-align: center;
  margin-bottom: 20px;
}

.eeb-hot-tag-box a {
  display: inline-block;
  padding: 2px 15px;
}

.eeb-hot-tag-box a:hover {
  color: #05a35e !important;
}

/* SideBar */

/* AD Sidebar Palceholder*/

.ad-placeholder {
  text-align: center;
  background-color: #fff;
}

.ad-placeholder img {
  width: 100%;
  height: 100%;
}

.sidebar-article-box {
  margin: 10px 0;
  padding: 15px;
  background-color: #fff;
}

.article-head-title {
  font-size: 18px;
  height: 40px;
  line-height: 30px;
  border-bottom: 1px solid #eee;
}

.article-head-title span {
  padding: 0 20px;
}

.article-head-title span.hover {
  cursor: pointer;
}

.article-head-title span.hover:hover {
  color: #05a35e;
}

.article-head-title span.other {
  color: #aaa;
}

.article-tab-content {
  height: 190px;
  margin: 10px 0;
}

.article-item-wrap.other {
  display: none;
}

.article-item-wrap li {
  position: relative;
}

.article-item-wrap li>span {
  position: absolute;
  top: 30%;
  left: 0;
  padding: 2px 5px;
  line-height: 1;
  font-size: 12px;
  background: #aaa;
  color: #fff;
}

.article-item-wrap li>span.light {
  background: #ff8080;
}

.article-item-wrap li>a {
  border: none;
  color: #aaa;
  padding: 10px 5px;
  padding-left: 30px;
  background: inherit;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.article-item-wrap li>a:hover {
  background: inherit;
  color: #05a35e;
}

.sidebar-acticity-wrap {
  background: #fff;
  margin: -10px 0 0;
  padding-top: 30px;
  padding-bottom: 30px;
}

.sidebar-acticity-outer {
  height: 90px;
  position: relative;
  overflow: hidden;
}

.sidebar-acticity-item li a {
  font-size: 13px;
  color: #aaa;
  padding: 6px 0;
  border: inherit;
}

.sidebar-acticity-item li a:hover {
  color: #05a35e;
  background: inherit;
}

/*
 ** 标签页 
 */

.eeb-ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.tags-tab-wrap {
  margin: 20px 0;
}

.tags-tab-wrap li {
  float: left;
  width: 60px;
}

.tags-tab-wrap a {
  padding: 0 2px 2px;
}

.tags-tab-wrap a.active {
  cursor: text;
  border-bottom: 1px solid #05a35e;
}

.tags-tab-wrap a.active, .tags-tab-wrap a:hover, .tags-tab-wrap a:active {
  color: #05a35e;
}

.map-outer-box {
  margin: 20px 0;
  padding-left: 70px;
  height: 45px;
  position: relative;
  color: #aaa;
}

.map-outer-box img {
  position: absolute;
  top: 0;
  left: 0;
}

.sidebar .map-outer-box>a {
  font-size: 13px;
  color: #aaa;
  margin: 0;
  border: 0;
  padding: 4px;
}

.sidebar .map-outer-box>a:hover {
  color: #05a35e;
  background: inherit;
}

.hotlabel-wrap {
  margin: 10px 0;
}

.hotlabel-txt {
  text-align: center;
}

.hotlabel-txt a {
  display: inline-block;
  min-height: 20px;
  padding: 2px 6px;
  color: #349dfe;
  text-decoration: none;
}

.hotlabel-txt a:hover {
  color: #05a35e;
}

.eeb-ad-wrap {
  height: 90px;
  margin: 10px auto;
  overflow: hidden;
}

.eeb-ad-wrap .ad-wrapper, .eeb-ad-wrap .pic-ad {
  max-width: 730px;
  margin: 0;
  text-align: center;
  float: left;
  clear: left;
  overflow: hidden;
}

.eeb-ad-wrap .text-ad {
  width: 375px;
  height: 90px;
  text-align: left;
  padding: 10px 15px;
  float: right;
  background-color: #ffffff;
}

.text-ad .sidebar-acticity-outer {
  height: 100%;
}

.text-ad .sidebar-acticity-outer a {
  padding: 4px 0;
}

.no-content-wrap {
  text-align: center;
  height: 250px;
  line-height: 200px;
}

.no-content-wrap span {
  color: #aaa;
  font-size: 16px;
  position: relative;
}

.no-content-wrap span::before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 40px;
  position: absolute;
  background: url(../img/eeb/sorry.png) top no-repeat;
  background-size: 100%;
  left: -60px;
  top: -52%;
}

/*
 ** 资讯页 
 */

.eeb-article-title {
  font-size: 20px;
  padding-left: 10%;
  font-weight: normal;
  margin-top: 30px;
  margin-bottom: 15px;
}

@media (min-width: 769px) {
  .eeb-article-nav {
    width: 95px;
  }
}

.eeb-article-nav {
  background: #fff;
  z-index: 10;
}

.eeb-article-nav a {
  display: inline-block;
  width: 100%;
  line-height: 45px;
  font-size: 16px;
  color: #aaa;
  position: relative;
  text-align: center;
  margin-bottom: 1px;
}

.eeb-article-nav .active, .eeb-article-nav a:hover, .eeb-article-nav a:active {
  background: #05a35e;
  color: #fff;
  position: relative;
}

.eeb-article-nav a:not(:last-child)::after {
  content: "";
  display: block;
  margin: 0 auto;
  height: 1px;
  width: 80%;
  margin-bottom: -1px;
  background: #efefef;
}

.eeb-article-nav a.active::before {
  content: "";
  display: inline-block;
  position: absolute;
  right: -8px;
  top: 30%;
  border-left: 9px solid #05a35e;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}

.article-nav-fixed {
  position: fixed;
  top: 100px;
}

.eeb-article-items-wrap>.row {
  margin-left: -40px;
  margin-right: -10px;
}

.eeb-article-items-wrap li {
  width: 100%;
  margin-top: 0;
  padding: 0;
  margin-bottom: 10px;
}

.eeb-row-mgl {
  margin-left: -5px;
}

.eeb-row-mgr {
  margin-right: 0;
}

.eeb-article-sidebar .sidebar-article-box {
  margin-top: 0;
}

.eeb-article-tag-wrap {
  min-height: 50px;
}

.eeb-article-tag {
  margin: 15px 0;
}

.eeb-article-tag a {
  background-color: #eef6ff;
  color: #2e89ca;
  font-size: 12px;
  padding: 1px 6px;
  margin-right: 5px;
  margin-bottom: 2px;
  display: inline-block;
  vertical-align: middle;
}

.eeb-article-tag a:hover {
  color: #05a35e;
}

.eeb-article-items-wrap .eeb-box-outer {
  padding: 20px;
}

.eeb-article-items-wrap .eeb-left {
  padding-top: 30px;
  padding-right: 20px;
  width: 35%;
}

.eeb-article-items-wrap .pic {
  height: 135px;
}

.eeb-article-items-wrap .eeb-right {
  width: 65%;
}

.eeb-right h4 {
  color: #4a4a4a;
  font-weight: normal;
  font-size: 16px;
}

.eeb-article-items-wrap .eeb-sub {
  height: 60px;
  font-size: 14px;
}

.eeb-article-items-wrap .eyes {
  float: right;
  margin-right: 10%;
}

/*
** 文章详情页
*/

.details-container {
  margin-top: 10px;
}

.details-wrap {
  background: #fff;
  padding: 30px;
  padding-bottom: 50px;
}

.details-wrap h1 {
  font-size: 24px;
  font-weight: normal;
  margin-top: 5px;
}

.details-desc>span {
  font-size: 13px;
  color: #aaa;
}

.details-desc .author, .details-desc .eyes {
  max-width: max-content;
  margin-right: 5%;
  float: left;
}

.details-container .sidebar-article-box {
  margin-top: 0;
}

.article-related-wrap>h2 {
  padding-left: 0;
}

.article-related-wrap .eeb-box-outer {
  padding: 20px 30px;
}

.article-related-wrap .eeb-left {
  width: 28%;
  padding-top: 10px;
}

.article-related-wrap .eeb-right {
  width: 72%;
}

.details-content-wrap p {
  margin-bottom: 16px;
  line-height: 1.8;
}

.details-content-wrap img {
  display: block;
  margin: 18px auto;
}

.details-content-wrap a {
  color: #05a35e;
}

.details-content-wrap ul {
  padding-left: 20px;
}

.details-page {
  margin: 40px 0 0;
  text-align: center;
}

.bdsharebuttonbox {
  margin-top: 10px;
}

.bdshare-wrap {
  margin: 20px 0 0;
  text-align: center;
}

.bdshare-wrap .bdsharebuttonbox {
  width: 125px;
  margin-left: 5px;
  display: inline-block;
}

.details-page a.page {
  display: inline-block;
  width: 35px;
  height: 33px;
  line-height: 32px;
  border: 1px solid #aaa;
  border-radius: 4px;
  margin: 2px;
}

.details-page a.active, .details-page a:hover {
  border-color: #05a35e;
}

.board-info-wrap {
  margin: 10px 0 0;
}

.board-table {
  margin: 10px 0;
}

.board-table, .board-table tr th, .board-table tr td {
  border: 1px solid #eaeaea;
  padding: 6px 20px;
  font-size: 12px;
}

.board-buy-wrap a {
  border: 1px solid #eaeaea;
  border-radius: 4px;
  margin-right: 10px;
  padding: 2px 5px 3px;
}

.board-buy-wrap a:hover {
  border-color: #aaa;
}

.board-download-title {
  margin: 30px 0 10px;
  font-size: 18px;
}

.board-download-table tr th, .board-download-table tr td {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.details-content-wrap .board-pic {
  margin: 0;
}

/* Page */

.pagination-article {
  margin: 5px 0;
  margin-bottom: 20px;
}

.pagination-article>li>a, .pagination-article>li>span {
  padding: 8px 16px;
  font-size: 16px;
}

.ad-area-eeboard {
  height: 250px;
  margin: 0 0 10px;
  background: #fff;
  position: relative;
}

.ad-area-eeboard::before {
  content: '';
  display: block;
  height: 100%;
  background: #fff url('../img/eeb/sorry.png') center no-repeat;
  background-size: 30%;
  opacity: .3;
}

.ad-area-eeboard .ad-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
}

.mobile-show {
  display: none!important;
}

.ranking {
  margin-bottom: 10px;
}

/* Mobile */

@media (max-width: 1140px) {
  .ad-area-eeboard {
    height: auto;
  }
  .ad-area-eeboard::before {
    display: none;
  }
  .ad-area-eeboard .ad-wrapper {
    position: static;
    margin-top: 0!important;
    padding: 5% 15px;
  }
  .footer .text-left, .footer .text-right {
    text-align: center!important;
  }
  .mobile-show {
    display: block!important;
  }
  .pc-show {
    display: none!important;
  }
}

@media (max-width: 640px) {
  .padding-0 {
    padding: 0;
  }
  .cm-body {
    margin-bottom: 60px;
  }
  .main-container {
    margin-bottom: 15px;
  }
  .eeb-items-box li, .eeb-ad-wrap .text-ad {
    width: 100%;
  }
  .eeb-ad-wrap .text-ad {
    margin-top: 10px;
  }
  .eeb-banner-wrap, .eeb-ad-wrap {
    height: auto;
  }
  .eeb-banner-wrap>div, .eeb-banner-right>div {
    width: 100%;
  }
  .eeb-banner-right {
    margin-top: 5px;
  }
  .cm-carousel-outer {
    padding-bottom: 10px;
  }
  .carousel-inner>.item>a>img {
    width: 100%;
    height: 180px;
    text-align: center;
  }
  .sidebar-more {
    margin-top: 0;
  }
  .details-wrap {
    padding: 20px 12px;
  }
  .eeb-left h4 {
    line-height: 1.4;
  }
  .sidebar-acticity-wrap {
    margin-top: -5px;
  }
  .cm-carousel-outer>.container>.col-md-12 {
    padding: 0;
  }
  .pagination-lg>li>a, .pagination-lg>li>span {
    padding: 5px 10px;
    font-size: 14px;
  }
  .main-column {
    padding: 0 15px;
  }
  .discover-circuits-list {
    padding: 0 7px;
    margin-top: 5px;
    margin-bottom: 0;
  }
  .circuit-box {
    width: 50%;
    height: 262px;
    margin: 0 0 10px;
    padding: 0 5px;
  }
  .circuit-box .mask {
    width: 100%;
    max-width: 100%;
  }
  .circuit-box .mask:hover {
    box-shadow: none;
  }
  .circuit-box .cover-img {
    width: 100%;
    height: 100px;
  }
  .details-wrap h1 {
    font-size: 18px;
  }
  .article-related-wrap .eeb-box-outer {
    padding: 12px;
  }
  .eeb-article-items-wrap .eeb-left {
    padding-right: 10px;
    width: 32%;
  }
  .eeb-article-items-wrap .eeb-right {
    width: 68%;
  }
  .eeb-article-items-wrap .pic {
    height: 100px;
    line-height: 100px;
  }
  .eeb-left .pic img {
    height: auto;
    max-height: 100%;
  }
  .eeb-article-title {
    padding-left: 0;
  }
  .article-nav-fixed {
    position: static;
  }
  .eeb-article-nav {
    margin-bottom: 10px;
    margin-left: -15px;
    margin-right: -15px;
  }
  .eeb-article-nav a {
    width: 20%;
    float: left;
  }
  .eeb-article-items-wrap .eeb-box-outer {
    padding: 10px 10px 15px;
  }
  .breadcrumb>li {
    float: left;
  }
  .breadcrumb>li+li:before {
    padding-left: 5px;
    padding-right: 5px;
  }
  .nav-breadcrumb ol {
    height: 40px;
    overflow: hidden;
  }
  .breadcrumb>.active {
    max-width: 270px;
    overflow: hidden;
  }
  .details-content-wrap iframe {
    width: 100%;
    height: auto;
  }
  .eeb-hot-tag-box a {
    padding: 2px 5px;
  }
  .eeb-article-nav a:not(:last-child)::after {
    display: none;
  }
  .eeb-eeboard-item {
    margin: 0;
    border-width: 0;
    border-color: #eee;
    border-style: solid;
    border-bottom-width: 1px;
  }
  .eeb-eeboard-item:nth-child(even) {
    border-left-width: 1px;
  }
  .eeb-eeboard-item .pic-outer {
    height: 110px;
    line-height: 108px;
  }
  .sidebar {
    padding: 0;
  }
  .sidebar-more {
    padding: 0 10px;
  }
  .eeb-article-nav a {
    line-height: 40px;
    font-size: inherit;
  }
  .eeb-article-nav a.active::before {
    display: none;
  }
  .article-tab-content {
    height: auto;
  }
  /* cirmall detail */
  .ranking-list li a {
    font-size: 12px;
  }
  .circuit-sidebar .panel>.panel-heading, .sidebar .panel>.panel-heading {
    font-size: inherit;
  }
  .page-header h2 {
    font-size: 16px;
    font-weight: normal;
  }
  .ad-placeholder {
    padding: 15px;
  }
}

@media (max-width: 414px) {
  .circuit-box {
    height: 240px;
  }
  .circuit-box .title {
    font-size: 12px;
    height: 45px;
    line-height: 1.6;
    padding: 5px;
    overflow: hidden;
  }
  .circuit-box .details2 {
    padding: 5px;
    height: 45px;
  }
  .circuit-box .seller {
    padding: 10px 5px;
  }
  .circuit-box .details2 .green, .circuit-box .details2 .gray, .circuit-box .details2 .review-count, .circuit-box .seller .ins-name {
    font-size: 10px;
  }
  .rating.static:before, .rating.static span:before, .circuit-box .details2 .count {
    font-size: 10px;
  }
  .circuit-box .seller .r {
    top: 0;
    width: 85px;
  }
  .carousel-inner .item-title {
    line-height: 30px;
    font-size: 12px;
  }
  .hotlabel-txt a {
    padding: 1px 2px;
  }
  .footer, .footer a, .footer a:hover, .footer a:active {
    font-size: 12px;
  }
}

@media (max-width: 400px) {
  .breadcrumb>.active {
    max-width: 190px;
  }
}

@media (max-width: 365px) {
  .footer, .footer a, .footer a:hover, .footer a:active {
    font-size: 10px;
  }
}