.ebproduct{ width:586px;margin:10px auto 0;font-family:"宋体",Arial;padding:0; }
.ebproductButton{ margin-bottom:10px; }
.ebproduct ul {margin:0; padding:0;list-style:none; }
.list_title a,
.list_text .n1_1 span,
.list_text .n1_4 span,
.list_text .n1_2 a,
.list_text .n2_1 span,
.list_text .n2_5 span{background:url(../images/bg2.png) no-repeat;}
/*头部样式*/
.list_title{width:586px;clear:both; overflow:hidden;}
.list_title li{ float:left; border-bottom:1px solid #e2e2e2; height:28px; line-height:28px;border-right:1px solid #e2e2e2; background:#f3f3f3;color:#666;}
.list_title a{ float:left; padding-right:14px; color:#666; background:url(../images/bg2.png) right -233px no-repeat;background-position:right -233px;text-decoration:none;}
.list_title a.pai1{background-position:right -257px;text-decoration:none;}
.list_title a.pai2{background-position:right -471px;text-decoration:none;}
.list_title a.pai3{background-position:right -442px;text-decoration:none;}
.list_title .t1_1{ width:97px; padding-left:25px;}
.list_title .t1_2{ width:185px; padding-left:30px;  cursor:pointer;}
.list_title .t1_3{ width:84px; padding-left:30px; cursor:pointer;}
.list_title .t1_4{ width:102px;border-right:0; padding-left:30px;}
.list_title .t2_1{ width:100px; padding-left:25px;}
.list_title .t2_2{ width:125px; padding-left:30px;  }
.list_title .t2_2 a{  cursor:pointer;}
.list_title .t2_3{ width:65px;  padding-left:15px;  }
.list_title .t2_3 a{  cursor:pointer;}
.list_title .t2_4{ width:70px; padding-left:30px;}
.list_title .t2_5{ width:102px;border-right:0; padding-left:20px;}
.list_text{width:586px;}
.list_text li{ float:left;border-bottom:1px dotted #ccc; height:33px;background:#fff;}
.list_text li a{ display:block; width:586px; height:34px; cursor:pointer;}
.list_text li a:hover{ text-decoration:none;}
.list_text .n1_1{ float:left; padding:9px 0 0 25px; overflow:hidden; height:20px;position:relative;}
.list_text .n1_1 span{ float:left; padding-left:22px; line-height:22px; color:#333;}
.list_text .n1_1 .jingdong{background-position:0 0;}
.list_text .n1_1 .yixun{background-position:0 -30px;}
.list_text .n1_1 .kuba{background-position:0 -60px;}
.list_text .n1_1 .z{background-position:0 -90px;}
.list_text .n1_1 .guomei{background-position:0 -120px;}
.list_text .n1_1 .yidianda{background-position:0 -150px;}
.list_text .n1_1 .suning{background-position:0 -180px;}
.list_text .n1_1 .apple{background-position:0 -210px;}
.list_text .n1_1 .taobao{background-position:0 -419px;}
.list_text .n1_1 .tmall{background-position:0 -391px;}
.list_text .n1_1 .liantong{background-position:0 -528px;}
.list_text .n1_1 .gaohong{background-position:0 -566px;}
.list_text .n1_1 .tianyi{background-position:0 -602px;}
.list_text .n1_1 .lenovo{background-position:0 -633px;}
.list_text .n1_1 .tegong{background-position:0 -664px;}
.list_text .n1_1 .dell{background-position:0 -695px;}
.list_text .n1_1 .htc{background-position:0 -726px;}
.list_text .n1_1 .oppo{background-position:0 -757px;}
.list_text .n1_1 .bubugao{background-position:0 -788px;}
.list_text .n1_1 .huawei{background-position:0 -819px;}
.list_text .n1_1 .jiayu{background-position:0 -850px;}
.list_text .n1_1 .meizu{background-position:0 -881px;}
.list_text .n1_1 .nokia{background-position:0 -912px;}
.list_text .n1_1 .qingcheng{background-position:0 -943px;}
.list_text .n1_1 .samsung{background-position:0 -974px;}
.list_text .n1_1 .sony{background-position:0 -1005px;}
.list_text .n1_1 .microsoft{background-position:0 -1036px;}
.list_text .n1_1 .xiaomi{background-position:0 -1067px;}
.list_text .n1_1 .changhong{background-position:0 -1098px;}
.list_text .n1_1 .haier{background-position:0 -1129px;}
.list_text .n1_1 .logitech{background-position:0 -1160px;}
.list_text .n1_1 .dangdang{background-position:0 -1191px;}
.list_text .n1_1 .newegg{background-position:0 -1222px;}
.list_text .n1_1 .okhqb{background-position:0 -1253px;}
.list_text .n1_1 .yihaodian{background-position:0 -1284px;}
.list_text .n1_1 .zm7{background-position:0 -1315px;}
.list_text .n1_1 .feihu{background-position:0 -1346px;}
.list_text .n1_1 .new7{background-position:0 -1377px;}
.list_text .n1_1 .yihaomall{background-position:0 -1408px;}
.list_text .n1_1 .lvsen{background-position:0 -1439px;}
.list_text .n1_1 .v6{background-position:0 -1470px;} 
.list_text .n1_1 .ms{background-position:0 -1749px;} 
.list_text .n1_1 .huahua{background-position:0 -1780px;}
.list_text .n1_1 .ruijie{background-position:0 -1811px;} 
.list_text .n1_1 .thinkpad{background-position:0 -1842px;} 
.list_text .n1_1 .letv {background-position: 0 -1501px;}
.list_text .n1_1 .coolpad{background-position:0 -1532px;} 
.list_text .n1_1 .hp{background-position:0 -1563px;} 
.list_text .n1_1 .disanfang{font-style:normal;line-height:12px; float:left;  color:#999; display:inline-block; padding:5px 0 0 0;}
.list_text .n1_1 .bj10086{background-position:0 -1625px;} 
.list_text .n1_1 .oneplus{background-position:0 -1656px;} 
.list_text .n1_1 .ztehn{background-position:0 -1687px;} 
.list_text .n1_1 .coocaa{background-position:0 -1718px;} 
.list_text .n1_1 .ms{background-position:0 -1749px;} 
.list_text .n1_1 .huahua{background-position:0 -1780px;} 
.list_text .n1_1 .ruijie{background-position:0 -1811px;} 
.list_text .n1_1 .thinkpad{background-position:0 -1842px;} 
.list_text .n1_1 .hasee{background-position:0 -1873px;} 
/*新增1个 2016.04.20*/ 
.list_text .n1_1 .leishen{background-position:0 -1903px;} 
/*新增1个 2016.06.02*/ 
.list_text .n1_1 .bnmhh{background-position:0 -1933px;}
/*新增1个 2016.11.28*/ 
.list_text .n1_1 .youyu{background-position:0 -1964px;}   
/*新增1个 2017.04.26*/ 
.list_text .n1_1 .nubia{background-position:0 -1995px;} 
/*新增1个 2017.05.31*/ 
.list_text .n1_1 .ivvi{background-position:0 -2026px;}

.list_text .n1_2{ float:left; padding:8px 0 0 30px;  position:relative;}
.list_text .n1_2 b{ float:left; font-size:14px; color:#df0708; line-height:18px; width:65px;}
.list_text .n1_2 b.hui{ color:#999;}
.list_text .n1_2 span{ float:left; color:#f25f02; border:1px solid #fcd096;line-height:16px;background:#fff url(../images/bg2.png) right -292px no-repeat; padding:0 14px 0 3px; height:16px;white-space: nowrap;}
.list_text .n1_2 span.here1{background:#fff; padding:0 5px 0 5px;}
.list_text .n1_2 .lg_div{ border:1px solid #fcd096; width:250px; background:#fff;  padding:4px 10px 10px 10px; line-height:18px; position:absolute; top:30px; left:90px;z-index:9;}
.list_text .n1_2 .lg_div p{ padding-top:6px; color:#666;}
.list_text .n1_2 i{ width:7px; height:6px; background:url(../images/dot1.png) no-repeat; overflow:hidden;  top:25px; left:110px; position:absolute; z-index:10;}
.list_text .n1_3{ float:left;padding:9px 0 0 15px;color:#666}
.list_text .n1_3 span{ color:#333; text-decoration:underline; line-height:18px;}
.list_text .n1_4{ float:left;padding:7px 0 0 15px;}
.list_text .n1_4 span{ display:block; width:57px; height:20px; line-height:21px; text-align:center; color:#fff;background-position:0 -331px;}
.list_text .n1_4 span.none{background-position:0 -352px;}
.list_text .n{ float:left; width:25px; padding:9px 0 0 20px;color:#999; line-height:18px;}
.list_text li.bg{ background:#f8f8f8;}
.list_text li.bgg1{ background:#fff8e7; border-bottom:1px solid #fff;}
.list_text li.bg2{ background:#fff8e7;}
.title1{height:30px; line-height:30px; background:#ecf3fb; font-size:14px; font-weight:bold; padding-left:11px; margin:1px;}
.peisong{ height:28px; position:relative; background:#f8f8f8; border-bottom:1px solid #ccc; font-size:14px;}
.peisong span{ color: #333;display:inline-block; padding:8px 0 0 15px;}
.peisong i{color: #333;font-style: normal; position:absolute; left:80px; top:4px; border:1px solid #ccc; height:20px; line-height:20px; padding:0 20px 0 7px; background:#fff url(../images/dot1128.png) right 8px no-repeat; cursor:pointer;}
.peisong i.here{border:1px solid #ccc; height:23px; line-height:23px; border-bottom:1px solid #fff;}
.city{clear:both; overflow:hidden; padding:8px 0;}
.city a{ float:left; height:30px; line-height:30px; text-align:center; color:#999; width:59px;}
.city a.here{ background:url(../images/dot1128_1.png) center no-repeat; color:#fff;}

/*20150923 杜利国 新增样式*/
.list20150918{ width:590px; clear:both; overflow:hidden;}
.list20150918 li{ float:left; width:590px; height:34px; line-height:34px; border-bottom:1px  dashed #d6d6d6; overflow:hidden; font-family:microsoft yahei,arial}
.list20150918 li a{ display:block; height:34px; cursor:pointer; color:#333;}
.list20150918 li a:hover{ color:#f00;}
.list20150918 li span{ float:left;height:34px; line-height:34px;}
.list20150918 li span.n1{ padding-left:5px; width:100px;}
.list20150918 li span.n2{ width:395px; font-size:14px; overflow:hidden;}
.list20150918 li span.n3{ width:70px; padding-left:20px; color:#f00;}

/*20160817 杜利国 新增样式*/
.list0816{ width:590px; overflow:hidden; clear:both; margin:5px 0;}
.list0816 li{ float:left;width:584px; border-bottom:1px dashed #d6d6d6; padding:9px 3px;overflow:hidden; clear:both;}
.list0816 li span{ float:left; width:52px; height:23px; background: url(../images/bg0816.png) no-repeat; text-align:center; color:#fff; line-height:23px; font-size:14px; font-weight:bold;}
.list0816 li span.youdian{ background-position:0 0;}
.list0816 li span.quedian{ background-position:0 -24px;}
.list0816 li span.zongjie{ background-position:0 -48px;}
.list0816 li div{ float:right; width:515px;}
.list0816 li div i{ display:block; font-size:14px; color:#333; font-weight:bold; line-height:23px;}
.list0816 li div p{font-size:12px; color:#666; line-height:20px; padding-top:4px;}

/*20161010 刘刚 新增样式*/
.list20161010{ width:590px; clear:both; overflow:hidden;}
.list20161010 li{ float:left; width:590px; height:34px; line-height:34px; border-bottom:1px  dashed #d6d6d6; overflow:hidden; font-family:microsoft yahei,arial; font-size:14px;}
.list20161010 li a{ display:block; height:34px; cursor:pointer; color:#333;}
.list20161010 li a:hover{ color:#f00;}
.list20161010 li span{ float:left;height:34px; line-height:34px;}
.list20161010 li span.n1{ padding-left:5px; width:370px; overflow:hidden;}
.list20161010 li span.n2{ width:70px; overflow:hidden;padding-left:5px; color:#f00;}
.list20161010 li span.n2 b{ color:#000;}
.list20161010 li span.n3{ width:70px; text-align:center;}

/*20161125 杜利国新增*/
.box1121{width:668px; border:1px solid #E8EBED;font:12px/1.125 microsoft yahei,arial;}
.tit1121{ background:#f4f5f5; padding-left:20px; height:32px; line-height:32px; font-weight:bold; border-bottom:2px solid #5290D0;}
.list1121{ width:668px; clear:both; overflow:hidden;}
.list1121 li{ width:668px;border-top:1px solid #E8EBED; height:32px; line-height:32px; overflow:hidden;}
.list1121 li span{ float:left;}
.list1121 li .n1{ padding-left:20px; width:390px; overflow:hidden; padding-right:10px;}
.list1121 li .n2{width:80px;}
.list1121 li .n3{width:60px; text-align:center;}
.list1121 li .n4{width:83px; padding-left:25px;}
.list1121 li .jingdong{ background:url(../images/bg2.png) 0 8px no-repeat; padding-left:20px; display:inline-block;}
.list1121 li .taobao{ background:url(/images/bg1121.png) 0 -32px no-repeat; padding-left:20px; display:inline-block;}
.list1121 li .tmall{ background:url(/images/bg1121.png) 0 0 no-repeat; padding-left:20px; display:inline-block;}
.list1121 li .qukankan{ width:57px; height:20px; line-height:20px; text-align:center; color:#fff; border-radius:2px; display:inline-block; background:#ff790a;}
.list1121 li span i{ font-style:normal; }
.list1121 li a{ display:block; color:#333;}
.list1121 li a:hover{ color:#ff790a;}
.list1121 li .n2_1{ color:#df0708; font-size:14px;}﻿/* 什么值得买版块样式 */
/*2012年11月12日*/
.lg2012_tit{ border-bottom:1px solid #dadada; height:28px; line-height:28px; padding:0 10px; color:#444; overflow:hidden;}
.lg2012_tit b{ float:left; font-size:14px;}
.lg2012_tit a{color:#444; text-decoration:none;}
.lg2012_tit span{ float:right; font-size:12px; padding-top:1px;}
.lg2012_tit a:hover{color:#ce0000; text-decoration:underline;}
.lg2012_tit1{ background:#f5f5f5; height:2px; overflow:hidden;}
.lg2012_list{ width:188px; margin:10px auto 0;list-style:none;padding:0; clear:both; overflow:hidden;}
.lg2012_list li{ float:left; display:block; width:100%;list-style:none; padding:10px 0 25px 0; margin:1px 0 0 0; text-align:left;}
.lg2012_list li div{ width:100%; position:relative;font-size:12px;}
.lg2012_list li div img{ display:block;margin:0 auto;}
.lg2012_list li div .span1{ display:block; padding:1px 2px 1px 1px; line-height:18px; height:18px; background:#f60; position:absolute; bottom:0; left:10px; width:110px;}
.lg2012_list li div .span2{ float:left; width:43px; text-align:center;color:#fff; font-size:14px;}
.lg2012_list li div .span3{ float:right; background:#fff;  font-family:Verdana; font-size:12px; color:#f60; padding:0 3px; width:60px; text-align:center; font-weight:bold;}
.lg2012_list li div a{display:block; width:170px; margin:0 auto;}
.lg2012_list li p{ padding:10px 0 0 10px; margin:0; font-size:12px;font-family: Arial; line-height:1;}
.lg2012_list li p a{ color:#444;text-decoration:none;}
.lg2012_list li p a:hover{ color:#ce0000; text-decoration:underline;}
.lg2012_list li p a span{ color:#ce0000;}
.lg2012_list li p i a{ text-decoration: underline; font-style:normal;}
.lg2012_tit b i{ font-size:12px; font-style:normal;}﻿.ds_120927{padding:10px 4px 9px;overflow:hidden;font-family:arial;}
.ds_le01 {float: left;padding-top: 65px;width: 35px;_width:28px;}
.ds_le01 a{float:left;width:16px;height:31px;background:url(../images/dsjs.png) no-repeat;}
.ds_le01 a:hover{float:left;width:16px;height:31px;background:url(../images/dsjs.png) 0px -39px no-repeat;}
.ds_ri01{width:20px;float:left;padding-top:65px;}
.ds_ri01 a{float:right;width:16px;height:31px;background:url(../images/dsjs.png) -20px 0px no-repeat;}
.ds_ri01 a:hover{float:right;width:16px;height:31px;background:url(../images/dsjs.png) -20px -39px no-repeat;}
.ds_cen01{float:left;overflow:hidden;list-style:none;margin:0px;padding:0px;}
.ds_cen01 li{float:Left;list-style:none;margin:0px;padding:0px;}
.ds_cen01 li img{display:block;border:0px;}
.ds_cen01 li p{line-height:20px;font-size:12px; padding-top:6px;margin-right:7px;word-break:break-all;}
.ds_cen01 li p a{color:#444;text-decoration:none;}
.ds_cen01 li p a:hover{color:#f00;text-decoration:underline;}
.ds_cen01 li p span{color:#f00;}
.ds_cen01 li p a:hover span{color:#f00;text-decoration:underline;}
.ds_cen01 li p a.under{text-decoration:underline;}
.heig120{height:120px;overflow:hidden;}

.ds_cen01 li .jiage{ height:20px; line-height:20px; overflow:hidden; padding-top:5px;}
.ds_cen01 li .jiage a span{ font-family:microsoft yahei,arial; font-size:16px; color:#f00;}
.ds_cen01 li .jiage a{ color:#444; text-decoration:none;}
.ds_cen01 li .jiage a:hover{ text-decoration:underline;color:#f00;}
.ds_cen01 li .ebpl{ height:20px; line-height:20px; overflow:hidden; padding-top:5px;}
.ds_cen01 li .ebpl img{ display:inline;vertical-align:-1px}
.ds_cen01 li .ebpl a{ color:#444; text-decoration:none;}
.ds_cen01 li .ebpl a:hover{ text-decoration:underline;color:#f00;}﻿.e-business1{font:12px/1.125 Arial; padding:0; margin:0; }
.e-business1 a{text-decoration:none;}
.e-business1 a:hover{text-decoration:underline;}
.e-business1_con1{width:160px; height:160px;}
.e-business1_con1 td{vertical-align:middle;}
.e-business1_con1 td img{border:0; display:block;}
.e-business1_con2{margin-top:18px; padding-bottom:20px; overflow:hidden; position:relative; _height:100%;}
.e-business1_con2 ul{width:890px; margin:0 auto; list-style:none;overflow:hidden;}
.e-business1_con2 li{float:left; color:#333; margin:0 8px; padding-bottom:5px; position:relative; display:inline; border:1px solid #fff; height:170px; _overflow:hidden;}
.e-business1_con2 li a{color:#333;}
.p_name1{color:#333; font-weight:bold; font-size:14px; margin:10px 0 0 0; padding-left:5px;}
.p_name1 a:hover{color:#ce0000;}
.p_introduce1{line-height:23px; margin-top:3px; padding-left:5px;}
.p_introduce1 span{color:#ce0000;font-size:14px;}
.p_introduce1 em{display:block; font-style:normal;}
.p_introduce1 a{color:#333;}
.p_introduce1 a:hover{color:#ce0000;}
.p_introduce1 em a{text-decoration:underline;}
.layer_con1{width:20px; height:20px; background:#c1c1c1; color:#fff; line-height:20px; text-align:center; font-size:14px; font-weight:bold; position:absolute; left:0; top:0;}
.layer_here1{background:#f60;}
.layer_con2{position:absolute; left:0; top:0px; background:#000; opacity:0.7; overflow:hidden; z-index:1; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70); -moz-opacity:.7; opacity:0.7;
 width:160px; height:90px; padding:15px 0;}
.layer_con2 ul{width:148px; list-style:none; padding:0; margin:0 auto;}
.layer_con2 li{float:none; padding-bottom:10px; color:#fff; width:145px; margin:0; display:block; border:0; height:auto;}
.layer_con2 li span{float:right;}
.layer_con2 li a{color:#fff; display:block; height:14px; line-height:14px; cursor:pointer;}
.layer_con2 li a:hover{color:#fff; text-decoration:none;}
.layer_con2 div{text-align:right; padding-right:3px;}
.layer_con2 div a{color:#fff;}
 
 
 .p_introduce1 a{text-decoration:none;}
.layer_con2 div a:hover{text-decoration:none;color:#fff;} 
.e-business1_left1 a, .e-business1_right1 a{width:16px; height:31px; display:block; background:url(../images/3.png) no-repeat; position:absolute; top:66px;}
.e-business1_left1 a{left:19px;}
.e-business1_left1 a:hover{background:url(../images/4_1.png) no-repeat;}
.e-business1_right1 a{right:19px; background:url(../images/3_1.png) no-repeat;}
.e-business1_right1 a:hover{background:url(../images/4.png) no-repeat;}

.e-businessborder{border:1px solid #e3e2e2;}
