.cont5,.cont5 a,.cont5 b,.cont5 .center,.float1,.list11 a,.cont8,.cont8 a,.bor2 a.fangd{background:url(/detailinclude/picshow/articlepicshow/images/bg.png) no-repeat;}
.cont2{width:670px;margin:20px auto 0px;}
.bor2{border:1px #d9d9d9 solid;width:670px;height:403px;*height:395px;
 /*非IE的主流浏览器识别的垂直居中的方法*/
 display: table-cell;
 vertical-align:middle;

 /*设置水平居中*/
 text-align:center;

 /* 针对IE的Hack */
 *display: block;
 *font-size: 352px;/*约为高度的0.873，200*0.873 约为175*/
 *font-family:Arial;/*防止非utf-8引起的hack失效问题，如gbk编码*/
 position:relative; 
}
.bor2 img {
 /*设置图片垂直居中*/
 vertical-align:middle;display:inline;
}
.bor2 a{cursor:pointer;}
.bor2 a.left1{background:url(/detailinclude/picshow/articlepicshow/images/1.png) no-repeat;width:290px;height:403px;position:absolute;top:0px;left:0px;display:block;cursor:url(/detailinclude/picshow/articlepicshow/images/cursor_left.cur),auto;z-index:999;}
.bor2 a.right1{background:url(/detailinclude/picshow/articlepicshow/images/1.png) no-repeat;width:290px;height:403px;position:absolute;top:0px;right:0px;display:block;cursor:url(/detailinclude/picshow/articlepicshow/images/cursor_right.cur),auto;z-index:999;}
.bor2 a.fangd{width:31px;height:28px;background-position:0px -217px;position:absolute;top:9px;right:9px; display:none; overflow:hidden;z-index:1000;}
.bor2 a.fangd:hover{background-position:0px -217px;background-position:-38px -217px;}
.cont3{font:normal 12px/20px arial;color:#828282;margin-top:15px;display:none;}
.cont4{width:670px;margin-top:15px;overflow:hidden;position:relative;}
.list3{width:1940px;}
.list3 li{width:96px;float:left;height:71px;position:relative;padding:1px 0px 0px 1px;cursor:pointer;}
.list3 li .borbg{width:97px;height:72px;background:url(/detailinclude/picshow/articlepicshow/images/xx.png) no-repeat;position:absolute;left:0px;top:0px; display:none;}
/* 2015 zjl 修改 font-size: 12px; width:34px;*/
.list3 li .pageall{width:34px;height:14px;font-size:12px;background:#000;text-align:center;line-height:14px;color:#fff;position:absolute;right:1px;bottom:1px;}
.cont5{margin-top:10px;background-position:0px -296px;height:8px;background-repeat:repeat-x;position:relative;}
.cont5 a{display:block;position:absolute;}
.cont5 b.left{width:4px;height:8px;font-size:0px;background-position:0px -315px;position:absolute;left:0px;top:0px;}
.cont5 b.right{width:4px;height:8px;font-size:0px;background-position:-9px -315px;position:absolute;right:0px;top:0px;}
.cont5 .center{background-position:0px -330px;background-repeat:repeat-x;height:8px;float:left;width:100%;}
.cont6{margin-top:10px;height:28px;line-height:28px;color:#4f81bd;overflow:hidden;position:relative;}
.cont6 a{color:#4f81bd;}
.cont6 a:hover{color:#ce0000;}
.cont6 .l{float:left;}
.cont6 .r{float:right;}
.cont6 span{margin:0px 12px;}
.float1{width:116px;height:28px;background-position:0px -129px;position:absolute;top:0px;right:150px;_right:120px;display:none;}
.list11{padding:5px 0px 0px 7px;}
.list11 a{margin-right:6px;width:19px;height:19px;float:left;}
.list11 a.a1{background-position:0px -190px;}
.list11 a.a1:Hover{background-position:0px -164px;}
.list11 a.a2{background-position:-25px -190px;}
.list11 a.a2:Hover{background-position:-25px -164px;}
.list11 a.a3{background-position:-50px -190px;}
.list11 a.a3:Hover{background-position:-50px -164px;}
.list11 a.a4{background-position:-75px -190px;}
.list11 a.a4:Hover{background-position:-75px -164px;}
.cont7{}
.cont8{height:39px;background-position:0px 0px;text-align:center;padding-top:10px;background-repeat:repeat-x;}
.cont8 a{height:28px;line-height:28px;padding:0px 0px 0px 30px;color:#828282;display:inline-block;text-align:left;font-size: 12px;}
.cont8 a:hover{color:#ce0000;}
.cont8 a.a1{width:78px;background-position:0px -57px;}
.cont8 a.a2{width:56px;background-position:0px -93px;}
.tit10{font:bold 14px/16px arial;height:16px;padding:10px 0px 0px 16px;}
.list12{width:582px;clear:both;overflow:hidden;margin: 0 auto;}
.list12 li{width:194px;padding-top:10px;float:left;}
.list12 li .div1{border:1px #e5e5e5 solid;padding:5px;width:160px;height:146px;margin:0px auto;}
.list12 li .div1 img{display:block;}
.list12 li .div1 p{line-height:16px;padding:3px 0px 0px 0px;font-size:12px;}
.list12 li .div1 p a{color:#555;}
.list12 li .div1 p a:hover{color:#ce0000;}