/* 回收站：
#div_digg { display:none;  position: fixed; bottom: -1px; width: 45px; right: -30px; padding: 20%; padding-top: 10px; padding-left: 10px; z-index: 10; }
标题小星星 
.postTitle { background: url(https://irabe.me/StarBeforeCaption.JPG) no-repeat scroll 0% 0%; padding-left: 30px; text-shadow: 0 0 1px black; font-family: sans-serif; }
图片统一大小
img[src*="irabe.me" g] { height:120px; border:1px solid black; }
*/
h1 { color: #008000; }
.blog_nav_sitehome , #ad_t2 ,#cnblogs_c1,#cnblogs_c2,#ad_c1,#under_post_news,#ad_c2,#under_post_kb,.postSeparator,#blog_nav_sitehome{display:none;}
/* 标题颜色 */
#cnblogs_post_body > h1{ display: block; font-weight: 300; background-image: linear-gradient(linear-gradient(to right bottom, #00BCD4, #216173)); background-color: #216173; color: #FFF; font-size: 1.4em; line-height: 1.8em; margin: 10px 10px 10px 0; padding: 8px 15px; letter-spacing: 3px; border-left: solid #333 10px; text-shadow: 1px 1px 1px #666; box-shadow: 1px 1px 2px #666; }
#cnblogs_post_body > h3{ text-align: center; background: none repeat scroll 0 0 #555; border-radius: 3px 3px 3px 3px;letter-spacing: 1px;color: white;padding-bottom: 5px;padding-top: 5px; }
code { background-color: #C1E6C6!important; font-weight: bolder; color: #F60;}

/*  打赏居左 */
.qm { float:left; }
/* 首页盒子效果 */
.day {box-shadow: 1px 1px 2px #A7A8AD;margin: 0 5px 20px 0;padding: 5px 20px 10px;}
/* 底部横幅效果 */
#manguage{ position: relative; background: none repeat scroll 0 0 #555; text-align: center; font-size: 16px;  margin-top: -24px;  z-index:1;width: 100%;}
/* 公告tips文字 */
#title_tips { color:#555  }
/* 标题小星星*/ 
.postTitle {font-size: 14px;font-weight: bold;padding: 0 100px 10px 20px;border-bottom: 1px solid #e0e0e0;line-height: 1.5em;clear: both;border-left: 10px solid #7bc3d6;}
#div_digg{ position:fixed; bottom:5px; width:140px; right:30px; border:2px solid #085; padding:10px; background-color:#fff; border-radius:5px 5px 5px 5px !important; box-shadow:0 0 0 1px #5F5A4B, 1px 1px 6px 1px rgba(10, 10, 0, 0.5); transition-duration: 0.5s; opacity: 0.8;  z-index: 10;     bottom: 20px;} 
#div_digg:hover{ opacity:1; } 
/* 点赞  */
#fff;border-radius: 5px 5px 5px 5px !important;box-shadow: 0 0 0 1px #5F5A4B, 1px 1px 6px 1px rgba(10, 10, 0, 0.5);transition-duration: 0.5s;}
/* body */
body {color: #000;background: #fff;font-family: Verdana,Arial,Helvetica,sans-serif;font-size: 12px;min-height: 101%;/*    background: url(https://www.cnblogs.com/skins/BlackLowKey/images/body_bg.jpg) top center no-repeat #000; */}
/* IP */
#getip { color:#555;font-size:x-small;font-weight:600; } 
/* 内容居中 https://howtocenterincss.com/ */
#cnblogs_post_body { margin-left:10px;margin-right:20px;}
hr { box-sizing: content-box; border-top: 0px none; border-right: 0px none; border-left: 0px none; border-bottom-style: solid; border-bottom-color: rgb(221, 221, 221); height: 4px; margin-top: 16px; margin-bottom: 16px; background-color: rgb(231, 231, 231); overflow: hidden; }
/* 首页折页效果 */
.dayTitle{ border: 10px solid black; border-color: transparent #085 #085 transparent; font-size: 0; height: 0; width: 0; position: initial; float: right; }
.dayTitle:active { opacity:0; }
/* 标题选中红色 */
.postTitle > a:hover { color:#216173;#ffa500; transition: all 0.4s linear 0s; }
.day:after { content: ""; background-color: springgreen; width: 1494.5px; height: 3px; position: absolute; z-index: 10; top: 271px; display:none; }
/* 首页小兔子 */
#f_knowmore{ background-image: url(https://images2015.cnblogs.com/blog/952608/201707/952608-2 0170723114013918-1825689580.png); float: right; height: 320px; padding-left: 175 px; margin-top: 100px; position: fixed; top: 480px; right: 65px; opacity: 0.8; z-index:10; display:block; }
#f_knowmore:hover { opacity:1 }
/* 兔子下的打赏 */
#m_alipay,#m_wechat,#m_gonghao{ float: right; margin-top: 450px; }
/* test */
img[alt="pay"] { position: relative; float: right; width: 249px; }
.helpus2 { display: block; margin: 20px auto; text-decoration: none; color: #666; font-size: 16px; line-height: 2; background: url(https://itxdm.me/2017-07-27_15-32-28.png) no-repeat center #fff; background-size: cover; height: 80px; border-radius: 10px; border: 1px solid #ccc; position: fixed; width: 245px; top: 420px; left: 20px; opacity: 0.9;}
.helpus2 .paycode{ top: -180px; display: none; position: relative; margin: -75% -1%; text-align: center; box-shadow: 5px 5px 40px rgba(0,0,0,0.5); background: white;}
.helpus2:hover .paycode {display:block;}
.paycode:hover .helpus2 { display:none; }

.cd-top.cd-fade-out { opacity: .5; }
.cd-top.cd-is-visible { visibility: visible;  opacity: 1; }
.cd-top {  bottom: 140px;    right: 20px;    background-color: #0069ff;    color: #fff;    font-size: 12px;    text-transform: uppercase;    font-weight: 600;    letter-spacing: 1.3px;    text-decoration: none;    opacity: 1;    padding: 11px 0 9px;    width: 140px;    text-align: center;    -webkit-backface-visibility: hidden;    border-radius: 18px;    -webkit-transition: background .2s ease;    transition: background .2s ease;    position: fixed;    display: none;    opacity: 0.3; }
.cd-top:hover{    opacity: 1; }

.11:link,.11:visited{ 
    text-decoration:none;  /*超链接无下划线*/ 
} 
.11:hover{ 
    text-decoration:underline;  /*鼠标放上去有下划线*/ 
}

#write > p > a > img { width:700px; }
.img_t { position: fixed; z-index: 1; margin-top: 260px; margin-left: 150px; pointer-events: none; display:none }
#cnblogs_post_body > p > img { max-width: 95%; text-align: center; border: none; box-shadow: 1px 1px 4px #666; margin: 10px 5px;width: 733px; cursor: pointer; }
pre { font-size: 14px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); text-shadow: 1px 1px 1px #6E5; border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px; -o-border-radius: 6px; -ms-border-radius: 6px; -khtml-border-radius: 6px; color: #b8ffb8; margin: 10px; padding: 1px 1px 1px 1px; white-space: pre-wrap; border: 1px solid #000; background-color: #161b20; background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAICAYAAAA4GpVBAAAAAXNSR…dJTVBXgQ4XAAAAF0lEQVQI12NgYGAwZsAECDEWBgYGBgYACpwAazfG694AAAAASUVORK5CYII=); display: block; font-family: monospace; white-space: pre; margin: 1em 0px; font-size: 14px; border: 1px solid #000; }
#mainContent > div > div > div.postDesc { display:none; }
#redbag { display:none; }