@font-face {
    font-family: 'WebRupee';
    src: url('./fonts/webrupee/webrupee.v2.0-webfont.eot');
    src: url('./fonts/webrupee/webrupee.v2.0-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/webrupee/webrupee.v2.0-webfont.woff') format('woff'),
         url('./fonts/webrupee/webrupee.v2.0-webfont.ttf') format('truetype'),
         url('./fonts/webrupee/webrupee.v2.0-webfont.svg#webrupeebook') format('svg');
    font-weight: normal;
    font-style: normal;

}
.Rupee{font-family: "WebRupee";vertical-align:middle;}

.black-stars {
    background: url("rating-sprites/black-stars.png") repeat-x;
    font-size: 0;
    height: 12px;
    line-height: 0;
    overflow: hidden;
    text-indent: -999em;
    width: 60px;
}

.black-stars .rating {
    background: url("rating-sprites/black-stars.png") repeat-x;
    background-position: 0 100%;
    float: left;
    height: 12px;
}
.yellow-stars {
    background: url("rating-sprites/yellow-stars.png") repeat-x;
    font-size: 0;
    height: 12px;
    line-height: 0;
    overflow: hidden;
    text-indent: -999em;
    width: 60px;
}

.yellow-stars .rating {
    background: url("rating-sprites/yellow-stars.png") repeat-x;
    background-position: 0 100%;
    float: left;
    height: 12px;
}


.orange-stars {font-size: 0;height: 12px;line-height: 0;overflow: hidden;text-indent: -999em;width: 50px;}
.orange-stars .rating {height:12px;background: url("rating-sprites/orange-stars-small.png") 0 0;}
.orange-stars .rating div:first-child {height:12px;background: url("rating-sprites/orange-stars-small.png") 0 12px;}

.orange-stars-small {font-size: 0;height: 12px;line-height: 0;overflow: hidden;text-indent: -999em;width: 50px;}
.orange-stars-small .rating {height:12px;background: url("rating-sprites/orange-stars-small.png") 0 0;}
.orange-stars-small .rating div:first-child {height:12px;background: url("rating-sprites/orange-stars-small.png") 0 12px;}





   
