a { color: #367FA9; }
.post-title a { color: #002E42; }
a:hover, .post-title a:hover, .post-tags a:hover, .page-numbers.current, .page-numbers:hover, .comment-meta a:hover { color: #0078AB; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { background: #54A7D7; color: #FFF; }
::selection { background: #367FA9; color: #FFF; }
::-moz-selection { background: #367FA9; color: #FFF; }
#submit:hover { background: #367FA9; }
#top { background: #3C8DBC; border-top: 8px solid #367FA9; }
.logo { background: #367FA9; border-top: 8px solid #2E6E93; }
.social .ico a, .topmenu li a, #footer .info, #footsb ul li { color: #BEDBEC; }
.social .ico:hover a, #s-top, .topmenu li a:hover { color: #FFF; }
#searchform-top { background: #3C8DBC; }
#s-top { border-color: #BEDBEC; }
#s-top::-webkit-input-placeholder { color: #BEDBEC; }
#s-top:-moz-placeholder { color: #BEDBEC; }
#s-top::-moz-placeholder { color: #BEDBEC; opacity: 1; }
#s-top:-ms-input-placeholder { color: #BEDBEC; }
.topmenu .current-menu-item a { background: #367FA9; color: #FFF; }
.topmenu .sub-menu { background: #367FA9; }
.topmenu .sub-menu li a { background: #3C8DBC; color: #BEDBEC; }
.topmenu .sub-menu .current-menu-item a { background: #367FA9; color: #FFF; }
#breadcrumbs, #breadcrumbs a, .post-tags .tagtip, .post-tags a, .status-meta span, .status-meta a, .comment-meta, .comment-meta a, #loading-comments, .comment-closed, #commentform p, .comments-nav .page-numbers, .ajaxtipsdiv span, .ajaxtipsdiv .comment-reply-link { color: #9DACB2; }
#footsb h3.widget-title { color: #FFF; }
.status-avatar, .search-title, .guestbook, .wall li img { border-color: #CCD4DD; }
#foot { border-top: 8px solid #3C8DBC; background: #367FA9; }
#foot a { color: #DAEDF7; }
#foot a:hover { color: #FFF; }
#footsb ul li { border-color: #5296BD; }
#footsb ul li:hover { background: #2D7299; }
#footsb .tagcloud a { background: #266D96; }
#footsb .tagcloud a:hover { background: #206288; }
#bottom { background: #266D96; }