/*left_menu*/
.leftmenu_show {width:14px;height:127px; position:fixed; _position:absolute; top:50%; z-index:199; margin-top:-63px; left:0;}

.leftmenu_hidden {width:14px;height:127px; position:fixed; _position:absolute; top:50%; z-index:888; margin-top:-63px; left:177px;}
.leftmenu_holder{ position:fixed; left:0px; _position:absolute; _top:expression(documentElement.scrollTop + 40 + "px");}

.leftmenu_holder .leftmenu_title{ width:177px; height:30px; background:url(/qstatic/image/left_menu/leftmenu_title.png) no-repeat left top; overflow:hidden;}
.leftmenu_holder .leftmenu_box{ width:174px;border:solid 1px #3096d8; padding:0 0 10px 1px; height:600px; word-break:break-all; overflow:hidden; overflow-y:scroll; background:#fff;} 
.leftmenu_holder .subNav,.leftmenu_holder .subNavH{ clear:both; float:left; display:inline; width:160px; cursor:pointer; font-weight:bold; font-size:14px;color:#277fc2; line-height:16px; background:url(/qstatic/image/left_menu/leftmenu_icon_open.gif) no-repeat left center; padding-left:20px; margin-top:10px;}
.leftmenu_holder .subNav:hover,.leftmenu_holder .subNavH:hover{color:#277fc2;}
.leftmenu_holder .currentDd{color:#277fc2}
.leftmenu_holder .currentDt{ background:url(/qstatic/image/left_menu/leftmenu_icon_close.gif) no-repeat left center;}
.leftmenu_holder .navContent,.leftmenu_holder .navContentH{  float:left; display: none; background:url(/qstatic/image/left_menu/leftmenu_list_bg.gif) repeat-y left top; padding-top:8px; padding-bottom:0; overflow:hidden;}
.leftmenu_holder .navContent li,.leftmenu_holder .navContentH li{ float:left; display:block;width:175px; background:url(/qstatic/image/left_menu/leftmenu_one_bg.gif) no-repeat left top; height:20px; font-size:14px;line-height:20px;color:#333}
.leftmenu_holder .navContent li a,.leftmenu_holder .navContentH li a{ float:left; margin-left:25px; height:20px; font-size:12px;line-height:20px;color:#333; padding-right:5px;}
.leftmenu_holder .navContent li a:hover,.leftmenu_holder .navContentH li a:hover{color:#f60;}

.leftmenu_holder .leftmenu1{ cursor:pointer; font-weight:bold; font-size:14px;color:#277fc2; line-height:16px; background:url(/qstatic/image/left_menu/left_menu_icon1.gif) no-repeat left center; padding-left:20px;}

.leftmenu_holder .leftmenu2{ background-image:url(/qstatic/image/left_menu/left_menu_icon2.gif);}

.leftmenu_holder .leftmenu3{ background-image:url(/qstatic/image/left_menu/left_menu_icon3.gif);}

.leftmenu_holder .leftmenu4{ background-image:url(/qstatic/image/left_menu/left_menu_icon4.gif);}

.leftmenu_holder .leftmenu5{ background-image:url(/qstatic/image/left_menu/left_menu_icon5.gif);}


.leftmenu_holder .leftmenu6{ background-image:url(/qstatic/image/left_menu/left_menu_icon6.gif);}

.leftmenu_holder .leftmenu7{ background-image:url(/qstatic/image/left_menu/left_menu_icon7.gif);}

.leftmenu_holder .leftmenu7 a{ color:#277fc2;}

.leftmenu_holder .leftmenu8{ background-image:url(/qstatic/image/left_menu/left_menu_icon8.gif); cursor: auto;}

.leftmenu_holder .leftmenu8 a{ color:#277fc2;}

.leftmenu_holder .leftmenu9{ background-image:url(/qstatic/image/left_menu/left_menu_icon9.gif);}


.leftmenu_holder .leftmenu10{ background-image:url(/qstatic/image/left_menu/left_menu_icon10.gif); cursor: auto;}

.leftmenu_holder .leftmenu10 input.leftside_searchbox{ width: 120px!important; border: 1px solid; border-color: #3096d8 #93bfe3 #93bfe3 #3096d8; background: #fff url(/static/image/common/px.png) repeat-x 0 0; border-radius: 4px;}


.leftmenu_holder .left_menu_lastone{ background-image:url(/qstatic/image/left_menu/leftmenu_lastone_bg.gif)!important;}

.leftmenu_holder .leftmenu_current{ background:url(/qstatic/image/left_menu/leftmenu_current_leftbg.gif) no-repeat left top!important;}

.leftmenu_holder .leftmenu_current a{ background:url(/qstatic/image/left_menu/leftmenu_current_rightbg.gif) no-repeat right!important; color:#f60!important;}
.navContent{ display:none;}

.leftmenu_holder .leftmenu_lastcurrent{ background:url(/qstatic/image/left_menu/leftmenu_lastonecurrent_leftbg.gif) no-repeat left top!important;}

.leftmenu_holder .leftmenu_lastcurrent a{ background:url(/qstatic/image/left_menu/leftmenu_current_rightbg.gif) no-repeat right!important; color:#f60!important;}
.navContent{ display:none;}
