/*
作者：天兴模板工作室
地址：http://www.txcstx.cn
邮箱：admin@txcstx.cn
*/
body {
	margin: 0px;
	padding: 0px;
	font-size: 1em;
	font-family: "Microsoft YaHei", Verdana, sans-serif;
	background-image: url(../include/bg.gif);
	background-repeat: repeat;
}
img {
	max-width: 100%;
	height: auto;
	width: auto\9;
	border: 0;
}
div, h1, h2, h3, h4, p, form, ul, label, input, textarea, img, span, dl, dt, dd {
	margin: 0px;
	padding: 0;
}
.clear {
	clear: both;
}
li {
	list-style-type: none;
}
.pagebar {
	clear: both;
	margin: 15px 0;
	text-align: center;
}
.pagebar a {
	background-color: #f1f1f1;
	padding: 3px 9px;
	margin: 0 2px 3px 0;
	color: #333333;
	display: inline-block;
	border-radius: 2px;
}
.pagebar a:hover {
	color: #FFFFFF;
}
.pagebar .now-page {
	padding-top: 3px;
	padding-right: 9px;
	padding-bottom: 3px;
	padding-left: 9px;
	margin-right: 3px;
	color: #FFFFFF;
}
#top {
	line-height: 30px;
	background-color: #f1f1f1;
	height: 30px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	font-size: 0.75em;
}
#comments {
	padding: 15px;
	margin-top: 15px;
}
#comments h3, #comments h4 {
	line-height: 35px;
	margin-bottom: 10px;
	height: 35px;
	font-size: 0.875em;
	color: #000;
	font-weight: 700;
}
#comments h4 {
	margin-top: 15px;
}
#frmSumbit #inpName, #frmSumbit #inpEmail, #frmSumbit #inpHomePage, #frmSumbit #inpVerify {
	padding-left: 10px;
	border: 1px solid #ddd;
	height: 15px;
	width: 40%;
	padding-top: 6px;
	padding-right: 10px;
	padding-bottom: 6px;
	line-height: 15px;
	float: left;
	margin-right: 10px;
}
.commentpost label {
	height: 15px;
	overflow: hidden;
	clear: left;
	float: left;
	line-height: 15px;
	border-color: #CCC;
	border-style: solid;
	border-width: 1px 0 1px 1px;
	margin: 0;
	padding: 6px 10px;
}
#txaArticle {
	width: 98%;
	height: 120px;
	border: 1px solid #ddd;
	padding: 5px;
}
#frmSumbit p {
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
	line-height: 30px;
}
#frmSumbit .button {
	color: #FFFFFF;
	border-radius: 3px;
	height: 30px;
	width: 100px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	margin-right: 15px;
}
.msgname .dot {
	font-size: 30px;
	color: #f4f4f4;
	float: right;
	margin-left: 15px;
	font-weight: 700;
}
.msg .msgimg img {
	clear: left;
	float: left;
	margin-right: 10px;
	padding: 2px;
	height: 36px;
	width: 36px;
	border: 1px solid #ddd;
	background-color: #f1f1f1;
}
.msgtxt .msgarticle {
	padding-bottom: 4px;
}
#comments .msg {
	font-size: 12px;
	line-height: 22px;
	border: 1px solid #dddddd;
	padding-top: 9px;
	padding-right: 9px;
	padding-bottom: 1px;
	padding-left: 9px;
	margin-top: 12px;
	border-radius: 5px;
}
#comments .msg .msgname {
	color: #999999;
}
#comments .msg .msgarticle {
	color: #666666;
}
#comments .msg .msgarticle .msg {
	background-color: #f9f9f9;
	margin-top: 9px;
}
.msg .msgarticle .msg .msgname .dot {
	display: none;
}
#top dl {
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
#top span {
	float: right;
}
#w980 {
	margin-top: 15px;
	margin-right: auto;
	margin-bottom: 15px;
	margin-left: auto;
}
#w980 #head {
	height: 60px;
	overflow: hidden;
}
#head .logo {
	background-image: url(../include/logo.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	display: block;
	float: left;
	height: 60px;
	width: 320px;
}
#head #ss {
	float: right;
	margin-top: 13px;
}
#ss #edtSearch {
	background-color: #FFFFFF;
	float: left;
	height: 28px;
	width: 250px;
	border: 1px solid #ddd;
	line-height: 30px;
	padding-left: 10px;
	border-radius: 3px 0px 0px 3px;
}
#ss #btnPost {
	color: #FFFFFF;
	float: left;
	height: 30px;
	width: 60px;
	border: 0px;
	border-radius: 0px 3px 3px 0px;
}
.menubtn, .jieshao {
	display: none;
}
#hamburgermenu {
	line-height: 45px;
	height: 45px;
	margin-top: 15px;
	border-radius: 3px;
	overflow: hidden;
	margin-bottom: 15px;
}
#hamburgermenu ul li {
	float: left;
}
#hamburgermenu ul li a {
	padding-right: 20px;
	padding-left: 20px;
	font-size: 1em;
	color: #FFFFFF;
	display: block;
}
#hamburgermenu li a:hover, #hamburgermenu li a.on {
	color: #f9f9f9;
}
#cennr #left {
	background-color: #FFFFFF;
	float: left;
	width: 70.5%;
	overflow: hidden;
	border-radius: 5px;
	border: 1px solid #CCCCCC;
}
#cennr #rigth {
	float: right;
	width: 28%;
	overflow: hidden;
}
#left #lieb {
	padding: 25px;
	word-wrap: break-word;
	border-bottom: 1px dotted #ccc;
}
#w980 #place {
	margin-bottom: 15px;
	font-size: 0.875em;
}
#lieb dt, #info dt {
	font-size: 0.75em;
	color: #999999;
}
#lieb dt h2 {
	font-size: 1.5em;
	margin-bottom: 10px;
	font-weight: normal;
}
#info dt h1 {
	font-size: 1.8em;
	margin-bottom: 10px;
	font-weight: normal;
	color: #333333;
}
#lieb dt span, #info dt span {
	float: right;
}
#lieb .kan, #info .kan {
	background-image: url(img/newsIcon.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	padding-left: 20px;
	padding-right: 15px;
	font-style: normal;
}
#lieb .ping, #info .ping {
	background-image: url(img/newsIcon.png);
	background-repeat: no-repeat;
	background-position: 0px -37px;
	padding-left: 20px;
	font-style: normal;
}
#lieb dd {
	line-height: 25px;
	margin-top: 10px;
	font-size: 0.875em;
	overflow: hidden;
}
#lieb i img {
	width: 180px;
	height: 150px;
	float: left;
	margin-right: 20px;
	border-radius: 5px;
}
.more {
	padding-left: 20px;
}
#rigth dl {
	background-color: #FFFFFF;
	margin-bottom: 15px;
	border-radius: 5px;
	border: 1px solid #CCCCCC;
	padding: 1px;
}
#rigth #divLinkage dd ul li, #rigth #divTags dd ul li {
	display: inline-block;
	width: 50%;
}
#rigth dt {
	font-size: 0.875em;
	line-height: 35px;
	font-weight: 700;
	padding-left: 9px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #cccccc;
	color: #333333;
	background-color: #f5f5f5;
}
#rigth dd {
	font-size: 0.875em;
	padding-top: 10px;
	padding-right: 15px;
	padding-bottom: 10px;
	padding-left: 15px;
}
#rigth ul li {
	padding-top: 5px;
	padding-bottom: 5px;
}
#rigth #divSearchPanel dd form {
	height: 30px;
	border-radius: 2px;
	margin-top: 5px;
}
#rigth #divSearchPanel input[type="text"] {
	line-height: 28px;
	height: 28px;
	width: 72%;
	float: left;
	padding-left: 1%;
	clear: left;
	border: 0px;
}
#rigth #divSearchPanel input[type="submit"] {
	color: #FFFFFF;
	float: right;
	height: 30px;
	width: 25%;
	border: 0px;
}
#divCalendar .function_t {
	display: none;
}
#divCalendar table {
	width: 100%;
	table-layout: fixed
}
#divCalendar caption {
	text-align: center;
	height: 24px;
	margin: 0px;
	padding: 0px;
	font-size: 0.875em;
	font-weight: bold;
}
#divCalendar caption a {
	padding: 0px;
}
#divCalendar th {
	color: #FFFFFF;
	text-transform: uppercase;
	height: 26px;
	background-color: #CCCCCC;
}
#divCalendar td {
	text-align: center;
	background: #F0F0F0;
	border: 1px solid #E0E1E2;
	height: 30px;
}
#divCalendar td.pad {
	background: none
}
#divCalendar td a {
	display: block;
	line-height: 30px;
	color: #FFFFFF;
}
#w980 #footer {
	line-height: 26px;
	background-color: #FFFFFF;
	padding: 25px;
	margin-top: 15px;
	border-radius: 5px;
	border: 1px solid #cccccc;
	font-size: 0.875em;
}
#left #info {
	padding: 25px;
}
#info #zi {
	font-size: 0.875em;
	line-height: 2;
	margin-top: 15px;
	border-top-width: 1px;
	border-top-style: dotted;
	border-top-color: #eee;
	word-wrap: break-word;
}
#zi p {
	margin-top: 0.9em;
	margin-bottom: 0.9em;
}
#info #post_nav {
	padding-top: 10px;
	padding-right: 5px;
	padding-bottom: 10px;
	padding-left: 5px;
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #eee;
	border-right-color: #eee;
	border-bottom-color: #eee;
	border-left-color: #eee;
	margin-top: 10px;
	margin-bottom: 10px;
}
#post_nav .r {
	float: right;
	text-align: right;
}
#post_nav p {
	float: left;
	width: 45%;
	font-size: 0.875em;
}
#left .post {
	line-height: 30px;
	padding: 25px;
}
#guan h2 {
	font-size: 0.875em;
	line-height: 40px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #eee;
	margin-bottom: 9px;
	color: #000000;
}
#guan ul li {
	line-height: 26px;
	font-size: 0.875em;
	height: 26px;
	overflow: hidden;
}
#guan ul li span {
	float: right;
	color: #999999;
	margin-left: 10px;
}
.search{ display:none;}
@media screen and (max-width: 978px) {
body {
	background-position: 0px 0px;
}
header {
	display: block;
	width: 96%;
	margin-bottom: 15px;
	margin-left: -1%;
	margin-right: -1%;
	padding-left: 2%;
	padding-right: 2%;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
}
.menubtn {
	position: relative;
	color: #274a61;
	text-decoration: none;
	font-size: 0em;
	line-height: 0em;
	background-image: url(img/dh.png);
	background-position: 50% 50%;
	background-size: 25px 25px;
	background-repeat: no-repeat;
	padding: 15px;
	top: 8px;
	left: 0px;
	display: block;
	float: left;
}
.menubtn:hover, .openmenu .menubtn {
	color: #bdd43e;
	background-image: url(img/dh.png);
}
#hamburgermenu {
	line-height: 35px;
	height: auto;
	margin-top: 0px;
}
#hamburgermenu ul li a {
	padding-right: 10px;
	padding-left: 10px;
	font-size: 0.9em;
}
#hamburgermenu li a:hover, #hamburgermenu li a.on {
	color: #f9f9f9;
}


/** toggle menu **/
body.openmenu {
	position: fixed;
	overflow: hidden;
}
#pgcontainer {
	padding: 45px 0;
	margin: 0;
}
.overlay {
	position: fixed;
	z-index: 99;
	background-color: rgba(0,0,0,0.5);
	bottom: 0;
	right: 0;
	left: 0;
}
.openmenu .overlay {
	top: 0;
}


#w980 {
	width: 100%;
	margin-top: 0px;
}
#w980 #place, #w980 #cennr {
	width: 96%;
	padding-left: 2%;
	padding-right: 2%;
}
#cennr #left {
	width: 100%;
}
#left #lieb, #left #info, #comments {
	padding: 15px;
}
#top, #w980 #head, .function,.menubtn {
	display: none;
}
#cennr #rigth {
	width: 100%;
}
#divFavorites {
	margin-top: 15px;
}
#rigth #divLinkage {
	margin-bottom: 0;
}
#divFavorites, #divLinkage {
	display: block;
}
.jieshao {
	display: block;
	line-height: 43px;
	font-weight: 500;
	height: 43px;
	overflow: hidden;
	padding-left:15px;
}
#lieb i img {
	width: 100px;
	height: 70px;
	margin-top: 3px;
}
#post_nav .r {
	float: left;
}
#post_nav p {
	float: left;
	width: 100%;
	line-height: 28px;
}
#post_nav p.r {
	text-align: left;
}
.search{display:block;height:30px;border:1px solid #999;border-radius: 2px; width:90%; margin:9px auto;}
.search .input{float:left;border:0;line-height:30px;height:30px;width:80%;color:#fff; outline:none;}
.search .imgbt{float:left;border:0;line-height:30px;height:30px;width:20%;background:url("img/ico.png") no-repeat center right;cursor: pointer;outline:none;}
}
/* 左右上下章翻页 */
a.prev,a.next{display:block;width:108px;height:282px;position:fixed;left:50%;top:50%;margin-top:-141px;background:url("img/arrow.png") no-repeat;}
a.prev{margin-left:-650px;background-position:0 0;}
a.next{margin-left:540px;background-position:0 -320px;}