/* Image Mixin */
/* Image 2x Mixin */
.page-print {
  padding: 1rem;
}
.page-print .article-detail .word-wrap {
  -ms-word-break: break-all;
  word-break: break-all;
  /* Non standard for WebKit */
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word;
}
.page-print .article-detail .article-title {
  margin: 0.5rem 0 1rem;
  font-size: 28px;
  color: #000;
}
.page-print .article-detail .article-meta {
  border-bottom: 1px solid #AAA;
  padding: 0 0 1rem 0;
  margin-bottom: 1rem;
}
.page-print .article-detail .article-meta *,
.page-print .article-detail .article-meta a {
  color: #000;
}
.page-print .article-detail .article-meta p {
  margin: 0;
  font-size: 14px;
  line-height: 1.5em;
}
.page-print .article-detail .article-content {
  font-family: -apple-system, BlinkMacSystemFont, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.8;
  color: #333;
  word-break: break-word;
  word-wrap: break-word;
  hyphens: auto;
  text-align: left;
  zoom: 1;
}
.page-print .article-detail .article-content:before,
.page-print .article-detail .article-content:after {
  content: '';
  display: table;
}
.page-print .article-detail .article-content:after {
  clear: both;
}
.page-print .article-detail .article-content > *:first-child {
  margin-top: 0;
}
.page-print .article-detail .article-content > *:last-child {
  margin-bottom: 0;
}
.page-print .article-detail .article-content p {
  margin: 0 0 20px;
  line-height: inherit;
}
.page-print .article-detail .article-content strong {
  font-weight: bold;
}
.page-print .article-detail .article-content code {
  margin: 0 3px;
  padding: 3px 4px;
  border: none;
  border-radius: 4px;
  background: #f6f6f6;
  color: #333;
  font-size: 13px;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
}
.page-print .article-detail .article-content pre {
  position: relative;
  margin: 0 0 20px;
  padding: 1em;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  word-break: break-word;
  word-wrap: normal;
  white-space: pre;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.page-print .article-detail .article-content pre::-webkit-scrollbar {
  width: 6px !important;
  height: 6px !important;
  appearance: none;
}
.page-print .article-detail .article-content pre::-webkit-scrollbar-thumb {
  border-radius: 4px;
  cursor: pointer;
  background: rgba(153, 153, 153, 0.75);
}
.page-print .article-detail .article-content pre::-webkit-scrollbar-thumb:hover {
  background: rgba(153, 153, 153, 0.6);
}
.page-print .article-detail .article-content pre > code {
  padding: 0;
  margin: 0;
  border-radius: 0;
  overflow: visible;
  word-break: normal;
}
.page-print .article-detail .article-content pre,
.page-print .article-detail .article-content pre > code {
  display: block;
  font-size: 13px;
  line-height: 1.5;
  background: #f6f6f6;
  color: #333;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
}
.page-print .article-detail .article-content ol,
.page-print .article-detail .article-content ul {
  margin: 0 0 20px;
  padding: 0 0 0 20px;
}
.page-print .article-detail .article-content ol li,
.page-print .article-detail .article-content ul li {
  line-height: 1.875em;
}
.page-print .article-detail .article-content ol ol,
.page-print .article-detail .article-content ul ol,
.page-print .article-detail .article-content ol ul,
.page-print .article-detail .article-content ul ul,
.page-print .article-detail .article-content ol p,
.page-print .article-detail .article-content ul p,
.page-print .article-detail .article-content ol pre,
.page-print .article-detail .article-content ul pre {
  margin-bottom: 8px;
}
.page-print .article-detail .article-content ol ul,
.page-print .article-detail .article-content ul ul {
  list-style-type: circle;
}
.page-print .article-detail .article-content ol > *:first-child,
.page-print .article-detail .article-content ul > *:first-child {
  margin-top: 0;
}
.page-print .article-detail .article-content ol > *:last-child,
.page-print .article-detail .article-content ul > *:last-child {
  margin-bottom: 0;
}
.page-print .article-detail .article-content ol {
  list-style-type: decimal;
}
.page-print .article-detail .article-content ul {
  list-style-type: disc;
}
.page-print .article-detail .article-content img {
  margin: 0 auto;
  max-width: 80%;
  height: auto;
  box-sizing: border-box;
  border: 0;
  vertical-align: middle;
}
@media only screen and (max-width: 767px) {
  .page-print .article-detail .article-content img {
    max-width: 100%;
  }
}
.page-print .article-detail .article-content img.zoom-in-cursor {
  cursor: zoom-in;
}
.page-print .article-detail .article-content table {
  display: block;
  border-collapse: collapse;
  border-spacing: 1px;
  font-size: 14px;
  color: #444;
  overflow: auto;
  max-width: 100% !important;
  width: 100%;
  border: none;
  line-height: inherit;
  word-break: keep-all;
  margin: 0 0 20px;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}
.page-print .article-detail .article-content table::-webkit-scrollbar {
  width: 6px !important;
  height: 6px !important;
  appearance: none;
}
.page-print .article-detail .article-content table::-webkit-scrollbar-thumb {
  border-radius: 4px;
  cursor: pointer;
  background: rgba(153, 153, 153, 0.75);
}
.page-print .article-detail .article-content table::-webkit-scrollbar-thumb:hover {
  background: rgba(153, 153, 153, 0.6);
}
.page-print .article-detail .article-content table thead {
  text-align: left;
}
.page-print .article-detail .article-content table thead,
.page-print .article-detail .article-content table th {
  background: #f8f8f8;
}
.page-print .article-detail .article-content table th,
.page-print .article-detail .article-content table td {
  padding: 4px 8px;
  border: 1px solid #ddd;
}
.page-print .article-detail .article-content table tr {
  background-color: #fff;
}
.page-print .article-detail .article-content table tr:nth-child(2n) {
  background-color: #f8f8f8;
}
.page-print .article-detail .article-content blockquote {
  position: relative;
  margin: 0 0 20px;
  padding: 20px;
  background-color: #f6f6f6;
  border-left: 6px solid #e6e6e6;
  font-style: normal;
  font-weight: normal;
  word-break: break-word;
}
.page-print .article-detail .article-content blockquote > *:first-child {
  margin-top: 0;
}
.page-print .article-detail .article-content blockquote > *:last-child {
  margin-bottom: 0;
}
.page-print .article-detail .article-content blockquote pre,
.page-print .article-detail .article-content blockquote code {
  background-color: #eee;
}
.page-print .article-detail .article-content h1,
.page-print .article-detail .article-content h2,
.page-print .article-detail .article-content h3,
.page-print .article-detail .article-content h4,
.page-print .article-detail .article-content h5,
.page-print .article-detail .article-content h6 {
  font-weight: 600;
  line-height: 1.8;
  margin: 22px 0 16px;
  padding: 0;
  border: none;
}
.page-print .article-detail .article-content h1 {
  font-size: 26px;
}
.page-print .article-detail .article-content h2 {
  font-size: 24px;
}
.page-print .article-detail .article-content h3 {
  font-size: 22px;
}
.page-print .article-detail .article-content h4 {
  font-size: 20px;
}
.page-print .article-detail .article-content h5 {
  font-size: 18px;
}
.page-print .article-detail .article-content h6 {
  font-size: 16px;
}
.page-print .article-detail .article-content video {
  max-width: 100%;
}
.page-print .article-detail .article-content hr {
  height: 0;
  border: none;
  border-top: 1px solid #eee;
  background: none;
  margin: 0 0 20px;
  zoom: 1;
}
.page-print .article-detail .article-content hr:before,
.page-print .article-detail .article-content hr:after {
  content: '';
  display: table;
}
.page-print .article-detail .article-content hr:after {
  clear: both;
}
.page-print .article-detail .article-content *,
.page-print .article-detail .article-content a {
  color: #000;
}
.page-print .article-detail .article-copyright {
  border-top: 1px solid #AAA;
  padding: 10px 0 0 0;
  margin-top: 1rem;
}
.page-print .article-detail .article-copyright *,
.page-print .article-detail .article-copyright a {
  color: #666;
}
.page-print .article-detail .article-copyright p {
  margin: 4px 0;
  font-size: 14px;
  line-height: 1.5em;
}
/*# sourceMappingURL=print.css.map */