/*公共样式*/
*{
	margin:0;
	padding:0;
	border:0;
}
ul,
li{
	list-style:none;
}
img,div,ul,li,br{
	margin:0;
	padding:0;
	border:0;
}
a{
	text-decoration: none;
}

hr{
	list-style: none;
	border:0;
	outline: 0;
}
.clearfix{
	clear:both;
	height:1px;
}
.b10{ height:10px;}
.clearfix:after{
	content: ".";
	height: 0;
	display: block;
	clear:both;
	visibility: hidden;
}
.m{
	width: 1100px;
	margin-left: auto;
	margin-right: auto;
}
.m-f{
	margin-left: auto;
	margin-right: auto;	
}
/*header*/
._top{
	height: 60px;
}
.top{
	position: fixed;
	width:100%;
	height:60px;
	background:#1b4c7a;
	z-index: 1000;
}
.top_in{ width:1124px; margin:0 auto 0 auto;}
.top_in img{
	float: left;
	margin-top:9px;	
	margin-right:11px;
}

.top_in ul li{
	line-height: 60px;
	height: 60px;
	float:left;
	text-align: center;
}
.top_in ul li.on{
	background: #6b7e91;
}
.top_in ul li.on a{
	color: #C0DAFD;
}
.top_in ul li a{
	color:#fff;
	font-size:16px;
	margin: auto 8px;
	font-family:"Microsoft YaHei";
}
.m_l{float:left;width: 120px;}
.m_p{float: left;width: 15px;}
.m_m{float:left;width: 650px;}
.m_r{float: left;width: 300px;}
.m_m_m{float: left;}
/*左边*/

.m_l_m{
	width: 120px;
}
.weiboimg{HEIGHT: 120px;width:120px;overflow:hidden;}
.hdnum{width: 120px;height: 32px;overflow: hidden;padding-top: 2px}
.hdnum li{padding-left:9px;width: 32px;float: left;margin:0 0 0 1px;overflow: hidden;cursor:pointer;filter:alpha(opacity=20);opacity: 0.2;}
.hdnum li img{width: 32px;height: 32px;}
.hdnum li.on{opacity:1;filter:alpha(opacity=100);}


/*aside*/
.item{background-color: #f7f7f7; border-bottom: #c7c7c7 dotted 1px; height: 34px; line-height: 34px;}
.item a { color: #000; display: block; font-family: \5fae\8f6f\96c5\9ed1, "Microsoft Yahei"; height: auto; -webkit-transition: none; transition: none; width: auto; text-indent: 30px; font-size:14px;  text-decoration: none;}
.active { background: #900; }
.active a { color: #fff; }
.item:hover{background: #900;}
.item:hover a{color:#fff;}
/*中间*/
.m_m_on{ 
	padding-bottom:15px;
	border-bottom:1px #CCCCCC solid;
}
.m_m_on img{
	margin-right: 5px;
}

.m_m_on h1{
	font-size:25px;
	font-family: "Microsoft YaHei";
	margin-top: 20px;
}
.m_m_on h1 a{
	color:#ff0000;
}
.m_m_bg_box{
	width:320px;
	height:100px;
	float:left;
	margin-top: 15px;
}
.m_m_bg_box a{
	font-size:14px;
	font-family: "Microsoft YaHei";
	color:#333;
	line-height: 26px;
}
.m_m_bg_box_o{
	width:330px;
	height:100px;
	float:right;
	margin-top: 15px;
}
.m_m_bg_box_o a{
	font-size:14px;
	font-family: "Microsoft YaHei";
	color:#333;
	line-height: 26px;
}
/*新闻*/
.m_m_news{
	width:650px;
	height:132px;
	margin-top: 15px;
	padding-bottom:15px;
	border-bottom:1px #CCCCCC dotted;
}
.m_m_news_l{
	width:180px;
	float:left;
}
.m_m_news_l img{
	border:1px solid #e7eef4;
	width:176px;
	height:128px;
	padding:1px;
}
.m_m_news_r{
	width:450px;
	height:132px;
	float:right;
}
.m_m_news_r h2 a{
	font-size:18px;
	font-family: "Microsoft YaHei";
	color:#000;
}
.m_m_news_r img{
	margin-left: 10px;
}
.m_m_news_r h2 a:hover{
	color:#07426a;
	font-size:18px;
	font-family: "Microsoft YaHei";
}
.m_m_news_r p{
	margin-top:12px;
	color:#666666;
	font-size: 12px;
	line-height: 20px;
	height: 70px;
}
.m_m_news_tag{
	margin-right: 0;
	width: 100%;
	height: 21px;
	margin-top: auto;
}
.m_m_news_tag span{
	font-size: 12px;
	color: #999999;
	line-height: 25px;
}
.m_m_news_tag a{
	padding: 2px;
	padding-left: 6px;
	padding-right: 6px;
	font-size: 12px;
	color: #999999;
	background: #efefef;
	margin-right: 5px;
	display: none;
}
.m_m_news_tag a:hover{
	background: #07426a;
	color: #fff;
}
.f_r{
	float:right;
}
.m_gd_jz{
	height:40px;
	background: #f5f5f5;
}
.loading{
	background: url('image/loading_3.gif') no-repeat center center;
	height: 80px;
	display: none;
}
.m_gd_jz p{
	line-height: 40px;
	text-align: center;
	color: #555;
	font-size: 16px;
	font-family: "Microsoft YaHei";
	cursor: pointer;
}
.m_gd_jz p:hover{
	background: #eeeeee;
}
/*右边*/
.m_r_box{
	width:300px;	
	margin:0;
	border: 0;
	padding:0;
}
.m_r_ctk{
	width:300px;
	border: 0;
	padding:0;
}
.m_r_ctk a{
	display: block;
	float: left;
	color: #fff;
	font-size: 16px;
	font-family: "Microsoft YaHei";
	font-weight: bold;
	height: 94px;
	margin-right: 9px;
	margin-bottom: 9px;
	filter:alpha(opacity=85);
	opacity: 0.85;
	-moz-opacity:0.85; 
	-khtml-opacity: 0.85; 
	opacity: 0.85;
	text-align: center;
	line-height: 150px;
}
.m_r_ctk a.m_r_ctk1:hover,.m_r_ctk a.m_r_ctk2:hover,.m_r_ctk a.m_r_ctk3:hover,.m_r_ctk a.m_r_ctk4:hover,.m_r_ctk a.m_r_ctk5:hover{
	filter:alpha(opacity=100);
	-moz-opacity:1; 
	-khtml-opacity: 1; 
	opacity: 1;
}
.m_r_ctk a.m_r_ctk1{
	width: 197px;
	background: url('image/index-swzx.png') no-repeat;
}
.m_r_ctk a.m_r_ctk2{
	width: 94px;
	background: url('image/index-zxhd.png') no-repeat;
	margin-right: 0;
}
.m_r_ctk a.m_r_ctk3,.m_r_ctk a.m_r_ctk4,.m_r_ctk a.m_r_ctk5,.m_r_ctk a.m_r_ctk6{
	width: 94px;
}
.m_r_ctk a.m_r_ctk3{
	background: url('image/index-rdzt.png') no-repeat;
}
.m_r_ctk a.m_r_ctk4{
	background: url('image/index-ctk4.png') no-repeat;
}
.m_r_ctk a.m_r_ctk5{
	background: url('image/index-ctk5.png') no-repeat;
	margin-right: 0;
}
.m_r_ctk a.m_r_ctk6{
	background: url('image/index-ctk6.png') no-repeat;
}
.m_r_ctk a.m_r_ctk7{
	width: 197px;
	background: url('image/index-ctk7.png') no-repeat;
	margin-right: 0;
	font-size: 12px;
	font-weight: 600;
}
/*搜索框*/

.kuan input{
 	width:218px; 
 	height:36px;
 	border:1px solid #a3c7d4;
 	line-height: 36px;
 	text-align: left; 
 	float:left; 
 	font-size:12px;  
 	color:#999;
 	padding-left: 10px;   
 }
.an input{
	width:70px;
	height:38px;  
	background:#3197e1;  
	float:left;
	color:#fff;
	font-size: 12px;
	cursor: pointer;
}
/*企业资讯滑动门*/
.m_qy{
	width:300px;
	margin-top:30px;
}
.m_qy_bt{
	width:300px;
	height:30px;
	border-top: 2px solid #444;
}
.m_qy_bt ul li{
	float:left;
	width:100px;
	height:30px;
	overflow: hidden;
	text-align: center;
	color: #222;
	font-size: 18px;
	font-family: "Microsoft YaHei";
	cursor: pointer;
}
.m_qy_bt ul li.qyzx{
	width:100px;
	height:30px;
	line-height: 27px;
	background: #3197e1;
	color:#fff;
}

.m_qy_news{
	width:96px;
	margin-top: 20px;
	float:left;
}
.m_qy_news_new{
    display: inline-block;
	width:210px;	
	float:left;
	margin-right:10px;
	margin-bottom:10px;
}
.m_qy_news_new img{
	width: 208px;
	height: 140px;	
	margin-bottom:3px;
	border:1px solid #ccc;
}
.m_qy_news_new span{font-size:14px;overflow: hidden;}
.m_qy_news img{
	width: 100px;
	height: 60px;
	border:1px solid #e7eef4;
	padding:1px;
}
.m_qy_news_in{
	width:188px;
	margin-top: 18px;
	float:right;
}
.m_qy_news_in_1 a{
	color:#466683;
	font-size: 14px;
	font-family: "Microsoft YaHei";
}

.m_qy_news_in_2{
	color:#666;
	font-size: 12px;
	line-height: 20px;	
	margin-top: 6px;
}
.m_qy_news-xinwen{
	margin-top:8px;
}
.m_qy_news-xinwen li{
	line-height: 26px;
	height: 30px;
	overflow: hidden;
	background:url('image/index-news-tb.png') no-repeat 0 12px;
}
.m_qy_news-xinwen a{
	font-size: 14px;
	color: #555;
	font-family: "Microsoft YaHei";	
	padding-left: 15px;
}

/*微测控*/
.m_wck{
	width:300px;	
	border-top: 2px solid #444;
	margin-top: 25px;
}
.m_wck1{
	width:300px;
	height:30px;
	border-top: 2px solid #444;
	margin-top: 30px;
}
.m_wck p{
	font-size: 18px;
	color: #222;
	font-family: "Microsoft YaHei";
	margin-top: 5px;		
}
.m_wck1 p{
	font-size: 18px;
	color: #222;
	font-family: "Microsoft YaHei";
	margin-top: 5px;		
}
.m_wck_t{
	margin-top: 15px;
	text-align: center;
}

/*编辑视点*/
.m_wck_news_bt{
	margin-top:15px;
}
.m_wck_news_bt h3{
	font-size: 16px;
	color:#333;
}
.m_wck_news_bt a{color: #000;}


.m_wck_news{
	width:96px;
	margin-top: 10px;
	float:left;
}
.m_wck_news img{
	border:1px solid #e7eef4;
	padding:1px;
	width: 100px;
	height: 60px;
}
.m_wck_news_in{
	width:188px;
	margin-top: 13px;
	float:right;
}
.m_wck_news_in_2{
	color:#666;
	font-size: 12px;
	line-height: 20px;	
}
.m_wck_news-xinwen{
	margin-top:8px;
}
.m_wck_news-xinwen li{
	line-height: 26px;
	background:url('image/index-news-tb.png') no-repeat 0 12px;
}
.m_wck_news-xinwen a{
	font-size: 14px;
	color: #134b73;
	font-family: "Microsoft YaHei";	
	padding-left: 15px;
}
/*文本列表*/
	 .TextList li{height:24px;line-height:24px;overflow:hidden;}
	 .TextList li .p_sl{float:right;margin-left:10px;padding-right:22px;color:#bbb;background:url(image/page/14.gif) no-repeat right center;display:inline;}
	 .TextList li .p_sl0{float:right;margin-left:10px;padding-right:22px;color:#bbb;background:url(image/page/15.gif) no-repeat right center;display:inline;}
	
/*会展资讯*/
.m-ltrt-box{
	width:300px;
}
.m_hzzx_news-xinwen{
	margin-top:8px;
	float: left;
}
.m_hzzx_news-xinwen2{
	margin-top:8px;
	float: left;
	width:265px;
	overflow: hidden;
}
.m_hzzx_news-xinwen li,.m_hzzx_news-xinwen2 li{
	line-height: 26px;
	background:url('image/index-news-tb.png') no-repeat 0 12px;
}
.m_hzzx_news-xinwen a,.m_hzzx_news-xinwen2 a{
	font-size: 14px;
	color: #555;
	font-family: "Microsoft YaHei";	
	padding-left: 15px;
}
.m_lt-tb{
	float:left;
	margin-left:10px;
	margin-top:10px;
	width:10px;
}


/*热度排行*/
.m_rdph_news-xinwen{
	margin-top:8px;
}
.m_rdph_news-xinwen li{
	padding-left:15px;
	height:27px;
	line-height: 27px;
}
.hits_0{background:url('image/news-01.png') no-repeat 0 5px;}
.hits_1{background:url('image/news-02.png') no-repeat 0 5px;}
.hits_2{background:url('image/news-03.png') no-repeat 0 5px;}
.hits_3{background:url('image/news-04.png') no-repeat 0 5px;}
.hits_4{background:url('image/news-05.png') no-repeat 0 5px;}
.hits_5{background:url('image/news-06.png') no-repeat 0 5px;}
.hits_6{background:url('image/news-07.png') no-repeat 0 5px;}
.hits_7{background:url('image/news-08.png') no-repeat 0 5px;}
.hits_8{background:url('image/news-09.png') no-repeat 0 5px;}
.hits_9{background:url('image/news-10.png') no-repeat 0 5px;}
.m_rdph_news-xinwen a{
	font-size: 14px;
	color: #555;
	font-family: "Microsoft YaHei";	
	padding-left: 15px;
}
/*会议报道*/
.m_hybd{
	width:298px;
	height:100px;
	border:1px solid #02111b;
	margin-top: 15px;
}
.m_hybd_in{
	width:100px;
	height:100px;
	float:left;
	background: #07426a;
	text-align: center;
}
.m_hybd_in1{
	font-size: 14px;
	color:#e7e6e6;
	padding-top:8px;
}
.m_hybd_in2{
	font-size: 24px;
	color:#e7e6e6;
	padding-top:8px;
	font-weight: bold;
}
.m_h_in_8{
	width:80px;
	height: 35px;
	border-top: 2px solid #f4f1f1;
	padding-top:5px;
	margin-left:10px;
	margin-top:5px;
	font-size: 14px;
	color:#e7e6e6;	
}
.m_zhnr{
	width:190px;
	height:100px;
	float:right;
	
}
.m_zhnr_in{
	font-size: 14px;	
	color:#333;		
	width:100%;
	height:50px;
	padding:0;
	line-height:24px;    
	display:table-cell;
	vertical-align:middle;	
	font-family: "Microsoft YaHei","微软雅黑";
}
.m_zhnr_dd{
	font-size: 12px;
	color:#555;	
	margin-top: 10px;
}
.m_zhnr_dd p{
	margin-top: 5px;
}
/*新闻热评*/
.m_xwrp,.m_xwrp2{
	width:300px;
	height: 100px;
	background:url('image/index-xwrp.png') no-repeat 0 0; 
	margin-top: 25px;
	padding-top:5px;
}
.m_xwrp_in{
	font-size: 12px;
	color:#333;
	margin:5px 10px 0 10px;
	height:60px;
	overflow: hidden;
	line-height:20px;
	
}
.m_xwrp_in2{
	font-size: 12px;
	color:#333;
	margin-left: 10px;
	margin-right: 10px;
	padding-top:10px;
	overflow: hidden;
	height:55px;
}
.m_xwrp_in2 .m_xwrp_bt{
	font-size: 12px;
	color:#333;
	overflow: hidden;
}

.m_xwrp_bt1{
	font-size: 12px;
	color:#333;
	margin-top: 10px;
	margin-left: 10px;
	line-height: 20px;
	overflow: hidden;
}
.m_xwrp_in2 .m_xwrp_bt a{
	font-size: 12px;
	color:#c40000;
	margin:10px;
	height:40px;
}
.m_xwrp_in1{
	font-size: 12px;
	color:#888;
	text-align: right;
	padding-right: 10px;
}
.m_xwrp_in1 span{
	color:#555;
}
.m_yw_z{
	width:30px;
	height:20px;
	float: left;
	background:url('image/index--m-yw.png') no-repeat 0 0;
}
.m_yw_z p{
	font-size: 12px;
	color:#fff;
	line-height: 20px;
	text-align: center;
}
.m_yw_z_in{
	float: right;
	overflow: hidden;
	width: 265px;
	height: 20px;
	line-height:20px;
}
.m_yw_z_in a{
	font-size: 12px;
	color:#666;
}
.m_yw_z_in a:hover{
	font-size:12px;
	color:#a40000;
}
/*footer*/
.m10{
	height: 10px;
}
.footer{
	width: 100%;
	margin:0 auto;
	background: #39444C;
	margin-top: 30px;
	text-align: center;
	font-size: 12px;
}
.footer .menu dl{
	background: url("image/xian3.png") repeat-y scroll right top rgba(0, 0, 0, 0);
	float: left;
	height: 235px;
	text-align: center;
	margin-top: 20px;
	width: 145px;
}
.footer .menu dl dt{
	color: #ffffff;
	font-weight: bold;
	margin-bottom: 10px;
}
.footer .menu dl dd{
	line-height: 20px;
}
.footer .menu dl dd a{
	color: #99ccff;
}
.footer .link{
	text-align: left;
	color:#99ccff;
	line-height: 21px;
	padding-bottom: 20px;
	margin-left: 120px;
	background: url("image/xian4.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
}
.footer .link h3{
	font-size: 12px;
	color: #fff;
	line-height: 40px;
}
.footer .link a{
	color: #99ccff;
	margin-right: 15px;
}
.index-f,.index-f a{
	font-size: 12px;
	color:#888;
	font-family: "Microsoft YaHei";	
}
.index-f p{
	font-size: 12px;
	color:#888;
	line-height: 20px;
	font-family: "Microsoft YaHei";		
}
/*列表页*/
.m-p,.m-p a{
	font-size: 12px;
	font-family: "Microsoft YaHei";	
}
.m-p{color: #333; border-bottom:#CCC 1px solid; padding-bottom:5px;
}
.m-p a{
	color:#a40000;
}
.m-p-head{
	background: #f9f9f9;
	border-top: 2px solid #c7c6c6;
	border-bottom:1px solid #dcdcdc;	
	border-left:1px solid #dcdcdc;	
	border-right:1px solid #dcdcdc;	
	margin-top: 2px;
}
.m-p-head ul{
	margin-top: 5px;
}
.m-p-head ul li{
	float:left;
	width: 111px;
	margin-bottom: 5px;
	text-align: center;
}
.m-p-head ul li a{
	font-size: 14px;
	color:#222;
	font-family: "Microsoft YaHei";	
}
.m-p-head ul li a span{
	font-size: 14px;
	color:#a40000;
	font-family: "Microsoft YaHei";	
}
.m-p-zk{
	float:right;
	margin-right:30px;
	margin-top: 4px; 
}


/*<!-- news list start -->*/
.m-news-nav{
	width:650px;
	margin-top: 10px;
	border-bottom: 1px dotted #CCC;

}
.m-news-nav1{
	width:650px;
	margin-top: 30px;
}

.m-nav-bt{
	height: 40px;
	width: 100%;
	margin-top: 10px;
}
.m-nav-bt h2{
	float: left;
	width: 600px;
	margin-top: 2px;
}
.m-nav-bt h2 a{
	color:#12417d;
	font-size: 18px;
	font-family: "Microsoft YaHei";
}
.m-nav-bt div{
	float: left;
	width: 45px;
	height: 40px;
	text-align: center;
	background: url('image/hits.gif') no-repeat center 15px;
	font-size: 11px;
	line-height: 10px;
}
.m-news-nav p{
	font-size:12px;
	color:#666;
	line-height: 20px;
	text-indent: 2em;
	margin-top: 5px;
}
.m-nav-lm{
	margin-top: 8px;
	text-align: left;
	width: 100%;
	height:30px;
	text-align: left;
	float: left;
}
.m-nav-lm span{
	font-size: 12px;
	color: #888;
	line-height: 20px;
}
.m-nav-lm div{
	float: left;
	width: 100px;
	height: 20px;
	background: #CCEAFF;
	font-size: 12px;
	text-align: center;
	line-height: 20px;
	margin-right: 5px;
}
.m-nav-lm div,.m-nav-lm div a{
	color: #12417D;
}
.l_hits{
	color:#7db2ff;
	font-family: "Microsoft YaHei";
}
.m-nav-lm>a{
	margin-left: 5px;
	background: #EFEFEF;
	color: #999999;
	font-size: 12px;
	padding: 2px 6px;
	display: none;
}
.m-nav-lm>a:hover{
	background: #12417D;
	color: #fff;
}
/* pages */
.pages {padding:20px 0 10px 0;text-align:center;font-size:12px;color:#12417d;}
.pages a:link,.pages a:visited,.pages a:active  {color:#12417d;background:#FFFFFF;border:#12417d 1px solid;padding:4px;text-decoration:none;}
.pages a:hover  {background:#FFFFFF;border:#12417d 1px solid;color:#12417d;padding:4px;text-decoration:none;}
.pages strong {background:#12417d;padding:4px;border:#12417d 1px solid;color:#FFFFFF;}
.pages_inp {border:#12417d 1px solid;padding:6px;width:26px;}
.pages_btn {width:26px;background:#12417d;border:#12417d 1px solid;color:#12417d;font-weight:bold;font-size:11px;}
/*专题推荐*/
.m_zt_news{
	width:110px;
	margin-top: 20px;
	float:left;
}
.m_zt_news img{
	border:1px solid #e7eef4;
	padding:1px;
	width: 106px;
	height: 76px;
}
.m_zt_news_in{
	width:185px;
	margin-top: 17px;
	float:right;
}
.m_zt_news_in div a{
	color:#466683;
	font-size: 14px;
	font-family: "Microsoft YaHei";
}
.m_zt_news_in_2{
	color:#666;
	margin-top: 6px;
	font-size: 12px;
	line-height: 20px;	
}

/*文章页*/

.m-p a span{
	font-size: 12px;
	font-family: "Microsoft YaHei";
	color:#555;
}
.m-p-head1{
	border-top: 2px solid #c7c6c6;
	margin-top: 2px;
}
/*广告*/
.m-wz-box{
	margin-top: 30px;
}
.m-wz-box h1{
	font-size: 26px;
	font-family: "Microsoft YaHei";
	color:#000;	
	font-weight: normal;
}
.m-wz-box div{
	margin-top: 10px;
	font-size: 12px;
	font-family: "Microsoft YaHei";
	color:#888;
}
.m-wz-box div a{
	margin-top: 10px;
	font-size: 12px;
	font-family: "Microsoft YaHei";
	color:#555;
}
.m-gg-box{
	width:650px;
	height:60px;
	border-bottom:1px dotted #e5e5e5;
	padding-top:20px;
}
.m-gg-box ul{
	margin-left: 35px;
}
.m-gg-box li{
	float:left;
	width:300px;
	line-height: 24px;
}
.m-gg-box a{
	font-size: 12px;
	font-family: "Microsoft YaHei";
	color:#12417d;
}
/*文章*/
.m-wz-box{
	width:650px;
	margin-top: 15px;
}
.m-wz-box p{ 
	font-size: 16px;
	font-family: "Microsoft YaHei";
	color:#333;
	margin-bottom: 20px;
	text-indent: 2em;
	line-height: 28px;
}
.m-wz-head{
	background: #f7f7f7;
	border:1px solid #cad2df;
	padding:10px;
}
.m-wz-box p.m-wz-head{
	font-size: 16px;
	font-family: "Microsoft YaHei";
	color:#666;
	text-indent: 0em;
	line-height: 28px;
		
}
.m-wz-head span{
	display:block;
	float:left;
	text-align: center;
	line-height: 25px;
	width:40px;
	height:25px;
	font-size: 16px;
	font-family: "Microsoft YaHei";
	color:#fff;
	background:#3197e1;
	margin-right: 8px;
}
.m-wz-head-in{
	padding-top: 10px;
}
.m-wz-head-in img{
	width:300px;
	height:250px;
	float:left;
}
.m-wz-head-in p{
	width:360px;
	height:250px;
	float:left;
	margin-left:10px;
	font-size: 16px;
	font-family: "Microsoft YaHei";
	color:#333;
	line-height: 28px;
	margin-top: 31px;
	text-indent: 2em;

}
.m-wz-head-in span a{
	color:#12417d;
	font-size: 16px;
	font-family: "Microsoft YaHei";
	font-weight: bold;
	text-decoration: underline;
}
.m-wz-nav{
	font-size: 16px;
	font-family: "Microsoft YaHei";
	color:#333;
	line-height: 28px;
	text-indent: 2em;
}
.m-wz-nav span a{
	color:#12417d;
	font-size: 16px;
	font-family: "Microsoft YaHei";
	font-weight: bold;
	text-decoration: underline;
}
.m-wz-nav1{
	margin-top: 20px;
	font-size: 16px;
	font-family: "Microsoft YaHei";
	font-weight: bold;
	color:#333;
	line-height: 28px;
	text-indent: 2em;
}
.m-wz-nav1 span a{
	color:#12417d;
	font-size: 16px;
	font-family: "Microsoft YaHei";
	font-weight: bold;
	text-decoration: underline;
}
.m-xz-nav2{
	margin-top: 20px;
	font-size: 16px;
	font-family: "Microsoft YaHei";
	color:#333;
	line-height: 28px;
	text-indent: 2em;
}
.m-xz-nav2 span{
	color:#333;
	font-size: 16px;
	font-family: "Microsoft YaHei";
	font-weight: bold;
}
.m-xz-nav3{
	margin-top: 8px;
	font-size: 16px;
	font-family: "Microsoft YaHei";
	color:#333;
	line-height: 28px;
	text-indent: 2em;
}
.m-wz-fx{
	text-align: center;
	height:30px;
	padding-left: 160px;
}

.m-wz-fx a{
	display: block;
	width: 130px;
	height: 30px;
	float: left;
	background: url('image/index-fenxiang1.png') no-repeat center center;
	margin-right: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 14px;
}
.m-wz-fx a:hover{
	background: url('image/index-fenxiang2.png') no-repeat 0 0;
}
.tags{
	width:230px;
	height: 30px;
	line-height: 30px;
	margin:0 auto 0 auto;
}
/*相关资讯*/
.m-xgzx-big-box{
	width:100%;
	padding-top: 20px;
}
.m-xgzx-box{
	width:100%;
	border-bottom:2px solid #c7c6c6;
}
.m-xgzx{
	width:120px;
	z-index: 1000;
	line-height: 30px;
}
.m-xgzx span{
	font-size: 18px;
	font-family: "Microsoft YaHei";
	color:#a40000; 
}
.m-xgyq-in{
	float:left;
	width:320px;
	padding-top: 10px;
}
.m-xgyq-in-new{
	float:left;
	width:660px;
	padding-top: 10px;
	overflow: hidden;
}
.m-xgyq-in p{
	color:#12417d;
	font-size: 16px;
	margin-bottom:0px;
}


.m-xgyq-in-box li{
	line-height: 26px;
	background:url('image/index-news-tb.png') no-repeat 0 12px;
}
.m-xgyq-in-box li a{
	font-size: 16px;
	color: #1B4C7A;
	padding-left: 15px;
}
.m-xgyq-in-box a:hover{
	font-size: 15px;
	color:#c40000;
}


/*搜索页*/
/*搜索框*/
.form{
	padding-top: 20px;
}
.kuan1 input{
 	width:380px; 
 	height:30px;
 	background:url('image/index-input.png') no-repeat 0 0;
 	float:left; 
 	line-height: 30px;
 	padding-left: 10px;
 	text-align: left; 
 	font-size:12px;  
 	color:#999;   
 }
.an1 input{
	width:90px;
	height:30px; 
	font-family: "Microsoft YaHei"; 
	line-height:20px;
	background:url('image/index-input-sousuo.png') no-repeat 0 0;
	float:left;
	color:#fff;
	font-size: 12px;
	cursor: pointer;
}
.m-gjc{
	width:650px;
	height:40px;
	border:1px solid #dcdcdc;
	background: #f9f9f9;
	margin-top: 15px;
	font-size: 14px;
	font-family: "Microsoft YaHei";
	
	line-height: 40px;	
	text-align: left;
}
.m-gjc-n{	
	float:left;
	width:85px;
	margin-left: 20px;
	background:url('image/index-guanjianci.png') no-repeat 75px 11px;
}
.m-gjc-n a{
	color:#a40000;
}
.m-gjc-n1{
	float:left;	
}
.m-gjc-n1 a{
	padding-left:25px;
	color:#12417d;
}
#ad_tips img{
	float:left; 
	width:300px; 
	padding-right:10px
}
.qrclass{padding:10px 0px 10px 0px;width:100px;}
.qrclass img{padding:1px; border:1px solid #CCCCCC;width:80px;}
.tagtip{z-index:1000;position:absolute;padding:8px;border:#B01C22 2px solid;background:#FFFFCB}
#tagtip{margin-top:-2px;}
.editor{float:right;}
.gzweixin{ width:431px; margin:0 auto 0 auto; }
.search_kw_2{width:642px;border:1px solid #E2E0DB;background:#F9F9F8;line-height:25px;padding:8px; padding-left:15px;margin-top: 20px;font-family: "Microsoft YaHei";font-size:14px;}
.search_kw_l{width:88px;float:left;color:#a40000;}
.search_kw_r{width:554px;float:left;}
.search_kw_r a{margin-right:10px;color:#12417D;}
.search_kw_r a:link,.search_kw_r a:visited,.search_kw_r a:active .search_kw_r a:hover{color:#1B4C7A;text-decoration:none;}
.read{margin-bottom:15px;padding:0 6px;width:285px;background-color:#eee;border-top:1px dotted #f1f1f1;}
.read .reads{height:45px;line-height:45px;position:relative;margin:0 -6px;font-size:16px;font-weight:bold;background:#fff url(image/page/0.gif)  no-repeat 36px  bottom;display:block;}
.read .reads strong{font-size:24px;color:#f00;}
.read h5{height:31px;line-height:31px;font-size:14px;color:#003869;}
.read h5 a{color:#003869;}
.read p{height:44px;line-height:22px;color:#666;overflow:hidden;font-size:12px;}
.read .pinlun_sl{float:right;line-height:22px;color:#999;}
.read .pinlun_sl a{color:#f00;}
.read .time{line-height:22px;color:#999;font-size:11px;}
.highlight{color:red;}