.tech-c-blue{ color: #0e74bc !important;}
.hl-red{ color: #cc0000;}
.hl-green{ color: #21a21e;}
.c-88{ color: #888;}
.tech-bread-link{
    height: 40px;
    line-height: 40px;
}
.tech-bread-link a, .tech-bread-link h1, .tech-bread-link span{
    float: left;
    font-size: 14px;
    cursor: pointer;
} 
.tech-bread-link a{ color: #0e74bc;}
.tech-bread-link h1{ font-weight: normal; color: #444;}
.tech-bread-link span{ color: #0e74bc; margin: 0 6px;}
.tech-wiki:after, .tech-article:after, .clearfix:after{
    content: '';
    display: block;
    height: 0;
    clear: both;
}
.tech-article-left{
    width: 900px;
    float: left;
    margin-bottom: 20px;
}
.tech-article-right{
    width: 270px;
    float: left;
    display: inline;
    margin-left: 20px;
}
.tech-inner-adv{
    width: 900px;
    height: 90px;
    margin-bottom: 20px;
    overflow: hidden;
}
.tech-inner-adv a, .tech-inner-adv img{
    width: 900px;
    height: 90px;
    display: block;
}
.tech-border-adv{
    width: 898px;
    height: 88px;
    margin-bottom: 20px;
    overflow: hidden;
    border: 1px solid #ddd;
}
.tech-border-adv a, .tech-border-adv img{
    width: 898px;
    height: 88px;
    display: block;
}
.tech-category{
    position: relative;
    border: 1px solid #e4e4e4;
    background: #f6f6f6;
    margin-bottom: 20px;
}
.tech-category-tit{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 79px;
    background: #c5e1f6;
    border-right: 1px solid #e4e4e4;
    padding-top: 14px;
}
.tech-category-tit h3{
    text-align: center;
    height: 20px;
    line-height: 20px;
    font-size: 16px;
    font-weight: normal;
    color: #333;
    border-left: 6px solid #346fb0;
}
.tech-category-ul{
    padding-left: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
}
.tech-category-ul li{
    float: left;
    width: 104px;
    height: 36px;
    line-height: 36px;
    padding-right: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.tech-category-ul li a{
    font-size: 14px;
    color: #333;
}
.tech-category-ul li a:hover, .tech-category-ul li a.active{
    color: #cc0000;
}
.tech-list{
    border: 1px solid #e4e4e4;
    padding: 0 18px;
    margin-bottom: 20px;
    overflow: hidden;
}
.tech-list-ul{
    padding-bottom: 20px;
}
.tech-article-item{
    padding: 15px 0;
    overflow: hidden;
    border-bottom: 1px dashed #e4e4e4;
}
.tech-article-img{
    width: 178px;
    height: 118px;
    overflow: hidden;
    border: 1px solid #e4e4e4;
    float: left;
    margin-right: 20px;
    display: inline;
    position: relative;
    z-index: 9;
}
.tech-article-img a, .tech-article-img img{
    width: 178px;
    height: 118px;
    display: block;
}
.tech-article-info{
    /*float: left;*/
    position: relative;
}
.tech-article-tit{
    height: 30px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.tech-article-tit a{
    font-size: 16px;
    color: #333;
}
.tech-article-txt{
    font-size: 14px;
    color: #666;
    line-height: 24px;
    height: 48px;
    overflow: hidden;
}
.i-keys, .i-num, .i-date, .i-ori, .i-author, .i-up, .i-down, .i-super, .i-end,
.i-doc1, .i-doc2, .i-doc3, .i-doc4, .i-doc5, .i-doc6, .i-photo, .i-word, .i-people, .i-flagshop,
.i-quote, .i-edit, .i-pdf, .i-iscp, .i-cheng, .i-qq, .i-wang, .i-mouse{
    background: url("/res/Tech/global/img/tech_icons_2017.png") no-repeat;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
}
.i-mouse{
    width: 22px;
    height: 22px;
    background-position: 0 -1003px;
    margin-right: 5px;
    margin-top: -3px;
}
.i-qq{
    width: 16px;
    height: 16px;
    background-position: 0 -956px;
    margin-right: 5px;
    margin-top: -3px;
}
.i-wang{
    width: 23px;
    height: 20px;
    background-position: 0 -976px;
    margin-right: 5px;
    margin-top: -3px;
}
.i-iscp{
    width: 16px;
    height: 16px;
    background-position: 0 -912px;
    margin-right: 5px;
    margin-top: -3px;
}
.i-cheng{
    width: 16px;
    height: 16px;
    background-position: 0 -934px;
    margin-right: 5px;
    margin-top: -3px;
}
.i-pdf{
    width: 15px;
    height: 18px;
    background-position: 0 -884px;
    margin-right: 5px;
    margin-top: -3px;
}
.i-edit{
    width: 13px;
    height: 13px;
    background-position: 0 -865px;
    margin-right: 5px;
    margin-top: -3px;
}
.i-quote{
    width: 22px;
    height: 22px;
    background-position: 0 -828px;
    margin-right: 10px;
    margin-top: -3px;
}
.i-flagshop{
    width: 33px;
    height: 20px;
    background-position: 0 -798px;
    margin-right: 10px;
    margin-top: -3px;
}
.i-word{
    width: 20px;
    height: 26px;
    background-position: 0 -691px;
    margin-right: 13px;
    margin-top: -8px;
}
.i-people{
    width: 22px;
    height: 22px;
    background-position: 0 -727px;
    margin-right: 13px;
    margin-top: -8px;
}
.i-photo{
    width: 22px;
    height: 20px;
    background-position: 0 -660px;
    margin-right: 13px;
    margin-top: -3px;
}
.i-doc1, .i-doc2, .i-doc3, .i-doc4, .i-doc5, .i-doc6{
    width: 18px;
    height: 18px;
    margin-right: 10px;
    margin-top: -3px;
}
.i-doc1{background-position: 0 -493px;}
.i-doc2{background-position: 0 -521px;}
.i-doc3{background-position: 0 -549px;}
.i-doc4{background-position: 0 -577px;}
.i-doc5{background-position: 0 -605px;}
.i-doc6{background-position: 0 -633px;}
.i-super{
    width: 16px;
    height: 14px;
    background-position: 0 -472px;
    margin-left: 2px;
    margin-top: -3px;
}
.i-end{
    width: 38px;
    height: 14px;
    background-position: 0 -449px;
    margin-left: 2px;
    margin-top: -3px;
}
.i-up{
    width: 8px;
    height: 11px;
    background-position: 0 -410px;
    margin-left: 2px;
}
.i-down{
    width: 8px;
    height: 11px;
    background-position: 0 -430px;
}
.i-ori{
    width: 15px;
    height: 18px;
    background-position: 0 -201px;
    margin-right: 8px;
}
.i-author{
    width: 18px;
    height: 18px;
    background-position: 0 -230px;
    margin-right: 8px;
}
.i-keys{
    width: 0;
    height: 20px;
    background-position: 0 -107px;
    margin-right: 0;
}
.i-num{
    width: 22px;
    height: 14px;
    background-position: 0 -142px;
    margin-right: 8px;
}
.i-date{
    width: 18px;
    height: 18px;
    background-position: 0 -171px;
    margin-right: 8px;
    margin-top: -2px;
}
.tech-article-keys{
    height: 22px;
    margin-top: 20px;
    font-size: 14px;
    color: #999;
}
.tech-keys-fl{
    height: 22px;
    /*width: 450px;*/
    float: left;
}
.tech-article-keys .tech-keys-fl{
    width: 450px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.tech-keys-fl a{
    font-size: 14px;
    color: #999;
    margin: 0 10px;
}
.tech-keys-fl a:hover{ color: #c00;}
.tech-keys-fr{
    width: 195px;
    height: 22px;
    overflow: hidden;
    text-align: right;
    float: right;
    color: #999;
}
.tech-keys-fr span{
    width: 72px;
    height: 22px;
    overflow: hidden;
    line-height: 22px;
    margin-left: 20px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    text-align: left;
}
.tech-article-info a:hover{
    color: #cc0000;
}
.pagination-toolbar{
    padding: 45px 0;
}
.pagination{
    display: table !important;
    margin: 0 auto;
}
.tech-inner-adv2{
    width: 270px;
    height: 90px;
    overflow: hidden;
    margin-bottom: 20px;
}
.tech-inner-adv2 a, .tech-inner-adv2 img{
    width: 270px;
    height: 90px;
}
.tech-r-solution, .tech-r-supplier, .tech-r-labels, .tech-r-pro{
    border: 1px solid #e4e4e4;
    padding-top: 18px;
    margin-bottom: 20px;
}
.tech-r-tit{
    height: 22px;
    line-height: 20px;
    position: relative;
    border-left: 5px solid #0e74bc;
    background: #fff;
    overflow: hidden;
}
.tech-r-tit h3{
    font-size: 16px;
    color: #333;
    padding-left: 14px;
}
.r-more{
    position: absolute;
    right: 20px;
    bottom: 0;
    font-size: 12px;
    color: #999;
}
.tech-r-ul, .tech-r-sup, .tech-r-diagram, .tech-r-lab, .tech-r-like, .tech-r-half{
    margin: 7px 0;
}
.tech-r-ul li{
    padding: 0 18px;
    height: 36px;
    line-height: 36px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.tech-r-ul li a{
    font-size: 14px;
    color: #333;
}
.tech-r-ul li a span{
    color: #999;
    margin-right: 10px;
    font-size: 12px;
}
.tech-r-ul li a:hover{
    color: #cc0000;
}
.tech-r-adv3{
    width: 270px;
    height: 224px;
    overflow: hidden;
    margin-bottom: 20px;
}
.tech-r-adv3 a, .tech-r-adv3 img{
    width: 270px;
    height: 224px;
}
.tech-r-sup li{
    width: 108px;
    height: 80px;
    overflow: hidden;
    float: left;
    display: inline;
    margin-left: 14px;
    margin-top: 10px;
}
.tech-r-sup li a{
    width: 108px;
    height: 80px;
    display: block;
    text-align: center;
    overflow: hidden;
    position: relative;
}
 .tech-r-sup li img{
    width: 106px;
    height: 58px;
     border: 1px solid #e4e4e4;
}
.tech-r-sup li a span,
.tech-r-diagram li a span{
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    color: #666;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}
.tech-r-sup li a:hover span,
.tech-r-diagram li a:hover span{
    color: #cc0000;
}
.tech-r-diagram li{
    width: 105px;
    height: 90px;
    overflow: hidden;
    float: left;
    display: inline;
    margin-left: 20px;
    margin-top: 10px;
}
.tech-r-diagram li a{
    width: 105px;
    height: 90px;
    display: block;
    text-align: center;
    overflow: hidden;
    position: relative;
}
.tech-r-diagram li img{
    width: 103px;
    height: 68px;
    border: 1px solid #e4e4e4;
}
.tech-r-lab, .tech-r-like{
    padding: 0 10px 0 20px;
}
.tech-r-lab li,
.tech-r-like li {
    float: left;
    height: 23px;
    line-height: 23px;
    margin-right: 8px;
    margin-top: 8px;
}
.tech-r-lab li a,
.tech-r-like li a{
    height: 21px;
    line-height: 21px;
    padding: 0 12px;
    display: block;
    font-size: 12px;
}
.tech-r-lab li a{
    border: 1px solid #1057A7;
    color: #1057A7;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.tech-r-like li a{
    border: 1px solid #333;
    color: #333;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.tech-r-lab li a:hover,
.tech-r-like li a:hover{
    color: #cc0000;
    border-color: #cc0000;
}
/***************************
********detail********
*****************************/
.tech-inner-detail{
    border: 1px solid #e4e4e4;
    padding-top: 20px;
	overflow:hidden;
	word-wrap: break-word;
}
.tech-detail-tit h3{
    padding: 0 20px;
    line-height: 44px;
    margin-bottom: 10px;
    font-size: 24px;
    color: #444;
    text-align: center;
}
.tech-detail-tit h4{
    padding: 0 20px;
    line-height: 37px;
    text-align: center;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: normal;
}
.tech-detail-key{
    height: 78px;
    margin-bottom: 20px;
    background: #f4f4f4;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    padding: 0 12px;
}
.tech-detail-info{
    height: 20px;
    line-height: 20px;
    margin-top: 13px;
    margin-bottom: 7px;
}
.tech-detail-info span{
    float: left;
    width: 213px;
    height: 20px;
    line-height: 20px;
    padding-right: 5px;
    display: inline;
    font-size: 14px;
    color: #888;
    overflow: hidden;
}
.tech-detail-key .tech-keys-fl{
    color: #999;
    font-size: 14px;
}
.tech-detail-desc{
    border-bottom: 1px dashed #ddd;
    margin: 0 20px 15px 20px;
    padding-bottom: 15px;
    line-height: 24px;
    color: #666;
    font-size: 16px;
	overflow: hidden;
    word-wrap: break-word;
}
.tech-detail-desc p{
    text-indent: 2em;
}
.tech-detail-main{
    padding: 0 20px 20px;
    font-size: 14px;
    font-family: 'Microsoft YaHei' !important;
    color: #666;
    line-height: 28px;
    text-indent: 2em;
    text-align: left;
	overflow:hidden;
}
.tech-detail-main p, .tech-detail-main h4{
    margin-bottom: 15px;
    font-family: 'Microsoft YaHei' !important;
    line-height: 28px !important;
    font-size: 14px !important;
}
.tech-detail-main p{
    clear: none !important;
    max-width: auto !important;
}
.tech-detail-main h4{
    color: #444;
}
.tech-detail-main img{
    max-width: 830px;
    margin: 0 auto 20px auto;
}
.img-p{
    text-align: center;
    font-size: 14px;
    color: #888;
}
.tech-detail-share{
    margin-bottom: 20px;
    height: 50px;
}
.bdshare-button-style2-16 a, .bdshare-button-style2-16 .bds_more{
    float: right !important;
}
.bds_qzone, .bds_tsina, .bds_weixin{
    width: 39px !important;
    height: 39px !important;
    background: url("/res/Tech/global/img/tech_icons_2017.png") no-repeat !important;
}
.bds_qzone{
    background-position: 0 -273px !important;
}
.bds_tsina{
    background-position: 0 -318px !important;
}
.bds_weixin{
    background-position: 0 -363px !important;
}
.bdsharebuttonbox  span{
    float: right;
    color: #666;
    font-size: 16px;
    line-height: 50px;
    margin-right: 20px;
}
.tech-detail-qlink{
    margin: 0 20px;
    border-top: 1px dashed #e4e4e4;
    padding: 10px 0;
    font-size: 16px;
    color: #333;
}
.tech-detail-qlink p{
    height: 36px;
    line-height: 36px;
    overflow: hidden;
}
.tech-detail-qlink a{
    color: #0e74bc;
}
.tech-detail-qlink a:hover{
    color: #cc0000;
}
.tech-detail-adv{
    width: 898px;
    height: 88px;
    overflow: hidden;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
}
.tech-detail-adv a, .tech-detail-adv img{
    width: 898px;
    height: 88px;
    display: block;
}
.tech-detail-relate{
    padding: 20px;
}
.tech-relate-hot{
    font-size: 12px;
    font-weight: normal;
    color: #666;
    border: 1px solid #b1b1b1;
    padding: 1px 3px;
    margin: 0 8px;
}
.tech-relate-hot:hover{
    color: #1057a7;
    border-color: #1057a7;
}
.tech-relate-ul{
    margin-top: 20px;
}
.tech-relate-ul li{
    padding-right: 130px;
    height: 27px;
    line-height: 27px;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
}
.tech-relate-ul li a, .tech-relate-ul li span{
    display: inline;
    overflow: hidden;
}
.tech-relate-ul li span{
    color: #999;
    margin-right: 10px;
}
.tech-relate-ul li em{
    width: 130px;
    color: #888;
    text-align: right;
    position: absolute;
    top: 0;
    right: 0;
}
.tech-pro-ul{
    padding: 0 18px;
    margin-bottom: 20px;
    margin-top: 15px;
}
.tech-pro-ul li{
    margin-top: 10px;
    overflow: hidden;
}
.tech-pro-name{
    width: 70px;
    float: left;
    padding-right: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
}
.tech-pro-name a{
    color: #2682c3;
}
.tech-pro-info{
    width: 90px;
    padding-right: 5px;
    float: left;
    overflow: hidden;
    white-space: nowrap;
    font-size: 12px;
    color: #666;
}
.tech-pro-info span{
    color: #cc0000;
}
.tech-pro-ops{
    width: 60px;
    float: left;
}
.tech-link{
    padding: 0 4px;
    height: 18px;
    line-height:18px;
    display: block;
    text-align: center;
    font-size: 12px;
    border: 1px solid #2682c3;
    color: #2682c3;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.tech-link:hover{
    color: #1057a7;
    border-color: #1057a7;
}
.tech-shop-ul{
    padding: 0 18px;
    margin-top: 15px;
}
.tech-shop-ul li{
    border-top: 1px dashed #e4e4e4;
    padding-bottom: 20px;
}
.tech-shop-ul li a{
    padding-top: 5px;
    display: block;
    text-align: center;
}
.tech-shop-ul li a img{
    max-width: 200px;
    height: 86px;
}
.tech-shop-ul li a h3{
    font-size: 16px;
    color: #888;
    height: 30px;
    line-height: 30px;
    margin-top: 10px;
    font-weight: normal;
    overflow: hidden;
}
.tech-shop-ul li a p{
    font-size: 14px;
    color: #333;
    font-weight: normal;
    overflow: hidden;
}
.tech-r-search{
    margin: 20px auto 10px auto;
    width: 228px;
    height: 28px;
    border: 1px solid #c1c1c1;
    -webkit-box-shadow: inset 0 0 3px #ccc;
    -moz-box-shadow: inset 0 0 3px #ccc;
    box-shadow: inset 0 0 2px #ccc;
    position: relative;
}
.tech-r-input{
    position: absolute;
    height: 28px;
    width: 175px;
    padding: 0 5px;
    left: 0;
    top: 0;
    border: 0;
    background: none;
    color: #666;
}
.tech-r-btn{
    width: 43px;
    height: 28px;
    position: absolute;
    top: 0;
    left: 185px;
    border: 0;
    cursor: pointer;
    background: url("/res/Tech/global/img/tech_icons_2017.png") no-repeat 13px -13px;
}
.bg-e4{ background: #e4e4e4;}
.tech-r-table{
    width: 248px;
    margin: 10px auto 0;
    table-layout: fixed;
}
.tech-r-table tr th{
    height: 19px;
    margin-bottom: -1px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 12px;
    color: #666;
    font-weight: normal;
}
.tech-r-table tr td{
    padding-right: 10px;
    padding-left: 10px;
    height: 30px;
    border-top: 1px dashed #e4e4e4;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.tech-r-table tr td span{
    font-size: 12px;
}
.tech-r-book{
    padding: 0 18px 20px 18px;
}
.orange-l, .gd-orange{
    color: #ff781f;
    border-color: #ff781f;
}
.green-l, .gd-green{
    color: #4cb656;
    border-color: #4cb656;
}
.blue-l, .gd-violet{
    color: #5a77f5;
    border-color: #5a77f5;
}
.tech-r-book li{
    margin-top: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.tech-r-book li span{
    border-width: 1px;
    border-style: solid;
    font-size: 12px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    margin-right: 5px;
    padding: 0 2px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
}
.tech-r-book li a{
    font-size: 12px;
    color: #666;
}
.tech-r-book li a:hover{
    color: #cc0000;
}
.tech-sell-ul{
    padding: 0 18px 18px;
}
.tech-sell-ul li{
    padding: 15px 0;
    border-bottom: 1px dashed #e4e4e4;
    font-size: 14px;
}
.tech-sell-ul li p{
    margin: 3px 0;
    overflow: hidden;
}
.w-180{
    width: 162px;
    padding-right: 10px;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.max-180{
    max-width: 164px;
    padding-right: 10px;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.tech-sell-num{
    width: 60px;
    float: right;
    text-align: right;
    white-space: nowrap;
}
.tech-r-publish{
    width: 200px;
    height: 38px;
    display: block;
    margin: 0 auto 20px auto;
    background: #0e74bc;
    color: #fff;
    font-size: 14px;
    text-align: center;
    line-height: 38px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.tech-r-publish:hover{
    background: #1057a7;
    color: #fff !important;
}
.tech-r-half{
    padding-bottom: 15px;
}
.tech-r-half li{
    width: 105px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    float: left;
    margin-left: 18px;
    margin-top: 15px;

}
.tech-r-half li a{
    padding: 0 4px;
    border: 1px solid #0e74bc;
    display: block;
    color: #0e74bc;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.tech-r-half li a:hover{
    color: #fff;
    background: #0e74bc;
}
/******************************/
.tech-wiki-search{
    height: 60px;
    background: #eaf5f8;
    margin-bottom: 30px;
    position: relative;
}
.wiki-search-box{
    width: 568px;
    height: 38px;
    border: 1px solid #e2e2e2;
    background: #fff;
    position: absolute;
    top: 10px;
    left: 50%;
    margin-left: -284px;
}
.tech-wiki-input{
    width: 450px;
    height: 38px;
    line-height: 38px;
    color: #666;
    position: absolute;
    left: 0;
    top: 0;
    border: 0;
    background: none;
    padding: 0 10px;
}
.tech-wiki-btn{
    width: 96px;
    height: 38px;
    padding-left: 20px;
    position: absolute;
    left: 470px;
    top: 0;
    border: 0;
    border-left: 1px solid #e2e2e2;
    background: url("/res/Tech/global/img/tech_icons_2017.png") no-repeat 10px -7px;
    font-size: 14px;
    color: #666;
}
.wiki-part{
    margin-bottom: 20px;
    overflow: hidden;
}
.wiki-430{
    width: 430px;
    float: left;
}
.tech-wiki-words{
    border: 1px solid #e2e2e2;
    margin-top: 12px;
}
.tech-first-w{
    width: 428px;
    height: 118px;
    background: #fff;
}
.tech-second-w{
    width: 428px;
    height: 118px;
    margin-bottom: -1px;
    border-top: 1px solid #e4e6fe;
    border-bottom: 1px solid #e4e6fe;
    background: #fff;
    overflow: hidden;
}
.tech-first-w a,
.tech-second-w a{
    display: block;
    color: #fff;
    padding: 20px;
}
.tech-first-w a:hover,
.tech-second-w a:hover{
    color: #fff;
    background: #93c1e1;
}
.tech-first-w a:hover .wiki-w-h3,
.tech-second-w a:hover .wiki-w-h3,
.tech-first-w a:hover .wiki-w-p,
.tech-second-w a:hover .wiki-w-p{
    color: #fff;
}
.wiki-w-h3{
    font-size: 24px;
    font-weight: normal;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.wiki-w-p{
    font-size: 14px;
    line-height: 24px;
    height: 48px;
    overflow: hidden;
}
.tech-second-w .wiki-w-h3{
    color: #6774d2;
}
.tech-first-w .wiki-w-h3{
    color: #2f9ed2;
}
.tech-first-w .wiki-w-p,
.tech-second-w .wiki-w-p{
    color: #666;
}
.tech-other-w{
    height: 47px;
    line-height: 47px;
    margin: 0 8px;
    border-top: 1px dashed #e2e2e2;
}
.tech-other-w a{
    width: 201px;
    height: 47px;
    display: inline;
    padding-right: 5px;
    float: left;
    font-size: 16px;
    color: #333;
    text-align: center;
}
.tech-other-w a:hover{
    color: #fff;
    background: #93c1e1;
}
.wiki-450{
    width: 450px;
    float: left;
    display: inline;
    margin-left: 20px;
}
.wiki-first-rec{
    margin-top: 12px;
    width: 450px;
    height: 120px;
    margin-bottom: 22px;
}
.wiki-f-img{
    width: 180px;
    height: 120px;
    float: left;
}
.wiki-f-img img{
    width: 180px;
    height: 120px;
    border: 0;
}
.wiki-f-info{
    width: 250px;
    height: 120px;
    float: left;
    margin-left: 20px;
    display: inline;
}
.wiki-f-info h4{
    font-size: 16px;
    color: #333;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.wiki-f-info .wiki-reco-p{
    height: 54px;
    font-size: 14px;
    color: #666;
    line-height: 18px;
    letter-spacing: -1px;
    margin: 10px 0;
    overflow: hidden;
}
.wiki-reco-key a{
    margin: 0 5px;
}
.wiki-other-rec{
    overflow: hidden;
    border-left: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
}
.wiki-other-rec a{
    width: 148px;
    height: 57px;
    line-height: 57px;
    text-align: center;
    float: left;
    display: inline;
    border-right: 1px solid #e3e3e3;
    border-top: 1px solid #e3e3e3;
    font-size: 16px;
    color: #333;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.wiki-other-rec a:hover{
    color: #fff;
    background: #93c1e1;
}
.wiki-news-ul{
    margin-top: 12px;
    overflow: hidden;
    border-left: 1px solid #e3e3e3;
}
.first-wiki-news, .second-wiki-news{
    width: 447px;
    float: left;
    border-top: 1px solid #e3e3e3;
    border-right: 1px solid #e3e3e3;
}
.first-wiki-news a,
.second-wiki-news a{
    display: block;
    padding: 20px;
}
.first-wiki-news a:hover,
.third-wiki-news a:hover,
.second-wiki-news a:hover{
    background: #93c1e1;
}
.first-wiki-news a:hover .wiki-w-h3,
.first-wiki-news a:hover .wiki-w-p,
.third-wiki-news a:hover .wiki-w-p,
.second-wiki-news a:hover .wiki-w-h3,
.third-wiki-news a:hover .wiki-w-h3,
.second-wiki-news a:hover .wiki-w-p{
    color: #fff;
}
.first-wiki-news .wiki-w-h3{
    color: #2f9ed2;
}
.second-wiki-news .wiki-w-h3{
    color: #6774d2;
}
.first-wiki-news .wiki-w-p,
.second-wiki-news .wiki-w-p,
.third-wiki-news .wiki-w-p{
    color: #666;
}
.third-wiki-news{
    width: 223px;
    float: left;
    border-right: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    border-top: 1px solid #e3e3e3;
}
.third-wiki-news a{
    padding: 40px 15px;
    display: block;
}
.fourth-wiki-news{
    width: 223px;
    float: left;
    border-right: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
}
.third-wiki-news .wiki-w-h3{
    font-size: 22px;
    color: #333;
}
.fourth-wiki-news .wiki-w-h3{
    font-size: 18px;
    text-align: center;
}
.fourth-wiki-news a{
    padding: 35px 15px;
    display: block;
}
.fourth-wiki-news a:hover{
    color: #fff;
    background: #93c1e1;
}
.tech-search-result{ }
.tech-search-result ul{
    margin-left: -14px;
    overflow: hidden;
}
.tech-search-result ul li{
    width: 186px;
    height: 245px;
    float: left;
    margin-left: 14px;
    margin-bottom: 14px;
}
.tech-search-result ul li a{
    width: 174px;
    height: 213px;
    padding: 15px 5px;
    border: 1px solid #ddd;
    display: block;
    text-align: center;
    position: relative;
}
.tech-search-result ul li a img{
    width: 174px;
    height: 145px;
    display: block;
    margin: 0 auto;
}
.tech-search-result ul li a h3{
    font-size: 16px;
    color: #333;
    margin-bottom: 15px;
    font-weight: 700;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.tech-search-result ul li a > p{
    padding-top: 24px;
    font-size: 14px;
    color: #666;
    line-height: 24px;
    height: 96px;
    text-align: left;
}
.wiki-hover{
    position: absolute;
    left: 0;
    top: 0;
    height: 162px;
    padding: 81px 5px 0 5px;
    display: none;
}
.wiki-hover p{
    padding-top: 0;
    font-size: 14px;
    color: #666;
    line-height: 24px;
    height: 96px;
    text-align: left;
}
.tech-search-result ul li a:hover{
    border-color: #0e74bc;
    transition: all .3s;
}
.tech-search-result ul li a:hover h3{
    color: #0e74bc;
    transition: all .3s;
}
.tech-search-result ul li a:hover > p,
.tech-search-result ul li a:hover img{
    display: none;
}
.tech-search-result ul li a:hover .wiki-hover{
    display: block;
}
.wiki-link{
    width: 184px;
    height: 40px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: #0e74bc;
    color: #fff;
    line-height: 40px;
    text-align: center;
}
.tech-wiki-detail{
    border: 1px solid #ddd;
    padding: 20px;
}
.wiki-tit{
    font-size: 28px;
    font-weight: normal;
}
.wiki-tit-2{
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #888;
    border-bottom: 1px dashed #ddd;
}
.wiki-keys{
    color: #999;
    margin-top: 15px;
}
.tech-wiki-detail font{
    font-size: 14px;
    font-family: 'Microsoft YaHei';
    line-height: 32px;
    color: #666;
}
.tech-wiki-detail > p{
    margin-top: 15px;
    font-size: 14px;
    color: #666;
    text-indent: 2em;
    line-height: 24px;
}
.tech-wiki-detail > h3{
    height: 22px;
    border-left: 6px solid #0e74bc;
    padding-left: 14px;
    margin-left: -20px;
    margin-top: 15px;
    font-size: 18px;
    color: #333;
    font-weight: normal;
    position: relative;
}
.tech-wiki-detail > h3 span{
    display: block;
    height: 28px;
    line-height: 20px;
    border-bottom: 1px solid #ddd;
}
.tech-wiki-detail > h4{
    margin-top: 15px;
    font-size: 16px;
    color: #666;
    font-weight: normal;
}
.wiki-mulu{
    margin: 15px 0;
    padding: 20px 0;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    position: relative;
    min-height: 50px;
    overflow: hidden;
}
.wiki-mulu-tit{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 78px;
    padding: 20px 0;
    background: #fdfdfd;
    border-right: 1px solid #e4e4e4;
    text-align: center;
    font-size: 18px;
    color: #666;
}
.wiki-mulu-con{
    margin-left: 78px;
}
.wiki-mulu-con a{
    width: 224px;
    height: 25px;
    line-height: 25px;
    padding: 5px 0 5px 15px;
    float: left;
    font-size: 14px;
    color: #0e74bc;
    border-left: 1px dashed #ddd;
}
.wiki-mulu-con a:hover{
    color: #cc0000;
}
.tech-word-total{
    width: 228px;
    /*height: 58px;*/
    border: 1px solid #e4e4e4;
    background: #fdfdfd;
    margin-bottom: 20px;
    padding: 15px 20px;
}
.tech-word-total h3{
    font-size: 16px;
    color: #333;
}
.tech-word-total p{
    font-size: 14px;
    color: #666;
    margin-top: 10px;
}
.tech-wiki-photos{
    width: 270px;
    height: 330px;
    overflow: hidden;
    margin-bottom: 20px;
}
.tech-wiki-photo{
    width: 268px;
    height: 286px;
    overflow: hidden;
    position: relative;
    border: 1px solid #e4e4e4;
    border-bottom: 0;
}
.tech-wiki-photo img{
    width: 270px;
    height: 287px;
}
.tech-wiki-photo-tit{
    width: 228px;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    border: 1px solid #ddd;
    -webkit-box-shadow: 2px 2px 5px #ddd;
    -moz-box-shadow: 2px 2px 5px #ddd;
    box-shadow: 2px 2px 5px #ddd;
    font-size: 16px;
    color: #666;
    position: relative;
}
.tech-wiki-slide{
    position: relative;
    width: 270px;
    height: 287px;
    overflow: hidden;
}
.tech-wiki-slide li{
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    width: 270px;
    height: 287px;
}
.tech-wiki-slide li.active{
    display: block;
}
.tech-wiki-slide-page{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 230px;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    text-align: right;
}
.tech-wiki-slide-page li{
    width: 12px;
    height: 12px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #b5b5b5;
    cursor: pointer;
}
.tech-wiki-slide-page li.active{
    background: #0e74bc;
}
.no-result-table{
    margin: 60px auto;
}
.no-result-table tr td{
    font-size: 16px;
    padding: 20px;
}
.no-result-table tr td dl{
    margin-top: 50px;
}
.tech-ic-banner{
    width: 1190px;
    height: 210px;
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
    background: url("/res/Tech/list/img/ic_banner.jpg") no-repeat center;
}
.tech-ic-nums{
    position: absolute;
    top: 95px;
    left: 110px;
    font-size: 14px;
    color: #666;
}
.tech-ic-nums span{
    height: 30px;
    line-height: 30px;
    float: left;
    display: inline;
    margin-right: 50px;
}
.tech-ic-nums span em{
    color: #0e74bc;
    font-size: 24px;
}
.tech-ic-total{
    position: absolute;
    top: 154px;
    left: 110px;
    font-size: 0;
    color: #666;
}
.tech-ic-total em{
    height: 32px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
    line-height: 32px;
    font-size: 14px;
}
.tech-ic-total span{
    width: 26px;
    height: 32px;
    background: url("/res/Tech/global/img/tech_icons_2017.png") no-repeat 0 -759px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin-left: 2px;
    vertical-align: middle;
    text-align: center;
    line-height: 32px;
    font-size: 16px;
    color: #fff;
}
.tech-ic-left{
    width: 900px;
    margin-bottom: 20px;
    float: left;
}
.tech-ic-search{
    overflow: hidden;
    padding-left: 13px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid #ddd;
}
.tech-ic-left .tech-wiki-search{
    width: 898px;
    border: 1px solid #ddd;
    border-top: 0;
    margin-bottom: 20px;
}
.tech-ic-search h3{
    height: 35px;
    line-height: 35px;
    font-size: 16px;
    color: #333;
    font-weight: normal;
}
.tech-ic-search-con a{
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: inline;
    float: left;
    margin-right: 10px;
    margin-top: 10px;
    background: #eaf5f8;
    text-align: center;
    line-height: 30px;
    font-size: 16px;
    color: #666;
}
.tech-ic-search-con a:hover, .tech-ic-search-con a.active{
    background: #81bfee;
    color: #fff;
}
.tech-ic-table{
    width: 900px;
    table-layout: fixed;
}
.tech-ic-table tr td{
    width: 169px;
    border: 1px solid #ddd;
    height: 36px;
    padding: 0 5px;
    text-align: left;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.wiki-entry{
    position: relative;
    overflow: hidden;
    margin-top: 25px;
    margin-bottom: 30px;
}
.wiki-entry .m-l-42{
    margin-left: 42px;
}
.wiki-entry .m-l-21{
    margin-left: 21px;
}
.wiki-entry-part{
    width: 408px;
    height: 114px;
    float: left;
    background: #fdfdfd;
}
.wiki-entry-l{
    width: 180px;
    margin: 17px 0;
    height: 80px;
    border-right: 1px dashed #9ec6e2;
    padding-left: 40px;
    float: left;
}
.wiki-entry-l p{
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #666;
}
.wiki-entry-l p strong{
    font-size: 24px;
    padding-left: 35px;
}
.wiki-entry-r{
    float: left;
    width: 180px;
    margin: 17px 0;
    height: 80px;
}
.wiki-entry-r a,
.wiki-entry-r span{
    width: 83px;
    height: 28px;
    border: 1px solid #0e74bc;
    color: #0e74bc;
    display: block;
    margin: 7px auto;
    text-align: center;
    line-height: 28px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: 14px;
}
.wiki-entry-r a:hover{
    background: #0e74bc;
    color: #fff;
}
.tech-wiki-edit{
    width: 55px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    background: #fff;
    position: absolute;
    top: 10px;
    right: 0;
    font-size: 12px;
    color: #666;
}
a.tech-wiki-edit{ color: #888;}
a.tech-wiki-edit:hover{ color: #c00}
.tech-wiki-table{
    width: 100%;
    margin-top: 20px;
    table-layout: fixed;
}
.tech-wiki-table tr th{
    height: 30px;
    background: #fdfdfd;
    font-size: 14px;
    color: #444;
    padding-left: 10px;
    font-weight: normal;
    text-align: left;
}
.tech-wiki-table tr td{
    padding-left: 10px;
    height: 36px;
    font-size: 14px;
    color: #666;
    white-space: nowrap;
    overflow: hidden;
}
.tech-wiki-table tr td a{
    color: #666;
}
.tech-wiki-table tr td a:hover{
    color: #cc0000;
}
.tech-ic-dl{
    position: relative;
    border-bottom: 1px dashed #ddd;
    padding: 15px 0;
    font-size: 14px;
    color: #666;
}
.tech-ic-dl dt{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100px;
    padding-top: 15px;
}
.tech-ic-dl dd{
    float: left;
    padding-left: 100px;
}
.tech-ic-dl dd a{
    margin-right: 20px;
    color: #666;
}
.tech-ic-dl dd a:hover{
    color: #666;
}
.tech-ic-author{
    background: #fff;
    height: 32px;
    line-height: 32px;
    font-size: 14px !important;
    text-align: right;
    margin-top: -1px;
    color: #888 !important;
}
.tech-ic-author > span{
    margin-left: 10px;
}
.border-none{
    border: none !important;
}
.tech-ic-fz{
    overflow: hidden;
    padding: 25px 0;
}
.tech-ic-fz a{
    font-size: 14px;
    margin-right: 15px;
}
.tech-ic-fz .tech-ic-author{
    margin-top: 35px;
}
.tech-ic-mfr{
    width: 882px;
    margin-bottom: 20px;
    overflow: hidden;
}
.tech-ic-mfr li{
    width: 98px;
    height: 96px;
    margin-top: 28px;
    float: left;
    margin-right: 28px;
    display: inline;
}
.tech-ic-mfr li a{
    width: 96px;
    height: 94px;
    border: 1px solid #666;
    display: block;
    text-align: center;
    line-height: 94px;
    font-size: 14px;
    color: #333;
}
.tech-ic-mfr li a img{
    width: 96px;
    height: 65px;
    display: block;
    border-bottom: 1px solid #ddd;
}
.tech-ic-mfr li a p{
    height: 28px;
    line-height: 28px;
    font-size: 14px;
    color: #333;
}
.tech-ic-mfr li a:hover{
    border-color: #cc0000;
}
.tech-ic-mfr li a:hover, .tech-ic-mfr li a:hover p{
    color: #cc0000;
}
.tech-ic-supplier{
    width: 100%;
    table-layout: fixed;
    margin: 20px 0;
}
.tech-ic-supplier tr th{
    height: 30px;
    background: #f4f4f4;
    font-size: 12px;
    color: #888;
    text-align: left;
    font-weight: normal;
    padding-left: 10px;
}
.tech-ic-supplier tr td{
    padding: 15px 0 15px 10px;
    font-size: 14px;
    color: #666;
    vertical-align: top;
    border-bottom: 1px dashed #ddd;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.tech-ic-supplier tr td > p{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.tech-ic-supplier tr td.no-border{
    border: 0;
}
.tech-ic-xj{
    font-size: 14px;
    color: #666;
    border: 1px solid #ddd;
    padding: 1px 2px;
}
.tech-ic-xj:hover{
    color: #cc0000 !important;
    border-color: #cc0000;
}
.tech-ic-btn{
    width: 90px;
    height: 25px;
    border: 1px solid #0e74bc;
    color: #0e74bc;
    background: #fff;
    margin-left: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.tech-ic-btn:hover{
    background: #1057a7;
    color: #fff;
}
.tech-ic-publish{
    width: 92px;
    height: 27px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    background: #0e74bc;
    color: #fff;
    vertical-align: middle;
    text-align: center;
    line-height: 27px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.tech-ic-publish:hover{
    background: #1057a7;
    color: #fff;
}
.tech-search-total{
    margin: 10px 0;
    height: 38px;
    line-height: 38px;
    font-size: 18px;
    font-weight: normal;
    color: #333;
    background: url("/res/Tech/global/img/tech_icons_2017.png") no-repeat 0 -7px;
    padding-left: 35px;
}
.tech-search-total em{
    padding-left: 8px;
    border-left: 1px solid #999;
    margin-left: 8px;
    font-size: 14px;
    color: #999;
}

/*******弹出**********/
.pop-wrapper{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    _position: absolute;
    _top: 0;
    z-index: 999;
}
.pop-mask{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #000;
    opacity: .6;
}
.pop-box{
    width: 600px;
    padding: 15px 20px 30px 20px;
    background: #fff;
    border-top: 6px solid #0e74bc;
    position: absolute;
    left: 50%;
    top: 100px;
    margin-left: -320px;
    z-index: 9999;
}
.pop-main{
    width: 600px;
    overflow: hidden;
}
.pop-main h3{
    height: 32px;
    line-height: 32px;
    border-bottom: 1px solid #ddd;
    font-size: 18px;
    color: #333;
    font-weight: normal;
    position: relative;
}
.pop-main h3 .pop-close{
    position: absolute;
    right: 0;
    top: 0;
    font-size: 24px;
    font-weight: bold;
    color: #666;
}
.pop-main h3 .pop-close:hover{
    color: #0e74bc;
}
.pop-label{
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #666;
}
.edit-textarea{
    width: 578px;
    height: 304px;
    border: 1px solid #bbb;
    background: #fff;
    padding: 10px;
    -webkit-box-shadow: inset 0 2px 3px #ddd;
    -moz-box-shadow: inset 0 2px 3px #ddd;
    box-shadow: inset 0 2px 3px #ddd;
    font-size: 12px;
    color: #666;
    resize: none;
}
.border-d-t{
    overflow: hidden;
    border-top: 1px dashed #ddd;
}
.border-d-all{
    padding: 0 20px;
    border: 1px dashed #ddd;
}
.pop-my-20{
    margin-top: 20px;
    margin-bottom: 20px;
}
.edit-input{
    width: 578px;
    height: 25px;
    line-height: 25px;
    border: 1px solid #bbb;
    background: #fff;
    padding: 0 10px;
}
.inline-box{
    font-size: 0;
    text-align: center;
}
.edit-btn{
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 120px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 14px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin: 0 15px;
}
.gray-btn{
    background: #ddd;
    color: #333;
}
.blue-btn{
    background: #0e74bc;
    color: #fff;
}
.gray-btn:hover{
    background: #bbb;
    color: #333;
}
.blue-btn:hover{
    background: #1057A7;
    color: #fff;
}
.edit-file-add{
    height: 36px;
    line-height: 36px;
    float: right;
    color: #0e74bc;
    font-size: 14px;
}
.edit-file-add strong{
    height: 36px;
    line-height: 36px;
    font-size: 26px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: sub;
}
.edit-pro-box{
    width: 200px;
    height: 28px;
    float: left;
    position: relative;
    margin-top: 20px;
}
.edit-pro-box input{
    width: 158px;
    height: 26px;
    border: 1px solid #bbb;
}
.edit-pro-box .pop-close{
    position: absolute;
    left: 160px;
    top: 0;
    height: 28px;
    width: 28px;
    font-size: 24px;
    text-align: center;
    line-height: 28px;
    color: #999;
}
.clear-box:after{
    content: '';
    display: block;
    height: 0;
    clear: both;
}
.edit-label{
    width: 85px;
    height: 30px;
    line-height: 30px;
    float: left;
    font-size: 14px;
    color: #666;
    overflow: hidden;
}
.edit-label .edit-check,
.edit-o-label .edit-check{
    width: 14px;
    height: 14px;
    border: 1px solid #ddd;
    background: #fff;
    vertical-align: middle;
    margin-right: 3px;
}
.edit-o-label{
    width: 160px;
    height: 30px;
    line-height: 30px;
    float: left;
    font-size: 14px;
    color: #666;
    overflow: hidden;
}
.line-input{
    width: 100px;
    height: 28px;
    border: 0;
    border-bottom: 1px solid #ddd;
    background: #fff;
    margin-left: 3px;
    color: #666;
}
.edit-table{
    margin: 20px 0;
    width: 100%;
    table-layout: fixed;
}
.edit-table tr td{
    padding: 10px 0;
    overflow: hidden;
    font-size: 14px;
    color: #666;
}
.mfr-logo{
    width: 98px;
    height: 88px;
    float: left;
    border: 1px solid #b1b1b1;
    background: #f4f4f4;
}
.mfr-logo img{
    width: 98px;
    height: 88px;
}
.mfr-ops{
    float: left;
    width: 200px;
    height: 90px;
    margin-left: 20px;
    display: inline;
}
.mfr-ops p{
    line-height: 45px;
    font-size: 14px;
}
.mfr-ops p a{
    margin-right: 25px;
}
.area-item{
    width: 138px;
    height: 38px;
    border: 1px solid #bbb;
    float: left;
    margin-top: 10px;
    margin-right: 10px;
    line-height: 38px;
    text-align: center;
    font-size: 14px;
    color: #666;
    cursor: pointer;
    position: relative;
}
.area-item:hover{
    border-color: #0e74bc;
    background: #0e74bc;
    color: #fff;
}
.area-item .child-area{
    position: absolute;
    left: -1px;
    top: 53px;
    width: 568px;
    height: 88px;
    padding: 0 10px;
    border: 1px solid #63b1ec;
    background: #fff;
    overflow-y: auto;
    z-index: 10;
    display: none;
}
.child-area:after{
    content: '';
    width: 100%;
    height: 15px;
    z-index: 10;
    position: absolute;
    left: 0;
    top: -15px;
}
.area-item:before{
    content: '';
    width: 19px;
    height: 15px;
    background: url("/res/Tech/list/img/i-arrow.jpg") no-repeat;
    z-index: 11;
    position: absolute;
    left: 56px;
    top: 39px;
    display: none;
}
.area-item:hover:before{
    display: block;
}
.area-item:hover .child-area{
    display: block;
}
.child-area .edit-label{
    width: 160px;
    margin-right: 20px;
    text-align: left;
}
.upload-box{
    height: 235px;
    margin: 25px 0;
}
.pop-pl-80{
    padding-left: 72px;
}
.tech-wiki-photo-tit .tech-wiki-edit{
    top: 2px;
}
.tech-dn-table{
    table-layout: fixed;
    border: 1px solid #ddd;
    width: 898px;
}
.tech-dn-table tr th{
    height: 38px;
    line-height: 38px;
    color: #888;
    background: #f4f4f4;
    font-size: 14px;
    font-weight: normal;
    text-align: left;
    padding-left: 10px;
}
/*搜索提示*/
.tech-search-tips{position: absolute;top:38px;left:100px;padding:6px;display: none;}
.tech-search-tips .tips-content{border: 1px solid #eddada;color: #c00;background: #fee;border-radius: 2px;line-height: 22px;padding: 0 5px;}
.tech-search-tips .triangle-t {top: -4px;border-bottom-color: #eddada;}
/*IC 修改记录*/
.edit-record{
    padding: 20px;
    border: 1px solid #ddd;
}
.edit-record h3{
    height: 38px;
    line-height: 38px;
    font-size: 14px;
    color: #0e74bc;
    font-weight: normal;
}
.edit-record h3 span{ color: #666;}
.record-table{
    width: 100%;
    table-layout: fixed;
}
.record-table tr th{
    height: 32px;
    line-height: 32px;
    background: #f4f4f4;
    font-weight: normal;
    padding-left: 10px;
    text-align: left;
    color: #444;
}
.record-table tr td{
    padding-left: 10px;
    height: 39px;
    border-bottom: 1px dashed #dbdbdb;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.replace-pro-table{
    width: 100%;
    table-layout: fixed;
    margin: 20px 0 40px 0;
}
.replace-pro-table tr td{
    line-height: 24px;
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 81px;
    padding-right: 5px;
}
.tech-description{
    line-height: 38px;
    font-size: 14px;
    padding-left: 7px;
    color: #666;
}
a.tech-c-blue:hover{
    color: #cc0000 !important;
}
.replace-pro-ul{
    overflow: hidden;
    margin: 20px 0;
}
.replace-pro-ul li{
    float: left;
    width: 82px;
    height: 24px;
    margin-right: 3px;
    line-height: 24px;
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
/***********************/
#mfrBox .img-box{
    float: left;
}
#mfrBox .btn{
    float: left;
    border: 0;
    background: none;
    padding-top: 50px;
}
#mfrBox .btn:hover{
    border: 0;
    background: none;
}
#mfrBox .webuploader-container{
    background: none;
}
#mfrBox .webuploader-pick{
    color: #0e74bc;
    font-size: 14px;
    background: none;
}
#mfrBox .g-btn-def{
    border: 0;
    background: none;
    font-size: 14px;
    color: #666;
}
#mfrBox .info-p{
    float: left;
    display: inline;
    margin-left: -100px;
}
#mfrBox .img-box img{
    width: 120px;
    height: 90px;
}
#imgBox .g-upload-img{
    margin-right: 10px !important;
    margin-left: 10px !important;
}
#imgBox .img-box img{
    width: 177px;
    height: 190px;
}
#imgBox .btn{
    width: 155px;
    background: none;
    border: 0;
}
#imgBox .btn:hover{
    border: 0;
    background: none;
}
#imgBox .webuploader-container{
    background: none;
}
#imgBox .webuploader-pick{
    height: 26px;
    line-height: 26px;
    color: #0e74bc;
    font-size: 14px;
    background: none;
    border: 1px solid #0e74bc;
}
#imgBox .g-btn-def{
    border: 1px solid #999;
    background: none;
    font-size: 14px;
    color: #666;
    height: 28px;
    line-height: 28px;
    width: 46px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    vertical-align: top;
}
#pdfBox .btn:hover{
    border: 0;
    background: none;
}
#pdfBox .g-uploadfile{
    height: 80px;
    position: relative;
}
#pdfBox .FileUpload30_file{
    position: absolute;
    left: 120px;
    top: 5px;
    width: 440px;
    font-size: 14px;
}
#pdfBox .btn{
    position: absolute;
    left: 0;
    top: 5px;
    width: 100px;
    background: none;
    border: 0;
    padding: 0;
}
#pdfBox #FileUpload30_btn{
    border: 0;
    background: none;
    color: #1057a7;
    font-size: 14px;
    margin-right: 15px;
}
#pdfBox #FileUpload30_del{
    border: 0;
    background: none;
    color: #666;
    font-size: 14px;
}
/*add 20170117*/
.detail-adv{ width: 288px; height: 208px; background: #f9f9f9; float: left; margin-right: 30px;  margin-bottom: 20px; display: inline; text-indent: 0;}
.detail-adv-box{ position: relative; margin: 10px 10px 0 10px; width: 268px; height: 198px; overflow: hidden;}
.pic-window{ width: 220px; height: 165px; border: 1px solid #e5e5e5; float: left;}
.pic-window .slides{float: left; width: 220px; height: 165px; display: none; background: #fff;}
.pic-window .slides img{max-width: 220px; height: 165px; display: block; margin: 0 auto;}
.pic-window .show{ display: inline;}
.nav-window{ width: 40px; height: 170px; overflow: hidden; float: left; margin-top: -5px; margin-left: 6px; display: inline;}
.nav-window .thumb{ width: 38px; height: 27px; border: 1px solid #e5e5e5; margin-top: 5px; cursor: pointer;}
.nav-window .active{ border-color: #c00;}
.nav-window .thumb img{ width: 38px; height: 27px; }
.img-desc{ position: absolute; left: 0; bottom: -32px; height: 32px; line-height: 32px;
    text-align: left; text-indent: 0;font-size: 12px; color: #666;}
