.boxwrapmix{width: 1205px;margin: 0 auto;}
.nav-item {display: inline;float: left;position: relative;height: 60px;line-height: 60px;}
#nav .nav-item:nth-child(8) span.popmenu{background:none;padding:0 5px 0 5px;}
#nav .nav-item:nth-child(9) span.popmenu{padding:0 5px 0 5px;}
#nav .nav-item:nth-child(8):hover span.popmenu,.cph_l span.popmenu:hover{background:none;}
#nav .eew-menu {background: #fff none repeat scroll 0 0 padding-box;border: 1px solid rgba(0, 0, 0, 0.15);border-radius: 4px;box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);left: -8px;position: absolute;text-align: left;top:20px;z-index:1000011;top:72px !important;left: 0 !important;}
#nav .eew-menu ul li {float: left;font-size: 14px;width: 100%;clear: inherit;border-bottom: none;}
#nav .eew-menu ul li a {float:left;height: 25px;line-height: 25px;width: 100%;padding: 0;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}

.tese-zone {color: #393939;margin: 0;line-height: 25px;white-space: inherit;}
.cph_r{float:right;overflow: inherit;}
.cph_r .nserb{float:left;height:33px;border:1px solid #ddd;width:140px;outline-style:none;border-right:0;}
.cph_r .nserbtn{float:left;cursor:pointer;height:32px;width:46px;background:url(../img/channelicon.png) 14px -386px #e60012 no-repeat;border:0;outline-style:none;}
.cph_r .loginbbtn{float:left;background:#e60012;margin:0 0 0 5px;height:32px;line-height:32px;padding:0 10px;text-align: center;position:relative;}
.loginbbtn .message-num{position: absolute;background-color:#e60012;border-radius: 8px;color: #fff;height: 16px;min-width: 14px;line-height: 16px;padding: 0 2px;right:-10px;text-align: center;top:-13px;z-index: 1;}
.cph_r .search_blk{width:198px;float:left;}
.psosocho{font-size:12px;text-align:left;padding-left:5px;border:1px solid #e60012;float:left;width:80px;height:30px;background:url(../img/channelicon.png) 73px -427px #fff no-repeat;line-height:30px;}
.psosotxt{font-size:12px;text-align:left;padding-left:5px;border:1px solid #e60012;float:left;width:110px;height:30px;line-height:30px;border-left:0;}
.psosotxt li{float:left;}
.psosotxt li.sbtico a{text-indent:-2000em;float:left;width: 17px;height:30px;overflow:hidden;}
.psosotxt li.sbtico a:hover{width: 17px;height:30px;overflow:hidden;}
.psosotxt .kw{width:82px;border:none;}
.psosolog{float:left;margin-left:6px;}
.psosolog p a{margin:0 3px 0 0;font-size:12px;float:left;border:2px solid #e60012;padding:0 6px;background:#FFF;color:#e60012;height:28px;line-height:28px;overflow:hidden;}
.psosolog p a:hover{font-size:12px;border:2px solid #e60012;padding:0 6px;background:#e60012;color:#FFF;}
.none {/* display: none; */}
.newspubhead .boxm6 {margin-top: 15px;}
.cph_l{float:left;margin:7px 0 0;}
.cph_l span{font-size:16px;padding: 0 4px;float:left;}
.cph_l span.hd{color: #ddd;/* margin-top: 28px; */}
.cph_l span.popmenu{position:relative;height: 60px;overflow: hidden;}
.cph_l span.popmenu{position:relative;padding:0 15px 0 12px;background:none;}
.cph_l span.popmenu3t{position:relative;padding:0 35px 0 20px;}
.cph_l span.popmenu3t:hover{position:relative;padding:0 35px 0 20px;}
.cph_l em{color:#ddd;padding:0 4px;float:left;}
.cph_l div.popmenubox{text-align:left;background:#FFF;width:100px;left:-8px;position:absolute;margin:12px 0 0;border: 1px solid rgba(0,0,0,.15);border-radius: 4px;-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);box-shadow: 0 6px 12px rgba(0,0,0,.175);background-clip: padding-box;}
.cph_l div.popmenubox ul li{float:left;width:100px;font-size:14px;border-bottom:1px solid #ddd;} 
.cph_l div.popmenubox ul li a{float:left;width:90px;padding:0 0 0 10px;line-height:32px;height:32px;}
.cph_l div.popmenubox ul li a:hover{float:left;width:90px;padding:0 0 0 10px;line-height:32px;height:32px;background:#f6f6f6;}
.cph_l div.popmenubox2{text-align:left;background:#FFF;width:545px;margin:12px 0 0;height:117px;overflow:hidden;}
.mt28{/* margin-top: 21px; */}
.left-bar {width: 360px;float: left;}
.center-bar {width: 350px;float: left;padding: 0 30px;}
.left-bar>p,.center-bar>p,.right-bar>p {margin-bottom: 10px;color: #000;font-weight: 600;font-size: 18px;}
.center-bar tt,.left-bar tt {background-color: #999;width: 20px;height: 20px;line-height: 20px;border-radius: 50%;margin-right: 3px;display: inline-block;padding: 0;text-align: center;color: #fff;vertical-align: middle;}
.center-bar .two-label,.left-bar .two-label {background-color: #e60012;}
.center-bar .frist-label,.left-bar .frist-label {background-color: #e60012;}
.center-bar .three-label,.left-bar .three-label {background-color: #e60012;}
.center-bar ul li,.left-bar ul li { margin-bottom: 10px;}
.pull-down-box {padding: 30px 0 30px 30px;left: 0;width: 1170px;height: auto;background-color: #fff;border-top: none;border-bottom:2px solid #e60012;border-left:2px solid #e60012;border-right:2px solid #e60012;}

#nav .right-bar {width: 385px;float: left;padding-left: 0;}
#nav .right-bar ul.btn li a {border: 1px solid #d6d6d6;width: 100%;float: left;text-align: center;margin-bottom: 5px;font-size: 14px;height: 35px;line-height: 35px;border-radius: 5px;}

#nav .right-bar ul {padding: 5px 20px;}
#nav .right-bar .btn li {width: 45%;margin-right: 2%;float: left;margin-bottom: 10px;}
#nav .right-bar .on-line li {color: #333;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;margin-bottom: 1px;}
#nav .right-bar .on-line li a {color: #333;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;width: 100%;font-size: 15px;}

.jj-deiset .intrdou-tt {width: 100%;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;margin-top: 10px;color: #333;}
.jj-deiset a {width: 45%;display: inline-block;}

.live-recommend li {border-bottom: 1px solid #e1e1e1;padding: 5px 0 10px;}
.live-recommend li:last-child {border-bottom: none;padding: 5px 0 10px;}
.live-recommend li a img {margin-top: 5px;}
.appraisal li {width: 43%;float: left;text-align: center;padding-top: 5px;box-sizing: border-box;margin-bottom: 5px;margin-left: 10px;}
.appraisal li .appraisal-bg {position: relative;width: 150px;}
.appraisal li .appraisal-bg .appraisal-bg-gg {position: absolute;background-color: rgba(0, 0, 0, 0.5);color: #fff;bottom: 5px;left: 24px;width: 100px;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;line-height: 18px;}
.mt20 {margin-top: 20px;}
.play-btn {background: url("../img/play.png") no-repeat;width: 18px;height: 18px;display: inline-block;background-size: cover;vertical-align: middle;float: none !important;margin-right: 5px;padding: 0 !important;}

.line-classify a {font-size: 15px;color: #fff;background-color: #cc0000;float: left;margin-right: 10px;padding: 5px 20px;display: inline-block;margin: 5px;text-align: center;}
.line-classify a:hover {color:#fff !important;background:#f00;}
.hot-plate a {font-size: 16px;color: #000;box-shadow: 3px 2px 3px 0 #cc0000;float: left;margin-right: 10px;padding: 5px 20px;display: inline-block;margin: 5px;text-align: center;border: 1px solid #eee;}
.line-classify {padding: 10px;}
.hot-plate {padding: 10px;}
.fr {float: right;}
.mt20 {margin-top: 20px;}
.manufacturer {background-color: #f8f8f8;border-top: 1px solid #ff0000;height: 30px;line-height: 30px;}
.manufacturer span a{padding: 0 15px;background-color: #f8f8f8;border-right: 1px solid #ededed;color: #000;display: inline-block;}
.manufacturer span a.curr {padding: 0 15px;background-color: #fff;border-right: 1px solid #ededed;color: #ff0000;}
.manufacturer-box ul li a img{margin-right: 10px;vertical-align: middle;}
.manufacturer span{padding: 0;}
.newest-list li {margin-bottom: 10px;height: 91px;border-bottom: 1px solid #eee !important;}
.newest-list li:last-child {border-bottom: none !important;}
.newest-list li p {width: 80%;float: right;line-height: 20px;margin-top:15px;}
.newest-list li a img {border-radius: 50%;height: 60px;float: left;width: 60px;}
.newest-list li a p {overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;height: 60px;}
.science-list li {width: 48%;float: left;}
.newest-list li a {height: 60px !important;white-space: normal !important;}
.science-list li a span {background: url("../img/time.png") no-repeat;width: 14px;height: 14px;background-size: cover;display: inline-block;margin-right: 3px;float: none;padding: 0;font-size: 12px;vertical-align: middle;}
.science-list li a h4 {line-height: 15px;font-size: 12px;height: 30px;overflow: hidden;margin-top: 5px;}
.science-list li {font-size: 12px;margin-right: 2%;margin-bottom: 10px;}
.search_pc_button {border: 1px solid #e50212;color: #e50212;padding: 7px 25px;border-radius: 5px;font-size: 19px;margin: 0 auto;display: block;width: 165px;}
.search_pc_icon {background: url(../img/css_sprites.png) -57px -175px;width: 27px;height: 27px;display: inline-block;vertical-align: middle;}
.search_pc_button span {vertical-align: middle;}
.txtc2 {color: #999;}
.c_searchs .inputkey {background-color: #f6f6f6;border: none;width: 200px;outline: none;padding: 5px;margin-left: 10px;}
.c_searchs .subdatasheet {background: url(../img/serach-dd.png) no-repeat;display: inline-block;width: 24px;height: 24px;background-size: cover;border: 0 none;cursor: pointer;outline: 0 none;}
.labe-pull-icon {background: url(../img/css_sprites.png) -192px -175px;width: 24px;height: 24px;display: inline-block;vertical-align: middle;margin-right: 7px;}
.keyword-box ol li {float: left;margin: 15px 20px 0;}
.keyword-box {padding: 15px;margin-top: 15px;}
.pull-down-box a:hover,.intrdou-tt:hover{color:#e60012;}
.pull-down-box ul li a {font-size: 14px;color: #333;}
.mr40 {margin-right: 40px;}
.mt25 {margin-top: 25px;}
.mt10 {margin-top: 10px;}
.more-icon2 {background: url("../img/more_pp.png") no-repeat;width: 12px;height: 12px;background-size: cover;vertical-align: middle;display: inline-block;}
.live-recommend li a p {font-size: 15px;width: 100%;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
.c666 ul li a,.c666 div,.c666 p,.c666 a h4 {color: #333;}
.live-recommend li:hover a {color: #c6000c;}
.c666 ul li a:hover,.c666 a h4:hover {color: #c6000c;}
.newspubhead {padding: 0 !important;}
.cph_l em{  padding: 24px 4px !important;}

.img-border{border:1px solid #eee;}
.nav-item {  display: inline;  float: left;position: inherit !important;}
.cph_l{margin: 0 !important;}
.live-recommend li span{margin-top: 0;}
.nav-item:hover .popmenu a{color:#ef0012;} 
#nav .right-bar ul.btn li a.more{border: 1px solid #ef0012;color: #ef0012;}

#nav .technical-entrance{padding: 15px;}
#nav .technical-entrance h3{color: #333;}
#nav .technical-entrance .entrance-bel a{border: 1px solid #393939;display: inline-block;padding: 2px 10px;margin: 0 5px;}
#nav .technical-entrance .entrance-bel a:hover{border:1px solid #e60012}

.drop-box{display: none;position: absolute;top: 32px;background-color: #fff;border: 1px solid #eee;width: 125px;text-align: center;left: -30px;z-index:99999999;}
#Mcenter{position: relative;}
#Mcenter:hover .drop-box {display: block;}
.drop-box li{text-align: left;padding: 10px 17px 10px;color: #8a8a8a;}
.drop-box li a{color: #8a8a8a;}
.drop-box li:hover{text-align: left;padding: 10px 17px 10px;color: #8a8a8a;background-color: #e0e0e0;}
.icon-personal{background: url(http://bbs.eeworld.com.cn/static/my/images/icon-Mcenter.png) no-repeat;width: 18px;height: 18px;vertical-align: middle;display: inline-block;background-size: cover;margin-right: 5px;}
.icon-Settings{background: url(http://bbs.eeworld.com.cn/static/my/images/icon-setti.png) no-repeat;width: 18px;height: 18px;vertical-align: middle;display: inline-block;background-size: cover;margin-right: 5px;}
.icon-out{background: url(http://bbs.eeworld.com.cn/static/my/images/icon-out.png) no-repeat;width: 18px;height: 18px;vertical-align: middle;display: inline-block;background-size: cover;margin-right: 5px;}