@charset "UTF-8";
.siteConn{
width:1200px;
overflow:hidden;
position:relative;
}
.title,ul.aclist li a,.ibox dl b,.ibox2 dl b,.downUrl a,.downurlnew a,.acright ul.down li a{-background:url(/img/siteConn2_bg1.gif) no-repeat 0 0;}.m6
{margin-top:4px;
}
.listwz{
width:1200px;
overflow:hidden;
position:relative;
border-bottom:1px solid #efefef;
margin-top:15px;
}

.sConn .title{
height:39px;
line-height:39px;
background-position:0 -76px;
background-repeat:repeat-x;
}
.sConn .title h2{
font-size:15px;
font-weight:bold;
text-indent:15px;color:#666;
text-align:cennter; padding-left:25px;
}
.acleft{
float:right;
width:370px;
overflow:hidden;
-margin-top:45px;
}
.acleftlr{margin-top:36px;}
.acleft .box{
width:370px;
overflow:hidden;

/*! border-bottom:none; */
background:#fff;
}

.dcbox{
width:1px;
height:43px;
overflow:hidden;
border:1px solid #ececec;
/*! border-bottom:none; */
background:#fff;
padding-left:350px;
margin-top:-45px;
float:right;
}

.acleft .acmenu
{
width:355px;
overflow:hidden;
position:relative;
}
.acleft .acmenu .title{
width:370px;
height:40px;
background-position:0 0;
}
.acleft .acmenu .title h5{
font-size:14px;
line-height:27px;
text-indent:200px;
color:white;
}
.acleft .acmenu ul.box{
width:370px;

border-top: 20px solid #fff;
overflow:hidden;
position:relative;
}
.acleft .acmenu ul.box li{
float:left;
width:148px;
height:54px;
line-height:54px;
font-size:14px;
text-align:center;
border-right:37px solid #fff;
-margin-left:10px;
}

.acleft .acmenu ul.box li a{
	float:left;
	width:168px;
	height:37px;
	line-height:37px;
	font-size:14px;
	text-align:center;
	background: #ffffff;
	color: #666;

	border-radius: 13px;
	border: 1px solid #ececec;
}

.acleft .acmenu ul.box li a:hover,.acleft .acmenu ul.box .curr a{
	background-color: #29a5f8;
	color: #fff;
}

.acleft ul.aclist li
{
float:left;
width:272px;
height:26px;
line-height:26px;
text-indent:25px;border-bottom:1px solid #fff;
}
.acleft ul.aclist li a{
display:block;
width:272px;
height:25px;overflow:hidden;
border-top:1px solid #fff;
background-position:-36px -210px;
}
.acleft ul.aclist li a:hover{
background-position:-36px -174px;
}
.acright{float:left;
width:800px;
overflow:hidden;
}
.acright .ibox{
width:800px;
-margin-left:4px;
overflow:hidden;
-border:1px solid #ececec;
background:#fff;
margin-top:16px;
}
.acright .ibox2{
width:800px;
-margin-left:4px;
overflow:hidden;
-border:1px solid #ececec;
background:#fff;
margin-top:16px;
}

.acright .acinfo{
width:794px;
overflow:hidden;
position:relative;
}.acright .acinfo .title
{
width:794px;
height:34px;
background-position:0 -38px;
border-bottom:1px solid #efefef;
}
.acright .acinfo .title h5
{
float:left;
width:180px;
font-size:14px;
line-height:27px;
text-indent:22px;
color:white;
}
.acright .acinfo .title span.guide
{
float:left;
width:470px;
line-height:27px;
}
.acright .acinfo .title span.guide .separate
{
padding:0 5px;
}
.acright .acinfo .ibox{
width:820px;
height:310px;
overflow:hidden;
position:relative;
top:-6px;
}

.acright .acinfo .ibox2{
width:820px;
height:310px;
overflow:hidden;
position:relative;
top:-6px;
}
.acright .acinfo .iboxdb{
width:792px;
overflow:hidden;
position:relative;
-top:-6px;
}

.acright .acinfo .iboxdb dl
{
-margin:15px;
position:relative;
margin-top:8px;
}
.acright .acinfo .ibox dl dd
{
float:left;
width:370px;
overflow:hidden;
border-left:none;
background:#fff;
}
.acright .acinfo .ibox2 dl dd
{
float:left;
width:370px;
overflow:hidden;
border-left:none;
background:#fff;
}
.acright .acinfo .iboxdb dl dd.ititle{
margin-top:1px;
float:left;
-height:40px;
-line-height:40px;
-text-indent:10px;
font-weight:bold;
color:#666;
-border-bottom: 1px #DEDEDE dashed;
}
.acright .acinfo .iboxdb dl dd.ititle h1{
	font-size:20px;
}

.acright .acinfo .ibox dl
{
-margin:15px;
height:212px;
position:relative;
margin-top:8px;
}
.acright .acinfo .ibox dl dt
{
float:left;
width:277px;
height:200px;
-padding:5px;
background:#fff;
}
.acright .acinfo .ibox dl dd
{
float:left;
width:540px;
overflow:hidden;
border-left:none;
background:#fff;
}
.acright .acinfo .ibox dl dd.ititle{
margin-top:1px;
float:left;
height:52px;
line-height:52px;
text-indent:10px;
font-size:17px;
font-weight:bold;
color:#666;
border-bottom: 1px #DEDEDE dashed;
}
.acright .acinfo .ibox dl dd.td
{
height:38px;
line-height:38px;
}
.acright .acinfo .ibox dl dd.n
{
border-bottom:none;
}
.acright .acinfo .ibox dl dd.td span{
float:left;
height:27px;
}
.acright .acinfo .ibox dl dd.td span.f
{
float:left;
width:75px;
text-align:right;
color:#666;
font-size:14px;
}
.acright .acinfo .ibox dl dd.td span.f1
{
float:left;
width:275px;
text-align:right;
color:#666;
font-size:14px;
}
.acright .acinfo .ibox dl dd.td span.t
{
float:left;
width:105px;
text-indent:5px;
font-size:14px;
}

.acright .acinfo .ibox dl dd.td span.x
{
float:left;
width:285px;
text-indent:5px;
font-size:14px;
}
.acright .acinfo .ibox dl dd.td span.r
{
border-right:none;
font-size:14px;
}
border:1px solid #ececec;
.acright .acinfo .ibox dl b{
width:7px;
height:7px;
position:absolute;
left:272px;
}

.acright .acinfo .ibox dl b.t
{
top:0;
background-position:0 -192px;
}

.acright .acinfo .ibox dl b.b
{
bottom:0;
background-position:0 -200px;
}

.acright .acinfo .ibox .downUrl
{
width:147px;
height:46px;
position:absolute;
left:21px;bottom:11px;
}
.acright .acinfo .ibox .downUrl a
{
display:block;
width:147px;
height:46px;
background-position:0 -122px;
}
.acright .acinfo .ibox .downUrl a:hover
{
background-position:-188px -122px;
}.acright .acinfo .ibox .share
{
width:245px;height:43px;
position:absolute;
right:78px;
bottom:18px;overflow:hidden;
}

//*ibox2*//
.acright .acinfo .ibox2 dl
{
-margin:15px;
height:212px;
position:relative;
margin-top:8px;
}
.acright .acinfo .ibox2 dl dt
{
float:left;
width:277px;
height:200px;
-padding:5px;
background:#fff;
}
.acright .acinfo .ibox2 dl dd
{
float:left;
width:540px;
overflow:hidden;
border-left:none;
background:#fff;
}
.acright .acinfo .ibox2 dl dd.ititle{
margin-top:1px;
float:left;
height:52px;
line-height:52px;
text-indent:10px;
font-size:17px;
font-weight:bold;
color:#666;
border-bottom: 1px #DEDEDE dashed;
}
.acright .acinfo .ibox2 dl dd.td
{
height:38px;
line-height:38px;
}
.acright .acinfo .ibox2 dl dd.n
{
border-bottom:none;
}
.acright .acinfo .ibox2 dl dd.td span{
float:left;
height:27px;
}
.acright .acinfo .ibox2 dl dd.td span.f
{
float:left;
width:75px;
text-align:right;
color:#666;
font-size:14px;
}
.acright .acinfo .ibox2 dl dd.td span.f1
{
float:left;
width:275px;
text-align:right;
color:#666;
font-size:14px;
}
.acright .acinfo .ibox2 dl dd.td span.t
{
float:left;
width:105px;
text-indent:5px;
font-size:14px;
}

.acright .acinfo .ibox2 dl dd.td span.x
{
float:left;
width:285px;
text-indent:5px;
font-size:14px;
}
.acright .acinfo .ibox2 dl dd.td span.r
{
border-right:none;
font-size:14px;
}
border:1px solid #ececec;
.acright .acinfo .ibox2 dl b{
width:7px;
height:7px;
position:absolute;
left:272px;
}

.acright .acinfo .ibox2 dl b.t
{
top:0;
background-position:0 -192px;
}

.acright .acinfo .ibox2 dl b.b
{
bottom:0;
background-position:0 -200px;
}

.acright .acinfo .ibox2 .downUrl
{
width:147px;
height:46px;
position:absolute;
left:21px;bottom:11px;
}
.acright .acinfo .ibox2 .downUrl a
{
display:block;
width:147px;
height:46px;
background-position:0 -122px;
}
.acright .acinfo .ibox2 .downUrl a:hover
{
background-position:-188px -122px;
}.acright .acinfo .ibox .share
{
width:245px;height:43px;
position:absolute;
right:78px;
bottom:18px;overflow:hidden;
}

.acright .content
{
font:14px/25px;overflow:hidden;
-padding:8px;
max-width: 792px;line-height:2.0;
margin-top:13px;
border-bottom:#999999 1px dashed;
}

br{ 
display:inline; line-height:12px; 
} 

.acright .content a:link
{
-color:#0076cd;
text-decoration:none;
}

.acright .content a:visited
{
text-decoration:none;
}

.acright .content a:hover
{
color:#0076cd;
text-decoration:none;
}

.acright .content a
{
outline:none;
-color:#0076cd;
} 
.acright .content a:active
{
star:expression(this.onFocus=this.blur());
}

.acright .ds
{
-padding:15px;
overflow:hidden;
}

.acright ul.down
{
width:792px;
-padding:0 0 10px;
overflow:hidden;
margin-top:12px;
}

.acright ul.down li{
float:left;
width:145px;height:35px;
line-height:35px;
text-indent:45px;
font-size:14px;
margin-right:15px;
}

.acright ul.down li a{
display:block;
width:145px;
height:35px;
color:white;
}

.acright ul.down li.bd a
{
background-position:-447px -154px;
}

.acright ul.down li.bd a:hover
{
background-position:-447px -195px;
}

.acright ul.down li.xl a
{
background-position:-624px -154px;
}

.acright ul.down li.xl a:hover
{
background-position:-624px -195px;
}

.acright .acinfo .soft_list,.acright .acinfo .azsoft_list,.acright .acinfo .rjsoft_list,.acright .acinfo .news_list,.acright .acinfo .news_vice,.acright .acinfo .news_vicewz
{
width:794px;
overflow:hidden;
position:relative;
top:20px;
padding:1px;

border-top:none;
background:#fff;
}

.acright .acinfo .soft_list .sdhang {width:646px;height:111px;position:relative;}
.acright .acinfo .soft_list .rjdh {width:646px;height:111px;position:relative;}
.acright .acinfo .soft_list .xtdh {width:646px;height:75px;position:relative;}
.acright .acinfo .soft_list .newshg {width:646px;height:111px;position:relative;}

.acright .v_title{margin:20px 10px; }
.acright .v_title h1{width:616px;
	font-size:16px;
	font-weight:bold;
	color:#1587dc;
	text-align:center;
}

.acright .acinfo ul.smuen
{
float:left;
width:771px;
overflow:hidden;
padding:10px;
margin-bottom:15px;
border:1px solid #ececec;
background:#fff;
border-radius:13px;
}

.acright .acinfo ul.smuen li
{
float:left;
text-align:center;
margin:6px;
display:inline;
}

.acright .acinfo ul.smuen li a
{
display:block;
width:120px;
height:30px;
line-height:30px;
border:1px solid #ececec;
border-radius:10px;
}

.acright .acinfo ul.smuen li a:hover
{
border:1px solid #29a5f8;
color:#fff;
background:#29a5f8;
}

.acright .acinfo ul.smuen li.curr{
    background-color: #29a5f8;
    
}
.acright .acinfo ul.smuen li.curr a
{
border:1px solid #29a5f8;
color:#fff;
background:#29a5f8;
}

/*xtmuen*/
.acright .acinfo ul.xtsmuen
{
float:left;
width:771px;
overflow:hidden;
padding:10px;
margin-bottom:15px;
border:1px solid #ececec;
background:#fff;
border-radius:13px;
}

.acright .acinfo ul.xtsmuen li
{
float:left;
text-align:center;
margin:6px;
display:inline;
}

.acright .acinfo ul.xtsmuen li a
{
display:block;
width:176px;
height:30px;
line-height:30px;
border:1px solid #ececec;
border-radius:10px;
}

.acright .acinfo ul.xtsmuen li a:hover
{
border:1px solid #29a5f8;
color:#fff;
background:#29a5f8;
}

.acright .acinfo ul.xtsmuen li.curr{
    background-color: #29a5f8;
    
}
.acright .acinfo ul.xtsmuen li.curr a
{
border:1px solid #29a5f8;
color:#fff;
background:#29a5f8;
}

/*ztsmuen*/
.acright .acinfo ul.ztsmuen
{
float:left;
width:771px;
overflow:hidden;
padding:10px;
margin-bottom:15px;
border:1px solid #ececec;
background:#fff;
border-radius:13px;
}

.acright .acinfo ul.ztsmuen li
{
float:left;
text-align:center;
margin:6px;
display:inline;
}

.acright .acinfo ul.ztsmuen li a
{
display:block;
width:139px;
height:30px;
line-height:30px;
border:1px solid #ececec;
border-radius:10px;
}

.acright .acinfo ul.ztsmuen li a:hover
{
border:1px solid #29a5f8;
color:#fff;
background:#29a5f8;
}

.acright .acinfo ul.ztsmuen li.curr{
    background-color: #29a5f8;
    
}
.acright .acinfo ul.ztsmuen li.curr a
{
border:1px solid #29a5f8;
color:#fff;
background:#29a5f8;
}
/*passlist*/
.pagelist
{
height:30px;line-height: 30px;overflow:hidden;padding: 30px 0 20px 30px;text-align:center;
}

.pagelist li 
{
margin-right:10px;float:left;
}

.pagelist a
{
padding:5px 10px;border:1px solid #ebebeb;background:white;
}
.pagelist a:hover
{
padding:5px 10px;border:1px solid #ebebeb;background:#29a5f8;color:#fff;
}
.pagelist a.noclass
{
color:#d7d7d7;
}

.pagelist a.curr
{
color:#1b87d3;
}
/* 下载专区列表css */
.acright .acinfo .soft_list .item{
    padding: 20px 0 15px;
    border-bottom: 1px #DEDEDE dashed;
	height:150px;
}

.acright .acinfo .soft_list .itemxt{
    padding: 1px 0 5px;
    border-bottom: 1px #DEDEDE dashed;
	height:200px;
}

.acright .acinfo .soft_list .itemdb{
    padding: 14px 0 15px;
    -border-bottom: 1px #DEDEDE dashed;
}

.acright .acinfo .soft_list  .itemdb-txt {
 color:#666;

}
.acright .acinfo .soft_list  .text{ 
    line-height: 24px;

}
.acright .acinfo .soft_list .itemdb-txt h3 {
    font-size: 18px;
    line-height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}
.acright .acinfo  .soft_list .itemdb-txt h3 a{color: #333;}
.acright .acinfo  .soft_list .itemdb-txt h3 a:hover{color: #1587dc;}

.acright .acinfo .soft_list .item-pic {
    float: left;
    width: 244px;
    height: 178px;
    margin: 3px 20px 0 0;

}

.jh {
     border: 1px #DEDEDE solid;

}

.acright .acinfo .soft_list .item-newspic {
    float: left;
    width: 190px;
    height: 130px;
    margin: 3px 20px 0 0;

}

.acright .acinfo .soft_list  .item-txt {
 color:#666;

}
.acright .acinfo .soft_list .item-txt h3 {
    font-size: 18px;
    line-height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}
.acright .acinfo  .soft_list .item-txt h3 a{color: #333;}
.acright .acinfo  .soft_list .item-txt h3 a:hover{color: #1587dc;}
.acright .acinfo  .soft_list  .item-txt p {
    font-size: 14px;
    line-height: 25px;
    padding: 11px 10px 0 0;
 font-size: 14px;font-weight:normal;
}

.acright .acinfo .soft_list  .item-info {
	margin-top:15px;
    height: 25px;
    line-height: 20px;
}
.acright .acinfo .soft_list  .item-info  .time {
    margin-right: 28px;
}

.acright .acinfo .soft_list  .item-info  .rq {
    margin-left: 9px;
}
 .acright .acinfo .soft_list  .item-info  .xiazai{
   
    width: 92px;
    height: 28px;
    line-height: 28px;
    background-color: #ffffff;
    color: #fff;
     margin-left:116px;
	text-align: center;
     border: 1px #DEDEDE solid;
	 font-size: 14px;
	}
.acright .acinfo .soft_list  .item-info  .xiazai a
{
 color: #666;
}

.acright .acinfo .soft_list  .item-info  .xiazai a:hover
{
    color: #1587dc;
    background-color: #ffffff;


}

/*安卓下载列表*/
.acright .acinfo .azsoft_list .sdhang {width:646px;height:111px;position:relative;}
.acright .acinfo .azsoft_list .rjdh {width:646px;height:111px;position:relative;}
.acright .acinfo .azsoft_list .xtdh {width:646px;height:75px;position:relative;}
.acright .acinfo .azsoft_list .newshg {width:646px;height:111px;position:relative;}
.acright .acinfo .azsoft_list .item{
    padding: 20px 0 15px;
    border-bottom: 1px #DEDEDE dashed;
	height:150px;
}

.acright .acinfo .azsoft_list .itemxt{
    padding: 1px 0 5px;
    border-bottom: 1px #DEDEDE dashed;
	height:170px;
}

.acright .acinfo .azsoft_list .itemdb{
    padding: 14px 0 15px;
    -border-bottom: 1px #DEDEDE dashed;
}

.acright .acinfo .azsoft_list  .itemdb-txt {
 color:#666;

}
.acright .acinfo .azsoft_list  .text{ 
    line-height: 24px;

}
.acright .acinfo .azsoft_list .itemdb-txt h3 {
    font-size: 20px;
    line-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}
.acright .acinfo  .azsoft_list .itemdb-txt h3 a{color: #333;}
.acright .acinfo  .azsoft_list .itemdb-txt h3 a:hover{color: #1587dc;}

.acright .acinfo .azsoft_list .item-pic {
    float: left;
    width: 144px;
    height: 178px;
    margin: 3px 20px 0 0;

}

.jh {
     border: 1px #DEDEDE solid;

}

.acright .acinfo .azsoft_list .item-newspic {
    float: left;
    width: 190px;
    height: 130px;
    margin: 3px 20px 0 0;

}

.acright .acinfo .azsoft_list  .item-txt {
 color:#666;

}
.acright .acinfo .azsoft_list .item-txt h3 {
    font-size: 18px;
    line-height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}
.acright .acinfo  .azsoft_list .item-txt h3 a{color: #333;}
.acright .acinfo  .azsoft_list .item-txt h3 a:hover{color: #1587dc;}
.acright .acinfo  .azsoft_list  .item-txt p {
    font-size: 14px;
    line-height: 25px;
    padding: 11px 10px 0 0;
 font-size: 14px;font-weight:normal;
}

.acright .acinfo .azsoft_list  .item-info {
	margin-top:15px;
    height: 25px;
    line-height: 20px;
}
.acright .acinfo .azsoft_list  .item-info  .time {
    margin-right: 28px;
}

.acright .acinfo .azsoft_list  .item-info  .rq {
    margin-left: 9px;
}
 .acright .acinfo .azsoft_list  .item-info  .xiazai{
   
    width: 92px;
    height: 28px;
    line-height: 28px;
    background-color: #ffffff;
    color: #fff;
     margin-left:116px;
	text-align: center;
     border: 1px #DEDEDE solid;
	 font-size: 14px;
	}
.acright .acinfo .azsoft_list  .item-info  .xiazai a
{
 color: #666;
}

.acright .acinfo .azsoft_list  .item-info  .xiazai a:hover
{
    color: #1587dc;
    background-color: #ffffff;


}
.acright .acinfo .azsoft_list  .item-info span {
	color: #666;
	height: 25px;
    display: inline-block;
    float: left;
 font-size: 12px;font-weight:normal;
}
 .acright .acinfo .azsoft_list .item-other{
	color: #666;
	margin-top:8px;
    line-height: 26px;
 font-size: 12px;font-weight:normal;
}
 .acright .acinfo .azsoft_list .item-other   .yuyan{
    margin-right: 28px;
}
 .acright .acinfo .azsoft_list .item-other   .geshi{
    margin-left: 28px;
}

.acright .acinfo .azsoft_list .itemdown{
    padding: 20px 0 15px;
    border-bottom: 1px #DEDEDE solid;
}

/*软件下载列表*/
.acright .acinfo .rjsoft_list .sdhang {width:770px;height:50px;position:relative;}
.acright .acinfo .rjsoft_list .rjdh {width:646px;height:111px;position:relative;}
.acright .acinfo .rjsoft_list .xtdh {width:646px;height:75px;position:relative;}
.acright .acinfo .rjsoft_list .newshg {width:646px;height:111px;position:relative;}


.acright .acinfo .rjsoft_list .itemxt{
    -padding: 1px 0 5px;
    border-bottom: 1px #DEDEDE dashed;
	height:140px;
}

.acright .acinfo .rjsoft_list .itemdb{
    padding: 14px 0 15px;
    -border-bottom: 1px #DEDEDE dashed;
}

.acright .acinfo .rjsoft_list  .itemdb-txt {
 color:#666;

}
.acright .acinfo .rjsoft_list  .text{ 
    line-height: 24px;

}
.acright .acinfo .rjsoft_list .itemdb-txt h3 {
    font-size: 18px;
    -line-height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}
.acright .acinfo  .rjsoft_list .itemdb-txt h3 a{color: #333;}
.acright .acinfo  .rjsoft_list .itemdb-txt h3 a:hover{color: #1587dc;}

.acright .acinfo .rjsoft_list .item-pic {
    float: left;
    width: 90px;
    height: 90px;
    margin: 3px 20px 0 0;
	margin-top:18px;

}

.jh {
     border: 1px #DEDEDE solid;

}

.acright .acinfo .rjsoft_list .item-newspic {
    float: left;
    width: 190px;
    height: 130px;
    margin: 3px 20px 0 0;

}

.acright .acinfo .rjsoft_list  .item-txt {
 color:#666;

}
.acright .acinfo .rjsoft_list .item-txt h3 {
    font-size: 18px;
    line-height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}
.acright .acinfo  .rjsoft_list .item-txt h3 a{color: #333;}
.acright .acinfo  .rjsoft_list .item-txt h3 a:hover{color: #1587dc;}
.acright .acinfo  .rjsoft_list  .item-txt p {
    font-size: 14px;
    line-height: 25px;
    padding: 11px 10px 0 0;
 font-size: 14px;font-weight:normal;
}

.acright .acinfo .rjsoft_list  .item-info {
	margin-top:15px;
    height: 25px;
    line-height: 20px;
}
.acright .acinfo .rjsoft_list  .item-info  .time {
    margin-right: 28px;
}
.acright .acinfo .rjsoft_list  .item-info  .size {
    width:90px;
}
.acright .acinfo .rjsoft_list  .item-info  .rq {
    margin-left: 35px;
}
 .acright .acinfo .rjsoft_list  .item-info  .xiazai{
    width: 92px;
    height: 28px;
    line-height: 28px;
    background-color: #ffffff;
    color: #fff;
     margin-left:156px;
	text-align: center;
     border: 1px #DEDEDE solid;
	 font-size: 14px;
	}
.acright .acinfo .rjsoft_list  .item-info  .xiazai a
{
 color: #666;
}

.acright .acinfo .rjsoft_list  .item-info  .xiazai a:hover
{
    color: #1587dc;
    background-color: #ffffff;


}
.acright .acinfo .rjsoft_list  .item-info span {
	color: #666;
	height: 25px;
    display: inline-block;
    float: left;
 font-size: 12px;font-weight:normal;
}
 .acright .acinfo .rjsoft_list .item-other{
	color: #666;
	margin-top:8px;
    line-height: 26px;
 font-size: 12px;font-weight:normal;
}

 .acright .acinfo .rjsoft_list .item-other   .yuyan{
    margin-right: 28px;
}
 .acright .acinfo .rjsoft_list .item-other   .geshi{
    margin-left: 28px;
}

.acright .acinfo .rjsoft_list .itemdown{
    padding: 20px 0 15px;
    border-bottom: 1px #DEDEDE solid;
}

/* 文章列表news css */
.acright .acinfo .news_list .sdhang {margin-bottom:6px;width:646px;height:70px;position:relative;}

.acright .acinfo .news_list .item{
    padding: 1px 0 5px;
    border-bottom: 1px #DEDEDE dashed;
	height:200px;
}

.acright .acinfo .news_list .itemwz{
    padding: 14px 0 15px;
    -border-bottom: 1px #DEDEDE dashed;
}
.acright .acinfo .news_list .itemdb{
    padding: 1px 0 15px;
    border-bottom: 1px #DEDEDE dashed;
		height:150px;
}
.acright .acinfo .news_list .itemwz-txt h3 {
    font-size: 18px;
    line-height: 28px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.acright .acinfo .news_list  .itemwz-txt h3 a{color: #333;}
.acright .acinfo  .news_list .itemwz-txt h3 a:hover{color: #1587dc;}
	
.acright .acinfo .news_list .item-pic {
    float: left;
    width: 244px;
    height: 178px;
    margin: 5px 20px 0 0;

}
.acright .acinfo .news_list  .item-txt {
 color:#666;

}
.acright .acinfo .news_list .item-txt h3 {
    font-size: 17px;
    line-height: 28px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.acright .acinfo .news_list  .item-txt h3 a{color: #333;}
.acright .acinfo  .news_list .item-txt h3 a:hover{color: #1587dc;}
.acright .acinfo .news_list  .text{ 
    line-height: 33px;

}
.acright .acinfo .news_list  .item-txt p {
    font-size: 14px;
    line-height: 40px;
    padding: 11px 12px 0 0;
}

.acright .acinfo .news_list  .item-info {
	margin-top:22px;
    height: 33px;
    line-height: 28px;
font-size: 14px;
}
.acright .acinfo .news_list  .item-info  .time {
    margin-right: 28px;
}
.acright .acinfo .news_list  .item-info span {
	color: #666;
    display: inline-block;
    float: left;

}

 .acright .acinfo .news_list  .item-info  .yuedu{
    width: 75px;
    height: 26px;
    line-height: 26px;
    background-color: #fff;
    color: #fff;
     margin-left:128px;
	text-align: center;
border: 1px #DEDEDE solid;
	}
.acright .acinfo .news_list  .item-info  .yuedu a
{
    color: #666;
}

.acright .acinfo .news_list  .item-info  .yuedu a:hover
{
    color: #1587dc;

}

.acright .acinfo .soft_list  .item-info span {
	color: #666;
	height: 25px;
    display: inline-block;
    float: left;
 font-size: 12px;font-weight:normal;
}
 .acright .acinfo .soft_list .item-other{
	color: #666;
	margin-top:12px;
    line-height: 26px;
 font-size: 12px;font-weight:normal;
}
 .acright .acinfo .soft_list .item-other   .yuyan{
    margin-right: 28px;
}
 .acright .acinfo .soft_list .item-other   .geshi{
    margin-left: 28px;
}

.acright .acinfo .soft_list .itemdown{
    padding: 20px 0 15px;
    border-bottom: 1px #DEDEDE solid;
}

/* 文章内容页css */
.acright .acinfo  .news_vicewz  .v_titlewz{margin:20px 10px; }
.acright .acinfo  .news_vicewz  .v_titlewz h1{width:794px;
	font-size:18px;
	font-weight:bold;
	color:#666;
	text-align:center;
}
.acright .acinfo  .news_vicewz   .v_infowz{text-align:center; margin-top:10px; border-bottom: #999999 1px dashed; overflow: hidden;height:30px;}
.acright .acinfo  .news_vicewz   .v_infowz span.addtime{font-size:14px;text-align:center;color:#999;font-weight:normal;}
.acright .acinfo .news_vicewz .text-content {
	width:794px;
	overflow:hidden;
    margin-top: 15px;
	border-top:none;
	font-size:14px;
	line-height:2.0;
	clear:both;
        font-weight:normal;
	-border-bottom:#999999 1px dashed
}
.acright .acinfo  .news_vicewz   .text-content  .dd{
    margin-bottom:10px;
    padding: 12px 18px 10px;
    background: #f5f9fe;
}
.acright .acinfo  .news_vicewz  .text-content  .dd p{
    margin-bottom: 29px;
    line-height: 28px;

}

.acinfo .news_vicewz .text-content a:link {
	color:#0076cd;
	text-decoration:none;
}
.acinfo .news_vicewz .text-content a:hover {
	color:#D9534F;
	text-decoration:none;
}
.acinfo .news_vicewz .text-content a {
	outline:none;
	color:#0076cd;
}.acinfo .news_vicewz .text-content a.yc {
	color:#666;
	text-decoration:none;
	cursor:text;
}
.acright .acinfo .news_vicewz .text-content p {
	color:#666;
	line-height:2.0;
}
.acright .acinfo .news_vicewz .text-content p.xb {
	width:616px;
	text-align:right;
	padding-top:10px;
}
.acright .acinfo .news_vicewz .text-content img{max-height:1500px; max-width:800px; margin:0 auto; display:block;}
.acright .prenext {
    float: left;
    margin-top: 10px;
    padding-left: 4%;
    width: 96%;
    height: 60px;
}



.acright .acinfo .soft_list dl
{
float:left;
width:646px;
height:160px;
margin-bottom:6px;
border:1px solid #ececec;
background:white;
}

.acright .acinfo .soft_list dl dt
{
float:left;
width:190px;
height:140px;
padding:10px;
border-right:1px solid #ececec;
}

.acright .acinfo .soft_list dl dt img
{
width:190px;
height:140px;
}

.acright .acinfo .soft_list dl dd
{
float:left;
width:420px;
border:1px solid #ececec;
border-left:none;
background:white;
}

.acright .acinfo .soft_list dl dd.stitle
{
margin-top:15px;
height:42px;
line-height:42px;
text-indent:10px;
font-size:14px;
font-weight:bold;
}

.acright .acinfo .soft_list dl dd.stitle a
{
color:#1587dc;
}

.acright .acinfo .soft_list dl dd.stitle a:hover
{
color:#48a7f7;
}

.acright .acinfo .soft_list dl dd.td
{
height:27px;line-height:27px;
}

.acright .acinfo .soft_list dl dd.cc
{
height:51px;
}

.acright .acinfo .soft_list dl dd.n
{
border-bottom:none;
}

.acright .acinfo .soft_list dl dd span
{
float:left;height:27px;
}

.acright .acinfo .soft_list dl dd span.f
{
float:left;
width:80px;
text-align:center;
color:#666666;
border-right:1px solid #ececec;
background:#f5f9fe;
}
.acright .acinfo .soft_list dl dd span.t
{
float:left;
width:123px;
margin-left:5px;
border-right:1px solid #ececec;
}

.acright .acinfo .soft_list dl dd span.r
{
border-right:none;
}

.acright .acinfo .soft_list dl dd.cc span
{
height:46px;
line-height:1.8;
overflow:hidden;
padding:5px 0 0;
}

.acright .acinfo .soft_list dl dd.cc span.t
{
width:325px;
}




/**软件精品列表**/
.mt{margin-top:20px}
.jplist{width:1200px;border:1px solid #ececec;padding:15px 0 5px;position:relative;height:90px}
.jpic{position:absolute;height:49px;width:49px;left:0;top:0;background:url(../images/jpic.png) no-repeat}
.jplist li{float:left;display:inline;height:90px;width:84px;margin:0 9px 0 15px}
.jplist a{display:block;text-align:center}
.jplist a img{height:60px;width:60px}
.jplist a p{height:20px;line-height:20px;margin-top:5px;width:84px;overflow:hidden}

.list_wrap .index_theme .cmtit span {
    border-bottom: 1px solid #03a3e8;
}
.list_wrap .index_theme {
    margin-top: 20px;
    height: 184px;
}
.list_wrap .theme_ncnt {
    padding-bottom: 0;
}
.theme_ncnt {
    padding: 14px 0;
    height: 146px;
    position: relative;
    overflow: hidden;
}
.theme_xp, .theme_win7 {
    height: 146px;
    width: 998px!important;
    overflow: hidden;
    position: relative;
}
.list_wrap .theme_xp li {
    width: 239px;
    height: 151px;
    margin-left: 9px;
}
.theme_xp li, .theme_win7 li {
    overflow: hidden;
    float: left;
    width: 175px;
    height: 146px;
    display: inline;
    margin-right: 31px /* 05-05 */;
}
.list_wrap .theme_xp li img {
    width: 233px;
    height: 109;
}
.theme_xp li img, .theme_win7 li img {
    width: 169px;
    height: 104;
    padding: 2px;
    border: 1px solid #f5f5f5;
}
.list_wrap .theme_xp li p {
    width: 233px;
}



.main-box .col-r, .main-box2 .col-r, .main-box3 .col-r {
	width: 244px;
}

.r, .col-r, .col_r, dt span, .ul-txt li span, .ul_txt li span {
	float: left;
}


.box-tab {
	border-bottom: 1px solid #ececec;
	height: 35px;
	line-height: 35px;
}
.box-tab strong {
	font-weight: normal;
	font-size: 14px;
	margin-left: 9px;
	float: left;
}
.box-tab1 {
	border-bottom: 1px solid #ececec;
	height: 35px;
	line-height: 35px;
}
.box-tab1 strong {
	font-weight: normal;
	font-size: 14px;
	border-bottom: 1px solid #03a3e8;
	float: left;
}
.box-tab1 li {
	float: left;
}
.box-tab1 li a {
	float: left;
	padding: 0 8px;
}
.box-tab1 a:hover, .box-tab1 .hover a {
	color: #03a3e8;
	background: url(../images/rank-abg.jpg) no-repeat center bottom;
}
.box-tab li {
	float: left;
}
.box-tab li a {
	float: left;
	padding: 0 8px;
	font-size:14px;
}
.box-tab a:hover, .box-tab .hover a {
	color: #03a3e8;
	background: url(../images/rank-abg.jpg) no-repeat center bottom;
}
.box-tab2 {
	border-bottom: 1px solid #03a3e8;
}
.box-tab2 ul {
	float: right;
}
.box-tab2 ul li {
	float: left;
	width: 90px;
	margin-left: 5px;
}
.box-tab2 ul li a {
	height: 38px;
	line-height: 38px;
	border: 1px solid #ececec;
	display: block;
	background: #fafafa;
	text-align: center;
	font-size: 14px;
}
.box-tab2 ul li a:hover, .box-tab2 ul li.hover a {
	color: #fff;
	background: #03a3e8;
	border: 1px solid #03a3e8;
}


/**边栏动态**/
.ul-top li {
	position: relative;
	padding-left: 26px;
	height: 30px;
	line-height: 30px;
	margin-top: 6px;
}
.ul-top2 li {
	height: 37px;
	line-height: 37px;
	_width: 200px;

	word-break: keep-all;
	white-space: nowrap;
	overflow: hidden;
}
.ul-top2 .hide {
	height: 56px;
	padding-left: 64px;
	display: none;
}
.ul-top2 h2 {
	font-size: 14px;
	font-weight: normal;
}
.ul-top2 .ok h2 {
	display: none;
}
.ul-top2 .hide {
	position: relative;
}
.ul-top2 .hide img {
	position: absolute;
	left: 0;
	top: 0;
	width: 54px;
	height: 54px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}
.ul-top2 .hide p a {
	font-size: 14px;
	font-weight: normal;
	color: #666;
}
.ul-top2 .hide p a:hover {
	color: #03a3e8;
}
.ul-top2 .hide p {
	height: 25px;
	line-height: 25px;
}
.ul-top2 .hide p {
	color: #666;
}
.ul-top2 .hide b {
	color: #c6c6c6;
	margin: 0 7px;
}
.ul-top2 .hide .sub {
	display: block;
	width: 33px;
	height: 24px;
	line-height: 24px;
	padding-left: 24px;
	color: #fff;
	background: #03a3e8 url(../images/a-bg20.png) no-repeat 25% center;
	font-weight: normal;
}
.ul-top2 .hide .sub:hover {
	background-color: #16a752;
}
.ul-top2 .ok {
	height: 96px;
}
.ul-top2 .ok a {
	font-size: 14px;
	display: block;
	color: #03a3e8;
	word-break: keep-all;
	white-space: nowrap;
	overflow: hidden;
}
.ul-top2 .ok .hide {
	display: block;
}
.ul-top3 .ok {
	height: 67px;
	padding-top: 10px;
}
.ul-top li span {
	width: 18px;
	height: 18px;
	background: #ECECEC;
	position: absolute;
	top: 6px;
	left: 0;
	text-align: center;
	line-height: 16px;
	color: #666;
}
.ul-top2 li span {
	top: 10px;
}
.ul-top li .s1, .ul-top li .s2, .ul-top li .s3 {
	color: #fff;
}
.ul-top li span.s1 {
	background: #ff6b66;
}
.ul-top li span.s2 {
	background: #ff8652;
}
.ul-top li span.s3 {
	background: #ffa742;
}

/*动态边栏*/
.site2 .c9 {
    margin-top: 20px;
width: 370px;

	float: left;
	position: relative;

}
.site2 .c9, .site2 .c9 .news {
    overflow: hidden;

    background: #ffffff;
}
.site2 .c9 ul li span.hid {
    float: left;
    width: 60px;
    height: 37px;
    line-height: 37px;
    text-align: center;
    border-right: 1px solid #ececec;
    color: white;
    background-position: 21px -289px;
}	
.site2 .c9 ul li span.hid {
background-image: url(/img/siteConn_bg.gif);
}
.site2 .c9 ul li span.htitle {
    float: left;
    margin: 0 0 0 5px;
    width: 232px;
    height: 37px;
    line-height: 37px;
    overflow: hidden;
}
.site2 .c9 ul li {
    float: left;
    width: 357px;
    height: 37px;
    overflow: hidden;

}


#main1k{width:1000px; height:auto; margin:0 auto;}
.addgbox{  margin-top:15px; margin-bottom:5px;}
/*下载页*/
.weizhi{ height:40px; line-height:40px; font-size:14px; color:#666;}
.weizhi a{ color:#666;}
.weizhi a:hover{ color:#03a3e8;}
.weizhi span{ float:left; width:16px; height:15px; background:url(../images/new_dnxtc.png) no-repeat -425px -322px; margin:13px 5px 0 0;}
.weizhi .red{color:#ff5552; margin-right:5px;}

.rg_title{height:34px; border-bottom:1px solid #efefef; font-size:20px; color:#333; font-weight:bold;} 
.rg_titlels{height:34px; border-bottom:1px solid #358ff0; font-size:18px; color:#358ff0; font-weight:bold;} 
.rg_titlerj{ line-height:44px; height:44px; border-bottom:1px solid #efefef; font-size:20px; color:#333; font-weight:bold;} 
.zzlb{margin-top:13px;}

.fldhbox{ margin-bottom:12px;}
.jlbox{ margin-bottom:77px;}
.jhbox{ -margin-bottom:20px;}
.list_a{padding-left:281px;margin-top:-78px;}
.list_a a{ display:block; float:left; border-radius:5px; overflow:hidden; width:110px; height:34px; margin-right:20px;}
.list_a a span{ display:block; float:left; width:36px; height:100%;}
.list_a a em{ display:block; float:left; width:72px; height:32px; border:1px solid #e8e8e8; border-left:none; text-align:center; border-radius:0 5px 5px 0; line-height:32px; font-size:14px; color:#666;font-style:normal;}
.list_a a span{background:url(../images/new_dnxtc.png) no-repeat;}
.list_a a.sc span{ background-color:#ff5e5e; background-position:-370px -361px;}
.list_a a.zt span{ background-color:#22c66e; background-position:-408px -361px;}
.list_a a.jc span{ background-color:#59aff8; background-position:-179px -403px;}
.list_a a.pl span{ background-color:#ff8200; background-position:-446px -361px;}
.list_a a.sc:hover em{ color:#ff5e5e;}
.list_a a.zt:hover em{ color:#22c66e;}
.list_a a.jc:hover em{ color:#59aff8;}
.list_a a.pl:hover em{ color:#ff8200;}
.baidufx{padding-left:281px;margin-top:44px;}
.baidufx p
{float:left; font-size:14px; color:#666; line-height:39px;}
.baiduztfx{-padding-left:281px;margin-top:24px;}
.baiduztfx p
{float:left; font-size:14px; color:#666; line-height:39px;}
/*下载地址*/
.clearfix{zoom:1;}
.clearfix:after,.w1k_box:after,#main1k:after,.xzdzbox:after{clear:both; height:0px; font-size:0px; visibility:hidden;display:block;content:" ";}
.xzdzbox .tab_list{float:left; width:310px;}
.xzdz_title{ height:25px; line-height:25px; margin:-4px auto 10px; overflow:hidden;}
.sortbox{ margin-bottom:20px;}
.xzdzbox{ overflow:hidden; margin:-11px 0 -3px 0;}
.xzdz_title{ line-height:62px; font-size:18px; color:#292f33; font-weight:bold;}
.sortbox{ margin-bottom:20px;}
.sort_title{ height:40px; line-height:40px; text-align:center; font-size:18px; color:#fff; background:#47cf98;}
.sort_list{margin-top:-1px; overflow:hidden;}
.sort_list dl{ height:95px; overflow:hidden;}
.sort_list dl dt{ width:20px; padding: 6px 8px; height:100%; height: 90px;float:left; text-align:center;font-size:14px; color:#fff; font-weight:bold;line-height: 20px;}
.sort_list dl dt.dt1{ background:#a5de8c; border-bottom:1px solid #a5de8c;}
.sort_list dl dt.dt2{ background:#59aff8; border-bottom:1px solid #96e2b5;}
.sort_list dl dt.dt3{ background:#a7d3ed; border-bottom:1px solid #a7d3ed;}
.sort_list dl dt.dt4{ background:#bab6e7; border-bottom:1px solid #bab6e7;}
/*.sort_list dl dt span{ display:block; height:100%; display:table-cell; vertical-align:middle;}*/

.sort_list dl dd{ width:340px; float:left; padding: 11.5px 0 1.5px 58px; line-height: 33px; border: 1px solid #3285ff;border-left: none;height:80px;}
.sort_list dl dd a{ display:inline-block; width:165px; line-height:28px; height:28px; font-size:14px; overflow:hidden;}
.sort_list dl dd a:hover{#358ff0;}
.sort_list dl dd a span{ float:left; width:18px; height:18px; margin-top:6px; margin-right:7px; border-radius:2px; background:#3285ff url(../images/new_dnxtc.png) no-repeat -192px -441px;}
.sort_list dl dd a span1{ float:left; width:18px; height:18px; margin-top:6px; margin-right:7px; border-radius:2px; background:#3285ff url(../images/new_dnxtc.png) no-repeat -192px -441px;}
.sort_list dl dd a span.xlei{ background-position:-325px -402px; background-color:#fff;}
.sort_list dl dd a span.xf{ background-position:-304px -405px; background-color:#fff;}
.xzdz_rg{ width:336px; height:auto; float:right; overflow:hidden;}
.xzdzbox .tab_list{float:left; width:310px;}

.sort_list dl.der dd{border-bottom:none; border-top:none; min-height:72px;}
.xiazaiy{float:left;margin-top:6px;}
.xiazaisoft{float:left;margin-top:12px;}
/*相关阅读*/
.other_title{ line-height:43px; font-size:18px; color:#333; border-bottom:1px solid #efefef;margin-top:18px;font-weight:bold;}
.xgyd_list{ width:800px; margin-right:-15px; padding:10px 0;}
.xgyd_list ul li{ width:385px; float:left; line-height:32px; height:32px; margin-right:15px;}
.xgyd_list ul li a{ font-size:14px; color:#666;}
.xgyd_list ul li a:hover{color:#03a3e8;}
.xgyd_list ul li a em{ display:block; float:left; width:350px; height:32px; overflow:hidden;font-style:normal;}
.xgyd_list ul li a span{ float:right; width:6px; height:10px; background:url(../images/new_dnxtc.png) no-repeat -478px -344px; margin-top:13px;}
.xgyd_list ul li a:hover span{background-position:-88px -36px;}
.ggbox{ width:670px; /*height:80px;*/ margin:10px 0;}
.ggbox img{ width:670px; height:80px;}
.clearfix{zoom:1;}
.clearfix:after,.w1k_box:after,#main1k:after,.xzdzbox:after{clear:both; height:0px; font-size:0px; visibility:hidden;display:block;content:" ";}

/*等级*/
.stars{ background:url(../images/new_dnxtc.png) no-repeat;width:85px; height:15px; line-height:15px; margin:2px 0 0 5px;display:block;}
.star5{background-position:-1px -414px;}
.star4{background-position: -19px -414px;}
.star3{background-position: -36px -414px;}
.star2{background-position: -53px -414px;}
.star1{background-position: -70px -414px;}
.star0{background-position: -88px -414px;}
.stars.star1b{ background-position:-53px -432px;}
.stars.star2b{ background-position:-36px -432px;}
.stars.star3b{ background-position:-19px -432px;}
.stars.star4b{ background-position:-1px -432px;}
.stars.star0b{ background-position:-70px -432px;}

/*返回顶部*/
.go_top{ width:68px; height:48px; overflow:hidden; position:fixed; bottom:140px; display:none;background:#879299; cursor:pointer; filter:Alpha(Opacity=70); opacity:0.7; right:0.5px !important; z-index:21474836479;}
.go_top span{ width:22px; height:12px;background:url(../images/new_dnxtc.png) no-repeat -106px -33px;text-indent:-1999px; display:block; margin:19px auto;}
.go_top:hover{background-color:#358ff0;}

/*下载器*/
.list_lf{ width:234px; float:left; margin-right:76px;}
.xz_list{ padding-top:20px;}
.list_md{ width:370px; float:left; margin-top:-8px; overflow:hidden;}
.fllist p{ line-height:28px; height:28px; float:left; width:166px; font-size:14px; color:#666; overflow:hidden;}
.fllist p.plf{ width:204px;}
.fllist p.plf2{ width:304px;}
.fllist p span{ color:#999; float:left;}
.fllist p em{ color:#666; float:left;}
.fllist .stars{margin: 7px 0 0 1px;}
.fllist p a{ color:#3aba6f;}

/*广告*/
.xzdz_rg{ width:336px; height:auto; float:right; overflow:hidden;margin-top:4px;}

/*安卓二维码*/
.ermwz{float:center;}
.tgrj_topR{ position:relative;margin-top:20px;width:125px; text-align:center; font-size:12px; line-height:20px;}
.tgrj_topR img{ margin-bottom:8px;vertical-align:top;width:100px;height:100px;}
.ewm_pa{display: none;position: absolute; right: 10px;top: 100px;padding:14px 5px 7px 5px;width:245px;height:245px; background: url(../images/azapp/app.png) no-repeat;}
.tgrj_topR .ewm_pa img{ float:left;width:245px;height:245px;}

/*bdshare*/
.bdsharedn { margin-top: 8px; height: 42px; }

.bdsharedn .bdshare-button-style1-24 a { background-image: url(../images/bdsharedn.png); background-repeat: no-repeat; width: 30px; height: 30px; padding-left: 0; margin-right: 13px; display: inline-block; }

.bdsharedn .bdshare-button-style1-24 a .bds_more { background-position: 0 0; }

.bdsharedn .bdshare-button-style1-24 a.bds_qzone { background-position: -46px 0; }

.bdsharedn .bdshare-button-style1-24 a.bds_tsina { background-position: -92px 0; }

.bdsharedn .bdshare-button-style1-24 a.bds_weixin { background-position: -138px 0; }

.bdsharedn .bdshare-button-style1-24 a.bds_tqq { background-position: -184px 0; }

.bdsharedn .bdshare-button-style1-24 a.bds_renren { background-position: -229px 0; }


.zixun-share { font-size: 16px; margin-top: 20px; height: 93px; color: #666; }

.zixun-share .bdshare-button-style1-24 a { height: 43px; margin-left: 0; margin-right: 0; }

.zixun-share .bds { background-image: url(../images/zixun-share.png); background-repeat: no-repeat; width: 150px; height: 40px; color: #fff; padding-left: 0; margin-top: 15px; margin-left: 20px; }

.zixun-share .bds.bds_qzone { background-position: 0 0; }

.zixun-share .bds.bds_tsina { background-position: 0 -50px; margin-left: 50px; margin-right: 50px; }

.zixun-share .bds.bds_weixin { background-position: 0 -100px;  margin-right: 50px; }

.zixun-share .bds.bds_tieba { background-position: 0 -150px; }

.zixun-next{border-bottom:#999999 1px dashed;margin-top: 13px;line-height:65px;margin-bootom:12px;border-top:#999999 1px dashed;}

/*换一换*/
.rmrj_list{ width:370px; margin-left:-30px;}
.rmrj_list ul li{ width:80px; float:left; margin-left:30px; margin:20px 0 0 43px;}
.rmrj_list ul li a{ display:block; height:100px;}
.rmrj_list ul li img{ width:80px; height:80px; border-radius:10px;}
.rmrj_list ul li em{ display:block; height:20px; overflow:hidden; text-align:center; font-size:14px; color:#666; margin-top:5px;font-style:normal;}
.rmrj_list ul li em:hover{color:#03a3e8;}
.site2 .rj {
    margin-top: 20px;
width: 370px;

	float: left;
	position: relative;

}
/*Win7 64系统*/

.content2{width: 1200px;margin: auto;height: auto;overflow: hidden;}
.ChannelBox1 {width:585px; overflow:hidden;}
.ChannelTit {height:24px; line-height:24px; overflow:hidden; width:100%;border-bottom: 3px solid #17a2e7;}
.ChannelTit h2 {display:inline-block; color:#FFF;height:24px; padding:0 10px; font-size:16px; background:#17a2e7; float:left; font-weight:normal;}
.ChannelTit h2 a{color:#FFF;}
.ChannelTit strong a:link,.ChannelTit strong a:visited {color:#FFF;}
.ChannelPic {float:left; padding-right:5px;}
.ChannelInfo {width:350px; float:right; height:140px; overflow:hidden;}
.ChannelInfo strong {line-height:25px; height:25px; display:block; width:100%;white-space: nowrap;text-overflow: ellipsis; overflow:hidden; font-size:16px;font-weight:normal;}
.ChannelInfo p {color:#999; font-size:14px; line-height:25px; line-height:20px;}
.ChannelInfo p a:link,.ChannelInfo p a:visited {color:#17a2e7;}
.ChannelList {width:100%; overflow:hidden;}
.ChannelList ul {float:left;}
.ChannelList li {width:100%; height:30px; float:left; overflow:hidden;}
.ChannelList li img {width:20px; height:20px; margin:5px 10px 0 0; float:left;}
.ChannelList span {display:block; height:25px; width:400px;white-space: nowrap;text-overflow: ellipsis; overflow:hidden;font-size:14px; line-height:30px; font-weight:normal; float:left;}
.ChannelList em {display:block; color:#999; float:right; height:25px; line-height:25px; overflow:hidden; font-style:normal;font-size:14px;}
.l{float:left}
.r{float:right}
.hr10, .hr101, .hr20,.hr5{clear:both;font-size:1px;line-height:100px;height:10px;overflow:hidden}
.hr101{border-bottom: 1px dotted #ccc;height: 10px;margin-bottom: 10px}
.hr20{height:13px}



#xzq {position: relative;border: 1px solid #ececec;margin-top:20px;padding-left:20px;padding-bottom: 20px;}
.ul-menu7 {   overflow: hidden;   border-bottom: 1px solid #f3f3f3;   margin: 17px 0 0 0;float:left;}
.ul-menu7 li {   float: left;   width: 80px;   text-align: center;}
.ul-menu7 li span {   display: block;   font-size: 16px;   font-weight: 700;   position: relative;   height: 35px;  line-height: 35px;   padding: 0 4px;}
.ul-menu7 .hover span, .ul-menu7 .on span, .ul-menu7 li span:hover {   color: #0288d1;}
.ul-menu7 li span {   display: block;   font-size: 16px;   font-weight: 700   position: relative;   height: 35px;    line-height: 35px;   padding: 0 4px;}
.ul-menu7 .on span span, .ul-menu7 li span:hover span {   position: absolute;  left: 0;    bottom: 0;   width: 80px;   height: 5px;   display: block;   background: url(http://www.cncrk.com/images/xxk1.png) no-repeat left top;}
.ul-menu7 .hover span, .ul-menu7 .on span, .ul-menu7 li span:hover {   color: #0288d1;}
.box-xz1 {   padding-top: 5px;   width: 350px;   float: left;    /* overflow: hidden; */}
.softname_blue {   display: inline-block;   line-height: 25px;   font-size: 14px;   font-weight: 800;       margin: 6px 0;   border: 1px bold #FFF0C6;   width: 260px;    }
.softname_blue {   width: 306px!important;}
.new-durl a, .xzq a {   width: 144px;   height: 24px  margin-bottom: 8px;   display: block; float: left;font-size: 14px;}
.new-durl .down2 a {   background: url(http://www.cncrk.com/images/softdbtn.png) no-repeat 0 -42px;}
.box-error {margin-top: 15px;color: #666;line-height: 34px;width: 235px;padding-left: 10px;height: 34px;margin-bottom:15px;float:right;text-align:right;padding-right: 12px;}
.box-error a {   color: #0092da;   text-decoration: underline;}
.sort_list2 dl{height: 95px;   overflow: hidden;}
.sort_list2 dl dt {   width: 20px;   padding: 6px 8px;   height: 100%;  height: 82px;   float: left;   text-align: center;   font-size: 16px;   color: #fff;   font-weight: bold;   line-height: 20px;}
.sort_list2 dl dt.dt2 {   background: #96e2b5;   border-bottom: 1px solid #96e2b5;padding-top:20px;}
.sort_list2 dl dt.dt3 {   background: #a7d3ed;   border-bottom: 1px solid #a7d3ed;}
.sort_list2 dl dt.dt4 {   background: #bab6e7;   border-bottom: 1px solid #bab6e7;}
.sort_list2 dl dt.dt2 span {   /*float: left; */   margin-top: 10px;}
.sort_list2 dl dd {   width: 255px;   float: left;   padding: 11.5px 0 1.5px 18px;   line-height: 33px;   border: 1px solid #a6d990;   border-left: none;   height: 80px;}
.sort_list2 dd a{   width: 100px;   height: 24px;   margin-bottom: 8px;   display: block;float: left;   font-size: 14px;}
.dn {   display: none;}
.hover {   /* background: url(../images/tab_line.gif) no-repeat center bottom; */   color: #009ff0;}
.opinfo img {   width: 48px;   height: 48px;   float: left;   margin-right: 6px;}
.opinfo{margin-bottom:20px;}
/*.xzq{margin-bottom:40px;} */
.downtu {   width: 240px;   height: 80px;   position: absolute;   left: -250px;   top: 108px;   background: url(../images/downtu.gif) no-repeat;   text-indent: -9999px;   overflow: hidden;}
.box-show-bg {   z-index: 111;   display: none;   background: #fff;   width: 580px;   padding: 0 15px;   border: 4px solid #0093d9;   padding-bottom: 20px;}
.box-show-bg h3 a {   float: right;   width: 33px;   height: 33px;   margin-top: 10px;   background: url(http://www.cncrk.com/images/chax.png) no-repeat left top;}
.box-show-bg textarea {padding: 10px;width: 558px;border: 1px solid #a9a9a9;background: #f9f9f9;height: 90px   outline: 0;color: #999;resize: none;height:110px}
.btn-apple {   width: 100px;   height: 30px;   line-height: 30px;   color: rgb(255, 255, 255);   font-size: 16px;   font-family: 宋体, 微软雅黑, "Microsoft Yahei";   outline: 0px;   margin: 10px 0px 0px;   background: rgb(0, 147, 217);   border-width: initial;   border-style: none;   border-color: initial;   border-image: initial;   border-radius: 5px;}
.box-show-bg h3 {   height: 54px;   line-height: 54px;   font-size: 16px;   color: rgb(102, 102, 102);   font-family: 宋体, 微软雅黑, "Microsoft Yahei";}
.main-dj .soft-list li {width:168px;height:240px}
.main-dj .soft-list li  img{width:168px;height:240px}
.c-hd .c-tab .hover {background: url(../images/tab_line.gif) no-repeat center bottom;   color: #009ff0;}
.lc{float: left;   width: 18px;   height: 18px;   margin-top: 8px;   margin-right: 7px;border-radius: 2px;background: #1ebc66 url(../images/new_lc.png) no-repeat -192px -441px;}
.dtt2 .lc:first-child{background-position: -325px -404px;background-color: #fff;}
.dtt2 .lc:nth-child(3){background-position: -304px -405px;background-color: #fff;}
.t3{margin-top: 3px;}
.dtt40{   width: 255px;   float: left;   padding: 6.5px 0 1.5px 18px;   line-height: 33px;   border: 1px solid #a6d990;   border-left: none;   height: 40px;}
.dt10{   width: 20px;   padding: 6px 8px;       height: 37px;   float: left;   text-align: center;   font-size: 16px;   color: #fff;   font-weight: bold;   line-height: 20px;background: #96e2b5;   border-bottom: 1px solid #96e2b5;}
#xzq .c-hd{height:50px}
#wypl{margin-top: 20px;   border: 1px solid #ececec;   padding: 10px 20px 0;margin-bottom:20px;}
.top_c_1 img{display:none}
.top_c_2 img{display:none}
.top_c_1  {   width: 246px;   height: 70px;   margin: 3px 0 8px 22px;   display: inline-block;   background: url(../images/liji_1.gif) no-repeat;   overflow: hidden;}
.top_c_2{   width: 246px;   height: 70px;   margin: -11px 0 8px 22px;   display: inline-block;   background: url(../images/xunlei_1.gif) no-repeat;   overflow: hidden;}
.top_c_1 {margin-bottom: 50px;   margin-top: 17px;}
.top_c_1:hover {   background: url(../images/liji_2.gif) no-repeat;}
.top_c_2:hover {   background: url(../images/xunlei_2.gif) no-repeat;}
.xzsbox .gghz2 {   display: inline-block;   width: 100%;   height: 66px;   float: left;   margin-right: 15px;   background: url(../images/downadr.gif) no-repeat;}
.xzsbox .gghz2 img {   width: 100%;   height: 100%;   display: none;}
.xzsbox{margin-top:20px}
.xzsbox .ggzy2{float:right;}
.xz_top{margin-top:20px;}
.sendErr-wrap {   padding: 6px 1px 6px 10px;   margin: 10px 0;   color: red;   border: 1px dashed #e0e0e0;   background: #fdfddf;margin-right:20px;}
.xzdzbox .tab_list {   float: left;   width: 340px;}
.sortbox {   margin-bottom: 20px;}
.sort_list2 {   margin-top: -1px;   overflow: hidden;}
.sort_list2 dl {   height: 95px;   overflow: hidden;}
.chsortbox .sort_list2 dl {   height: auto;}
.chsortbox .sort_list2 dl.gsdt {   border-bottom: 1px solid #efefef;   padding-bottom: 10px;   margin-bottom: 10px;}
.sort_list2 dl dt {   width: 20px;   padding: 6px 8px;   height: 100%;   height: 82px;   float: left;   text-align: center;   font-size: 16px;   color: #fff;   font-weight: bold;   line-height: 20px;}
.sort_list2 dl dt.dt2 {   background: #96e2b5;   border-bottom: 1px solid #96e2b5;}
.chsortbox .sort_list2 dl dt, .sort_list2 dl dd, .sort_list2 dl dt span {   float: none!important;   width: 100%;}
.chsortbox .sort_list2 dl dt {   background: none!important;   border: none!important;   font-size: 14px;   color: #292f33;   height: 20px;   padding: 0;   text-align: left;   margin-bottom: 6px;}
.chsortbox .sort_list2 dl.gsdt dt {   font-size: 14px;}
.chsortbox .sort_list2 dl dt, .sort_list2 dl dd, .sort_list2 dl dt span {   float: none!important;   width: 100%;}
.sort_list2 dl dt.dt2 span {   float: left;   margin-top: 10px;}
.chsortbox .sort_list2 dl dd {   padding: 0;   border: none;   height: auto;   min-height: 0!important;   overflow: hidden;}
.chsortbox .sort_list2 dl.gsdt dd {   margin: -10px 0 0 -5px;}
.chsortbox .sort_list2 dl.gsdt dd a {   width: 150px;   height: 40px;   line-height: 40px;   font-size: 15px;   color: #fff;   background-color: #f90;   text-align: left;   margin: 14px 0 0 20px;}
.chsortbox .sort_list2 dl.gsdt dd a span {   width: 16px;   height: 17px;   background: url(../images/xzbtn.png) no-repeat!important;   margin: 12px 8px 0 15px;   display: block;}
.chsortbox .sort_list2 dl dd a {   width: 50%;   font-size: 13px;   color: #9ea0a2;   line-height: 30px;   height: 30px;   overflow: hidden;   margin-bottom: 0;   text-align: center;   width: auto;   margin: 0 45px;}
.chsortbox .sort_list2 dl dd a span {   display: none;}
.sort_list2 dl dd a span {   float: left;   width: 18px;   height: 18px;   margin-top: 6px;   margin-right: 7px;   border-radius: 2px;    }
.down-jisu {display: block;  width: 348px;  margin-top: 5px; padding-bottom: 10px;  margin-bottom: 5px;margin-left:15px}
.down-jisu a{display: block;  width: 160px;  height: 30px;  line-height: 30px;  color: #333;  font-size: 14px;  border-radius: 3px;  float: left;  margin: 0 14px 2px 0;padding-top:10px}
.down-jisu a i{display: inline-block;  width: 36px;  height: 34px;  background: url(../images/arrow_icon.png) no-repeat;float: left;}
.chsortbox .sort_list2 dl.gsdt dd a:hover {  opacity: 0.8;}
.down-jisu a:hover{text-decoration:underline}
.chsortbox .sort_list2  .dt3 span {color: #9ea0a2;}

.xzbox-lf{ float:left; padding:17px 0 6px; width:314px;margin-top:23px}
.xzbox-lf h4{ font-size:16px; font-weight:700; line-height:26px; margin-bottom:14px; width:295px; }
.xzbox-lf .title{ font-weight:400; color:#666; }
.xzbox-lf ul{ padding-bottom:12px; }
.xzbox-lf ul li{ float:left; padding:9px 13px 2px 0; }
.xzbox-lf ul li a{ display:block;width: 144px;height:30px;line-height:30px;background-color:#06b537;color:#fff;overflow:hidden;position:relative;font-size: 13px;text-indent: 34px;}
.xzbox-lf ul li a:hover{ background-color:#04a536; }
.xzbox-lf ul li a i{ background:url(../images/icosprit.png) no-repeat -98px -60px; display:block; position:absolute; left:8px; top:5px; width:20px; height:20px; overflow:hidden; }
.xzbox-gh{ float:right; width:524px; padding-top:20px; }
.xzbox-gh img{ display:block; }

