@charset "UTF-8";
body
{font-size:14px;font-family:"Microsoft Yahei", "微软雅黑", Tahoma, Arial, Helvetica, STHeiti;_font-family:Tahoma,Arial,Helvetica,STHeiti;
color:#666;
background:#fffff;
}

body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,tr,dl,dt,dd
{
margin:0;
padding:0;
}

.hd_top {
	background-color:#f5f5f5;
    border-bottom: 1px solid #eaeaea;
    font-size: 12px;
    font-family: "宋体";
    color: #333;
	display:block;
	height:28px;
}
.wd {
    width: 1200px;
    margin: 0px auto; display: block;
}
.clearfix {
}
.hd_top span {
    float: left;
    height: 25px;
    line-height: 25px;
}
.hd_top span.topnav {
    float: right;
}

html #hm_t_14541 .hm-t-unfold-button-txt {
    color: #fff;
    background: #666;
    display:none;
}

li
{
list-style-type:none;
}

img
{
border:0;
padding:0;
margin:0;
}

input,select,button
{
font-size:14px;
vertical-align:middle;
}

a:link,a:visited
{
color:#666;
text-decoration:none;
}

a:hover
{
color:#0076cd;
text-decoration:none;
}

a
{
outline:none;
}

a:active
{
star:expression(this.onFocus=this.blur());
}

.fl
{
float:left
}

.fr
{float:right}

.fc
{float:center}
.mg
{
margin:0 auto;
}
.mglogo
{
margin:0 auto;
}

.w1000
{
width:1200px;
}
.w1200
{
width:1200px;
}
.m10
{
margin-top:10px;
}

.clearBoth:after
{
visibility:hidden;
display:block;
font-size:0;
content:".";
clear:both;
height:0;
}

* html .clearBoth
{zoom:1;}

*:first-child + html .clearBoth
{zoom:1;}

.header .soicon,.sokey,.button,span.txt-img,ul.m-d li,ul.m-x,.header .fg
{
background:url(../images/header_bg.png)  no-repeat 0 0;
}

.header
{
-width:1200px;
-overflow:hidden;
position:relative;
}
.headerlogo
{
width:1200px;
overflow:hidden;
position:relative;
}
.header .top
{
margin:20px 0 0;
height:70px;
overflow:hidden;
width:1200px;
}

.header .top .logo
{
float:left;
width:439px;
height:70px;
-margin-left:10px;
}
.header .top .logo a
{
display:block;
width:439px;
height:70px;
background:url(../images/wwwlogo.png) no-repeat 0 0;
}

.header .top .search
{
float:right;
margin:6px 0 0;
}

.header .top .search .soicon{
float:left;
width:72px;
height:34px;
margin:6px 0 0;
font-size:0;
background-position:0 0;
}

.header .top .search .sokey
{
float:left;
width:460px;
height:44px;
line-height:44px;
font-size:14px;
border:0;
text-indent:10px;
background-position:0 -52px;
}

.header .top .search .button
{
float:left;
width:98px;
height:44px;
line-height:44px;
color:white;
cursor:pointer;
border:0;
background-position:-477px -52px;
}

.hd_search_key{margin-top:-14px;font:12px "Microsoft YaHei";height:35px;overflow:hidden}
.hd_search_key a{padding-left:13px;color:#666666}
.hd_search_key a:hover{color:#03a3e8}
.hd_search_key span{color:#a1a1a1}
.fl{float:left;padding-left:643px;}
.f1search{float:left;padding-left:643px;}

.header .menu
{
	width:1200px;
overflow:hidden;
margin:0 auto 0px;
}

.header .menutop
{
overflow:hidden;
}

.header .menu ul.m-d{
width:1200px;
height:39px;
background:#358ff0;
}

.header .menu ul.m-d span.txt-img
{
float:left;
width:20px;
height:39px;
margin:0px;
background-position:0 -114px;
}

.header .menu ul.m-d li
{
float:left;
padding:0 26px;
height:39px;
line-height:39px;
margin-right:1px;
color:white;
font-size:16px;
font-weight:bold;
background-position:0 -204px;
}

.header .menu ul.m-d li.hover
{
background-position:0 -165px;
}

.header .menu ul.m-d li a
{
color:white;
}

.header .menu ul.m-d li a:hover
{
color:#d6e5ef;
}

.header .menu ul.m-d li.hover a
{
color:black;
}

.header .menutop_bg ul.menutop li i
{
display:block;
width:34px;
height:20px;
position:absolute;
top:102px;
background:url(/img/dede_icon.gif);
float:right;
}

.menutop_bg ul.menutop li i.new{
right:269px;
background-position:0 -20px;
}

.menutop_bg ul.menutop li i.hot
{
right:413px;
background-position:0 0;
}

.header .menu ul.m-x
{
width:1200px;
height:40px;
overflow:hidden;
padding:0 0 0 20px;
background-position:0 -243px;
background-repeat:repeat-x;
font-size:14px;
}

.header .menu ul.m-x li
{
float:left;
line-height:30px;
margin:0 8px;
display:inline;
}

.header .menu ul.m-x li.fg
{
float:left;
width:1px;
height:15px;
overflow:hidden;
margin-top:8px;
background-position:-410px -125px;
}


.menutop_bg {

	-width:1200px;

	background-color:#358ff0;

	margin:0 auto 5px;

}

.menutop {

	width:1200px;

	height:48px;

	background-color:#358ff0;

	line-height:48px;

	color:#FFFFFF;

	font-size:14px;

	margin-bottom:5px;

	margin:auto;

}

.menutop li {

	float:left;

	padding:0px 0px 0px 0px;

	font-size:14px;

	font-weight:normal;	

}

.menutop li a {

	color:#FFF;

	display:inline-block;

	padding:0px;

	width:145px;

	font-weight:normal;

	text-align:center;

	font-size: 18px;
-font-weight:bold;

}

.menutop li a b {

	padding:0px;

	display:inline-block;

	height: 40px;

	line-height: 40px;

	text-align:center;

	width:145px;

	cursor:pointer;

	font-weight:normal;

}

.menutop li a:hover,.menutop li.press  a {

	background-color:#2b71c2;

	width:145px;

	color:#FFFFFF;

	text-align:center;

	text-decoration:none;

	font-weight:normal;
-font-weight:bold;

}
.menutop-item { width: 133px; font-size: 18px; text-align: center; float: left; color: #fff; }

.menutop-item:hover, .navbar .nav-item.cur { background: #2b71c2; }

.header .fotbr
{
width:1200px;
height:1px;
overflow:hidden;
margin:0 auto;
background:#ececec;
}

.footer
{
width:1200px;
overflow:hidden;
}

.footer p
{
display:block;
}

.footer p.help
{
height:39px;
line-height:30px;
text-align:center;
background-position:0 0;font-family:Arial;color:#666666;
}

.footer p.help a
{
margin:0 10px;
color:#666666;
}

.footer p.help a:hover
{
color:#1b8add;
}

.footer p.zinfo
{
text-align:center;
line-height:2.0;
background-position:0 -34px;
color:#666;
font-family:Arial;
font-size:13px;
font-weight:normal;
}
.site_links{width:1200px;overflow:hidden;position:relative;background:#ffffff;}.site_links .title{border-left:1px solid #ececec;border-right:1px solid #ececec;}.site_links .title span{float:right;margin-right:10px;}.site_links .linklist{width:1200px;padding:10px;line-height:2.0;border-top:none;}.site_links .linklist a{margin-right:10px;}.site_links b{display:block;width:17px;height:17px;position:absolute;bottom:0;_bottom:-2px;}.site_links b.l{left:0;background-position:0 -508px;}.site_links b.r{right:0;background-position:-18px -508px;}

/*reset css*/
*{margin:0;padding:0;list-style:none;}
body{-height:900px;font-family:'microsoft yahei';}
/*main css*/
.izl-rmenu{position:fixed; left:50%; margin-left:602px; bottom:10px; padding-bottom:73px; ) 0px bottom no-repeat; z-index:999; }
.izl-rmenu .btn{width:72px; height:73px; margin-bottom:1px; cursor:pointer; position:relative;}
.izl-rmenu .btn-qq{background:url(../images/r_qq.png) 0px 0px no-repeat; background-color:#6da9de;}
.izl-rmenu .btn-qq:hover{background-color:#488bc7;}
.izl-rmenu a.btn-qq,.izl-rmenu a.btn-qq:visited{background:url(../images/r_qq.png) 0px 0px no-repeat; background-color:#6da9de; text-decoration:none; display:block;}
.izl-rmenu .btn-wx{background:url(../images/r_wx.png) 0px 0px no-repeat; background-color:#78c340;}
.izl-rmenu .btn-wx:hover{background-color:#58a81c;}
.izl-rmenu .btn-wx .pic{position:absolute; left:-100px; top:0px; display:none;width:100px;height:100px;}
.izl-rmenu .btn-phone{background:url(../images/r_phone.png) 0px 0px no-repeat; background-color:#fbb01f;}
.izl-rmenu .btn-phone:hover{background-color:#ff811b;}
.izl-rmenu .btn-phone .phone{background-color:#ff811b; position:absolute; width:160px; left:-160px; top:0px; line-height:73px; color:#FFF; font-size:18px; text-align:center; display:none;}
.izl-rmenu .btn-top{background:url(../images/r_top.png) 0px 0px no-repeat; background-color:#fbb01f; display:none;float: left;}
.izl-rmenu .btn-top:hover{background-color:#ff811b;}

/*底部 css*/
#fd{width:100%;border-top:1px solid #ececec;text-align:center;line-height:24px;color:#666;font-family:Arial;background:#fafafa;font-size:12px;height:116px;margin-top:45px;}
#fd .p1{margin-top:18px;color:#666}
#fd a{padding:0px 18px;font-size:12px;color:#666}
#fd a:hover{color:#358ff0}
.wp{width:1200px;margin:0 auto}
/*右侧固定 css*/
#box{float:left; position:relative;width:370px;}
.div1{width:370px;margin-top:13px;}
.div2{position:fixed;_position:absolute;top:0;z-index:250;}

/*侧栏跟随*/
.sidebar{float:right;width:360px;position:relative;}
.widget {
                margin-top: 10px;
	clear: both;
	position: relative;
	margin-bottom: 15px;
	background-color: #fff;
	border-radius: 4px;
	border: 1px solid #eaeaea;
	overflow: hidden;
}
.widget h3 {
	font-size: 18px;
	color: #666;
	border-bottom: 1px solid #eaeaea;
	background-color: #fbfbfb;
	margin: 0;
	padding: 11px 15px 10px;

}
.widget.affix {
	position: fixed;
	width: 360px;
}
.widget .title strong {
	border-bottom-color: transparent
}
.widget .title .btn {
	position: absolute;
	top: 5px;
	right: 10px;
	font-weight: normal;
	padding: 2px 7px 1px
}
/* textwidget ======================================================================================================== */
.textwidget {
	padding: 15px;
	color: #777;
}
.textwidget a {
	color: #45B6F7;
}
.textwidget a:hover {
	color: #45B6F7;
	text-decoration: underline;
}
.textwidget ul{
	margin-bottom: 10px;
	margin-left: 32px;
	list-style-type: disc;
}
.textwidget ol{
	margin-bottom: 10px;
	margin-left: 32px;
	list-style-type: decimal;
}
.textwidget p:last-child, .textwidget ul:last-child, .textwidget ol:last-child{
	margin-bottom: 0;
}

/* widget_ui_textads ======================================================================================================== */
.widget_ui_textasb {
	border: none;
	border-radius: 0
}
.widget_ui_textasb a {
	display: block;
	padding: 0 15px 15px;
	border: 1px solid #eaeaea;
	background-color: #fff;
	font-size: 12px;
	border-radius: 4px;
}
.widget_ui_textasb a h2 {
	font-size: 20px;
	font-weight: normal;
	margin-top: 14px;
}
.widget_ui_textasb a p {
	color: #999;
	margin-bottom: 0;
}
.widget_ui_textasb a strong {
	margin: -1px 0 0 0;
	display: inline-block;
	padding: 4px 15px;
	color: #fff;
	font-size: 14px;
	font-weight: normal;
}
.widget_ui_textasb a:hover {
}


.widget_ui_textasb a.style04{color: #C35BFF;}
.widget_ui_textasb a.style04:hover{border-color: #C35BFF;}
.widget_ui_textasb a.style04 strong{background-color: #C35BFF;}