body{margin:0;padding:0;min-width:1080px;background:#4c9ada;font-size:12px;font-family:"微软雅黑","Arial";_background-image:url(about:blank);_background-attachment:fixed;}/*ie6下fix属性防抖*/
img{vertical-align:top;}
h1,h2,h3,form,img,ul,ol,li,dl,dt,dd,div,span,p,blockquote,input{margin:0;padding:0;border:0;font-style:normal;font-weight:normal;}
li{list-style:none;}
input{background:none;}
.clear{visibility:hidden;clear:both;line-height:0}
.clearfix:after{visibility:hidden;display:block;font-size:0;content:"";clear:both;height:0}
a:link,a:visited{color:#30303a;text-decoration:none}
a:hover,a:active{color:#0071f3;text-decoration:underline;}
/*public*/
.w1080{width:1080px;margin:0 auto;height:100%;}
.fl{float:left;}
.fr{float:right;}
.box h3{width:100%;height:22px;text-align:center;line-height:22px;font-size:14px;color:#fff;margin-bottom:1px;background:#0f0f0f;}
.header,#selectClass, #selectClass span, #selectform .selsbmt, .proud li a.khd, .proud li a.zbt, .proud li a.zdm, .proud li a.tpz, input.log_btn {
    background:url("http://www.yesky.com/TLimages2009/yesky/images/index/index_bg.png") no-repeat;
}
 /*top*/
    .main_nav{height:37px;background: none;}
    .main_nav .ysearch_box{display:none;}
    .main_nav div.w1000{margin:0 auto;padding:0;width:100%;}
    .top_site{font-family:"Arial","Microsoft YaHei","微软雅黑";background:#1766a7;color:#fff;margin-bottom:11px}
	.top_site a,.keys a,.proud li a{color:#fff}
    .top_site div.area{background:#1766a7;height:26px;line-height:26px;width:1080px;margin:0 auto;}
    .group_sites dt,.group_sites dd{float:left;display:inline-block;padding:0 12px}
    .group_sites dt{padding:0 3px}
    .group_sites dd{border-left:1px solid #4c9ada}
    .group_sites dd.show{background-position:62px -391px}
    dd.yesky{background:#4c9ada}
    dd.sub_sites,.log a.login{position:relative;cursor:pointer;background-position:62px -372px;z-index:9999}
    dd.sub_sites p{display:none;width:272px;padding:7px 0;position:absolute;top:26px;left:0;background:#1766a7;border-top:1px solid #fff;line-height:28px}
    dd.sub_sites p a{display:inline-block;padding:0 8px;margin-left:12px}
	 /*header*/
    #UserLogin{float:right;text-align:right}
    #UserLogin dl{float:left;position:relative;z-index:4}
    #UserLogin dd{display:none;width:240px;padding:0 16px 10px;position:absolute;background:#1766a7;border-top:1px solid #fff;text-align:center;color:#4c9ada;right:-29px}
    #UserLogin dd p{line-height:40px;font-size:14px}
    #UserLogin dd form{text-align:left;width:240px;height:50px}
    #UserLogin dd form span{float:left;width:170px}
    #UserLogin dd form span input{width:160px;height:22px;padding:0 5px;margin-bottom:6px;background:#fff;color:#4c9ada;line-height:22px}
    input.log_btn{float:right;text-align:center;width:60px;height:50px;line-height:50px;background-position:-153px -316px;color:#4c9ada;cursor:pointer;font-size:14px}
    #UserLogin dd a{display:inline-block;margin:0 auto}
    #UserLogin dd a:link,#UserLogin dd a:visited{color:#eaff00}
    #UserLogin dt{padding:0 10px;margin-right:14px;background-position:38px -372px;cursor:pointer}
    #UserLogin dl.show dt{background-position:38px -391px}
    .header{width:1080px;height:76px;margin:0 auto;padding-top:2px;font-family:"Arial","Microsoft YaHei","微软雅黑";clear:both}
    .logo{float:left;width:190px;height:76px;margin:0 15px}
    .ys_box{float:right;width:815px;padding-top: 0;}
    #selectClass{float:left;width:59px;height:35px;line-height:22px;margin-top:7px;background-position:0 -128px;color:#fff;cursor:pointer;position:relative;z-index:3}
    #selectClass ul{width:60px;background:#3784c3;line-height:28px;text-align:center;position:absolute;top:35px;left:0}
    #selectClass li.show{background:#ff8e42}
    #selectClass span{display:block;width:43px;padding-right:7px;margin:7px 9px 7px 0;text-align:center;background-position:-8px -165px}
    #selectform{float:left;width:441px;height:35px;padding-top:7px}
    #selectform .seltext{float:left;height:33px;width:380px;background:#fff;border:1px solid #3784c3;line-height:33px;border-right:0;text-indent:12px}
    #selectform .selsbmt{float:right;width:60px;height:35px;background-position:0 -78px;cursor:pointer}
    .keys{float:left;clear:left;width:500px;line-height:30px;white-space:nowrap;}
    .keys a{display:inline-block;margin-right:17px;}
    .proud{float:right;width:260px;height:78px;padding-right:5px;margin-top:-2px;overflow:hidden;line-height:22px}
    .proud li{float:left;display:inline-block;width:43px;padding-right:21px;margin-left:1px;text-align:center;  overflow: hidden;}
    .proud li a{display:block;width:43px;white-space:nowrap}
    .proud li a.khd,.proud li a.zbt,.proud li a.zdm,.proud li a.tpz{height:50px;text-indent:99em;overflow:hidden;white-space:nowrap}
    .proud li a.khd{background-position:-141px -78px}
    .proud li a.zbt{background-position:-141px -128px}
    .proud li a.zdm{background-position:-141px -178px}
    .proud li a.tpz{background-position:-141px -228px}
	.sch_nav{background:#fff;font-size:18px;}
	.nav {width:100%;height:50px;line-height:50px;border-bottom: 2px solid #000;}
	.nav a{padding:0 5px 0 35px;}
	.sch_nav a{color:#0a50a1;}	
/*内容区*/
.current {color:#fff;font-family:"宋体";line-height:35px;padding:0 0 2px 10px;background:#303436;border:1px solid #cfd0d1;border-left:none;clear:both;}
.current a, .current span {display:inline-block;margin:0 4px;color:#fff;}
.topic{width:1070px;background:#fff;padding:15px 5px;overflow:hidden;}
.topic .con_left{width:740px;padding-right:15px;border-right:1px solid #d2d2da;overflow:hidden;float:left;}
.title{padding:16px 15px 2px 25px;text-align:center;position:relative;}
.con_left .title h1{z-index:999;position:relative;font-weight:normal;font-size:28px;font-family:"微软雅黑","黑体";line-height:36px}
.title div.detail{padding:9px 0 10px;color:#a5a5b2;line-height:25px}
.detail span{display:inline-block;padding:0 7px;vertical-align:middle}
.detail span.share{overflow:hidden;+width:178px;height:25px}
.detail a:link, .detail a:visited {color:#0a50a1;}
.formwh{border-bottom:1px solid #ddd;padding-bottom:3px;margin-bottom:3px;color:#666;}
.formwh .sline{padding:0px;}
.editphoto{width:50px;text-align:center;position:absolute;top:20px;right:25px;height:62px;display:none;}
.editphoto span{position:absolute;top:0;left:4px;width:42px;height:42px;background:url(http://www.yesky.com/TLimages2009/yesky/images/content/eidphoto.png) no-repeat 0 -1px;_background:url(http://www.yesky.com/TLimages2009/yesky/images/content/eidphoto.gif) no-repeat 0 -1px}
.editphoto p{line-height:24px;color:#666;}
.titleimg{width:580px;height:60px;overflow:hidden;margin:0 auto;}
.titleimg img{width:580px;height:60px;}
.topic .con_right{width:300px;float:right;_padding-left:0px;}
.con_right h1{height:50px;font-size:36px;text-align:center;}
.con_right h1 a:link,.topic_l h1 a:visited{color:#fff;}
.article{ font-size:14px;line-height:24px;padding-left:10px;}
.article p{color:#000;padding:5px 15px;}
.article p a{color:#0a50a1;}
.editor{clear:both;float:left;height:39px;padding-top:15px;width:500px;padding-left:15px;}
.editor span{display: inline-block;padding-right: 14px;}
.weibo11{overflow:hidden;margin:22px auto 20px;padding:5px 32px 0 8px;width:408px;height:113px;border:1px solid #7ea1cd;position:relative;}
.welc11{font-size:24px;line-height:38px;width:100%;font-family:"微软雅黑","黑体";padding-left:124px;color:#0f43f9;padding-top:5px;}
.welc11 p{font-size:16px;color:#000;line-height:20px;padding:0px;}
.welc11 p.dysj{padding-top:14px;}
.welc11 p.dysjone{line-height:30px;}
.welc11 a{display:block}
.y_wx11{width:100px;position:absolute;padding:108px 8px 8px;left:0;top:0;color:red;text-align:center;background:url(http://www.yesky.com/TLimages2009/yesky/images/content/wxem.jpg) no-repeat 8px 8px;font-size:12px;line-height:20px}
.tita {border-bottom:3px solid #5d5d6c;clear:both;color:#5d5d6c;
font-family:"微软雅黑","黑体";font-size:24px;line-height:42px;margin:12px 0 7px;}
.articledown .djlook{width:765px;}
.articledown .djlook li{width:220px;height:220px;float:left;margin-right:34px;font-size:14px;}
.articledown .djlook li img{width:220px;height:166px;margin-bottom:6px;}
.con_right .erweima{height:73px;padding:10px 8px;background:#242729;}
/*页码*/
.pages{clear:both;margin:0 auto;padding:27px 0 33px;width:638px;vertical-align:middle;text-align:center;font-size:16px;line-height:17px}
.pages a,.pages font,.pages span{display:inline-block;vertical-align:middle}
.pages a:link,.pages a:visited{display:inline-block;margin:10px 2px;padding:7px 14px 6px;height:17px;border:1px solid #0a50a1;text-decoration:none}
.pages span{margin:0 2px;padding:7px 14px 6px;height:17px;background:#f3f3f9;border:1px solid #f3f3f9;}
.pages font a:link,.pages font a:visited{padding:5px 0 6px;width:70px;height:17px;background:#918e8e;color:#0b0b0b}
.pages a.readall:link,.pages a.readall:visited{border:1px solid #0a50a1;background:#0a50a1;color:#fff;font-size:14px;font-family:"宋体"}
.article .pages a:active,.article .pages a:hover,.article .pages font a:hover,.article .pages font a:active,.article .pages a.readall:hover,.article .pages a.readall:active{border:1px solid #0071f3;background:#0071f3;color:#fff}
/*本文导航*/
.jumpall span.sbt{font-size:16px;font-family:"微软雅黑","黑体";line-height:28px;padding-left:15px;}
.jumpall ul{float:left;width:100%;padding:7px 15px 11px;font-size:12px;}
.jumpall ul li{+white-space:nowrap;width:auto;float:left;background:#0a50a1;color:#fff;padding:1px 1px 1px 10px;display:block;margin:0 12px 12px 0;height:23px;text-decoration:none;line-height:23px;vertical-align:top}
.jumpall ul li a{float:right;+float:none;background:#fff;margin-left:8px}
.jumpall ul li a:hover,.jumpall ul li a:active{color:#0071f3;text-decoration:none}
.jumpall ul li:hover{background:#0071f3}
.jumpall ul li span{padding-right:12px}
/*页码*/
.saymore{position:relative;}
.disclaimer{position:absolute;bottom:16px;color:#ff0000;}
.service-wrap-w a{color:#999 !important;}
.like .circle span,.like .prev,.like .next{background:url(http://www.yesky.com/TLimages2009/yesky/images/aio/qhicon.gif) no-repeat;}
.like{width:340px;height:255px;overflow:hidden;position:relative;}
.like .circle{width:70px;height:12px;position:absolute;left:210px;top:32px;padding-left:10px;}
.like .circle span{width:12px;height:12px;background-position:0px -56px;float:left;margin-right:8px;overflow:hidden;}
.like .circle span.show{background-position:0px -70px;}
.like .prev,.like .next{width:28px;height:26px;position:absolute;top:25px;}
.like .prev{left:180px;}
.like .next{right:25px;background-position:0px -28px;}
.like_lm{margin-right:50px !important;}
.like ul{width:1200px;position:absolute;left:0px;}
.like .kd li{width:340px;float:left;height:265px;overflow:hidden;}
.lookme li{background:url(http://www.yesky.com/TLimages2009/yesky/images/aio/dot1.gif) no-repeat 0px center !important;line-height:28px !important;font-size:14px;padding-left:12px;}
.like blockquote dt{background:url(http://www.yesky.com/TLimages2009/yesky/images/aio/dot1.gif) no-repeat 0px center;padding-left:5px;line-height:28px;font-size:14px;}
.like blockquote dt a{padding-left:10px;}
.like ul li a{color:#0a50a1;}
.con_right .erweima dt{float:left;margin-right:14px;white-space:nowrap;display:inline;}
.con_right .erweima dd{color:#999;line-height:22px;width:196px;float:left;}
.con_right .erweima dd h2{color:#fff;font-size:16px;line-height:28px;white-space:nowrap;}
.box{border-top:3px solid #c9c9d6;margin-top:16px;margin-bottom:10px;width:300px;float:left;}
.box .titb{float:left;clear:both;margin-top:-3px;padding:0 10px;height:38px;border-top:3px solid #ff7f2c;color:#ff7f2c;font-size:20px;font-family:"微软雅黑","黑体";line-height:38px;font-weight:normal;}
.box dl{width:300px;clear:both;}
.box dl a{color:#30303a;}
.box dl.show{height:110px;background:#f3f3f9;}
.box dl.show dd{display:block;}
.box dl dt{font-size:14px;line-height:30px;}
.box dl dt span{width:12px;height:12px;float:left;color:#fff;text-align:center;line-height:12px;margin-right:6px;margin-top:10px;font-size:12px;background:#999;}
.box dl dt span.bg{background:#f60;}
.box dl dd{padding:10px 15px 10px 0px;color:#999;display:none;_width:293px;}
.box dl dd img{width:80px;height:60px;float:left;padding-right:8px;}
.box dl dd p{*float:left;}
.jdrc strong{clear:both;display:block;padding:0 10px;font-weight:normal;font-family:"微软雅黑","黑体";}
.jdrc strong a{padding:0 3px;font-size:14px}
.jdrc strong a.zt18{font-size:18px}.jdrc strong a.zt20{font-size:20px}.jdrc strong a.zt24{font-size:24px}.jdrc strong a.zt30{font-size:30px}
.lubotu .circle span,.lubotu .prev,.lubotu .next{background:url(http://www.yesky.com/TLimages2009/yesky/images/aio/qhicon.gif) no-repeat;}
.lubotu{width:300px;height:285px;position:relative;overflow:hidden;margin-bottom:20px;}
.lubotu h2{height:22px;background:#0f0f0f;line-height:22px;color:#fff;font-size:12px;text-align:center;margin-bottom:1px;}
.lubotu .gdtu{width:300px;height:226px;overflow:hidden;}
.lubotu ul{width:1300px !important;position:absolute;left:0px;} 
.lubotu ul li{width:300px;height:226px;float:left;position:relative;overflow:hidden;}
.lubotu ul li img{width:300px;}
.lubotu ul li p{height:30px;line-height:30px;text-align:center;position:absolute;bottom:0px;left:1px;width:100%;}
.lubotu ul li p.tm{opacity:0.6;background:#000;filter:alpha(opacity=60);}
.lubotu ul li p a{color:#fff;}
.lubotu .circle{width:80px;height:12px;position:absolute;left:105px;bottom:8px;padding-left:10px;}
.lubotu .circle span{width:12px;height:12px;background-position:0px -56px;float:left;margin-right:8px;overflow:hidden;}
.lubotu .circle span.show{background-position:0px -70px;}
.lubotu .prev,.lubotu .next{width:28px;height:26px;position:absolute;bottom:0px;}
.lubotu .prev{left:70px;}
.lubotu .next{right:70px;background-position:0px -28px;}
/*热门文档切换*/
.box ul li,.box .titbs span.show{background:url(http://www.yesky.com/TLimages2009/yesky/images/content/art_bg0930.gif) no-repeat;}
.box .titb{display:block;float:left;clear:both;margin-top:-3px;padding:0 10px;height:38px;border-top:3px solid #ff7f2c;color:#ff7f2c;font-size:20px;font-family:"微软雅黑","黑体";line-height:38px;font-weight:normal;position:relative;z-index:9}
.box .titbs span{float:left;margin-top:-3px;padding:0 10px;height:38px;color:#ff7f2c;font-size:18px;font-family:"微软雅黑","黑体";line-height:38px;cursor:pointer}
.box .titbs span.show{border-top:3px solid #ff7f2c;background-position:center -355px;line-height:32px;position:relative;z-index:9}
.box ul{clear:both;padding:0 0 0 12px;line-height:26px}
.box ul li{padding-left:10px;background-position:-58px -244px;white-space:nowrap;width:270px;overflow:hidden}
/*页脚*/
#foot{clear:both;}
.channel_content{margin:0 auto;padding:12px 0 35px;width:1080px;color:#1766a7;text-align:center;font-size:12px;font-family:"Arial";line-height:28px;}
.channel_content a {margin:0 5px 0 11px}
.channel_content span{display:block;color:#1766a7;}
.channel_content a:link,.channel_content a:visited {color:#f3f3f9;text-decoration:none}
.channel_content a:hover,.channel_content a:active {color:#f3f3f9;text-decoration:underline}
/* 广告*/
.mlp_yesy_inner_column_1{text-align:center;margin:0 auto;padding-bottom:10px;padding-top:6px;background:#fff;}
#ac_wrap_1000812{margin:0 auto;padding-top:10px;padding-left:40px;}
.mlp_yesky_bottom_column{margin:0 auto;display:none;}
.mlp_yesky_inner_bottom_banner{clear:both;}
.mlp_yesky_smallcolumn{margin:0 auto;padding-bottom:10px;width:1080px;}
.mlp_yseky_inner_button2{margin-left:-5px;}
.abox{width: 1080px;clear:both;overflow: hidden;background: #fff}
.mlp_yseky_inner_rbutton{margin-bottom:15px;}
#BAIDU_DUP_wrapper_u1647445_0{clear:both;}
#BAIDU_DUP_wrapper_u2226103_0,#BAIDU_DUP_wrapper_u2226206_0,#BAIDU_SSP__wrapper_u2226206_0{width:760px;float:left;height:90px;}
#BAIDU_DUP_wrapper_u2226108_0,#BAIDU_DUP_wrapper_u2226218_0,#BAIDU_SSP__wrapper_u2226218_0{width:320px;float:right;height:90px;}
.mlp_yesky_in_column1_left,.mlp_yesky_in_dicolumn1_left{float:left;width:760px;}
.mlp_yesky_in_column1_right,.mlp_yesky_in_dicolumn1_right{width:320px;float:right;}
.mlp_yseky_inner_rtbutton{margin-top:10px;}
.mlp_yesky_in_dicolumn1_left,.mlp_yesky_in_dicolumn1_right{background:#fff;margin-bottom:15px;padding-bottom:0px\9;}
.mlp_yesky_fuceng_column,#BAIDU_DUP_wrapper_u2399314_0{position:fixed;left:50%;bottom:34px;margin-left:-480px;}
#BAIDU_DUP_wrapper_u2226206_0,#BAIDU_DUP_wrapper_u2226218_0,#BAIDU_SSP__wrapper_u2226206_0,#BAIDU_SSP__wrapper_u2226218_0{background:#fff\9;padding-bottom:15px\9;}/*底部广告id加的样式与上一行同指的一个广告*/
/*IE6-IE9隐藏底部广告*/.jywise_ad,#ac_wrap_1000812{display:none\9;}
/*相关产品*/
.inpro ul li.wtg strong a:link,.inpro ul li.wtg strong a:visited{color:#30303a}
.inpro{clear:both;padding:6px 0 0;font-family:"宋体";}
.inpro dl{float:left;width:152px}
.inpro dt{clear:both;padding:5px 0;width:150px;height:150px;border:1px solid #d3d3e2;text-align:center;vertical-align:middle;display:table-cell}
.inpro dd{float:left;width:auto}
.inpro dd a{display:inline-block;margin:7px 7px 0 0;width:46px;height:30px;vertical-align:middle;text-align:center;line-height:30px}
.inpro dd a:link,.inpro dd a:visited{background:#0a50a1;color:#fff}
.inpro dd a:hover,.inpro dd a:active{background:#0071f3;color:#fff;text-decoration:none}
.inpro dd.nmr a{margin-right:0}
.inpro ul{float:left;clear:right;width:480px}
.inpro ul li{overflow:hidden;float:left;padding-left:20px;width:220px;height:28px;white-space:nowrap;line-height:28px}
.inpro ul li a:link,.inpro ul li a:visited,.rear a:link,.rear a:visited{color:#0a50a1}
.inpro ul li a:hover,.inpro ul li a:active{color:#0071f3}
.inpro ul li.wtg{width:460px;font-family:"宋体"}
.inpro ul li.wtg strong{font-weight:normal;font-size:22px;font-family:"微软雅黑","黑体"}
.inpro ul li a{display:inline-block;margin-right:26px}
.inpro table{width:100%;margin-top:9px;border-top:1px solid #c9c9d6;border-left:1px solid #c9c9d6;line-height:24px}
.inpro table td{padding:7px 10px;border-right:1px solid #c9c9d6;border-bottom:1px solid #c9c9d6}
.inpro table th{border-right:1px solid #c9c9d6;background:#ff7f2c;color:#fff;font-size:16px;font-family:"微软雅黑","黑体";line-height:30px}
.wshop,.price{width:112px}
.rmb{display:inline-block;color:#dc0000;font-size:16px;font-family:arial}
.serv{width:143px}
.inpro table td.center,a.zdjsc:link i,a.zdjsc:visited i,a.zdjsc:link em,a.zdjsc:visited em,dl.today dd a span{color:#dc0000}
.article a.buy:link,.article a.buy:visited{display:inline-block;padding:0 6px;background:#0a50a1;color:#fff;text-decoration:none;font-size:12px;line-height:25px}
.article a.check:link,.article a.check:visited{display:inline-block;margin:7px 0 7px 220px;padding:0 31px;background:#0a50a1;color:#fff;text-decoration:none;font-size:18px;font-family:"微软雅黑","黑体";line-height:50px}
.article a.buy:hover,.article a.buy:active,.article a.check:hover,.article a.check:active,.readnav dd a:hover span.no,.readnav dd a:active span.no{background:#0071f3}
.con_right .kjxw{height:93px;width:300px;}
/*相关搜索样式 神马*/
.related-search .header{background: none;width: 730px;}
.related-search a:link{text-decoration: none;color: #333}
.related-search {margin-bottom: 20px;margin-top: 20px;overflow:hidden;}
.related-search .change {cursor: pointer;float: left/*background-image: url("http://www.yesky.com/TLimages2009/yesky/images/ywap15/keyicon.jpg");background-position: 0 50%;background-repeat: no-repeat;background-size: 16px 14px;color: #666;font-size: 14px;height: 34px;line-height: 34px;padding-left: 23px;position: absolute;
    right: 10px;top: 0;background-size: 16px*/}
.related-search .change img{width: 16px;vertical-align: middle;}
.related-search li {background-color: #fff;border-bottom: 1px solid #e6e6e6;border-right: 1px solid #e6e6e6;box-sizing: border-box;float: left;height: 34px;line-height: 34px;text-align: center;width: 50%;}
.related-search li:nth-of-type(2n) {border-right:0 none;}
.related-search li:nth-of-type(1), .related-search li:nth-of-type(2) {border-top: 1px solid #e6e6e6;height: 34px}
.related-search li a {display: block;cursor:pointer;font-size: 14px;height: 100%;width: 100%; color:#505050;}
.related-search li .c-red {color: #c00;}
.header h2 {float:left;width:654px;height: 34px;line-height: 34px;position: relative;font-size:20px;    font-weight: normal;}
.section .header {border-color: #000 transparent transparent;border-style: solid;border-width: 2px 0 0;height: 34px;line-height: 34px;position: relative;margin:0 10px;}
/* 文章内容页新增加新媒体二维码*/
.newshare{width: 600px;margin: 22px auto 20px;}