*{margin: 0;padding: 0;list-style: none;}
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote,dl, dt, dd, ul, ol, li,pre,form, fieldset, legend, button, input, textarea,th, td{margin:0;padding:0;}
h1, h2, h3, h4, h5, h6{font-size: 100%; font-weight: normal;}
address, cite, dfn, em, var{font-style: normal;}
code, kbd, pre, samp {font-family: courier new, courier, monospace;}
small{font-size: 12px;}
ul, ol{list-style: none;}
legend {color: #000;}
fieldset, img {border: 0;}
button, input, select, textarea {font-size: 100%;}
table {border-collapse: collapse; border-spacing: 0;font-size: inherit;}
body,button,input,select,textarea{font: 15px/25px "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;color: #333;}
input,select,textarea{font-size:100%; outline: none;}
button{cursor:pointer; outline: none;}
a{text-decoration: none;color:inherit;outline:none;}
a:hover{text-decoration:none;}
a:focus{outline:none;}
input::-ms-clear{display:none;}
input[type="password"]::-ms-reveal{display:none;}



@font-face {font-family: "iconfont";
  src: url('http://res.itkeyword.com/css/iconfont.eot'); /* IE9*/
  src: url('http://res.itkeyword.com/css/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('http://res.itkeyword.com/css/iconfont.woff') format('woff'), /* chrome、firefox */
  url('http://res.itkeyword.com/css/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('http://res.itkeyword.com/css/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:15px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-notice:before { content: "\e615"; }
.icon-arrowup:before { content: "\e60c"; }
.icon-arrowdown:before { content: "\e60d"; }
.icon-selected:before { content: "\e60e"; }
.icon-arrowright:before { content: "\e600"; }
.icon-close:before { content: "\e616"; }
.icon-sort:before { content: "\e612"; }
.icon-arrowleft:before { content: "\e601"; }
.icon-search:before { content: "\e60b"; }
.icon-qq:before { content: "\e602"; }
.icon-tag:before { content: "\e603"; }
.icon-text:before { content: "\e604"; }
.icon-fav-fill:before { content: "\e605"; }
.icon-fav:before { content: "\e606"; }
.icon-tcweibo:before { content: "\e60a"; }
.icon-wchat:before { content: "\e607"; }
.icon-sina:before { content: "\e608"; }
.icon-time:before { content: "\e609"; }
.icon-edit:before { content: "\e60f"; }
.icon-safe:before { content: "\e610"; }
.icon-pic:before { content: "\e613"; }
.icon-kechengliebiao:before { content: "\e614"; }
.icon-mic:before { content: "\e611"; }
.icon-success:before { content: "\e617"; }



.tips{
	position: fixed;
	top: 50%;
	left: 48%;
	background: #FF9900;
	padding: 5px 15px;
	color: #fff;
	border-radius: 5px;
	border: 2px solid #f2f2f2;
	z-index: 99999;
}
.error_tips{
	color: #ff7777;
}
.J_LogTabCon .error_tips{
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 5;
}
/* float */
.fn-left,.fn-right {display:inline;}
.fn-left {float:left;}
.fn-right {float:right;}
.fn-clear{*zoom: 1;}
.fn-clear:before,.fn-clear:after{ display: block;line-height:0; height:0;content:"";}
.fn-clear:after{clear:both;}
.fn-hide {display:none;}
body{padding-top: 110px;background-color: #fff;}
.layout{width: 1000px; margin: 0 auto;}
.icon{background: url('http://res.itkeyword.com/images/itkeyword/logo-bk.png') no-repeat; }

/*header*/
.header{position: fixed;top:0;left: 0;z-index: 77;background-color: #fff; width: 100%; height: 80px;border-bottom: 1px solid #34a853;}
.logo{width: 244px; height: 26px; margin-top: 10px;}
/**  text-indent: -999em; **/
.logo a{display: block;width: 100%;height: 100%;background-position: 0 0;}
.nav{margin-top: 20px;margin-left: 50px;}
.nav li{position: relative; float: left; display: inline;margin: 0 10px;font-size: 15px; line-height: 36px}
.nav li a{display: inline-block;color: #414439;}
.nav li.active a,.nav li a:hover{border-bottom: 3px solid #b0ca56;}
.nav li.active a{font-weight: bold;}
.nav li i{position: absolute; top: 5px; right:-5px; display: block;width: 5px; height: 5px;background-color: #f67e15; border-radius: 50%;}
.header .user{margin-top: 27px; color: #949888;line-height: 26px;position: relative; height: 50px;}
.header .user a:hover{color: #BD7300;}
.header .user img{width: 24px; height: 24px; border: 1px solid #e0e0e0; border-radius: 50%; vertical-align: middle;}
.header .user:hover ul{display: block;}
.header .user ul {
	display: none;
	background: #fff none repeat scroll 0 0;
    border: 1px solid #b0ca56;
    left: 12px;
    padding: 5px 0;
    position: absolute;
    text-align: center;
    top: 38px;
    width: 120px;
}
.header .user ul .arrow {
  	height: 7px;
    margin: -14px 0 0 35px;
    overflow: hidden;
    position: absolute;
    top: 7px;
    width: 12px;
    z-index: 10008;
}
.header .user ul li a {
	display: block;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
}
.header .user ul li a:hover{
	background: #b0ca56;
	color: #fff;
}
.notice_icon{
	display: none;
	background: #f67e15;
	width: 6px;
	height: 6px;
	border-radius: 6px;
	position: absolute;
	right: -6px;
	top: 2px;
}
.notice-num {
	display:-moz-inline-box;
	display:inline-block;
	display:none;
	width: 20px;
	padding: 0 5px;
	background-color: #f67e15;
	border-radius: 10px;
	color: #fff;
	font-size: 12px;
	line-height: 18px;	
}
.search{position: relative; height: 28px;width: 140px; margin-top: 25px; margin-right: 20px; padding: 0 30px 0 10px;border-radius: 15px;border: 1px solid #f0f0f0;line-height: 28px;}
.search input{height: 26px; width: 140px; border: none;border-radius: 14px; background-color: #fff;font-size: 12px; line-height: 26px;}
.search input::-webkit-input-placeholder { color:#a4a79b; }
.search input::-moz-placeholder { color:#a4a79b; }
.search input:-ms-input-placeholder{color: #a4a79b;}
.search button{position: absolute; top: 0; right: 10px;border: none;border-radius: 5px;background-color: #fff; color: #afb2a5; line-height: 28px;}
.search:hover{border-color: #a0c816;}
.search:hover button{color: #a0c816;}

/*footer*/
.footer{background-color: #f5f6f3;padding-top: 45px;}
.logo-bot{width: 313px; height: 45px; background-position: 0 -15px; text-indent: -999em;}
.footer-nav{color: #dedede;}
.footer-nav a{margin: 0 10px; color: #949888;}
.footer dl{padding: 20px 0;}
.footer dt{float: left;width: 80px;color: #afb2a5;}
.footer dd{float: right;width: 920px;}
.footer dd .fn-right a{color:#abada0;}
.footer dd .iconfont{font-size: 18px;}
.frd-link{margin-top: 15px; border-bottom: 1px solid #eaebe6;}
.frd-link dd a{color: #949888; margin: 0 10px;position: relative;}
.our_weichat img{position: absolute;top: -140px;left: -50px;display: none;}
.our_weichat:hover img{display: block;}
.cooper{line-height: 50px;}
.cooper p{float: left;height: 50px;}
.cooper a{display: table-cell; height: 40px;padding:5px 10px; vertical-align: middle;}
.cooper img{display: block; max-height:40px;}
.copyright{height: 30px;background-color: #eaebe6; color: #76796b;font-size: 12px; line-height: 30px; text-align: center;}
.footer a:hover{color: #a0c816;}

/*recommend*/
.main{padding-bottom: 50px;min-height: 600px;}
.main-left{width: 670px;}
.main-right{width: 300px;}
.slide{position: relative; width: 660px;}
.slide .imgs{position: relative;width: 100%;height: 300px;overflow: hidden;background: url('') no-repeat center;}
.slide .imgs li img{width: 100%; display: block; margin: 0 auto;}
.slide .imgs li {display: none;position: absolute;left: 0;width: 100%;height: 100%;overflow: hidden;z-index: 1;}
.slide .imgs li.next{display:block;left: 100%;z-index: 2}
.slide .imgs li.pre{display:block;left: -100%;z-index: 2}
.slide .imgs li.active{display:block;left:0;z-index:3;}
.slide .imgs a{position: relative; display: block;width: 100%; height: 100%;}
.slide .imgs h2{position: absolute;left: 0;bottom: 0;z-index: 9;width: 95%;padding: 30px 2.5% 20px; color: #FFF;font-size: 24px; line-height: 30px;background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6) 100%);background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6) 100%); background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6) 100%);background: linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6) 100%);
}
.slide .icon-dir{position: absolute; top:50%; left: 20px; z-index: 66; margin-top: -20px; display: block;width: 40px; height: 40px; background-color: rgba(255,255,255,0.3);border-radius: 50%; color: #6c797a;line-height: 40px; text-align: center; }
.slide .icon-dir:hover{background-color:#fff;}
.slide .icon-dir.next{left: auto;right: 20px;}
.slide .icon-dir .iconfont{font-size: 20px;}
.vector{position:absolute; bottom:15px; width:95%; padding: 0 2.5%; display: block; text-align: right; z-index: 20;}
.vector li{display: inline-block;width: 5px;height: 5px;overflow-y: hidden;border-radius: 5px;background: rgba(255,255,255,0.8);margin-right:5px;cursor: pointer;vertical-align: middle; transition:all linear 0.3s;}
.vector li.on{width: 10px;height: 10px;background: #a0c816;}
.slide .title-tag{position: absolute; top: 0; left: 20px;z-index: 7; background-color: #414439;opacity: 0.8; }
.title-tag{display: block;height: 24px; padding: 0 18px; background-color: #a0c816; border-bottom-left-radius: 3px; border-bottom-right-radius: 5px;color: #fff;font-size: 12px; line-height: 24px;  letter-spacing: 2px; }
.recommend-list{margin: 20px 0;}
.recommend-list li{position: relative;padding: 50px 0 38px;border-top: 1px solid #e2e2e2;}
.recommend-list li:last-child{border-bottom: 1px solid #e2e2e2;}
.recommend-list .title-tag{position: absolute; top: 0;left: 0;}
.recommend-list h2{ margin-bottom: 10px;font-size: 24px;line-height: 30px;}
.recommend-list .txt{
	color: #949888;
	margin-bottom: 5px;
	text-indent:2em;
	}
.recommend-list .tags{ color: #BD7300;margin-top: 16px;}
.recommend-list .tags a{margin-right: 5px;}
.recommend-list li.img{padding-right: 255px;}
.recommend-list .img-wrap{position: absolute; top: 55px;right: 0;width: 240px; height: 150px; border:1px solid #f1f1f1;background: url('') center no-repeat;}
.strategy-img{position: relative;}
.recommend-list .strategy-img{border: none;}
.strategy-img:before,.strategy-img:after{position: absolute;top: -4px; left: 4px;z-index: 1;content: '';width: 100%; height: 100%; border: 1px solid #e2e2e2;background: #fff url('') center no-repeat;}
.strategy-img:after{left: 2px; top: -2px; z-index: 2;}
.strategy-img a{position: relative;  z-index: 3;}
.strategy-img img{border: 1px solid #e2e2e2;}

.recommend-list li.img .place-img{position: absolute; top: 55px;right: 0;}
.recommend-list h2 a:hover{color: #BD7300;}
.recommend-con{height: 121px; overflow: hidden;}
.title-tag a:hover{color: #fff;}
.pages{margin: 30px 0;}
.pages a{display: inline-block;height: 25px;width: 25px;margin-right: 5px; border-radius: 13px;background-color: #eef2e5;color: #949888; font-size: 12px; line-height: 25px;text-align: center;}
.pages a:hover,.pages a.active{background-color: #a0c816; color: #fff;}
.pages a.vec{width: auto; padding: 0 15px;}
.focus-blk{border:1px solid #e2e2e2;padding: 25px; text-align: center;}
.focus-blk p{color: #949888;}
.code{position: relative; width: 130px; height: 130px; margin: 20px auto; padding: 10px;}
.code:before{position: absolute;top: 0;left: 0; z-index: 3; content: '';display: block;width: 15px; height: 15px;border: solid #a0c816;border-width: 1px 0 0 1px;}
.code:after{position: absolute;top: 0;right: 0; z-index: 3; content: '';display: block;width: 15px; height: 15px;border: solid #a0c816;border-width: 1px 1px 0 0;}
.code i:before{position: absolute;bottom: 0;left: 0; z-index: 3; content: '';display: block;width: 15px; height: 15px;border: solid #a0c816;border-width: 0 0 1px 1px;}
.code i:after{position: absolute;bottom: 0;right: 0; z-index: 3; content: '';display: block;width: 15px; height: 15px;border: solid #a0c816;border-width: 0 1px 1px 0;}
/** 8aaa1b BD7300 */
.cgreen{color: #BD7300 !important;}
.focus-blk .cgreen{line-height: 22px;text-indent:2em;}
.focus-blk h2{font-size: 18px;}
.share-link{height: 90px;margin:10px 0; background:#eef2e5 url('/images/xshare-bg.png') right top no-repeat;}
.share-link a{display: block; width: 100%; height: 100%; text-indent: -999em;}
.share-toutiao{height:130px;margin: 50px 0; background:#eef2e5 url('') right top no-repeat;}
.share-toutiao a{display: block; width: 100%; height: 100%; text-indent: -999em;}
.right-hd{line-height: 40px; border-bottom: 1px solid #e2e2e2;}
.right-hd h3{font-size: 18px;color:#bd7300;}
.right-hd a{display: block; height: 20px; padding: 0 10px;margin-top: 10px; background-color: #f67e15; border-radius: 10px; color: #fff;font-size: 12px; line-height: 20px;}
.right-hd a.more{background-color: #eef2e5;color: #BD7300;}
.tag-list{padding: 15px 0;}
.tag-list a{display: inline-block;height: 28px;padding: 0 15px;margin: 5px; border:1px solid #8aaa1b; border-radius: 15px; color: #414439; line-height: 28px;}
.tag-list a:hover,.tag-list a.active{background-color: #a0c816;border-color: #a0c816;color: #fff;}
.offline{margin: 20px 0;}
.offline .right-hd{border-bottom: none;}
.offline .right-hd a{ background-color: #eef2e5;color: #BD7300;}
.offline .review{position: relative;display: block;height: 225px;}
.offline .review img{border:1px solid #e2e2e2;}
.offline .title-tag{position: absolute; top: 0; right: 20px; background-color: rgb(65,68,57);opacity: 0.8}
.offline .review h2{position: absolute;bottom: 0; left: 0; width: 95%; padding: 0 2.5%; color: #fff; background-color: rgba(0,0,0,0.6);font-size: 18px; font-weight: 600;line-height: 40px; }
.offline .slide{position: relative; width: 300px;}
.offline .slide .imgs{position: relative;width: 100%;height: 225px;overflow: hidden;background: url('') no-repeat center;}
.offline .slide .icon-dir{position: absolute; top:50%; left: 0; z-index: 66; margin-top: -20px; display: block;width: 24px; height: 50px; background-color: rgba(255,255,255,0.3); color: #6c797a;line-height: 50px; text-align: center;border-radius: 0!important; }
.offline .slide .icon-dir.next{left: auto;right: 0;}
.btn-ghost{display: block;height: 38px;background-color: #fff; border:1px solid #f67e15; border-radius: 20px; color: #f67e15; font-size: 16px; line-height: 38px; text-align: center;}
.offline .btn-ghost{position: absolute; top: 237px; z-index:1;left: 30px; width: 240px; display: none;}
.offline .on .btn-ghost{display: block;}
.slide .icon-dir:hover{background-color:#fff;}
.activity-blk{position: relative;padding-left: 40px;}
.activity-blk h2{font-size: 16px; margin-bottom: 15px;}
.activity-blk p{color: #76796b;}
.icon-new{ display: block;width: 24px; height: 24px;background-position: -1px -64px;}
.activity-blk .icon-new{position: absolute; top: 0; left: 0; z-index: 2;}
.activity-blk .line{position: absolute; top: 0;left: 12px; display: block;width: 20px; height: 32px;border:solid #f67e15;border-width: 0 0 1px 1px; }
.activity-blk .line_r{position: absolute; top: 0;right: 12px; display: block;width: 20px; height: 32px;border:solid #f67e15;border-width: 0 1px 1px 0; }
.sider-job {height: 200px;position: relative;width: 300px;margin-top: 30px;}
.job-list {bottom: 20px;color: #fff;line-height: 1.7;position: absolute;right: 15px;text-align: right;}

/*experience*/
.left-hd h2{float: left; height: 24px;padding:0 15px; background-color: #a0c816; border-top-right-radius: 3px; border-bottom-right-radius: 5px; color: #fff; font-size: 12px;line-height: 24px; letter-spacing: 3px;}
.exp-list{margin-top: 0;}
.exp-list li{padding: 30px 0 42px; margin-bottom: 20px; border-top: none;border-bottom: 1px solid #e2e2e2;}
.exp-list li.img{padding-left: 255px;padding-right: 0;}
.exp-list li.img .img-wrap{right: auto;left: 0; top: 32px;}
.exp-list li.img .tags{margin-top: 8px;}

.exp-list1{margin-top: 0;}
.exp-list1 li{padding: 30px 0 42px;margin-bottom:20px; border-top: none;border-bottom: 1px solid #e2e2e2;}
.exp-list1 li.img .img-wrap{top: 31px;}
.exp-list1 li.img .tags{margin-top: 8px;}
/*opinion*/
.opinion-list{margin-top: 0;}
.opinion-list li{border-top: none; border-bottom: 1px solid #e2e2e2; padding: 30px 0 50px 70px; margin-bottom: 20px;}
.opinion-list .avartar{position: absolute; top:32px; left: 0; width: 48px; height: 48px; border:1px solid #e3e3e3; border-radius: 50%;}
.opinion-list .author{margin-bottom: 15px; border-bottom: 1px dashed #e2e2e2; color: #949888;line-height: 30px;}
.opinion-list .author b{color: #414439;font-weight: normal;}
.opinion-list .con{position: relative; padding-right: 170px;}
.opinion-list .con .img-wrap{position: absolute; top: 0; right: 0;width: 158px; height: 98px;}
.opinion-list .txt{height: 65px;}

/*story*/
.recommend-list .info .tags{margin-top: 13px;}
.recommend-list .from{color: #949888;}
.recommend-list .from img{position: relative; top:9px; width: 30px; height: 30px; border-radius: 50%;}
.recommend-list .from b{color: #414439;font-weight: normal;}

/*dynamic*/
.dynamic-list{margin: 30px 0 0 85px;}
.dynamic-list h2{margin-bottom: 15px;}
.dynamic-list li{padding: 0 0 70px 20px; border-top: none;border-bottom: none;border-left: 1px solid #e2e2e2;}
.dynamic-list li:last-child{border-bottom: none;}
.dynamic-list li:before{position: absolute; top: 10px; left: -4px; display: block;content: '';width: 3px; height: 3px;background-color: #fff; border: 2px solid #a0c816; border-radius: 50%; }
.dynamic-list .time{position: absolute; top: 0; left: -80px; width: 60px; color: #afb2a5;font-size: 25px; text-align: center; white-space: nowrap;}
.dynamic-list .time .day{border-top: 1px dashed #e2e2e2; font-size: 12px; line-height: 16px;}
.previous{display: inline-block;padding: 0 15px;margin-left: 43px; background-color: #eef2e5; border-radius: 13px; color: #949888;}
.dynamic-list .self h2{padding-left: 30px; background: url('/images/xmic.png') no-repeat 0 3px;}
.dynamic-list .oper{margin-top: 20px;}
.dynamic-list .oper .share-btn{height: 28px;line-height: 28px; border-color: #e2e2e2; color: #afb2a5;font-size: 12px;}
/*calendar*/
.calendar{position: fixed;top: 100px; right: 50%;margin-right: -500px; width: 300px; background: #FFF;}
.calendar .hd{position: relative; height: 90px; background-color: #a0c816;color: #fff;font-size: 16px; line-height: 90px; text-align: center;}
.calendar .hd a{position: absolute; top: 0;left: 10px;}
.calendar .hd a.next{left: auto;right: 10px;}
.calendar .con{padding: 15px; border:solid #e2e2e2;border-width: 0 1px 1px;}
.calendar table{width: 100%; color: #76796b;}
.calendar td,.calendar th{width: 30px; height: 30px; font-size: 12px; text-align: center; vertical-align:middle;}
.calendar th{font-weight: normal;}
.calendar td{color: #afb2a5;}
.calendar td a{display: block;width: 30px; height: 30px;color: #76796b; line-height: 30px; text-align: center;}
.calendar td.on a{background: #a0c816 ;border-radius: 50%; color: #FFF;}

/*strategy*/
.top-rec{height: 300px; width: 340px; overflow: hidden;}
.top-rec h2{float: left; margin-left:1px;margin-bottom: 1px; color: #fff; line-height:24px;}
.top-rec h2.w146{width: 146px; height: 150px;background:-webkit-linear-gradient(top, #f89719,#f46511);background:-ms-linear-gradient(top,#f89719,#f46511);background:-moz-linear-gradient(top,#f89719,#f46511);background:linear-gradient(top,#f89719,#f46511);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f89719', endColorstr='#f46511');}
.top-rec h2.w190{width: 190px; height: 150px;background:-webkit-linear-gradient(top, #b3d31a,#8dbd12);background:-ms-linear-gradient(top,#b3d31a,#8dbd12);background:-moz-linear-gradient(top,#b3d31a,#8dbd12);background:linear-gradient(top,#b3d31a,#8dbd12);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b3d31a', endColorstr='#8dbd12');}
.top-rec h2.w196{width: 196px; height: 149px;background:-webkit-linear-gradient(top, #656d4a,#434932);background:-ms-linear-gradient(top,#656d4a,#434932);background:-moz-linear-gradient(top,#656d4a,#434932);background:linear-gradient(top,#656d4a,#434932);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#656d4a', endColorstr='#434932');}
.top-rec h2.w140{width: 140px; height: 149px;background:-webkit-linear-gradient(top, #845db9,#583f97);background:-ms-linear-gradient(top,#845db9,#583f97);background:-moz-linear-gradient(top,#845db9,#583f97);background:linear-gradient(top,#845db9,#583f97);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#845db9', endColorstr='#583f97');}
.top-rec h2 a{position: relative; display: table-cell; padding:0 20px;vertical-align: middle;}
.top-rec h2 a:hover:before{position: absolute;top: 0;left: 0;display: block;content: '';width: 100%; height: 100%;background-color: rgba(255,255,255,0.2);}
.top-rec h2.w146 a,.top-rec h2.w146 a:before{width: 146px; height: 150px;}
.top-rec h2.w190 a,.top-rec h2.w190 a:before{width: 190px; height: 150px;}
.top-rec h2.w196 a,.top-rec h2.w196 a:before{width: 196px; height: 149px;}
.top-rec h2.w140 a,.top-rec h2.w140 a:before{width: 140px; height: 149px;}
.new-blk{ margin-top: 30px; border:1px solid #e2e2e2;}
.new-article{width:640px; margin-top: -1px;margin-left: -1px;}
.hd-flag h2{position: relative;height: 30px;padding: 0 15px; background-color: #a0c816; color: #fff;line-height: 30px;}
.hd-flag h2:before,.hd-flag h2:after{position: absolute;right: -15px;display: block;content: ''; width: 0; height: 0; overflow: hidden;border: 10px solid;}
.hd-flag h2:before{top: 0;border-color:#a0c816 transparent transparent #a0c816;}
.hd-flag h2:after{bottom: 0;border-color:transparent transparent #a0c816 #a0c816;}
.new-article ul{margin:10px 15px;}
.new-article li{position: relative;padding-left: 15px; border-bottom: 1px dashed #e2e2e2;color: #949888; line-height: 35px;white-space: nowrap;overflow: hidden;text-overflow:ellipsis;}
.new-article li:last-child{border-bottom: none;}
.new-article li:before{position: absolute;top: 16px; left: 0;display: block;content: '';width: 5px; height: 5px; border-radius: 50%;  background-color:#a0c816; }
.new-article li a{color: #414439; margin-left: 10px;}
.new-article li a:hover{color: #BD7300;}
.new-update{position: relative; width: 270px; padding: 22px 35px;height:115px; border-left: 1px solid #e2e2e2;}
.new-update .title-tag{position: absolute; top: 0; left: 20px;background-color: #eef2e5; color: #BD7300; font-size: 14px;}
.updates{ width: 270px; height: 115px; overflow: hidden; margin: 0 auto;}
.updates ul{width:600px; height: 100%;}
.updates li{float: left; width: 270px; height: 100%;}
.updates a{position: relative; display: block;height:95px; padding-right: 120px; padding-top: 20px; }
.updates a:hover{color: #BD7300;}
.updates .book-img{position: absolute;top: 0; right:6px;}
.book-img{position: relative; width: 87px; height: 115px;}
.book-img:before{position: absolute; top: 4px;left: 2px;z-index: 2; display: block;content: ''; width: 85px; height: 105px; border: 1px solid #e2e2e2; background: #fff url('') no-repeat center;background-size: 80% auto;}
.book-img:after{position: absolute; top: 8px;left: 4px;z-index: 1; display: block;content: '';width: 85px; height: 95px; border: 1px solid #e2e2e2; background-color: #fff;}
.book-img img{position: relative; z-index: 3; width: 85px; height: 113px; border: 1px solid #e2e2e2;}
.book-img i{position: absolute; top: 1px; left: 0;z-index: 4; display: block;height: 113px; width: 7px; background-color:#414439;opacity: 0.5;}
.updates h3{font-size: 16px;}
.updates .info{position: absolute; bottom: 0; left: 0; color: #afb2a5;}
.new-update .pre,.new-update .next{position: absolute; top:50%; left:5px;margin-top: -10px; color:#959989;}
.new-update .next{left: auto; right:5px;}
.new-update .iconfont{font-size:20px;}
.main-hd{margin-top: 30px;}
.main-hd h2{font-size: 18px;line-height: 30px;}
.main-hd .tag-list{padding:0;}
.main-hd .tag-list a{margin: 0 0 0 5px;}
.strategy-list{margin-top: 30px;}
.strategy-list li{float: left; height: 162px; width: 480px; overflow: hidden; padding-bottom:50px; margin-bottom: 50px; border-bottom: 1px solid #e2e2e2;}
.strategy-list li.even{padding-left: 40px;}
.strategy-list .book-img{width: 130px; height: 162px;}
.strategy-list .book-img:before{width: 120px; height: 150px;}
.strategy-list .book-img:after{width: 120px; height: 140px;}
.strategy-list .book-img img{width: 120px; height: 160px;}
.strategy-list .book-img i{width: 10px;height: 160px;}
.book-img .new{position: absolute; bottom: 0; right: -10px;z-index: 4; display: block;width: 50px; height: 50px;background-color: #a0c816; border-radius: 50%; color:#fff; text-align: center;font-family: Arial,arial;line-height: 18px;font-style: italic;}
.book-img .new b{display: block;margin-top: 8px; font-size: 24px; font-weight: normal;}
.strategy-list .detail{position: relative;height: 162px; width:330px;}
.strategy-list h3{margin-bottom: 15px;font-size: 24px;}
.strategy-list .txt{margin-bottom: 15px;color: #afb2a5;line-height: 20px;}
.strategy-list .go{display: block;height: 25px;padding:0 15px; background-color: #eef2e5;border-radius: 13px; color: #BD7300;font-size: 12px;}
.strategy-list .detail .bot{position: absolute; bottom: 0; left: 0;width: 100%;}
.strategy-page{margin-top: 0;}
.strategy-detail{height: 160px;margin-bottom: 30px; background-color: #eef2e5;}
.strategy-detail img{width: 255px; height: 160px;}
.strategy-detail .detail{width: 704px;padding: 20px;}
.strategy-detail h2{margin-bottom: 10px; font-size: 30px; line-height: 50px;}
.strategy-detail p{color: #949888;}
.strategy-detail b{color: #76796b; margin-right: 10px;}
/*search*/
.filter{margin-bottom: 30px;margin-top: 10px; color: #949888;}
.filter dl{margin-top: 15px;}
.filter dt,.filter dd{float: left;}
.filter dt{width: 60px;line-height: 30px;}
.filter dd{width: 600px;}
.filter .tag-list{padding: 0;}
.filter .tag-list a{margin: 0 10px 10px 0;}
.filter .tag-list a:hover,.filter .tag-list a.active{background-color: transparent;color: #BD7300;}
.place{
 color:#666;
}
/*detail*/
.article-hd{
	font-size: 30px; 
	line-height: 30px; 
	margin-top: 10px;
	color:#2b2b2b;
	text-align:center;
}
.article-intro{position: relative;width:660px; height: 203px; margin: 40px 0; background-color:#eef2e5;  border: 1px solid #eef2e5;}
.article-intro .title-tag{position: absolute; top: 0; right: 30px; z-index: 2;height: 25px; line-height: 25px;}
.article-intro .detail{width: 290px; padding: 20px;}
.article-intro .author{margin-bottom: 10px;padding-bottom: 10px; border-bottom: 1px dashed #d3d7ca;}
.article-intro .author img{width: 30px; height: 30px; border-radius: 50%; vertical-align: middle;}
.article-intro .author span{color: #949888;}
.article-intro .txt{color: #949888;}
.article-intro .txt b{color: #76796b;margin-right: 10px;}
.article-intro .tags{position: absolute;bottom:20px; left: 20px; color: #BD7300;}
.article-intro.no-img{height: auto;}
.article-intro.no-img .detail{width: auto;}
.article-intro.no-img .tags{position: static;margin-top: 20px;}
.article-intro.dynamic{height: auto;margin: 20px 0; background: #fff;border: none;}
.article-intro.dynamic .author{border: none;padding: 0;margin: 0;}
.article-intro.dynamic .tags{position: static;line-height: 30px;width:385px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.intro-tb{width: 100%; margin-bottom: 45px;}
.intro-tb td,.intro-tb th{font-size: 16px;padding: 8px; border: 1px solid #e2e2e2;text-align: center;color: #414439;line-height: 24px;}
.intro-tb th{width: 20%;font-weight: normal;}
.intro-tb td{width: 80%;}
.article-main{
	line-height: 1.8;
	padding:10px 5px;
	word-break: keep-all;
    word-wrap: break-word;	
}
.article-main a{
	color:#bd7300;
}
.article-main p{
	font-size: 16px;
	text-indent:1.5em;
	word-break: break-word;
}
.article-main h2,.article-main h3{margin-bottom: 20px; font-size: 20px;font-weight: bold;}
.article-main img{width: expression(this.width>660?660px:auto); max-width: 100%;height:auto;margin: 0 auto;display: block;}
.article-main blockquote p {
    color: #999;
    font-size: 14px;
    line-height: 1.6;	
	margin-bottom:1px;
}
.article-main blockquote a {
    color: #333;
}
.article-main blockquote a:hover,a.active{color: #BD7300;}
.article-oper{margin: 10px 0;}
.share-btn{display: block; height: 34px; padding: 0 20px;margin-right: 15px; border: 1px solid #f67e15;border-radius: 18px; color: #ea6d00; font-size: 16px; line-height: 34px;}
.share-btn .iconfont{font-size: 20px;}
.share-btn.wchat{border-color: #a0c816; color: #8aaa1b;position: relative;}
.share_weixin_img {left: 15px;position: absolute;top: -125px;display: none;}
.share-btn.wchat:hover .share_weixin_img{display: block;}
.article-oper .fav{color: #BD7300; line-height: 36px;}
.article-oper .fav a{display: inline-block; width: 36px; height: 36px;margin-left: 5px; background-color: #a0c816; border-radius: 50%; color: #fff; text-align: center; vertical-align: middle;}
.article-oper .fav .iconfont{font-size: 20px;}
.article-oper .fav .on{background-color: #eef2e5; color: #a0c816;}
.article-line{display: block; height: 0;width: 100%;margin-bottom: 20px; border: none; border-top:1px solid #e2e2e2;}
.article-detail .right-hd{border: none;}
/** eef2e5 	margin: 50px 0; **/
.article-note{
	padding: 5px 25px;
	background-color:#f5f5f5; 
	color: #999;
	line-height: 1.6; 
	font-size: 14px;
	text-indent:2em;
	margin:5px;
}
.article-note a{
	color:#333;	
}
.strategy-rec{margin-bottom: 30px;}
.strategy-rec li{float: left; width: 130px; margin-right: 30px;}
.strategy-rec a{display: block;}
.strategy-rec h3{margin: 10px 0 5px; line-height: 24px; font-size: 16px;}
.strategy-rec .info{font-size: 12px; color: #afb2a5;}
.strategy-rec .info span{color: #a0c816;}
.strategy-rec .book-img{width: 130px; height: 162px;}
.strategy-rec .book-img:before{width: 122px; height: 152px;}
.strategy-rec .book-img:after{width: 122px; height: 142px;}
.strategy-rec .book-img img{width: 120px; height: 160px;}
.strategy-rec .book-img i{height: 160px; width: 10px;}
.review-blk{margin-top: 40px;}
.review-blk .img{width: 50px;text-align: center;}
.review-blk .img img{width: 50px; height: 50px; border-radius: 50%; }
.review-blk .detail{width: 590px;color: #76796b;}
.review-blk textarea{width:570px;height: 70px; padding:10px;background-color: #fff; border:1px solid #e0e0e0;}
.review-blk .detail .oper{margin-top: 10px;}
.review-blk .detail .oper input[type="checkbox"]{margin-right: 5px;vertical-align: middle;}
.btn-org{display: block; height: 27px; padding: 0 20px; background-color: #f67e15;border: none; border-radius: 3px;color: #fff; line-height: 27px; }
.review-blk .icon{display: inline-block;width: 25px; height: 25px; vertical-align: middle;}
.icon-sina-color{background-position: -36px -63px;}
.icon-qq-color{background-position: -66px -65px;}
.review-list li  .detail{padding-bottom: 30px; border-bottom: 1px solid #e2e2e2}
.review-list .txt b{color: #BD7300; font-weight: normal;}
.review-list .reply-txt{padding-left: 10px;margin-bottom: 15px; border-left: 2px solid #a0c816; color: #949888; }
.review-list .reply_author{color: #a0c816;}
.review-list .reply{color: #e58837; margin-top: 20px;position: relative;}
.review-list .reply .J_Reply{position: absolute;right: 0;}
.review-list .reply .time{color: #76796b;}
.review-list .reply a.on{color: #afb2a5;}
.review-list .reply-blk{position: relative;padding-top: 10px; display: none;}
.reply-blk .icon-arrow{position: absolute; top: -1px; right: 10px; display: block; height: 12px; width: 13px; background-position: -103px -64px;}
.article-detail .pages{margin-left: 70px;}
.relative-list{}
.relative-list li{position: relative;padding:8px 0 5px 25px; border-bottom: 1px dashed #e2e2e2; color: #333;}
.relative-list li:last-child{border-bottom: none;}
.relative-list li i{position: absolute; top:13px; left: 0; display: block;width: 16px; height: 16px; background-color: #f67e15;border-radius: 50%; color: #fff;font-size: 12px;font-style: normal; line-height: 16px; text-align: center;}
.relative-list li a:hover{color: #BD7300;}
.relative-list li i.nth2{background-color:#ff9934;}
.relative-list li i.nth3{background-color:#ffa643;}
.relative-list li i.nth4{background-color:#ffb44f;}
.relative-list li i.nth5{background-color:#ffbf5a;}


/*login/register*/
.dialog-wrap{position: fixed;top: 0; left: 0;z-index: 999; width: 100%; height: 100%; background-color: rgba(0,0,0,0.3);}
.dialog{position: absolute; top:50%; left: 50%;width: 600px; height: 400px;margin-left: -300px; margin-top: -200px; background-color: #fff;}
.dialog .close{position: absolute; top: 20px; right: 20px; color: #a0a496; font-size: 21px;}
.log-tab{margin: 40px 45px 30px;}
.log-tab li{float: left; margin-right: 30px; color: #949888;font-size: 30px; line-height: 45px;cursor: pointer;}
.log-tab li.active{border-bottom: 3px solid #b0ca56; color: #414439;}
.log-main{ margin: 0 45px;}
.log-left{height: 250px;width: 245px; padding-right: 45px; border-right: 1px solid #edefed;}
.log-left p{display: block; margin-bottom: 15px;}
.log-left input,.select span{width: 223px;height: 36px; padding: 0 10px;background-color: #fff; border: 1px solid #e8e8e8; border-radius: 19px;color: #949888; line-height: 36px;}
.btn-log{display: inline-block; width: 245px; height: 38px;background-color: #b0ca56;border: 1px solid #b0ca56;border-radius: 20px; color: #fff;font-size: 16px; line-height:38px; text-align: center;}
.checkbox{position: relative;padding-left: 18px;cursor: pointer;}
.checkbox input{position: absolute; top: 0; left: 0; width: auto;height: auto;opacity: 0;}
.checkbox i{position: absolute; top: 0; left: 0; display: block;width: 12px; height: 12px; background-color: #fff;border: 1px solid #e9e9e9; border-radius:50%;}
.checkbox.checked i:before{position: absolute; top: 3px; left: 3px; display: inline-block;content: '';width: 6px; height: 6px; border-radius: 50%;background-color: #a0c816;}
.corg{color: #e58837 !important;}
.select{position: relative;z-index: 3; height: 38px; width: 245px; margin-bottom: 15px;}
.select span{position: absolute; top: 0;left: 0;z-index: 2; display: block;cursor: pointer;}
.select ul{position: absolute; top: 18px; left:0;z-index: 1;display: none; width: 243px;padding:25px 0 0; background-color: #fff;border:solid #e8e8e8;border-width: 0 1px 1px; }
.select li{line-height: 30px; color:#949888; }
.select a{display: block;padding: 0 10px;}
.select .active a,.select a:hover{background-color: #eee;}
.select:before,.select:after{position: absolute; right:10px;z-index: 3; font-family:"iconfont" !important;font-size:12px;font-style:normal;-webkit-font-smoothing: antialiased;-webkit-text-stroke-width: 0.2px;-moz-osx-font-smoothing: grayscale;}
.select:before{top: 3px; content:"\e60c";}
.select:after{top: 12px; content:"\e60d";}

.log-right{width: 200px;text-align: center;position: relative;}
.log-right h3{margin:15px 0 40px; color: #949888; font-size: 18px; }
.log-right .icon{display: inline-block; width: 40px; height: 40px;margin: 0 5px; position: relative;}
.icon-qq-big{background-position: -122px -64px;}
.icon-sina-big{background-position: -164px -64px;}
.icon-wchat-big{background-position: -206px -64px;}
#weixin_login_container{height: 340px;left: 0!important; overflow: hidden;position: absolute;top: -270px!important;width: 300px;display: none;}
.btn-log.btn-active{margin-right:8px; background-color: #fff;color: #87a12f;}
.active-dialog{text-align: center;}
.active-dialog .close{color: #fff;}
.active-dialog .btn-log{width: 240px;}
.active-dialog .hd{height: 83px;background-color: #b0ca56;color: #fff; font-size: 30px; line-height: 83px;}
.active-dialog .con{padding:35px 45px; color: #949888;}
.active-dialog p{margin-bottom: 30px;}
.ipt-email{display: none; height: 23px; padding: 0 5px; border: 1px solid #e0e0e0;border-radius: 3px; color: #949888; line-height: 23px;}
.active-dialog .mail{font-size: 16px;}

/*user center*/
.user-banner{position: relative; height: 320px;width: 1000px; margin-bottom: 20px;}
.user-banner .bg-img{height: 320px;width: 1000px;overflow: hidden;}
.bg-img>img{transform:scale(1); -webkit-animation: scaleImg 10s linear;-moz-animation: scaleImg 10s linear;-ms-animation: scaleImg 10s linear;animation: scaleImg 10s linear;}
@-webkit-keyframes scaleImg{
    0% {-webkit-transform: scale(1.2);}
    100% {-webkit-transform: scale(1);}
}
@-moz-keyframes scaleImg{
    0% {-moz-transform: scale(1.2);}
    100% {-moz-transform: scale(1);}
}
@-ms-keyframes scaleImg{
    0% {-ms-transform: scale(1.2);}
    100% {-ms-transform: scale(1);}
}
@keyframes scaleImg{
    0% {transform: scale(1.2);}
    100% {transform: scale(1);}
}
.user-blk{position: absolute; top: 0; left: 0; z-index: 2; width: 100%; height: 100%;}
.user-info{width: 320px; height: 320px;/* background-color: rgba(226,226,226,0.6); */background:-webkit-linear-gradient(top, rgba(236,236,236,0.7),rgba(113,113,113,0.7));background:-ms-linear-gradient(top,rgba(236,236,236,0.7),rgba(113,113,113,0.7));background:-moz-linear-gradient(top,rgba(236,236,236,0.7),rgba(113,113,113,0.7));background:linear-gradient(top, rgba(236,236,236,0.7),rgba(113,113,113,0.7));filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(236,236,236,0.7)', endColorstr='rgba(113,113,113,0.7)');}
.user-info .iconfont{font-size: 24px; color: #fff;}
.save-info{position: relative; top: -1px; display: inline-block;width: 24px; height: 24px;background-color: #a0c816; border-radius: 50%;text-align: center;line-height: 24px;}
.save-info .iconfont{font-size: 20px;}
.save-info.disable{background-color: #eef2e5;color: #afb2a5;}
.user-info .save-info{display: none;}
.user-info .oper{padding:20px 20px 0;}
.user-info .oper a{margin-right: 10px;}
.user-blk .avartar{position: relative; display: block;width: 110px; height: 110px; overflow: hidden;margin: 10px auto; border-radius: 50%;background: #fff;}
.user-blk .avartar .no{width: 36px; margin: 30px auto; font-size: 16px;color: #949888;text-align: center;}
.user-blk .avartar span{display: none; position: absolute; bottom: 0; left: 0; width: 100%; height: 28px;background-color: rgba(65,68,57,0.6);font-size: 12px; line-height: 24px; color: #fff; text-align: center;}
.user-blk h3,.user-blk .email{text-align: center;}
.user-blk input{background: none; border:none; text-align: center; color: #fff;}
.user-info input{max-width: 280px;}
.user-blk h3 input{font-size: 24px;}
.user-blk .email {margin: 10px 0;}
.user-blk .email input{width: 280px; height: 30px; line-height: 30px; font-size: 16px; text-align: left;}
.role-select{width: 280px; margin: 0 auto;}
.role-select span{width: 280px;height: 34px;padding: 0; background: none;border: none; border-bottom: 1px solid #fff; border-radius: 0;color: #fff;font-size: 16px;line-height: 34px;}
.role-select:after,.role-select:before{content: '';}
.role-select:before{top:16px; display: block; width: 0;height: 0; overflow: hidden; border: solid;border-width: 6px 6px 0; border-color: #fff transparent;}
.role-select ul{padding-top: 0; top: 34px; width: 280px;}
.role-select.disable:before{display: none;}
.role-select.disable span{border: none;cursor: default;}
.user-panels{position: relative; width: 680px; height: 320px;}
.user-panels .signature{display: table-cell;width: 680px; height: 320px; text-align: center; vertical-align: middle;}
.signature span,.signature input{max-width: 640px;height: 40px; font-size: 30px; line-height: 40px;color: #fff; text-shadow: 0 0 15px #414439;}
.signature span{display: inline-block; width: 640px;}
.user-blk.editable .avartar span{display: block;}
.user-blk.editable input{border-bottom: 1px solid #fff;}
.edit-blk{position: absolute; top: 0; left: 0;z-index: 3; width: 630px; height: 270px;padding: 25px; background: rgba(255,255,255,0.9);}
.edit-blk:before{position: absolute; top: 50%; left: -20px; display: block;width: 0;height: 0; overflow: hidden;margin-top: -20px; border:solid; border-width: 20px 20px 20px 0; border-color:transparent #fff; content: '';opacity: 0.9;}
.edit-blk h3{margin-bottom: 20px; font-size: 18px;font-weight: 600;text-align: left;}
.edit-avartar .btn-green{height: 30px; line-height: 30px; font-size: 14px;}
.edit-avartar .cgreen .btn-green{font-size: 12px;}
.edit-pwd{position: relative;}
.edit-pwd label{display: block; margin-top: 25px;}
.edit-pwd label span{display: inline-block;width: 75px; vertical-align: middle;line-height: 37px;}
.edit-pwd label input{height: 35px;width: 270px; padding: 0 15px; background: #fff;border:1px solid #e8e8e8; border-radius: 19px; text-align: left; color: #414439;}
.btn-green{display: inline-block; height: 36px;padding: 0 20px; background-color: #a0c816;border: none; border-radius: 18px;color: #fff;font-size: 16px;line-height: 36px; text-align: center;}
.edit-pwd .btn-green{position: absolute; bottom:0; right: 50px; width: 120px;}
#editPwdBlk > a,#editAvartarBlk a{position: absolute;right: 0;bottom: 5px;color: #999;}
/*touxiang*/
#img_crop{position: fixed;top: 0;left: 30%;background: #fff;z-index: 99999;display: none;}
#img_crop > a {font-size: 20px;position: absolute;right: 10px;top: 10px;z-index: 99999;}
#img_crop > a:hover {color: rgb(222, 60, 80);}
.upload-blk{position: relative; margin-top: 15px;}
.upload-blk .btn-green{position: absolute;bottom: 0; right: 50px;}
.user-panels1{position: relative; width: 680px; height: 450px;}
.edit-blk1{position: absolute; top: 0; left: 0;z-index: 3; width: 630px; height: 450px;padding: 25px; background: rgba(255,255,255,0.9);}
.edit-blk1 h3{margin-bottom: 20px; font-size: 18px;font-weight: 600;text-align: left;}
.upload-blk .img-wrap {width: 350px;height: 350px;background: #f2f2f5;border-radius: 5px;border: 1px solid #e8e8e8;line-height: 350px;}
.upload-blk .img-wrap .img-holder{display:table-cell;vertical-align:middle;text-align: center;*display:block;*font-size:306px;*font-family:Arial;width: 350px;height: 350px;line-height: 350px;}
.upload-blk .img-wrap .icon-pic{font-size: 50px; color: #d2d6c9;}
.upload-blk .img-wrap img{vertical-align:middle;}
.upload-blk .img-wrap .jcrop-holder{display:inline-block;vertical-align:middle;margin-left:AUTO;margin-right:AUTO;}
.preview-blk {width: 250px;margin-top: 50px;text-align: center;}
.preview-blk h4{margin-bottom: 15px;font-weight:600;text-align: left;}
.preview-blk .img{border-radius: 50%; background-color: #fff;color: #BD7300; text-align: center;}
.preview-blk p{line-height: 30px;color: #949888}
.preview-big{width: 110px;margin-right: 30px;}
.preview-big .img{width: 110px; height: 110px;line-height: 110px;background: #f2f2f5;overflow: hidden;}
.preview-small{margin-top: 50px;}
.preview-small .img{width: 60px; height: 60px;font-size: 12px; line-height: 60px;background: #f2f2f5;overflow: hidden;}

.notice-list{border-top: 1px solid #e2e2e2;}
.notice-list li{position: relative; padding: 40px 0; border-bottom: 1px solid #e2e2e2;color: #949888; font-size: 16px;-moz-transition:all linear .2s;-webkit-transition:all linear .2s;-ms-transition:all linear .2stransition: all linear .2s;}
.notice-list .time{padding-bottom: 15px;}
.notice-list .abstract{display: block; height: 50px;overflow: hidden; }
.notice-list .detail p{margin-bottom: 20px;}
.notice-list li.unread{color: #414439;}
.notice-list li.unread{padding-left: 20px;}
.notice-list li.unread:before{position: absolute; top:48px;left: 0; display: block;content: '';width: 9px; height: 9px; background-color: #f67e15; border-radius: 5px;}
.btn-oper{display: none;height: 24px;padding: 0 16px; background-color: #eef2e5;border-radius: 12px; color: #BD7300;font-size: 14px; line-height: 24px;}
.fav-list{border-top: 1px solid #e2e2e2;}
.fav-list li{padding: 40px 0; border-top:none;border-bottom: 1px solid #e2e2e2;}
.fav-list .btn-oper{display: block;}
.fav-list .txt{margin-bottom: 20px;}
.comment-list{margin: 20px 0;border-top:1px solid #e2e2e2;}
.comment-list li{position: relative;padding: 40px 0; border-bottom: 1px solid #e2e2e2;font-size: 16px;}
.comment-list li.unread{color: #414439;}
.comment-list li.unread{padding-left: 20px;}
.comment-list li.unread:before{position: absolute; top:48px;left: 0; display: block;content: '';width: 9px; height: 9px; background-color: #f67e15; border-radius: 5px;}
.comment-list .reply-list{display:none;}
.comment-list h4{margin-bottom: 10px;color: #949888;font-size: 14px;}
.comment-list .info{margin-top: 20px;color: #BD7300; font-size: 14px;}
.comment-list .time{color: #949888;}
.comment-list .reply{padding-left: 15px;margin-bottom: 15px;border-left: 2px solid #a0c816;color: #949888;}

/*关于我们*/
.tag-list.sub-nav{margin: 30px 0;}
.tag-list.sub-nav a{margin: 0 10px 0 0;}
.about-content{line-height: 36px; margin-top: 20px;text-indent:2em;}
.about-content p{ color: #949888;}
.about-content p.mt{margin-top:40px;}
.bot-banner{width: 1000px; height: 320px;overflow: hidden; margin: 40px 0 50px;}
.bot-banner>img{transform:scale(1); -webkit-animation: scaleImg 10s linear;-moz-animation: scaleImg 10s linear;-ms-animation: scaleImg 10s linear;animation: scaleImg 10s linear;}
.about-content h4{font-size: 18px;line-height: 40px;margin-bottom: 10px;}
.contribute-method{color: #949888;line-height: 38px;}
.cooperation-list{margin-top: 20px;}
.cooperation-list dt{margin: 10px 0 30px;font-size: 18px;}
.cooperation-list dt.pt{padding-top: 20px;}
.cooperation-list .bot{border-bottom: 1px solid #e2e2e2;padding-bottom: 40px;}
.cooperation-list .cooper p{margin-right: 20px;margin-bottom: 20px;border: 1px solid #e2e2e2; }
.activity-hd{font-size: 24px;line-height: 50px;margin-bottom: 20px;}
.activity-intro{margin-bottom: 50px;}
.activity-intro .detail{width: 670px;line-height: 36px;color: #949888;}
.activity-intro b{font-weight: normal;}
.activity-intro .btn-ghost{width: 240px; background-color: #ff8419; color: #fff;margin-top: 30px;margin-bottom: 10px;}
.activity-intro .corg{font-size: 12px;}
.act-blk{padding: 50px 0; line-height: 36px;}
.act-blk .hd{margin-bottom:20px; font-size: 18px;}
.act-blk .mt{margin-top:50px;}
.act-blk .con{color: #949888; overflow: hidden;transition:all linear 0.1s;}

@-webkit-keyframes fadeInDown{
	0%{opacity:0;-webkit-transform:translate3d(0,-100%,0);}
	100%{opacity:1;-webkit-transform:none;}
}
-moz-keyframes fadeInDown{
	0%{opacity:0;-moz-transform:translate3d(0,-100%,0);}
	100%{opacity:1;-moz-transform:none;}
}
-ms-keyframes fadeInDown{
	0%{opacity:0;-ms-transform:translate3d(0,-100%,0);}
	100%{opacity:1;-ms-transform:none;}
}
@keyframes fadeInDown{
	0%{opacity:0;transform:translate3d(0,-100%,0)}
	100%{opacity:1;transform:none}
}
.fadeInDown{-webkit-animation: fadeInDown 0.5s linear;-moz-animation: fadeInDown 0.5s linear;-ms-animation: fadeInDown 0.5s linear;animation: fadeInDown 0.5s linear;-webkit-animation-fill-mode: both;-moz-animation-fill-mode: both;-webkit-ms-fill-mode: both; animation-fill-mode: both;}
@-webkit-keyframes fadeOutUp{
	0%{opacity:1}
	100%{opacity:0;-webkit-transform:translate3d(0,-100%,0);}
}
@-moz-keyframes fadeOutUp{
	0%{opacity:1}
	100%{opacity:0;-moz-transform:translate3d(0,-100%,0);}
}
@-ms-keyframes fadeOutUp{
	0%{opacity:1}
	100%{opacity:0;-ms-transform:translate3d(0,-100%,0);}
}
@keyframes fadeOutUp{
	0%{opacity:1}
	100%{opacity:0;transform:translate3d(0,-100%,0)}
}
.fadeOutUp{-webkit-animation: fadeOutUp 0.5s linear;-moz-animation: fadeOutUp 0.5s linear;-ms-animation: fadeOutUp 0.5s linear;animation: fadeOutUp 0.5s linear;-webkit-animation-fill-mode: both;-moz-animation-fill-mode: both;-webkit-ms-fill-mode: both; animation-fill-mode: both;}
/*404*/
.main-404{position: relative; width: 661px; height: 661px; margin: 0 auto 30px;background: url('') no-repeat; }
.main-404 .btn-log{position: absolute; bottom: 180px; left: 50%; margin-left: -104px; width: 208px; height: 35px; line-height: 35px; }

/* activity */
.activity_list .filter{margin-bottom: 40px;}
.activity_list .recommend-list li{padding-bottom: 28px;}

.activity-intro .btn-ghost.signup_no {
    background-color: #d2d6c9;
    color: #949888;
    border: 1px solid #d2d6c9;
}
.relate_activity{
	display: block;
	font-size: 14px;
	color: #949888;
}
.relate_activity .activity_li_icon{
	display: inline-block;
	height: 5px;
	width: 5px;
	background: #BD7300;
	border-radius: 5px;
	vertical-align: middle;
	margin-right: 8px;
}
.relate_activity .activity_time{
	margin-right: 20px;
}
.relate_activity .activity_title{
	color: #414439;
	margin-right: 20px;
}
.relate_activity .activity_status.on{
	color: #BD7300;
}
.activity_dialog{
	position: absolute;
	top: 20%;
	left: 40%;
	z-index: 999;
	background: #fff;
}
.activity_dialog_main{
	width: 400px;
	text-align: center;
	padding: 40px 0;
}
.activity_dialog_main .close{
	position: absolute;
	right: 20px;
	top: 15px;
	color: #666;
}
.activity_dialog_main .close i{
	font-size: 20px;
}
.activity_dialog_main h4 {
    font-size: 30px;
    margin-bottom: 40px;
}
.activity_dialog_main input{
	border: 1px solid #ddd;
    border-radius: 20px;
    height: 38px;
    line-height: 38px;
    margin-bottom: 20px;
    padding-left: 20px;
    width: 225px;
}
.activity_msg{
	color: #777;
	margin: 50px 0;
}
.activity_notice{    
	font-size: 30px;
    margin-bottom: 20px;
    color: #444;
}
.activity_notice .icon-success {
    font-size: 36px;
    margin-right: 5px;
    color: #b0ca56;
}
.activity_notice .icon-notice {
    font-size: 36px;
    margin-right: 5px;
    color: #FC6D00;
}
.activity_ecode {
    background: #eef2e5;
    margin-top: 50px;
    padding: 40px;
}
.activity_ecode p {
    color: #343434;
    display: block;
    margin-top: 20px;
    text-align: left;
    width: 220px;
}
.dynamic-filter{border-bottom: 1px solid #e2e2e2;margin-bottom: 50px;padding: 20px 0 50px;}
.dynamic-filter a:hover, .dynamic-filter a.active{background: #fff;color: #BD7300;}

.rec-tags {margin: 25px 0;}
.rec-tags dt{width: 80px; color: #414439;font-size: 16px;line-height: 40px;}
.rec-tags dt,.rec-tags dd{float: left;}
.rec-tags dd{width:580px;padding: 0;}
.invest-serv li{margin: 30px 0;}
.invest-serv .detail{width: 210px;}
.invest-serv .hd{margin-bottom: 12px; color: #414439;line-height: 16px;}
.invest-serv .hd h2{font-size: 16px;}
.invest-serv p{color: #949888;font-size: 13px; line-height: 18px;}

/* asider */
.sider_ad {position: fixed;top: 100px; right: 0; display: none;}
.sider_app {height: 300px;position: relative;width: 135px;}
.sider_close{position: absolute;right: 10px; top: 5px; color: #fff;font-size: 16px;z-index: 2;}
.dl_bg {bottom: 0;height: 300px;left: 0;position: absolute;right: 0;top: 0;width: 135px;}
.dl_url {position: relative;text-align: center;top: 100px;}
.dl_url a {border: 1px solid #fff;color: #fff;display: block;font-size: 12px;margin: 0 auto 10px;text-align: center;width: 88px;}
.dl_qr {background-color: #fff;height: 76px;line-height: 76px;margin: 0 auto;padding: 6px;position: relative;top: 100px;width: 76px;}
blockquote {
	background-color:#f5f5f5;
	padding:5px 25px; /* 10 */
	margin-bottom: 5px;
}
.article-detail .tag_info{
	height:24px;
	line-height:17px;
	text-align:center;
	overflow:hidden;
	color:#999;
	padding:5px;
	margin-top: 10px;
}
.article-detail .tag_info small{
	margin-left:8px;
	margin-right:3px;
	color:#999;
	font-size:12px;
}
.article-detail .tag_info a{
	color:#690;
	padding-left:5px;
}
.contentAccepted{
	color: #f67e15;
	font-size:28px;
}
.answer-label{
	color: #f67e15;
	font-size:28px;
}
/* pager */
.pagination-start,  .pagination-prev,  .pagination-next,  .pagination-end {
	width: 60px;
}
.pagination-start,  .pagination-prev,  .pagination-next,  .pagination-end,  .pagination-spec,  .pagination-curr,  .pagination-break {
	min-width: 16px;
	_width: 16px;
	border: 1px solid #ccc;
	display: inline;
	float: left;
	height: 24px;
	margin-right: 3px;
	padding: 0 5px;
	line-height: 24px;
	text-align: center;
	font-family: Tahoma, SimSun, Arial;
	vertical-align: top;
	white-space: nowrap;
	overflow: hidden;
}
.pagination-start {
	background-position: 5px 8px;
}
.pagination-prev {
	background-position: 0 -12px;
}
.pagination-curr {
	font-weight: 700;
	color: #fff;
	background-color: #a0c816;
	border: 1px solid #ddd;
}
.pagination-break {
	color: #c0c0c0;
	border: 0;
}
.pagination-next {
	background-position: 42px -50px;
}
.pagination-end {
	background-position: 47px -31px;
}
.paginationDiv a {
	color: #36c;
	cursor: pointer;
}
.paginationDiv a:hover {
	border: 1px solid #ddd;
	color: #fff;
	background-color: #a0c816;
}
code,pre {
    white-space:pre-wrap;
    word-break: keep-all;
    word-wrap: break-word;
}

