/* CSS Document */
.uc-popup{line-height:26px;color:#444;z-index:99999;position:fixed;vertical-align:middle;top:0;left:0;width:100%;height:100%}
.uc-popup .uc-masking{z-index:-10;position:fixed;display:block;top:0;left:0;width:100%;height:100%;background-color:#111;opacity:.5;-ms-filter:"alpha(opacity=50)";filter:alpha(opacity=50)}
.uc-popup table{width:100%;height:100%;background:transparent}
.uc-popup table .uc-col{vertical-align:middle;background:transparent}
.uc-popup table .uc-box{display:block;width:360px;margin-right:auto;margin-left:auto;position:relative;padding:5px;background-color:#fff;padding:4px 8px 8px 8px;font-size:12px;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px}
.uc-popup table .uc-close{float:right;display:block;font-size:24px;color:#999;cursor:pointer;padding:0 5px}
.uc-popup .uc-body{padding:0px 16px 16px;font-size:13px}
.uc-popup table .uc-login-close:hover{filter:alpha(opacity=70);-moz-opacity:.7;opacity:.7}
.uc-popup form{margin:0;padding:0}
.uc-popup *{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box}
.uc-popup a{color:#2e9fff;text-decoration:none;-webkit-transition:color 0.2s;-moz-transition:color 0.2s;-ms-transition:color 0.2s;-o-transition:color 0.2s;transition:color 0.2s}
.uc-popup a:hover{color:#0079e1;text-decoration:none}
.uc-popup button{font-size:16px;line-height:26px}
.uc-popup input,.uc-popup textarea{font-size:14px;width:100%;height:44px;line-height:22px;padding:6px;margin-bottom:20px;color:#546673;background:white;border:1px solid #c2c9d4;box-shadow:none;border-radius:3px;margin:0 auto !important;display:block !important}
.uc-popup textarea{height:64px;padding-top:10px;resize:none}
.uc-popup input:focus,.uc-popup textarea:focus{background:#fff;border-color:#2e9fff;outline:medium none;-webkit-transition:0.5s background,0.5s border-color;-moz-transition:0.5s background,0.5s border-color;-ms-transition:0.5s background,0.5s border-color;-o-transition:0.5s background,0.5s border-color;transition:0.5s background,0.5s border-color}
.uc-popup input[type="checkbox"],.uc-popup input[type="radio"]{width:auto;height:auto;display:inline !important}
.uc-popup h2{font-size:24px;line-height:26px;margin-bottom:15px;color:#546673;font-weight:500;clear:both}
.uc-input{position:relative;margin-top:20px}
.uc-submit{overflow:hidden;margin:0;padding:0;text-align:center}
.uc-button{border-radius:3px;padding:8px 12px;background:#2e9fff;color:#fff;border:1px solid #2e9fff;box-shadow:none;width:47.5%;margin:20px auto 0 !important;text-align:center;font-weight:600;position:relative}
.uc-button:hover{color:#fff;background:#0079e1 !important;border-color:#0079e1}
.uc-button:focus{outline:0;opacity:0.8}
.uc-button .spinner{display:none}
.uc-button:disabled{background:#c0e2ff;border-color:#c0e2ff;cursor:default}
.uc-button:disabled .spinner{display:block}
.uc-button:disabled:hover{background:#c0e2ff !important}
.uc-button{float:left}
.uc-signup{margin:20px auto 0;width:47.5%;display:inline-block;font-size:14px;padding:8px 12px;text-align:center;float:right;border-radius:3px;color:#2e9fff;-webkit-transition:all 0.2s ease 0s;-moz-transition:all 0.2s ease 0s;-ms-transition:all 0.2s ease 0s;-o-transition:all 0.2s ease 0s;transition:all 0.2s ease 0s;border:1px solid #2e9fff;opacity:0.8}
.uc-signup:hover{text-decoration:none;border-color:#0079e1;opacity:1}
.uc-forgot{text-align:center;margin:15px 0 -10px}
.uc-forgot a{color:#7f919e;font-size:15px}
.uc-forgot a:hover{color:#2e9fff}
@media screen and (max-width:400px){
.uc-popup table .uc-box{width:100%;max-width:360px;min-width:320px}
.uc-button,.uc-signup{float:none;display:block;width:100%}
}
.uc-popup .uc-head{font-weight:400;margin:12px 0 -8px;font-size:15px;text-align:center;color:#7f919e}

