#blogTitle h1 a{
    font-family: "楷体","楷体_GB2312";
    font-size: 36px;
    color: #000;
}
body {
    color: #000;
    background-color: #efefef;
    font-family: "Helvetica Neue",Helvetica,Verdana,Arial,sans-serif;
    font-size: 12px;
    min-height: 101%;
}
#home{
    margin: 0 auto;
    width: 80%;
    min-width: 950px;
    background-color: #f8f8f8;
    padding: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
    border-radius: 20px;
}
#main {
    width: 100%;
    text-align: left;
    margin-top: 15px;
}
.newsItem, .catListEssay, .catListLink, .catListNoteBook, .catListTag, .catListPostCategory, .catListPostArchive, .catListImageCategory, .catListArticleArchive, .catListView, .catListFeedback, .mySearch, .catListComment, .catListBlogRank, .catList, .catListArticleCategory {
    background-color: #f8f8f8; 
    margin-bottom: 35px;
    word-wrap: break-word;
}
#topics .postTitle {
    border: 0px;
    font-size: 20px;
    font-weight: bold;
    float: left;
    line-height: 1.5;
    width: 100%;
    padding-left: 5px;
}
.postBody li, .postCon li {
    margin-bottom: 2px;
}
element.style {
    margin-left: 45px;
}
#cnblogs_post_body ul {
    margin-left: 45px;
    padding-left: 0;
}
div.cnblogs_code {
    padding-left: 8px;
    border-width: 2px 2px 2px 5px;
    border-color: #F5F0E8 #F5F0E8 #F5F0E8 #E4D8C7;
}

#cnblogs_post_body h1,
#cnblogs_post_body h2 {
  font-weight: bold;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-top: 20px;
}
#cnblogs_post_body h3,
#cnblogs_post_body h4,
#cnblogs_post_body h5,
#cnblogs_post_body h6
 {
     font-weight: normal;
    background: #f3eeee;
    border-radius: 6px;
    color: Red;
    height: 25px;
    line-height: 25px;
    margin-top: 20px;
    padding: 8px;
    opacity: 0.8;
    border: 1px dashed #aaa;
}