::-webkit-input-placeholder {
  color: #ddd; }

::-moz-placeholder {
  color: #ddd; }

:-ms-input-placeholder {
  color: #ddd; }

::-ms-input-placeholder {
  color: #ddd; }

::placeholder {
  color: #ddd; }

button {
  border: none; }

.layer {
  max-width: 450px;
  margin: 0 auto; }

.ipt-w {
  position: relative;
  height: 41px;
  margin-bottom: 16px;
  font-size: 0;
  color: #000; }
  .ipt-w.protocol {
    height: auto; }
    .ipt-w.protocol input {
      cursor: pointer; }
    .ipt-w.protocol .link {
      color: #e94f62 !important;
      text-decoration: underline; }
  .ipt-w input {
    display: inline-block;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    height: 100%;
    line-height: 100%;
    padding: 0 12px;
    border: 1px solid #D4D4D4;
    border-radius: 2px;
    font-size: 20px; }
    .ipt-w input.code-input {
      width: 50%;
      display: none; }
    .ipt-w input#imgcode {
      width: 60%; }
  .ipt-w .code-tips {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    width: 47%;
    line-height: 20px;
    margin-left: 3%;
    display: none; }
  .ipt-w .btn-getCode {
    vertical-align: middle;
    font-size: 20px;
    width: 49%;
    height: 100%;
    line-height: 100%;
    color: #ffffff;
    background: #c4aa76;
    background: -webkit-gradient(linear, left top, left bottom, from(#b8a16f), to(#d2b67d));
    background: -webkit-linear-gradient(#b8a16f, #d2b67d);
    background: -o-linear-gradient(#b8a16f, #d2b67d);
    background: linear-gradient(#b8a16f, #d2b67d); }
    .ipt-w .btn-getCode.whole-width {
      width: 100%; }
  .ipt-w .img-code {
    height: 100%;
    margin-left: 10px;
    border: 1px solid #ced6dc;
    border-radius: 3px;
    vertical-align: top;
    cursor: pointer;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .ipt-w .info, .ipt-w .error {
    position: absolute;
    left: 0;
    top: 100%;
    height: 18px;
    line-height: 18px;
    color: #2681dd;
    font-size: 12px;
    display: none; }
  .ipt-w .error {
    color: #E94F62; }
  .ipt-w .check-label {
    position: relative;
    display: inline-block;
    height: 22px;
    line-height: 22px;
    padding-left: 24px;
    color: #868592;
    font-size: 16px;
    cursor: pointer; }
    .ipt-w .check-label .check-span {
      position: absolute;
      left: 0;
      top: 2px;
      width: 18px;
      height: 18px; }
      .ipt-w .check-label .check-span .icon-check {
        display: inline-block;
        width: 18px;
        height: 18px;
        background: url("//image.duoyi.com/css/reg/img/btn_unselect.png") center center no-repeat; }
        .ipt-w .check-label .check-span .icon-check.checked {
          background: url("//image.duoyi.com/css/reg/img/btn_select.png") center center no-repeat; }
      .ipt-w .check-label .check-span .input-checkbox {
        position: absolute;
        left: 0;
        margin: 1px 0 0 1px;
        opacity: 0; }
    .ipt-w .check-label .link {
      color: #868592; }
  .ipt-w .imgcode-btn {
    height: 35px;
    margin-top: 10px; }
    .ipt-w .imgcode-btn .confirm-imgcode {
      color: #ffffff;
      font-size: 16px;
      height: 100%;
      width: 40%;
      margin-left: 10%;
      background: #c4aa76;
      background: -webkit-gradient(linear, left top, left bottom, from(#b8a16f), to(#d2b67d));
      background: -webkit-linear-gradient(#b8a16f, #d2b67d);
      background: -o-linear-gradient(#b8a16f, #d2b67d);
      background: linear-gradient(#b8a16f, #d2b67d); }
    .ipt-w .imgcode-btn .link-imgcode {
      display: inline-block;
      color: #22a2ec;
      text-decoration: underline;
      font-size: 13px;
      height: 100%;
      line-height: 35px;
      vertical-align: top;
      margin-left: 10%;
      padding-left: 10px; }

.register-button {
  display: block;
  height: 49px;
  line-height: 49px;
  width: 100%;
  margin: 0 auto;
  border: none;
  background: url(//image.duoyi.com/css/reg/img/register_1_btn_bg.png) no-repeat 0 0;
  background-size: cover;
  font-size: 24px;
  color: #ca4f19; }
  .register-button:hover {
    opacity: 0.9; }

#slideWrap {
  visibility: hidden; }

#popup-mask {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: none; }
  #popup-mask #popup-content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 140px;
    background-color: #fff;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    padding: 30px 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }

.tip-box {
  padding: 50px 0 50px 70px;
  background-color: #fff;
  line-height: 1.5;
  border-radius: 5px; }
  .tip-box .icon-ok {
    float: left;
    margin-left: -50px;
    margin-top: 20px;
    background: url(//image.duoyi.com/css/reg/img/icon_07.png) no-repeat 0 0; }
  .tip-box .p1 .reg-account {
    margin-right: 5px;
    color: #22a2ec; }
  .tip-box .p2 {
    margin-top: 16px; }

.dc-bubble.ui-dialog {
  line-height: 1;
  color: #fff;
  background-color: #000;
  background: #f00;
  border: none;
  border-radius: 4px; }

.dc-bubble .ui-dialog-content {
  display: block; }
