*{padding: 0;margin: 0; list-style: none; font-style: normal; outline: 0;}
body{font: 16px/1.8 sans-serif; color: #333; background-color:#e2e2e2;}
img{vertical-align: middle;}
a{text-decoration: none;color:#1F8DD6; transition:all ease-out 0.1s;}
a:hover{transform: scale(1.1,1.1); display: inline-block;}
.wrap{max-width: 1200px; margin: 0 auto;}
.flex{display: flex;}
.flex-auto{flex: auto;}
input[type=text],input[type=email]{vertical-align: middle; display: inline-block; padding: .5em .6em; box-sizing: border-box;}
h1,h2,h3{font-weight: 400;}
h2{font-size: 20px;}
header{height: 70px; background-color:#293047;}
header .logo a{padding:19px 20px; display: inline-block;}

.except{width:100%; max-width:500px; margin:20% auto;}
.except .pure-g{border: solid 1px #e55; background-color: #fff; border-radius: 5px; margin: 10px; padding: 20px;}
.except .pure-u-1-4{text-align: center; border-right: solid 1px #ddd;}
.except .pure-u-2-3{padding-left: 20px;}
.except .iconfont{font-size: 65px; line-height: 66px;}
.except p{color: #666;}
.error h1,.error .iconfont{color: #e55;}
.except h1{font-size: 22px; line-height: 30px; margin: 0; padding: 2px 0 12px 0;}
.success h1,.success .iconfont,.success .pure-g{border-color: #1CB841; color:#1CB841;}
.warning h1,.warning .iconfont,.warning .pure-g{border-color: #DF7514; color:#DF7514;}

.jer{transition:all 0.3s ease-out; opacity: 0.1; top:20%; transform:scale(1,0.1); position:fixed; z-index: 9;}
.jer .flex{background-color:rgba(255,255,255,0.95); border-radius: 5px; margin: 10px; padding: 10px; box-shadow: 0 2px 12px rgba(0,0,0,0.5);}
.jer-icon{width: 60px; text-align: center;}
.jer-content{width: auto; flex: auto; padding: 0 20px; display: block; border-left: solid 1px #ccc;}
.jer .iconfont{font-size: 42px; line-height: 48px;}
.jer h1{line-height: 32px; font-size: 22px; padding:8px 0; margin:0;}

.search form *{color: #666; font-size: 14px;}
.search input{width: 30px; height: 32px;}
.content{padding: 20px 0;}
.content .c6{padding-bottom: 20px;}
.content .c6 a{line-height: 32px; color: #666; border-radius: 3px; margin: 0 20px; border:solid 1px transparent; height: 32px; padding: 0 10px; display: inline-block;}
.content .c6 a:hover{color:#1F8DD6;}
.content .c6 a.active{color:#1F8DD6; border-color:#1F8DD6;}
.content .c6 a.active:hover{transform: scale(1,1);}
.content .c{background-color: #fff; box-shadow: 0 0 10px rgba(0,0,0,0.2); padding: 10px; margin-bottom: 20px;}
.content h1{font-size: 24px;  margin: 10px 0;}
.content h1 a{color: #1b539b;}
.content h1 a:hover,.content h1 a:active{transform: scale(1.05,1.05);color:#1F8DD6;}
.content article{padding:0 10px; border-bottom: solid 1px #ddd;}
.content article .c2{color:#555; cursor: default; font-weight: 200;word-wrap: break-word;word-break: break-all;}
.content article .c3{padding: 10px 0; font-size: 12px; color: #aaa; cursor: default;}
.content article .c3 span{display: inline-block; padding:0 6px;}
.content article .iconfont{font-size: 12px; color: #aaa; cursor: pointer;}
.content .c3-1{float: right;}
.content .c3-0 a{color: #aaa; margin-left: 5px;}
.content .c3-1 .iconfont{color:#1F8DD6;}
.content .c3-2  a:hover .iconfont,section.content .c3-2 a:active .iconfont,section.content .c3-2 a.active .iconfont{color: #e33;}
.content .side{width: 300px; margin-left: 20px;}
.content .side h2{border-bottom: solid 1px #ddd; font-weight: 300; font-size: 18px; min-width: 280px; padding-bottom: 2px; margin-bottom: 10px;}
.content .side .c1 a,.content .author a,.author-list .a1 a{display: inline-block; padding: 3px 10px; margin: 3px; font-weight: 200; background-color: #f0f2f5; border-radius: 3px;  font-size: 13px; color: #555;}
.content .side .c1 a:hover,.content .author a:hover{background-color:#1F8DD6; color: #fff;}
.content .c5{float: right; cursor: pointer; font-size: 13px; line-height:30px;}
.content .c4 a{position: relative; }
.content .c4 a i{position: absolute; cursor: pointer; display: none; line-height: 1; border-radius: 8px; font-size: 12px; padding: 2px 2px 1px 2px; top: -7px; right: -7px;background-color:#f0f2f5;}
.content .c4 a:hover{z-index: 10;}
.content .c4 a:hover i{background-color: #e33; color: #fff;}
.content .edit a i{display: block;}

.content .author{padding: 0 10px; border-bottom: solid 1px #ddd; padding-bottom: 10px;}
.content .h-page{text-align:center; margin-bottom: 20px;}
.content .h-page a{background-color: #fff; font-size: 14px; margin: 0 5px;}
.content .h-page a:hover{color:#1F8DD6;}
.content .h-page .pure-button-active{cursor: default; box-shadow:none; background-color:#0099e5; color: #fff;}
.content .h-page .pure-button-active:hover{color: #fff;}


.content .detail{background-color: #fff; padding: 20px; line-height: 1.8; font-size: 16px;}
.content .detail>h1{margin-top: 0; font-size: 28px;}
.content .detail h2{margin: 20px 0 10px 0; border-bottom: solid 1px #ccc;}
.content .detail h3{margin: 10px 0 5px 0;}
.content .detail h4{margin: 5px 0 3px 0;}
.content .detail p{margin: 3px 0;word-wrap: break-word;word-break: break-all;}
.content .body .blockquote{white-space: pre; overflow: auto; font-family: monospace; padding: 10px;background-color:#f5f2f0;text-shadow:0 1px white; border-left: solid 3px #e0dfcc;}
.content .detail pre{overflow: auto;}
.content .detail img{max-width: 100%;}
.content .detail .source{border-left: 3px solid #ccc; box-sizing: border-box; overflow: hidden; cursor:default; line-height: 1.5; color: #999; font-size: 12px; margin-top:20px; background-color: #f1f1f1; padding:10px 20px;}
.content .more>div{background-color: #fff; margin-top: 10px; padding: 10px;}

.author-list{background-color: #fff; padding: 20px;}
.author-list h2{font-size: 24px; border-bottom: solid 1px #ddd;}


footer{background-color:#293047; font-size: 12px; color: #999; line-height: 20px; padding: 20px; text-align: center;}
footer a{color: #999;}

@media screen and (max-width: 700px) {
    .content .side{width: 100%; margin-left: 0;}
    .content .flex{flex-direction: column;}
    .author-list,.content .detail{padding:20px 5px;}
    .article-body{margin-bottom: 20px;}
}

