
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1490855427561'); /* IE9*/
  src: url('iconfont.eot?t=1490855427561#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1490855427561') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1490855427561') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1490855427561#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weixin:before { content: "\e600"; }

.icon-collect:before { content: "\e61b"; }

.icon-status-error:before { content: "\e601"; }

.icon-status-ok:before { content: "\e602"; }

.icon-control-arr-down:before { content: "\e618"; }

.icon-qq:before { content: "\e616"; }

.icon-index-new:before { content: "\e638"; }

.icon-search:before { content: "\e603"; }

.icon-play:before { content: "\e70e"; }

.icon-qzone:before { content: "\e6df"; }

.icon-bottom-nav-course:before { content: "\e63e"; }

.icon-share:before { content: "\e636"; }

.icon-back:before { content: "\e62e"; }

.icon-user-cart:before { content: "\e726"; }

.icon-index-boutique:before { content: "\e621"; }

.icon-sina:before { content: "\e653"; }

.icon-search-mull:before { content: "\e640"; }

.icon-collected:before { content: "\e699"; }

.icon-user-center:before { content: "\e649"; }

.icon-video-tidy:before { content: "\e609"; }

.icon-like:before { content: "\e650"; }

.icon-null:before { content: "\e6c0"; }

.icon-go:before { content: "\e64e"; }

.icon-go-top:before { content: "\e604"; }

.icon-live-question:before { content: "\e657"; }

.icon-star:before { content: "\e702"; }

.icon-user-order:before { content: "\e62c"; }

.icon-online:before { content: "\e704"; }

.icon-total-free:before { content: "\e60d"; }

.icon-total-pay:before { content: "\e60e"; }

.icon-bottom-nav-teacher:before { content: "\e668"; }

.icon-disable-send:before { content: "\e61e"; }

.icon-elecfans-logo:before { content: "\e605"; }

.icon-bottom-nav-user:before { content: "\e606"; }

.icon-null-order:before { content: "\e607"; }

.icon-null-collect:before { content: "\e608"; }

.icon-null-record:before { content: "\e60a"; }

.icon-null-cart:before { content: "\e60b"; }

.icon-null-comment:before { content: "\e60c"; }

.icon-control-arr-left:before { content: "\e60f"; }

.icon-control-arr-top:before { content: "\e610"; }

.icon-control-arr-right:before { content: "\e611"; }

.icon-failed:before { content: "\e622"; }

.icon-bottom-nav-logo:before { content: "\e612"; }

.icon-status-pause:before { content: "\e613"; }

.icon-status-play:before { content: "\e614"; }

.icon-successed:before { content: "\e628"; }

.icon-selected:before { content: "\e932"; }

.icon-comment:before { content: "\e615"; }

.icon-user-learn-record:before { content: "\e61c"; }

.icon-user-comment:before { content: "\e617"; }

.icon-weibiaoti--:before { content: "\e619"; }

.icon-live-play:before { content: "\e61a"; }

.icon-live-praise:before { content: "\e623"; }

.icon-live-comment:before { content: "\e624"; }

.icon-live-collect-off:before { content: "\e61d"; }

.icon-live-all:before { content: "\e61f"; }

.icon-live-school:before { content: "\e620"; }

.icon-live-share:before { content: "\e634"; }

.icon-live-collect-on:before { content: "\e631"; }

.icon-live-search:before { content: "\e632"; }

.icon-live-back:before { content: "\e633"; }

.icon-live-author:before { content: "\e637"; }

.icon-live-time:before { content: "\e639"; }

.icon-live-num:before { content: "\e63a"; }

.icon-gouxuan:before { content: "\e63b"; }

.icon-gou:before { content: "\e63c"; }

.icon-guanbi:before { content: "\e63d"; }

.icon-live-lecture:before { content: "\e63f"; }

.icon-no-sign:before { content: "\e642"; }

.icon-no-page:before { content: "\e643"; }

.icon-no-collect:before { content: "\e644"; }

