body{
    /*display:none;*/
}
#header{
    display:none;
}
#home {
    width: 95%;
    margin-top: 0px;
    margin-bottom: 0px;
}
/*隐藏公告内容*/
#profile_block{
    display: none;
}
/*隐藏博问按钮*/
#nav_q{
    display: none;
}
/*隐藏闪存按钮*/
#nav_ing{
    display: none;
}
/*隐藏广告按钮*/
#ad_t2{
    display: none;
}
/*隐藏广告按钮*/
#ad_c1{
    display: none;
}
/*隐藏广告按钮*/
#ad_c2{
    display: none;
}
/*隐藏广告按钮*/
#under_post_news{
    display: none;
}
/*隐藏广告按钮*/
#under_post_kb{
    display: none;
}
/*隐藏广告按钮*/
#author_profile{
    display: none;
}
/*隐藏广告按钮*/
.c_ad_block{
    display: none;
}
/*样式美化*/
/*底部推荐对齐*/
#green_channel{
    float: left;
}
/*隐藏反对按钮*/
.buryit{
    display: none;
}
/*隐藏头部导航条*/
#navList{
    display: none;
}
/*隐藏头部导航条*/
#navigator{
    border-top: 
    none;height: 0px; 
    margin-top: 0px;
}
/*向上按钮开始*/
#back-to-top {
    background-color: #fff;
    bottom: 10px;
    box-shadow: 0 0 6px #ffffff;
    color: #444444;
    padding: 15px 15px;
    position: fixed;
    right: 50px;
    cursor: pointer;
    z-index: 99999;
    box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
}
/*向上按钮结束*/
/*文章标题样式开始*/
.postTitle a:link, .postTitle a:visited, .postTitle a:active {
    color: #21759b;
    transition: all 0.4s linear 0s;
    font-size: 20px;
}
.postTitle a:hover {
    margin-left: 0px;
    color: #0f3647;
    text-decoration: none;
}
.postTitle_new {
    border-left: 3px solid #21759b;
    margin-bottom: 10px;
    font-size: 20px;
    float: right;
    width: 100%;
    clear: both;
}
.day .postTitle_new a {
    padding-left: 10px;
}
.postTitle_new a:link, .postTitle_new a:visited, .postTitle_new a:active {
    color: #21759b;
    transition: all 0.4s linear 0s;
}
.entrylistPosttitle_new {
    padding-left: 15px;
    margin-bottom: 10px;
    border-left: 3px solid #21759b;
    font-size: 20px;
    width: 100%;
}
.entrylistPosttitle_new a:link, .entrylistPosttitle_new a:visited, .entrylistPosttitle_new a:active {
    color: #21759b;
    transition: all 0.4s linear 0s;
}
/*文章标题样式结束*/
/*阅读原文样式开始*/
.c_b_p_desc_readmore{
    margin-left: -5px;
}
.c_b_p_desc_readmore{
    text-decoration: underline !important;
}
/*阅读原文样式结束*/
/*摘要样式开始*/
.c_b_p_desc{
    width: 950px;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    white-space: nowrap;
}
/*摘要样式结束*/
/*文章日期样式开始*/
.postDesc{
    /*margin-top: 10px;*/
}
/*文章日期样式结束*/
/*文章分类页面样式开始*/
.entrylistTitle, .PostListTitle, .thumbTitle {
    margin-bottom: 5px;
}
.entrylistItem{
    padding-bottom: 0px;
}
/*文章分类页面样式结束*/
/*摘要样式开始*/
.c_b_p_desc {
    width: 90%;
}
/*摘要样式结束*/
/*图片样式开始*/
#cnblogs_post_body p .aimg img {
    max-width: 500px;
    border: 1px solid #000;
    width: 500px;
}
/*图片样式结束*/
/*分类标签长度省略号开始*/
#sideBarMain li {
    line-height: 1.8;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 230px;
}
/*分类标签长度省略号结束*/
/*头像样式开始*/
#blogTitle h2 {
    float: none !important;
    margin-top: -10px;
}
/*头像样式结束*/
/*代码不换行设置横向滚动条开始*/
.cnblogs_code pre {
    white-space: pre;
}
/*代码不换行设置横向滚动条结束*/