/*
Bo-Blog V2.1
meSimple Templates
By Eiker
2008/4
*/

/****** General Styles ******/
body {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	background:  url('images/header_bg.jpg') repeat-x;
	margin: 0;
	color: #000;
	padding: 0;
	text-align: center;
}
* html body{
	width: 100%;
	overflow-x: hidden;
}
td{
	word-break: break-all;
}
a {
	text-decoration: none;
	color: #71BBE3;
}
a:hover {
	text-decoration: none;
	color:#BCC4C9;
	border-bottom: 1px dashed #BCC4C9;
}
img{
	vertical-align: middle;
}
hr {
	height: 1px;
	border: 0;
	border-top: 1px dashed #BCC4C9;
}
acronym {
	text-decoration: none;
	border-bottom: 1px dashed #71BBE3;
	cursor: help;
}

/****** Form Controls Styles ******/
form {
	display: inline;
}
input {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#999;
}
input.text {
	background-color:#F5F5F5;
	border: 1px solid #BCC4C9;
}
textarea {
	border: 1px solid #BCC4C9;
	background-color: #F5F5F5;
	font-size: 12px;
	color:#999;
}
select {
	background-color: #F5F5F5;
	border: 1px solid #BCC4C9;
	color:#999;
}

/****** Main Layout Styles ******/
#wrapper {
	width: 100%;
}
#innerWrapper {
}
#header {
	width:920px;
	margin:0px auto;
}
#innerHeader {
	padding: 0;
	padding-top: 22px;
	background: url('images/header_logo.jpg') no-repeat left top;
	height: 75px;
}
#footer {
	width:100%;
	height:130px;
	float:left;
	background: url('images/footer_bg.jpg') repeat-x bottom;
}
#innerFooter a{
	color: #AD3353;
}
#innerFooter a:hover{
	background-color:#AD3353;
	color:#fff;
	border-bottom:none;
}
#innerFooter {
	padding-top: 35px;
	font-size: 12px;
	line-height:170%;
	text-align: center;
	color: #000;
}

/****** Header Elements Styles ******/
/* nav menu */
#menu {
	margin-top: 31px;
	float:right;
}
#menu ul{
	padding: 0;
	margin: 0;
	}
#menu li{
	display: inline;
	list-style: none;
	text-align: center;
	float: left;
	width: 70px;
	padding-left:3px;
}
#menu a{
	height:11px;
	padding:6px 0px;
	display: block;
	color: #999;
	font-weight: bold;
	background: url('images/menu_off.jpg') no-repeat;
}
#menu a:hover{
	color: #fff;
	font-weight: bold;
	border-bottom: none;
	background: url('images/menu_on.jpg') no-repeat;
}

/****** Content Layout ******/
#mainWrapper {
	width:920px;
	margin: 0 auto;
	padding: 0;
}

/* sidebar */
.sidebar {
	float:left;
	width: 200px;
	margin-right: 30px;
	text-align: left;
}
* html .sidebar { /*IE6 absolute position+baseurl select bug fix */
	position: static;
	margin-top:5px;
}
.sidebar-hide {
	display: none;
	float: left;
}

/* content */
.content {
	width: 690px;
	float:right;
	text-align: left;
	margin:0;
}
.content-wide {
}
.content-only {
	width: 100%;
}
#innerContent {
	overflow: hidden;
	text-align: left;
}

/* a style which makes mainWrapper touch the bottom of sidebar and content */
.clear{
	border-top:1px solid transparent !important;
	margin-top:-1px !important;
	border-top:0;
	margin-top:0;
	clear:both;
	visibility:hidden;
}

/****** Sidebar Panels ******/
.panel{
	padding:0;
}
.panel h5 {
	background: url('images/panel_bg.jpg') no-repeat;
	text-align: left;
	color: #AD3353;
	font-size: 12px;
	font-weight: bold;
	cursor: pointer;
	height:25px;
	padding-left: 16px;
	padding-top: 7px;
	margin: 0;
}
.panel h5 a{
	color: #000;
}
.panel-content{
	width: 100%;
	margin-bottom:10px;
	line-height: 150%;
	color:#B9B9B9;
}
.panel-content a{
 	color:#5288A5;
}
.panel-content a:hover {
 	color:#fff;
	background-color: #5288A5;
	border-bottom: none;
}
.panel-content ul{
	padding: 0px;
	margin: 0px;
}
.panel-content li{
	background-image: url("images/list.gif") ;
	text-indent: 15px;
	background-repeat: no-repeat;
	padding: 1px 0px;
	margin: 0px;
	list-style: none;
	border-bottom: 1px dashed #ccc;
}
.panel-content li.indent{
	padding: 0px;
	background-image: url("images/link.gif");
	background-repeat: no-repeat;
	text-indent: 23px;
}

/* user panel login form */
#loginForm {
	width: 95%;
}

/* calendar panel */
#calendar {
  width: 100%;
  margin:0px;
}
.calendar-top {
  text-align: center;
  padding:0px;
}
.calendar-year,
.calendar-month {
  font-weight: bold;
}
.calendar-weekdays {
  color: #B9B9B9;
  font-size:12px;
  text-align: center;
  width: 14%;
  padding:0px;
}
.calendar-weekday-cell {
  color: #5288A5;
  font-size:12px;
  text-align: center;
  width: 14%;
  padding:0px;
  font-weight: bold;
}
.calendar-main {
  background: #fff;
}
.calendar-day,
.calendar-day-blank,
.calendar-saturday,
.calendar-sunday,
.calendar-today{
  text-align: center;
  width: 14%;
  padding:0px;
}
.calendar-saturday,
.calendar-sunday {
  color: #AD3353;
}
.calendar-today {
  color: #5288A5;
  font-weight: bold;
}
.calendar-day a, .calendar-saturday a, .calendar-sunday a {
  color: #5288A5;
  border-bottom: 1px solid #5288A5;
  font-weight: bold;
  }
.calendar-today a {
  color: #5288A5;
  border-bottom: 1px solid #5288A5;
  font-weight: bold;
  }

/****** Search Panel ******/
.search-field {
	width: 195px;
	background: #fff;
	border: 1px solid #BCC4C9;
}

/****** Announcement Box ******/
.announce{
	margin-bottom: 20px;
}
.announce-content{
	font-weight: bold;
	color: #fff;
	padding:7px 15px;
	background-color: #71BBE3;
	border-left:5px solid #000;
}

/****** Defaul Page Elements ******/
.article-top {
	padding: 0px;
	margin-bottom: 30px;
}
.article-bottom {
	padding: 0px;
	margin: 30px 0px;
}

/* page links */
.pages {
	color: #999;
	padding: 0px;
	margin:0;
}
.pagelink-current {
	font-weight: bold;
}

.listbox {
	padding-bottom: 20px;
}
.listbox-table {
	width: 100%;
}
.listbox-header {
	font-weight: bold;
	text-align: center;
	background-color: #71BBE3;
	color: #fff;
	height: 22px;
}
.listbox-entry {
	color:#999;
	word-wrap: break-all;
	border-bottom: 1px dashed #ccc;
	padding:6px 0px;
}
.listbox-entry a:hover{
	word-wrap: break-all;
	border-bottom:none;
}

/* entry display box */
.prev-article{
	float: left;
	padding-bottom:30px;
}
.next-article{
	float: right;
	padding-bottom:30px;
}

/* text box */
.textbox{
	margin-bottom: 35px;
	clear: both;
}
.textbox-calendar {
	float: left;
	height: 50px;
	width: 45px;
	text-align: center;
}
.textbox-calendar-day {
	font-weight: bold;
	display: block;
	font-family: Arial;
	color: #666;
	font-size: 22px;
	background: url("images/textbox_day.jpg") bottom;
}
.textbox-calendar-month {
	border-bottom: 2px solid #000;
	margin: 0px;
	display: block;
	font-family: Arial;
	display: block;
	font-size: 12px;
	color: #fff;
	font-weight: bold;
	padding-top:1px;
	background: url("images/textbox_month.jpg");
}
.textbox-title{
	font-size: 12px;
	margin-left: 57px;
}
.textbox-title h4{
	color: #999;
	font-size: 16px;
	display: inline;
}
.textbox-title h4 a {
	font-weight: bold;
	color: #71BBE3;
}
.textbox-title h4 a:hover {
	color:#BCC4C9;
	border-bottom: none;
}
.textbox-label{
	border-top: 1px dashed #ccc;
	padding:4px 0;
	margin-top: 6px;
	font-size: 12px;
}
*+html .textbox-label{
	text-indent: 0px;
}
* html .textbox-label{
	text-indent: 0px;
}
.text-label-indented {
	font-size: 12px;
	display: block;
	text-align: right;
	float: right;
	margin-top: -15px;
}
*+html .text-label-indented {margin-top: -20px;}
.textbox-fontsize{
	color: #979797;
	float: right;
	text-align: right;
	padding: 3px;
	font-size: 12px;
}
.textbox-fontsize a{
	color: #979797;
}
.textbox-content{
	clear: both;
	word-wrap: break-word;
	margin-top: 25px;
	line-height: 140%;
}
.textbox-adminbar {
	padding: 0px;
	color: #999;
}
.textbox-tburl {
	padding-top: 5px;
	color: #999;
}
.tags {
	clear: both;
	margin-top: 15px;
	padding:5px;
	color: #999;
	background: #fafafa;
}
.tags a {
}

/* comments wrapper */
.comment-wrapper{}

/* comments top box */
.comment-top{
	padding:5px;
	padding-top: 0px;
	margin: 5px;
	text-align: right;
}
.comment-pages{
	padding:5px;
	margin: 5px;
	color: #000;
}

/* commnet box */
.commentbox, .trackbackbox {
	word-wrap: break-word;
	padding:10px;
	margin-top: 15px;
	border-top: 1px dashed #ccc;
}
.commentbox-odd {
	background: #fafafa;
}
.commentbox-couple {
	background: #fff;
}
.commentbox-title, .trackbackbox-title{
	padding-bottom:10px;
	color: #71BBE3;
	font-weight: bold;
}
.commentbox-title a, .trackbackbox-title a{
	font-weight: bold;
}

.commentbox-label, .trackbackbox-label{
	display: block;
	color: #999;
	font-size: 12px;
}
.commentbox-label a, .trackbackbox-label a{
	font-weight: normal;
}

.commentbox-content, .trackbackbox-content{
}

/* comment form wrapper */
#commentForm {
	width: 100%;
}

/****** normal message box ******/
.messagebox{
 width: 550px;
 margin-top: 200px;
 border: 1px solid #ccc;
 border-top: 0px;
 text-align: center;
 background-color: #ccc;
}
.messagebox-title{
 color: #fff;
 font-weight: bold;
 padding: 5px;
}
.messagebox-content{
 color: #999;
 background:#fff;
 padding: 10px;
 text-align: left;
}
.messagebox-bottom{
 color: #000;
 background-color: #f0f0f0;
 padding: 5px;
}

/****** Input Form Styles (table) ******/
.formbox{}
.formbox-comment{
	margin: 10px 0;
}
.formbox-title,
.formbox-comment-title{
	color: #999;
	font-weight: bold;
	background: #f0f0f0;
	text-align: center;
	padding:5px;
}
.formbox-rowheader {
	padding: 5px;
	font-weight: bold;
	color: #999;
}
.formbox-content {
	padding: 5px;
}

/* smilies list */
.panel-smilies {
	text-align: center;
}
.panel-smilies-title {
	color: #999;
	text-align: center;
	border-bottom: 1px solid #ccc;
}
.panel-smilies-content {
	line-height: 120%;
}

/****** UBB Code Custom Styles ******/
/* IE fix for ul */
.code {
	word-wrap: break-all;
	border:1px solid #ccc;
	border-left: 4px solid #ccc;
	color: #999;
	padding: 10px;
	margin:15px 20px;
}
.quote {
	margin:15px 20px;
}
.quote-title {
	border-bottom: 1px solid #ccc;
	padding: 5px;
	color: #999;
}
.quote-content {
	word-wrap: break-all;
	color: #999;
	padding: 10px;
	background-color: #fff;
	border: 1px solid #ccc;
	border-top: 0px;
}

/****** Link ******/
.linkover {
	margin-bottom: 20px;
	height: auto;
	clear: both;
}
.linkbody {
	float: left;
	padding-bottom: 15px;
	color:#999;
}
.linkimg {
/*	width: 35%;*/
	float: left;
	text-align: right;
	margin-right: 15px;
}
.linktxt {
	float: left;
}
.linktitle a {
	font-weight: bold;
}
.linkgroup {
	font-weight: bold;
	color: #999;
	text-indent: 3px;
	margin-bottom: 5px;
}

/*Page*/
.pagebox {
	padding-bottom: 25px;
	margin-bottom: 5px;
	clear: both;
}
.pagebox-title{
	font-size: 16px;
	height: 68px;
}
.pagebox-title h4{
	color: #71BBE3;
	font-size: 16px;
	text-align: center;
	padding-bottom: 5px;
	margin: 0;
	display: block;
	border-bottom: 1px dashed #ccc;
	font-weight: bold;
}
.pagebox-content{
	margin-top: -30px;
	clear: both;
	word-wrap: break-word;
	padding: 0;
	line-height: 140%;
}

/* Emot Page Selection */
#smileybuttons {
	text-align: right;
	margin-top: 9px;
}
.smileybut {
	margin-right:3px;
	padding: 3px;
	vertical-align: middle;
	font-weight: bold;
}
.smileybut  a{
	border: 1px solid #BEE6FD;
}
