html,
body {
    height: 100%;
}

body.auth {
    background-color: #333333;
    color: white;
}

a {
    vertical-align: baseline;
}

a.tag, a.post-tag, .header-tab a {
    transition: all .15s ease-in-out;
}

h2 {
    font-size: 20px;
}

blockquote {
    font-size: 14px;
    border-left: 3px solid #eedaa6;
    background-color: #fff8dd;
    padding: 10px 20px 10px;
}

blockquote blockquote {
    margin-bottom: 5px;
}

kbd {
    padding: 2px 4px;
    font-size: 80%;
    color: #fff;
    background-color: #888;
    border-radius: 2px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

label {
    font-weight: normal;
}

pre {
    border: none;
    border-radius: 0;
    font-size: 12px;
    padding: 5px 8px;
    max-height: 500px;
    overflow: auto;
}

code {
    padding: 2px 4px;
    font-size: 90%;
    color: inherit;
    background-color: #f5f5f5;
    border-radius: 0;
}

hr {
    margin-top: 10px;
    margin-bottom: 12px;
    border: 0;
    border-top: 1px solid #ddd;
}

li {
    margin-bottom: 4px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
}

.select_wrapper:before {
    font: normal normal normal 11px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    top: 6px;
    right: 8px;
    content: "\f0dd";
    text-align: center;
    line-height: 13px;
    color: #787878;
    pointer-events: none;
}

.row .select_wrapper:before{
    top: 4px;
}

td .select_wrapper:before {
    top: 12px;
    right: 16px;
}

.index-form-wrapper .gsc-input tbody, .index-form-wrapper .gsc-input tr, .index-form-wrapper .gsc-input td { 
    display: block !important; 
}

/*a:visited:not(.btn) {*/
/*color: #23527c;*/
/*}*/

/*.wrap.admin a:visited {*/
/*color: #337ab7;*/
/*}*/

.btn-default:hover {
    background-color: rgba(112, 192, 255, 0.16);
    border-color: rgba(102, 175, 233, 0.52);
}

.btn-default:active, .btn-default.active {
    background-color: rgba(112, 192, 255, 0.18);
    border-color: rgba(102, 175, 233, 0.52);
    box-shadow: inset 0 3px 5px rgba(47, 145, 192, 0.18);
}

.btn-default:active:hover, .btn-default.active:hover {
    background-color: rgba(112, 192, 255, 0.37);
    border-color: rgba(102, 175, 233, 0.52);
}

.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
    z-index: 3;
}

.cut {
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: -160px;
}

a.small-href {
    font-size: 11px;
}

table .filters input[value]:not([value=""]), table .filters select.selected {
    background-color: rgba(112, 192, 255, 0.16);
    border-color: rgba(102, 175, 233, 0.39);
}

table .filters input:focus, table .filters select:focus {
    border-color: rgba(102, 175, 233, 0.52);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.37);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.09), 0 0 8px rgba(102, 175, 233, 0.37);
}

table .filters input[value]:not([value=""]):focus, table .filters select[value]:not([value=""]):focus {
    background-color: rgba(112, 192, 255, 0.21);
    border-color: rgba(102, 175, 233, 0.52);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.37);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.09), 0 0 8px rgba(102, 175, 233, 0.37);
}

table.table > tbody > tr > td {
    padding: 6px 8px;
}

table.table.detail-view td, table.table.detail-view th {
    border-top: none;
}

table.table-condensed > thead > tr > th, .table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td, .table-condensed > tbody > tr > td, .table-condensed > tfoot > tr > td {
    padding: 5px!important;
}

h1 span, h2 span, h3 span, h4 span, h5 span {
    line-height: 28px;
}

.input-sm {
    border-radius: 0;
}

.form-control {
    /*height: 24px;*/
    /*padding: 4px 6px;*/
    /*font-size: 10px;*/
    /*line-height: 1.2;*/
    border-radius: 0;
}

.input-xs {
    height: 24px;
    padding: 4px 6px;
    font-size: 10px;
    line-height: 1.2;
    /*border-radius: 0;*/
}

.form-control:focus {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.tags-page {
    margin-bottom: 40px!important;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0;
}

.login-form {
    width: 400px;
    margin: 20% auto;
}

.index-form {
    position: absolute;
    margin: auto;
    width: 100%;
    top: 10em;
    left: 0;
    right: 0;
    z-index: 0;
}

.index-form h1 {
    margin-bottom: 20px;
}
.index-form-wrapper {
    max-width: 600px;
    margin: 0 auto;
}

.index-form h1 {
    text-align: center;
}

.login-form h1 > *, .index-form h1 > * {
    display: inline;
    height: 25px;
    font-size: 25px;
    margin-right: 10px;
    font-weight: 200;
}

.index-form h1 > * {
    height: 35px;
    font-size: 35px;
}

.login-form .form-control:focus, .index-form .form-control:focus {
    border-color: #ffa500;
}

.container img {
    max-width: 100%;
}

.login-form input, .index-form input {
    background-color: #292929;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    display: block;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.06);
    padding-left: .75em;
    padding-right: .75em;
    color: white;
}

.btn {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.btn-warning {
    background: #ffa500;
    border-color: #ffa500;
}

.btn-warning:hover {
    background-color: #ec971f;
    border-color: #ec971f;
}

.btn-warning:active {
    background-color: #ec971f;
    border-color: #ec971f;
}

.btn-warning:active:hover {
    background-color: #d58512;
    border-color: #d58512;
}

.btn:active {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar {
    min-height: 40px;
}

.navbar-default {
    background-color: #292d2f;
    border-bottom: none;
}

.navbar-default .navbar-brand {
    color: #404040!important;
}

.navbar-brand {
    height: 40px;
    padding: 0 15px;
    font-size: 20px;
}

.navbar-brand img {
    float: left;
    height: 26px;
    margin: 7px 5px;
}

.navbar-brand .name {
    line-height: 40px;
    float: left;
    font-weight: 300;
    color: white;
}

.top-header, .question-header {
    border-bottom: 1px solid #eee;
}

.top-header .tag {
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 0;
    display: inline-block;
    vertical-align: top;
}

.top-header h1, .question-header h1 {
    margin-top: 0!important;
    font-size: 26px!important;;
    font-weight: 300!important;
}

.header-tab a {
    display: inline-block;
    line-height: 30px;
    margin-right: 5px;
    padding: 0 10px;
    border: 1px solid transparent;
    color: #888!important;
    position: relative;
    top: 1px;
}

.header-tab a:last-child {
    margin-right: 0;
}

.header-tab a:hover {
    border: 1px solid #eee;
    text-decoration: none;
    color: #555!important;
    background: #fafafa;
}

.header-tab a:focus {
    text-decoration: none;
}

.header-tab a.active {
    color: #000!important;
    border: 1px solid #eee;
    border-top: 1px solid #ffa500;
    border-bottom: 1px solid white;
}

.header-tab a.active:hover {
    background: none;
    color: #000;
}

.navbar-nav > li {
    margin-bottom: 0;
}

.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 7.5px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    border-bottom: 2.5px solid orange;
    background-color: #292d2f;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: white;
}

.summary .lead {
    font-size: 16px;
    margin-bottom: 7px;
    margin-top: 0;
    font-weight: 400;
    line-height: 1.3;
}

.summary .lead a:hover {
    text-decoration: none;
}

.questions .item .stats {
    width: 120px;
    margin-right: 15px;
    font-size: 12px;
    float: left;
    text-align: center;
    color: #888;
}

.questions .item .stats.accepted {
    color: #69b366;
}

.questions .item {
    padding-top: 10px;
    padding-bottom: 14px;
    border-bottom: 1px solid #eee;
}

.tag-text {
    border: 1px solid #e3e3e3;
    padding: 6px 12px;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 15px;
    background-color: #eee;
}

.tag-info {
    margin-bottom: 50px
}

.tag-info .tag-text {
    font-size: 14px;
}

.tag-info h2.lead {
    margin-bottom: 10px;
}

.questions .item .description {
    font-size: 13px;
    margin-bottom: 10px;
    min-height: 25px;
}

.questions .item .votes, .questions .item .answers {
    padding: 5px;
}
.questions .item .answers {
    padding: 0 5px;
    margin-top: 12px;
    border-radius: 3px;
    width: 100%;
    margin-right: 15px;
    font-size: 16px;
    float: left;
}

.question-header {
    margin-bottom: 15px;
}

.question .votes, .answers .votes {
    text-align: center;
    margin-top: 3px;
    margin-right: 10px;
    font-size: 11px;
}

.question .left-row, .answers .left-row {
    width: 65px;
    float: left;
    margin-bottom: 20px;
}

/*.questions .item .votes div, .questions .item .answers div, .questions .item .views div {*/
/*display: inline-table;*/
/*margin-top: -2px;*/
/*}*/

.questions .item .fa-check {
    margin-top: 10px;
    line-height: initial;
    font-size: 40px;
}

.question-text, .answer-text {
    overflow: hidden;
    padding-bottom: 15px;
    /*border-bottom: 1px solid #eee;*/
    /*padding-right: 6px;*/
}

.answer-text {
    border-bottom: none;
    padding-bottom: 7px;
}

.answers .answer {
    padding-bottom: 40px;
}

.answer {
    border-bottom: 1px solid #eee;
}

.description p {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    clear: both;
    line-height: 1.3;
}

.question-text .description {
    margin-bottom: 15px;
}

.question-row, .answer-row {
    overflow: hidden;
}

.comments {
    padding-top: 10px;
}

.answer .comments {
    margin-top: 0;
    min-height: 0;
}

.answer .comments {
    margin-bottom: 30px;
}

.comment {
    padding: 3px 7px;
}

.comment:nth-child(odd) {
    background: #f3f3f3;
}

.comment:nth-child(even) {
    background: #fbfbfb;
}

.comment-text {
    font-size: 12px;
    line-height: 18px;
    display: table;
}

.comment-text code, blockquote > code {
    border: 1px solid #e4e4e4;
}

.comment-text code {
    padding: 1px 4px;
}

.comment-text .time {
    color: #afafaf;
    clear: both;
    float: right;
    font-size: 10px;
    margin-left: 4px;
}

.answer {
    padding-top: 15px;
    overflow: hidden;
}

.answer img {
    max-width: 100%;
    display: block;
    vertical-align: baseline;
}

.answers-header {
    margin-top: 30px;
    border-bottom: 1px solid #eee;
}

.answers-header h2 {
    margin: 0!important;
    padding: 0!important;
    font-weight: 300;
}

.votes {
    color: #6a737c;
}

.votes i {
    line-height: 25px;
    cursor: pointer;
    display: block;
}

.votes i.vote {
    font-size: 50px;
}

.votes i.star {
    font-size: 25px;
    margin-top: 10px;
    color: #e1e1e1;
}

.votes i.star:hover {
    color:rgba(255, 165, 0, 0.35);
}

.stats .votes div {
    margin-bottom: initial;
}

.votes div {
    margin: 6px 0 2px;
}

.votes .accepted {
    color: #69b366;
    margin-top: 3px;
    line-height: initial;
    font-size: 35px;
}

.vote-count, .answer-count, .views-count {
    font-size: 20px;
    line-height: 22px;
    font-weight: 400;
}

.stats .views {
    padding-top: 5px;
    text-align: center;
}

.stats .views.warm {
    color: #9B764F;
}

.stats .views.hot {
    color: #CF7721;
}

.stats .views.extra {
    color: #F48024;
}

.tags {
    float: left;
}

h2.lead .tag {
    font-size: 14px;
    line-height: 16px;
    vertical-align: text-top;
    margin-top: 2px;
}

a.tag,a.post-tag {
    display: inline-block;
    padding: 5px 6px;
    line-height: 14px;
    text-decoration: none;
    background: #f7f1cb;
    color: #98844f;
    font-weight: normal;
    margin-top: 2px;
}

a.tag {
    margin-bottom: 5px;
}

a.tag:hover, .post-tag:hover {
    text-decoration: none;
    background: #ece6c2;
    color: #887647;
}

.tag.orange {
    background: #FFF5C3;
    color: #AD7B20;
    border: 1px solid #e3d0af;
}

.tag.orange:hover {
    background: #fbebb6;
}

.summary {
    overflow: hidden;
}

.answers.accepted {
    color: #69b366;
}

.answers.answered {
    color: #00B300;
    border: 1px solid #00B300;
}

.answers.none {
    color: #333;
    border: none;
}

.action-time {
    float: right;
    color: #888;
    font-size: 11px;
    margin-top: 4px;
}

.action-time a {
    text-decoration: none;
    color: #888;
    font-size: 11px;
    margin-top: 8px;
}

.action-time span {
    display: inline-block;
}

.gstl_50.gssb_c {
    display: none!important;
}

.footer {
    background-color: #292d2f;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
    z-index: 1;
    position: relative;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

a.asc:after, a.desc:after {
    /*position: relative;*/
    /*top: 1px;*/
    /*display: inline-block;*/
    /*font-family: 'Glyphicons Halflings';*/
    /*font-style: normal;*/
    /*font-weight: normal;*/
    /*line-height: 1;*/

    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-left: 5px;

}

a.asc:after {
    content: "\f160";
}

a.desc:after {
    content: "\f161";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.cl-orange {
    color: #ffa500;
}

.bg-orange {
    background-color: #ffa500;
}

.bg-orange-dim {
    background-color: rgba(255, 165, 0, 0.35);
}

.container .main-col h1 {
    font-size: 22px;
}

.container .main-col h2 {
    font-size: 18px;
}

.container .main-col h3 {
    font-size: 15px;
}

.container .main-col h1, .container .main-col h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.main-col {
    padding-right: 40px;
    margin-bottom: 40px;
}

.main-col-search {
    margin-bottom: 80px!important;
    margin-top: -20px!important;
}

.bottom-notice {
    padding-top: 25px;
    font-size: 16px;
}

.bottom-notice a {
    font-size: 14px;
    margin-right: 5px;
}

.bottom-notice a:first-child {
    margin-left: 5px;
}

.main-footer {
    margin: 40px 0 10px;
}

.pagination {
    margin: 0;
    border-radius: 0;
}

.pagination > .active > a {
    color: #fff!important;
}

.pagination > li > a, .pagination > li > span {
    margin-right: 5px;
    color: #888;
}

.pagination-sm > li > a, .pagination-sm > li > span {
    padding: 3px 9px;
    line-height: 1.4;
}

.pagination > li:first-child > a, .pagination > li:first-child > span {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.pagination > li:last-child > a, .pagination > li:last-child > span {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: 0;
}

.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
    color: white;
    background-color: #ffa500;
    border-color: #ffa500;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #ffa500;
    border-color: transparent;
}

.pagination > li > span.text {
    border-color: transparent;
    padding: 3px 7px;
}

.pagination > li > span.text:hover {
    color: #888;
    background-color: transparent;
}

.info-block {
    background: rgb(255, 242, 190);
    border: 1px solid rgb(246, 219, 160);
    padding: 15px;
}

.info-block .original > div {
    display: inline-block;
}

.warn-block {
    border: 2px solid #07C;
}

.warn-header {
    background: #07C;
    font-size: 18px;
    color: white;
    text-align: center;
    padding: 10px 5px;
}

.info-block hr {
    border-top: 1px solid rgb(246, 219, 160);
    margin-top: 3px;
    margin-bottom: 6px;
}

.info-block-head {
    font-weight: 500;
    color: #9f9577;
}

.info-block-item {
    font-size: 12px;
    margin-bottom: 7px;
}

.info-block-item a:hover {
    text-decoration: none;
}

.info-block-item:last-child {
    margin-bottom: 0;
}

.tags-list {
    overflow: hidden;
}

.tags-list .row {
    font-size: 12px;
}

.tags-list .tags-row {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #eee;
}

.tags-list .tags-row .col-sm-6 {
    padding-left: 0;
}

.tags-list .tag {
    font-size: 14px;
}

.tag-name {
    color: #888;
    margin-bottom: 5px;
}

.tag-desc {
    color: #888;
}

.tag-questions {
    margin-top: 5px;
    font-size: 11px;
}

.tag-questions a {
    color: black;
}

.tag-questions a:hover {
    text-decoration: none;
}

.tag-search {
    margin-top: 15px;
    margin-bottom: 15px;
}

.tag-search label {
    font-size: 14px;
    vertical-align: bottom;
}

.table > thead > tr > th {
    border-bottom: 1px solid #ddd;
    font-weight: 400;
}

.table > thead > tr > th > a:hover {
    text-decoration: none;
}

.table > thead > tr > th > * {
    color: black!important;
}


.top.questions .stats {
    width: 220px;
}

.top.questions .stats > div {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 0;
    padding: 7px 5px;
    min-width: 55px
}

.top.questions .stats, .top.questions .stats > .votes {
    margin-left: 0;
}

.top.questions .stats {
    margin-right: 10px;
    margin-top: 4px;
}

.top.questions .vote-count, .top.questions .answer-count, .top.questions .views-count {
    line-height: 18px;
}

.answer-pager {
    margin-top: 20px;
}

.footer .logo {
    font-size: 20px;
    font-weight: 300;
    line-height: 40px;
}

.footer .logo img {
    height: 26px;
    float: left;
    margin: 7px;
}

.modal-xl {
    width:1200px;
}

.modal-content {
    border: none;
    border-radius: 0;
}

.modal-header .close {
    margin-top: 4px;
}

.logo .name {
    float: left;
}

.logo a {
    color: #ffffff !important;
    display: block;
}

.loader {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.75);
    padding: 30%;
    left: -1px;
    z-index: 9999;
}
.bg-blue {
    background-color: rgba(74, 163, 255, 0.35)!important;
}

.orig, .tslt {
    padding: 2px 0 2px;
}

.orig.hover {
    background-color: rgba(255, 165, 0, 0.20);
    /*background-color: rgba(74, 163, 255, 0.14);*/
}

.bg-orange-h {
    background-color: rgba(255, 165, 0, 0.35)!important;
}

.sticky {
    position: fixed;
    top:0;
    margin: 0 !important;
}

.fix {
    display: block!important;
}

.tslt:hover {
    background-color: rgba(255, 165, 0, 0.20);
    /*background-color: rgba(74, 163, 255, 0.14);*/
    cursor: pointer;
}

.orig.hover .post-tag, .tslt:hover .post-tag {
    background-color: rgba(255, 165, 0, 0.20)
}

.bg-orange-h .post-tag {
    background-color: rgba(255, 165, 0, 0.35)
}

.additional {
    margin-top: -16px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    margin-bottom: 10px;
    min-height: 50px;
    z-index: 999999;
    background-color: rgb(179, 230, 255);
}

.additional span {
    display: none;
    cursor: pointer;
}

.additional span.show {
    display: block;
}

.popover {
    z-index: 999999;
    max-width: 1000px;
    border-radius: 0;
    border: none;
    -webkit-box-shadow: 0 2px 35px rgba(0, 0, 0, 0.6);
    box-shadow: 0 2px 35px rgba(0, 0, 0, 0.6);
    background-color: rgb(214, 255, 208);
    padding: 0;
}

.popover-translate {
    background-color: rgb(201, 238, 255);
    padding: 5px 10px;
    color: #555;
}

.popover small {
    font-size: 70%;
}

.popover textarea {
    z-index: 999999;
    background-color: rgb(214, 255, 208);
    padding: 0 0 3px;
}

.popover textarea::selection {
    /*background-color: rgba(121, 255, 132, 0.59);*/
}

.popover-content {
    z-index: 999999;
    padding: 5px 0 0;
    background-color: rgb(214, 255, 208);
}

.popover-text {
    padding: 0 10px 5px;
    overflow: hidden;
}

.popover-text textarea {
    border: none;
    box-shadow: none;
    overflow: hidden;
    height: 23px;
}

.popover-translate i {
    margin-left: -15px
}

.popover-translate {
    background-color: rgb(179, 230, 255);
    padding: 5px 10px 5px 25px;
    color: #555;
    display: none;
    cursor: pointer;
}

.popover-translate:before {
    font: normal normal normal 13px/1 FontAwesome;
    content: "\f176";
    position: absolute;
    left: 12px;
    margin-top: 3px;
}

#original img, #translate img {
    width: 100%;
}

#additional img {
    height: 18px;
}

@keyframes xsJump {
    from {
        margin-top: 6px;
    }

    to {
        margin-top: -1px;
    }
}

.popover-translate:hover:before {
    animation-duration: 0.40s;
    animation-name: xsJump;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.popover.top > .arrow {
    z-index: 999999;
    border-top-color: rgba(0, 0, 0, 0.06);
}

.top.questions .item:last-child {
    border:none!important;
    margin-bottom: 25px;
}

.popover.bottom > .arrow:after {
    z-index: 999999;
    border-bottom-color: rgb(214, 255, 208);
}

.popover.bottom > .arrow {
    z-index: 999999;
    border-bottom-color: rgba(0, 0, 0, 0.08);
}

.header-tab {
    margin-top: 7px;
}

.right-col > * {
    margin-bottom: 20px;
}

.m-t-3 {
    margin-top: 3px !important;
}

.m-t-5 {
    margin-top: 5px !important;
}

.m-t-10 {
    margin-top: 10px !important;
}

.m-t-15 {
    margin-top: 15px !important;
}

.m-t-25 {
    margin-top: 25px !important;
}

.m-r-10 {
    margin-right: 10px !important;
}

.m-b-10 {
    margin-bottom: 10px !important;
}

.m-b-5 {
    margin-bottom: 5px !important;
}

.m-b-15 {
    margin-bottom: 15px !important;
}

.m-b-25 {
    margin-bottom: 25px !important;
}

.m-b-50 {
    margin-bottom: 50px !important;
}

.m-l-10 {
    margin-left: 10px !important;
}

.relative {
    position: relative;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.overflow {
    overflow: hidden;
}

kbd code {
    background-color: transparent!important;
}

.navbar-toggle {
    border: none;
    padding: 5px 10px;
    border-radius: 0;
}
.navbar-toggle:hover, .navbar-toggle:focus {
    background-color: transparent!important;
}

.share-link, .a-link {
    color: #888;
    font-size: 12px;
    text-decoration: none;
    float: left;
    margin-top: 3px;
    margin-right: 15px;
}

.share-link:hover, .a-link:hover {
    color: #666;
    text-decoration: none;
}

.tq-not-found {
    margin-top: 50px;
    font-size: 25px;
}

#admin-toolbar {
    height: 100%;
    width: 300px;
    position: fixed;
    top: 0;
    right: -300px;
    background-color: #292d2f;
    color: white;
    -webkit-transition: right 0.2s;
    -moz-transition: right 0.2s;
    -o-transition: right 0.2s;
    transition: right 0.2s;
}

#admin-toolbar.open {
    right: 0;
    -webkit-transition: right 0.5s;
    -moz-transition: right 0.5s;
    -o-transition: right 0.5s;
    transition: right 0.5s;
}

#admin-label {
    background-color: #292d2f;
    color: #ffa500;
    left: -70px;
    top: 150px;
    padding: 5px 10px;
    -ms-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    cursor: pointer;
    position: absolute;
}

.admin-body {
    width: 100%;
    margin-top: 40px;
}

.admin-body a {
    color: #7cbfff;
    text-decoration: underline;
}

.admin-body .item {
    margin-top: 10px;
    overflow: hidden;
}

.admin-body .item > * {
    float: left;
}

.admin-body .item > span + div {
    margin-left: 25px;
}

#admin-toolbar .admin-body > .col-sm-12 {
    position: relative;
    top: 0;
}

#admin-toolbar .btn {
    margin-right: 7px;
}

.answer.pick .answer-text, .comment.pick {
    cursor: pointer;
}

.answer.pick .answer-text:hover, .comment.pick:hover {
    background: rgba(218, 240, 255, 1);
}

.linkindicator {
    position: absolute;
    left: 0;
    width: 5px;
    height: 100%;
}

.linkindicator .point {
    background: #7cbfff;
    height: 3px;
    width: 100%;
    position: absolute;
}

div.search {
    width: 300px;
    float: right;
    margin-top: 2px;
    position: relative;
    transition-property: width;
    transition-duration: .3s;
}

div.index-search {
    position: relative;
}

#___gcse_0:after {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f002";
    color: #b6b6b6;
    position: absolute;
    z-index: 9999;
    right: 0;
    top: 0;
    margin-right: 32px;
    margin-top: 11px;
}

.index-search #___gcse_0:after {
    display: inline-block;
    font: normal normal normal 20px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f002";
    color: #b6b6b6;
    position: absolute;
    z-index: 9999;
    right: 0;
    top: 0;
    margin-right: 15px;
    margin-top: 12px;
}

#___gcse_0 .gsc-input input {
    width: 100%!important;
    padding: 0 0 0 10px !important;
    border: 1px solid rgba(0, 0, 0, 0.360784)!important;
    margin: 0!important;
    outline: none!important;
    text-indent: 0!important;
    box-sizing: border-box!important;
    border-radius: 3px!important;
    display: block!important;
    position: relative!important;
    box-shadow: rgba(0, 0, 0, 0.0588235) 0 2px 3px!important;
    line-height: 22px!important;
    background: rgb(23, 23, 23) none no-repeat no-repeat 10px center!important;
    height: 28px!important;
    color: #b6b6b6!important;
    font-size: 15px!important;
}

.index-form #___gcse_0 .gsc-input input {
    width: 100%!important;
    padding: 0 0 0 10px !important;
    margin: 0!important;
    outline: none!important;
    text-indent: 0!important;
    line-height: 22px!important;
    background: rgb(23, 23, 23) none no-repeat no-repeat 10px center!important;
    height: 38px!important;
    font-size: 15px!important;
    background-color: #292929 !important;
    -moz-box-sizing: border-box !important;
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important;
    -moz-border-radius: 3px !important;
    -webkit-border-radius: 3px !important;
    border-radius: 3px !important;
    display: block !important;
    position: relative !important;
    border: 1px solid rgba(0, 0, 0, 0.15)!important;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.06)!important;
    padding-left: .75em !important;
    padding-right: .75em !important;
    color: white !important;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.index-form-wrapper .gsc-search-box-tools .gsc-search-box .gsc-input {
    padding-right: 0!important;
}

.index-form-wrapper .gsc-input{
    display: block!important;
}

.index-form-wrapper a.cl-orange {
    margin-right: 15px;
}

.index-form-wrapper .legend {
    text-align: center;
    font-size: 1em;
    margin-top: 25px;
}

.index-form-wrapper a.cl-orange:hover {
    color: #ffa500;
}

.index-form-wrapper .gsib_a {
    padding-right: 0!important;
    padding-left: 0!important;
}

#___gcse_0 .gsc-input-box {
    border: none!important;
    background: none!important;
}

.gsc-input-box {
    box-shadow: none!important;
    -moz-box-shadow: none!important;
    -webkit-box-shadow: none!important;
}

.gsc-control-cse .gsc-table-result {
    display: block;
}

.gsc-result-info {
    padding: 8px 8px 8px 0!important;
}

.license {
    font-size: 12px;
    color: #adadad;
    margin-top: 6px;
    max-width: 250px;
}

.spoiler > * {
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.spoiler:hover > * {
    opacity: 1;
}

@media (min-width: 1200px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1260px) {
    .container {
        width: 1230px;
    }
}

@media (max-width: 768px) {
    .main-col {
        padding-right: 15px;
    }
    .navbar-default {
        background-color: #292d2f;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: white;
    }
    .navbar-brand .name, .navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > .active > a {
        color: white!important;
    }
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        border-color: #000000!important;
    }
    .navbar-nav {
        margin: 0 -15px!important;
    }
    .navbar-nav > li > a {
        border-bottom: 1px solid #000;
        padding-bottom: 10px!important;
    }
    .navbar-default .navbar-nav > .active > a {
        background-color: transparent!important;
    }
    .navbar-collapse {
        -webkit-box-shadow: none!important;
        box-shadow: none!important;
    }
    .navbar-nav > li {
        -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
    }
    .navbar-nav > li.active + li {
        -webkit-box-shadow: none!important;
        box-shadow: none!important;
    }

    .navbar-nav > li.active:last-child > a {
        border-bottom: 4px solid orange!important;
    }

    .questions .item .stats {
        width: 60px;
        margin-right: 5px;
    }

    .top.questions .item .stats, .top.questions .item .stats .votes, .top.questions .item .stats .answers, .top.questions .item .stats .views {
        margin-left: 0;
        margin-right: 0;
    }

    .top.questions .item .stats .votes {
        padding-top: 3px;
    }

    .top.questions .item {
        padding-bottom: 10px;
    }

    .top.questions .item .stats {
        width: 55px;
        margin-top: 0;
        margin-right: 15px;
    }

    .top.questions .item .stats .views {
        display: none!important;
    }

    .questions .item .votes, .questions .item .answers {
        margin-left: 0;
        margin-right: 0;
        font-size: 13px;
    }

    .questions .item .answers {
        margin-left: 0;
        margin-right: 0;
    }

    .tags-list > div > div.row {
        margin-bottom: 0;
        padding-bottom: 0;
        padding-top: 0;
        border-bottom: none;
    }

    .action-time {
        font-size: 12px;
    }

    .tags-list .tags-row {
        padding-top: 0;
        padding-bottom: 0;
        border-bottom: none;
    }

    .tags-list > div > div.row > div.col-sm-12 .col-sm-6 {
        margin-bottom: 10px;
        padding: 5px 0 10px;
        border-bottom: 1px dotted #eee;
    }

    .index-form {
        top: 6em;
    }
}

kbd {
    display: inline-block;
    margin: 0 .1em;
    padding: .1em .6em;
    font-family: Ubuntu,Arial,"libra sans",sans-serif;
    font-size: 11px;
    line-height: 1.4;
    color: #242729;
    text-shadow: 0 1px 0 #FFF;
    background-color: #e1e3e5;
    border: 1px solid #adb3b9;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(12,13,14,0.2), 0 0 0 2px #FFF inset;
    white-space: nowrap;
}

.question-originals-of-duplicate.question-status {
    width: auto;
    margin: 10px 0;
    padding: 10px;
    background-image: none;
}

.question-status {
    margin-top: 15px;
    margin-bottom: 10px;
    padding: 15px 8px 1px 60px;
    background-color: #fff7e5;
    border: 1px solid rgba(83,90,96,0.1);
    clear: both;
}

.question-originals-of-duplicate ul {
    margin: 0;
}

.question-status p {
    font-size: 13px;
}

.question-originals-of-duplicate p {
    margin: 0;
    font-weight: bold;
}

ul {
    list-style-type: disc;
}

.question-originals-of-duplicate ul li {
    list-style-type: none;
    margin: 0;
}

.post-text li, .wmd-preview li {
    word-wrap: break-word;
}

ul, ol, li {
    margin: 0;
    padding: 0;
}

ol, ul {
    list-style: none;
}