/*标题*/
#cnblogs_post_body h1 {
background: gray !important;
background: #FFFACD !important;
border-radius: 4px 4px 4px 4px !important;
box-shadow: 0 0 0 1px #5F5A4B, 1px 1px 6px 1px rgba(10, 10, 0, 0.5);
color: #000000;
font-family: "Courier New", "宋体", "黑体", Arial;
font-size: 16px;
font-weight: bold;
margin: 15px 0 !important;
padding: 5px 0 5px 20px;
}
#cnblogs_post_body h2 {
  background: gray !important;
background: #FAFAD2 !important;
border-radius: 4px 4px 4px 4px !important;
box-shadow: 0 0 0 1px #5F5A4B, 1px 1px 6px 1px rgba(10, 10, 0, 0.5);
color:#000000;
font-family: "Courier New", "宋体", "黑体", Arial;
font-size: 14px;
font-weight: bold;
margin: 15px 0 !important;
padding: 5px 0 5px 20px;

}#cnblogs_post_body h3 {
  background: gray !important;
background: #FFFFE0 !important;
border-radius: 4px 4px 4px 4px !important;
box-shadow: 0 0 0 1px #5F5A4B, 1px 1px 6px 1px rgba(10, 10, 0, 0.5);
color: #000000;
font-family: "Comic Sans MS", "宋体", "黑体", Arial;
font-size: 12px;
font-weight: bold;
margin: 15px 0 !important;
padding: 5px 0 5px 20px;
}