.newspubhead{padding:20px 0;}
.cph_l{float:left;margin:7px 0 0;}
.cph_l span{font-size:16px;padding:0 10px;float:left;}
.cph_l span.popmenu{position:relative;padding:0 25px 0 20px;background:url(../images/channelicon.png) 65px -432px no-repeat;}
.cph_l span.popmenu:hover{/* position:relative; *//* padding:0 25px 0 20px; *//* background:url(../images/channelicon.png) 61px -610px no-repeat; */}
#nav .nav-item:nth-child(5) span.popmenu{background: url(/statics/hp/images/channelicon.png) 90px -432px no-repeat;}
#nav .nav-item:nth-child(5) span.popmenu:hover{background: url(/statics/hp/images/channelicon.png) 91px -610px no-repeat;}
.cph_l span.popmenu3t{position:relative;padding:0 35px 0 20px;background:url(../images/channelicon.png) 75px -432px no-repeat;}
.cph_l span.popmenu3t:hover{position:relative;padding:0 35px 0 20px;background:url(../images/channelicon.png) 76px -610px no-repeat;}
.cph_l em{color:#ddd;padding:0 4px;float:left;}
.cph_l div.popmenubox{text-align:left;background:#FFF;width:100px;left:-8px;position:absolute;margin:12px 0 0;border: 1px solid rgba(0,0,0,.15);border-radius: 4px;-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);box-shadow: 0 6px 12px rgba(0,0,0,.175);background-clip: padding-box;}
.cph_l div.popmenubox ul li{float:left;width:100px;font-size:14px;border-bottom:1px solid #ddd;} 
.cph_l div.popmenubox ul li a{float:left;width:90px;padding:0 0 0 10px;line-height:32px;height:32px;}
.cph_l div.popmenubox ul li a:hover{float:left;width:90px;padding:0 0 0 10px;line-height:32px;height:32px;background:#f6f6f6;}
.cph_l div.popmenubox2{text-align:left;background:#FFF;width:545px;margin:12px 0 0;height:117px;overflow:hidden;}
.trainp{float:left;width:185px;}
.trainp a{float:left;display:block;width:185px;height:117px;overflow:hidden;}
.trainp img{transition:all .6s;}
.trainp img{-webkit-transition:all .6s;}
.trainp img:hover{transform: scale(1.1); }
.traint{float:left;width:345px;}
.traint{float:left;margin-left:15px;}
.traint p{padding:9px 12px 0 0;}
.traint p{font-size:12px;color:#999;line-height:24px;}

.cph_r{float:right;}
.psosocho{font-size:12px;text-align:left;padding-left:5px;border:1px solid #e60012;float:left;width:80px;height:30px;background:url(../images/channelicon.png) 73px -427px #fff no-repeat;line-height:30px;}
.psosotxt{font-size:12px;text-align:left;padding-left:5px;border:1px solid #e60012;float:left;width:110px;height:30px;line-height:30px;border-left:0;}
.psosotxt li{float:left;}
.psosotxt li.sbtico a{text-indent:-2000em;float:left;width:15px;height:30px;overflow:hidden;background:url(../images/eeworld_indexicon.png) 0px -624px no-repeat;}
.psosotxt li.sbtico a:hover{width:15px;height:30px;overflow:hidden;background:url(../images/eeworld_indexicon.png) 0px -675px no-repeat;}
.psosotxt .kw{width:82px;border:none;}
.psosolog{float:left;margin-left:6px;}
.psosolog p a{margin:0 3px 0 0;font-size:12px;float:left;border:2px solid #e60012;padding:0 6px;background:#FFF;color:#e60012;height:28px;line-height:28px;overflow:hidden;}
.psosolog p a:hover{font-size:12px;border:2px solid #e60012;padding:0 6px;background:#e60012;color:#FFF;}


.cph_r  .nserb{float:left;height:33px;border:1px solid #ddd;width:140px;outline-style:none;border-right:0;}
.cph_r  .nserbtn{float:left;cursor:pointer;height:32px;width:46px;background:url(../images/channelicon.png) 14px -386px #e60012 no-repeat;border:0;outline-style:none;}
.cph_r .loginbbtn{float:left;background:#e60012;margin:0 0 0 5px;height:32px;line-height:32px;padding:0 10px;text-align: center;}
.cph_r .search_blk{width:198px;float:left;}
/*channel head*/
.channelhead{float:left;height:40px;width:1200px;}
.c_logo{float:left;}
.c_name{float:left;margin:3px 0 0 20px;}
.c_name h3{background:#e60012;padding:10px 20px;-moz-border-radius:7px;-webkit-border-radius:7px; border-radius:7px;}
.c_txt{float:left;margin:20px 0 0 20px;}
.c_txt span.arrow{padding:0 8px;}
.c_search{float:right;margin:15px 0 0;background:#f6f6f6;padding:5px 15px;border-radius:10px;}
.c_search span{padding:0 10px 0 0;}
.c_search input{outline:0;cursor:pointer;border:0;background:url(../images/channelicon.png) 0 -571px no-repeat;height:17px;width:17px;}
.channelheadnav{font-size:16px;text-align:left;padding:15px 0;}
.channelheadnav span{padding:0 16px 0 0;}

/*channel page*/
.channellbox{float:left;width:860px;margin:0 40px 0 0;text-align:left;}
.chan_toppic{float:left;width:360px;}
.chan_toptxt{float:right;width:460px;}
.chan_toptxt h1{font-size:24px;font-weight:bold;line-height:40px;height:40px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.chan_toptxt ul{padding:10px 0 0;}
.chan_toptxt ul li{font-size:16px;line-height:34px;height:34px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.chan_toptxt ul li span{padding:0 5px 0 0;}
.chan_topbl{float:left;width:400px;margin:30px 0 0;}
.chan_topbr{float:right;width:400px;margin:30px 0 0;}

.chan_topbl h3,.chan_topbr h3{border-left:5px solid #e60012;padding:5px 0;}
.chan_topbl h3 span,.chan_topbr h3 span{padding:0 0 0 10px;font-weight:bold;}
.chan_topbl h3 em,.chan_topbr h3 em{float:right;font-size:12px;background:url(../images/channelicon.png) 0 -471px no-repeat;padding:0 0 0 15px;}
.chan_topbl dl,.chan_topbr dl{padding:10px 0 0;}
.chan_topbl dl dt,.chan_topbr dl dt{font-size:16px;line-height:34px;height:34px;overflow:hidden;}
.chan_topbl dl dd,.chan_topbr dl dd{line-height:24px;padding:5px 0 10px;}

.chan_tlistnav{background:#e7e7e7;}
.chan_tlistnav dt{float:left;background:#e60012;padding:15px 25px;color:#FFF;border-top:1px solid #e60012;}
.chan_tlistnav .select{float:left;background:#e60012;color:#FFF;}
.chan_tlistnav .select a{color:#FFF;}
.chan_tlistnav .select a:hover{background:#FFF;padding:15px 25px;border-top:1px solid #e60012;color:#e60012;}
.chan_tlistnav dd{float:left;}
.chan_tlistnav dd a{float:left;padding:15px 25px;border-top:1px solid #e7e7e7;}
.chan_tlistnav dd a:hover{background:#FFF;padding:15px 25px;border-top:1px solid #e60012;}
.chan_tlisttxt{margin:20px 0;}
.chanliststy1{margin:10px 0 20px;border-bottom:1px solid #ddd;padding:0 0 20px;}
.chanliststy1 dt.tit{font-size:20px;padding:10px 0;}
.chanliststy1 dd.dec{font-size:16px;line-height:28px;padding:10px 0;}
.chanliststy1 dd.dec img{float:left;padding:0 15px 0 0;}
.chanliststy1 dd.keyw{margin:20px 0 0;}
.chanliststy1 dd.keyw dfn{background:#f6f6f6;padding:5px 10px;border-radius:5px;margin:0 10px 0 0;}
.chanliststy1 dd.keyw em{padding:0 5px;}
.chanliststy1 dd.keyw em a{color:#888;}
.chanliststy1 dd.keyw em a:hover{color:#e60012;}
.chanliststy1 dd.keyw code{float:right;padding:0 5px;color:#888;font-size:12px;}
.chanliststy1 dd.keyw  .pubdate{float:left;padding:0 5px;color:#888;font-size:12px;margin-right:20px;}

.chan_tlisttxt p{background:url(../images/channelicon.png) 365px -505px no-repeat;border:1px solid #ddd;margin:20px 0;padding:15px 0;text-align:center;}
.chan_tlisttxt .page{border:1px solid #ddd;margin:20px 0;padding:15px 0;text-align:center;}
.chan_tlisttxt .page span{color:#c00;}

/*newpage title*/

.newsptit{border-bottom:1px solid #ddd;padding:0 0 15px;text-align:left;margin:50px 0 30px;}
.newsptit h1{padding:0 0 30px 0;line-height:36px;}
.newsptit h6 span{padding:0 10px 0 0;}
.newslayer{float:left;width:1205px;}
.newslbox{float:left;width:135px;}
.newslbox ul li{border-bottom:1px solid #ddd;padding:10px 0 10px 30px;text-align:left;}
.newslbox ul li.fav{background:url(../images/channelicon.png) 0 10px no-repeat;}
.newslbox ul li.com{background:url(../images/channelicon.png) 0 -35px no-repeat;}
.newslrew dt{padding:40px 0 10px;}
.fengxiang{margin:40px 0 0;text-align:left;}
.fengxiang dt{border-bottom:1px solid #ddd;font-weight:bold;padding:0 0 10px;}
.fengxiang dd{padding:15px 0 15px 40px;;}
.fengxiang dd.weibos{background:url(../images/channelicon.png) 0 -80px no-repeat;}
.fengxiang dd.qq{background:url(../images/channelicon.png) 0 -134px no-repeat;}
.fengxiang dd.weixin{background:url(../images/channelicon.png) 0 -188px no-repeat;}
.fengxiang dd.linkedin{background:url(../images/channelicon.png) 0 -242px no-repeat;}


.newsmbox{float:left;width:685px;margin:0 40px;text-align:left;}
.newscontxt{font-size:18px;line-height:32px;}
.newscontxt p a,.newscontxt div a{color:#333;font-size:18px;}
.newscontxt p a:hover,.newscontxt div a:hover{color:#e60012;}
.newscontxt p img,.newscontxt  img{display:block;text-align:center;margin:10px auto;max-width:550px;}
.newscontxt .a1 img{display:inline;}
.newscontxt h4{margin:30px 0;}
.newscontxt h4 a{padding:0 10px;}
.newscontxt h5{margin:30px 0;}
.newscontxt h6{margin:30px 0;background:#fbfbfb;padding:10px;font-size:12px;line-height:22px;}
.newssao{border:1px solid #ddd;padding:10px;margin:30px 0;}
.newssao dl.saol{float:left;width:320px;}
.newssao dl.saol dt{float:left;margin:0 30px 0 0;}
.newssao dl.saol dd{float:left;padding:25px 0 0;line-height:24px;}
.newssao dl.saor{float:right;width:320px;}
.newssao dl.saor dt{float:left;margin:0 30px 0 0;}
.newssao dl.saor dd{float:left;padding:25px 0 0;line-height:24px;}
.newsrecomtit{margin:30px 0;}
.newsrecomtit dl{background:#e7e7e7;}
.newsrecomtit dt{float:left;background:#e60012;padding:15px 25px;color:#FFF;border-top:1px solid #e60012;}
.newsrecomtit dd{float:left;}
.newsrecomtit dd a{float:left;padding:15px 25px;border-top:1px solid #e7e7e7;}
.newsrecomtit dd.curr a{background:#FFF;padding:15px 25px;border-top:1px solid #e60012;}
.newsrecom{border:1px solid #ddd;padding:10px;border-top:0;}
.newsrecom ul{padding:0 0 15px;}
.newsrecom ul.newsrtxt li{padding:0 0 0 15px;width:310px;float:left;background:url(../images/channelicon.png) 0 -294px no-repeat;overflow:hidden;height:30px;line-height:30px;}
.newsrecom ul.newsrdow{border-top:1px solid #ddd;padding:15px 0 0;}
.newsrecom ul.newsrdow li{padding:0 0 0 5px;width:315px;float:left;overflow:hidden;height:30px;line-height:30px;}
.newscomment{margin:30px 0;padding:}
.newscomment h3{background:#e7e7e7;padding:10px 20px;}

.newscomtxt{margin:20px 0;position:relative;}
.newscomtxt span.commnet_duser{margin:0 20px 0 0;}
.newscomtxt span.comment_dipt{float:right;}
.newscomtxt span.comment_dipt textarea{border:1px solid #ddd;border-radius:5px;}
.newscomtxt span.comment_dbtn{float:right;width:100%;text-align:right;margin:10px 0 0;}
.comment_list dl{border-bottom:1px solid #ddd;padding:0 0 10px;margin:30px 0;}
.comment_list dl dt{float:left;margin:0 20px 0 0;}
.comment_list dl dt img{width:50px;height:50px;border-radius:50%;}
.comment_list dl dd{line-height:24px;margin:0 0 0 70px;padding:0 0 5px;}
.comment_list dl dd span.left{float:left;}
.comment_list dl dd span.right{float:right;}
.comment_list dl dd span.right a{padding:0 5px;}

.newspagenum{margin:15px 0;text-align:center;}
.newspagenum span{padding:7px 20px;border:1px solid #ddd;border-radius:5px;}
.newspagenum span:hover{background:#eee;padding:7px 20px;border:1px solid #ddd;border-radius:5px;}
.newspagenum span.current{background:#eee;padding:7px 20px;border:1px solid #ddd;border-radius:5px;}

.newsrbox{float:right;width:300px;text-align:left;}
.newsxiaoguangbo,.newspdail,.newsxuetang,.newsziyuan{border-bottom:1px solid #ddd;padding:0 0 10px;}
.newsxiaoguangbo h3,.newspdail h3,.newsxuetang h3,.newszhuanti h3,.newsziyuan h3{border-left:5px solid #e60012;padding:10px 0 10px 15px;}
.newsxiaoguangbo h3 span{float:right;margin:5px 0 0;}
.newsxiaoguangbo h3 span a{float:left;text-indent:-1000em;padding:0 5px;background:url(../images/channelicon.png) 0 -343px no-repeat;width:10px;height:10px;overflow:hidden;}
.newsxiaoguangbo h3 span a.selected{float:left;text-indent:-1000em;padding:0 5px;background:url(../images/channelicon.png) 0 -353px no-repeat;width:10px;height:10px;overflow:hidden;}
.newsxiaoguangbo dl{padding:15px 0;}
.newsxiaoguangbo dl dt{padding:0 0 10px;line-height:24px;}
.newsxiaoguangbo dl dd{line-height:24px;}
.newspdail h3 span,.newsxuetang h3 span,.newszhuanti h3 span,.newsziyuan h3 span{float:right;}
.newspdail ul{padding:15px 0 10px;}
.newspdail ul li{height:32px;overflow:hidden;line-height:32px;}
.newspdail ul li span{padding:0 3px;}
.newsxuetang dl.newsxuet1 dt{margin:30px 0 15px;}
.newsxuetang dl.newsxuet1 dd{text-align:center;height:24px;overflow:hidden;line-height:24px;text-overflow:ellipsis;white-space:nowrap;}
.newsxuetang dl.newsxuet2{float:left;width:150px;margin:20px 0 0;}
.newsxuetang dl.newsxuet2 dt{padding:0 0 10px;}
.newsxuetang dl.newsxuet2 dd{height:24px;overflow:hidden;line-height:24px;}
.newsxuetang dl.newsxuet3{float:right;width:150px;margin:20px 0 0;text-align:right;}
.newsxuetang dl.newsxuet3 dt{padding:0 0 10px;}
.newsxuetang dl.newsxuet3 dd{height:24px;overflow:hidden;line-height:24px;}
.newszhuanti dl{border-bottom:1px solid #ddd;padding:10px 0 10px;}
.newszhuanti dl dt{margin:10px 0;font-weight:bold;height:24px;line-height:24px;overflow:hidden;}
.newszhuanti dl dd.img{float:left;width:100px;}
.newszhuanti dl dd.txt{float:right;width:190px;line-height:24px;}
.newsziyuan ul{padding:15px 0;}
.newsziyuan ul li{line-height:32px;height:32px;overflow:hidden;}
.newsziyuan ul li span{padding:0 5px 0 0;color:#e60012;}

/*footer*/
.newsfooter{text-align:left;}
.newsftl{width:220px;float:left;}
.newsftl span{display:block;margin:30px 0 0;}
.newsftr{width:978px;float:right;border-left:1px solid #ddd;border-right:1px solid #ddd;}
.newf_p1{border-bottom:1px solid #ddd;padding:20px 20px;}
.newf_p1 span{padding:0 30px 0 0;font-size:16px;}
.newf_p2{border-bottom:1px solid #ddd;padding:15px 20px;}
.newf_p2 span{font-size:12px;padding:0 15px 0 0;line-height:22px;}
.newf_p3{padding:15px 20px;}
.newf_p3 span{padding:0 10px 0 0;display:inline-block;height:52px;vertical-align:middle;line-height:52px;font-size:12px;}
.footcopy{padding:10px 0;}
.footcopy span{padding:0 5px;font-size:12px;}

.scroll_cont .box {float: left;width: 300px;}
.none{display:none;}
.nav-item {display: inline;float: left;position: relative;}
.dropdown-menu {-moz-border-bottom-colors: none;-moz-border-left-colors: none;-moz-border-right-colors: none;-moz-border-top-colors: none;border-color: #333;border-image: none;border-style: solid;border-width: 2px 1px 1px;background: #fff none repeat scroll 0 0;border: 2px solid #DDE1E9;position: absolute;z-index: 12;}
.tese-zone {color:#393939;margin:0;line-height:25px;}
.left-menu {display: inline;float: left;width: 250px;}
.left-menu li {background-position: -155px -170px;float: left;width: 49.9%;}
.left-menu a {display: block;font-size: 12px;height: 24px;line-height: 24px;margin-right: 10px;overflow: hidden;padding-left: 10px;white-space: nowrap;}
.breadcrumb ul,.breadcrumb ul li{display:inline;}
.breadcrumb .dropdown-menu ul li{display:block;}
.breaditem .dropdown-menu{line-height:25px;}
.breaditem .dropdown-menu a.select{color: #e60012;}

.ui-loader-default {background:rgba(0,0,0,0) none repeat scroll 0 0;height: 46px;margin-left: -23px;margin-top: -23px;opacity: 0.18;width: 46px;}
.ui-loader-verbose {opacity: 0.88;width:200px;margin:20px auto;padding:20px 0;}
.ui-loader-default h1 {font-size:0;height: 0;overflow: hidden;width: 0;}
.ui-loader-verbose h1 {font-size: 16px;margin: 0;text-align: center;}
.ui-loader .ui-icon {background-color: #000;border-radius: 36px;display: block;height: 44px;margin: 0;padding: 1px;width: 44px;}
.ui-loader-verbose .ui-icon{margin: 0 auto 10px;opacity: 0.75;}
.ui-loader-textonly {margin-left: -115px;padding: 15px;}
.ui-loader-textonly .ui-icon {display: none;}
.ui-icon {height: 18px;width: 18px;}
.ui-icon-loading {background: rgba(0, 0, 0, 0) url("../images/ajax-loader.gif") repeat scroll 0 0 / 46px 46px;}
.ui-body-b, .ui-overlay-b {background: #f3f3f3 linear-gradient(#ddd, #ccc) repeat scroll 0 0;border: 1px solid #999;color: #222;font-weight: normal;text-shadow: 0 1px 0 #fff;}
.ui-corner-all {border-radius: 0.6em;}

.returnTop {background-position: 0 1px;bottom: 30px;cursor: pointer;display: none;height: 55px;position: fixed;right: 10px;text-indent: -9999px;width: 55px;background: rgba(0, 0, 0, 0) url("../images/scroll.png") no-repeat scroll 0 0;}
.returnTop:hover {background-position: 0 -66px;}

.eew-menu {background: #fff none repeat scroll 0 0 padding-box;border: 1px solid rgba(0, 0, 0, 0.15);border-radius: 4px;box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);left: -8px;position: absolute;text-align: left;top:17px;}
.eew-menu ul li {border-bottom: 1px solid #ddd;clear:both;font-size: 14px;width: 100px;}
.eew-menu ul li a {float:left;height: 32px;line-height: 32px;padding: 0 0 0 10px;width: 90px;}

.select{position:relative;}
.select dt{height:28px;display:inline-block;line-height:28px;font-weight:bold;padding-left:5px;cursor:pointer;width:70px;padding-right:6px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;position:relative;z-index:99;}
.select dd{position:absolute;left:0;top:29px;border:1px solid #d2ccc4;background:#fff;display:none;}
.select dd ul{padding:4px;width:104px;max-height:250px;overflow:auto;}
.select dd ul li a{line-height:28px;display:block;padding:0 8px;}
.select dd ul li a:hover{background:#f5f5f5;}
.cp2_bnav li.select a{color:red;}
.rarticle-list{margin-top:3px;}
.rarticle-list > p {color: #333;font-size: 16px;font-weight: bold;margin-bottom: 18px;margin-top: 48px;}
.rarticle{position: relative;padding-bottom: 15px;padding-top: 16px;padding-left: 180px;border-bottom:1px dashed #d8d8d8;}
.rarticle:hover{background:#fbfbfb;}
.rarticle .thumb {position: absolute;left: 0;top: 16px;width: 160px;}
.rarticle .thumb img{width:160px;height:100px;border:1px solid #efefef;border-radius:3px;transition: all 0.5s;}
.rarticle .thumb img:hover {transform: scale(1.1);}
.rarticle .title{font-size:16px;font-weight:bold;}
.rarticle .title img{float:left;margin:4px 12px 0 0;}
.rarticle .title a{color:#2f2f2f;}
.rarticle .title a:hover{background:#2897C5;color:#fff;}
.rarticle .title a:hover {background: none;color: #d00000;}
.rarticle .summary{line-height:24px;margin-top:7px;height:48px;overflow:hidden;position:relative;}
.rarticle .summary::after{content:"...";font-weight:bold;position:absolute;bottom:0;right:0;padding:0 20px 1px 45px;background:url(/statics/images/ellipsis_bg.png) repeat-y;}
.rarticle .info{color:#999;padding-top:10px;}
.rarticle .info .face img{float:left;margin:-3px 8px 0 0;display:none;}
.rarticle .info a{margin-right:8px;}
.rarticle .info .sp{color:#ccc;margin:0 5px;}

.newsrecomtit .morelk{float:right;position:relative;top:15px;right:20px;}
.downrank img{position:relative;top:3px;padding-right:5px;}
.vbtn{position:relative;top:2px;width:15px;}
.eduimg{border:1px solid #d8d8d8;}

.newsxuetang.boxm4.clearfix dl dt a{display: inline-block;position: relative;}
.newsxuetang.boxm4.clearfix dl dt a .playOne-icon{left: 41%;top: 33%;position: absolute;}
.newsxuetang.boxm4.clearfix dl dt a .play-icon{top: 24%;left: 32%;position: absolute;}

.ov-astrict{overflow: hidden;white-space: nowrap;text-overflow: ellipsis;width: 100%;display: inline-block;}
.serial-num{font-weight: 400;color: #E70012;padding: 0 10px 0 0;font-size: 12px;display: inline-block;}
.mt15{margin-top: 15px;}

.datasheets li {position: relative;height: 32px;line-height: 32px;overflow: hidden;}
.datasheets li img {padding-right: 10px;position: relative;top: 3px;}

.c_name .h3{background: #e60012;padding: 10px 20px;-moz-border-radius: 7px;-webkit-border-radius: 7px;border-radius: 7px;font-weight: 600;display: block;}
.chan_topbl .h3, .chan_topbr .h3 {border-left: 5px solid #e60012;padding: 5px 0;font-weight: 600;padding-left: 10px !important;display: block;}
.chan_topbl .h3 .em, .chan_topbr .h3 .em {float: right;font-size: 12px;background: url(../images/channelicon.png) 0 -471px no-repeat;padding: 0 0 0 15px;}
.new_capbx .hiy_xt{padding-left: 7px;}
.tit .h3{display: block;}
.chanliststy1 dd.keyw .em{padding: 0 5px;}
.chanliststy1 dd.keyw .em a{color: #888;}
.chanliststy1 dd.keyw .em a:hover {color: #e60012;}
.newsxiaoguangbo .h3, .newspdail .h3, .newsxuetang .h3, .newszhuanti .h3, .newsziyuan .h3{border-left: 5px solid #e60012;padding: 10px 0 10px 15px;display: block;}
.hdlist .h3 {padding-bottom: 10px;display: block;}
.newspdail .h3 span, .newsxuetang .h3 span, .newszhuanti .h3 span, .newsziyuan .h3 span {float: right;}
.focus .D1fBt .i {display: none;font-style: normal;}
span.h2,span.h6{display: block;}
.newscontxt .h4 {margin: 30px 0;display: block;}
.newscontxt .h4 a {padding: 0 10px;}
.newscontxt .h5 {margin: 30px 0;display: block;}
.newsptit .h6 span {padding: 0 10px 0 0;}
.newscontxt .h6 {margin: 30px 0;background: #fbfbfb;padding: 10px;font-size: 12px;line-height: 22px;}
.chan_toptxt .h1{font-size: 24px;font-weight: bold;line-height: 40px;height: 40px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;display: block;}

#FS_numList_01 a{width: 8px;height: 8px;display: inline-block;border-radius: 50%;background-color: #A8A8A8;margin-right:6px;cursor:pointer;}
#FS_numList_01 a.selected{background-color:#ef0012;}
#FS_numList_01{margin-left:10px;}

.cp2r_sponsor {border-top: 1px solid #e60012;border-left: 1px solid #e7e7e7;border-right: 1px solid #e7e7e7;border-bottom: 1px solid #e7e7e7;}
.cp2r_sponsor h6 {height: 39px;background: #f8f8f8;border-bottom: 1px solid #e7e7e7;position: relative;}
.cp2r_sponsor h6 span {float: left;}
.cp2r_sponsor h6 span+span {border-left: 1px solid #e7e7e7;}
.cp2r_sponsor h6 span a {height: 39px;line-height: 39px;float: left;padding: 0 15px;}
.cp2r_sponsor h6 span a:hover {height: 39px;line-height: 39px;background: #FFF;border-bottom: 1px solid #FFF;color: #e60012;}
.cp2r_sponsor h6 span a.onsty {background: #FFF;border-bottom: 1px solid #FFF;padding: 0 15px;font-weight: bold;color: #e60012;}
.cp2r_sponsor ul {padding: 10px 0;text-align: left;margin-left: 8px;}
.cp2r_sponsor ul li {position: relative;height: 32px;line-height: 32px;overflow: hidden;padding-left: 25px;}
.cp2r_sponsor ul li span {width: 16px;height: 16px;display: block;position: absolute;overflow: hidden;top: 7px;left: 0;}
.cp2r_sponsor ul li span.pdf {background: url('http://www.eeworld.com.cn/statics/hp/images/eeworld_indexicon.png') 0 -445px no-repeat;}
.cp2r_sponsor ul li span.doc {background: url('http://www.eeworld.com.cn/statics/hp/images/eeworld_indexicon.png') 0 -491px no-repeat;}
.cp2r_sponsor ul li span.excel {background: url('http://www.eeworld.com.cn/statics/hp/images/eeworld_indexicon.png') 0 -583px no-repeat;}
.cp2r_sponsor ul li span.ppt {background: url('http://www.eeworld.com.cn/statics/hp/images/eeworld_indexicon.png') 0 -537px no-repeat;}
.cp2r_sponsor p {padding: 3px 10px 5px;border-top: 1px dotted #e7e7e7;text-align: right;height: 25px;}