@CHARSET "UTF-8";

#cyQing {
    background-color: transparent;
    border: 0;
    color: #333;
    display: block;
    font-size: 14px;
    font-weight: normal;
    height: auto;
    line-height: 1.4;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    position: relative;
    text-align: left;
    width: auto;
}

#cyQing div {
    margin: 0;
    padding: 0;
}

#cyQing .cy-wrapper {
    border: none;
    clear: both;
    height: auto;
    width: 100%;
}

#cyQing .qing-tip {
    font-family: "Microsoft YaHei";
    font-size: 16px;
    font-weight: normal;
    margin: 10px 0 10px 0;
}

#cyQing .qing-tip span {
    color: red;
    font-family: Georgia;
}

#cyQing .qing-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

#cyQing .qing-item {
    border-radius: 1px;
    cursor: pointer;
    display: inline-block;
    margin: 2px 5px 3px 0;
    padding: 5px 10px;
    white-space: nowrap;
    *display: inline;
    *zoom: 1;
}

#cyQing .qing-color0 {
    background-color: #23618a;
    border: 1px solid #23618a;
    color: #FFF;
}

#cyQing .qing-color0:HOVER {
    background-color: #FFFFFF;
    border: 1px solid #23618a;
    color: #23618a;
}

#cyQing .qing-color1 {
    background-color: #3c779f;
    border: 1px solid #3c779f;
    color: #FFF;
}

#cyQing .qing-color1:HOVER {
    background-color: #FFF;
    border: 1px solid #3c779f;
    color: #3c779f;
}

#cyQing .qing-color2 {
    background-color: #599cc9;
    border: 1px solid #599cc9;
    color: #FFF;
}

#cyQing .qing-color2:HOVER {
    background-color: #FFF;
    border: 1px solid #599cc9;
    color: #599cc9;
}

#cyQing .qing-color3 {
    background-color: #83bae0;
    border: 1px solid #83bae0;
    color: #FFF;
}

#cyQing .qing-color3:HOVER {
    background-color: #FFF;
    border: 1px solid #83bae0;
    color: #83bae0;
}

#cyQing .qing-color4 {
    background-color: #a7d2f2;
    border: 1px solid #a7d2f2;
    color: #FFF;
}

#cyQing .qing-color4:HOVER {
    background-color: #FFF;
    border: 1px solid #a7d2f2;
    color: #a7d2f2;
}

#cyQing .qing-more {
    border: none;
    color: #5987a9;
    cursor: pointer;
    display: inline-block;
    margin-left: 5px;
    vertical-align: middle;
}

#cyQing .qing-caret {
    display: inline-block;
    height: 0;
    margin-left: 2px;
    border-top: 4px solid #999;
    border-right: 4px solid transparent;
    border-bottom: 0 dotted;
    border-left: 4px solid transparent;
    vertical-align: middle;
    width: 0;
}

#cyQing .qing-rcaret {
    display: inline-block;
    height: 0;
    margin-left: 2px;
    border-top: 0 dotted;
    border-right: 4px solid transparent;
    border-bottom: 4px solid #999;
    border-left: 4px solid transparent;
    vertical-align: middle;
    width: 0;
}

#cyQing .qing-input {
    margin: 10px 0 16px 0;
    display: flex
}

#cyQing .qing-input input {
    border: 2px solid #ccd3d9;
    color: #999;
    height: 25px;
    max-width: 300px;
    min-width: 100px;
    padding: 2px 3px 2px 6px;
    vertical-align: middle;
    width: 60%;
    height: 15px\9;
    padding: 7px 3px 7px 6px\9;
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
}

#cyQing .qing-input button {
    background-color: #f5f9fa;
    border: 2px solid #ccd3d9;
    border-left: none;
    color: #5688a9;
    cursor: pointer;
    font-family: "Microsoft YaHei";
    font-size: 14px;
    height: 33px;
    vertical-align: middle;
    width: 66px;
}

#cyQing .plus1 {
    background-color: transparent;
    color: red;
    font-family: "Arial";
    font-size: 150%;
    position: absolute;
}