<div id="div_digga" onclick="DiggIt(cb_entryId,cb_blogId,1);" style="position: fixed; right: 20px;bottom: 30px;">            
    <div class="diggit" style="height: 20px; background-image: none; color: #FFFFFF; background-color: #E33100; border: medium none; font-size: 9pt; font-weight: bold; text-decoration: none; text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);">
        <span class="diggnum" style="color: #ffffff;font-size: 9pt;">顶</span>         
    </div>        
</div>
 
<div id="div_diggc" style="position: fixed; right: 80px;bottom: 30px;">            
    <div class="diggit" style="height: 20px; background-image: none; color: #FFFFFF; background-color: #2DAEBF; border: medium none; font-weight: bold; text-decoration: none; text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);">
        <span class="diggnum"><a href="#top" style="color: #FFFFFF;font-size: 9pt;">Top</a></span>         
    </div>            
</div>
 
<div id="div_diggc" style="position: fixed; right: 20px;bottom: 0;" onclick="AddToWz(cb_entryId)">            
    <div class="diggit" style="height: 20px; background-image: none; color: #FFFFFF; background-color: #FFB515; border: medium none; font-weight: bold; text-decoration: none; text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);">
        <span class="diggnum" style="color: #FFFFFF;font-size: 9pt;">收藏</span>         
    </div>            
</div>
 
<script>var my_follow = c_follow;var aa="0";</script>
<div id="div_diggb" onclick="my_follow();" style="position: fixed; right: 80px;bottom: 0;">            
    <div class="diggit" style="height: 20px; background-image: none; color: #FFFFFF; background-color: green; border: medium none; font-weight: bold; text-decoration: none; text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);">
        <span class="diggnum" style="color: #ffffff;font-size: 9pt;">关注</span>         
    </div>            
</div>
 
<div id="div_diggc" style="position: fixed; right: 140px;bottom: 0;" onclick="$('#tbCommentBody').focus();">            
    <div class="diggit" style="height: 20px; background-image: none; color: #FFFFFF; background-color: #EEEEEE; border: medium none; font-weight: bold; text-decoration: none; text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);">
        <span class="diggnum" style="color: #FFFFFF;font-size: 9pt;">评论</span>         
    </div>        
</div>

<style type="text/css">
#cnblogs_post_body
{
color: black;
font: 0.875em/1.5em "微软雅黑" , "PTSans" , "Arial" ,sans-serif;
font-size: 16px;
}
#cnblogs_post_body h1
{
background: #2B6695;
border-radius: 6px 6px 6px 6px;
box-shadow: 0 0 0 1px #2B6695, 1px 1px 6px 1px rgba(10, 10, 0, 0.5);
color: #FFFFFF;
font-family: "微软雅黑" , "宋体" , "黑体" ,Arial;
font-size: 20px;
font-weight: bold;
height: 25px;
line-height: 25px;
margin: 15px 0 !important;
padding: 5px 0 10px 20px;
text-shadow: 2px 2px 3px #222222;
}
#cnblogs_post_body h2
{
background: #93C8A2;
border-radius: 6px 6px 6px 6px;
box-shadow: 0 0 0 1px #93C8A2, 1px 1px 6px 1px rgba(10, 10, 0, 0.5);
color: #FFFFFF;
font-family: "微软雅黑" , "宋体" , "黑体" ,Arial;
font-size: 18px;
font-weight: bold;
height: 25px;
line-height: 25px;
margin: 15px 0 !important;
padding: 5px 0 10px 20px;
text-shadow: 2px 2px 3px #222222;
}
#cnblogs_post_body h3
{
background: #C6EFD2;
border-radius: 6px 6px 6px 6px;
box-shadow: 0 0 0 1px #C6EFD2, 1px 1px 6px 1px rgba(10, 10, 0, 0.5);
color: #FFFFFF;
font-family: "微软雅黑" , "宋体" , "黑体" ,Arial;
font-size: 16px;
font-weight: bold;
height: 25px;
line-height: 25px;
margin: 15px 0 !important;
padding: 5px 0 10px 20px;
text-shadow: 2px 2px 3px #222222;
}

@media screen and (min-width: 1px) and (max-width: 800px)
{
#mytopmenu
{
margin-left: 0;
margin-right: 0;
width: 100%;
}
#centercontent
{
padding-left: 0;
padding-right: 0;
width: 100%;
}
#leftcontent
{
width: 100%;
position: static;
width: 100%;
}
#footer
{
margin: 0;
width: 100%;
}
#comment_form
{
display: none;
}
#header
{
display: none;
}
#green_channel
{
display: none;
}
#centercontent img { width: 98% !important; }
} 
</style>

img {
 max-width: 80%;
}