@charset "utf-8";
*{font-family: "微软雅黑";}
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0;word-wrap:break-word}
body,html,input{font:12px/1.5 tahoma,arial,\5b8b\4f53,sans-serif;}
table{border-collapse:collapse;border-spacing:0;}
img{border:none}
pre{white-space: pre-wrap; /* css-3 */white-space: -moz-pre-wrap; /* Mozilla, since 1999 */white-space: -pre-wrap; /* Opera 4-6 */white-space: -o-pre-wrap; /* Opera 7 */word-wrap: break-word; /* Internet Explorer 5.5+ */}
h1,h2,h3,h4,h5,h6{font-size:100%;}input.dialog{height:0; height:0; font-size:0; line-height:0; border:none}
h1{font-size:34px;}h2{font-size:26px;}h3{font-size:18px;}h4{font-size:16px;}h5{font-size:14px;}h6{font-size:12px;}
input,label,img,th{vertical-align:middle;}
.font-fixh{font-family: Georgia,Arial; color: #f00; font-size: 16px; font-weight: 700;}
address,cite,dfn,em,var{font-style:normal;}
code,kbd,pre,samp{font-family:courier new,courier,monospace;}
input.button ,input.btn{padding:0.25em;width: auto;_width:0;overflow:visible !ie;}
ul,ol,li{list-style:none;}
a{text-decoration:none; color:#222;}
a{outline:none;}/* 在 FF 中 */
a{blr:expression(this.onFocus=this.blur());}/* 在 IE 中 */
a:hover{text-decoration:underline;}
.white,.white a{color:#fff}.blue,.blue a{color:#004499}.gray4,a.gray4{color:#999}
.red, .red a, a.red{color:red;}.green{color:#0E774A}
select optgroup{color:#CAC8BB;}
header{display:block}
/*通用样式*/
.hidden{display:none;}
.invisible{visibility:hidden;}
.ib,.ib-a a{display:inline-block;zoom:1;*display:inline;}
.clear:after,.main:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clear,.main{display:inline-block;}
/* Hides from IE-mac \*/* html .clear,* html .main{height:1%;}
.clear,.main{display:block;}
.f12{font-size: 12px}.f14{font-size: 14px}.f16{font-size: 16px}.f18{font-size:18px}.f20{font-size:20px}
.lh20{line-height: 20px}.lh22{line-height: 22px}.lh24{line-height: 24px}.lh26{line-height: 26px}.lh28{line-height: 28px}
.fb{font-weight:bold}.fn{font-weight:normal}
.bk,.bk3,.bk6,.bk8,.bk10,.bk15,.bk20,.bk30{clear: both;font-size: 1px;height: 0;line-height: 1px}
.bk3{height: 3px;}.bk6{height: 6px}.bk8{height: 8px}.bk10{height: 10px}.bk15{height: 15px}.bk20{height: 20px}.bk30{height: 30px}
.row-2 li{float:left; width:50%}.row-3 li{float:left; width:33%}.row-4 li{float:left; width:25%}.row-5 li{float:left; width:20%}
.cu,.cu-li li,.cu-span span{cursor: hand;!important;cursor: pointer}
.text-c{text-align: center}.text-l{text-align: left}.text-r{text-align: right}
.fl{float: left}.fr{float: right}
.pr{position:relative}.pa{position:absolute}
.img-wrap{border:1px solid #eee;text-align:center;overflow:hidden}.img-wrap a{display:table-cell;vertical-align:middle;*display:block; overflow:hidden; background-color:#fff}.img-wrap a:hover{background-color:#e8eff6}
.col-left{float:left}.col-auto{overflow:hidden;_zoom:1;_float:left;}.col-right{float:right}
/*公共样式*/
*{padding: 0px; margin: 0px; font-family: "微软雅黑";}
img{border: none;}
a{text-decoration: none; color: #333;}
li{list-style: none;}
p{color: #333;}
/*输出空数据提示*/
.empty{color: red; text-align: center;}
.empty i{color: red; font-size: 16px;}
/*顶部样式*/
#top{width: 100%; height: 30px; display: block; background: url(../../images/topbg.jpg) repeat-x;}
.top{width: 1200px; height: 100%; margin: auto auto;}
.top a{text-decoration: none;}
.top_left{width: auto; height: 30px; display: block; float: left;}
.top_left p{line-height: 30px; color: #333; font-size: 14px; text-indent: 5px;}
.top_right{width: auto; height: 30px; display: block; float: right;}
.top_right p{line-height: 30px; color: #333; font-size: 14px;}
.login{width: 60px; height: 20px; background-color: #1161BA; display: block; float: left; margin-top: 5px; text-align: center; color: #fff; line-height: 20px; text-decoration: none; margin-left: 10px;}
.login:hover{background-color: #0093DD;}
.register{width: 60px; height: 20px; background-color: #00B700; display: block; float: left; margin-top: 5px; text-align: center; color: #fff; line-height: 20px; text-decoration: none; margin-left: 10px;}
.register:hover{background-color: #FF7402;}
.show_login{width: 80px; height: 30px; background-color: #1161BA; display: block; float: right; margin-top: 5px; text-align: center; color: #fff; line-height: 30px; text-decoration: none; margin-left: 10px;}
/*头部样式*/
#header{width: 100%; height: auto; display: block; background-color: #fff;}
.header{width: 1200px; height: 90px; margin: auto auto; margin-top: 10px; margin-bottom: 10px;}
.header .logo{width: 180px; height: 70px; display: block; float: left; margin-top: 10px;}
.header_search{width: 440px; height: 40px; display: block; float: left; border: solid 1px #EEEEEE; margin-top: 25px; margin-left: 568px; line-height: 40px;}
.header_search #keyword{border: none; outline: none; width: 255px; height: 40px; line-height: 25px; font-size: 16px; margin-left: 10px; font-family: "微软雅黑";}
.header_search .search_btn{height:40px;width:60px; border:0;cursor:pointer; background:#4b9a00 url(../../images/search.png) no-repeat;float:right;}
.header_search .search_btn:hover{background-color:#FF7402;}
.tools{width: 300px; height: 60px; display: block; float: right; margin-top: 12px;}
.select {position:relative; float:left; width: 90px;}
.select a:hover {text-decoration: none;}
.select dt {height:40px; display:inline-block; background:#fcfcfb url(../../images/ico.gif) no-repeat 77px center; line-height:40px; font-weight:bold; cursor:pointer; width:90px; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; position:relative; z-index:99; text-align: center;}
.select dd {position:absolute; left:0;top:29px; background:#fff; display:none;}
.select dd ul{width:90px; max-height:250px; overflow:auto; text-align:center;}
.select dd ul li a{line-height:40px; display:block;}
.select dd ul li a:hover{background:#f5f5f5;}
/*导航栏样式*/
#nav{width: 100%; height: 45px; display: block; background-color: #1161BA; margin-bottom: 10px;}
.nav{width: 1200px; height: 100%; margin: auto auto;}
.nav ul{width: 100%; height: 45px; display: block; float: left;}
.nav ul li{width: 120px; height: 45px; display: block; float: left; background: url(../../images/nav-border.gif) no-repeat left top; text-align: center;}
.nav ul a{color: #fff; line-height: 45px; font-size: 16px;}
.nav ul a:hover{text-decoration: none;}
.nav ul li:hover{background-color: #0093DD;}
.current{background-color: #0093DD!important;}
/*主体样式*/
#main{width: 100%; height: auto; display: block; margin-bottom: 10px;}
.main{width: 1200px; height: auto; margin: auto auto; background-color: #fff; min-height: 700px;}


/*主体左边*/
.main_left {width: 880px; height: auto; display: block; float: left; background-color: #fff; box-shadow: 0px 0px 8px #c8c7c7;}
.main_left_main {width: 800px; min-height: 1140px; margin: 40px;}
/*博客列表*/
.bloglist {width: 100%; height: 210px; display: block; float: left; border-bottom: solid 1px #CDCDCD; margin-bottom: 20px;} 
.bloglist_left {width: 80px; height: 100%; display: block; float: left;}
.m_l_day {width: 78px;height: 78px;background: url(../images/blog_day.jpg) no-repeat;display: block;text-align: center;line-height: 78px;font-size: 37px;color: #58bb20;font-family: Arial, Helvetica, sans-serif;}
.m_l_month {width: 78px;text-align: center;height: 24px;display: block;font-size: 24px;font-family: Arial, Helvetica, sans-serif;color: #58bb20;padding-top: 5px;}
.bloglist_right {width: 700px; height: 100%; display: block; float: right;}
.bloglist_title {width: 100%; height: 40px; line-height: 40px; font-weight: bold; font-size: 20px; display: block; float: left; overflow: hidden;}
.bloglist_title a {color: #222;}
.bloglist_title a:visited {color: #999;}
.bloglist_title a:visited:hover {color: #999;}
.bloglist_title a:hover {color: #1161BA; text-decoration: none;}
.blog_copy li {text-indent: 2px;display: block;float: left;font-size: 12px;color: #909090;margin-right: 20px;}
.bloglist_info {width: 100%; height: 110px; display: block; float: left; margin-top: 10px;}
.bloglist_info img {width: 150px; height: 110px; display: block; float: left;}
.blog_description {width: 540px; height: 100%; display: block; float: right;}
.blog_description p {font-size: 14px; color: #464646; line-height: 25px;}
.read_blog {width: 85px;height: 23px;background: url(../images/blog_more.jpg) no-repeat center bottom;display: inline-block;text-align: center;line-height: 23px;font-size: 12px;}
.read_blog a {color: #1161BA;}
.read_blog a:hover {color: blue; text-decoration: none;}
.blog_other {width: 100%; height: 20px; display: block; float: left; margin-top: 6px;}
.blog_other span {color: #8f8f8f; font-size: 12px; padding-right: 30px; line-height: 20px;}
/*主体右边其他信息*/
.main_right {width: 300px; height: auto; display: block; float: right;}
.blog_column {width: 100%; height: auto; display: block; float: left; background-color: #fff; box-shadow: 0px 0px 8px #c8c7c7; margin-bottom: 20px; padding-bottom: 20px;}
.blog_column_title {width: 100%; height: 21px;background: url(../images/column_bg_06.jpg) no-repeat 20px center; line-height: 21px; text-indent: 30px; float: left;margin-top: 22px; font-size: 16px; color: #454545; margin-bottom: 10px;}
.blog_column ul li {width: 100%; height: 30px; line-height: 30px; text-indent: 30px; display: block; float: left;background: url(../images/arrow.gif) no-repeat 20px center;}
.blog_column ul li a {color: #333; font-size: 16px;}
.blog_column ul li a:hover {color: #457CE6; font-size: 18px;}
.blog_rank {width: 100%; height: auto; display: block; float: left; background-color: #fff; box-shadow: 0px 0px 8px #c8c7c7; padding-bottom: 20px; margin-bottom: 20px;}
.blog_rank_title {width: 100%; height: 21px;background: url(../images/column_bg_06.jpg) no-repeat 20px center; line-height: 21px; text-indent: 30px; float: left;margin-top: 22px; font-size: 16px; color: #454545; margin-bottom: 20px;}
.m_r_c_rank_content li span {display: inline-block;width: 54px;height: 30px;background: #e8eff4;border-radius: 5px;text-align: center;line-height: 29px;margin-right: 7px;font-size: 14px; margin-left: 20px; margin-bottom: 10px;}
.m_r_c_rank_content li a {font-size: 14px;}
.m_r_c_rank_content li a:hover {color: #FF3300;}
.blog_promotion {width: 260px; height: auto; display: block; float: left; background-color: #fff; box-shadow: 0px 0px 8px #c8c7c7; padding: 20px; margin-bottom: 20px;}
.tuijian_blog {width: 100%; height: auto; display: block; float: left; background-color: #fff; box-shadow: 0px 0px 8px #c8c7c7; padding-bottom: 20px;}
.tuijian_blog_title {width: 100%; height: 21px;background: url(../images/column_bg_06.jpg) no-repeat 20px center; line-height: 21px; text-indent: 30px; float: left;margin-top: 22px; font-size: 16px; color: #454545; margin-bottom: 20px;}
.tuijian_blog li span {display: inline-block;width: 30px;height: 30px;background: #e8eff4;border-radius: 50%;text-align: center;line-height: 29px;margin-right: 7px;font-size: 14px; margin-left: 20px; margin-bottom: 10px;}
.tuijian_blog li a {font-size: 14px;}
.tuijian_blog li a:hover {color: #FF3300;}

/*博客列表*/
.m_r_c_tit {width: 100%;height: 21px;background: url(../images/column_bg_06.jpg) no-repeat 0 center;line-height: 21px;text-indent: 10px;float: left;margin-top: 5px;font-size: 16px;color: #454545;}
.list_tit{height: 55px;width: 100%;margin: 0 auto;border-bottom: 1px solid #e9e9e9;clear: both;}
.list_tit dt{float: left;font-size: 16px;color: #3f3f3f;line-height: 57px;}
.list_tit a{color: #3f3f3f;display: inline;float: left;}
.list_tit a:hover {color: #FF3300;}
.list_tit dd{float: right;font-size: 14px;color: #7a7a7a;line-height: 57px;position: relative;}

/*博客正文*/
.show_position {width: 100%;height: 21px;background: url(../images/column_bg_06.jpg) no-repeat 0 center;line-height: 21px;text-indent: 10px;float: left;margin-top: 5px;font-size: 16px;color: #454545; font-weight: normal; font-size: 12px;}
.a_m_content_tit{font-size: 26px;color: #222;font-weight: bold;padding: 28px 0 0 0;float: left;width: 100%;}
.a_m_mention{float: left;}
.m_l_a_mention li{float: left;font-size: 12px;color: #909090;margin-right: 25px;padding-top: 15px;}
.blog_content {width: 100%; height: auto; display: block; float: left; margin-top: 20px; margin-bottom: 30px; font-family: 'Microsoft Yahei'!important; color: #222!important; font-size: 16px!important; line-height: 28px!important;}
.blog_content p {color: #222!important; font-size: 16px!important; line-height: 28px!important; font-family: 'Microsoft Yahei'!important;}
.blog_content b {color: #222!important; font-size: 20px!important; line-height: 40px!important; font-family: 'Microsoft Yahei'!important;}
.blog_content a {color: blue; font-family: 'Microsoft Yahei'!important;}
.blog_content img {max-width: 800px; height: auto; margin: auto auto; display: block;}

/*博客上/下一篇*/
.other_content{width: 100%;height: 67px;border-top: 1px solid #e1e1e1;border-bottom: 1px solid #e1e1e1;margin: 0 auto;clear: both;}
.other_content_left{width: 425px;height: 67px;background: url(../images/other_c_bg_27.jpg) no-repeat right center;float: left;}
.other_c_previous{padding-top: 8px;line-height: 24px;}
.other_c_previous dt{font-size: 12px;color: #6a6a6a;}
.other_content a:hover {color: #FF3300;}
.other_c_previous dd{font-size: 14px;color: #464646;font-weight: bold;}
.other_content_right{width: 324px;height: 67px;float: left;}
.other_c_next{padding-left: 20px;}
.other_c_previous{padding-top: 8px;line-height: 24px;}

/*相关推荐*/
.related_article{width: 100%;height: 185px;margin: 20px auto 0;}
.related_article a:hover{color: #FF3300;}
.r_a_tit{background: url(../images/ralated_article_07.jpg) no-repeat left center;text-indent: 15px;}
.r_a_ul1{float: left;margin-top: 10px;font-family: "微软";color: #515151;font-size: 14px;line-height: 24px;}
.r_a_ul1 li{padding-left: 15px;background: url(../images/related_li_13.jpg) no-repeat left center;font-family: "Microsoft YaHei";font-size: 14px;}
.r_a_ul2{float: right;margin-right: 70px;}

/*文章评论样式*/
.comments {width: 100%; height: auto; display: block; float: left;}
.comments a {text-decoration: none;}
.comments_title {width: 100%; height: 50px; display: block; float: left; border-bottom: solid 2px #eaedee;}
.comments_title p {line-height: 50px; font-size: 18px; border-bottom: solid 2px #C80F32; width: 110px; text-indent: 0em;}
.comments .form {width: 100%; height: 100px; display: block; float: left; margin-top: 10px;}
.comments .form  textarea {width: 100%; height: 80px; font-size: 16px; line-height: 30px; text-indent: 10px; resize: none;}
.comments .form input {font-family: "微软雅黑"; height: 25px; line-height: 25px;}
.comment_input {display: block; float: left; margin-top: 10px;}
.comment_img {display: block; float: left; margin-left: 10px; margin-top: 10px; cursor: pointer;}
.comment_submit {width: 80px; display: block; float: right; margin-top: 10px; cursor: pointer; border: none; background-color: #1161BA; color: #fff; font-size: 16px;}
.comment_submit:hover {background-color: #0093DD;}
.show_login {width: 80px; height: 30px; background-color: #1161BA; display: block; float: right; margin-top: 5px; text-align: center; color: #fff; line-height: 30px; text-decoration: none; margin-left: 10px;}
.show_login:hover {background-color: #0093DD;}
.comments_list {width: 100%; height: auto; display: block; float: left;  margin: 30px 10px 10px 0px;}
.new_comments {width: 100%; height: auto; display: block; float: left; border-bottom: dotted 1px #EBEBEB; padding: 5px 0;}
.new_comments_left {width: 50px; height: 100%; display: block; float: left; margin-top: 10px;}
.new_comments_left img {max-width: 50px; height: auto; border-radius: 50%;}
.new_comments_right {width: 740px; height: 100%; display: block; float: right; margin-top: 10px;}
.new_comments_right_shang {width: 100%; height: 20px; display: block; float: left;}
.new_comments_right_shang p {line-height: 20px; text-indent: 0em; font-size: 14px;}
.new_comments_right_shang i {font-size: 12px; font-style: normal;}
.new_comments_right_xia {width: 100%; height: auto; display: block; float: left;}
.new_comments_right_xia p {line-height: 30px; text-indent: 0em; color: #333;}
.new_comments_right_xia span {color: #2B85AE;}
#allComment {width: 120px; height: 30px; line-height: 30px; text-align: center; background-color: #1161BA; display: block; float: right; cursor: pointer; border: none; color: #fff;}
#allComment:hover {background-color: #0093DD;}
/*分页样式*/
.page {width: 100%; height: 60px; display: block; float: left; margin-bottom: 10px; margin-top: 20px; text-align: center;}
.page p {text-align: center; font-size: 14px; line-height: 40px;}
.page a { border: 1px solid #CECECE; margin: 0px 2px; background: #fff; color: #000; padding: 3px 10px;}
.page a:hover {background-color: #258CFF; text-decoration: none; color: #fff;}
.page span.current {border: 1px solid #CECECE; margin: 0px 2px; background: #258CFF; color: #fff; padding: 3px 10px;}

/* footer Start*/
#footer{width:100%; height:510px; display: block; background-image: url(../../images/footerbg.gif);}
.footer{width:1200px; height:100%; margin:auto auto;}
.footer ul {display: block; float: left; margin-right: 50px; border-right: solid 1px #333333; padding: 0 82px; height: 380px; margin-top: 20px;}
.footer ul a {color: #77A5C9; font-size: 14px; line-height: 30px;}
.footertitle {font-size: 18px;}
.copyright_statement{width: 1200px; height: 40px; display: block; float: left; margin-left: 10px; text-align: center;}
.copyright_statement p{color: #77A5C9; line-height: 40px; font-size: 12px; padding-top: 40px; text-indent: 0!important}
.copyright_statement a {color: #77A5C9;}
/* End footer */

/*返回顶部*/
#elevator_item {width: 60px;height: 100px;position: fixed;right: 30px;bottom: 40px;-webkit-transition: opacity .4s ease-in-out;-moz-transition: opacity .4s ease-in-out;-o-transition: opacity .4s ease-in-out;opacity: 1;z-index: 100020;display: none;}
#elevator_item.off {opacity: 0;visibility: hidden}
#elevator {display: block;width: 60px;height: 50px;background: url(../images/icon_top.png) center center no-repeat;background-color: #444;background-color: rgba(0,0,0,.6);border-radius: 2px;box-shadow: 0 1px 3px rgba(0,0,0,.2);cursor: pointer;margin-bottom: 10px}
#elevator:hover {background-color: rgba(0,0,0,.7)}
#elevator:active {background-color: rgba(0,0,0,.75)}

/*注册登录*/
/* modal */
.modal-backdrop{position:fixed;top:0;right:0;bottom:0;left:0;z-index:1040;background-color:#000000;opacity:0.6;filter:alpha(opacity=60)}
.modal{position:fixed;top:50%;left:50%;z-index:1050;width:560px;margin:-250px 0 0 -280px;background-color:#ffffff;border:1px solid #999;border:1px solid rgba(0,0,0,0.3);*border:1px solid #999;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;outline:none;-webkit-box-shadow:0 3px 7px rgba(0,0,0,0.3);-moz-box-shadow:0 3px 7px rgba(0,0,0,0.3);box-shadow:0 3px 7px rgba(0,0,0,0.3);-webkit-background-clip:padding-box;-moz-background-clip:padding-box;background-clip:padding-box}
.close{cursor:pointer;padding:2px 3px;cursor:pointer;padding:2px 3px;position:absolute;right:10px;top:14px}
.close:hover{background-color:grey;color:#ffffff}
.button-blue{display:block;float:left;padding:5px 0;width:80px;margin-right:10px;color:#fff;background:#407acc;text-align:center;cursor:pointer}
.button-blue:hover{background:#084b91;text-decoration:none;color:#ffffff}
.button-grey{display:block;float:left;padding:5px 0;width:80px;color:#fff;background:#ccc;text-align:center;cursor:pointer}
.button-grey:hover{background:#aaa;text-decoration:none}
.login-form .form-arrow,.signup-form .form-arrow,.forgot-form .form-arrow{display:block;width:30px;height:15px;background:url(/static/img/arrow.png?2013033000) no-repeat;position:absolute;left:95px;top:-15px}
.login-form input,.signup-form input,.forgot-form input{padding:9px 9px 9px 9px;margin-bottom:20px;width:94%}
.login-form .forgot,.login-form .login,.login-form .reg,.signup-form .forgot,.signup-form .login,.signup-form .reg,.forgot-form .forgot,.forgot-form .login,.forgot-form .reg{width:302px;padding:0;margin:0 0 10px 0;height:35px;font-size:18px;cursor:pointer}
.login-form label.remember,.signup-form label.remember,.forgot-form label.remember{font-size:13px}
.login-form input[type="checkbox"],.signup-form input[type="checkbox"],.forgot-form input[type="checkbox"]{width:auto;height:auto;padding:0;margin:3px 5px 0 0}
.login-form a.forgot,.signup-form a.forgot,.forgot-form a.forgot{font-size:13px;float:right;margin-top:2px;width:auto;cursor:pointer}
.login-form p.error,.signup-form p.error,.forgot-form p.error{font-size:13px;margin-bottom:5px;color:#b22d2d}
#signup-modal,#login-modal,#forgetform,.modal{display:none;width:300px;padding:0 40px 20px;background:white;border:5px solid rgba(0,0,0,0.2);margin-left:-190px;border-radius:10px;overflow:hidden;margin-bottom:40px;box-shadow:0 1px 0 white inset;margin-top:-267px}
#signup-modal a:hover,#login-modal a:hover,#forgetform a:hover,.modal a:hover{text-decoration:none}
.modal h2,#forgetform h2,#signup-modal h2,#login-modal h2{margin:0 -40px;background:#EEE;border-bottom:1px solid #CCC;border-top:1px solid #CCC;font-size:16px;padding:13px 40px;border-top-left-radius:6px;border-top-right-radius:6px;text-align:center;margin-bottom:30px}
.modal .close,#signup-modal .close,#login-modal .close,#forgetform .close{position:absolute;top:0;right:0;padding:12px 18px 16px 18px;height:16px;overflow:hidden;opacity:.8;border-left:1px solid #BBB;}
/*弹窗样式*/
/*垂直居中*/
.verticalAlign{ vertical-align:middle; display:inline-block; height:100%; margin-left:-1px;}
.xcConfirm .xc_layer{position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: #666666; opacity: 0.5; z-index: 2147000000;}
.xcConfirm .popBox{position: fixed; left: 50%; top: 50%; background-color: #ffffff; z-index: 2147000001; width: 570px; height: 300px; margin-left: -285px; margin-top: -150px; border-radius: 5px; font-weight: bold; color: #535e66;}
.xcConfirm .popBox .ttBox{height: 30px; line-height: 30px; padding: 14px 30px; border-bottom: solid 1px #eef0f1;}
.xcConfirm .popBox .ttBox .tt{font-size: 18px; display: block; float: left; height: 30px; position: relative;}
.xcConfirm .popBox .ttBox .clsBtn{display: block; cursor: pointer; width: 12px; height: 12px; position: absolute; top: 22px; right: 30px; background: url(../images/icons.png) -48px -96px no-repeat;}
.xcConfirm .popBox .txtBox{margin: 40px 100px; height: 100px; overflow: hidden;}
.xcConfirm .popBox .txtBox .bigIcon{float: left; margin-right: 20px; width: 48px; height: 48px; background-image: url(../images/icons.png); background-repeat: no-repeat; background-position: 48px 0;}
.xcConfirm .popBox .txtBox p{ height: 84px; margin-top: 16px; line-height: 26px; overflow-x: hidden; overflow-y: auto;}
.xcConfirm .popBox .txtBox p input{width: 364px; height: 30px; border: solid 1px #eef0f1; font-size: 18px; margin-top: 6px;}
.xcConfirm .popBox .btnArea{border-top: solid 1px #eef0f1;}
.xcConfirm .popBox .btnGroup{float: right;}
.xcConfirm .popBox .btnGroup .sgBtn{margin-top: 14px; margin-right: 10px;}
.xcConfirm .popBox .sgBtn{display: block; cursor: pointer; float: left; width: 95px; height: 35px; line-height: 35px; text-align: center; color: #FFFFFF; border-radius: 5px;}
.xcConfirm .popBox .sgBtn.ok{background-color: #0095d9; color: #FFFFFF;}
.xcConfirm .popBox .sgBtn.cancel{background-color: #546a79; color: #FFFFFF;}
.blog_ad {width: 100%; height: auto; margin-top: 10px;}
.qqimg {margin-left: 8px; margin-top: 2px;}
/*数据为空时*/
.empty2 {color: #00B700; text-align: center; font-size: 14px;}
/*热门搜索*/
.hotSearch {width: 440px; height: 20px; margin-right: 10px; margin-top: 5px; overflow: hidden;}
.hotSearch a { margin-right: 5px;}