@charset "utf-8";
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {margin: 0; padding: 0;}
body {line-height: 150%; font: normal 12px 'Microsoft Yahei','Tahoma','Simsun'; color: #333; }
input,button,textarea,select,optgroup,option {font-family:inherit; font-size:inherit; font-style:inherit; font-weight:inherit}
input,button,textarea,select {*font-size:100%}
ul, ol, li {list-style: none;}
:focus {outline: 0;}
a:active {outline: none;}
a,a:link {text-decoration: none; color: #333;}
a:hover {text-decoration: none; color: #FF7D00;}
img {border: none;}
table{border-collapse: collapse}
table td{padding: 8px;}
.clearfix {*zoom: 1;}
.clearfix:after {content: '\0020'; display: block; height: 0; clear: both;}
.mt10 {margin-top: 10px;}
.mb10 {margin-bottom: 10px;}
.l{float:left}
.r{float:right}
.both, .clear{clear:both}
.clear{font-size:1px;height:0px;overflow:hidden}
.hr10, .hr101, .hr20,.hr5{clear:both;font-size:1px;line-height:100px;height:10px;overflow:hidden}
.hr101{border-bottom: 1px dotted #ccc;height: 10px;margin-bottom: 10px}
.hr20{height:13px}
.hr5 {height:5px;}

/* header */

.header{width: 1200px;height: 120px;margin: auto;}
.header .logo{width: 597px;height: 92px;margin-top: 10px;float: left;}
.header .logo a{display: inline-block;width: 100%;height: 100%;}
.header .sous{float: right;width: 440px;margin-top: 30px;}
.header .search{width: 436px;height: 38px;border: 2px solid #17A2E7;}
.search .icon{float:left;display:inline-block;width:18px;height:18px;background:url(../img/sprites.png) -10px -10px;margin:10px 11px 0 10px;overflow:hidden;}
.search .text{ height:19px;width:320px; float:left; outline:none; color:#999; font-size:14px; border:none; margin:9.5px 5px 9.5px 0;}
.search .button{width:68px; height:38px; background:#17A2E7 url(../img/sprites.png) no-repeat -72px top; border:none; outline:none; float:right; cursor:pointer;}
.hot_word{ width:464px; height:25px; line-height:25px; margin:5px 0 0 -24px;overflow:hidden;}
.hot_word a{color:#999; margin-left:24px;}
.hot_word a:hover{color:#17A2E7;}
.hTop{ font-size: 12px; background: #f5f5f5;height: 29px;line-height: 29px;border-bottom: 1px solid #e8e8e8;}
.hTop .wrap {width:1100px;margin: 0 auto;}
.hTop .wrap a{ color: #666; margin: 0 15px;}
.hTop .wrap a:hover{color: #00a3af;}

/* nav */
.nav{background: #17A2E7;width: 100%;height: auto;overflow: hidden;}
.nav .nav_content{width: 1200px;margin: 0 auto;}
.nav_content h2{font-weight: normal;}
.nav_content a{ float: left; width: 16.5%; text-align: center; color: #fff; font-size: 17px; line-height: 55px;}
.nav_content a.atv{background: #087eb9;}
.nav_content a:hover{text-decoration: none;background: #087eb9;}

/* content */
.content{width: 1200px;margin: auto;height: auto;overflow: hidden;}

.wrap-left{float:left;width: 810px; }
.wrap-right{float:right;width: 340px;}
.wrap-left .tilte-lef2t{height: 26px; border-bottom: 3px solid #17A2E7; margin-right:10px;}
.wrap-left .tilte-lef2t ul{height: 26px; line-height: 26px;}
.wrap-left .tilte-lef2t li{float: left; width: 149px; text-align: center; font-size: 14px; background: #eee; margin-right: 1px;}
.wrap-left .tilte-lef2t li h2{ font-size:14px; font-weight:normal;}
.wrap-left .tilte-lef2t li a{width: 140px; height: 26px; display:block;}
.wrap-left .tilte-lef2t .current{background: #17A2E7; color: white;}
.wrap-left .tilte-lef2t .current a{color: white;}
.wrap-left .tilte-lef2t .tab{float: left; width: 600px;}
.wrap-left .tilte-left{height: 26px; border-bottom: 3px solid #17A2E7; margin-right:10px;width: 800px;}
.wrap-left .tilte-left ul{height: 26px; line-height: 26px;}
.wrap-left .tilte-left li{float: left; width: 90px; text-align: center; font-size: 14px;  margin-right: 1px;}
.wrap-left .tilte-left li a{width: 90px; height: 26px; display:block;}
.wrap-left .tilte-left .current{background: #17A2E7; color: white;}
.wrap-left .tilte-left .current a{color: white;}
.wrap-left .tab{float: left; width: 830px;}
.wrap-left .tab h3{ width: 450px; color:#17a2e7;}
.wrap-left .tilte-left .more{float: right;margin-top: 7px;display: inline;}
.wrap-right .tilte-right{height: 26px; border-bottom: 3px solid #17a2e7;}
.wrap-right .tilte-right ul{height: 26px; line-height: 26px;}
.wrap-right .tilte-right li{float: left; padding: 0 10px; text-align: center; font-size: 14px; }
.wrap-right .tilte-right .tab{float: left; width: 320px;}
.wrap-right .tilte-right .current{background: #17a2e7; color: white;}
.wrap-right .tilte-right .current a{color:#fff;}

.pinpai {margin: auto;width:1180px; height: auto;overflow: hidden;}
.fuType {height:20px; line-height:20px; padding:5px 10px; overflow:hidden; background:#d9fbda;}
.fuType dt {height:20px; float:left; color:#fff; background:url(/images/fuType.png) no-repeat; width:68px; text-align:center; padding-right:12px; margin-right:10px;}
.fuType dd {float:left; margin-right:20px;}
.fuType dt a {color:#fff;font-size:14px;}
.fuType dd a {display:block; float:left; height:20px; padding:0 5px; font-size:14px; border-radius: 5px; font-weight:normal;}
.fuType dd a:link,.fuType dd a:visited {color:#FF7200; }
.fuType dd a:hover {background:#17a2e7; color:#fff;}

/* position */
.position{width: 100%;margin: 8px 0; height: 22px;font-size:14px;}
.position h1{font-weight: normal;display:inline;font-size:14px;}

#wrap-right .soft-listwz li{float: left; display:inline; width: 720px; height: 36px; padding-top:9px;font-size:14px;  margin: 0px 0 0 20px; overflow:hidden; border-bottom: 1px dashed #40BBEC;}
#wrap-right .soft-listwz li span{ float:right;}

#footer {margin: 20px 0; text-align: center; color: #999;  background: #FDFDFD;}
#footer a {color: #999;}
#footer a:hover {color: #17A2E7;}
#footer li{float: left;}
#footer li a {margin-right: 15px; float: left;line-height: 20px;}
#footer li a:hover {text-decoration: underline;}

.copyright{width: 1200px;height: auto;overflow: hidden;margin: auto;text-align: center;padding: 20px 0;}

.go-top{padding: 4px 2px; background: #17A2E7; color:#fff !important; width: 1.8em; line-height: 14px; text-align: center; display: block; text-decoration: none;}
.go-top:hover{color:#fff;}
.box-m1{ padding: 9px;  }
.li4 li {font-size: 14px; white-space:nowrap; height: 25px; padding: 0 0 0 10px; background-image: url(/img/list_s_2.jpg); background-repeat: no-repeat; background-position: 0px 4px; text-overflow:ellipsis;overflow: hidden;}
.dede_pages_ghost008{}
.dede_pages_ghost008 ul{float:left;padding:12px 0px 12px 16px;}
.dede_pages_ghost008 ul li{float:left;font-family:Tahoma;line-height:17px;margin-right:6px;border:1px solid #E9E9E9;}
.dede_pages_ghost008 ul li a{float:left;padding:2px 4px 2px;color:#555;display:block;}
.dede_pages_ghost008 ul li a:hover{color:#690;text-decoration:none;padding:2px 4px 2px;}
.dede_pages_ghost008 ul li.thisclass,
.dede_pages_ghost008 ul li.thisclass a,.pagebox ul li.thisclass a:hover{background-color:#F8F8F8;padding:2px 4px 2px;font-weight:bold;}
.dede_pages_ghost008 .pageinfo{line-height:21px;padding:12px 10px 12px 16px;color:#999;}
.dede_pages_ghost008 .pageinfo strong{color:#555;font-weight:normal;margin:0px 2px;}


/*float*/
#tip {position: absolute;right: 0px;bottom: 0px;height: 0px;width: 180px;border: 1px solid #CCCCCC;background-color: #eeeeee;padding: 1px;overflow: hidden;display: none;font-size: 12px;z-index: 10;}
#tip .on {width:320px;height:284px;margin-top:-25px;}
#tip h1 {font-size: 14px;height: 25px;line-height: 25px;color: #FFFFFF;padding: 0px 3px 0px 3px;filter: Alpha(Opacity = 100);}
#tip h1 a, #detail h1 a {float: right;text-decoration: none;color: #FFFFFF;}

/*tutorial*/
.t_banner{ display:inline-block; width:1200px; height:228px;}
.t_banner img{ width:1200px; height:228px;}
.tabs{ position: relative;height: 42px; background: #8cd7ff; width: 100%; display:inline-block; margin-top:10px;}
.subnav{ position: absolute;height: 54px;width: 100%;left: 0;top: -12px;}
.subnav li {float: left;width: 245px; text-align: center; font-size: 20px;_font-family: "\5B8B\4F53"; height: 54px;line-height: 64px; cursor: pointer;}
.subnav li a{ color: #17a2e7;}
.subnav li.cur a{ color:#fff;}
.subnav li.cur { cursor: default;background: url(/soft/images/tab-bg.png) no-repeat;line-height: 54px;}
.t_body {margin: 0 auto;position: relative;}
.down-btn { display: block;width: 239px;height: 63px;background: #3dd500 url(/soft/images/jdown-bg.png) no-repeat 26px center;border-bottom: solid 5px #35ba00;font-size: 24px;color: #fff !important;line-height: 63px;text-indent: 70px;z-index: 5;position: absolute;right: 75px;top: 20px;}
.down-btn:hover{background-color:#49e10b; color:#fff;}
.t_down { display:inline-block; width:100%; height:auto;background-color: #fff;}
.t_down p{ float: left;width: 750px;color: #666;line-height: 28px;text-indent: 2em;margin: 20px 0 10px 25px; font-size:14px;}
.row strong { display:inline-block; width:100%; height:30px; line-height:30px; font-weight:normal; color: #17a2e7;font-size: 24px;margin-bottom: 18px;padding-left: 16px;}
.row .pb {background: #fff;padding: 15px 25px 15px;position: relative;border-bottom: solid 1px #dedede;_height: 1%;_overflow: hidden;line-height: 38px;color: #666;zoom: 1;height: auto;}
.row .r-bottom {position: absolute;right: 0;bottom: -1px;background: url(/soft/images/right-bottom.png) no-repeat;width: 32px;height: 33px;}
.t_info {color: #666;line-height: 38px;height: 1%;overflow: hidden; font-size:18px;text-align:center;}
.t_info p {text-align:left;}
.t_info p a{color: #FF7200;}
.t_info img { display:inline-block; max-width:800px;text-align:center; margin: 18px auto;}
.udxlk {display: block;line-height: 24px;margin: 6px 0; color: #17a2e7 !important;}
.hlBox{ float:left; width:320px;}
.download{ display:inline-block; width:100%;}
.download ul{ display:inline-block; width:110%;}
.download li{float: left;height: 41px;margin-right: 10px;margin-top: 10px;width: 156px;}
.download a { display: block; height: 41px;line-height: 41px;padding-left: 40px;text-decoration: none; font-size: 13px; font-weight: bold; color:#fff;}
.download li .down-btn{ background:url(/images/down-btn.png) no-repeat 0 0;}
.download li .down-btn:hover {background:url(/images/down-btn.png) no-repeat 0 -42px;font-weight: bold;}
.download li .down-btns{ background:url(/images/down-btn.png) no-repeat 0 0;}
.download li .down-btns:hover {background:url(/images/down-btn.png) no-repeat 0 -42px;font-weight: bold;}

.tBox { float: left; width:320px; overflow: hidden;}
.tBox ul {width: 110%;display: inline-block;}
.tBox li {float: left; width: 155px; height: 30px; margin:10px 10px 0 0;  background: #17a2e7;text-align: center;line-height: 30px;}
.tBox li a{ color:#fff; font-size:14px;}
.tBox li:hover{ background:#0495dd;}
.bk-gif{ display:inline-block; width:100%; height:26px; line-height:26px;}
.bk-gif span{ font-size:16px; color: #F00;font-weight:bold;}
.brandBox{ display:inline-block; width:100%;}
.brandtit { height: 26px;line-height: 26px; overflow: hidden;border-bottom: 2px solid #17a2e7;width: 100%;}
.brandtit a{display: block;float: left; height: 26px; color: #fff;background: #17a2e7; padding: 0 15px; font-weight: normal; font-size:14px;}
.brandlist,.brandlist2{width:100%; overflow:hidden;}
.brandlist ul,.brandlist2 ul { display:inline-block;width:110%}
.brandlist li {float:left; width:175px; height:165px; overflow:hidden; margin: 10px 20px 0 0; }
.brandlist li span {display:block; width:100%; height:30px; line-height:30px; text-align:center; font-size:14px;}
.brandBox .brandlist li {float:left; width:140px; overflow:hidden; margin: 10px 32px 0 0;height:105%; }
.brandBox .brandlist li img{ width:140px; height:140px;}
.brandlist2 li {float: left;text-align: center;overflow: hidden;width: 106px; margin-top:10px;}
.brandlist2 li a {display: block;}
.brandlist2 li img {width: 70px;height: 70px;display: block; margin:0 auto;}
.brandlist2 li p{ display:inline-block; padding:0 8px; height:26px; line-height:26px; overflow:hidden; font-size:12px; margin-top:2px;}
.ColumnTabList{ display:inline-block;width:835px;overflow:hidden;clear:both; margin-top:4px;float: left;}
.ColumnTabUl,.ColumnTabUl2 { display:inline-block;font-size: 14px; height:26px;line-height: 26px;width:835px;background:#fff;color: #fff;clear: both; border-bottom:2px solid #17a2e7;}
.ColumnTabUl li,.ColumnTabUl2 li{ width:205px; height:26px; line-height:26px;float: left;cursor: pointer; text-align:center;  color:#333; font-size:14px;}

.ColumnTabUl2 li{ width:119.25px;}
.ColumnTabUl4 li{ cursor: pointer;}

.ColumnTabUl li.show,.ColumnTabUl2 li.show { background:#17a2e7;color: #fff;line-height: 26px;}
.ColumnList,.ColumnList2 {width:835px;overflow: hidden; padding-top:5px;}
.ColumnList .tagList,.ColumnList2 .tagList2{width:100%;display: none;}
.ColumnList .tagList.show,.ColumnList2 .tagList2.show{display: block;}
.sidebar-tm{z-index: 999;position:fixed;left:50%;top:60%;margin-left: -640px;top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-400)); 
_bottom: auto;}
.ColumnList .tagList li strong,.ColumnList2 .tagList2 li strong,.ColumnTabUl3 li strong{font-weight:normal;}
.ColumnTabList3{ display:inline-block; width:100%;}
.ColumnTabUl3{ display:inline-block; width:100%;}
.ColumnTabUl3 li{width: 158px;height: 26px;line-height: 26px;float: left;cursor: pointer;text-align: center;background: #eee; color: #333;font-size: 14px;margin-right: 1px;}

/* 2017/05/26 */
.header{width: 1200px;height: auto;margin: auto;overflow: hidden;}
.header .logo{width: 350px;height: 100px;float: left;margin-top:10px;}
.header .logo a{display: inline-block;width: 100%;height: 100%;}
.header .sous{float: right;width: 440px;margin-top: 30px;}
.header .search{width: 436px;height: 38px;border: 2px solid #17A2E7;}
.search .icon{float:left;display:inline-block;width:18px;height:18px;background: url(/img/sprites.png) -65px -10px;margin:10px 11px 0 10px;overflow:hidden;}
.search .text{ height:19px;width:320px; float:left; outline:none; color:#999; font-size:14px; border:none; margin:9.5px 5px 9.5px 0;}
.search .button{width:68px; height:38px; background:#17A2E7 url(/img/sprites.png) no-repeat 5px 0; border:none; outline:none; float:right; cursor:pointer;}
.hot_word{ width:464px; height:25px; line-height:25px; margin:5px 0 0 -20px;overflow:hidden;}
.hot_word a{color:#999; margin-left:20px;}
.hot_word a:hover{color:#17A2E7;}

.paih_tit{color:#17A2E7;height: 25px;font-size: 16px;line-height: 25px;border-bottom: 1px solid #17A2E7;}
.paih_tit a{color:#17A2E7;height: 25px;font-size: 16px;line-height: 25px;text-decoration: none;}

.paih_right{width: 283px;height: auto;overflow: hidden;padding-left: 30px;}
.paih_right ul{width: 100%;overflow: hidden;}
.paih_right li{height: 30px;line-height: 30px;border-bottom: 1px solid #eee;overflow: hidden;}
.paih_right a{font-size: 14px;}
.paih_right em{display: inline-block;font-style: normal;width: 20px;height: 20px;text-align: center;line-height: 20px;background: #eee;color:#666;font-size: 12px;margin-right: 10px;}
.paih_right .em_blue{background: #17A2E7;color:#fff;}

.paih_rightz{width: 353px;height: auto;overflow: hidden;padding-left: 30px;}
.paih_rightz ul{width: 100%;overflow: hidden;}
.paih_rightz li{height: 35px;line-height: 30px;border-bottom: 1px solid #eee;overflow: hidden;}
.paih_rightz a{font-size: 14px;}
.paih_rightz em{display: inline-block;font-style: normal;width: 20px;height: 20px;text-align: center;line-height: 20px;background: #eee;color:#666;font-size: 12px;margin-right: 10px;}
.paih_rightz .em_blue{background: #17A2E7;color:#fff;}

.a-item { width: 417px; float: left; padding-top: 15px; margin-bottom: 5px;}
.item-img { float: left; border: 1px solid #e9e9e9; }
.item-info { float: left; margin-top: -8px; margin-left: 15px; width: 230px; }
.item-name { font-weight: normal; line-height: 32px; height: 64px; overflow: hidden; margin-bottom: 16px; font-size: 14px;}
.item-desc { color: #999; font-size: 12px; }
.in_star{width: 81px;height: 14px;background: url(/img/stars.png) 0px -36px;margin-bottom: 15px;}

/* index_two */
.index_two{width: 100%;height: auto;overflow: hidden;margin-top: 15px;margin-bottom: 5px;position: relative;}

.two_up{width: 100%;height: auto;overflow: hidden;border-bottom: 1px solid #17A2E7;line-height: 30px;margin-bottom: 10px;}
.two_up p{font-size: 20px;color:#17A2E7;font-weight: bold;float: left;}
.two_up span{font-size: 16px;color:#ccc;font-weight: bold;margin-top: 2px;display: inline-block;margin-left: 15px;}
.two_up ul{float: right;margin-right: 500px;}
.two_up .ColumnTabUl {margin-right:350px}
.two_up li{cursor: pointer;float: left;margin-right: 15px;font-size: 14px;text-align: center;}
.two_up .lia_inblue{color: #ffffff; background: #17A2E7;width: 90px;height: 33px;font-size: 16px;}
.two_up .teoup_more{float: right;font-size: 14px;color:#666;margin-right: 10px}
.two_up .teoup_more:hover{color:#17A2E7;;text-decoration: none;}

.two_down{width: 100%;height: auto;overflow: hidden;}
.twodown_change{float: left;height: auto;overflow: hidden;width: 880px;}
.twodown_change ul{width: 110%;display: none;}
.twodown_change .tochange_ul{display: block;}
.twodown_change li{float: left;width: 240px;height: 80px;overflow: hidden;padding: 10px 10px;margin-right: 35px;margin-bottom: 10px;}
.twodown_change .twod_icon{float: left;display: inline-block;width: 80px;height: 80px;margin-right: 10px;}
.twodown_change img{width: 80px;height: 80px;border-radius: 10px;}
.twodown_change .twod_tit{font-size: 16px;width: 130px;height: 20px;overflow: hidden;display: inline-block;}
.twodown_change .twod_duanluo{margin-top: 5px;line-height: 21px;color:#aba9a9;font-size: 14px;height: 40px;overflow: hidden;}

.changyong_xz{font-size: 18px;color:#17A2E7; position: absolute; top: 4px;right: 149px;font-weight: bold;}
.list{height:auto;overflow:hidden;}
.list ul li{float:left; width:285px; margin-top:10px; height:37px; line-height:30px;-webkit-transition: all .3s ease;-moz-transition: all .3s ease;-ms-transition: all .3s ease;transition: all .3s ease;}
.list em,.game_ph .nr em{width:20px; height:26px; float:left; background: url(/img/spri.png) no-repeat; display:inline-block; margin-top:2px;}
.list .n1,.game_ph .nr .n1{background-position:2px -67px;}
.list .n2,.game_ph .nr .n2{background-position:-17px -67px;}
.list .n3,.game_ph .nr .n3{background-position:-42px -67px;}
.list .n4,.game_ph .nr .n4{background-position:-66px -67px;}
.list .n5,.game_ph .nr .n5{background-position:-88px -67px;}
.list .n6,.game_ph .nr .n6{background-position:-111px -67px;}
.list .n7,.game_ph .nr .n7{background-position:-135px -67px;}
.list .n8,.game_ph .nr .n8{background-position:-157px -67px;}
.list .n9,.game_ph .nr .n9{background-position:-180px -67px;}
.list p{float:right; width:250px; height:30px; line-height:30px; position:relative; overflow:hidden;-webkit-transition: all .3s ease;-moz-transition: all .3s ease;-ms-transition: all .3s ease;transition: all .3s ease;}
.list ul li:hover{ width:275px; padding-left:10px;}
.list ul li:hover p{width:240px;}
.list ul li:hover .cover_30{ display:none;}
.list ul li:hover .bt{width:190px;}
.list p img{width:30px; height:30px; margin-right:18px; float:left; border-radius:4px;}
.list p .bt{float:left; font-size:16px; color:#333; width:200px;}

.index_three{width: 100%;height: auto;overflow: hidden;}
.three_down{width: 110%;margin-top: 20px;}
.three_down a{display: inline-block;width: 280px;height: 150px;margin: 0 27px 15px 0;float: left;}
.three_down img{width: 280px;height: 150px;}

.show_left{float: left;margin-right: 10px;width: 215px;height: auto;overflow: hidden;}
.show_left a{display: inline-block;width: 100%;height: 155px;overflow: hidden;margin-top: 10px;}
.show_left img{width: 100%;height: 155px;}

.show_right{width: auto;height: auto;overflow: hidden;}
.show_right li{height: 30px;width: 100%;line-height: 30px;overflow: hidden;}
.show_right a{font-size: 13px;float: left;display: inline-block;width: 500px;height: 25px;overflow: hidden;}
.show_right em{display: inline-block;width: 3px;height: 3px;background: #999;border-radius: 50%;margin: 0 8px 3px 10px;}
.show_right span{float: right;color:#999;width: 85px;height: 28px;font-size: 14px;}

.tuij_tit ul{height: 197px;}
.tuij_tit ul li{height: 32px;line-height: 32px;}

.guanggaot{width: 100%;height: 125px;overflow: hidden;margin-bottom: 20px;margin-top: 17px;}
.guanggaot a{display: inline-block;width: 575px;height: 125px;overflow: hidden;}
.guanggaot .guanggaot01{float: left;}
.guanggaot .guanggaot02{float: right;}

.li4 li,.listbox li {font-size: 14px; white-space:nowrap; height: 25px; padding: 0 0 0 10px; background-image: url(/img/list_s_2.jpg); background-repeat: no-repeat; background-position: 0px 4px; text-overflow:ellipsis;overflow: hidden;}
.listbox{ width:100%; display:inline-block;}
.listbox li{ float:left; width:395px; }
.listbox2 li {font-size: 14px; white-space:nowrap; height: 25px; padding: 0 0 0 10px; background-image: url(/img/list_s_2.jpg); background-repeat: no-repeat; background-position: 0px 4px; text-overflow:ellipsis;overflow: hidden;}
.listbox2{ width:100%; display:inline-block;}
.listbox2 li{ float:left; width:100%; margin-right:5px;}

#wrap1 .soft-listwz li{float: left; display:inline; width: 830px; height: 36px; padding-top:9px;font-size:14px;  overflow:hidden; border-bottom: 1px dashed #40BBEC;}
#wrap1 .soft-listwz li span{ float:right;}

.sidebar-tm{z-index: 999;position:fixed;left:50%;top:60%;margin-left:-640px;top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-400)); 
_bottom: auto;}

/*Popup_window*/
.wrapper{ display:inline-block; width:100%;}
.main{ width:900px; height:550px; margin:0 auto; overflow-y: scroll;background:#fff; text-align:center;}
.instructions{ display:inline-block; width:100%; text-align:center; background:#17a2e7;}
.instructions strong{ display:inline-block;height:60px; line-height:60px; color:#fff; font-size:23px; padding:0 20px; font-weight:normal;}
.intro-step{ display:inline-block; width:92%; padding:0 4% 2% 4%;}
.intro-step p{width:100%;float:left;text-align:left;color: #666;line-height: 38px;height: 1%;overflow: hidden; font-size: 18px;}
.intro-step p img{ max-width:650px;}
.overlay-box{background:#000;opacity:.5;filter:alpha(opacity=50);width:100%;height:100%;position:fixed;_position:absolute;left:0;top:0;z-index:9998;display:none}
.pop-box{ width:970px; height:630px; position:fixed;_position:absolute;left:48%;top:50%;margin-left:-480px;margin-top:-300px;overflow:hidden;background:#fff;z-index:9999}
.pop-hd{ height:40px; line-height:40px; border-bottom:1px solid #ccc; position:relative; zoom:1}
.pop-hd:after,.pop-hd:before{ content:""; display:table; }
.pop-hd:after{ overflow:hidden; clear:both; }
.pop-title{ float:left; display:inline; width:800px; font-size:20px; font-weight:700; color:#666; padding-left:20px; }
.pop-title i{ font-style:normal;color:#0099ff; }
.pop-close{ float:right; display:inline; margin:10px 20px 0 0; cursor:pointer; width:24px; height:24px; background: url(/images/tc_close.png) no-repeat 0 0; }
.pop-app{ overflow:hidden; height:580px; padding:8px 10px; }
.pop-app ul{ zoom:1; }
.pop-app ul:after{ overflow:hidden; clear:both; }
.pop-app ul:after,.pop-app ul:before{ content:""; display:table; }
.pop-app li{ float:left; display:inline; margin:20px 0 0;text-align:center; font-size:14px; width:110px; padding:0 12px; height:165px; }
.pop-app li a{ color:#333; display:block; }
.pop-app li a:hover{ color:#f60; }
.pop-app img{width:900px; display:block; margin:0 auto; border-radius:12px; -webkit-border-radius:12px; -moz-border-radius:12px; -ms-border-radius:12px; -o-border-radius:12px; }
.pop-app span{ display:block; height:38px; line-height:38px; overflow:hidden; }
.pop-app a.pop-down{ display:block; width:90px; height:24px; line-height:24px; color:#fff; margin:0 auto; text-align:center; background:#0ea1f6; border-radius:2px; }
.pop-app a.pop-down:hover{color:#fff; background-color:#f90; }
/* friendlink */
.friendlink{width: 100%;height: auto;overflow: hidden;padding-bottom: 10px;}
.friend_in{width: 1200px;margin:15px auto;}
.friend_in span{font-size: 15px;display: block;margin-bottom: 10px;}
.friend_in a{color:#666;margin: 0 10px 10px 5px;display: inline-block;float: left;}


/*轮播图*/
.focus{ position:relative; width:600px; height:420px; background-color: #000; float: left;margin-left:100px;}  
.focus img{ width: 600px; height: 420px;} 
.focus .shadow .title{width: 260px; height: 65px;padding-left: 30px;padding-top: 20px;}
.focus .shadow .title a{ text-decoration:none; color:#fff; font-size:14px; font-weight:bolder; overflow:hidden; }
.focus .btn{ position:absolute; bottom:34px; left:510px; overflow:hidden; zoom:1;} 
.focus .btn a{position:relative; display:inline; width:13px; height:13px; border-radius:7px; margin:0 5px;color:#B0B0B0;font:12px/15px "\5B8B\4F53"; text-decoration:none; text-align:center; outline:0; float:left; background:#D9D9D9; }  
.focus .btn a:hover,.focus .btn a.current{  cursor:pointer;background:#fc114a;}  
.focus .fPic{ position:absolute; left:0px; top:0px; }  
.focus .D1fBt{ overflow:hidden; zoom:1;  height:16px; z-index:10;  }  
.focus .shadow{ width:100%; position:absolute; bottom:0; left:0px; z-index:10; height:80px; line-height: 80px; background:rgba(0,0,0,0.6);    
filter:progid:DXImageTransform.Microsoft.gradient( GradientType = 0,startColorstr = '#80000000',endColorstr = '#80000000')\9;  display:block;  text-align:left; }  
.focus .shadow a{ text-decoration:none; color:#fff; font-size:20px; overflow:hidden; margin-left:10px; font-family: "\5FAE\8F6F\96C5\9ED1";}  
.focus .fcon{ position:relative; width:100%; float:left;  display:none; background:#000  }  
.focus .fcon img{ display:block; }  
.focus .fbg{bottom:1%; right:40%; position:absolute; height:21px; text-align:center; z-index: 200; }  
.focus .fbg div{margin:4px auto 0;overflow:hidden;zoom:1;height:14px}    
.focus .D1fBt a{position:relative; display:inline; width:12px; height:12px; border-radius:7px; margin:0 5px;color:#B0B0B0;font:12px/15px "\5B8B\4F53"; text-decoration:none; text-align:center; outline:0; float:left; background:#D9D9D9; }    
.focus .D1fBt .current,.focus .D1fBt a:hover{background:#17a2e7;}    
.focus .D1fBt img{display:none}    
.focus .D1fBt i{display:none; font-style:normal; }    
.focus .prev,.focus .next{position:absolute;width:40px;height:74px;background: url(../../images/focus_btn.png) no-repeat;}
.focus .prev{top: 50%;margin-top: -37px; left: 0;background-position:0 -74px; cursor:pointer; }  
.focus .next{top: 50%;margin-top: -37px; right: 0;  background-position:-40px -74px;  cursor:pointer;}  
.focus .prev:hover{  background-position:0 0; }  
.focus .next:hover{  background-position:-40px 0;}

/* 后添加广告图 */
.xuanc{width: 100%;height: 400px;overflow: hidden;background: url(../../img/xuanc_bg.jpg) no-repeat;margin: 5px 0;position: relative;}
.xc_wenzi{width: 500px;height: auto;overflow: hidden;position: absolute;left: 635px;top: 65px;}
.big_wenzi{color:#fff;font-size: 35px;line-height: 75px;}
.xunlei_xz{width: 187px;height: 54px;display: inline-block;background: url(../../img/down-btn.png) no-repeat;margin-top: 15px;}
.xunlei_xz:hover{background-position: 0 -55px;}
.xc_a{margin-top: 35px;margin-left: 5px;}
.xc_a a{font-weight: bold;color:#fff;font-size: 16px;}
.xc_a a:hover{color:#f8e650;}
.xc_a span{margin: 0 11px;font-size: 16px;color:#fff;}
.xc_a .jc{color:#f8e650;margin-left: 15px;}

.buttons{width: 1200px;height: auto;overflow: hidden;}
.bao{width: 110%;height: auto;overflow: hidden;}
.buttons a{width: 295px;display: inline-block;height: 50px;line-height: 50px;text-align: center;color:#fff;font-size: 18px;overflow: hidden;margin-right: 2px;}
.gre_but{background:#58c874;}
.yel_but{background:#ffad00;}

.a_inbiaoq{width: 100%;height: auto;overflow: hidden;}
.a_inbiaoq a{line-height: 30px;margin-right: 30px;}
.a_inbiaoq .yanse01{color:#8653de;}
.a_inbiaoq .yanse02{color:#5b921b;}
.a_inbiaoq .yanse03{color:#ff0462;}
.a_inbiaoq .yanse04{color:#236d88;}
.a_inbiaoq .yanse05{color:#FF9609;}
.a_inbiaoq .yanse06{color:#13b7aa;}
.a_inbiaoq .yanse07{color:#6d6d6d;}
.a_inbiaoq .fz12{font-size: 12px;}
.a_inbiaoq .fz14{font-size: 14px;}
.a_inbiaoq .fz16{font-size: 16px;}
.a_inbiaoq .fz18{font-size: 18px;}
.a_inbiaoq .fz20{font-size: 20px;}

.m-red-packet {width: 150px;height: 173px;background: url(/images/red_packet.png) no-repeat;position: fixed;left: 100px;bottom: 20%;z-index: 999;}
.m-red-packet .btn { display: block; margin: 112px auto 0; width: 110px; height: 37px; background: 0 -222px url(../images/red_packet.png) no-repeat; }
.m-red-packet .btn:hover { background-position: 0 -180px; }