#wrap1 .position{height: 28px; line-height: 28px; border-bottom: #ddd 1px solid; margin-right:10px; width: 840px;}
#wrap1 .soft-info{height: 130px;}
#wrap1 .soft-icon{float: left; width: 140px; height: 140px;}
#wrap1 .soft-box{float: left; width: 820px; margin-top:14px; margin-left: 10px;}
#wrap1 .soft-name{height: 52px; overflow: hidden;text-align: center;}
#wrap1 .soft-name h1{font-size: 24px;line-height: 40px;}
#wrap1 .soft-detail{float: left;  width: 520px;}
#wrap1 .soft-detail li{float: left; width: 160px; height: 24px; color: #777}
#wrap1 .soft-detail li a{color: #777;}
#wrap1 .soft-star{ width:200px;margin:0 0 8px 0; color: #777; height:17px; line-height:17px;}
#wrap1 .soft-star strong{ font-weight:normal; float:left;}
#wrap1 .stars{background: url(/skins/img/stars.png) no-repeat; width: 79px; height: 17px; float: right; *margin-top:-15px;}
#wrap1 .star5{background-position: 0 0;}
#wrap1 .star4{background-position: -16px 0;}
#wrap1 .star3{background-position: -32px 0;}
#wrap1 .star2{background-position: -48px 0;}
#wrap1 .star1{background-position: -64px 0;}
#wrap1 .soft-down{float:left; width: 220px; }
#wrap1 .soft-down a:hover img{opacity: 0.8; filter:alpha(opacity=80);}
#down-list #down-title{height:24px; font-size: 14px; line-height: 20px; border-bottom: 2px solid #00A600 ; margin-bottom: 10px;}
#down-list #no-down{height: 90px; line-height: 90px;}
#down-list li{float: left; display:inline; margin: 10px 10px;}
#down-list li a{display: block; min-width: 90px; height: 50px; line-height: 50px; padding:0 20px 0 70px; background: url(/skins/img/downbtn.png) no-repeat #00A600 ; color: #fff; font-size: 16px; font-weight: bold;}
#down-list li a:hover{opacity: 0.8; filter:alpha(opacity=80);}
#wrap1 #content{margin-bottom: 10px;}
#wrap1 .soft-content{font-size: 14px; line-height: 24px; padding: 10px 15px; width: 800px; }
#wrap1 .soft-content p{line-height: 30px;}
#wrap1 .soft-content img{max-height:637px; max-width:850px;margin: 10px 0; text-align: center;}
#wrap1 .soft-content blockquote{padding: 10px; border: 1px solid #DEC694; background-color: #FFF6CF; color: #D20000;}
#wrap1 .soft-content a {color: #0086e3; text-decoration: none;}
#wrap1 .soft-content a:hover { text-decoration: underline;}
#wrap1 .slides_container{width:620px;}
#wrap1 .soft-images{padding: 10px; width:670px; overflow: hidden; overflow-x: scroll; background-color:#eee;}
#wrap1 .soft-imglist{padding-right: 10px;}
#wrap1 .keywords{margin-top: 20px; padding: 4px 8px; font-size: 12px; color: #AAA; border: 1px solid #E6E6E6; background-color: #F9F9F9;}
#wrap1 .keywords a{color: #AAA;}
#wrap1 .keywords a:hover{color: #17a2e7;}

#wrap1 .rand-list{width: 620px; height: 110px;}
#wrap1 .rand-list a:hover img{opacity: 0.8; filter:alpha(opacity=80);}
#wrap1 .rand-list li{float: left; text-align: center; width: 86px; height: 90px; padding-top: 20px;}
#wrap1 .rand-list img{width: 48px; height: 48px; margin-bottom:4px;}
#wrap1 .rand-list .soft-name{line-height: 18px; width: 80px; margin: 0 auto; display: block; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; cursor: pointer;}

#wrap1 .class-list a{float: left; width: 155px; height: 28px; line-height: 28px; background: #eee; text-align: center; color: #777; font-weight: 100; margin: 5px 5px 0 0; cursor: pointer;}
#wrap1 .class-list a:hover{background: #17a2e7 ; color: #fff; -webkit-transition: background-color .3s linear;-moz-transition: background-color .3s linear}
#wrap1 .class-list .current{background: #17a2e7 ; color: #fff;}

#wrap1 .green{border-bottom: 3px solid #17a2e7 !important;}
#wrap1 .green .current{background: #17a2e7  !important;}


#wrap1 .soft-name-wzbiaoti{width: 800px; margin-left:20px; border-bottom: #999999 1px dashed; float:left; overflow: hidden;}
#wrap1 .soft-name-wzbiaoti h1{font-size: 18px; padding:8px 0; text-align:center; color:#333333;}
#wrap1 .soft-name-wenzhang{width: 800px; height: 30px; text-align:center; margin-top:10px;margin-left:20px;  float:left;}
#wrap1 .soft-name-wenzhang span{font-size:14px;margin-right: 15px;}

#wrap1 .right-list li{width:320px;height: 48px; padding: 10px 0; border-bottom: 1px dashed #eee;}
#wrap1 .right-list li a{cursor: pointer; display: block; height: 48px; width: 320px;}
#wrap1 .right-list .soft_ico{float: left; height: 48px; width: 48px; margin-right: 10px;}
#wrap1 .right-list .soft_r{float: left; height: 48px;}
#wrap1 .right-list .soft_name{width: 260px; height: 22px; display: block; font-weight: normal; font-size: 14px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
#wrap1 .right-list .soft_desc{width: 260px; height: 26px; display: block; line-height: 28px; color: #999; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}

.blue_xz{margin-top:15px;margin-bottom:15px; height:1%;overflow:hidden;clear:both;}
.blue_xz ul {width:auto;height: auto;overflow: hidden;}
.blue_xz ul li{display:block;margin: 10px 0 10px 10px;width: 190px;float:left;}
.blue_xz ul  li a {display: block;min-width: 90px;height: 50px;line-height: 50px;padding: 0 0 0 63px;background: url(/skins/img/downbtn.png) no-repeat #00A600 ;color: white;font-size: 16px;font-weight: bold;}

.blue_xz_sm{ width:600px; line-height:20px;}
.blue_xz_sm ul{ margin:10px 0 15px 10px;}

/*�¼�*/
.handle{
	height:59px;
	font-size:14px;
	padding-top:12px;
	margin-bottom:15px;
	overflow:hidden;
	clear:both;
}
.handle .context{
	float:left;
}
.handle .context ul li{
	line-height:28px;
	color:#888;
}


.boxoff{
	height:10px;
	overflow:hidden;
	clear:both;
	background:url(/skins/img/boxoff.gif) left 15px repeat-x;
	margin:4px 10px 4px 0;
	padding-top:10px;
}
.boxoff strong{
	display:block;
	width:8px;
	height:10px;
	overflow:hidden;
	font-size:0px;
	line-height:100px;
	background:url(/skins/img/boxoff.gif) right -10px no-repeat;
	float:left;
}
.moreList {width:810px; overflow:hidden;}
.moreList ul {width:110%;}
.moreList li {width:185px; float:left; margin-right:20px; margin-bottom:10px;}
.moreList li img {width:185px; height:150px;}
.moreList li span {display:block; line-height:24px; height:48px; overflow:hidden;}

.TuiJianBox {width:600px; margin:0 auto;}
.TuiJianBox li {padding-left:25px; width:630px; float:left; clear:both; height:30px; line-height:30px; background:url(../images/jian.png) no-repeat left center;}
.TuiJianBox li a:link,.TuiJianBox li a:visited {color:#FF7D00; font-size:14px;}
.TuiJianBox .TypeName {background:none; padding:0; width:540px; /*border-bottom:3px solid #00A600; */height:30px; }
.TuiJianBox .TypeName a {display:block; height:30px; padding:0 10px; color:#fff;line-height:30px; background:#17a2e7; float:left; font-size:16px; border-radius:5px;}
.TuiJianBox .TypeName a:link,.TuiJianBox .TypeName a:visited {color:#fff;}